# [CDN].[TwrGrupyView]

In [0]:
USE [CDN_MIETEX]
GO

In [0]:
/****** Object:  View [CDN].[TwrGrupyView]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [CDN].[TwrGrupyView] (TwGId, Sciezka, Kod, Nazwa,Poziom, GIDNumer, GrONumer)
AS
SELECT TwGId, Sciezka, Kod, Nazwa,Poziom, GIDNumer, GrONumer FROM CDN.fnTwrGrupy ()

GO

# [CDN].[TwrCeny]

In [0]:
/****** Object:  Table [CDN].[TwrCeny]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CDN].[TwrCeny](
	[TwC_TwCID] [int] IDENTITY(1,1) NOT NULL,
	[TwC_TwrID] [int] NOT NULL,
	[TwC_TwCNumer] [int] NOT NULL,
	[TwC_Typ] [tinyint] NOT NULL,
	[TwC_Wartosc] [decimal](17, 4) NOT NULL,
	[TwC_Waluta] [varchar](3) NOT NULL,
	[TwC_Aktualizacja] [tinyint] NOT NULL,
	[TwC_Zaokraglenie] [decimal](7, 4) NOT NULL,
	[TwC_Marza] [decimal](7, 2) NOT NULL,
	[TwC_MarzaWStu] [decimal](7, 2) NOT NULL,
	[TwC_Offset] [decimal](7, 4) NOT NULL,
	[TwC_TwrTyp] [smallint] NULL,
	[TwC_TwrFirma] [int] NULL,
	[TwC_TwrNumer] [int] NULL,
	[TwC_TwrLp] [smallint] NULL,
	[TwC_DokID] [int] NOT NULL,
	[TwC_WartoscZakOld] [decimal](17, 4) NOT NULL,
	[TwC_Punkty] [int] NOT NULL,
 CONSTRAINT [TwC_Primary] PRIMARY KEY CLUSTERED 
(
	[TwC_TwCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [CDN].[Towary]

In [0]:
/****** Object:  Table [CDN].[Towary]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CDN].[Towary](
	[Twr_TwrId] [int] IDENTITY(1,1) NOT NULL,
	[Twr_Typ] [tinyint] NOT NULL,
	[Twr_Produkt] [smallint] NOT NULL,
	[Twr_Kod] [varchar](50) NOT NULL,
	[Twr_SWW] [varchar](20) NOT NULL,
	[Twr_EAN] [varchar](40) NOT NULL,
	[Twr_TwGGIDNumer] [int] NOT NULL,
	[Twr_URL] [varchar](254) NOT NULL,
	[Twr_KatId] [int] NULL,
	[Twr_Kategoria] [varchar](50) NOT NULL,
	[Twr_KatZakId] [int] NULL,
	[Twr_KategoriaZak] [varchar](50) NOT NULL,
	[Twr_EdycjaNazwy] [tinyint] NOT NULL,
	[Twr_KopiujOpis] [tinyint] NOT NULL,
	[Twr_EdycjaOpisu] [tinyint] NOT NULL,
	[Twr_JMPrzelicznikL] [decimal](15, 2) NOT NULL,
	[Twr_JMPrzelicznikM] [decimal](7, 0) NOT NULL,
	[Twr_JMCalkowite] [tinyint] NOT NULL,
	[Twr_Kaucja] [tinyint] NOT NULL,
	[Twr_TwCNumer] [int] NOT NULL,
	[Twr_UdostepniajWCenniku] [tinyint] NOT NULL,
	[Twr_Waluta] [varchar](3) NOT NULL,
	[Twr_KursNumer] [int] NOT NULL,
	[Twr_KursL] [decimal](15, 4) NOT NULL,
	[Twr_KursM] [decimal](5, 0) NOT NULL,
	[Twr_MinCenaMarza] [decimal](15, 3) NOT NULL,
	[Twr_TypMinimum] [tinyint] NOT NULL,
	[Twr_KosztUslugiWal] [decimal](17, 4) NOT NULL,
	[Twr_KosztUslugi] [decimal](17, 4) NOT NULL,
	[Twr_KosztUslugiTyp] [tinyint] NOT NULL,
	[Twr_KosztKGO] [decimal](15, 2) NOT NULL,
	[Twr_SONId] [int] NULL,
	[Twr_KntId] [int] NULL,
	[Twr_IloscMin] [decimal](15, 4) NOT NULL,
	[Twr_IloscMax] [decimal](15, 4) NOT NULL,
	[Twr_IloscZam] [decimal](15, 4) NOT NULL,
	[Twr_Stawka] [decimal](5, 2) NOT NULL,
	[Twr_Flaga] [smallint] NOT NULL,
	[Twr_Zrodlowa] [decimal](5, 2) NOT NULL,
	[Twr_StawkaExport] [decimal](5, 2) NOT NULL,
	[Twr_FlagaExport] [smallint] NOT NULL,
	[Twr_ZrodlowaExport] [decimal](5, 2) NOT NULL,
	[Twr_StawkaZak] [decimal](5, 2) NOT NULL,
	[Twr_FlagaZak] [smallint] NOT NULL,
	[Twr_ZrodlowaZak] [decimal](5, 2) NOT NULL,
	[Twr_Prog] [tinyint] NOT NULL,
	[Twr_Upust] [tinyint] NOT NULL,
	[Twr_UpustData] [tinyint] NOT NULL,
	[Twr_UpustDataOd] [int] NULL,
	[Twr_UpustDataDo] [int] NULL,
	[Twr_UpustGodz] [tinyint] NOT NULL,
	[Twr_UpustGodzOd] [int] NULL,
	[Twr_UpustGodzDo] [int] NULL,
	[Twr_BezRabatu] [tinyint] NOT NULL,
	[Twr_MarzaMin] [decimal](5, 2) NOT NULL,
	[Twr_NieAktywny] [tinyint] NOT NULL,
	[Twr_ESklep] [tinyint] NULL,
	[Twr_KCNId] [int] NULL,
	[Twr_Masa] [decimal](15, 3) NOT NULL,
	[Twr_JmPomPrzelicznikL] [decimal](15, 2) NOT NULL,
	[Twr_JmPomPrzelicznikM] [decimal](7, 0) NOT NULL,
	[Twr_OpeZalID] [int] NULL,
	[Twr_StaZalId] [int] NULL,
	[Twr_TS_Zal] [datetime] NOT NULL,
	[Twr_OpeModID] [int] NULL,
	[Twr_StaModId] [int] NULL,
	[Twr_TS_XL] [datetime] NULL,
	[Twr_TS_Mod] [datetime] NOT NULL,
	[Twr_GIDTyp] [smallint] NULL,
	[Twr_GIDFirma] [int] NULL,
	[Twr_GIDNumer] [int] NULL,
	[Twr_GIDLp] [smallint] NULL,
	[Twr_WagaKG] [decimal](15, 4) NULL,
	[Twr_PrdID] [int] NULL,
	[Twr_MrkID] [int] NULL,
	[Twr_ESklepBezRabatu] [smallint] NOT NULL,
	[Twr_ESklepStatus] [smallint] NOT NULL,
	[Twr_ESklepDostepnosc] [smallint] NOT NULL,
	[Twr_IloscMaxJM] [nvarchar](20) NOT NULL,
	[Twr_IloscMinJM] [nvarchar](20) NOT NULL,
	[Twr_IloscZamJM] [nvarchar](20) NOT NULL,
	[Twr_JM] [nvarchar](20) NOT NULL,
	[Twr_JMZ] [nvarchar](20) NOT NULL,
	[Twr_KodDostawcy] [nvarchar](50) NOT NULL,
	[Twr_KrajPochodzenia] [nvarchar](2) NOT NULL,
	[Twr_Nazwa] [nvarchar](255) NOT NULL,
	[Twr_NazwaFiskalna] [nvarchar](40) NOT NULL,
	[Twr_NumerKat] [nvarchar](40) NOT NULL,
	[Twr_Opis] [nvarchar](max) NOT NULL,
	[Twr_PLU] [nvarchar](18) NOT NULL,
	[Twr_Akcyza] [tinyint] NOT NULL,
	[Twr_AkcyzaJMPomPrzelicznikL] [decimal](15, 2) NOT NULL,
	[Twr_AkcyzaJMPomPrzelicznikM] [int] NOT NULL,
	[Twr_AkcyzaOpal] [decimal](15, 2) NOT NULL,
	[Twr_AkcyzaStawka] [decimal](15, 2) NOT NULL,
	[Twr_ESklepKalkulacjaDostaw] [tinyint] NOT NULL,
	[Twr_ESklepKalkulacjaDostawWartosc] [decimal](15, 2) NOT NULL,
	[Twr_ESklepFlaga_Nowosc] [tinyint] NOT NULL,
	[Twr_ESklepFlaga_Promocja] [tinyint] NOT NULL,
	[Twr_ESklepFlaga_ProduktzGazetki] [tinyint] NOT NULL,
	[Twr_ESklepFlaga_ProduktPolecany] [tinyint] NOT NULL,
	[Twr_ESklepFlaga_Wyprzedaz] [tinyint] NOT NULL,
	[Twr_ESklepFlaga_SuperJakosc] [tinyint] NOT NULL,
	[Twr_ESklepFlaga_SuperCena] [tinyint] NOT NULL,
	[Twr_ESklepFlaga_NajlepiejOceniany] [tinyint] NOT NULL,
	[Twr_ESklepFlaga_RekomendacjaSprzedawcy] [tinyint] NOT NULL,
	[Twr_ProducentKod] [nvarchar](50) NOT NULL,
	[Twr_ESklepFantomID] [int] NULL,
	[Twr_OdwrotneObciazenie] [tinyint] NOT NULL,
	[Twr_Mobile] [tinyint] NOT NULL,
	[Twr_PobieranieSkladnikowFSUslugaZlozona] [tinyint] NOT NULL,
	[TwR_KosztUslugiOld] [decimal](17, 4) NOT NULL,
	[TwR_WalutaZakOld] [varchar](3) NOT NULL,
	[TwR_KursLZakOld] [decimal](15, 4) NOT NULL,
	[TwR_KursMZakOld] [decimal](5, 0) NOT NULL,
	[Twr_OpeModKod] [varchar](20) NOT NULL,
	[Twr_OpeModNazwisko] [nvarchar](50) NOT NULL,
	[Twr_OpeZalKod] [varchar](20) NOT NULL,
	[Twr_OpeZalNazwisko] [nvarchar](50) NOT NULL,
	[Twr_CenaZCzteremaMiejscami] [tinyint] NOT NULL,
	[Twr_AutoKodGrupaTowarowa] [tinyint] NOT NULL,
	[Twr_AutoKodSeria] [varchar](40) NOT NULL,
	[Twr_AutoKodWartosc] [varchar](50) NOT NULL,
	[Twr_AutoKodNumer] [int] NOT NULL,
	[Twr_Sent] [tinyint] NOT NULL,
	[Twr_JMSentPrzelicznikL] [decimal](15, 2) NOT NULL,
	[Twr_JMSentPrzelicznikM] [decimal](7, 0) NOT NULL,
	[Twr_SentMasaBrutto] [decimal](15, 2) NOT NULL,
	[Twr_SentKodOdpadu] [nvarchar](6) NOT NULL,
	[Twr_SJRodzajPaliwa] [nvarchar](500) NOT NULL,
	[Twr_SJSystemCertyfikacji] [nvarchar](500) NOT NULL,
	[Twr_SJPopiol] [nvarchar](15) NOT NULL,
	[Twr_SJPopiolMin] [nvarchar](10) NOT NULL,
	[Twr_SJPopiolMax] [nvarchar](10) NOT NULL,
	[Twr_SJCzesciLotne] [nvarchar](15) NOT NULL,
	[Twr_SJCzesciLotneMin] [nvarchar](10) NOT NULL,
	[Twr_SJCzesciLotneMax] [nvarchar](10) NOT NULL,
	[Twr_SJWartoscOpalowa] [nvarchar](15) NOT NULL,
	[Twr_SJWartoscOpalowaMin] [nvarchar](10) NOT NULL,
	[Twr_SJWartoscOpalowaMax] [nvarchar](10) NOT NULL,
	[Twr_SJZdolnoscSpiekania] [nvarchar](15) NOT NULL,
	[Twr_SJZdolnoscSpiekaniaMin] [nvarchar](10) NOT NULL,
	[Twr_SJZdolnoscSpiekaniaMax] [nvarchar](10) NOT NULL,
	[Twr_SJWymiarZiarna] [nvarchar](15) NOT NULL,
	[Twr_SJWymiarZiarnaMin] [nvarchar](10) NOT NULL,
	[Twr_SJWymiarZiarnaMax] [nvarchar](10) NOT NULL,
	[Twr_SJZawartoscPodziarna] [nvarchar](15) NOT NULL,
	[Twr_SJZawartoscPodziarnaMin] [nvarchar](10) NOT NULL,
	[Twr_SJZawartoscPodziarnaMax] [nvarchar](10) NOT NULL,
	[Twr_SJZawartoscNadziarna] [nvarchar](15) NOT NULL,
	[Twr_SJZawartoscNadziarnaMin] [nvarchar](10) NOT NULL,
	[Twr_SJZawartoscNadziarnaMax] [nvarchar](10) NOT NULL,
	[Twr_SJZawartoscWilgoci] [nvarchar](15) NOT NULL,
	[Twr_SJZawartoscWilgociMin] [nvarchar](10) NOT NULL,
	[Twr_SJZawartoscWilgociMax] [nvarchar](10) NOT NULL,
	[Twr_SplitPay] [tinyint] NOT NULL,
	[Twr_KV7ID] [int] NOT NULL,
	[Twr_OpiekunID] [int] NULL,
	[Twr_OpiekunTyp] [smallint] NULL,
	[Twr_JMWysCm] [smallint] NULL,
	[Twr_JMSzerCm] [smallint] NULL,
	[Twr_JMDlugCm] [smallint] NULL,
	[Twr_OplataCukrowa] [tinyint] NOT NULL,
	[Twr_OplataCukrowaPrzelicznikML] [decimal](15, 2) NOT NULL,
	[Twr_OplataCukrowaOdCukrowZawartoscGram] [decimal](15, 3) NOT NULL,
	[Twr_OplataCukrowaOdCukrowZawartoscSokow20] [tinyint] NOT NULL,
	[Twr_OplataCukrowaOdCukrowZawartoscRoztwor] [tinyint] NOT NULL,
	[Twr_OplataCukrowaOdKofeinyTauryny] [tinyint] NOT NULL,
	[Twr_OplataCukrowaOdSubstancjiSlodzacych] [tinyint] NOT NULL,
	[Twr_OplataCukrowaOdCukrowStala] [decimal](15, 2) NOT NULL,
	[Twr_OplataCukrowaOdCukrowZmienna] [decimal](15, 2) NOT NULL,
	[Twr_OplataCukrowaOdKofeinyTaurynyStala] [decimal](15, 2) NOT NULL,
	[Twr_OplataCukrowaSuma] [decimal](15, 2) NOT NULL,
	[Twr_SJSiarka] [nvarchar](15) NOT NULL,
	[Twr_SJSiarkaMin] [nvarchar](10) NOT NULL,
	[Twr_SJSiarkaMax] [nvarchar](10) NOT NULL,
	[TwR_MiejsceDodania] [tinyint] NOT NULL,
 CONSTRAINT [Twr_Primary] PRIMARY KEY CLUSTERED 
(
	[Twr_TwrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [CDN].[ZasobyView]

In [0]:
/****** Object:  View [CDN].[ZasobyView]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [CDN].[ZasobyView]
As
Select
P.RpT2_Rpt2ID    As TwZV_RpT2Id,
A.Twr_TwrId      As TwZV_TwrId,
A.Twr_Typ        As TwZV_TwrTyp,
A.Twr_Produkt    As TwZV_Produkt,
A.Twr_Kod        As TwZV_Kod,
A.Twr_NumerKat   As TwZV_NumerKat,
A.Twr_Nazwa      As TwZV_Nazwa,
E.Sciezka        As TwZV_Grupa,
A.Twr_KatId      As TwZV_KatId,
A.Twr_Kategoria  As TwZV_Kategoria,
A.Twr_KatZakId   As TwZV_KatZakId,
A.Twr_Opis       As TwZV_Opis,
A.Twr_JM         As TwZV_Jm,
A.Twr_JMZ        As TwZV_JmZ,
A.Twr_TwCNumer   As TwZV_TwCNumer,
B.TwI_MagId      As TwZV_MagId,
B.TwI_Data       As TwZV_Data,
B.TwI_Ilosc      As TwZV_Ilosc,
B.TwI_Braki      As TwZV_Braki,
B.TwI_Rezerwacje As TwZV_Rezerwacje,
B.TwI_Zamowienia As TwZV_Zamowienia,
B.TwI_Wartosc    As TwZV_Wartosc,
D.TwC_Wartosc    As TwZV_Cena,
D.TwC_Waluta     As TwZV_Waluta,
B.TwI_TwIId      As TwZV_TwIId
From CDN.RptTemp2 P join CDN.Towary A On 1=1
Left Outer Join CDN.TwrIlosci B
  On A.Twr_TwrID = B.TwI_TwrID
 And ( P.RpT2_TmpId Is Not Null Or B.TwI_MagId IS NULL )
 And ( P.RpT2_TmpId Is Null Or B.TwI_MagId = P.RpT2_TmpId )
 And B.TwI_Data = (
    Select Top 1 H.TwI_Data From CDN.TwrIlosci H Where H.TwI_TwrId = A.Twr_TwrId
    And ( P.RpT2_TmpId Is Not Null Or H.TwI_MagId Is Null )
    And ( P.RpT2_TmpId Is Null Or H.TwI_MagId = P.RpT2_TmpId )
    And H.TwI_Data <= P.RpT2_Data
    Order By H.TwI_Data Desc )
Left Outer Join CDN.Magazyny C ON B.TwI_MagId= C.Mag_MagId
Left Outer Join CDN.TwrCeny D ON A.Twr_TwrId= D.TwC_TwrID AND A.Twr_TwCNumer = D.TwC_TwCNumer
Left Outer Join CDN.TwrGrupyView E ON A.Twr_TwGGIDNumer = E.GIDNumer

GO

# [CDN].[TraElem]

In [0]:
/****** Object:  Table [CDN].[TraElem]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CDN].[TraElem](
	[TrE_TrEID] [int] IDENTITY(1,1) NOT NULL,
	[TrE_TrNId] [int] NOT NULL,
	[TrE_ZwrId] [int] NULL,
	[TrE_TrEIdProd] [int] NULL,
	[TrE_PdRId] [int] NULL,
	[TrE_Lp] [int] NOT NULL,
	[TrE_LpPow] [int] NOT NULL,
	[TrE_LpPowRel] [int] NULL,
	[TrE_TypDokumentu] [int] NOT NULL,
	[TrE_Aktywny] [tinyint] NOT NULL,
	[TrE_DataDok] [datetime] NOT NULL,
	[TrE_RabatPromocyjny] [decimal](15, 4) NULL,
	[TrE_RabatKorekta] [decimal](15, 4) NULL,
	[TrE_Promocje] [int] NULL,
	[TrE_DataOpe] [datetime] NOT NULL,
	[TrE_PodmiotTyp] [smallint] NULL,
	[TrE_PodID] [int] NULL,
	[TrE_KatID] [int] NULL,
	[TrE_TwrId] [int] NULL,
	[TrE_MagId] [int] NULL,
	[TrE_TwrEAN] [varchar](40) NOT NULL,
	[TrE_TwrKod] [varchar](50) NOT NULL,
	[TrE_TwrSWW] [varchar](20) NOT NULL,
	[TrE_Stawka] [decimal](5, 2) NOT NULL,
	[TrE_Flaga] [smallint] NOT NULL,
	[TrE_Zrodlowa] [decimal](5, 2) NOT NULL,
	[TrE_TwCNumer] [int] NOT NULL,
	[TrE_TypNB] [tinyint] NOT NULL,
	[TrE_Cena0] [decimal](17, 4) NOT NULL,
	[TrE_Rabat] [decimal](5, 2) NOT NULL,
	[TrE_CenaW] [decimal](17, 4) NOT NULL,
	[TrE_Waluta] [varchar](3) NOT NULL,
	[TrE_Kaucja] [tinyint] NOT NULL,
	[TrE_WyborDostaw] [tinyint] NULL,
	[TrE_KursNumer] [int] NOT NULL,
	[TrE_KursL] [decimal](15, 4) NOT NULL,
	[TrE_KursM] [decimal](5, 0) NOT NULL,
	[TrE_CenaT] [decimal](17, 4) NOT NULL,
	[TrE_Ilosc] [decimal](15, 4) NOT NULL,
	[TrE_IloscKW] [decimal](15, 4) NOT NULL,
	[TrE_JmCalkowite] [tinyint] NOT NULL,
	[TrE_JMPrzelicznikL] [decimal](15, 2) NOT NULL,
	[TrE_JMPrzelicznikM] [decimal](7, 0) NOT NULL,
	[TrE_IloscJM] [decimal](15, 4) NOT NULL,
	[TrE_IloscJMKW] [decimal](15, 4) NOT NULL,
	[TrE_WartoscNetto] [decimal](15, 2) NOT NULL,
	[TrE_WartoscBrutto] [decimal](15, 2) NOT NULL,
	[TrE_KosztUslugi] [decimal](15, 2) NOT NULL,
	[TrE_KosztKGO] [decimal](15, 2) NOT NULL,
	[TrE_WartoscZakupuWylicz] [decimal](15, 2) NOT NULL,
	[TrE_Cena0WD] [decimal](17, 4) NOT NULL,
	[TrE_CenaWWD] [decimal](17, 4) NOT NULL,
	[TrE_WartoscNettoWal] [decimal](15, 2) NOT NULL,
	[TrE_WartoscBruttoWal] [decimal](15, 2) NOT NULL,
	[TrE_WartoscTymczasowa] [int] NULL,
	[TrE_Prog] [decimal](15, 2) NOT NULL,
	[TrE_UpustTyp] [tinyint] NOT NULL,
	[TrE_Upust] [decimal](15, 2) NOT NULL,
	[TrE_UpustKnt] [decimal](15, 2) NOT NULL,
	[TrE_UpustKntTyp] [tinyint] NOT NULL,
	[TrE_Jm] [nvarchar](20) NOT NULL,
	[TrE_JmZ] [nvarchar](20) NOT NULL,
	[TrE_TwrNazwa] [nvarchar](255) NOT NULL,
	[TrE_TwrNumerKat] [nvarchar](40) NOT NULL,
	[TrE_TwrOpis] [nvarchar](1024) NOT NULL,
	[TrE_AkcyzaOpal] [decimal](15, 2) NOT NULL,
	[TrE_AkcyzaStawka] [decimal](15, 2) NOT NULL,
	[TrE_KodCN] [varchar](8) NOT NULL,
	[Tre_AkcyzaJMPomPrzelicznikL] [decimal](15, 2) NOT NULL,
	[Tre_AkcyzaJMPomPrzelicznikM] [int] NOT NULL,
	[TrE_Akcyza_DeAId] [int] NULL,
	[TrE_Akcyza_Kod] [varchar](20) NOT NULL,
	[TrE_Akcyza_Wartosc] [nvarchar](100) NOT NULL,
	[TrE_IFA24Mag] [tinyint] NOT NULL,
	[TrE_IFA24] [tinyint] NOT NULL,
	[TrE_ZTwID] [int] NOT NULL,
	[TrE_ZestawWiazanie] [int] NOT NULL,
	[TrE_ZTwGlowny] [tinyint] NOT NULL,
	[TrE_ZTwKod] [varchar](20) NOT NULL,
	[TrE_ZTwIlosc] [decimal](15, 4) NOT NULL,
	[Tre_OdwrotneObciazenie] [tinyint] NOT NULL,
	[TrE_TwrTyp] [tinyint] NOT NULL,
	[TrE_TwrKodDostawcy] [nvarchar](50) NOT NULL,
	[TrE_DoZwrotu] [decimal](15, 4) NOT NULL,
	[TrE_UslugaZlozonaId] [int] NOT NULL,
	[TrE_UslugaZlozona] [tinyint] NOT NULL,
	[TrE_PATrEId] [int] NOT NULL,
	[TrE_KWRoznicaKursowa] [decimal](15, 2) NOT NULL,
	[Tre_CenaZCzteremaMiejscami] [tinyint] NOT NULL,
	[TrE_WartoscZakupu]  AS ([CDN].[FNTRE_WARTOSCZAKUPU]([TRE_TREID],[TRE_TRNID],[TRE_LPPOW],[TRE_TWRID])+[TRE_KOSZTUSLUGI]),
	[TrE_FakZalKwotaMax] [decimal](15, 2) NOT NULL,
	[Tre_UstawAtrSQL] [int] NOT NULL,
	[Tre_UstawAtrSQLDokTyp] [int] NOT NULL,
	[TrE_SJRodzajPaliwa] [nvarchar](500) NOT NULL,
	[TrE_SJSystemCertyfikacji] [nvarchar](500) NOT NULL,
	[TrE_SJPopiol] [nvarchar](15) NOT NULL,
	[TrE_SJCzesciLotne] [nvarchar](15) NOT NULL,
	[TrE_SJWartoscOpalowa] [nvarchar](15) NOT NULL,
	[TrE_SJZdolnoscSpiekania] [nvarchar](15) NOT NULL,
	[TrE_SJWymiarZiarna] [nvarchar](15) NOT NULL,
	[TrE_SJZawartoscPodziarna] [nvarchar](15) NOT NULL,
	[TrE_SJZawartoscNadziarna] [nvarchar](15) NOT NULL,
	[TrE_SJZawartoscWilgoci] [nvarchar](15) NOT NULL,
	[TrE_SplitPay] [tinyint] NOT NULL,
	[TrE_KV7ID] [int] NOT NULL,
	[TrE_CzySaCechyWymagane] [int] NOT NULL,
	[TrE_OplataCukrowaPrzelicznikML] [decimal](15, 2) NOT NULL,
	[TrE_OplataCukrowaOdCukrowStala] [decimal](15, 2) NOT NULL,
	[TrE_OplataCukrowaOdCukrowZmienna] [decimal](15, 2) NOT NULL,
	[TrE_OplataCukrowaOdKofeinyTaurynyStala] [decimal](15, 2) NOT NULL,
	[TrE_OplataCukrowaOdCukrowZawartoscSokow20] [tinyint] NOT NULL,
	[TrE_OplataCukrowaOdCukrowZawartoscRoztwor] [tinyint] NOT NULL,
	[TrE_OplataCukrowaOdCukrowZawartoscGram] [decimal](15, 3) NOT NULL,
	[TrE_OplataCukrowaOdSubstancjiSlodzacych] [tinyint] NOT NULL,
	[TrE_OplataCukrowaOdKofeinyTauryny] [tinyint] NOT NULL,
	[TrE_OplataCukrowaNumerPartiiTowaru] [nvarchar](512) NOT NULL,
	[Tre_OplataCukrowaDoliczDoCeny] [decimal](15, 2) NOT NULL,
	[Tre_Kategoria] [nvarchar](50) NOT NULL,
	[TrE_StawkaOSS] [tinyint] NOT NULL,
	[TrE_KrajPochodzenia] [nvarchar](2) NOT NULL,
	[TrE_SJSiarka] [nvarchar](15) NOT NULL,
 CONSTRAINT [TrE_Primary] PRIMARY KEY CLUSTERED 
(
	[TrE_TrEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [CDN].[TraElemAtr]

In [0]:
/****** Object:  Table [CDN].[TraElemAtr]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CDN].[TraElemAtr](
	[TrA_TrEId] [int] NOT NULL,
	[TrA_Lp] [int] NOT NULL,
	[TrA_DeAId] [int] NOT NULL,
	[TrA_Kod] [varchar](20) NOT NULL,
	[TrA_Wartosc] [nvarchar](100) NOT NULL,
	[TrA_TrAID] [int] IDENTITY(1,1) NOT NULL,
	[TrA_ESklep] [smallint] NOT NULL,
	[TrA_DokTyp] [int] NULL,
	[TrA_DokId] [int] NULL,
	[TrA_TwrId] [int] NULL,
 CONSTRAINT [TrA_Primary] PRIMARY KEY CLUSTERED 
(
	[TrA_TrAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [CDN].[TraElemRelacje]

In [0]:
/****** Object:  Table [CDN].[TraElemRelacje]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CDN].[TraElemRelacje](
	[TeR_TeRId] [int] IDENTITY(1,1) NOT NULL,
	[TeR_ParentTyp] [smallint] NOT NULL,
	[TeR_ParentId] [int] NOT NULL,
	[TeR_ChildTyp] [smallint] NOT NULL,
	[TeR_ChildId] [int] NOT NULL,
	[TeR_Flaga] [smallint] NULL,
	[TeR_Info] [decimal](15, 4) NULL,
	[TeR_Info2] [decimal](15, 4) NULL,
 CONSTRAINT [TeR_Primary] PRIMARY KEY CLUSTERED 
(
	[TeR_TeRId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [CDN].[TraNag]

In [0]:
/****** Object:  Table [CDN].[TraNag]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CDN].[TraNag](
	[TrN_TrNID] [int] IDENTITY(1,1) NOT NULL,
	[TrN_RelTrNId] [int] NULL,
	[TrN_FVMarza] [tinyint] NULL,
	[TrN_DDfId] [int] NULL,
	[TrN_TypDokumentu] [int] NOT NULL,
	[TrN_ZwrId] [int] NULL,
	[TrN_FaId] [int] NULL,
	[TrN_NumerNr] [int] NOT NULL,
	[TrN_NumerString] [varchar](31) NOT NULL,
	[TrN_Bufor] [smallint] NOT NULL,
	[TrN_Anulowany] [int] NOT NULL,
	[TrN_VaNId] [int] NULL,
	[TrN_DataDok] [datetime] NOT NULL,
	[TrN_DataWys] [datetime] NOT NULL,
	[TrN_DataOpe] [datetime] NOT NULL,
	[TrN_NumerObcy] [varchar](256) NOT NULL,
	[TrN_DataKur] [datetime] NOT NULL,
	[TrN_NumerPelnyPrw] [varchar](256) NOT NULL,
	[TrN_TaxFreePotwierdzony] [tinyint] NOT NULL,
	[TrN_Korekta] [tinyint] NOT NULL,
	[TrN_Fiskalna] [tinyint] NOT NULL,
	[TrN_FiskalnaErr] [int] NULL,
	[TrN_RabatPromocyjny] [decimal](11, 4) NULL,
	[TrN_RabatKorekta] [decimal](11, 4) NULL,
	[TrN_Detal] [tinyint] NOT NULL,
	[TrN_Rodzaj] [int] NOT NULL,
	[TrN_PodmiotTyp] [smallint] NULL,
	[TrN_PodID] [int] NULL,
	[TrN_PodKodPocztowy] [varchar](10) NOT NULL,
	[TrN_PodNipKraj] [varchar](2) NOT NULL,
	[TrN_PodNipE] [nvarchar](20) NOT NULL,
	[TrN_PodmiotGLN] [varchar](13) NOT NULL,
	[TrN_Finalny] [tinyint] NOT NULL,
	[TrN_Export] [tinyint] NOT NULL,
	[TrN_OdbiorcaTyp] [smallint] NULL,
	[TrN_OdbID] [int] NULL,
	[TrN_OdbKodPocztowy] [varchar](10) NOT NULL,
	[TrN_OdbNipKraj] [varchar](2) NOT NULL,
	[TrN_OdbNipE] [nvarchar](20) NOT NULL,
	[TrN_OdbiorcaGLN] [varchar](13) NOT NULL,
	[TrN_OdbiorcaDocTyp] [smallint] NULL,
	[TrN_OdbDocID] [int] NULL,
	[TrN_OdbTelefon] [varchar](20) NULL,
	[TrN_KatID] [int] NULL,
	[TrN_Kategoria] [varchar](50) NOT NULL,
	[TrN_FPlId] [int] NULL,
	[TrN_Termin] [datetime] NOT NULL,
	[TrN_TerminZwrotuKaucji] [datetime] NULL,
	[TrN_RazemNetto] [decimal](15, 2) NOT NULL,
	[TrN_RazemVAT] [decimal](15, 2) NOT NULL,
	[TrN_RazemBrutto] [decimal](15, 2) NOT NULL,
	[TrN_RazemNettoWal] [decimal](15, 2) NOT NULL,
	[TrN_RazemVATWal] [decimal](15, 2) NOT NULL,
	[TrN_RazemBruttoWal] [decimal](15, 2) NOT NULL,
	[TrN_Waluta] [varchar](3) NOT NULL,
	[TrN_KursNumer] [int] NOT NULL,
	[TrN_KursL] [decimal](15, 4) NOT NULL,
	[TrN_KursM] [decimal](5, 0) NOT NULL,
	[TrN_PlatElemWalSys] [tinyint] NOT NULL,
	[TrN_VatDlaDokWal] [tinyint] NOT NULL,
	[TrN_PlatKaucje] [tinyint] NOT NULL,
	[TrN_PodmiotZalTyp] [smallint] NULL,
	[TrN_PodZalId] [int] NULL,
	[TrN_BlokadaPlatnosci] [smallint] NOT NULL,
	[TrN_MagZrdId] [int] NULL,
	[TrN_MagDocId] [int] NULL,
	[TrN_TypNB] [tinyint] NOT NULL,
	[TrN_Rabat] [decimal](5, 2) NOT NULL,
	[TrN_ZwroconoCalaIlosc] [tinyint] NULL,
	[TrN_TrSTyp] [tinyint] NOT NULL,
	[TrN_DekId] [int] NULL,
	[TrN_TS_Export] [datetime] NULL,
	[TrN_ImportAppId] [varchar](5) NULL,
	[TrN_ImportRowId] [varchar](36) NULL,
	[TrN_OpeZalID] [int] NULL,
	[TrN_StaZalId] [int] NULL,
	[TrN_TS_Zal] [datetime] NOT NULL,
	[TrN_OpeModID] [int] NULL,
	[TrN_StaModId] [int] NULL,
	[TrN_TS_Mod] [datetime] NOT NULL,
	[TrN_GIDTyp] [smallint] NULL,
	[TrN_GIDFirma] [int] NULL,
	[TrN_GIDNumer] [int] NULL,
	[TrN_GIDLp] [smallint] NULL,
	[TrN_OFFPrawoDoFAPA] [tinyint] NULL,
	[TrN_OFFPrawoDoAnulowania] [tinyint] NULL,
	[TrN_OFFExportMag] [tinyint] NULL,
	[TrN_Centrala] [tinyint] NOT NULL,
	[TrN_IsNId] [int] NULL,
	[TrN_DataTransportu] [datetime] NULL,
	[TrN_DabId] [int] NULL,
	[TrN_DataEFaktura] [datetime] NULL,
	[TrN_EFakturaGUID] [varchar](36) NULL,
	[TrN_StatusInt] [int] NOT NULL,
	[TrN_DataPtwTaxFree] [datetime] NULL,
	[TrN_KodKraju] [nvarchar](2) NOT NULL,
	[TrN_KodTransakcji] [nvarchar](2) NOT NULL,
	[TrN_NotaKorPo] [nvarchar](254) NOT NULL,
	[TrN_NotaKorPrzed] [nvarchar](254) NOT NULL,
	[TrN_OdbAdres2] [nvarchar](40) NOT NULL,
	[TrN_OdbEmail] [nvarchar](127) NULL,
	[TrN_OdbGmina] [nvarchar](40) NOT NULL,
	[TrN_OdbKraj] [nvarchar](40) NOT NULL,
	[TrN_OdbMiasto] [nvarchar](40) NOT NULL,
	[TrN_OdbNazwa1] [nvarchar](50) NOT NULL,
	[TrN_OdbNazwa2] [nvarchar](50) NOT NULL,
	[TrN_OdbNazwa3] [nvarchar](250) NOT NULL,
	[TrN_OdbNrDomu] [nvarchar](10) NOT NULL,
	[TrN_OdbNrLokalu] [nvarchar](10) NOT NULL,
	[TrN_OdbPoczta] [nvarchar](40) NOT NULL,
	[TrN_OdbPowiat] [nvarchar](40) NOT NULL,
	[TrN_OdbUlica] [nvarchar](40) NOT NULL,
	[TrN_OdbWojewodztwo] [nvarchar](40) NOT NULL,
	[TrN_Odebral] [nvarchar](40) NOT NULL,
	[TrN_OpeWysylajacy] [nvarchar](60) NULL,
	[TrN_Opis] [nvarchar](1024) NOT NULL,
	[TrN_PodAdres2] [nvarchar](40) NOT NULL,
	[TrN_PodGmina] [nvarchar](40) NOT NULL,
	[TrN_PodKraj] [nvarchar](40) NOT NULL,
	[TrN_PodMiasto] [nvarchar](40) NOT NULL,
	[TrN_PodNazwa1] [nvarchar](50) NOT NULL,
	[TrN_PodNazwa2] [nvarchar](50) NOT NULL,
	[TrN_PodNazwa3] [nvarchar](250) NOT NULL,
	[TrN_PodNrDomu] [nvarchar](10) NOT NULL,
	[TrN_PodNrLokalu] [nvarchar](10) NOT NULL,
	[TrN_PodPoczta] [nvarchar](40) NOT NULL,
	[TrN_PodPowiat] [nvarchar](40) NOT NULL,
	[TrN_PodUlica] [nvarchar](40) NOT NULL,
	[TrN_PodWojewodztwo] [nvarchar](40) NOT NULL,
	[TrN_NumerPelny]  AS ([CDN].[FN_NUMERPELNY]([TRN_NUMERNR],[TRN_NUMERSTRING])),
	[TrN_StatusString]  AS ([CDN].[FNTRNSTATUSSTRING]([TRN_TYPDOKUMENTU],[TRN_STATUSINT])),
	[TrN_PreDekID] [int] NULL,
	[TrN_ZwrIdWZKK] [int] NULL,
	[TrN_TrybNettoVAT] [int] NOT NULL,
	[TrN_eSklepID] [int] NULL,
	[TrN_NieOkreslonaWartoscKor] [int] NULL,
	[TrN_ZwolnionyZAkcyzy] [tinyint] NOT NULL,
	[TrN_AkcyzaMiejsceOdbioru] [nvarchar](200) NULL,
	[TrN_AkcyzaMiejsceWydania] [nvarchar](200) NULL,
	[TrN_AkcyzaDataRozpoczeciaPrzem] [datetime] NULL,
	[TrN_AkcyzaDataOdbioruOd] [datetime] NULL,
	[TrN_AkcyzaDataOdbioruDo] [datetime] NULL,
	[TrN_FADokumentDostawy] [tinyint] NOT NULL,
	[TrN_NrListuPrzewozowego] [nvarchar](150) NOT NULL,
	[TrN_Srw] [smallint] NULL,
	[TrN_PodatekVat] [tinyint] NOT NULL,
	[TrN_Pesel] [nvarchar](11) NOT NULL,
	[TrN_FVMarzaRodzaj] [tinyint] NULL,
	[TrN_RabatWartosc] [decimal](15, 2) NOT NULL,
	[TrN_PARodzajKor] [int] NOT NULL,
	[TrN_MetodaKasowa] [tinyint] NOT NULL,
	[TrN_FinalnyWegiel] [tinyint] NOT NULL,
	[TrN_KorektaZTytulu] [nvarchar](1024) NOT NULL,
	[TrN_EdycjaTabelkiVAT] [tinyint] NOT NULL,
	[TrN_PlatnikTyp] [smallint] NULL,
	[TrN_PlatnikID] [int] NULL,
	[TrN_PlatnoscNaWZ] [tinyint] NOT NULL,
	[TrN_BzpId] [int] NOT NULL,
	[TrN_RezerwacjaWew] [tinyint] NOT NULL,
	[TrN_PAFACzesciowe] [tinyint] NOT NULL,
	[TrN_AktualizacjaCenyZakKor] [tinyint] NOT NULL,
	[TrN_StawkaNPOO] [tinyint] NOT NULL,
	[TrN_WartoscOO] [decimal](15, 2) NOT NULL,
	[TrN_AwizoId] [int] NOT NULL,
	[TrN_DokMOSMMId] [int] NOT NULL,
	[TrN_ZakID] [int] NULL,
	[TrN_OpeModKod] [varchar](20) NOT NULL,
	[TrN_OpeModNazwisko] [nvarchar](50) NOT NULL,
	[TrN_OpeZalKod] [varchar](20) NOT NULL,
	[TrN_OpeZalNazwisko] [nvarchar](50) NOT NULL,
	[TrN_PunktyZam] [int] NOT NULL,
	[TrN_PunktyZap] [int] NOT NULL,
	[TrN_WartoscZakupu]  AS ([CDN].[FNTRN_WARTOSCZAKUPU]([TRN_TRNID])),
	[TrN_WeryfikacjaVATCzynnyData] [datetime] NULL,
	[TrN_WeryfikacjaVATCzynnyWartosc] [int] NULL,
	[Trn_Sent] [int] NOT NULL,
	[TrN_eSklepZrodlo] [int] NULL,
	[TrN_eSklepRodzajDokumentu] [tinyint] NULL,
	[TrN_eSklepFormaPlatnosci] [nvarchar](50) NULL,
	[TrN_eSklepStatusPlatnosci] [tinyint] NULL,
	[TrN_eSklepUwagiKlienta] [nvarchar](2048) NULL,
	[TrN_eSklepSposobDostawyTyp] [smallint] NULL,
	[TrN_eSklepSposobDostawyNazwa] [nvarchar](100) NULL,
	[TrN_eSklepStatusDostawy] [smallint] NULL,
	[TrN_eSklepPunktOdbioruOsobistegoID] [int] NULL,
	[TrN_eSklepPunktOdbioruOsobistegoIDeSklep] [int] NULL,
	[TrN_eSklepPunktOdbioruOsobistegoNazwa1] [nvarchar](250) NULL,
	[TrN_eSklepPunktOdbioruOsobistegoNazwa2] [nvarchar](250) NULL,
	[TrN_eSklepPunktOdbioruOsobistegoKrajISO] [nvarchar](2) NULL,
	[TrN_eSklepPunktOdbioruOsobistegoWojewodztwo] [nvarchar](50) NULL,
	[TrN_eSklepPunktOdbioruOsobistegoUlica] [nvarchar](50) NULL,
	[TrN_eSklepPunktOdbioruOsobistegoNrBudynku] [nvarchar](10) NULL,
	[TrN_eSklepPunktOdbioruOsobistegoNrLokalu] [nvarchar](10) NULL,
	[TrN_eSklepPunktOdbioruOsobistegoMiasto] [nvarchar](50) NULL,
	[TrN_eSklepPunktOdbioruOsobistegoKodPocztowy] [nvarchar](10) NULL,
	[TrN_eSklepPunktOdbioruOsobistegoTelefon] [nvarchar](20) NULL,
	[TrN_eSklepPunktOdbioruOsobistegoGSM] [nvarchar](20) NULL,
	[TrN_eSklepKodPaczkomatuPodst] [nvarchar](50) NULL,
	[TrN_eSklepPaczkomatKodPaczki] [nvarchar](30) NULL,
	[TrN_eSklepPaczkomatPodstMiasto] [nvarchar](50) NULL,
	[TrN_eSklepPaczkomatPodstKodPocztowy] [nvarchar](10) NULL,
	[TrN_eSklepPaczkomatPodstUlica] [nvarchar](50) NULL,
	[TrN_eSklepPaczkomatPodstUlicaNR] [nvarchar](50) NULL,
	[TrN_eSklepKodPaczkomatuRezerw] [nvarchar](50) NULL,
	[TrN_eSklepPaczkomatRezerwMiasto] [nvarchar](50) NULL,
	[TrN_eSklepPaczkomatRezerwKodPocztowy] [nvarchar](10) NULL,
	[TrN_eSklepPaczkomatRezerwUlica] [nvarchar](50) NULL,
	[TrN_eSklepPaczkomatRezerwUlicaNR] [nvarchar](50) NULL,
	[TrN_OpeZatwID] [int] NULL,
	[TrN_TS_Zatw] [datetime] NULL,
	[TrN_OpeWydrID] [int] NULL,
	[TrN_TS_Wydr] [datetime] NULL,
	[TrN_OpeZatwKod] [varchar](20) NOT NULL,
	[TrN_OpeZatwNazwisko] [nvarchar](50) NOT NULL,
	[TrN_OpeWydrKod] [varchar](20) NOT NULL,
	[TrN_OpeWydrNazwisko] [nvarchar](50) NOT NULL,
	[TrN_PCID] [int] NULL,
	[TrN_PCJSID] [int] NULL,
	[TrN_eSklepPunktOdbioruOsobistegoEmail] [nvarchar](200) NULL,
	[TrN_eSklepPunktOdbioruOsobistegoAPI] [nvarchar](max) NULL,
	[TrN_eSklepPunktOdbioruOsobistegoSzerokosc] [nvarchar](12) NULL,
	[TrN_eSklepPunktOdbioruOsobistegoDlugosc] [nvarchar](12) NULL,
	[TrN_DokumentTozsamosci] [nvarchar](50) NOT NULL,
	[TrN_UmowaWegiel] [tinyint] NOT NULL,
	[TrN_NrListuPrzewozowegoTypKuriera] [int] NOT NULL,
	[TrN_SplitPay] [tinyint] NOT NULL,
	[TrN_WartoscSP] [decimal](15, 2) NOT NULL,
	[TrN_eSklepDataDost] [datetime] NULL,
	[TrN_PlatnikRachunekLp] [int] NOT NULL,
	[TrN_PlatnikRachunekNr] [nvarchar](51) NOT NULL,
	[TrN_OpeEMailID] [int] NULL,
	[TrN_TS_EMail] [datetime] NULL,
	[TrN_OpeEMailKod] [varchar](20) NOT NULL,
	[TrN_OpeEMailNazwisko] [nvarchar](50) NOT NULL,
	[TrN_AwfWyslano] [datetime] NULL,
	[TrN_NieNaliczajOplataCukrowa] [tinyint] NOT NULL,
	[TrN_RozliczamPodatekWOSS] [tinyint] NOT NULL,
	[TrN_RycID] [int] NULL,
	[TrN_KPRID] [int] NULL,
	[TrN_DnpID] [int] NULL,
	[TrN_NieUwzglwedniajWEwidencjiWegiel] [tinyint] NOT NULL,
	[Trn_DokumentDostawy] [int] NOT NULL,
	[TrN_NrKSeF] [nvarchar](128) NOT NULL,
	[TrN_NieWysylajDokumentuDoKSeF] [tinyint] NOT NULL,
	[TrN_KSeFStatusId] [smallint] NOT NULL,
	[TrN_KSeFStatus] [nvarchar](1000) NOT NULL,
	[TrN_KSeFReferenceNumber] [nvarchar](50) NULL,
	[TrN_KSeFOpeID] [int] NULL,
	[TrN_KSeFOpeKod] [varchar](20) NULL,
	[TrN_KSeFOpeNazwisko] [nvarchar](50) NULL,
	[TrN_KSeFUPOOpeID] [int] NULL,
	[TrN_KSeFUPOOpeKod] [varchar](20) NULL,
	[TrN_KSeFUPOOpeNazwisko] [nvarchar](50) NULL,
	[TrN_KSeFDataWyslania] [datetime] NULL,
	[TrN_KSeFDataOdebraniaUpo] [datetime] NULL,
	[TrN_KSeFDataPrzyjecia] [datetime] NULL,
	[TrN_KSeFFPLId] [int] NULL,
	[TrN_KSeFTrybAwaryjny] [tinyint] NULL,
	[TrN_KSeFTypSrodowiska] [smallint] NOT NULL,
	[Trn_WszystkoPlIdZamowienia] [nvarchar](50) NOT NULL,
	[Trn_WszystkoPlSyncho] [int] NOT NULL,
	[TrN_KSeFLinkWeryfikacyjny] [nvarchar](max) NULL,
 CONSTRAINT [TrN_Primary] PRIMARY KEY CLUSTERED 
(
	[TrN_TrNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [CDN].[TraNagRelacje]

In [0]:
/****** Object:  Table [CDN].[TraNagRelacje]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CDN].[TraNagRelacje](
	[TrR_TrRId] [int] IDENTITY(1,1) NOT NULL,
	[TrR_TrNTyp] [smallint] NOT NULL,
	[TrR_TrNId] [int] NOT NULL,
	[TrR_FaTyp] [smallint] NOT NULL,
	[TrR_FaId] [int] NOT NULL,
	[TrR_Flaga] [smallint] NULL,
 CONSTRAINT [TrR_Primary] PRIMARY KEY CLUSTERED 
(
	[TrR_TrRId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [CDN].[TraSElem]

In [0]:
/****** Object:  Table [CDN].[TraSElem]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CDN].[TraSElem](
	[TrS_TrSID] [int] IDENTITY(1,1) NOT NULL,
	[TrS_TrEId] [int] NOT NULL,
	[TrS_TrSIdDost] [int] NULL,
	[TrS_WyborDostaw] [tinyint] NULL,
	[TrS_TrEIdWydania] [int] NULL,
	[TrS_ZwrId] [int] NULL,
	[TrS_TwrId] [int] NOT NULL,
	[TrS_MagId] [int] NOT NULL,
	[TrS_Rodzaj] [int] NOT NULL,
	[TrS_Typ] [tinyint] NOT NULL,
	[TrS_Metoda] [tinyint] NOT NULL,
	[TrS_DataOpe] [datetime] NOT NULL,
	[TrS_Ilosc] [decimal](15, 4) NOT NULL,
	[TrS_Wartosc] [decimal](15, 2) NOT NULL,
	[TrS_Cena] [decimal](17, 4) NOT NULL,
	[TrS_SrCId] [int] NOT NULL,
 CONSTRAINT [TrS_Primary] PRIMARY KEY CLUSTERED 
(
	[TrS_TrSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [CDN].[TraSElemCechy]

In [0]:
/****** Object:  Table [CDN].[TraSElemCechy]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CDN].[TraSElemCechy](
	[TsC_TsCID] [int] IDENTITY(1,1) NOT NULL,
	[TsC_TrSID] [int] NOT NULL,
	[TsC_Cecha1_DeAId] [int] NOT NULL,
	[TsC_Cecha1_Format] [smallint] NOT NULL,
	[TsC_Cecha1_Kod] [varchar](20) NOT NULL,
	[TsC_Cecha2_DeAId] [int] NOT NULL,
	[TsC_Cecha2_Format] [smallint] NOT NULL,
	[TsC_Cecha2_Kod] [varchar](20) NOT NULL,
	[TsC_Cecha3_DeAId] [int] NOT NULL,
	[TsC_Cecha3_Format] [smallint] NOT NULL,
	[TsC_Cecha3_Kod] [varchar](20) NOT NULL,
	[TsC_Cecha4_DeAId] [int] NOT NULL,
	[TsC_Cecha4_Format] [smallint] NOT NULL,
	[TsC_Cecha4_Kod] [varchar](20) NOT NULL,
	[TsC_Cecha5_DeAId] [int] NOT NULL,
	[TsC_Cecha5_Format] [smallint] NOT NULL,
	[TsC_Cecha5_Kod] [varchar](20) NOT NULL,
	[TsC_Cecha6_DeAId] [int] NOT NULL,
	[TsC_Cecha6_Format] [smallint] NOT NULL,
	[TsC_Cecha6_Kod] [varchar](20) NOT NULL,
	[TsC_Cecha7_DeAId] [int] NOT NULL,
	[TsC_Cecha7_Format] [smallint] NOT NULL,
	[TsC_Cecha7_Kod] [varchar](20) NOT NULL,
	[TsC_Cecha8_DeAId] [int] NOT NULL,
	[TsC_Cecha8_Format] [smallint] NOT NULL,
	[TsC_Cecha8_Kod] [varchar](20) NOT NULL,
	[TsC_Cecha9_DeAId] [int] NOT NULL,
	[TsC_Cecha9_Format] [smallint] NOT NULL,
	[TsC_Cecha9_Kod] [varchar](20) NOT NULL,
	[TsC_Cecha10_DeAId] [int] NOT NULL,
	[TsC_Cecha10_Format] [smallint] NOT NULL,
	[TsC_Cecha10_Kod] [varchar](20) NOT NULL,
	[TsC_Cecha1_Wartosc] [nvarchar](255) NOT NULL,
	[TsC_Cecha10_Wartosc] [nvarchar](255) NOT NULL,
	[TsC_Cecha2_Wartosc] [nvarchar](255) NOT NULL,
	[TsC_Cecha3_Wartosc] [nvarchar](255) NOT NULL,
	[TsC_Cecha4_Wartosc] [nvarchar](255) NOT NULL,
	[TsC_Cecha5_Wartosc] [nvarchar](255) NOT NULL,
	[TsC_Cecha6_Wartosc] [nvarchar](255) NOT NULL,
	[TsC_Cecha7_Wartosc] [nvarchar](255) NOT NULL,
	[TsC_Cecha8_Wartosc] [nvarchar](255) NOT NULL,
	[TsC_Cecha9_Wartosc] [nvarchar](255) NOT NULL,
 CONSTRAINT [TsC_Primary] PRIMARY KEY CLUSTERED 
(
	[TsC_TsCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [CDN].[TraSElemDost]

In [0]:
/****** Object:  Table [CDN].[TraSElemDost]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CDN].[TraSElemDost](
	[TsD_TsDID] [int] IDENTITY(1,1) NOT NULL,
	[TsD_TrSID] [int] NOT NULL,
	[TsD_TrEId] [int] NOT NULL,
	[TsD_TrSIdDost] [int] NULL,
	[TsD_ZwrId] [int] NULL,
	[TsD_NumerPelny] [varchar](30) NOT NULL,
	[TsD_NumerObcy] [varchar](256) NOT NULL,
	[TsD_DataOpe] [datetime] NOT NULL,
	[TsD_Ilosc] [decimal](15, 4) NOT NULL,
	[TsD_IloscDostepna] [decimal](15, 4) NOT NULL,
	[TsD_Wartosc] [decimal](15, 4) NOT NULL,
	[TsD_Cecha1_DeAId] [int] NOT NULL,
	[TsD_Cecha1_Format] [smallint] NOT NULL,
	[TsD_Cecha1_Kod] [varchar](20) NOT NULL,
	[TsD_Cecha2_DeAId] [int] NOT NULL,
	[TsD_Cecha2_Format] [smallint] NOT NULL,
	[TsD_Cecha2_Kod] [varchar](20) NOT NULL,
	[TsD_Cecha3_DeAId] [int] NOT NULL,
	[TsD_Cecha3_Format] [smallint] NOT NULL,
	[TsD_Cecha3_Kod] [varchar](20) NOT NULL,
	[TsD_Cecha4_DeAId] [int] NOT NULL,
	[TsD_Cecha4_Format] [smallint] NOT NULL,
	[TsD_Cecha4_Kod] [varchar](20) NOT NULL,
	[TsD_Cecha5_DeAId] [int] NOT NULL,
	[TsD_Cecha5_Format] [smallint] NOT NULL,
	[TsD_Cecha5_Kod] [varchar](20) NOT NULL,
	[TsD_Cecha6_DeAId] [int] NOT NULL,
	[TsD_Cecha6_Format] [smallint] NOT NULL,
	[TsD_Cecha6_Kod] [varchar](20) NOT NULL,
	[TsD_Cecha7_DeAId] [int] NOT NULL,
	[TsD_Cecha7_Format] [smallint] NOT NULL,
	[TsD_Cecha7_Kod] [varchar](20) NOT NULL,
	[TsD_Cecha8_DeAId] [int] NOT NULL,
	[TsD_Cecha8_Format] [smallint] NOT NULL,
	[TsD_Cecha8_Kod] [varchar](20) NOT NULL,
	[TsD_Cecha9_DeAId] [int] NOT NULL,
	[TsD_Cecha9_Format] [smallint] NOT NULL,
	[TsD_Cecha9_Kod] [varchar](20) NOT NULL,
	[TsD_Cecha10_DeAId] [int] NOT NULL,
	[TsD_Cecha10_Format] [smallint] NOT NULL,
	[TsD_Cecha10_Kod] [varchar](20) NOT NULL,
	[TsD_Cecha1_Wartosc] [nvarchar](255) NOT NULL,
	[TsD_Cecha10_Wartosc] [nvarchar](255) NOT NULL,
	[TsD_Cecha2_Wartosc] [nvarchar](255) NOT NULL,
	[TsD_Cecha3_Wartosc] [nvarchar](255) NOT NULL,
	[TsD_Cecha4_Wartosc] [nvarchar](255) NOT NULL,
	[TsD_Cecha5_Wartosc] [nvarchar](255) NOT NULL,
	[TsD_Cecha6_Wartosc] [nvarchar](255) NOT NULL,
	[TsD_Cecha7_Wartosc] [nvarchar](255) NOT NULL,
	[TsD_Cecha8_Wartosc] [nvarchar](255) NOT NULL,
	[TsD_Cecha9_Wartosc] [nvarchar](255) NOT NULL,
	[TsD_Dostawca] [nvarchar](50) NOT NULL,
	[TsD_PdEId] [int] NOT NULL,
	[TsD_SrCDId] [int] NOT NULL,
	[TsD_ROZDTrEID] [int] NULL,
	[TsD_ROZDTsDID] [int] NULL,
 CONSTRAINT [TsD_Primary] PRIMARY KEY CLUSTERED 
(
	[TsD_TsDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [CDN].[TwrAtrybuty]

In [0]:
/****** Object:  Table [CDN].[TwrAtrybuty]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CDN].[TwrAtrybuty](
	[TwA_TwAId] [int] IDENTITY(1,1) NOT NULL,
	[TwA_DeAId] [int] NOT NULL,
	[TwA_TwrId] [int] NULL,
	[TwA_SrUId] [int] NULL,
	[TwA_SrRId] [int] NULL,
	[TwA_SrZId] [int] NULL,
	[TwA_Zalezny] [tinyint] NOT NULL,
	[TwA_ESklep] [tinyint] NULL,
	[TwA_CzyKopiowac] [tinyint] NOT NULL,
	[TwA_CzyKod] [tinyint] NOT NULL,
	[TwA_CzyPrzenosic] [tinyint] NOT NULL,
	[TwA_CzyDrukowac] [tinyint] NOT NULL,
	[TwA_DABID] [int] NULL,
	[TwA_CzyObowiazkowySerwis] [tinyint] NOT NULL,
	[TwA_CzyObowiazkowyDostawy] [tinyint] NOT NULL,
	[TwA_CzyPrzenosicNaDostawy] [tinyint] NOT NULL,
	[TwA_RodzajId] [int] NULL,
	[TwA_UrzId] [int] NULL,
	[TwA_SourceId] [int] NULL,
	[TwA_JezykId] [smallint] NOT NULL,
	[TwA_WartoscTxt] [nvarchar](100) NOT NULL,
	[TwA_Lp] [int] NULL,
	[TwA_AtrybutGrupujacyFantom] [tinyint] NOT NULL,
 CONSTRAINT [TwA_Primary] PRIMARY KEY CLUSTERED 
(
	[TwA_TwAId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [CDN].[TwrDost]

In [0]:
/****** Object:  Table [CDN].[TwrDost]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CDN].[TwrDost](
	[TWD_TwrTyp] [smallint] NOT NULL,
	[TWD_TwrFirma] [int] NOT NULL,
	[TWD_TwrNumer] [int] NOT NULL,
	[TWD_TwrLp] [smallint] NOT NULL,
	[TWD_KntTyp] [smallint] NULL,
	[TWD_KntFirma] [int] NULL,
	[TWD_KntNumer] [int] NULL,
	[TWD_KntLp] [smallint] NULL,
	[TWD_KodTyp] [smallint] NULL,
	[TWD_KodFirma] [int] NULL,
	[TWD_KodNumer] [int] NULL,
	[TWD_KodLp] [smallint] NULL,
	[TWD_KlasaKnt] [smallint] NOT NULL,
	[TWD_Cena] [decimal](15, 4) NULL,
	[TWD_Waluta] [varchar](3) NULL,
	[TWD_NrKursu] [smallint] NULL,
	[TWD_DataAkt] [int] NULL,
	[TWD_Czas] [tinyint] NULL,
	[TWD_KodOrgKnt] [nvarchar](40) NULL,
	[TWD_Notatki] [nvarchar](200) NULL,
 CONSTRAINT [TWD_Primary] PRIMARY KEY CLUSTERED 
(
	[TWD_TwrTyp] ASC,
	[TWD_TwrFirma] ASC,
	[TWD_TwrNumer] ASC,
	[TWD_KlasaKnt] ASC,
	[TWD_TwrLp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [CDN].[TwrEan]

In [0]:
/****** Object:  Table [CDN].[TwrEan]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CDN].[TwrEan](
	[TwE_TwEId] [int] IDENTITY(1,1) NOT NULL,
	[TwE_TwrId] [int] NOT NULL,
	[TwE_EAN] [varchar](40) NOT NULL,
	[TwE_Opis] [nvarchar](100) NOT NULL,
	[TwE_Domyslny] [tinyint] NOT NULL,
	[TwE_JM] [nvarchar](20) NOT NULL,
 CONSTRAINT [TwE_Primary] PRIMARY KEY CLUSTERED 
(
	[TwE_TwEId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [CDN].[TwrGrupy]

In [0]:
/****** Object:  Table [CDN].[TwrGrupy]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CDN].[TwrGrupy](
	[TwG_TwGID] [int] IDENTITY(1,1) NOT NULL,
	[TwG_GIDTyp] [smallint] NOT NULL,
	[TwG_GIDFirma] [int] NULL,
	[TwG_GIDNumer] [int] NOT NULL,
	[TwG_GIDLp] [smallint] NULL,
	[TwG_GrOTyp] [smallint] NOT NULL,
	[TwG_GrOFirma] [int] NULL,
	[TwG_GrONumer] [int] NOT NULL,
	[TwG_GrOLp] [smallint] NULL,
	[TwG_Kod] [varchar](50) NOT NULL,
	[TwG_CzasModyfikacji] [int] NULL,
	[TwG_eSklepLp] [int] NULL,
	[TwG_Nazwa] [nvarchar](255) NOT NULL,
 CONSTRAINT [TwG_Primary] PRIMARY KEY CLUSTERED 
(
	[TwG_TwGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [CDN].[TwrZasoby]

In [0]:
/****** Object:  Table [CDN].[TwrZasoby]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CDN].[TwrZasoby](
	[TwZ_TwZId] [int] IDENTITY(1,1) NOT NULL,
	[TwZ_TrSIdDost] [int] NULL,
	[TwZ_TwrId] [int] NOT NULL,
	[TwZ_MagId] [int] NOT NULL,
	[TwZ_Data] [datetime] NULL,
	[TwZ_Ilosc] [decimal](15, 4) NOT NULL,
	[TwZ_Quan] [decimal](15, 4) NOT NULL,
	[TwZ_Wartosc] [decimal](15, 2) NOT NULL,
	[TwZ_Cena] [decimal](17, 4) NOT NULL,
 CONSTRAINT [TwZ_Primary] PRIMARY KEY CLUSTERED 
(
	[TwZ_TwZId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CTI_Debug_Log]

In [0]:
/****** Object:  Table [dbo].[CTI_Debug_Log]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTI_Debug_Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[LogDate] [datetime] NULL,
	[Opis] [text] NULL,
	[Parametr_DokIds] [nvarchar](max) NULL,
	[Parametr_ZasobKod] [nvarchar](255) NULL,
	[Parametr_PracownikWartosc] [nvarchar](255) NULL,
	[Parametr_ilosc] [nvarchar](255) NULL,
	[Parametr_OpeId] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiAtrybutyElem]

In [0]:
/****** Object:  Table [dbo].[CtiAtrybutyElem]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiAtrybutyElem](
	[CAE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAE_TypDok] [int] NULL,
	[CAE_IdDok] [int] NULL,
	[CAE_CANLp] [int] NULL,
	[CAE_CAHid] [int] NULL,
	[CAE_Typ] [int] NULL,
	[CAE_Wartosc] [nvarchar](250) NULL,
 CONSTRAINT [CAE_Primary] PRIMARY KEY CLUSTERED 
(
	[CAE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiAtrybutyElemHist]

In [0]:
/****** Object:  Table [dbo].[CtiAtrybutyElemHist]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiAtrybutyElemHist](
	[CAH_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAH_Nazwa] [nvarchar](15) NULL,
	[CAH_Domysla] [nvarchar](4000) NULL,
	[CAH_TypMaski] [int] NULL,
	[CAH_Maska] [nvarchar](4000) NULL,
 CONSTRAINT [CAH_Primary] PRIMARY KEY CLUSTERED 
(
	[CAH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiAtrybutyNag]

In [0]:
/****** Object:  Table [dbo].[CtiAtrybutyNag]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiAtrybutyNag](
	[CAN_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAN_Lp] [int] NULL,
	[CAN_Typ] [int] NULL,
	[CAN_Nazwa] [nvarchar](15) NULL,
	[CAN_Domysla] [nvarchar](4000) NULL,
	[CAN_TypMaski] [int] NULL,
	[CAN_Maska] [nvarchar](4000) NULL,
	[CAN_MaskaSQL] [varchar](2048) NULL,
	[CAN_MaskaFormat] [varchar](128) NULL,
	[CAN_OpeWystaw] [int] NULL,
	[CAN_DataWystaw] [datetime] NULL,
	[CAN_OperModyf] [int] NULL,
	[CAN_DataModyf] [datetime] NULL,
	[CAN_Opis] [varchar](254) NULL,
	[CAN_Panel] [tinyint] NOT NULL,
 CONSTRAINT [CAN_Primary] PRIMARY KEY CLUSTERED 
(
	[CAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiAtrybutyUprawnienia]

In [0]:
/****** Object:  Table [dbo].[CtiAtrybutyUprawnienia]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiAtrybutyUprawnienia](
	[CAU_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAU_CANLp] [int] NULL,
	[CAU_TypDok] [int] NULL,
	[CAU_Aktywny] [smallint] NULL,
	[CAU_Edycja] [smallint] NULL,
 CONSTRAINT [CAU_Primary] PRIMARY KEY CLUSTERED 
(
	[CAU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiBrakiElem]

In [0]:
/****** Object:  Table [dbo].[CtiBrakiElem]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiBrakiElem](
	[CBE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CBE_CBNId] [int] NULL,
	[CBE_TwrId] [int] NULL,
	[CBE_Ilosc] [decimal](15, 4) NULL,
	[CBE_CZNID] [int] NULL,
	[CBE_DostawcaID] [int] NULL,
	[CBE_Typ] [int] NULL,
	[CBE_MagazynID] [int] NULL,
	[CBE_DzialID] [int] NULL,
 CONSTRAINT [CBE_Primary] PRIMARY KEY CLUSTERED 
(
	[CBE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiBrakiNag]

In [0]:
/****** Object:  Table [dbo].[CtiBrakiNag]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiBrakiNag](
	[CBN_ID] [int] IDENTITY(1,1) NOT NULL,
	[CBN_Numer] [int] NULL,
	[CBN_Miesiac] [int] NULL,
	[CBN_Rok] [int] NULL,
	[CBN_Seria] [varchar](5) NULL,
	[CBN_OpeWystaw] [int] NULL,
	[CBN_DataWystaw] [datetime] NULL,
	[CBN_OperModyf] [int] NULL,
	[CBN_DataModyf] [datetime] NULL,
	[CBN_Status] [int] NULL,
	[CBN_NrPelny] [varchar](20) NULL,
	[CBN_Opis] [nvarchar](254) NULL,
	[CBN_Typ] [int] NULL,
	[CBN_DataRealizacji] [datetime] NULL,
 CONSTRAINT [CBN_Primary] PRIMARY KEY CLUSTERED 
(
	[CBN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiDelivery]

In [0]:
/****** Object:  Table [dbo].[CtiDelivery]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiDelivery](
	[CD_ID] [int] IDENTITY(1,1) NOT NULL,
	[CD_TwrId] [int] NOT NULL,
	[CD_KntId] [int] NOT NULL,
	[CD_DefaultProvider] [int] NOT NULL,
	[CD_MovePrice] [int] NOT NULL,
	[CD_Price] [decimal](18, 4) NOT NULL,
	[CD_MaxDeliveryTime] [int] NULL,
	[CD_OptimumDeliveryTime] [int] NULL,
	[CD_MinDeliveryTime] [int] NULL,
	[CD_MaxProductionTime] [int] NULL,
	[CD_OptimumProductionTime] [int] NULL,
	[CD_MinProductionTime] [int] NULL,
	[CD_MinDeliveryCost] [decimal](18, 4) NULL,
	[CD_MaxDeliveryCost] [decimal](18, 4) NULL,
	[CD_OptimumDeliveryCost] [decimal](18, 4) NULL,
	[CD_MinProductionCost] [decimal](18, 4) NULL,
	[CD_MaxProductionCost] [decimal](18, 4) NULL,
	[CD_OptimumProductionCost] [decimal](18, 4) NULL,
	[CD_MinDeliveryDescription] [varchar](max) NULL,
	[CD_MaxDeliveryDescription] [varchar](max) NULL,
	[CD_OptimumDeliveryDescription] [varchar](max) NULL,
	[CD_MinProductionDescription] [varchar](max) NULL,
	[CD_MaxProductionDescription] [varchar](max) NULL,
	[CD_OptimumProductionDescription] [varchar](max) NULL,
	[CD_MaxDeliveryTimeType] [int] NULL,
	[CD_OptimumDeliveryTimeType] [int] NULL,
	[CD_MinDeliveryTimeType] [int] NULL,
	[CD_MaxProductionTimeType] [int] NULL,
	[CD_OptimumProductionTimeType] [int] NULL,
	[CD_MinProductionTimeType] [int] NULL,
	[CD_Currency] [varchar](3) NULL,
	[CD_Description] [varchar](max) NULL,
	[CD_ExchangeRate] [decimal](18, 4) NULL,
	[CD_OrderBy] [decimal](18, 4) NULL,
	[CD_MinAmount] [decimal](18, 4) NULL,
	[CD_MaxAmount] [decimal](18, 4) NULL,
 CONSTRAINT [CD_Primary] PRIMARY KEY CLUSTERED 
(
	[CD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiDocumentSession]

In [0]:
/****** Object:  Table [dbo].[CtiDocumentSession]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiDocumentSession](
	[CDS_ID] [int] IDENTITY(1,1) NOT NULL,
	[CDS_DocType] [int] NOT NULL,
	[CDS_DocID] [int] NOT NULL,
	[CDS_OperID] [int] NOT NULL,
	[CDS_DocName] [nvarchar](1024) NULL,
 CONSTRAINT [CDS_Primary] PRIMARY KEY CLUSTERED 
(
	[CDS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiDokNrWlasny]

In [0]:
/****** Object:  Table [dbo].[CtiDokNrWlasny]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiDokNrWlasny](
	[DNW_DokTyp] [int] NOT NULL,
	[DNW_DokID] [int] NOT NULL,
	[DNW_Numer] [nvarchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[CtiDzial]

In [0]:
/****** Object:  Table [dbo].[CtiDzial]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiDzial](
	[CDZ_ID] [int] IDENTITY(1,1) NOT NULL,
	[CDZ_Kod] [varchar](50) NOT NULL,
	[CDZ_MagSId] [int] NULL,
	[CDZ_MagPId] [int] NULL,
 CONSTRAINT [CDZ_Primary] PRIMARY KEY CLUSTERED 
(
	[CDZ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiDzialPRC]

In [0]:
/****** Object:  Table [dbo].[CtiDzialPRC]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiDzialPRC](
	[DzP_CDZID] [int] NOT NULL,
	[DzP_PrcId] [int] NOT NULL
) ON [PRIMARY]
GO

# [dbo].[CtiExcelElem]

In [0]:
/****** Object:  Table [dbo].[CtiExcelElem]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiExcelElem](
	[CEE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CEE_CEHID] [int] NOT NULL,
	[CEE_Code] [varchar](1024) NOT NULL,
	[CEE_ImportType] [int] NOT NULL,
	[CEE_ElementType] [int] NOT NULL,
	[CEE_Value] [varchar](1024) NOT NULL,
 CONSTRAINT [CEE_Primary] PRIMARY KEY CLUSTERED 
(
	[CEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiExcelHeader]

In [0]:
/****** Object:  Table [dbo].[CtiExcelHeader]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiExcelHeader](
	[CEH_ID] [int] IDENTITY(1,1) NOT NULL,
	[CEH_Code] [varchar](1024) NOT NULL,
	[CEH_Sheet] [varchar](1024) NOT NULL,
	[CEH_Type] [int] NOT NULL,
	[CEH_ErrorAction] [int] NOT NULL,
	[CEH_SurowceColumnValue] [varchar](1024) NOT NULL,
	[CEH_KooperacjeColumnValue] [varchar](1024) NULL,
	[CEH_TypeColumn] [varchar](1024) NOT NULL,
	[CEH_LinesToSkip] [int] NOT NULL,
	[CEH_KooperacjeActive] [int] NOT NULL,
	[CEH_SurowceActive] [int] NOT NULL,
 CONSTRAINT [CEH_Primary] PRIMARY KEY CLUSTERED 
(
	[CEH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiExcelRow]

In [0]:
/****** Object:  Table [dbo].[CtiExcelRow]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiExcelRow](
	[CER_ID] [int] IDENTITY(1,1) NOT NULL,
	[CER_CESCID] [int] NOT NULL,
	[CER_FirstType] [int] NOT NULL,
	[CER_FirstValue] [varchar](1024) NOT NULL,
	[CER_SecondType] [int] NOT NULL,
	[CER_SecondValue] [varchar](1024) NOT NULL,
	[CER_Operator] [int] NOT NULL,
 CONSTRAINT [CER_Primary] PRIMARY KEY CLUSTERED 
(
	[CER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiExcelStopCondition]

In [0]:
/****** Object:  Table [dbo].[CtiExcelStopCondition]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiExcelStopCondition](
	[CESC_ID] [int] IDENTITY(1,1) NOT NULL,
	[CESC_CEHID] [int] NOT NULL,
	[CESC_Type] [int] NOT NULL,
 CONSTRAINT [CESC_Primary] PRIMARY KEY CLUSTERED 
(
	[CESC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiFormLayouts]

In [0]:
/****** Object:  Table [dbo].[CtiFormLayouts]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiFormLayouts](
	[CFL_ID] [int] IDENTITY(1,1) NOT NULL,
	[CFL_ProgramName] [varchar](512) NOT NULL,
	[CFL_FormName] [varchar](512) NOT NULL,
	[CFL_OperatorID] [int] NOT NULL,
	[CFL_JSON] [varchar](max) NOT NULL,
	[CFL_WorkstationID] [int] NOT NULL,
 CONSTRAINT [Pk_CFL_CtiFormLayouts] PRIMARY KEY CLUSTERED 
(
	[CFL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiGridCustomLayouts]

In [0]:
/****** Object:  Table [dbo].[CtiGridCustomLayouts]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiGridCustomLayouts](
	[CGCL_ID] [int] IDENTITY(1,1) NOT NULL,
	[CGCL_CustomName] [varchar](100) NOT NULL,
	[CGCL_ProgramName] [varchar](512) NOT NULL,
	[CGCL_GridName] [varchar](512) NOT NULL,
	[CGCL_OperatorID] [int] NULL,
	[CGCL_JSON] [varchar](max) NOT NULL,
 CONSTRAINT [Pk_CGCL_CtiGridLayouts] PRIMARY KEY CLUSTERED 
(
	[CGCL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiGridLayouts]

In [0]:
/****** Object:  Table [dbo].[CtiGridLayouts]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiGridLayouts](
	[CGL_ID] [int] IDENTITY(1,1) NOT NULL,
	[CGL_ProgramName] [varchar](512) NOT NULL,
	[CGL_GridName] [varchar](512) NOT NULL,
	[CGL_OperatorID] [int] NOT NULL,
	[CGL_JSON] [varchar](max) NOT NULL,
 CONSTRAINT [Pk_CGL_CtiGridLayouts] PRIMARY KEY CLUSTERED 
(
	[CGL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiHistoriaAktualizacjiProg]

In [0]:
/****** Object:  Table [dbo].[CtiHistoriaAktualizacjiProg]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiHistoriaAktualizacjiProg](
	[HAP_ID] [int] IDENTITY(1,1) NOT NULL,
	[HAP_Program] [varchar](500) NOT NULL,
	[HAP_Data] [datetime] NOT NULL,
	[HAP_Wersja] [varchar](1000) NOT NULL,
	[HAP_Stanowisko] [varchar](1000) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[CtiHolidays]

In [0]:
/****** Object:  Table [dbo].[CtiHolidays]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiHolidays](
	[CH_ID] [int] IDENTITY(1,1) NOT NULL,
	[CH_Date] [datetime] NOT NULL,
 CONSTRAINT [CH_Primary] PRIMARY KEY CLUSTERED 
(
	[CH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiIconPacks]

In [0]:
/****** Object:  Table [dbo].[CtiIconPacks]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiIconPacks](
	[PCK_ID] [int] IDENTITY(1,1) NOT NULL,
	[PCK_Nazwa] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PCK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiIcons]

In [0]:
/****** Object:  Table [dbo].[CtiIcons]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiIcons](
	[ICO_ID] [int] IDENTITY(1,1) NOT NULL,
	[ICO_PckID] [int] NOT NULL,
	[ICO_IkonaNazwa] [varchar](255) NOT NULL,
	[ICO_Wartosc] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[ICO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiImpDokKonfig]

In [0]:
/****** Object:  Table [dbo].[CtiImpDokKonfig]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiImpDokKonfig](
	[KNF_Nazwa] [varchar](255) NOT NULL,
	[KNF_Wartosc] [nvarchar](max) NULL,
UNIQUE NONCLUSTERED 
(
	[KNF_Nazwa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiImpDokSchematy]

In [0]:
/****** Object:  Table [dbo].[CtiImpDokSchematy]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiImpDokSchematy](
	[SCH_ID] [int] IDENTITY(1,1) NOT NULL,
	[SCH_NazwaWlasna] [varchar](255) NOT NULL,
	[SCH_TypPliku] [int] NOT NULL,
	[SCH_SeparatorWiersza] [int] NOT NULL,
	[SCH_SeparatorWierszaZnak] [varchar](20) NOT NULL,
	[SCH_SeparatorKolumnyZnak] [varchar](20) NOT NULL,
	[SCH_KontrahentTyp] [int] NOT NULL,
	[SCH_KontrahentSzczegoly] [varchar](255) NOT NULL,
	[SCH_KolumnaGrupujaca] [int] NOT NULL,
	[SCH_KolumnaGrupujacaSzczegoly] [varchar](255) NOT NULL,
	[SCH_TypGrupowania] [int] NOT NULL,
	[SCH_TypTabeli] [int] NOT NULL,
	[SCH_TypDokumentu] [int] NOT NULL,
	[SCH_PozycjaIlosc] [int] NOT NULL,
	[SCH_PozycjaIloscSzczegoly] [varchar](255) NOT NULL,
	[SCH_PozycjaKod] [int] NOT NULL,
	[SCH_PozycjaKodSzczegoly] [varchar](255) NOT NULL,
	[SCH_PozycjaWartosc] [int] NOT NULL,
	[SCH_PozycjaWartoscSzczegoly] [varchar](255) NOT NULL,
	[SCH_PozycjaWaluta] [int] NOT NULL,
	[SCH_PozycjaWalutaSzczegoly] [varchar](255) NOT NULL,
	[SCH_DokumentWaluta] [int] NOT NULL,
	[SCH_DokumentWalutaSzczegoly] [varchar](255) NOT NULL,
	[SCH_PozycjaWartoscWzor] [text] NULL,
	[SCH_PominXWierszy] [int] NOT NULL,
	[SCH_GrupowanieKolumnaNumer] [int] NOT NULL,
	[SCH_GrupowanieKolumnaWartosc] [varchar](255) NOT NULL,
	[SCH_BladOdczytu] [int] NOT NULL,
	[SCH_ZapisujWynikiDoKolumny] [tinyint] NOT NULL,
	[SCH_ZapisujWynikiDoKolumnyNumer] [int] NOT NULL,
	[SCH_RozpoznawaniePozycji] [int] NOT NULL,
	[SCH_RozpoznawaniePozycjiAtrybut] [varchar](255) NOT NULL,
	[SCH_RozpoznawaniePozycjiAtrKolumna] [int] NOT NULL,
	[SCH_NumerObcy] [int] NOT NULL,
	[SCH_NumerObcyKolumna] [int] NOT NULL,
	[SCH_NumerObcyWskazany] [varchar](255) NOT NULL,
	[SCH_NumerObcySQL] [nvarchar](max) NOT NULL,
	[SCH_SymbolDokumentu] [varchar](40) NOT NULL,
	[SCH_KontrolujNumerObcy] [tinyint] NOT NULL,
	[SCH_DataWystawienia] [int] NOT NULL,
	[SCH_DataWystawieniaKolumna] [int] NOT NULL,
	[SCH_DataWystawieniaKomorkaKolumna] [int] NOT NULL,
	[SCH_DataWystawieniaKomorkaWiersz] [int] NOT NULL,
	[SCH_PozycjaWartoscTypNB] [int] NOT NULL,
	[SCH_RaportBledow] [tinyint] NOT NULL,
	[SCH_PozycjaAtrybutyWzor] [text] NULL,
	[SCH_OdbiorcaTyp] [int] NOT NULL,
	[SCH_OdbiorcaSzczegoly] [varchar](255) NOT NULL,
	[SCH_KategoriaZrodlo] [int] NOT NULL,
	[SCH_KategoriaSzczegoly] [varchar](255) NOT NULL,
	[SCH_TerminPlatnosciZrodlo] [int] NOT NULL,
	[SCH_TerminPlatnosciSzczegoly] [varchar](255) NOT NULL,
	[SCH_DataOperacjiZrodlo] [int] NOT NULL,
	[SCH_DataOperacjiSzczegoly] [varchar](255) NOT NULL,
	[SCH_Parametr1] [varchar](255) NOT NULL,
	[SCH_Parametr1Typ] [int] NOT NULL,
	[SCH_NaglowekWartoscWzor] [text] NULL,
	[SCH_PozycjaOpis] [int] NOT NULL,
	[SCH_PozycjaOpisSzczegoly] [varchar](255) NOT NULL,
	[SCH_KontrahentSQL] [nvarchar](max) NOT NULL,
	[SCH_KodMagazynuZrodlo] [int] NOT NULL,
	[SCH_KodMagazynuSzczegoly] [varchar](255) NOT NULL,
	[SCH_OdbiorcaSQL] [nvarchar](max) NOT NULL,
	[SCH_PozycjaDodatkowa] [nvarchar](max) NOT NULL,
	[SCH_Parametr2] [varchar](255) NOT NULL,
	[SCH_Parametr2Typ] [int] NOT NULL,
	[SCH_DokumentOpis] [int] NOT NULL,
	[SCH_DokumentOpisSzczegoly] [varchar](255) NOT NULL,
	[SCH_DokumentPlatnoscTyp] [int] NOT NULL,
	[SCH_DokumentPlatnoscSzczegoly] [varchar](255) NOT NULL,
	[SCH_KolumnaKntKod] [varchar](255) NOT NULL,
	[SCH_KolumnaKntNazwa] [varchar](255) NOT NULL,
	[SCH_KolumnaKntNIP] [varchar](255) NOT NULL,
	[SCH_DokumentPlatnoscSQL] [varchar](255) NOT NULL,
	[SCH_PozycjaStawkaVAT] [varchar](255) NOT NULL,
	[SCH_PozycjaStawkaVATKolumna] [varchar](255) NOT NULL,
	[SCH_PozycjaStawkaVATSQL] [varchar](255) NOT NULL,
	[SCH_IntrastatKodTransakcji] [varchar](255) NOT NULL,
	[SCH_IntrastatKodTransakcjiKolumna] [varchar](255) NOT NULL,
	[SCH_IntrastatKodTransakcjiSQL] [varchar](255) NOT NULL,
	[SCH_IntrastatKodKraju] [varchar](255) NOT NULL,
	[SCH_IntrastatKodKrajuKolumna] [varchar](255) NOT NULL,
	[SCH_IntrastatDataWywozu] [varchar](255) NOT NULL,
	[SCH_IntrastatDataWywozuKolumna] [varchar](255) NOT NULL,
	[SCH_DokumentDataKursuKolumna] [varchar](255) NOT NULL,
	[SCH_DokumentDataKursu] [varchar](255) NOT NULL,
	[SCH_DokumentDataKursuSQL] [varchar](255) NOT NULL,
	[SCH_KontrahentPobierajPrefix] [tinyint] NOT NULL,
	[SCH_KontrahentUstawiajPLBrakPrefixu] [tinyint] NOT NULL,
	[SCH_DokumentSeriaUstawiaj] [tinyint] NOT NULL,
	[SCH_DokumentSeria] [varchar](255) NOT NULL,
	[SCH_ZrodloTyp] [tinyint] NOT NULL,
	[SCH_DaneFTP] [varchar](1024) NOT NULL,
	[SCH_KatalogFTP] [varchar](512) NOT NULL,
	[SCH_PobieraniePliku] [tinyint] NOT NULL,
	[SCH_CorrectCatalog] [varchar](255) NOT NULL,
	[SCH_FaultCatalog] [varchar](255) NOT NULL,
	[SCH_PozycjaJM] [varchar](255) NOT NULL,
	[SCH_PozycjaJMKolumna] [varchar](255) NOT NULL,
	[SCH_PozycjaJMSQL] [varchar](1024) NOT NULL,
	[SCH_DokumentDokPowKolumna] [varchar](255) NOT NULL,
	[SCH_DokumentDokPow] [varchar](255) NOT NULL,
	[SCH_DokumentDokPowSQL] [varchar](1024) NOT NULL,
	[SCH_PozycjaCechyWzor] [text] NULL,
	[SCH_PozycjaKodSQL] [text] NULL,
	[SCH_TworzDokPdstPow] [tinyint] NOT NULL,
	[SCH_DokumentPlatnosciTyp] [int] NOT NULL,
	[SCH_KodMagazynuZrdZrodlo] [int] NOT NULL,
	[SCH_KodMagazynuZrdSzczegoly] [varchar](255) NOT NULL,
	[SCH_ROWewnetrzne] [int] NOT NULL,
 CONSTRAINT [SCH_Primary] PRIMARY KEY CLUSTERED 
(
	[SCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiImpDokSchematyRejVAT]

In [0]:
/****** Object:  Table [dbo].[CtiImpDokSchematyRejVAT]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiImpDokSchematyRejVAT](
	[SCHRV_ID] [int] IDENTITY(1,1) NOT NULL,
	[SCHRV_NazwaWlasna] [varchar](255) NOT NULL,
	[SCHRV_TypPliku] [int] NOT NULL,
	[SCHRV_TypTabeli] [int] NOT NULL,
	[SCHRV_TypDokument] [int] NOT NULL,
	[SCHRV_ZrodloTyp] [tinyint] NOT NULL,
	[SCHRV_PobieraniePliku] [tinyint] NOT NULL,
	[SCHRV_KatalogFTP] [varchar](1024) NOT NULL,
	[SCHRV_DaneFTP] [varchar](1024) NOT NULL,
	[SCHRV_CorrectCatalog] [varchar](1024) NOT NULL,
	[SCHRV_FaultCatalog] [varchar](1024) NOT NULL,
	[SCHRV_PominXWierszy] [int] NOT NULL,
	[SCHRV_BladOdczytu] [int] NOT NULL,
	[SCHRV_RaportBledow] [tinyint] NOT NULL,
	[SCHRV_SeparatorWiersza] [int] NOT NULL,
	[SCHRV_SeparatorWierszaZnak] [varchar](20) NOT NULL,
	[SCHRV_KolumnaGrupujaca] [int] NOT NULL,
	[SCHRV_KolumnaGrupujacaSzczegoly] [varchar](255) NOT NULL,
	[SCHRV_SeparatorKolumnyZnak] [varchar](20) NOT NULL,
	[SCHRV_ZapisujWynikiDoKolumny] [tinyint] NOT NULL,
	[SCHRV_ZapisujWynikiDoKolumnyNumer] [int] NOT NULL,
	[SCHRV_TypGrupowania] [int] NOT NULL,
	[SCHRV_GrupowanieKolumnaNumer] [int] NOT NULL,
	[SCHRV_GrupowanieKolumnaWartosc] [varchar](255) NOT NULL,
	[SCHRV_KontrahentTyp] [int] NOT NULL,
	[SCHRV_KontrahentSzczegoly] [varchar](255) NOT NULL,
	[SCHRV_KontrahentSQL] [nvarchar](max) NOT NULL,
	[SCHRV_KolumnaKntKod] [varchar](255) NOT NULL,
	[SCHRV_KolumnaKntNazwa] [varchar](255) NOT NULL,
	[SCHRV_KolumnaKntNIP] [varchar](255) NOT NULL,
	[SCHRV_KontrahentPobierajPrefix] [tinyint] NOT NULL,
	[SCHRV_KontrahentUstawiajPLBrakPrefixu] [tinyint] NOT NULL,
	[SCHRV_DokumentKategoria] [int] NOT NULL,
	[SCHRV_DokumentKategoriaKolumna] [int] NOT NULL,
	[SCHRV_DokumentKategoriaSQL] [nvarchar](max) NOT NULL,
	[SCHRV_PlatnikTyp] [int] NOT NULL,
	[SCHRV_PlatnikKod] [varchar](255) NOT NULL,
	[SCHRV_PlatnikKolumna] [int] NOT NULL,
	[SCHRV_PlatnikSQL] [nvarchar](max) NOT NULL,
	[SCHRV_Rejestr] [int] NOT NULL,
	[SCHRV_RejestrKod] [varchar](255) NOT NULL,
	[SCHRV_RejestrKolumna] [int] NOT NULL,
	[SCHRV_RejestrSQL] [nvarchar](max) NOT NULL,
	[SCHRV_DokumentNumerDokumentu] [int] NOT NULL,
	[SCHRV_DokumentNumerDokumentuKolumna] [int] NOT NULL,
	[SCHRV_DokumentNumerDokumentuSQL] [nvarchar](max) NOT NULL,
	[SCHRV_DokumentDataWystawienia] [int] NOT NULL,
	[SCHRV_DokumentDataWystawieniaKolumna] [int] NOT NULL,
	[SCHRV_DokumentDataWystawieniaSQL] [nvarchar](max) NOT NULL,
	[SCHRV_DokumentDataOperacji] [int] NOT NULL,
	[SCHRV_DokumentDataOperacjiKolumna] [int] NOT NULL,
	[SCHRV_DokumentDataOperacjiSQL] [nvarchar](max) NOT NULL,
	[SCHRV_DokumentDataObowPodat] [int] NOT NULL,
	[SCHRV_DokumentDataObowPodatKolumna] [int] NOT NULL,
	[SCHRV_DokumentDataObowPodatSQL] [nvarchar](max) NOT NULL,
	[SCHRV_DokumentDataPrawoOdl] [int] NOT NULL,
	[SCHRV_DokumentDataPrawoOdlKolumna] [int] NOT NULL,
	[SCHRV_DokumentDataPrawoOdlSQL] [nvarchar](max) NOT NULL,
	[SCHRV_DokumentFormaPlatnosci] [int] NOT NULL,
	[SCHRV_DokumentFormaPlatnosciKod] [varchar](255) NOT NULL,
	[SCHRV_DokumentFormaPlatnosciKolumna] [int] NOT NULL,
	[SCHRV_DokumentFormaPlatnosciSQL] [nvarchar](max) NOT NULL,
	[SCHRV_DokumentTerminPlatnosci] [int] NOT NULL,
	[SCHRV_DokumentTerminPlatnosciKolumna] [int] NOT NULL,
	[SCHRV_DokumentTerminPlatnosciSQL] [nvarchar](max) NOT NULL,
	[SCHRV_PozycjaKategoria] [int] NOT NULL,
	[SCHRV_PozycjaKategoriaKolumna] [int] NOT NULL,
	[SCHRV_PozycjaKategoriaSQL] [nvarchar](max) NOT NULL,
	[SCHRV_PozycjaOpis] [int] NOT NULL,
	[SCHRV_PozycjaOpisKolumna] [int] NOT NULL,
	[SCHRV_PozycjaOpisSQL] [nvarchar](max) NOT NULL,
	[SCHRV_PozycjaStawkaVAT] [int] NOT NULL,
	[SCHRV_PozycjaStawkaVATKolumna] [int] NOT NULL,
	[SCHRV_PozycjaStawkaVATSQL] [nvarchar](max) NOT NULL,
	[SCHRV_PozycjaRodzaj] [int] NOT NULL,
	[SCHRV_PozycjaRodzajKolumna] [int] NOT NULL,
	[SCHRV_PozycjaRodzajSQL] [nvarchar](max) NOT NULL,
	[SCHRV_PozycjaWartosc] [int] NOT NULL,
	[SCHRV_PozycjaWartoscKolumna] [int] NOT NULL,
	[SCHRV_PozycjaWartoscWzor] [nvarchar](max) NOT NULL,
	[SCHRV_PozycjaWartoscTypNB] [int] NOT NULL,
	[SCHRV_PozycjaRodzajKod] [varchar](255) NOT NULL,
	[SCHRV_DokumentNumerDokumentuKod] [varchar](255) NOT NULL,
	[SCHRV_KontrahentDaneGUSVIES] [tinyint] NOT NULL,
	[SCHRV_DokumentTransakcjaFiskalna] [int] NOT NULL,
	[SCHRV_DokumentTransakcjaFiskalnaKolumna] [int] NOT NULL,
	[SCHRV_DokumentTransakcjaFiskalnaSQL] [nvarchar](max) NOT NULL,
	[SCHRV_DokumentRozliczacVAT] [int] NOT NULL,
	[SCHRV_DokumentRozliczacVATKolumna] [int] NOT NULL,
	[SCHRV_DokumentRozliczacVATSQL] [nvarchar](max) NOT NULL,
	[SCHRV_DokumentNotatkiVAT] [int] NOT NULL,
	[SCHRV_DokumentNotatkiKolumna] [int] NOT NULL,
	[SCHRV_DokumentNotatkiSQL] [nvarchar](max) NOT NULL,
	[SCHRV_DokumentAtrybutyWzor] [nvarchar](max) NOT NULL,
	[SCHRV_PozycjaKategoria2] [int] NOT NULL,
	[SCHRV_PozycjaKategoria2Kolumna] [int] NOT NULL,
	[SCHRV_PozycjaKategoria2SQL] [nvarchar](max) NOT NULL,
	[SCHRV_PozycjaOpis2] [int] NOT NULL,
	[SCHRV_PozycjaOpis2Kolumna] [int] NOT NULL,
	[SCHRV_PozycjaOpis2SQL] [nvarchar](max) NOT NULL,
	[SCHRV_PozycjaUwzglWProporcji] [int] NOT NULL,
	[SCHRV_PozycjaUwzglWProporcjiKolumna] [int] NOT NULL,
	[SCHRV_PozycjaUwzglWProporcjiSQL] [nvarchar](max) NOT NULL,
	[SCHRV_PozycjaUwzglWProporcjiKod] [varchar](255) NOT NULL,
	[SCHRV_DokumentWaluta] [int] NOT NULL,
	[SCHRV_DokumentWalutaKod] [varchar](255) NOT NULL,
	[SCHRV_DokumentWalutaKolumna] [int] NOT NULL,
	[SCHRV_DokumentWalutaSQL] [nvarchar](max) NOT NULL,
 CONSTRAINT [SCHRV_Primary] PRIMARY KEY CLUSTERED 
(
	[SCHRV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiImpDokZadania]

In [0]:
/****** Object:  Table [dbo].[CtiImpDokZadania]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiImpDokZadania](
	[TSK_ID] [int] IDENTITY(1,1) NOT NULL,
	[TSK_TaskID] [int] NOT NULL,
	[TSK_LastRun] [datetime] NULL,
	[TSK_NextRun] [datetime] NULL,
	[TSK_RunDays] [varchar](200) NOT NULL,
	[TSK_RunEvery] [int] NOT NULL,
	[TSK_RunType] [int] NOT NULL,
	[TSK_TrybHarmonogramu] [tinyint] NOT NULL,
	[TSK_GUID] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[TSK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiImpDokZadaniaSzczegoly]

In [0]:
/****** Object:  Table [dbo].[CtiImpDokZadaniaSzczegoly]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiImpDokZadaniaSzczegoly](
	[KNF_TskID] [int] NOT NULL,
	[KNF_Nazwa] [varchar](255) NOT NULL,
	[KNF_Wartosc] [varchar](5000) NULL
) ON [PRIMARY]
GO

# [dbo].[CtiKnfNrWlasny]

In [0]:
/****** Object:  Table [dbo].[CtiKnfNrWlasny]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiKnfNrWlasny](
	[KNW_ID] [int] IDENTITY(1,1) NOT NULL,
	[KNW_DokTyp] [int] NULL,
	[KNW_Domyslny] [tinyint] NULL,
	[KNW_Opis] [varchar](254) NULL,
	[KNW_DefinicjaSQL1] [nvarchar](1000) NULL,
	[KNW_DefinicjaSQL2] [nvarchar](1000) NULL,
	[KNW_DefinicjaSQL3] [nvarchar](2000) NULL,
	[KNW_OperModyf] [int] NULL,
	[KNW_DataModyf] [datetime] NULL,
 CONSTRAINT [KNW_Primary] PRIMARY KEY CLUSTERED 
(
	[KNW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiKompletacjaNag]

In [0]:
/****** Object:  Table [dbo].[CtiKompletacjaNag]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiKompletacjaNag](
	[KPN_ID] [int] IDENTITY(1,1) NOT NULL,
	[KPN_ZPID] [int] NOT NULL,
	[KPN_DataUtworzenia] [datetime] NOT NULL,
	[KPN_OperatorID] [int] NOT NULL,
 CONSTRAINT [KPN_Primary] PRIMARY KEY CLUSTERED 
(
	[KPN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiKompletacjaSurowiec]

In [0]:
/****** Object:  Table [dbo].[CtiKompletacjaSurowiec]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiKompletacjaSurowiec](
	[KPS_ID] [int] IDENTITY(1,1) NOT NULL,
	[KPS_KPNID] [int] NOT NULL,
	[KPS_KPWID] [int] NOT NULL,
	[KPS_ZPID] [int] NOT NULL,
	[KPS_IloscSurowca] [decimal](15, 4) NOT NULL,
	[KPS_TwrID] [int] NOT NULL,
	[KPS_TwrKod] [varchar](255) NOT NULL,
	[KPS_TwrNazwa] [varchar](255) NOT NULL,
	[KPS_TrnID] [int] NOT NULL,
	[KPS_TrnNumer] [varchar](255) NOT NULL,
	[KPS_Cecha1ID] [int] NULL,
	[KPS_Cecha1Kod] [varchar](255) NULL,
	[KPS_Cecha1Wartosc] [varchar](255) NULL,
	[KPS_Cecha2ID] [int] NULL,
	[KPS_Cecha2Kod] [varchar](255) NULL,
	[KPS_Cecha2Wartosc] [varchar](255) NULL,
 CONSTRAINT [KPS_Primary] PRIMARY KEY CLUSTERED 
(
	[KPS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiKompletacjaWyrob]

In [0]:
/****** Object:  Table [dbo].[CtiKompletacjaWyrob]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiKompletacjaWyrob](
	[KPW_ID] [int] IDENTITY(1,1) NOT NULL,
	[KPW_KPNID] [int] NOT NULL,
	[KPW_ZPID] [int] NOT NULL,
	[KPW_IloscWyrobu] [decimal](15, 4) NOT NULL,
	[KPW_TwrID] [int] NOT NULL,
	[KPW_TwrKod] [varchar](255) NOT NULL,
	[KPW_TwrNazwa] [varchar](255) NOT NULL,
	[KPW_TrnID] [int] NOT NULL,
	[KPW_TrnNumer] [varchar](255) NOT NULL,
	[KPW_Cecha1ID] [int] NULL,
	[KPW_Cecha1Kod] [varchar](255) NULL,
	[KPW_Cecha1Wartosc] [varchar](255) NULL,
	[KPW_Cecha2ID] [int] NULL,
	[KPW_Cecha2Kod] [varchar](255) NULL,
	[KPW_Cecha2Wartosc] [varchar](255) NULL,
 CONSTRAINT [KPW_Primary] PRIMARY KEY CLUSTERED 
(
	[KPW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiKonfAtrybutDokumentu]

In [0]:
/****** Object:  Table [dbo].[CtiKonfAtrybutDokumentu]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiKonfAtrybutDokumentu](
	[KAD_ID] [int] IDENTITY(1,1) NOT NULL,
	[KAD_AtrybutID] [int] NOT NULL,
	[KAD_WzorNaWartosc] [varchar](5000) NOT NULL,
	[KAD_DokumentTyp] [int] NOT NULL,
 CONSTRAINT [Pk_CtiKonfAtrybutDokumentu] PRIMARY KEY CLUSTERED 
(
	[KAD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiKonfigJM]

In [0]:
/****** Object:  Table [dbo].[CtiKonfigJM]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiKonfigJM](
	[CKJ_Lp] [int] NULL,
	[CKJ_Typ] [int] NULL,
	[CKJ_Nazwa] [nchar](10) NULL
) ON [PRIMARY]
GO

# [dbo].[CtiKonfigMag]

In [0]:
/****** Object:  Table [dbo].[CtiKonfigMag]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiKonfigMag](
	[KnM_PraId] [int] NOT NULL,
	[KnM_MagSId] [int] NULL,
	[KnM_MagPId] [int] NULL,
 CONSTRAINT [KnM_Primary] PRIMARY KEY CLUSTERED 
(
	[KnM_PraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiKonfigOgraniczenia]

In [0]:
/****** Object:  Table [dbo].[CtiKonfigOgraniczenia]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiKonfigOgraniczenia](
	[KnO_IdList] [int] NOT NULL,
	[KnO_Parametr] [int] NULL,
	[KnO_WartoscId] [int] NULL,
	[KnO_WartoscTxt] [varchar](250) NULL,
	[KnO_WartoscAtrTxt] [nvarchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[CtiKonfigSesja]

In [0]:
/****** Object:  Table [dbo].[CtiKonfigSesja]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiKonfigSesja](
	[KnS_Id] [int] IDENTITY(1,1) NOT NULL,
	[KnS_Typ] [tinyint] NULL,
	[KnS_COId] [int] NULL,
	[KnS_Data] [datetime] NULL,
 CONSTRAINT [PK_CtiKonfigSesja] PRIMARY KEY CLUSTERED 
(
	[KnS_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiKonfiguracja]

In [0]:
/****** Object:  Table [dbo].[CtiKonfiguracja]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiKonfiguracja](
	[KNF_Numer] [int] NOT NULL,
	[KNF_Wartosc] [nvarchar](200) NULL,
	[KNF_Opis] [varchar](254) NULL,
 CONSTRAINT [KNF_Primary] PRIMARY KEY CLUSTERED 
(
	[KNF_Numer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiKonfiguracja2]

In [0]:
/****** Object:  Table [dbo].[CtiKonfiguracja2]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiKonfiguracja2](
	[KNF_Numer] [int] NOT NULL,
	[KNF_Wartosc] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiKonfigWydruk]

In [0]:
/****** Object:  Table [dbo].[CtiKonfigWydruk]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiKonfigWydruk](
	[KNF_Pozycja] [varchar](200) NULL,
	[KNF_Wartosc] [text] NULL,
	[KNF_Typ] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CTIKontaRejestrow]

In [0]:
/****** Object:  Table [dbo].[CTIKontaRejestrow]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTIKontaRejestrow](
	[ckr_ckrID] [int] IDENTITY(1,1) NOT NULL,
	[ckr_BRaId] [int] NOT NULL,
	[ckr_KontoRejestru] [varchar](50) NOT NULL,
	[ckr_KontoDlaWplat] [varchar](50) NOT NULL,
	[ckr_KontoDlaWyplat] [varchar](50) NOT NULL,
	[ckr_SymbolFK] [varchar](20) NULL,
 CONSTRAINT [ckr_Primary] PRIMARY KEY CLUSTERED 
(
	[ckr_ckrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiKontrahentGusDane]

In [0]:
/****** Object:  Table [dbo].[CtiKontrahentGusDane]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiKontrahentGusDane](
	[KGD_ID] [int] IDENTITY(1,1) NOT NULL,
	[KGD_Nip] [varchar](10) NOT NULL,
	[KGD_StatusNip] [varchar](1) NULL,
	[KGD_Nazwa] [varchar](2000) NOT NULL,
	[KGD_Wojewodztwo] [varchar](200) NOT NULL,
	[KGD_Powiat] [varchar](200) NOT NULL,
	[KGD_Gmina] [varchar](200) NOT NULL,
	[KGD_Miejscowosc] [varchar](200) NOT NULL,
	[KGD_KodPocztowy] [varchar](12) NOT NULL,
	[KGD_Ulica] [varchar](200) NOT NULL,
	[KGD_NrNieruchomosci] [varchar](20) NOT NULL,
	[KGD_NrLokalu] [varchar](10) NULL,
	[KGD_Typ] [varchar](2) NULL,
	[KGD_MiejscowoscPoczty] [varchar](200) NULL,
	[KGD_Regon] [varchar](14) NULL,
	[KGD_DataZakonczeniaDzialalnosci] [date] NULL,
	[KGD_DataAktualizacjiDanych] [datetime] NOT NULL,
 CONSTRAINT [PK_CtiKontrahentGusDane] PRIMARY KEY CLUSTERED 
(
	[KGD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[KGD_Nip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiKontrahentViesDane]

In [0]:
/****** Object:  Table [dbo].[CtiKontrahentViesDane]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiKontrahentViesDane](
	[KVD_ID] [int] IDENTITY(1,1) NOT NULL,
	[KVD_IsoKraj] [varchar](2) NOT NULL,
	[KVD_Nip] [varchar](20) NOT NULL,
	[KVD_Nazwa] [varchar](2000) NULL,
	[KVD_Miejscowosc] [varchar](200) NULL,
	[KVD_KodPocztowy] [varchar](12) NULL,
	[KVD_Ulica] [varchar](200) NULL,
	[KVD_NrNieruchomosci] [varchar](20) NULL,
	[KVD_NrLokalu] [varchar](10) NULL,
	[KVD_DataAktualizacjiDanych] [datetime] NOT NULL,
 CONSTRAINT [PK_CtiKontrahentViesDane] PRIMARY KEY CLUSTERED 
(
	[KVD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_Kontrahent] UNIQUE NONCLUSTERED 
(
	[KVD_IsoKraj] ASC,
	[KVD_Nip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiLogImportExcel]

In [0]:
/****** Object:  Table [dbo].[CtiLogImportExcel]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiLogImportExcel](
	[CLIE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLIE_NazwaPliku] [varchar](max) NULL,
	[CLIE_Data] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiMaszyna]

In [0]:
/****** Object:  Table [dbo].[CtiMaszyna]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiMaszyna](
	[Mas_ID] [int] IDENTITY(1,1) NOT NULL,
	[Mas_DokID] [int] NOT NULL,
	[Mas_DokElemID] [int] NOT NULL,
	[Mas_DokNumer] [varchar](31) NOT NULL,
	[Mas_Ilosc] [decimal](15, 4) NOT NULL,
	[Mas_KodSurowca] [varchar](40) NULL,
	[Mas_NazwaSurowca] [varchar](255) NOT NULL,
	[Mas_NRZbiornika] [varchar](50) NULL,
	[Mas_AtrSurowca] [varchar](100) NULL,
	[Mas_Status] [smallint] NOT NULL,
	[Mas_DataMod] [datetime] NOT NULL,
 CONSTRAINT [Pk_CtiMaszyna] PRIMARY KEY CLUSTERED 
(
	[Mas_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiMaszynaRealizacja]

In [0]:
/****** Object:  Table [dbo].[CtiMaszynaRealizacja]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiMaszynaRealizacja](
	[Mar_ID] [int] IDENTITY(1,1) NOT NULL,
	[Mar_MasID] [int] NOT NULL,
	[Mar_Ilosc] [decimal](18, 4) NOT NULL,
	[Mar_CzasCalkowity] [int] NOT NULL,
	[Mar_Status] [smallint] NOT NULL,
	[Mar_DataMod] [datetime] NOT NULL,
 CONSTRAINT [Pk_CtiMaszynaRealizacja] PRIMARY KEY CLUSTERED 
(
	[Mar_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiMaszynaZasoby]

In [0]:
/****** Object:  Table [dbo].[CtiMaszynaZasoby]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiMaszynaZasoby](
	[Maz_ID] [int] IDENTITY(1,1) NOT NULL,
	[Maz_CZNID] [int] NOT NULL,
	[Maz_CZSID] [int] NOT NULL,
	[Maz_CzasZadany] [int] NOT NULL,
 CONSTRAINT [Pk_CtiMaszynaZasoby] PRIMARY KEY CLUSTERED 
(
	[Maz_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiMontazDok]

In [0]:
/****** Object:  Table [dbo].[CtiMontazDok]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiMontazDok](
	[CMD_ID] [int] IDENTITY(1,1) NOT NULL,
	[CMD_PrdKod] [varchar](100) NULL,
	[CMD_PrdId] [int] NULL,
	[CMD_CZNId] [int] NULL,
	[CMD_CTNId] [int] NULL,
	[CMD_CMHId] [int] NULL,
	[CMD_RWId] [int] NULL,
	[CMD_PWId] [int] NULL,
	[CMD_DataWyst] [datetime] NULL,
	[CMD_DataStart] [datetime] NULL,
	[CMD_DataKoniec] [datetime] NULL,
	[CMD_Status] [int] NULL,
	[CMD_PracownikId] [int] NULL,
	[CMD_Ilosc] [decimal](15, 4) NULL,
 CONSTRAINT [CMD_Primary] PRIMARY KEY CLUSTERED 
(
	[CMD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiMontazHist]

In [0]:
/****** Object:  Table [dbo].[CtiMontazHist]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiMontazHist](
	[CMH_ID] [int] IDENTITY(1,1) NOT NULL,
	[CMH_KodWprow] [nvarchar](250) NULL,
	[CMH_Status] [int] NULL,
	[CMH_Data] [datetime] NULL,
	[CMH_DataKontr] [datetime] NULL,
	[CMH_NrStanowiska] [int] NULL,
	[CMH_PrcId] [int] NULL,
	[CMH_Kod] [varchar](50) NULL,
	[CMH_Dzialanie] [int] NULL,
	[CMH_CZNID] [int] NULL,
	[CMH_TwrIdWprow] [int] NULL,
	[CMH_TwrLp] [int] NULL,
	[CMH_TwrIdPopr] [int] NULL,
	[CMH_DokStatus] [int] NULL,
	[CMH_DokInfo] [text] NULL,
	[CMH_DokRWID] [int] NULL,
	[CMH_DokPWID] [int] NULL,
	[CMH_PrdKod] [varchar](100) NULL,
 CONSTRAINT [CMH_Primary] PRIMARY KEY CLUSTERED 
(
	[CMH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiMontazStanowiska]

In [0]:
/****** Object:  Table [dbo].[CtiMontazStanowiska]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiMontazStanowiska](
	[CMS_Nr] [int] NOT NULL,
	[CMS_Kod] [varchar](10) NULL,
	[CMS_Nazwa] [varchar](50) NULL,
 CONSTRAINT [CMS_Primary] PRIMARY KEY CLUSTERED 
(
	[CMS_Nr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiOperatorSQLFilter]

In [0]:
/****** Object:  Table [dbo].[CtiOperatorSQLFilter]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiOperatorSQLFilter](
	[COSF_ID] [int] IDENTITY(1,1) NOT NULL,
	[COSF_OPID] [int] NOT NULL,
	[COSF_ListID] [int] NOT NULL,
	[COSF_Active] [int] NOT NULL,
	[COSF_SQL] [varchar](1024) NOT NULL,
 CONSTRAINT [COSF_Primary] PRIMARY KEY CLUSTERED 
(
	[COSF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiOperatorzy]

In [0]:
/****** Object:  Table [dbo].[CtiOperatorzy]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiOperatorzy](
	[CO_ID] [int] IDENTITY(1,1) NOT NULL,
	[CO_Kod] [varchar](20) NOT NULL,
	[CO_Administrator] [tinyint] NULL,
	[CO_Magazynier] [tinyint] NULL,
	[CO_Kierownik] [tinyint] NULL,
	[CO_Kontroler] [tinyint] NULL,
	[CO_Wydanie] [tinyint] NULL,
	[CO_Prm1] [tinyint] NULL,
	[CO_Prm2] [tinyint] NULL,
	[CO_Prm3] [tinyint] NULL,
	[CO_Prm4] [tinyint] NULL,
	[CO_Haslo] [nvarchar](50) NULL,
	[CO_Imie] [nvarchar](50) NULL,
	[CO_Nazwisko] [nvarchar](50) NULL,
	[CO_Opis] [nvarchar](254) NULL,
	[CO_Temat] [varchar](50) NULL,
	[CO_MagSId] [int] NULL,
	[CO_MagPId] [int] NULL,
	[CO_PodpowiadanieRealizacjiCalkowitej] [int] NOT NULL,
	[CO_PodpowiadanieRealizacjiCzesciowej] [int] NOT NULL,
	[CO_WidziCenySurowcow] [int] NOT NULL,
	[CO_WidziCenyZasobow] [int] NOT NULL,
	[CO_BlokowanieZlecen] [tinyint] NOT NULL,
	[CO_OdblokowanieZlecen] [tinyint] NOT NULL,
	[CO_IconPackName] [varchar](255) NULL,
	[CO_Nieaktywny] [tinyint] NOT NULL,
	[CO_EdytowaniePotwierdzonychTH] [tinyint] NOT NULL,
	[CO_WidziCenyWyrobow] [tinyint] NOT NULL,
	[CO_WidziCenyRO] [tinyint] NOT NULL,
	[CO_EditSurowiecZPPotw] [tinyint] NOT NULL,
 CONSTRAINT [CO_Primary] PRIMARY KEY CLUSTERED 
(
	[CO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiOperatorzyFiltry]

In [0]:
/****** Object:  Table [dbo].[CtiOperatorzyFiltry]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiOperatorzyFiltry](
	[COF_ID] [int] IDENTITY(1,1) NOT NULL,
	[COF_OperID] [int] NOT NULL,
	[COF_Typ] [int] NOT NULL,
	[COF_ListaID] [int] NOT NULL,
	[COF_FilterID] [int] NOT NULL,
	[COF_WartoscTXT] [varchar](max) NULL,
	[COF_WartoscBOOL] [tinyint] NULL,
	[COF_WartoscDATE] [datetime] NULL,
 CONSTRAINT [COF_Primary] PRIMARY KEY CLUSTERED 
(
	[COF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiPanelSbsConfig]

In [0]:
/****** Object:  Table [dbo].[CtiPanelSbsConfig]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiPanelSbsConfig](
	[SBC_LP] [int] NOT NULL,
	[SBC_NazwaKomputera] [varchar](1000) NULL,
	[SBC_TypOkna] [int] NOT NULL,
	[SBC_AkcjaNiepowodzenia] [int] NOT NULL,
	[SBC_OpcjaPowrot] [tinyint] NOT NULL,
	[SBC_OpcjaPomin] [tinyint] NOT NULL,
	[SBC_OpcjaWyloguj] [tinyint] NOT NULL,
	[SBC_BlyskKoloru] [tinyint] NOT NULL,
	[SBC_OpcjaDodajCzynnosci] [tinyint] NOT NULL,
	[SBC_OpcjaAwaria] [tinyint] NOT NULL,
	[SBC_OpcjaPrzerwa] [tinyint] NOT NULL
) ON [PRIMARY]
GO

# [dbo].[CtiPlanowanaCecha]

In [0]:
/****** Object:  Table [dbo].[CtiPlanowanaCecha]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiPlanowanaCecha](
	[CPC_ID] [int] IDENTITY(1,1) NOT NULL,
	[CPC_TypDokumentu] [int] NOT NULL,
	[CPC_IdElementu] [int] NOT NULL,
	[CPC_IdTowaru] [int] NOT NULL,
	[CPC_AtrybutID] [int] NOT NULL,
	[CPC_AtrybutTyp] [int] NOT NULL,
	[CPC_AtrybutKod] [varchar](100) NOT NULL,
	[CPC_Komparator] [int] NOT NULL,
	[CPC_Wartosc] [varchar](1000) NOT NULL,
	[CPC_TypDaty] [int] NOT NULL,
 CONSTRAINT [CPC_Primary] PRIMARY KEY CLUSTERED 
(
	[CPC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiProdDokPow]

In [0]:
/****** Object:  Table [dbo].[CtiProdDokPow]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdDokPow](
	[Pow_ID] [int] IDENTITY(1,1) NOT NULL,
	[Pow_Dok1Id] [int] NOT NULL,
	[Pow_Dok1Typ] [int] NOT NULL,
	[Pow_Dok1Elem] [int] NULL,
	[Pow_Dok1Ilosc] [int] NULL,
	[Pow_Dok2Id] [int] NOT NULL,
	[Pow_Dok2Typ] [int] NOT NULL,
	[Pow_Dok2Elem] [int] NULL,
	[Pow_Dok2Ilosc] [int] NULL,
	[Pow_BazaID] [int] NULL,
 CONSTRAINT [Pow_Primary] PRIMARY KEY CLUSTERED 
(
	[Pow_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiProdPliki]

In [0]:
/****** Object:  Table [dbo].[CtiProdPliki]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdPliki](
	[Plik_ID] [int] IDENTITY(1,1) NOT NULL,
	[Plik_Dane] [varbinary](max) NOT NULL,
	[Plik_Nazwa] [varchar](80) NOT NULL,
	[Plik_Rozszerzenie] [varchar](8) NOT NULL,
	[Plik_Sciezka] [varchar](200) NOT NULL,
 CONSTRAINT [PK_CtiProdPliki] PRIMARY KEY CLUSTERED 
(
	[Plik_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiProdPlikiDok]

In [0]:
/****** Object:  Table [dbo].[CtiProdPlikiDok]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdPlikiDok](
	[PlDok_Id] [int] IDENTITY(1,1) NOT NULL,
	[PlDok_DokTyp] [int] NOT NULL,
	[PlDok_DokID] [int] NOT NULL,
	[PlDok_PlikTyp] [bit] NOT NULL,
	[PlDok_PlikID] [int] NOT NULL,
 CONSTRAINT [PK_CtiProdPlikiDok] PRIMARY KEY CLUSTERED 
(
	[PlDok_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiProdPlikiFold]

In [0]:
/****** Object:  Table [dbo].[CtiProdPlikiFold]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdPlikiFold](
	[PlFold_Id] [int] IDENTITY(1,1) NOT NULL,
	[PlFold_Nazwa] [varchar](80) NOT NULL,
	[PlFold_Rozszerzenie] [varchar](8) NOT NULL,
	[PlFold_Sciezka] [varchar](200) NOT NULL,
 CONSTRAINT [PK_CtiProdPlikiFold] PRIMARY KEY CLUSTERED 
(
	[PlFold_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiProdukcjaFunkcjaDodatkowa]

In [0]:
/****** Object:  Table [dbo].[CtiProdukcjaFunkcjaDodatkowa]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowa](
	[CPFD_ID] [int] IDENTITY(1,1) NOT NULL,
	[CPFD_Nazwa] [nvarchar](255) NOT NULL,
	[CPFD_Definicja] [varchar](max) NOT NULL,
	[CPFD_CzyZwracacWynik] [bit] NOT NULL,
	[CPFD_CzyAktywna] [bit] NOT NULL,
	[CPFD_PrzedOtwarciem] [bit] NOT NULL,
	[CPFD_PrzedZapisem] [bit] NOT NULL,
	[CPFD_PoZapisie] [bit] NOT NULL,
	[CPFD_Program] [bit] NOT NULL,
 CONSTRAINT [CPFD_Primary] PRIMARY KEY CLUSTERED 
(
	[CPFD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiProdukcjaFunkcjaDodatkowaFunkcjaMiejsceWywolania]

In [0]:
/****** Object:  Table [dbo].[CtiProdukcjaFunkcjaDodatkowaFunkcjaMiejsceWywolania]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowaFunkcjaMiejsceWywolania](
	[CPFDFMW_ID] [int] IDENTITY(1,1) NOT NULL,
	[CPFDMW_ID] [int] NOT NULL,
	[CPFD_ID] [int] NOT NULL,
	[CPFDMW_HierarchiaPrzedOtwarciem] [int] NOT NULL,
	[CPFDMW_HierarchiaPrzedZapisem] [int] NOT NULL,
	[CPFDMW_HierarchiaPoZapisie] [int] NOT NULL,
 CONSTRAINT [CPFDFMW_Primary] PRIMARY KEY CLUSTERED 
(
	[CPFDFMW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiProdukcjaFunkcjaDodatkowaFunkcjaParametr]

In [0]:
/****** Object:  Table [dbo].[CtiProdukcjaFunkcjaDodatkowaFunkcjaParametr]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowaFunkcjaParametr](
	[CPFDFP_ID] [int] IDENTITY(1,1) NOT NULL,
	[CPFDP_ID] [int] NOT NULL,
	[CPFD_ID] [int] NOT NULL,
 CONSTRAINT [CPFDFP_Primary] PRIMARY KEY CLUSTERED 
(
	[CPFDFP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiProdukcjaFunkcjaDodatkowaMiejsceWywolania]

In [0]:
/****** Object:  Table [dbo].[CtiProdukcjaFunkcjaDodatkowaMiejsceWywolania]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowaMiejsceWywolania](
	[CPFDMW_ID] [int] IDENTITY(1,1) NOT NULL,
	[CPFDMW_MiejsceWywolaniaDokumentID] [int] NOT NULL,
	[CPFDMW_MiejsceWywolaniaMiejsceID] [int] NOT NULL,
	[CPFDMW_Dokument] [nvarchar](255) NOT NULL,
	[CPFDMW_Miejsce] [nvarchar](255) NOT NULL,
	[CPFDMW_Program] [int] NOT NULL,
 CONSTRAINT [CPFDMW_Primary] PRIMARY KEY CLUSTERED 
(
	[CPFDMW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiProdukcjaFunkcjaDodatkowaParametr]

In [0]:
/****** Object:  Table [dbo].[CtiProdukcjaFunkcjaDodatkowaParametr]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowaParametr](
	[CPFDP_ID] [int] IDENTITY(1,1) NOT NULL,
	[CPFDP_Typ] [int] NOT NULL,
	[CPFDP_Definicja] [varchar](max) NOT NULL,
	[CPFDP_Nazwa] [nvarchar](255) NOT NULL,
	[CPFDP_CzySql] [bit] NOT NULL,
	[CPFDP_CzyRecznaWartosc] [bit] NOT NULL,
 CONSTRAINT [CPFDP_Primary] PRIMARY KEY CLUSTERED 
(
	[CPFDP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiProdukcjaKolumny]

In [0]:
/****** Object:  Table [dbo].[CtiProdukcjaKolumny]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdukcjaKolumny](
	[CPK_ID] [int] IDENTITY(1,1) NOT NULL,
	[CPK_Tabela] [int] NOT NULL,
	[CPK_TypDanych] [int] NOT NULL,
	[CPK_Nazwa] [varchar](100) NOT NULL,
	[CPK_ZapytanieSQL] [varchar](max) NOT NULL,
	[CPK_Edytowalna] [tinyint] NOT NULL,
	[CPK_Visible] [tinyint] NOT NULL,
 CONSTRAINT [CPK_Primary] PRIMARY KEY CLUSTERED 
(
	[CPK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiProdukcjaKolumnyWartosci]

In [0]:
/****** Object:  Table [dbo].[CtiProdukcjaKolumnyWartosci]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdukcjaKolumnyWartosci](
	[CKW_ID] [int] IDENTITY(1,1) NOT NULL,
	[CKW_CPKID] [int] NOT NULL,
	[CKW_ObiektID] [int] NOT NULL,
	[CKW_Wartosc] [varchar](1000) NOT NULL,
 CONSTRAINT [CKW_Primary] PRIMARY KEY CLUSTERED 
(
	[CKW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiProdukcjaPanelPrzerwy]

In [0]:
/****** Object:  Table [dbo].[CtiProdukcjaPanelPrzerwy]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdukcjaPanelPrzerwy](
	[IDPrzerwy] [int] IDENTITY(1,1) NOT NULL,
	[IDPracownika] [int] NULL,
	[KodPracownika] [nchar](100) NULL,
	[Czynnosc] [nchar](200) NULL,
	[IDZlecenia] [int] NULL,
	[IDCzynnosci] [int] NULL,
	[IDZasobu] [int] NULL,
	[DataRozpoczecia] [datetime] NULL,
	[DataZakonczenia] [datetime] NULL,
	[Typ] [int] NULL,
	[TypZlecenia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPrzerwy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiProdukcjaPanelRCP]

In [0]:
/****** Object:  Table [dbo].[CtiProdukcjaPanelRCP]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdukcjaPanelRCP](
	[IDPracownika] [int] NULL,
	[KodPracownika] [nchar](100) NULL,
	[DataOperacji] [datetime] NULL,
	[Typ] [int] NULL
) ON [PRIMARY]
GO

# [dbo].[CtiProdukcjaPanelZlecenia]

In [0]:
/****** Object:  Table [dbo].[CtiProdukcjaPanelZlecenia]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdukcjaPanelZlecenia](
	[IDZlecenia] [int] NOT NULL,
	[LPZlecenia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDZlecenia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiProdukcjaRejestrOperacji]

In [0]:
/****** Object:  Table [dbo].[CtiProdukcjaRejestrOperacji]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdukcjaRejestrOperacji](
	[ROP_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROP_TypAkcji] [int] NOT NULL,
	[ROP_OperatorID] [int] NOT NULL,
	[ROP_DataWykonania] [datetime] NOT NULL,
	[ROP_ObiektID] [int] NOT NULL,
	[ROP_ObiektTyp] [nvarchar](255) NOT NULL,
	[ROP_OperatorKod] [nvarchar](500) NULL,
	[ROP_ObiektNazwa] [nvarchar](500) NULL,
	[ROP_Szczegoly] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiProdukcjaSesje]

In [0]:
/****** Object:  Table [dbo].[CtiProdukcjaSesje]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdukcjaSesje](
	[SSJ_ID] [int] IDENTITY(1,1) NOT NULL,
	[SSJ_Uzytkownik] [varchar](255) NULL,
	[SSJ_Komputer] [varchar](255) NULL,
	[SSJ_AdresIP] [varchar](255) NULL,
	[SSJ_DataStart] [datetime] NOT NULL,
	[SSJ_DataEnd] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SSJ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiProdukcjaStatus]

In [0]:
/****** Object:  Table [dbo].[CtiProdukcjaStatus]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdukcjaStatus](
	[CPS_ID] [int] IDENTITY(1,1) NOT NULL,
	[CPS_DokID] [int] NULL,
	[CPS_DokTyp] [int] NULL,
	[CPS_StatusMMWydane] [int] NULL,
	[CPS_StatusMMKontrola] [int] NULL,
	[CPS_StatusPWWG] [int] NULL,
	[IloscZrealizowana] [decimal](15, 4) NULL,
	[DataModyfikacji] [datetime2](7) NULL,
	[CPS_StatusProdukcjaEnum] [int] NOT NULL,
 CONSTRAINT [CPS_Primary] PRIMARY KEY CLUSTERED 
(
	[CPS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiProdukcjaStatusOpis]

In [0]:
/****** Object:  Table [dbo].[CtiProdukcjaStatusOpis]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdukcjaStatusOpis](
	[CPSO_ID] [int] IDENTITY(1,1) NOT NULL,
	[CPSO_TypStatusu] [int] NOT NULL,
	[CPSO_LpStatusu] [int] NOT NULL,
	[CPSO_Wartosc] [nvarchar](50) NOT NULL,
 CONSTRAINT [CPSO_Primary] PRIMARY KEY CLUSTERED 
(
	[CPSO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiProdukcjaStatusROElem]

In [0]:
/****** Object:  Table [dbo].[CtiProdukcjaStatusROElem]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdukcjaStatusROElem](
	[CPSRE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CPSRE_TreID] [int] NOT NULL,
	[CPSRE_Status] [int] NOT NULL,
	[CPSRE_Amount] [decimal](18, 4) NOT NULL,
 CONSTRAINT [CPSRE_Primary] PRIMARY KEY CLUSTERED 
(
	[CPSRE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiProdUrl]

In [0]:
/****** Object:  Table [dbo].[CtiProdUrl]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdUrl](
	[Pu_ID] [int] IDENTITY(1,1) NOT NULL,
	[Pu_LP] [int] NOT NULL,
	[Pu_DokTyp] [int] NOT NULL,
	[Pu_DokId] [int] NOT NULL,
	[Pu_URL] [varchar](200) NULL,
 CONSTRAINT [Pu_Primary] PRIMARY KEY CLUSTERED 
(
	[Pu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiProdWydanieElem]

In [0]:
/****** Object:  Table [dbo].[CtiProdWydanieElem]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdWydanieElem](
	[CWE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CWE_Typ] [int] NOT NULL,
	[CWE_CWNId] [int] NOT NULL,
	[CWE_Lp] [int] NULL,
	[CWE_PodId] [int] NULL,
	[CWE_PodKod] [nvarchar](40) NULL,
	[CWE_DokId] [int] NULL,
	[CWE_DokTyp] [int] NULL,
	[CWE_DokNumer] [nvarchar](40) NULL,
	[CWE_Opis] [nvarchar](250) NULL,
	[CWE_Data] [datetime] NULL,
	[CWE_DataWyladunku] [datetime] NULL,
	[CWE_DataZaladunku] [datetime] NULL,
	[CWE_AdresWyladunku] [varchar](1000) NULL,
	[CWE_AdresZaladunku] [varchar](1000) NULL,
	[CWE_BazaID] [int] NULL,
	[CWE_DokumentZrodlowyID] [int] NULL,
	[CWE_DokumentZrodlowyTyp] [int] NULL,
	[CWE_PowiazanyCweLP] [int] NULL,
	[CWE_OdbId] [int] NULL,
	[CWE_OdbKod] [varchar](50) NULL,
	[CWE_OdbNazwa] [varchar](1000) NULL,
 CONSTRAINT [CWE_Primary] PRIMARY KEY CLUSTERED 
(
	[CWE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiProdWydanieNag]

In [0]:
/****** Object:  Table [dbo].[CtiProdWydanieNag]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdWydanieNag](
	[CWN_ID] [int] IDENTITY(1,1) NOT NULL,
	[CWN_Typ] [int] NOT NULL,
	[CWN_Status] [int] NOT NULL,
	[CWN_NrPelny] [nvarchar](40) NOT NULL,
	[CWN_Numer] [int] NULL,
	[CWN_Miesiac] [int] NULL,
	[CWN_Rok] [int] NULL,
	[CWN_Seria] [varchar](5) NULL,
	[CWN_Opis] [nvarchar](254) NULL,
	[CWN_Uwagi] [nvarchar](254) NULL,
	[CWN_NumerObcy] [nvarchar](40) NULL,
	[CWN_OpeWystaw] [int] NULL,
	[CWN_DataWystaw] [datetime] NULL,
	[CWN_OperModyf] [int] NULL,
	[CWN_DataModyf] [datetime] NULL,
	[CWN_Data1] [datetime] NULL,
	[CWN_Adres1] [nvarchar](100) NULL,
	[CWN_Data2] [datetime] NULL,
	[CWN_Adres2] [nvarchar](100) NULL,
	[CWN_SpedytorID] [int] NULL,
	[CWN_NrRejestracyjny] [varchar](1000) NULL,
 CONSTRAINT [CWN_Primary] PRIMARY KEY CLUSTERED 
(
	[CWN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiProdWydaniePoz]

In [0]:
/****** Object:  Table [dbo].[CtiProdWydaniePoz]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiProdWydaniePoz](
	[CWP_ID] [int] IDENTITY(1,1) NOT NULL,
	[CWP_Typ] [int] NOT NULL,
	[CWP_CWNId] [int] NOT NULL,
	[CWP_CWEId] [int] NULL,
	[CWP_PodId] [int] NULL,
	[CWP_Ilosc] [decimal](15, 4) NULL,
	[CWP_Data] [datetime] NULL,
	[CWP_JM] [varchar](40) NULL,
	[CWP_BazaID] [int] NULL,
 CONSTRAINT [CWP_Primary] PRIMARY KEY CLUSTERED 
(
	[CWP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiSlowniki]

In [0]:
/****** Object:  Table [dbo].[CtiSlowniki]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiSlowniki](
	[S_Typ] [int] NOT NULL,
	[S_Id] [int] NOT NULL,
	[S_Lp] [int] NULL,
	[S_Kod] [nvarchar](20) NULL,
	[S_Nazwa] [nvarchar](50) NULL
) ON [PRIMARY]
GO

# [CtiSlowniki_Unique]

In [0]:
/****** Object:  Index [CtiSlowniki_Unique]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE CLUSTERED INDEX [CtiSlowniki_Unique] ON [dbo].[CtiSlowniki]
(
	[S_Typ] ASC,
	[S_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [dbo].[CtiSlownikiUzytkow]

In [0]:
/****** Object:  Table [dbo].[CtiSlownikiUzytkow]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiSlownikiUzytkow](
	[CsU_ID] [int] IDENTITY(1,1) NOT NULL,
	[CsU_Typ] [int] NULL,
	[CsU_Kod] [varchar](50) NOT NULL,
	[CsU_Prm1] [bit] NULL,
 CONSTRAINT [CsU_Primary] PRIMARY KEY CLUSTERED 
(
	[CsU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiStatusy]

In [0]:
/****** Object:  Table [dbo].[CtiStatusy]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiStatusy](
	[CS_StatusNr] [int] NULL,
	[CS_Typ] [int] NULL,
	[CS_StatusNazwa] [varchar](40) NULL
) ON [PRIMARY]
GO

# [dbo].[CtiTechnolCecha]

In [0]:
/****** Object:  Table [dbo].[CtiTechnolCecha]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiTechnolCecha](
	[CTC_CTNID] [int] NOT NULL,
	[CTC_Typ] [int] NULL,
	[CTC_NrCechy] [int] NOT NULL,
	[CTC_TwrId] [int] NULL,
	[CTC_Def] [nvarchar](250) NULL
) ON [PRIMARY]
GO

# [dbo].[CtiTechnolDomyslna]

In [0]:
/****** Object:  Table [dbo].[CtiTechnolDomyslna]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiTechnolDomyslna](
	[CTD_ID] [int] NULL,
	[CTD_TwrId] [int] NULL
) ON [PRIMARY]
GO

# [dbo].[CtiTechnolDzialy]

In [0]:
/****** Object:  Table [dbo].[CtiTechnolDzialy]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiTechnolDzialy](
	[CTDZ_ID] [int] IDENTITY(1,1) NOT NULL,
	[CTDZ_TechnolID] [int] NOT NULL,
	[CTDZ_DokTyp] [int] NOT NULL,
	[CTDZ_DzialID] [int] NOT NULL
) ON [PRIMARY]
GO

# [dbo].[CtiTechnolElem]

In [0]:
/****** Object:  Table [dbo].[CtiTechnolElem]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiTechnolElem](
	[CTE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CTE_CTNId] [int] NULL,
	[CTE_Lp] [int] NULL,
	[CTE_TwrId] [int] NULL,
	[CTE_TwrKod] [varchar](100) NULL,
	[CTE_Ilosc] [decimal](15, 4) NULL,
	[CTE_Typ] [int] NULL,
	[CTE_CenaWaga] [decimal](15, 4) NULL,
	[CTE_Cena] [decimal](15, 4) NULL,
	[CTE_Magazyn] [int] NULL,
	[CTE_DzialID] [int] NULL,
	[CTE_Opis] [varchar](max) NULL,
	[CTE_Staly] [tinyint] NOT NULL,
 CONSTRAINT [CTE_Primary] PRIMARY KEY CLUSTERED 
(
	[CTE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiTechnolElem_Backup_20250917]

In [0]:
/****** Object:  Table [dbo].[CtiTechnolElem_Backup_20250917]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiTechnolElem_Backup_20250917](
	[CTE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CTE_CTNId] [int] NULL,
	[CTE_Lp] [int] NULL,
	[CTE_TwrId] [int] NULL,
	[CTE_TwrKod] [varchar](100) NULL,
	[CTE_Ilosc] [decimal](15, 4) NULL,
	[CTE_Typ] [int] NULL,
	[CTE_CenaWaga] [decimal](15, 4) NULL,
	[CTE_Cena] [decimal](15, 4) NULL,
	[CTE_Magazyn] [int] NULL,
	[CTE_DzialID] [int] NULL,
	[CTE_Opis] [varchar](max) NULL,
	[CTE_Staly] [tinyint] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiTechnolNag]

In [0]:
/****** Object:  Table [dbo].[CtiTechnolNag]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiTechnolNag](
	[CTN_ID] [int] IDENTITY(1,1) NOT NULL,
	[CTN_Numer] [int] NULL,
	[CTN_Miesiac] [int] NULL,
	[CTN_Rok] [int] NULL,
	[CTN_Seria] [varchar](5) NULL,
	[CTN_Nazwa] [nvarchar](40) NULL,
	[CTN_Opis] [nvarchar](254) NULL,
	[CTN_TwrId] [int] NULL,
	[CTN_TwrKod] [varchar](100) NULL,
	[CTN_OpeWystaw] [int] NULL,
	[CTN_DataWystaw] [datetime] NULL,
	[CTN_OperModyf] [int] NULL,
	[CTN_DataModyf] [datetime] NULL,
	[CTN_Status] [int] NULL,
	[CTN_Cecha] [int] NULL,
	[CTN_CenaEwidencyjna] [decimal](15, 4) NULL,
	[CTN_NumerObcy] [nvarchar](40) NULL,
	[CTN_Licznik] [int] NULL,
	[CTN_Ilosc] [int] NULL,
	[CTN_ZpZrodloweID] [int] NULL,
	[CTN_DodatkowyStatus] [int] NULL,
	[CTN_Szablon] [tinyint] NOT NULL,
	[CTN_TwrJm] [nvarchar](40) NULL,
	[CTN_DomyslneMagSur] [tinyint] NOT NULL,
	[CTN_GenerateRWAfterResource] [int] NOT NULL,
 CONSTRAINT [CTN_Primary] PRIMARY KEY CLUSTERED 
(
	[CTN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiTechnolZamienniki]

In [0]:
/****** Object:  Table [dbo].[CtiTechnolZamienniki]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiTechnolZamienniki](
	[CTM_ID] [int] IDENTITY(1,1) NOT NULL,
	[CTM_CTNID] [int] NOT NULL,
	[CTM_TwrID] [int] NOT NULL,
	[CTM_ZamID] [int] NOT NULL,
	[CTM_Dozwolony] [tinyint] NOT NULL,
	[CTM_Typ] [int] NOT NULL,
 CONSTRAINT [CTM_Primary] PRIMARY KEY CLUSTERED 
(
	[CTM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiTechnolZElem]

In [0]:
/****** Object:  Table [dbo].[CtiTechnolZElem]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiTechnolZElem](
	[CTZE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CTZE_CTZNID] [int] NULL,
	[CTZE_CTNID] [int] NULL,
	[CTZE_Lp] [int] NULL,
	[CTZE_Typ] [int] NULL,
	[CTZE_ilosc] [decimal](15, 4) NULL,
	[CTZE_Opis] [varchar](max) NULL,
	[CTZE_Potwierdzanie] [tinyint] NOT NULL,
	[CTZE_GUID] [varchar](100) NULL,
	[CTZE_DzialID] [int] NULL,
	[CTZE_Staly] [tinyint] NOT NULL,
 CONSTRAINT [CTZE_Primary] PRIMARY KEY CLUSTERED 
(
	[CTZE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiTechnolZNag]

In [0]:
/****** Object:  Table [dbo].[CtiTechnolZNag]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiTechnolZNag](
	[CTZN_ID] [int] IDENTITY(1,1) NOT NULL,
	[CTZN_Opis] [nvarchar](254) NULL,
	[CTZN_TwrId] [int] NULL,
	[CTZN_TwrKod] [varchar](100) NULL,
	[CTZN_Nazwa] [nvarchar](40) NULL,
	[CTZN_OpeWystaw] [int] NULL,
	[CTZN_DataWystaw] [datetime] NULL,
	[CTZN_OperModyf] [int] NULL,
	[CTZN_DataModyf] [datetime] NULL,
	[CTZN_Status] [int] NULL,
	[CTZN_Numer] [int] NULL,
	[CTZN_Miesiac] [int] NULL,
	[CTZN_Rok] [int] NULL,
	[CTZN_Seria] [varchar](5) NULL,
	[CTZN_Cecha] [int] NULL,
	[CTZN_CenaEwidencyjna] [decimal](15, 4) NULL,
	[CTZN_Domyslna] [tinyint] NOT NULL,
	[CTZN_PotwierdzZP] [tinyint] NOT NULL,
	[CTZN_Nieaktywna] [tinyint] NOT NULL,
	[CTZN_Ilosc] [decimal](15, 4) NOT NULL,
 CONSTRAINT [CTZN_Primary] PRIMARY KEY CLUSTERED 
(
	[CTZN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiTemp]

In [0]:
/****** Object:  Table [dbo].[CtiTemp]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiTemp](
	[ID] [int] NOT NULL,
	[SESJA] [int] NULL
) ON [PRIMARY]
GO

# [CtiTempIndex]

In [0]:
/****** Object:  Index [CtiTempIndex]    Script Date: 5.01.2026 21:12:40 ******/
CREATE CLUSTERED INDEX [CtiTempIndex] ON [dbo].[CtiTemp]
(
	[SESJA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [dbo].[CtiTowary]

In [0]:
/****** Object:  Table [dbo].[CtiTowary]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiTowary](
	[CTwr_TwrId] [int] NOT NULL,
	[CTwr_Cena] [decimal](15, 4) NULL,
	[CTwr_Narzut] [decimal](15, 4) NULL,
	[CTwr_MagZrdId] [int] NULL,
	[CTwr_MagDocId] [int] NULL
) ON [PRIMARY]
GO

# [dbo].[CtiTraElem]

In [0]:
/****** Object:  Table [dbo].[CtiTraElem]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiTraElem](
	[CTre_TreId] [int] NOT NULL,
	[CTre_TrnId] [int] NOT NULL,
	[CTre_ThId] [int] NULL,
	[CTre_ThzId] [int] NULL
) ON [PRIMARY]
GO

# [dbo].[CtiTwrCzasy]

In [0]:
/****** Object:  Table [dbo].[CtiTwrCzasy]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiTwrCzasy](
	[CRC_ID] [int] IDENTITY(1,1) NOT NULL,
	[CRC_TwrId] [int] NULL,
	[CRC_CzasMAXMin] [int] NULL,
	[CRC_CzasMAXTyp] [int] NULL,
	[CRC_KosztMAX] [decimal](15, 4) NULL,
	[CRC_CzasOPTIMin] [int] NULL,
	[CRC_CzasOPTITyp] [int] NULL,
	[CRC_KosztOPTI] [decimal](15, 4) NULL,
	[CRC_CzasMinMin] [int] NULL,
	[CRC_CzasMinTyp] [int] NULL,
	[CRC_KosztMin] [decimal](15, 4) NULL,
	[CRC_CzasMAXMinP] [int] NULL,
	[CRC_CzasMAXTypP] [int] NULL,
	[CRC_KosztMAXP] [decimal](15, 4) NULL,
	[CRC_CzasOPTIMinP] [int] NULL,
	[CRC_CzasOPTITypP] [int] NULL,
	[CRC_KosztOPTIP] [decimal](15, 4) NULL,
	[CRC_CzasMinMinP] [int] NULL,
	[CRC_CzasMinTypP] [int] NULL,
	[CRC_KosztMinP] [decimal](15, 4) NULL,
	[CRC_OpisMAX] [nvarchar](254) NULL,
	[CRC_OpisMin] [nvarchar](254) NULL,
	[CRC_OpisOPTI] [nvarchar](254) NULL,
 CONSTRAINT [CRC_Primary] PRIMARY KEY CLUSTERED 
(
	[CRC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiUstawieniaWizualizacji]

In [0]:
/****** Object:  Table [dbo].[CtiUstawieniaWizualizacji]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiUstawieniaWizualizacji](
	[CUW_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUW_DokumentID] [int] NOT NULL,
	[CUW_DokumentTyp] [int] NOT NULL,
	[CUW_OrientacjaDomyslna] [tinyint] NOT NULL,
 CONSTRAINT [CUW_Primary] PRIMARY KEY CLUSTERED 
(
	[CUW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiWydrukWlasny]

In [0]:
/****** Object:  Table [dbo].[CtiWydrukWlasny]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiWydrukWlasny](
	[WW_ID] [int] IDENTITY(1,1) NOT NULL,
	[WW_TypDokumentu] [int] NOT NULL,
	[WW_Nazwa] [varchar](50) NOT NULL,
	[WW_Base64] [varchar](max) NOT NULL,
	[WW_NazwaPliku] [nvarchar](250) NOT NULL,
	[WW_IloscKopii] [int] NOT NULL,
	[WW_PytajOIlosc] [tinyint] NOT NULL,
	[WW_Orientacja] [int] NOT NULL,
	[WW_Szerokosc] [int] NOT NULL,
	[WW_Wysokosc] [int] NOT NULL,
	[WW_Seryjny] [tinyint] NOT NULL,
	[WW_MarginesLewy] [int] NOT NULL,
	[WW_MarginesPrawy] [int] NOT NULL,
	[WW_MarginesGorny] [int] NOT NULL,
	[WW_MarginesDolny] [int] NOT NULL,
	[WW_FiltrSQL] [varchar](max) NULL,
 CONSTRAINT [WW_Primary] PRIMARY KEY CLUSTERED 
(
	[WW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiWydrukWlasnyDrukarka]

In [0]:
/****** Object:  Table [dbo].[CtiWydrukWlasnyDrukarka]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiWydrukWlasnyDrukarka](
	[WWD_ID] [int] IDENTITY(1,1) NOT NULL,
	[WWD_WWID] [int] NOT NULL,
	[WWD_OperId] [int] NOT NULL,
	[WWD_Drukarka] [varchar](250) NOT NULL,
 CONSTRAINT [WWD_Primary] PRIMARY KEY CLUSTERED 
(
	[WWD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiWydrukWlasnyParam]

In [0]:
/****** Object:  Table [dbo].[CtiWydrukWlasnyParam]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiWydrukWlasnyParam](
	[WWP_ID] [int] IDENTITY(1,1) NOT NULL,
	[WWP_WWID] [int] NOT NULL,
	[WWP_Nazwa] [varchar](50) NOT NULL,
	[WWP_Wartosc] [varchar](max) NOT NULL,
	[WWP_Sql] [tinyint] NOT NULL,
	[WWP_ReczneUstalanie] [tinyint] NOT NULL,
 CONSTRAINT [WWP_Primary] PRIMARY KEY CLUSTERED 
(
	[WWP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiZalaczniki]

In [0]:
/****** Object:  Table [dbo].[CtiZalaczniki]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZalaczniki](
	[CZAL_ID] [int] IDENTITY(1,1) NOT NULL,
	[CZAL_DokTyp] [int] NOT NULL,
	[CZAL_DokID] [int] NOT NULL,
	[CZAL_Base64] [text] NULL,
	[CZAL_Sciezka] [varchar](1023) NULL,
	[CZAL_Nazwa] [varchar](255) NOT NULL,
	[CZAL_Rozszerzenie] [varchar](15) NOT NULL,
 CONSTRAINT [CZAL_Primary] PRIMARY KEY CLUSTERED 
(
	[CZAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiZasob]

In [0]:
/****** Object:  Table [dbo].[CtiZasob]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZasob](
	[CZ_ID] [int] IDENTITY(1,1) NOT NULL,
	[CZ_CZGID] [int] NOT NULL,
	[CZ_Kod] [varchar](50) NOT NULL,
	[CZ_JMCzasu] [int] NULL,
	[CZ_CzasPracy] [decimal](15, 4) NULL,
	[CZ_CzasUzbrojenia] [decimal](15, 4) NULL,
	[CZ_CzasRozbrojenia] [decimal](15, 4) NULL,
	[CZ_KosztPracy] [decimal](15, 4) NULL,
	[CZ_KosztUzbrojenia] [decimal](15, 4) NULL,
	[CZ_KosztRozbrojenia] [decimal](15, 4) NULL,
	[CZ_KontrolaDostepnosci] [tinyint] NULL,
	[CZ_RejestracjaCzasuPracy] [tinyint] NULL,
	[CZ_Dzielnik] [decimal](15, 4) NULL,
	[CZ_Ilosc] [decimal](15, 4) NULL,
	[CZ_Typ] [int] NULL,
	[CZ_DostepnyOd] [datetime] NULL,
	[CZ_DostepnyDo] [datetime] NULL,
	[CZ_DzialID] [int] NOT NULL,
	[CZ_WieleOsob] [int] NOT NULL,
	[CZ_CzasPlanowany] [int] NULL,
	[CZ_RozbijanieCzasuZPZ] [int] NOT NULL,
	[CZ_PlanowanieCzasuPracy] [int] NOT NULL,
	[CZ_WykrywajKonflikty] [tinyint] NOT NULL,
	[CZ_PrzeliczanieCzasu] [tinyint] NOT NULL,
	[CZ_JednaRealizacja] [tinyint] NOT NULL,
	[CZ_ZwiekszajCzas] [tinyint] NOT NULL,
	[CZ_ZmniejszajCzas] [tinyint] NOT NULL,
	[CZ_KolorA] [int] NOT NULL,
	[CZ_KolorR] [int] NOT NULL,
	[CZ_KolorG] [int] NOT NULL,
	[CZ_KolorB] [int] NOT NULL,
	[CZ_IloscDomyslna] [decimal](15, 4) NOT NULL,
 CONSTRAINT [CZ_Primary] PRIMARY KEY CLUSTERED 
(
	[CZ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiZasobCzynnosc]

In [0]:
/****** Object:  Table [dbo].[CtiZasobCzynnosc]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZasobCzynnosc](
	[ZsC_ID] [int] IDENTITY(1,1) NOT NULL,
	[ZsC_CznID] [int] NOT NULL,
	[ZsC_CzId] [int] NOT NULL,
 CONSTRAINT [ZsC_Primary] PRIMARY KEY CLUSTERED 
(
	[ZsC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiZasobDok]

In [0]:
/****** Object:  Table [dbo].[CtiZasobDok]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZasobDok](
	[CZS_ID] [int] IDENTITY(1,1) NOT NULL,
	[CZS_Lp] [int] NULL,
	[CZS_CZGID] [int] NOT NULL,
	[CZS_CZID] [int] NOT NULL,
	[CZS_CTNID] [int] NOT NULL,
	[CZS_Kod] [varchar](50) NOT NULL,
	[CZS_JMCzasu] [int] NULL,
	[CZS_CzasPracy] [decimal](15, 4) NULL,
	[CZS_CzasUzbrojenia] [decimal](15, 4) NULL,
	[CZS_CzasRozbrojenia] [decimal](15, 4) NULL,
	[CZS_KosztPracy] [decimal](15, 4) NULL,
	[CZS_KosztUzbrojenia] [decimal](15, 4) NULL,
	[CZS_KosztRozbrojenia] [decimal](15, 4) NULL,
	[CZS_DokTyp] [int] NULL,
	[CZS_CzasStart] [datetime] NULL,
	[CZS_CzasEnd] [datetime] NULL,
	[CZS_Ilosc] [decimal](15, 4) NULL,
	[CZS_PwBlokada] [int] NOT NULL,
	[CZS_RwBlokada] [int] NOT NULL,
	[CZS_Opis] [nvarchar](4000) NULL,
	[CZS_PrcId] [int] NULL,
	[CZS_Zakonczono] [int] NOT NULL,
	[CZS_WieleOsob] [int] NOT NULL,
	[CZS_CzasPlanowany] [decimal](15, 4) NULL,
	[CZS_Dzielnik] [decimal](15, 4) NULL,
	[CZS_PlanowanieCzasuPracy] [int] NOT NULL,
	[CZS_ZasobPrcId] [int] NULL,
	[CZS_Rozliczono] [tinyint] NOT NULL,
	[CZS_ParentID] [int] NULL,
	[CZS_UtworzonoPracownika] [tinyint] NOT NULL,
	[CZS_RealizacjaCalkowita] [int] NOT NULL,
	[CZS_PWOdpad] [int] NOT NULL,
 CONSTRAINT [CZT_Primary] PRIMARY KEY CLUSTERED 
(
	[CZS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiZasobDostepny]

In [0]:
/****** Object:  Table [dbo].[CtiZasobDostepny]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZasobDostepny](
	[ZsD_ID] [int] IDENTITY(1,1) NOT NULL,
	[ZsD_CZID] [int] NOT NULL,
	[ZsD_Data] [datetime] NOT NULL,
	[ZsD_CzasOd] [datetime] NOT NULL,
	[ZsD_CzasDo] [datetime] NOT NULL,
	[ZsD_CalyDzien] [tinyint] NULL,
 CONSTRAINT [ZsD_Primary] PRIMARY KEY CLUSTERED 
(
	[ZsD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiZasobDzialy]

In [0]:
/****** Object:  Table [dbo].[CtiZasobDzialy]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZasobDzialy](
	[ZDZ_ZasobID] [int] NOT NULL,
	[ZDZ_DzialID] [int] NOT NULL
) ON [PRIMARY]
GO

# [dbo].[CtiZasobGrupy]

In [0]:
/****** Object:  Table [dbo].[CtiZasobGrupy]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZasobGrupy](
	[CZG_ID] [int] IDENTITY(1,1) NOT NULL,
	[CZG_Kod] [varchar](20) NOT NULL,
	[CZG_Lp] [int] NULL,
 CONSTRAINT [CZG_Primary] PRIMARY KEY CLUSTERED 
(
	[CZG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiZasobPRC]

In [0]:
/****** Object:  Table [dbo].[CtiZasobPRC]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZasobPRC](
	[ZsP_ID] [int] IDENTITY(1,1) NOT NULL,
	[ZsP_CZID] [int] NOT NULL,
	[ZsP_PrcId] [int] NOT NULL,
	[ZsP_PrcKod] [nvarchar](40) NULL,
	[ZsP_Ilosc] [decimal](15, 4) NULL,
 CONSTRAINT [ZsP_Primary] PRIMARY KEY CLUSTERED 
(
	[ZsP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiZasobRelacje]

In [0]:
/****** Object:  Table [dbo].[CtiZasobRelacje]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZasobRelacje](
	[CZR_ID] [int] IDENTITY(1,1) NOT NULL,
	[CZR_CzsID] [int] NOT NULL,
	[CZR_CzsID_nad] [int] NOT NULL,
	[CZR_Ilosc] [decimal](15, 4) NULL,
	[CZR_Typ] [int] NULL,
 CONSTRAINT [CZR_Primary] PRIMARY KEY CLUSTERED 
(
	[CZR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiZasobRozliczony]

In [0]:
/****** Object:  Table [dbo].[CtiZasobRozliczony]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZasobRozliczony](
	[CZR_ID] [int] IDENTITY(1,1) NOT NULL,
	[CZR_CZSID] [int] NULL,
	[CZR_ZZSID] [int] NULL,
	[CZR_TrnID] [int] NOT NULL,
	[CZR_ZpID] [int] NOT NULL
) ON [PRIMARY]
GO

# [dbo].[CtiZasobSlownik]

In [0]:
/****** Object:  Table [dbo].[CtiZasobSlownik]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZasobSlownik](
	[Szs_ID] [int] IDENTITY(1,1) NOT NULL,
	[Szs_DokTyp] [int] NULL,
	[Szs_DokID] [int] NULL,
	[Szs_CsUID] [int] NULL,
	[Szs_Ilosc] [decimal](15, 4) NULL,
 CONSTRAINT [Szs_Primary] PRIMARY KEY CLUSTERED 
(
	[Szs_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiZlecenieDok]

In [0]:
/****** Object:  Table [dbo].[CtiZlecenieDok]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZlecenieDok](
	[CZD_ID] [int] IDENTITY(1,1) NOT NULL,
	[CZD_Numer] [nvarchar](40) NULL,
	[CZD_TrnId] [int] NULL,
	[CZD_CZNId] [int] NULL,
	[CZD_OpeWyst] [int] NULL,
	[CZD_DataWyst] [datetime] NULL,
	[CZD_OperModyf] [int] NULL,
	[CZD_DataModyf] [datetime] NULL,
	[CZD_Status] [int] NULL,
	[CZD_PracownikId] [int] NULL,
	[CZD_PrcTyp] [int] NULL,
	[CZD_Ilosc] [decimal](15, 4) NULL,
	[CZD_ZastepstwoId] [int] NULL,
	[CZD_Typ] [int] NULL,
	[CZD_Korekta] [int] NULL,
	[CZD_Stanowisko] [nvarchar](40) NULL,
	[CZD_DzialId] [int] NULL,
	[CZD_Program] [varchar](255) NULL,
	[CZD_Odpady] [tinyint] NULL,
	[CZD_Uszkodzenia] [tinyint] NULL,
	[CZD_UzytoWWycenie] [tinyint] NULL,
 CONSTRAINT [CZD_Primary] PRIMARY KEY CLUSTERED 
(
	[CZD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiZlecenieDokElem]

In [0]:
/****** Object:  Table [dbo].[CtiZlecenieDokElem]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZlecenieDokElem](
	[CZE_TreID] [int] NULL,
	[CZE_TrnId] [int] NULL,
	[CZE_TwrId] [int] NULL,
	[CZE_Ilosc] [decimal](15, 4) NULL
) ON [PRIMARY]
GO

# [dbo].[CtiZlecenieElem]

In [0]:
/****** Object:  Table [dbo].[CtiZlecenieElem]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZlecenieElem](
	[CZE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CZE_CZNId] [int] NULL,
	[CZE_CZNTyp] [int] NULL,
	[CZE_Lp] [int] NULL,
	[CZE_TwrId] [int] NULL,
	[CZE_TwrKod] [varchar](100) NULL,
	[CZE_Ilosc] [decimal](15, 4) NULL,
	[CZE_Typ] [int] NULL,
	[CZE_CenaWaga] [decimal](15, 4) NULL,
	[CZE_Cena] [decimal](15, 4) NULL,
	[CZE_DokId] [int] NULL,
	[CZE_DokTyp] [int] NULL,
	[CZE_DokNumer] [nvarchar](40) NULL,
	[CZE_Opis] [varchar](max) NULL,
	[CZE_Data] [datetime] NULL,
	[CZE_Magazyn] [int] NULL,
	[CZE_WplywNaCene] [int] NOT NULL,
	[CZE_Staly] [tinyint] NOT NULL,
	[CZE_DzialID] [int] NULL,
	[CZE_Polprodukt] [tinyint] NOT NULL,
 CONSTRAINT [CZE_Primary] PRIMARY KEY CLUSTERED 
(
	[CZE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiZlecenieNag]

In [0]:
/****** Object:  Table [dbo].[CtiZlecenieNag]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZlecenieNag](
	[CZN_ID] [int] IDENTITY(1,1) NOT NULL,
	[CZN_Numer] [int] NULL,
	[CZN_Miesiac] [int] NULL,
	[CZN_Rok] [int] NULL,
	[CZN_Seria] [varchar](5) NULL,
	[CZN_NrPelny] [varchar](20) NULL,
	[CZN_CTNId] [int] NULL,
	[CZN_TwrId] [int] NULL,
	[CZN_TwrKod] [varchar](100) NULL,
	[CZN_Ilosc] [decimal](15, 4) NULL,
	[CZN_Status] [int] NULL,
	[CZN_OpeWystaw] [int] NULL,
	[CZN_DataWystaw] [datetime] NULL,
	[CZN_OperModyf] [int] NULL,
	[CZN_DataModyf] [datetime] NULL,
	[CZN_DokZwiazID] [int] NULL,
	[CZN_DokZwiazTreID] [int] NULL,
	[CZN_DokZwiazTyp] [int] NULL,
	[CZN_DataRealizacji] [datetime] NULL,
	[CZN_Opis] [nvarchar](254) NULL,
	[CZN_CzasStart] [datetime] NULL,
	[CZN_CzasEnd] [datetime] NULL,
	[CZN_NrOpakowania] [int] NOT NULL,
	[CZN_PominCzasZasobow] [int] NOT NULL,
	[CZN_TwrJm] [nvarchar](40) NULL,
	[CZN_LP] [int] NULL,
	[CZN_CenaID] [int] NULL,
	[CZN_DomyslneMagSur] [tinyint] NOT NULL,
	[CZN_CZZNIdNadrzedne] [int] NULL,
	[CZN_CZZNNrPelnyNadrzedne] [nvarchar](20) NULL,
	[CZN_CZZNIdGlowne] [int] NULL,
	[CZN_CZZNNrPelnyGlowne] [nvarchar](20) NULL,
	[CZN_Licznik] [int] NULL,
	[CZN_UwzglednijDateZPNaZasobach] [int] NULL,
	[CZN_GenerateRWAfterResource] [int] NOT NULL,
 CONSTRAINT [CZN_Primary] PRIMARY KEY CLUSTERED 
(
	[CZN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiZleceniePrc]

In [0]:
/****** Object:  Table [dbo].[CtiZleceniePrc]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZleceniePrc](
	[CZO_ID] [int] IDENTITY(1,1) NOT NULL,
	[CZO_CZNId] [int] NULL,
	[CZO_DokTyp] [int] NULL,
	[CZO_PrcId] [int] NULL,
	[CZO_PrcTyp] [int] NULL,
	[CZO_PrcKodRPC] [nvarchar](40) NULL,
	[CZO_PrcKod] [nvarchar](40) NULL,
	[CZO_Ilosc] [decimal](15, 4) NULL,
 CONSTRAINT [CZO_Primary] PRIMARY KEY CLUSTERED 
(
	[CZO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiZlecenieZasob]

In [0]:
/****** Object:  Table [dbo].[CtiZlecenieZasob]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZlecenieZasob](
	[ZZs_ID] [int] IDENTITY(1,1) NOT NULL,
	[ZZs_CZNID] [int] NOT NULL,
	[ZZs_CZID] [int] NOT NULL,
	[ZZs_CTNID] [int] NULL,
	[ZZs_PrcId] [int] NULL,
	[ZZs_DataOd] [datetime] NULL,
	[ZZs_DataDo] [datetime] NULL,
	[ZZs_CzasMin] [decimal](15, 4) NULL,
	[ZZs_PrcKod] [nvarchar](40) NULL,
	[ZZs_Ilosc] [decimal](15, 4) NULL,
	[ZZs_Data] [datetime] NULL,
	[ZZs_OpeId] [int] NULL,
	[ZZs_Opis] [nvarchar](4000) NULL,
	[ZZs_ProcentRealizacji] [decimal](15, 4) NULL,
	[ZZs_Zakonczono] [tinyint] NULL,
	[ZZs_DokTyp] [int] NOT NULL,
	[ZZs_Rozliczono] [tinyint] NOT NULL,
	[ZZs_StworzonoAwarie] [tinyint] NOT NULL,
	[ZZs_StworzonoPW] [tinyint] NOT NULL,
	[ZZs_StworzonoRW] [tinyint] NOT NULL,
	[ZZs_CZSID] [int] NULL,
 CONSTRAINT [ZZs_Primary] PRIMARY KEY CLUSTERED 
(
	[ZZs_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiZlecenieZasobHist]

In [0]:
/****** Object:  Table [dbo].[CtiZlecenieZasobHist]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZlecenieZasobHist](
	[ZsH_ID] [int] IDENTITY(1,1) NOT NULL,
	[ZsH_ZZsID] [int] NOT NULL,
	[ZsH_Data] [datetime] NULL,
	[ZsH_CZNID] [int] NOT NULL,
	[ZsH_CZID] [int] NOT NULL,
	[ZsH_OpeId] [int] NULL,
	[ZsH_OpeIdDel] [int] NULL,
	[ZsH_PrcId] [int] NULL,
	[ZsH_DataOd] [datetime] NULL,
	[ZsH_DataDo] [datetime] NULL,
	[ZsH_CzasMin] [decimal](15, 4) NULL,
	[ZsH_Ilosc] [decimal](15, 4) NULL,
 CONSTRAINT [ZsH_Primary] PRIMARY KEY CLUSTERED 
(
	[ZsH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiZlecenieZElem]

In [0]:
/****** Object:  Table [dbo].[CtiZlecenieZElem]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZlecenieZElem](
	[CZZE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CZZE_CZZNID] [int] NULL,
	[CZZE_CZNID] [int] NULL,
	[CZZE_Lp] [int] NULL,
	[CZZE_Typ] [int] NULL,
	[CZZE_Opis] [varchar](max) NULL,
	[CZZE_Ilosc] [decimal](15, 4) NULL,
	[CZZE_Potwierdzanie] [tinyint] NOT NULL,
	[CZZE_FinalneZP] [tinyint] NOT NULL,
	[CZZE_CZEID] [int] NULL,
	[CZZE_GUID] [varchar](100) NULL,
	[CZZE_DzialID] [int] NULL,
	[CZZE_Staly] [tinyint] NOT NULL,
 CONSTRAINT [CZZE_Primary] PRIMARY KEY CLUSTERED 
(
	[CZZE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CtiZlecenieZNag]

In [0]:
/****** Object:  Table [dbo].[CtiZlecenieZNag]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZlecenieZNag](
	[CZZN_ID] [int] IDENTITY(1,1) NOT NULL,
	[CZZN_Numer] [int] NULL,
	[CZZN_Miesiac] [int] NULL,
	[CZZN_Rok] [int] NULL,
	[CZZN_Seria] [varchar](5) NULL,
	[CZZN_TwrId] [int] NULL,
	[CZZN_TwrKod] [varchar](100) NULL,
	[CZZN_Ilosc] [decimal](15, 4) NULL,
	[CZZN_OpeWystaw] [int] NULL,
	[CZZN_DataWystaw] [datetime] NULL,
	[CZZN_OperModyf] [int] NULL,
	[CZZN_DataModyf] [datetime] NULL,
	[CZZN_Status] [int] NULL,
	[CZZN_CTZNId] [int] NULL,
	[CZZN_NrPelny] [varchar](20) NULL,
	[CZZN_Opis] [nvarchar](254) NULL,
	[CZZN_CzasStart] [datetime] NULL,
	[CZZN_CzasEnd] [datetime] NULL,
	[CZZN_DokNad] [int] NULL,
	[CZZN_DokZwiazTreId] [int] NULL,
	[CZZN_DokZwiazTyp] [int] NULL,
	[CZZN_PotwierdzZP] [tinyint] NOT NULL,
	[CZZN_CZZNIdNadrzedne] [int] NULL,
	[CZZN_CZZNNrPelnyNadrzedne] [nvarchar](20) NULL,
	[CZZN_CZZNIdGlowne] [int] NULL,
	[CZZN_CZZNNrPelnyGlowne] [nvarchar](20) NULL,
	[CZZN_DokZwiazID] [int] NULL,
 CONSTRAINT [CZZN_Primary] PRIMARY KEY CLUSTERED 
(
	[CZZN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CtiZlecenieZPrc]

In [0]:
/****** Object:  Table [dbo].[CtiZlecenieZPrc]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtiZlecenieZPrc](
	[CZZO_ID] [int] IDENTITY(1,1) NOT NULL,
	[CZZO_CZNId] [int] NULL,
	[CZZO_PrcId] [int] NULL,
	[CZZO_PrcTyp] [int] NULL,
	[CZZO_PrcKodRPC] [nvarchar](40) NULL,
	[CZZO_PrcKod] [nvarchar](40) NULL,
	[CZZO_Ilosc] [decimal](15, 4) NULL,
 CONSTRAINT [CZZO_Primary] PRIMARY KEY CLUSTERED 
(
	[CZZO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[LogiProdukcja]

In [0]:
/****** Object:  Table [dbo].[LogiProdukcja]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogiProdukcja](
	[LOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOG_ProgramName] [varchar](50) NULL,
	[LOG_ObiektID] [int] NOT NULL,
	[LOG_ObiektTyp] [int] NOT NULL,
	[LOG_Data] [datetime] NOT NULL,
	[LOG_Tekst] [varchar](max) NULL,
 CONSTRAINT [Pk_FC_LogiDanych] PRIMARY KEY CLUSTERED 
(
	[LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[PanelProdukcyjnySesje]

In [0]:
/****** Object:  Table [dbo].[PanelProdukcyjnySesje]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PanelProdukcyjnySesje](
	[PPS_ID] [int] IDENTITY(1,1) NOT NULL,
	[PPS_Stanowisko] [varchar](1000) NOT NULL,
	[PPS_Wersja] [varchar](255) NOT NULL,
	[PPS_DataStart] [datetime] NOT NULL,
	[PPS_DataEnd] [datetime] NULL,
	[PPS_User] [varchar](1000) NULL
) ON [PRIMARY]
GO

# [dbo].[ZarzadzanieZasobamiKonfig]

In [0]:
/****** Object:  Table [dbo].[ZarzadzanieZasobamiKonfig]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZarzadzanieZasobamiKonfig](
	[KNF_Nazwa] [varchar](255) NOT NULL,
	[KNF_Wartosc] [nvarchar](max) NULL,
UNIQUE NONCLUSTERED 
(
	[KNF_Nazwa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[ZarzadzanieZasobamiSesje]

In [0]:
/****** Object:  Table [dbo].[ZarzadzanieZasobamiSesje]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZarzadzanieZasobamiSesje](
	[ZSS_ID] [int] IDENTITY(1,1) NOT NULL,
	[ZSS_UzytkownikID] [int] NOT NULL,
	[ZSS_DataStart] [datetime] NOT NULL,
	[ZSS_DataEnd] [datetime] NULL,
	[ZSS_NazwaMaszyny] [varchar](max) NULL,
	[ZSS_Zakonczono] [tinyint] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[ZarzadzanieZasobamiSlowniki]

In [0]:
/****** Object:  Table [dbo].[ZarzadzanieZasobamiSlowniki]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZarzadzanieZasobamiSlowniki](
	[SLW_Typ] [int] NOT NULL,
	[SLW_Wartosc1] [varchar](1023) NOT NULL,
	[SLW_Wartosc2] [varchar](1023) NOT NULL,
	[SLW_UzytkownikID] [int] NULL
) ON [PRIMARY]
GO

# [dbo].[ZarzadzanieZasobamiWidoki]

In [0]:
/****** Object:  Table [dbo].[ZarzadzanieZasobamiWidoki]    Script Date: 5.01.2026 21:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZarzadzanieZasobamiWidoki](
	[ZZW_ID] [int] IDENTITY(1,1) NOT NULL,
	[ZZW_Nazwa] [varchar](255) NOT NULL,
	[ZZW_DataZapisu] [datetime] NOT NULL,
	[ZZW_UzytkownikID] [int] NULL,
	[ZZW_DaneWidoku] [varchar](max) NOT NULL,
	[ZZW_Domyslny] [tinyint] NOT NULL,
	[ZZW_TypOkna] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [TowaryTypNieAktywnyGIDTyp]

In [0]:
/****** Object:  Index [TowaryTypNieAktywnyGIDTyp]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TowaryTypNieAktywnyGIDTyp] ON [CDN].[Towary]
(
	[Twr_NieAktywny] ASC,
	[Twr_GIDTyp] ASC
)
INCLUDE([Twr_Typ],[Twr_Produkt],[Twr_GIDNumer],[Twr_Kod]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TowaryTypNieAktywnyTyp]

In [0]:
/****** Object:  Index [TowaryTypNieAktywnyTyp]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TowaryTypNieAktywnyTyp] ON [CDN].[Towary]
(
	[Twr_NieAktywny] ASC,
	[Twr_Typ] ASC,
	[Twr_Produkt] ASC
)
INCLUDE([Twr_Kod],[Twr_Nazwa],[Twr_PrdID],[Twr_CenaZCzteremaMiejscami],[Twr_IloscMin],[Twr_IloscMinJM]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrAutoKodNr]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TwrAutoKodNr]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwrAutoKodNr] ON [CDN].[Towary]
(
	[Twr_AutoKodSeria] ASC,
	[Twr_AutoKodNumer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrDostawca]

In [0]:
/****** Object:  Index [TwrDostawca]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwrDostawca] ON [CDN].[Towary]
(
	[Twr_KntId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrEAN]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TwrEAN]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TwrEAN] ON [CDN].[Towary]
(
	[Twr_EAN] ASC,
	[Twr_TwrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrESklepFantomID]

In [0]:
/****** Object:  Index [TwrESklepFantomID]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwrESklepFantomID] ON [CDN].[Towary]
(
	[Twr_ESklepFantomID] ASC
)
INCLUDE([Twr_NieAktywny]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrGID]

In [0]:
/****** Object:  Index [TwrGID]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwrGID] ON [CDN].[Towary]
(
	[Twr_GIDTyp] ASC,
	[Twr_GIDNumer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrGIDNumer]

In [0]:
/****** Object:  Index [TwrGIDNumer]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwrGIDNumer] ON [CDN].[Towary]
(
	[Twr_GIDNumer] ASC
)
INCLUDE([Twr_TwrId],[Twr_Kod],[Twr_Typ],[Twr_Produkt]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrGridLookupFilter]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TwrGridLookupFilter]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TwrGridLookupFilter] ON [CDN].[Towary]
(
	[Twr_Kod] ASC,
	[Twr_TwrId] ASC
)
INCLUDE([Twr_NieAktywny],[Twr_Nazwa],[Twr_EAN]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrGrupaDomyslna]

In [0]:
/****** Object:  Index [TwrGrupaDomyslna]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwrGrupaDomyslna] ON [CDN].[Towary]
(
	[Twr_TwGGIDNumer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrGrupKod]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TwrGrupKod]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TwrGrupKod] ON [CDN].[Towary]
(
	[Twr_TwGGIDNumer] ASC,
	[Twr_Kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [Twrkategoria]

In [0]:
/****** Object:  Index [Twrkategoria]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [Twrkategoria] ON [CDN].[Towary]
(
	[Twr_KatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrKategoriaZak]

In [0]:
/****** Object:  Index [TwrKategoriaZak]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwrKategoriaZak] ON [CDN].[Towary]
(
	[Twr_KatZakId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrKod]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TwrKod]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TwrKod] ON [CDN].[Towary]
(
	[Twr_Kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrKodCN]

In [0]:
/****** Object:  Index [TwrKodCN]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwrKodCN] ON [CDN].[Towary]
(
	[Twr_KCNId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrKodDostawcy]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TwrKodDostawcy]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TwrKodDostawcy] ON [CDN].[Towary]
(
	[Twr_KodDostawcy] ASC,
	[Twr_TwrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrMarka]

In [0]:
/****** Object:  Index [TwrMarka]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwrMarka] ON [CDN].[Towary]
(
	[Twr_MrkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrNazwa]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TwrNazwa]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TwrNazwa] ON [CDN].[Towary]
(
	[Twr_Nazwa] ASC,
	[Twr_TwrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrNieaktywne]

In [0]:
/****** Object:  Index [TwrNieaktywne]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwrNieaktywne] ON [CDN].[Towary]
(
	[Twr_NieAktywny] ASC
)
INCLUDE([Twr_TwrId],[Twr_Kod],[Twr_Typ],[Twr_Produkt],[Twr_GIDNumer],[Twr_TS_Mod],[Twr_TwCNumer],[Twr_Nazwa],[Twr_EAN],[Twr_OpiekunID],[Twr_OpiekunTyp]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrNrKat]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TwrNrKat]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TwrNrKat] ON [CDN].[Towary]
(
	[Twr_NumerKat] ASC,
	[Twr_TwrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrProducent]

In [0]:
/****** Object:  Index [TwrProducent]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwrProducent] ON [CDN].[Towary]
(
	[Twr_PrdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrProduktTyp]

In [0]:
/****** Object:  Index [TwrProduktTyp]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwrProduktTyp] ON [CDN].[Towary]
(
	[Twr_Produkt] ASC,
	[Twr_Typ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrSON]

In [0]:
/****** Object:  Index [TwrSON]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwrSON] ON [CDN].[Towary]
(
	[Twr_SONId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraElemAktywny]

In [0]:
/****** Object:  Index [TraElemAktywny]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraElemAktywny] ON [CDN].[TraElem]
(
	[TrE_Aktywny] ASC
)
INCLUDE([TrE_TrNId],[TrE_TwrId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraElemAktywnyTwrId]

In [0]:
/****** Object:  Index [TraElemAktywnyTwrId]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraElemAktywnyTwrId] ON [CDN].[TraElem]
(
	[TrE_Aktywny] ASC,
	[TrE_TwrId] ASC,
	[TrE_TypDokumentu] ASC,
	[TrE_DataDok] ASC
)
INCLUDE([TrE_LpPow],[TrE_TrNId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraElemKaucja]

In [0]:
/****** Object:  Index [TraElemKaucja]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraElemKaucja] ON [CDN].[TraElem]
(
	[TrE_TrNId] ASC,
	[TrE_Kaucja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraElemTrNId]

In [0]:
/****** Object:  Index [TraElemTrNId]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraElemTrNId] ON [CDN].[TraElem]
(
	[TrE_TrEID] ASC,
	[TrE_TrNId] ASC
)
INCLUDE([TrE_KosztUslugi]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraElemUslugaZlozonaId]

In [0]:
/****** Object:  Index [TraElemUslugaZlozonaId]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraElemUslugaZlozonaId] ON [CDN].[TraElem]
(
	[TrE_UslugaZlozonaId] ASC,
	[TrE_Aktywny] ASC
)
INCLUDE([TrE_TrNId],[TrE_TwrId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraElemZwrId]

In [0]:
/****** Object:  Index [TraElemZwrId]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraElemZwrId] ON [CDN].[TraElem]
(
	[TrE_ZwrId] ASC,
	[TrE_Aktywny] ASC
)
INCLUDE([TrE_TrNId],[TrE_IloscJM],[TrE_LpPow]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrEKategoria]

In [0]:
/****** Object:  Index [TrEKategoria]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TrEKategoria] ON [CDN].[TraElem]
(
	[TrE_KatID] ASC,
	[TrE_DataOpe] ASC,
	[TrE_TrEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrEMagazyn]

In [0]:
/****** Object:  Index [TrEMagazyn]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrEMagazyn] ON [CDN].[TraElem]
(
	[TrE_MagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrEPodmiot]

In [0]:
/****** Object:  Index [TrEPodmiot]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TrEPodmiot] ON [CDN].[TraElem]
(
	[TrE_PodID] ASC,
	[TrE_PodmiotTyp] ASC,
	[TrE_DataOpe] ASC,
	[TrE_TrEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrEProdukt]

In [0]:
/****** Object:  Index [TrEProdukt]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrEProdukt] ON [CDN].[TraElem]
(
	[TrE_TrEIdProd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrETowar]

In [0]:
/****** Object:  Index [TrETowar]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TrETowar] ON [CDN].[TraElem]
(
	[TrE_TwrId] ASC,
	[TrE_DataOpe] ASC,
	[TrE_TrEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrETraNag]

In [0]:
/****** Object:  Index [TrETraNag]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TrETraNag] ON [CDN].[TraElem]
(
	[TrE_TrNId] ASC,
	[TrE_Lp] ASC,
	[TrE_TrEID] ASC
)
INCLUDE([TrE_LpPow],[TrE_TypDokumentu],[TrE_TwrId],[TrE_KosztUslugi]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrETwrKod]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TrETwrKod]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrETwrKod] ON [CDN].[TraElem]
(
	[TrE_TrNId] ASC,
	[TrE_TwrKod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrEUslugaZlozona]

In [0]:
/****** Object:  Index [TrEUslugaZlozona]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrEUslugaZlozona] ON [CDN].[TraElem]
(
	[TrE_UslugaZlozonaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrEZwrot]

In [0]:
/****** Object:  Index [TrEZwrot]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TrEZwrot] ON [CDN].[TraElem]
(
	[TrE_ZwrId] ASC,
	[TrE_TrEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrA_Dok_Index]

In [0]:
/****** Object:  Index [TrA_Dok_Index]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrA_Dok_Index] ON [CDN].[TraElemAtr]
(
	[TrA_DokTyp] ASC,
	[TrA_DokId] ASC,
	[TrA_Lp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraElemAtrDeAId]

In [0]:
/****** Object:  Index [TraElemAtrDeAId]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraElemAtrDeAId] ON [CDN].[TraElemAtr]
(
	[TrA_DeAId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrATraElemAtr]

In [0]:
/****** Object:  Index [TrATraElemAtr]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrATraElemAtr] ON [CDN].[TraElemAtr]
(
	[TrA_TrEId] ASC,
	[TrA_Lp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TeR_Child]

In [0]:
/****** Object:  Index [TeR_Child]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TeR_Child] ON [CDN].[TraElemRelacje]
(
	[TeR_ChildTyp] ASC,
	[TeR_ChildId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TeR_Parent]

In [0]:
/****** Object:  Index [TeR_Parent]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TeR_Parent] ON [CDN].[TraElemRelacje]
(
	[TeR_ParentTyp] ASC,
	[TeR_ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TeR_ParentIdChildIdParentId]

In [0]:
/****** Object:  Index [TeR_ParentIdChildIdParentId]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TeR_ParentIdChildIdParentId] ON [CDN].[TraElemRelacje]
(
	[TeR_ChildId] ASC,
	[TeR_ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TeR_ParentIdParentIdChildId]

In [0]:
/****** Object:  Index [TeR_ParentIdParentIdChildId]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TeR_ParentIdParentIdChildId] ON [CDN].[TraElemRelacje]
(
	[TeR_ParentId] ASC,
	[TeR_ChildId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraNagDokMOSMMId]

In [0]:
/****** Object:  Index [TraNagDokMOSMMId]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraNagDokMOSMMId] ON [CDN].[TraNag]
(
	[TrN_DokMOSMMId] ASC,
	[TrN_Bufor] ASC
)
INCLUDE([TrN_TypDokumentu],[TrN_NumerPelny],[TrN_DataWys],[TrN_RazemNetto],[TrN_RazemNettoWal],[TrN_Waluta],[TrN_MagZrdId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraNageSklepID]

In [0]:
/****** Object:  Index [TraNageSklepID]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraNageSklepID] ON [CDN].[TraNag]
(
	[TrN_eSklepID] ASC,
	[TrN_TS_Mod] ASC,
	[TrN_GIDNumer] ASC
)
INCLUDE([TrN_Bufor],[TrN_ZwroconoCalaIlosc],[TrN_TS_Zal],[TrN_NumerPelny],[TrN_eSklepStatusPlatnosci],[TrN_eSklepStatusDostawy],[TrN_eSklepDataDost],[TrN_TypDokumentu],[TrN_DataWys]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraNagTrNRelTrNId]

In [0]:
/****** Object:  Index [TraNagTrNRelTrNId]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraNagTrNRelTrNId] ON [CDN].[TraNag]
(
	[TrN_RelTrNId] ASC
)
INCLUDE([TrN_DataDok],[TrN_DataWys],[TrN_RazemBruttoWal],[TrN_NumerPelny]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraNagTypDokumentu]

In [0]:
/****** Object:  Index [TraNagTypDokumentu]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraNagTypDokumentu] ON [CDN].[TraNag]
(
	[TrN_TypDokumentu] ASC
)
INCLUDE([TrN_NumerNr],[TrN_NumerString],[TrN_Anulowany],[TrN_PodNazwa1],[TrN_PodNazwa2],[TrN_PodNazwa3],[TrN_NumerPelny],[TrN_MagZrdId],[TrN_Bufor],[TrN_DataDok],[TrN_Fiskalna],[TrN_FiskalnaErr],[TrN_NumerObcy],[TrN_DataOpe],[TrN_Opis]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraNagTypDokumentuAnulowany]

In [0]:
/****** Object:  Index [TraNagTypDokumentuAnulowany]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraNagTypDokumentuAnulowany] ON [CDN].[TraNag]
(
	[TrN_TypDokumentu] ASC,
	[TrN_Anulowany] ASC
)
INCLUDE([TrN_NumerPelny],[TrN_RazemNetto],[TrN_RazemBrutto],[TrN_PodNazwa1],[TrN_PodNazwa2],[TrN_PodNazwa3],[TrN_MagZrdId],[TrN_Bufor],[TrN_DataWys],[TrN_DataDok]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraNagTypDokumentuAnulowanyMagZrdId]

In [0]:
/****** Object:  Index [TraNagTypDokumentuAnulowanyMagZrdId]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraNagTypDokumentuAnulowanyMagZrdId] ON [CDN].[TraNag]
(
	[TrN_TypDokumentu] ASC,
	[TrN_Anulowany] ASC,
	[TrN_MagZrdId] ASC,
	[TrN_DataOpe] ASC,
	[TrN_DataWys] ASC,
	[TrN_Bufor] ASC,
	[TrN_Korekta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraNagTypDokumentuBuforRodzaj]

In [0]:
/****** Object:  Index [TraNagTypDokumentuBuforRodzaj]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraNagTypDokumentuBuforRodzaj] ON [CDN].[TraNag]
(
	[TrN_TypDokumentu] ASC,
	[TrN_Bufor] ASC,
	[TrN_Rodzaj] ASC,
	[TrN_TS_Mod] ASC,
	[TrN_DataWys] ASC
)
INCLUDE([TrN_FVMarza],[TrN_PodID],[TrN_PodmiotTyp],[TrN_PodNipE],[TrN_FPlId],[TrN_PlatnikID],[TrN_OdbID],[TrN_ZwroconoCalaIlosc]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraNagTypDokumentuDataWys]

In [0]:
/****** Object:  Index [TraNagTypDokumentuDataWys]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraNagTypDokumentuDataWys] ON [CDN].[TraNag]
(
	[TrN_TypDokumentu] ASC,
	[TrN_DataWys] ASC
)
INCLUDE([TrN_NumerNr],[TrN_NumerString],[TrN_Anulowany],[TrN_PodNazwa1],[TrN_PodNazwa2],[TrN_PodNazwa3],[TrN_PodmiotTyp],[TrN_PodID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraNagZwrIdBufor]

In [0]:
/****** Object:  Index [TraNagZwrIdBufor]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraNagZwrIdBufor] ON [CDN].[TraNag]
(
	[TrN_ZwrId] ASC,
	[TrN_Bufor] ASC
)
INCLUDE([TrN_TypDokumentu],[TrN_NumerPelny],[TrN_DataWys],[TrN_RazemNetto],[TrN_RazemNettoWal],[TrN_Waluta],[TrN_MagZrdId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrN_Bufor]

In [0]:
/****** Object:  Index [TrN_Bufor]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrN_Bufor] ON [CDN].[TraNag]
(
	[TrN_Bufor] ASC
)
INCLUDE([TrN_Korekta]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrN_DataOpe]

In [0]:
/****** Object:  Index [TrN_DataOpe]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrN_DataOpe] ON [CDN].[TraNag]
(
	[TrN_DataOpe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrN_DataWys]

In [0]:
/****** Object:  Index [TrN_DataWys]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrN_DataWys] ON [CDN].[TraNag]
(
	[TrN_DataWys] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrN_Korekta]

In [0]:
/****** Object:  Index [TrN_Korekta]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrN_Korekta] ON [CDN].[TraNag]
(
	[TrN_Korekta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrN_OpeZalPodmiot]

In [0]:
/****** Object:  Index [TrN_OpeZalPodmiot]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrN_OpeZalPodmiot] ON [CDN].[TraNag]
(
	[TrN_OpeZalID] ASC,
	[TrN_PodmiotTyp] ASC,
	[TrN_PodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrN_RazemNetto]

In [0]:
/****** Object:  Index [TrN_RazemNetto]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrN_RazemNetto] ON [CDN].[TraNag]
(
	[TrN_RazemNetto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrN_Rodzaj]

In [0]:
/****** Object:  Index [TrN_Rodzaj]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrN_Rodzaj] ON [CDN].[TraNag]
(
	[TrN_Rodzaj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrN_ZwrIdWZKK]

In [0]:
/****** Object:  Index [TrN_ZwrIdWZKK]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrN_ZwrIdWZKK] ON [CDN].[TraNag]
(
	[TrN_ZwrIdWZKK] ASC,
	[TrN_Bufor] ASC,
	[TrN_Rodzaj] ASC,
	[TrN_TS_Mod] ASC,
	[TrN_DataWys] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNDataDok]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TrNDataDok]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TrNDataDok] ON [CDN].[TraNag]
(
	[TrN_TypDokumentu] ASC,
	[TrN_DataDok] ASC,
	[TrN_NumerString] ASC,
	[TrN_NumerNr] ASC,
	[TrN_Anulowany] ASC,
	[TrN_Bufor] ASC,
	[TrN_TrNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNDekrety]

In [0]:
/****** Object:  Index [TrNDekrety]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrNDekrety] ON [CDN].[TraNag]
(
	[TrN_DekId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNDokDef]

In [0]:
/****** Object:  Index [TrNDokDef]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrNDokDef] ON [CDN].[TraNag]
(
	[TrN_DDfId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNFaktura]

In [0]:
/****** Object:  Index [TrNFaktura]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrNFaktura] ON [CDN].[TraNag]
(
	[TrN_FaId] ASC,
	[TrN_RelTrNId] ASC,
	[TrN_ZwroconoCalaIlosc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNGID]

In [0]:
/****** Object:  Index [TrNGID]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrNGID] ON [CDN].[TraNag]
(
	[TrN_GIDTyp] ASC,
	[TrN_GIDFirma] ASC,
	[TrN_GIDNumer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNGUID]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TrNGUID]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TrNGUID] ON [CDN].[TraNag]
(
	[TrN_ImportRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNIntrastad]

In [0]:
/****** Object:  Index [TrNIntrastad]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrNIntrastad] ON [CDN].[TraNag]
(
	[TrN_IsNId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNKategoria]

In [0]:
/****** Object:  Index [TrNKategoria]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TrNKategoria] ON [CDN].[TraNag]
(
	[TrN_KatID] ASC,
	[TrN_DataDok] ASC,
	[TrN_TrNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNMagazynDoc]

In [0]:
/****** Object:  Index [TrNMagazynDoc]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrNMagazynDoc] ON [CDN].[TraNag]
(
	[TrN_MagDocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNMagazynZrd]

In [0]:
/****** Object:  Index [TrNMagazynZrd]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrNMagazynZrd] ON [CDN].[TraNag]
(
	[TrN_MagZrdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNNumer]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TrNNumer]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TrNNumer] ON [CDN].[TraNag]
(
	[TrN_NumerString] ASC,
	[TrN_NumerNr] ASC,
	[TrN_Anulowany] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNNumerPelny]

In [0]:
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [TrNNumerPelny]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TrNNumerPelny] ON [CDN].[TraNag]
(
	[TrN_NumerPelny] ASC,
	[TrN_Anulowany] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNOdbiorca]

In [0]:
/****** Object:  Index [TrNOdbiorca]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrNOdbiorca] ON [CDN].[TraNag]
(
	[TrN_OdbID] ASC,
	[TrN_OdbiorcaTyp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNOdbiorcaDoc]

In [0]:
/****** Object:  Index [TrNOdbiorcaDoc]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrNOdbiorcaDoc] ON [CDN].[TraNag]
(
	[TrN_OdbDocID] ASC,
	[TrN_OdbiorcaDocTyp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNPlatnosc]

In [0]:
/****** Object:  Index [TrNPlatnosc]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrNPlatnosc] ON [CDN].[TraNag]
(
	[TrN_FPlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNPodmiot]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TrNPodmiot]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TrNPodmiot] ON [CDN].[TraNag]
(
	[TrN_PodID] ASC,
	[TrN_PodmiotTyp] ASC,
	[TrN_DataDok] ASC,
	[TrN_NumerString] ASC,
	[TrN_NumerNr] ASC,
	[TrN_TrNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNPodZaliczka]

In [0]:
/****** Object:  Index [TrNPodZaliczka]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrNPodZaliczka] ON [CDN].[TraNag]
(
	[TrN_PodZalId] ASC,
	[TrN_PodmiotZalTyp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNPreDekrety]

In [0]:
/****** Object:  Index [TrNPreDekrety]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrNPreDekrety] ON [CDN].[TraNag]
(
	[TrN_PreDekID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNTypNUmer]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TrNTypNUmer]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TrNTypNUmer] ON [CDN].[TraNag]
(
	[TrN_TypDokumentu] ASC,
	[TrN_NumerString] ASC,
	[TrN_NumerNr] ASC,
	[TrN_Anulowany] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNVatNag]

In [0]:
/****** Object:  Index [TrNVatNag]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrNVatNag] ON [CDN].[TraNag]
(
	[TrN_VaNId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrNZwrot]

In [0]:
/****** Object:  Index [TrNZwrot]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TrNZwrot] ON [CDN].[TraNag]
(
	[TrN_ZwrId] ASC,
	[TrN_TrNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [KeyTraNagRelId]

In [0]:
/****** Object:  Index [KeyTraNagRelId]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [KeyTraNagRelId] ON [CDN].[TraNagRelacje]
(
	[TrR_TrNId] ASC,
	[TrR_FaTyp] ASC,
	[TrR_Flaga] ASC
)
INCLUDE([TrR_TrRId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraNagRelFaId]

In [0]:
/****** Object:  Index [TraNagRelFaId]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraNagRelFaId] ON [CDN].[TraNagRelacje]
(
	[TrR_FaId] ASC,
	[TrR_FaTyp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraNagRelFaTyp]

In [0]:
/****** Object:  Index [TraNagRelFaTyp]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraNagRelFaTyp] ON [CDN].[TraNagRelacje]
(
	[TrR_FaTyp] ASC
)
INCLUDE([TrR_TrNId],[TrR_FaId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraNagRelFlaga]

In [0]:
/****** Object:  Index [TraNagRelFlaga]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraNagRelFlaga] ON [CDN].[TraNagRelacje]
(
	[TrR_Flaga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraNagRelTrNId]

In [0]:
/****** Object:  Index [TraNagRelTrNId]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraNagRelTrNId] ON [CDN].[TraNagRelacje]
(
	[TrR_TrNId] ASC,
	[TrR_TrNTyp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraNagRelTrNTypFaTyp]

In [0]:
/****** Object:  Index [TraNagRelTrNTypFaTyp]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraNagRelTrNTypFaTyp] ON [CDN].[TraNagRelacje]
(
	[TrR_TrNTyp] ASC,
	[TrR_FaTyp] ASC
)
INCLUDE([TrR_TrNId],[TrR_FaId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraSElemTrEIdWartosc]

In [0]:
/****** Object:  Index [TraSElemTrEIdWartosc]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TraSElemTrEIdWartosc] ON [CDN].[TraSElem]
(
	[TrS_TrEId] ASC,
	[TrS_TrSID] ASC,
	[TrS_Wartosc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraSElemTrSIdWartosc]

In [0]:
/****** Object:  Index [TraSElemTrSIdWartosc]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraSElemTrSIdWartosc] ON [CDN].[TraSElem]
(
	[TrS_TrSID] ASC
)
INCLUDE([TrS_Wartosc],[TrS_TrEId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraSElemWyborDostaw]

In [0]:
/****** Object:  Index [TraSElemWyborDostaw]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraSElemWyborDostaw] ON [CDN].[TraSElem]
(
	[TrS_WyborDostaw] ASC,
	[TrS_TrEIdWydania] ASC
)
INCLUDE([TrS_Ilosc]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraSElemWyborTwrIdTyp]

In [0]:
/****** Object:  Index [TraSElemWyborTwrIdTyp]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraSElemWyborTwrIdTyp] ON [CDN].[TraSElem]
(
	[TrS_TwrId] ASC,
	[TrS_Typ] ASC
)
INCLUDE([TrS_TrEId],[TrS_TrEIdWydania],[TrS_ZwrId],[TrS_MagId],[TrS_DataOpe],[TrS_Ilosc]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrSDostawa]

In [0]:
/****** Object:  Index [TrSDostawa]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrSDostawa] ON [CDN].[TraSElem]
(
	[TrS_TrSIdDost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrSTowar]

In [0]:
/****** Object:  Index [TrSTowar]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrSTowar] ON [CDN].[TraSElem]
(
	[TrS_TwrId] ASC,
	[TrS_MagId] ASC,
	[TrS_DataOpe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrSTraElem]

In [0]:
/****** Object:  Index [TrSTraElem]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TrSTraElem] ON [CDN].[TraSElem]
(
	[TrS_TrEId] ASC,
	[TrS_TrSID] ASC
)
INCLUDE([TrS_Rodzaj],[TrS_Ilosc],[TrS_Wartosc],[TrS_ZwrId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrSTrEIdWydania]

In [0]:
/****** Object:  Index [TrSTrEIdWydania]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrSTrEIdWydania] ON [CDN].[TraSElem]
(
	[TrS_TrEIdWydania] ASC
)
INCLUDE([TrS_Ilosc]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrSZwrot]

In [0]:
/****** Object:  Index [TrSZwrot]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TrSZwrot] ON [CDN].[TraSElem]
(
	[TrS_ZwrId] ASC,
	[TrS_TrSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrSTraElemC]

In [0]:
/****** Object:  Index [TrSTraElemC]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TrSTraElemC] ON [CDN].[TraSElemCechy]
(
	[TsC_TrSID] ASC,
	[TsC_TsCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TraSElemDostTrSID]

In [0]:
/****** Object:  Index [TraSElemDostTrSID]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TraSElemDostTrSID] ON [CDN].[TraSElemDost]
(
	[TsD_TrSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrSDostawa]

In [0]:
/****** Object:  Index [TrSDostawa]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrSDostawa] ON [CDN].[TraSElemDost]
(
	[TsD_TrSIdDost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrSDostawaProdElem]

In [0]:
/****** Object:  Index [TrSDostawaProdElem]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TrSDostawaProdElem] ON [CDN].[TraSElemDost]
(
	[TsD_PdEId] ASC
)
INCLUDE([TsD_TrSID],[TsD_Ilosc]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TrSTraElemD]

In [0]:
/****** Object:  Index [TrSTraElemD]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TrSTraElemD] ON [CDN].[TraSElemDost]
(
	[TsD_TrEId] ASC,
	[TsD_TrSID] ASC,
	[TsD_TsDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwADefAtrybut]

In [0]:
/****** Object:  Index [TwADefAtrybut]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwADefAtrybut] ON [CDN].[TwrAtrybuty]
(
	[TwA_DeAId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwADefAtrybutTwrWartosc]

In [0]:
/****** Object:  Index [TwADefAtrybutTwrWartosc]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwADefAtrybutTwrWartosc] ON [CDN].[TwrAtrybuty]
(
	[TwA_DeAId] ASC
)
INCLUDE([TwA_TwrId],[TwA_DABID],[TwA_WartoscTxt],[TwA_SrUId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwARodzajU]

In [0]:
/****** Object:  Index [TwARodzajU]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwARodzajU] ON [CDN].[TwrAtrybuty]
(
	[TwA_SrRId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwATowar]

In [0]:
/****** Object:  Index [TwATowar]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwATowar] ON [CDN].[TwrAtrybuty]
(
	[TwA_TwrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwAtrybutyESklep]

In [0]:
/****** Object:  Index [TwAtrybutyESklep]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwAtrybutyESklep] ON [CDN].[TwrAtrybuty]
(
	[TwA_ESklep] ASC,
	[TwA_CzyPrzenosicNaDostawy] ASC
)
INCLUDE([TwA_DeAId],[TwA_TwrId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwAUrzadzenie]

In [0]:
/****** Object:  Index [TwAUrzadzenie]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwAUrzadzenie] ON [CDN].[TwrAtrybuty]
(
	[TwA_SrUId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwAZlecenie]

In [0]:
/****** Object:  Index [TwAZlecenie]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwAZlecenie] ON [CDN].[TwrAtrybuty]
(
	[TwA_SrZId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwCTowar]

In [0]:
/****** Object:  Index [TwCTowar]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TwCTowar] ON [CDN].[TwrCeny]
(
	[TwC_TwrID] ASC,
	[TwC_TwCNumer] ASC
)
INCLUDE([TwC_Typ],[TwC_Wartosc],[TwC_Waluta],[TwC_Marza]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwCTwrGID]

In [0]:
/****** Object:  Index [TwCTwrGID]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwCTwrGID] ON [CDN].[TwrCeny]
(
	[TwC_TwrTyp] ASC,
	[TwC_TwrFirma] ASC,
	[TwC_TwrNumer] ASC,
	[TwC_TwrLp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrCenyTwCNumer]

In [0]:
/****** Object:  Index [TwrCenyTwCNumer]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwrCenyTwCNumer] ON [CDN].[TwrCeny]
(
	[TwC_TwCNumer] ASC
)
INCLUDE([TwC_TwrID],[TwC_Typ],[TwC_Wartosc],[TwC_Waluta]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrCenyWaluta]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TwrCenyWaluta]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwrCenyWaluta] ON [CDN].[TwrCeny]
(
	[TwC_Waluta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwDKod]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TwDKod]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TwDKod] ON [CDN].[TwrDost]
(
	[TWD_KntTyp] ASC,
	[TWD_KntFirma] ASC,
	[TWD_KntNumer] ASC,
	[TWD_KodOrgKnt] ASC,
	[TWD_KodTyp] ASC,
	[TWD_KodFirma] ASC,
	[TWD_KodNumer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwDKontrah]

In [0]:
/****** Object:  Index [TwDKontrah]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TwDKontrah] ON [CDN].[TwrDost]
(
	[TWD_KntTyp] ASC,
	[TWD_KntFirma] ASC,
	[TWD_KntNumer] ASC,
	[TWD_TwrTyp] ASC,
	[TWD_TwrFirma] ASC,
	[TWD_TwrNumer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwEEan]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TwEEan]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwEEan] ON [CDN].[TwrEan]
(
	[TwE_EAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwETowar]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TwETowar]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TwETowar] ON [CDN].[TwrEan]
(
	[TwE_TwrId] ASC,
	[TwE_EAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwGGID]

In [0]:
/****** Object:  Index [TwGGID]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwGGID] ON [CDN].[TwrGrupy]
(
	[TwG_GIDTyp] ASC,
	[TwG_GIDNumer] ASC,
	[TwG_GrOTyp] ASC,
	[TwG_GrONumer] ASC
)
INCLUDE([TwG_TwGID],[TwG_Kod],[TwG_Nazwa]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwGGIDKod]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TwGGIDKod]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwGGIDKod] ON [CDN].[TwrGrupy]
(
	[TwG_GIDTyp] ASC,
	[TwG_Kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwGGIDTyp]

In [0]:
/****** Object:  Index [TwGGIDTyp]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwGGIDTyp] ON [CDN].[TwrGrupy]
(
	[TwG_GIDTyp] ASC
)
INCLUDE([TwG_GIDNumer],[TwG_CzasModyfikacji]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwGKod]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TwGKod]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TwGKod] ON [CDN].[TwrGrupy]
(
	[TwG_GrOTyp] ASC,
	[TwG_GrONumer] ASC,
	[TwG_GIDTyp] ASC,
	[TwG_Kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwGNazwa]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [TwGNazwa]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TwGNazwa] ON [CDN].[TwrGrupy]
(
	[TwG_GrOTyp] ASC,
	[TwG_GrONumer] ASC,
	[TwG_GIDTyp] ASC,
	[TwG_Nazwa] ASC,
	[TwG_GIDNumer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrGrupyGIDTypGrOTyp]

In [0]:
/****** Object:  Index [TwrGrupyGIDTypGrOTyp]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwrGrupyGIDTypGrOTyp] ON [CDN].[TwrGrupy]
(
	[TwG_GIDTyp] ASC,
	[TwG_GrOTyp] ASC,
	[TwG_GrONumer] ASC
)
INCLUDE([TwG_GIDNumer],[TwG_Kod],[TwG_Nazwa],[TwG_CzasModyfikacji],[TwG_eSklepLp]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwZMagazyn]

In [0]:
/****** Object:  Index [TwZMagazyn]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [TwZMagazyn] ON [CDN].[TwrZasoby]
(
	[TwZ_MagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwZTowar]

In [0]:
/****** Object:  Index [TwZTowar]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TwZTowar] ON [CDN].[TwrZasoby]
(
	[TwZ_TwrId] ASC,
	[TwZ_MagId] ASC,
	[TwZ_Data] ASC,
	[TwZ_TrSIdDost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwZTraSElem]

In [0]:
/****** Object:  Index [TwZTraSElem]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TwZTraSElem] ON [CDN].[TwrZasoby]
(
	[TwZ_TrSIdDost] ASC,
	[TwZ_MagId] ASC,
	[TwZ_TwrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [AtrybutElemUnigue]

In [0]:
/****** Object:  Index [AtrybutElemUnigue]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [AtrybutElemUnigue] ON [dbo].[CtiAtrybutyElem]
(
	[CAE_TypDok] ASC,
	[CAE_IdDok] ASC,
	[CAE_CANLp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [AtrybutyNagLp]

In [0]:
/****** Object:  Index [AtrybutyNagLp]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [AtrybutyNagLp] ON [dbo].[CtiAtrybutyNag]
(
	[CAN_Lp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [AtrybutyUprawnieniaUnique]

In [0]:
/****** Object:  Index [AtrybutyUprawnieniaUnique]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [AtrybutyUprawnieniaUnique] ON [dbo].[CtiAtrybutyUprawnienia]
(
	[CAU_CANLp] ASC,
	[CAU_TypDok] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiDelivery_TwrID]

In [0]:
/****** Object:  Index [CtiDelivery_TwrID]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [CtiDelivery_TwrID] ON [dbo].[CtiDelivery]
(
	[CD_TwrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [DNW_TypID]

In [0]:
/****** Object:  Index [DNW_TypID]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [DNW_TypID] ON [dbo].[CtiDokNrWlasny]
(
	[DNW_DokTyp] ASC,
	[DNW_DokID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiDzial_Kod]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [CtiDzial_Kod]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CtiDzial_Kod] ON [dbo].[CtiDzial]
(
	[CDZ_Kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [DzP_PrcUnique]

In [0]:
/****** Object:  Index [DzP_PrcUnique]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [DzP_PrcUnique] ON [dbo].[CtiDzialPRC]
(
	[DzP_CDZID] ASC,
	[DzP_PrcId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CFL_UniqueView]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [CFL_UniqueView]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CFL_UniqueView] ON [dbo].[CtiFormLayouts]
(
	[CFL_ProgramName] ASC,
	[CFL_FormName] ASC,
	[CFL_OperatorID] ASC,
	[CFL_WorkstationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CGCL_SpeedIndex]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [CGCL_SpeedIndex]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [CGCL_SpeedIndex] ON [dbo].[CtiGridCustomLayouts]
(
	[CGCL_ProgramName] ASC,
	[CGCL_GridName] ASC,
	[CGCL_OperatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CGL_UniqueView]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [CGL_UniqueView]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CGL_UniqueView] ON [dbo].[CtiGridLayouts]
(
	[CGL_ProgramName] ASC,
	[CGL_GridName] ASC,
	[CGL_OperatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiKonfigOgraniczenia_ID]

In [0]:
/****** Object:  Index [CtiKonfigOgraniczenia_ID]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [CtiKonfigOgraniczenia_ID] ON [dbo].[CtiKonfigOgraniczenia]
(
	[KnO_IdList] ASC,
	[KnO_Parametr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [NonClusteredIndex_KGD_Nip]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex_KGD_Nip]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex_KGD_Nip] ON [dbo].[CtiKontrahentGusDane]
(
	[KGD_Nip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [NonClusteredIndex_KVD_IsoKraj]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex_KVD_IsoKraj]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex_KVD_IsoKraj] ON [dbo].[CtiKontrahentViesDane]
(
	[KVD_IsoKraj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [NonClusteredIndex_KVD_Nip]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex_KVD_Nip]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex_KVD_Nip] ON [dbo].[CtiKontrahentViesDane]
(
	[KVD_Nip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [idx_CtiMaszyna]

In [0]:
/****** Object:  Index [idx_CtiMaszyna]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [idx_CtiMaszyna] ON [dbo].[CtiMaszyna]
(
	[Mas_DokID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [idx_CtiMaszyna_0]

In [0]:
/****** Object:  Index [idx_CtiMaszyna_0]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [idx_CtiMaszyna_0] ON [dbo].[CtiMaszyna]
(
	[Mas_DokElemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [idx_CtiMaszynaRealizacja]

In [0]:
/****** Object:  Index [idx_CtiMaszynaRealizacja]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [idx_CtiMaszynaRealizacja] ON [dbo].[CtiMaszynaRealizacja]
(
	[Mar_MasID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [idx_CtiMaszynaZasoby]

In [0]:
/****** Object:  Index [idx_CtiMaszynaZasoby]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [idx_CtiMaszynaZasoby] ON [dbo].[CtiMaszynaZasoby]
(
	[Maz_CZNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [idx_CtiMaszynaZasoby_0]

In [0]:
/****** Object:  Index [idx_CtiMaszynaZasoby_0]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [idx_CtiMaszynaZasoby_0] ON [dbo].[CtiMaszynaZasoby]
(
	[Maz_CZSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CO_KOD]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [CO_KOD]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CO_KOD] ON [dbo].[CtiOperatorzy]
(
	[CO_Kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiPlanowanaCecha_Unique]

In [0]:
/****** Object:  Index [CtiPlanowanaCecha_Unique]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CtiPlanowanaCecha_Unique] ON [dbo].[CtiPlanowanaCecha]
(
	[CPC_TypDokumentu] ASC,
	[CPC_IdElementu] ASC,
	[CPC_AtrybutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiProdukcjaKolumny_Nazwa]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [CtiProdukcjaKolumny_Nazwa]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CtiProdukcjaKolumny_Nazwa] ON [dbo].[CtiProdukcjaKolumny]
(
	[CPK_Tabela] ASC,
	[CPK_Nazwa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiProdukcjaKolumnyWartosci_Obiekt]

In [0]:
/****** Object:  Index [CtiProdukcjaKolumnyWartosci_Obiekt]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CtiProdukcjaKolumnyWartosci_Obiekt] ON [dbo].[CtiProdukcjaKolumnyWartosci]
(
	[CKW_CPKID] ASC,
	[CKW_ObiektID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [NonClusteredIndex]

In [0]:
/****** Object:  Index [NonClusteredIndex]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex] ON [dbo].[CtiProdukcjaStatus]
(
	[CPS_DokID] ASC,
	[CPS_DokTyp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiProdWydanieNag_NrPelnyUnigue]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [CtiProdWydanieNag_NrPelnyUnigue]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CtiProdWydanieNag_NrPelnyUnigue] ON [dbo].[CtiProdWydanieNag]
(
	[CWN_NrPelny] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiProdWydanieNag_NumerObcy]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [CtiProdWydanieNag_NumerObcy]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CtiProdWydanieNag_NumerObcy] ON [dbo].[CtiProdWydanieNag]
(
	[CWN_NumerObcy] ASC
)
WHERE ([CWN_NumerObcy] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiSlownikiUzytkow_Kod]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [CtiSlownikiUzytkow_Kod]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CtiSlownikiUzytkow_Kod] ON [dbo].[CtiSlownikiUzytkow]
(
	[CsU_Kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtnId_CechaNr]

In [0]:
/****** Object:  Index [CtnId_CechaNr]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CtnId_CechaNr] ON [dbo].[CtiTechnolCecha]
(
	[CTC_CTNID] ASC,
	[CTC_Typ] ASC,
	[CTC_NrCechy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [TwrId]

In [0]:
/****** Object:  Index [TwrId]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TwrId] ON [dbo].[CtiTechnolDomyslna]
(
	[CTD_TwrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiTHelem_Towar]

In [0]:
/****** Object:  Index [CtiTHelem_Towar]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [CtiTHelem_Towar] ON [dbo].[CtiTechnolElem]
(
	[CTE_CTNId] ASC,
	[CTE_TwrId] ASC,
	[CTE_Ilosc] ASC,
	[CTE_Typ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiTechnolNag_NumerObcy]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [CtiTechnolNag_NumerObcy]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CtiTechnolNag_NumerObcy] ON [dbo].[CtiTechnolNag]
(
	[CTN_NumerObcy] ASC
)
WHERE ([CTN_NumerObcy] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiTowary_TwrID]

In [0]:
/****** Object:  Index [CtiTowary_TwrID]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [CtiTowary_TwrID] ON [dbo].[CtiTowary]
(
	[CTwr_TwrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiTraElem_TreID]

In [0]:
/****** Object:  Index [CtiTraElem_TreID]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [CtiTraElem_TreID] ON [dbo].[CtiTraElem]
(
	[CTre_TreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiTwrCzasy_TwrID]

In [0]:
/****** Object:  Index [CtiTwrCzasy_TwrID]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [CtiTwrCzasy_TwrID] ON [dbo].[CtiTwrCzasy]
(
	[CRC_TwrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CUW_DokUnique]

In [0]:
/****** Object:  Index [CUW_DokUnique]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CUW_DokUnique] ON [dbo].[CtiUstawieniaWizualizacji]
(
	[CUW_DokumentID] ASC,
	[CUW_DokumentTyp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiZasob_Kod]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [CtiZasob_Kod]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CtiZasob_Kod] ON [dbo].[CtiZasob]
(
	[CZ_CZGID] ASC,
	[CZ_Kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [ZsC_PrcUnique]

In [0]:
/****** Object:  Index [ZsC_PrcUnique]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ZsC_PrcUnique] ON [dbo].[CtiZasobCzynnosc]
(
	[ZsC_CznID] ASC,
	[ZsC_CzId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiZasobGrupyLp]

In [0]:
/****** Object:  Index [CtiZasobGrupyLp]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CtiZasobGrupyLp] ON [dbo].[CtiZasobGrupy]
(
	[CZG_Lp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiZasobyGrupyKod]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [CtiZasobyGrupyKod]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CtiZasobyGrupyKod] ON [dbo].[CtiZasobGrupy]
(
	[CZG_Kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [ZsP_PrcUnique]

In [0]:
/****** Object:  Index [ZsP_PrcUnique]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ZsP_PrcUnique] ON [dbo].[CtiZasobPRC]
(
	[ZsP_CZID] ASC,
	[ZsP_PrcId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CzsID]

In [0]:
/****** Object:  Index [CzsID]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CzsID] ON [dbo].[CtiZasobRelacje]
(
	[CZR_CzsID] ASC,
	[CZR_CzsID_nad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiZlecenieDok_CZNId]

In [0]:
/****** Object:  Index [CtiZlecenieDok_CZNId]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [CtiZlecenieDok_CZNId] ON [dbo].[CtiZlecenieDok]
(
	[CZD_CZNId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiZlecenieDokTrn_ID]

In [0]:
/****** Object:  Index [CtiZlecenieDokTrn_ID]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CtiZlecenieDokTrn_ID] ON [dbo].[CtiZlecenieDok]
(
	[CZD_TrnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiZlecenieNag_CTNId]

In [0]:
/****** Object:  Index [CtiZlecenieNag_CTNId]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [CtiZlecenieNag_CTNId] ON [dbo].[CtiZlecenieNag]
(
	[CZN_CTNId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CZN_NrPelnyUnigue]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [CZN_NrPelnyUnigue]    Script Date: 5.01.2026 21:12:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CZN_NrPelnyUnigue] ON [dbo].[CtiZlecenieNag]
(
	[CZN_NrPelny] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiZleceniePrc_Id]

In [0]:
/****** Object:  Index [CtiZleceniePrc_Id]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [CtiZleceniePrc_Id] ON [dbo].[CtiZleceniePrc]
(
	[CZO_CZNId] ASC,
	[CZO_PrcId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiZleceniePrc_PRC]

In [0]:
/****** Object:  Index [CtiZleceniePrc_PRC]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [CtiZleceniePrc_PRC] ON [dbo].[CtiZleceniePrc]
(
	[CZO_PrcId] ASC,
	[CZO_Ilosc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CZZE_CZZNID_Index]

In [0]:
/****** Object:  Index [CZZE_CZZNID_Index]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [CZZE_CZZNID_Index] ON [dbo].[CtiZlecenieZElem]
(
	[CZZE_CZZNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiZlecenieZPrc_Id]

In [0]:
/****** Object:  Index [CtiZlecenieZPrc_Id]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [CtiZlecenieZPrc_Id] ON [dbo].[CtiZlecenieZPrc]
(
	[CZZO_CZNId] ASC,
	[CZZO_PrcId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [CtiZlecenieZPrc_PRC]

In [0]:
/****** Object:  Index [CtiZlecenieZPrc_PRC]    Script Date: 5.01.2026 21:12:40 ******/
CREATE NONCLUSTERED INDEX [CtiZlecenieZPrc_PRC] ON [dbo].[CtiZlecenieZPrc]
(
	[CZZO_PrcId] ASC,
	[CZZO_Ilosc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [DF_Twr_JMPrzelicznikL]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_JMPrzelicznikL]  DEFAULT ((1)) FOR [Twr_JMPrzelicznikL]
GO

# [DF_Twr_JMPrzelicznikM]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_JMPrzelicznikM]  DEFAULT ((1)) FOR [Twr_JMPrzelicznikM]
GO

# [DF_Twr_KosztKGO]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_KosztKGO]  DEFAULT ((0)) FOR [Twr_KosztKGO]
GO

# [DF_Twr_WagaKG]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_WagaKG]  DEFAULT ((0)) FOR [Twr_WagaKG]
GO

# [DF_Twr_EsklepBezRabatu]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_EsklepBezRabatu]  DEFAULT ((0)) FOR [Twr_ESklepBezRabatu]
GO

# [DF_Twr_ESklepStatus]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_ESklepStatus]  DEFAULT ((1)) FOR [Twr_ESklepStatus]
GO

# [DF_Twr_ESklepDostepnosc]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_ESklepDostepnosc]  DEFAULT ((0)) FOR [Twr_ESklepDostepnosc]
GO

# [DF_Twr_JMZ]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_JMZ]  DEFAULT ('') FOR [Twr_JMZ]
GO

# [DF_Twr_NazwaFiskalna]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_NazwaFiskalna]  DEFAULT ('') FOR [Twr_NazwaFiskalna]
GO

# [DF_Twr_PLU]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_PLU]  DEFAULT ('') FOR [Twr_PLU]
GO

# [DF_Twr_Akcyza]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_Akcyza]  DEFAULT ((0)) FOR [Twr_Akcyza]
GO

# [DF_Twr_AkcyzaJMPomPrzelicznikL]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_AkcyzaJMPomPrzelicznikL]  DEFAULT ((1)) FOR [Twr_AkcyzaJMPomPrzelicznikL]
GO

# [DF_Twr_AkcyzaJMPomPrzelicznikM]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_AkcyzaJMPomPrzelicznikM]  DEFAULT ((1)) FOR [Twr_AkcyzaJMPomPrzelicznikM]
GO

# [DF_Twr_AkcyzaOpal]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_AkcyzaOpal]  DEFAULT ((0)) FOR [Twr_AkcyzaOpal]
GO

# [DF_Twr_AkcyzaStawka]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_AkcyzaStawka]  DEFAULT ((0)) FOR [Twr_AkcyzaStawka]
GO

# [DF_Twr_ESklepKalkulacjaDostaw]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_ESklepKalkulacjaDostaw]  DEFAULT ((0)) FOR [Twr_ESklepKalkulacjaDostaw]
GO

# [DF_Twr_ESklepKalkulacjaDostawWartosc]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_ESklepKalkulacjaDostawWartosc]  DEFAULT ((0)) FOR [Twr_ESklepKalkulacjaDostawWartosc]
GO

# [DF_Twr_ESklepFlaga_Nowosc]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_ESklepFlaga_Nowosc]  DEFAULT ((0)) FOR [Twr_ESklepFlaga_Nowosc]
GO

# [DF_Twr_ESklepFlaga_Promocja]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_ESklepFlaga_Promocja]  DEFAULT ((0)) FOR [Twr_ESklepFlaga_Promocja]
GO

# [DF_Twr_ESklepFlaga_ProduktzGazetki]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_ESklepFlaga_ProduktzGazetki]  DEFAULT ((0)) FOR [Twr_ESklepFlaga_ProduktzGazetki]
GO

# [DF_Twr_ESklepFlaga_ProduktPolecany]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_ESklepFlaga_ProduktPolecany]  DEFAULT ((0)) FOR [Twr_ESklepFlaga_ProduktPolecany]
GO

# [DF_Twr_ESklepFlaga_Wyprzedaz]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_ESklepFlaga_Wyprzedaz]  DEFAULT ((0)) FOR [Twr_ESklepFlaga_Wyprzedaz]
GO

# [DF_Twr_ESklepFlaga_SuperJakosc]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_ESklepFlaga_SuperJakosc]  DEFAULT ((0)) FOR [Twr_ESklepFlaga_SuperJakosc]
GO

# [DF_Twr_ESklepFlaga_SuperCena]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_ESklepFlaga_SuperCena]  DEFAULT ((0)) FOR [Twr_ESklepFlaga_SuperCena]
GO

# [DF_Twr_ESklepFlaga_NajlepiejOceniany]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_ESklepFlaga_NajlepiejOceniany]  DEFAULT ((0)) FOR [Twr_ESklepFlaga_NajlepiejOceniany]
GO

# [DF_Twr_ESklepFlaga_RekomendacjaSprzedawcy]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_ESklepFlaga_RekomendacjaSprzedawcy]  DEFAULT ((0)) FOR [Twr_ESklepFlaga_RekomendacjaSprzedawcy]
GO

# [DF_Twr_ProducentKod]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_ProducentKod]  DEFAULT ('') FOR [Twr_ProducentKod]
GO

# [DF_Twr_OdwrotneObciazenie]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_OdwrotneObciazenie]  DEFAULT ((0)) FOR [Twr_OdwrotneObciazenie]
GO

# [DF_Twr_Mobile]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_Mobile]  DEFAULT ((1)) FOR [Twr_Mobile]
GO

# [DF_Twr_PobieranieSkladnikowFSUslugaZlozona]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_PobieranieSkladnikowFSUslugaZlozona]  DEFAULT ((0)) FOR [Twr_PobieranieSkladnikowFSUslugaZlozona]
GO

# [DF_TwR_KosztUslugiOld]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_TwR_KosztUslugiOld]  DEFAULT ((0)) FOR [TwR_KosztUslugiOld]
GO

# [DF_TwR_WalutaZakOld]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_TwR_WalutaZakOld]  DEFAULT ('') FOR [TwR_WalutaZakOld]
GO

# [DF_TwR_KursLZakOld]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_TwR_KursLZakOld]  DEFAULT ((0)) FOR [TwR_KursLZakOld]
GO

# [DF_TwR_KursMZakOld]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_TwR_KursMZakOld]  DEFAULT ((0)) FOR [TwR_KursMZakOld]
GO

# [DF_Twr_OpeModKod]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_OpeModKod]  DEFAULT ('') FOR [Twr_OpeModKod]
GO

# [DF_Twr_OpeModNazwisko]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_OpeModNazwisko]  DEFAULT ('') FOR [Twr_OpeModNazwisko]
GO

# [DF_Twr_OpeZalKod]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_OpeZalKod]  DEFAULT ('') FOR [Twr_OpeZalKod]
GO

# [DF_Twr_OpeZalNazwisko]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_OpeZalNazwisko]  DEFAULT ('') FOR [Twr_OpeZalNazwisko]
GO

# [DF_Twr_CenaZCzteremaMiejscami]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_CenaZCzteremaMiejscami]  DEFAULT ((0)) FOR [Twr_CenaZCzteremaMiejscami]
GO

# [DF_Twr_AutoKodGrupaTowarowa]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_AutoKodGrupaTowarowa]  DEFAULT ((0)) FOR [Twr_AutoKodGrupaTowarowa]
GO

# [DF_Twr_AutoKodSeria]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_AutoKodSeria]  DEFAULT ('') FOR [Twr_AutoKodSeria]
GO

# [DF_Twr_AutoKodWartosc]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_AutoKodWartosc]  DEFAULT ('') FOR [Twr_AutoKodWartosc]
GO

# [DF_Twr_AutoKodNumer]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_AutoKodNumer]  DEFAULT ((0)) FOR [Twr_AutoKodNumer]
GO

# [DF_Twr_Sent]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_Sent]  DEFAULT ((0)) FOR [Twr_Sent]
GO

# [DF_Twr_JMSentPrzelicznikL]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_JMSentPrzelicznikL]  DEFAULT ((1)) FOR [Twr_JMSentPrzelicznikL]
GO

# [DF_Twr_JMSentPrzelicznikM]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_JMSentPrzelicznikM]  DEFAULT ((1)) FOR [Twr_JMSentPrzelicznikM]
GO

# [DF_Twr_SentMasaBrutto]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SentMasaBrutto]  DEFAULT ((0)) FOR [Twr_SentMasaBrutto]
GO

# [DF_Twr_SentKodOdpadu]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SentKodOdpadu]  DEFAULT ('') FOR [Twr_SentKodOdpadu]
GO

# [DF_Twr_SJRodzajPaliwa]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJRodzajPaliwa]  DEFAULT ('') FOR [Twr_SJRodzajPaliwa]
GO

# [DF_Twr_SJSystemCertyfikacji]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJSystemCertyfikacji]  DEFAULT ('') FOR [Twr_SJSystemCertyfikacji]
GO

# [DF_Twr_SJPopiol]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJPopiol]  DEFAULT ('') FOR [Twr_SJPopiol]
GO

# [DF_Twr_SJPopiolMin]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJPopiolMin]  DEFAULT ('') FOR [Twr_SJPopiolMin]
GO

# [DF_Twr_SJPopiolMax]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJPopiolMax]  DEFAULT ('') FOR [Twr_SJPopiolMax]
GO

# [DF_Twr_SJCzesciLotne]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJCzesciLotne]  DEFAULT ('') FOR [Twr_SJCzesciLotne]
GO

# [DF_Twr_SJCzesciLotneMin]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJCzesciLotneMin]  DEFAULT ('') FOR [Twr_SJCzesciLotneMin]
GO

# [DF_Twr_SJCzesciLotneMax]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJCzesciLotneMax]  DEFAULT ('') FOR [Twr_SJCzesciLotneMax]
GO

# [DF_Twr_SJWartoscOpalowa]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJWartoscOpalowa]  DEFAULT ('') FOR [Twr_SJWartoscOpalowa]
GO

# [DF_Twr_SJWartoscOpalowaMin]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJWartoscOpalowaMin]  DEFAULT ('') FOR [Twr_SJWartoscOpalowaMin]
GO

# [DF_Twr_SJWartoscOpalowaMax]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJWartoscOpalowaMax]  DEFAULT ('') FOR [Twr_SJWartoscOpalowaMax]
GO

# [DF_Twr_SJZdolnoscSpiekania]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJZdolnoscSpiekania]  DEFAULT ('') FOR [Twr_SJZdolnoscSpiekania]
GO

# [DF_Twr_SJZdolnoscSpiekaniaMin]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJZdolnoscSpiekaniaMin]  DEFAULT ('') FOR [Twr_SJZdolnoscSpiekaniaMin]
GO

# [DF_Twr_SJZdolnoscSpiekaniaMax]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJZdolnoscSpiekaniaMax]  DEFAULT ('') FOR [Twr_SJZdolnoscSpiekaniaMax]
GO

# [DF_Twr_SJWymiarZiarna]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJWymiarZiarna]  DEFAULT ('') FOR [Twr_SJWymiarZiarna]
GO

# [DF_Twr_SJWymiarZiarnaMin]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJWymiarZiarnaMin]  DEFAULT ('') FOR [Twr_SJWymiarZiarnaMin]
GO

# [DF_Twr_SJWymiarZiarnaMax]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJWymiarZiarnaMax]  DEFAULT ('') FOR [Twr_SJWymiarZiarnaMax]
GO

# [DF_Twr_SJZawartoscPodziarna]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJZawartoscPodziarna]  DEFAULT ('') FOR [Twr_SJZawartoscPodziarna]
GO

# [DF_Twr_SJZawartoscPodziarnaMin]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJZawartoscPodziarnaMin]  DEFAULT ('') FOR [Twr_SJZawartoscPodziarnaMin]
GO

# [DF_Twr_SJZawartoscPodziarnaMax]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJZawartoscPodziarnaMax]  DEFAULT ('') FOR [Twr_SJZawartoscPodziarnaMax]
GO

# [DF_Twr_SJZawartoscNadziarna]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJZawartoscNadziarna]  DEFAULT ('') FOR [Twr_SJZawartoscNadziarna]
GO

# [DF_Twr_SJZawartoscNadziarnaMin]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJZawartoscNadziarnaMin]  DEFAULT ('') FOR [Twr_SJZawartoscNadziarnaMin]
GO

# [DF_Twr_SJZawartoscNadziarnaMax]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJZawartoscNadziarnaMax]  DEFAULT ('') FOR [Twr_SJZawartoscNadziarnaMax]
GO

# [DF_Twr_SJZawartoscWilgoci]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJZawartoscWilgoci]  DEFAULT ('') FOR [Twr_SJZawartoscWilgoci]
GO

# [DF_Twr_SJZawartoscWilgociMin]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJZawartoscWilgociMin]  DEFAULT ('') FOR [Twr_SJZawartoscWilgociMin]
GO

# [DF_Twr_SJZawartoscWilgociMax]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJZawartoscWilgociMax]  DEFAULT ('') FOR [Twr_SJZawartoscWilgociMax]
GO

# [DF_Twr_SplitPay]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SplitPay]  DEFAULT ((0)) FOR [Twr_SplitPay]
GO

# [DF_Twr_KV7ID]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_KV7ID]  DEFAULT ((0)) FOR [Twr_KV7ID]
GO

# [DF_Twr_OplataCukrowa]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_OplataCukrowa]  DEFAULT ((0)) FOR [Twr_OplataCukrowa]
GO

# [DF_Twr_OplataCukrowaPrzelicznikML]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_OplataCukrowaPrzelicznikML]  DEFAULT ((0)) FOR [Twr_OplataCukrowaPrzelicznikML]
GO

# [DF_Twr_OplataCukrowaOdCukrowZawartoscGram]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_OplataCukrowaOdCukrowZawartoscGram]  DEFAULT ((0)) FOR [Twr_OplataCukrowaOdCukrowZawartoscGram]
GO

# [DF_Twr_OplataCukrowaOdCukrowZawartoscSokow20]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_OplataCukrowaOdCukrowZawartoscSokow20]  DEFAULT ((0)) FOR [Twr_OplataCukrowaOdCukrowZawartoscSokow20]
GO

# [DF_Twr_OplataCukrowaOdCukrowZawartoscRoztwor]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_OplataCukrowaOdCukrowZawartoscRoztwor]  DEFAULT ((0)) FOR [Twr_OplataCukrowaOdCukrowZawartoscRoztwor]
GO

# [DF_Twr_OplataCukrowaOdKofeinyTauryny]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_OplataCukrowaOdKofeinyTauryny]  DEFAULT ((0)) FOR [Twr_OplataCukrowaOdKofeinyTauryny]
GO

# [DF_Twr_OplataCukrowaOdSubstancjiSlodzacych]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_OplataCukrowaOdSubstancjiSlodzacych]  DEFAULT ((0)) FOR [Twr_OplataCukrowaOdSubstancjiSlodzacych]
GO

# [DF_Twr_OplataCukrowaOdCukrowStala]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_OplataCukrowaOdCukrowStala]  DEFAULT ((0)) FOR [Twr_OplataCukrowaOdCukrowStala]
GO

# [DF_Twr_OplataCukrowaOdCukrowZmienna]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_OplataCukrowaOdCukrowZmienna]  DEFAULT ((0)) FOR [Twr_OplataCukrowaOdCukrowZmienna]
GO

# [DF_Twr_OplataCukrowaOdKofeinyTaurynyStala]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_OplataCukrowaOdKofeinyTaurynyStala]  DEFAULT ((0)) FOR [Twr_OplataCukrowaOdKofeinyTaurynyStala]
GO

# [DF_Twr_OplataCukrowaSuma]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_OplataCukrowaSuma]  DEFAULT ((0)) FOR [Twr_OplataCukrowaSuma]
GO

# [DF_Twr_SJSiarka]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJSiarka]  DEFAULT ('') FOR [Twr_SJSiarka]
GO

# [DF_Twr_SJSiarkaMin]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJSiarkaMin]  DEFAULT ('') FOR [Twr_SJSiarkaMin]
GO

# [DF_Twr_SJSiarkaMax]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_Twr_SJSiarkaMax]  DEFAULT ('') FOR [Twr_SJSiarkaMax]
GO

# [DF_TwR_MiejsceDodania]

In [0]:
ALTER TABLE [CDN].[Towary] ADD  CONSTRAINT [DF_TwR_MiejsceDodania]  DEFAULT ((0)) FOR [TwR_MiejsceDodania]
GO

# [DF_TrE_WyborDostaw]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_WyborDostaw]  DEFAULT ((0)) FOR [TrE_WyborDostaw]
GO

# [DF_TrE_KosztKGO]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_KosztKGO]  DEFAULT ((0)) FOR [TrE_KosztKGO]
GO

# [DF_TrE_AkcyzaOpal]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_AkcyzaOpal]  DEFAULT ((0)) FOR [TrE_AkcyzaOpal]
GO

# [DF_TrE_AkcyzaStawka]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_AkcyzaStawka]  DEFAULT ((0)) FOR [TrE_AkcyzaStawka]
GO

# [DF_TrE_KodCN]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_KodCN]  DEFAULT ('') FOR [TrE_KodCN]
GO

# [DF_Tre_AkcyzaJMPomPrzelicznikL]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_Tre_AkcyzaJMPomPrzelicznikL]  DEFAULT ((1)) FOR [Tre_AkcyzaJMPomPrzelicznikL]
GO

# [DF_Tre_AkcyzaJMPomPrzelicznikM]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_Tre_AkcyzaJMPomPrzelicznikM]  DEFAULT ((1)) FOR [Tre_AkcyzaJMPomPrzelicznikM]
GO

# [DF_TrE_Akcyza_Kod]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_Akcyza_Kod]  DEFAULT ('') FOR [TrE_Akcyza_Kod]
GO

# [DF_TrE_Akcyza_Wartosc]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_Akcyza_Wartosc]  DEFAULT ('') FOR [TrE_Akcyza_Wartosc]
GO

# [DF_TrE_IFA24Mag]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_IFA24Mag]  DEFAULT ((0)) FOR [TrE_IFA24Mag]
GO

# [DF_TrE_IFA24]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_IFA24]  DEFAULT ((0)) FOR [TrE_IFA24]
GO

# [DF_TrE_ZTwID]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_ZTwID]  DEFAULT ((0)) FOR [TrE_ZTwID]
GO

# [DF_TrE_ZestawWiazanie]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_ZestawWiazanie]  DEFAULT ((0)) FOR [TrE_ZestawWiazanie]
GO

# [DF_TrE_ZTwGlowny]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_ZTwGlowny]  DEFAULT ((0)) FOR [TrE_ZTwGlowny]
GO

# [DF_TrE_ZTwKod]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_ZTwKod]  DEFAULT ('') FOR [TrE_ZTwKod]
GO

# [DF_TrE_ZTwIlosc]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_ZTwIlosc]  DEFAULT ((0)) FOR [TrE_ZTwIlosc]
GO

# [DF_Tre_OdwrotneObciazenie]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_Tre_OdwrotneObciazenie]  DEFAULT ((0)) FOR [Tre_OdwrotneObciazenie]
GO

# [DF_TrE_DoZwrotu]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_DoZwrotu]  DEFAULT ((0)) FOR [TrE_DoZwrotu]
GO

# [DF_TrE_UslugaZlozonaId]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_UslugaZlozonaId]  DEFAULT ((0)) FOR [TrE_UslugaZlozonaId]
GO

# [DF_TrE_UslugaZlozona]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_UslugaZlozona]  DEFAULT ((0)) FOR [TrE_UslugaZlozona]
GO

# [DF_TrE_PATrEId]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_PATrEId]  DEFAULT ((0)) FOR [TrE_PATrEId]
GO

# [DF_TrE_KWRoznicaKursowa]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_KWRoznicaKursowa]  DEFAULT ((0)) FOR [TrE_KWRoznicaKursowa]
GO

# [DF_Tre_CenaZCzteremaMiejscami]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_Tre_CenaZCzteremaMiejscami]  DEFAULT ((0)) FOR [Tre_CenaZCzteremaMiejscami]
GO

# [DF_Tre_FakZalKwotaMax]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_Tre_FakZalKwotaMax]  DEFAULT ((0)) FOR [TrE_FakZalKwotaMax]
GO

# [DF_Tre_UstawAtrSQL]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_Tre_UstawAtrSQL]  DEFAULT ((-1)) FOR [Tre_UstawAtrSQL]
GO

# [DF_Tre_UstawAtrSQLDokTyp]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_Tre_UstawAtrSQLDokTyp]  DEFAULT ((1)) FOR [Tre_UstawAtrSQLDokTyp]
GO

# [DF_TrE_SJRodzajPaliwa]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_SJRodzajPaliwa]  DEFAULT ('') FOR [TrE_SJRodzajPaliwa]
GO

# [DF_TrE_SJSystemCertyfikacji]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_SJSystemCertyfikacji]  DEFAULT ('') FOR [TrE_SJSystemCertyfikacji]
GO

# [DF_TrE_SJPopiol]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_SJPopiol]  DEFAULT ('') FOR [TrE_SJPopiol]
GO

# [DF_TrE_SJCzesciLotne]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_SJCzesciLotne]  DEFAULT ('') FOR [TrE_SJCzesciLotne]
GO

# [DF_TrE_SJWartoscOpalowa]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_SJWartoscOpalowa]  DEFAULT ('') FOR [TrE_SJWartoscOpalowa]
GO

# [DF_TrE_SJZdolnoscSpiekania]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_SJZdolnoscSpiekania]  DEFAULT ('') FOR [TrE_SJZdolnoscSpiekania]
GO

# [DF_TrE_SJWymiarZiarna]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_SJWymiarZiarna]  DEFAULT ('') FOR [TrE_SJWymiarZiarna]
GO

# [DF_TrE_SJZawartoscPodziarna]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_SJZawartoscPodziarna]  DEFAULT ('') FOR [TrE_SJZawartoscPodziarna]
GO

# [DF_TrE_SJZawartoscNadziarna]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_SJZawartoscNadziarna]  DEFAULT ('') FOR [TrE_SJZawartoscNadziarna]
GO

# [DF_TrE_SJZawartoscWilgoci]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_SJZawartoscWilgoci]  DEFAULT ('') FOR [TrE_SJZawartoscWilgoci]
GO

# [DF_TrE_SplitPay]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_SplitPay]  DEFAULT ((0)) FOR [TrE_SplitPay]
GO

# [DF_TrE_KV7ID]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_KV7ID]  DEFAULT ((0)) FOR [TrE_KV7ID]
GO

# [DF_TrE_CzySaCechyWymagane]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_CzySaCechyWymagane]  DEFAULT ((-1)) FOR [TrE_CzySaCechyWymagane]
GO

# [DF_TrE_OplataCukrowaPrzelicznikML]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_OplataCukrowaPrzelicznikML]  DEFAULT ((0)) FOR [TrE_OplataCukrowaPrzelicznikML]
GO

# [DF_TrE_OplataCukrowaOdCukrowStala]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_OplataCukrowaOdCukrowStala]  DEFAULT ((0)) FOR [TrE_OplataCukrowaOdCukrowStala]
GO

# [DF_TrE_OplataCukrowaOdCukrowZmienna]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_OplataCukrowaOdCukrowZmienna]  DEFAULT ((0)) FOR [TrE_OplataCukrowaOdCukrowZmienna]
GO

# [DF_TrE_OplataCukrowaOdKofeinyTaurynyStala]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_OplataCukrowaOdKofeinyTaurynyStala]  DEFAULT ((0)) FOR [TrE_OplataCukrowaOdKofeinyTaurynyStala]
GO

# [DF_TrE_OplataCukrowaOdCukrowZawartoscSokow20]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_OplataCukrowaOdCukrowZawartoscSokow20]  DEFAULT ((0)) FOR [TrE_OplataCukrowaOdCukrowZawartoscSokow20]
GO

# [DF_TrE_OplataCukrowaOdCukrowZawartoscRoztwor]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_OplataCukrowaOdCukrowZawartoscRoztwor]  DEFAULT ((0)) FOR [TrE_OplataCukrowaOdCukrowZawartoscRoztwor]
GO

# [DF_TrE_OplataCukrowaOdCukrowZawartoscGram]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_OplataCukrowaOdCukrowZawartoscGram]  DEFAULT ((0)) FOR [TrE_OplataCukrowaOdCukrowZawartoscGram]
GO

# [DF_TrE_OplataCukrowaOdSubstancjiSlodzacych]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_OplataCukrowaOdSubstancjiSlodzacych]  DEFAULT ((0)) FOR [TrE_OplataCukrowaOdSubstancjiSlodzacych]
GO

# [DF_TrE_OplataCukrowaOdKofeinyTauryny]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_OplataCukrowaOdKofeinyTauryny]  DEFAULT ((0)) FOR [TrE_OplataCukrowaOdKofeinyTauryny]
GO

# [DF_TrE_OplataCukrowaNumerPartiiTowaru]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_OplataCukrowaNumerPartiiTowaru]  DEFAULT ('') FOR [TrE_OplataCukrowaNumerPartiiTowaru]
GO

# [DF_Tre_OplataCukrowaDoliczDoCeny]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_Tre_OplataCukrowaDoliczDoCeny]  DEFAULT ((0)) FOR [Tre_OplataCukrowaDoliczDoCeny]
GO

# [DF_TrE_Kategoria]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_Kategoria]  DEFAULT ('') FOR [Tre_Kategoria]
GO

# [DF_TrE_StawkaOSS]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_StawkaOSS]  DEFAULT ((0)) FOR [TrE_StawkaOSS]
GO

# [DF_TrE_KrajPochodzenia]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_KrajPochodzenia]  DEFAULT ('') FOR [TrE_KrajPochodzenia]
GO

# [DF_TrE_SJSiarka]

In [0]:
ALTER TABLE [CDN].[TraElem] ADD  CONSTRAINT [DF_TrE_SJSiarka]  DEFAULT ('') FOR [TrE_SJSiarka]
GO

# [DF_TrA_ESklep]

In [0]:
ALTER TABLE [CDN].[TraElemAtr] ADD  CONSTRAINT [DF_TrA_ESklep]  DEFAULT ((0)) FOR [TrA_ESklep]
GO

# [DF_TrN_StatusInt]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_StatusInt]  DEFAULT ((0)) FOR [TrN_StatusInt]
GO

# [DF_TrN_TrybNettoVAT]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_TrybNettoVAT]  DEFAULT ((0)) FOR [TrN_TrybNettoVAT]
GO

# [DF_TrN_ZwolnionyZAkcyzy]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_ZwolnionyZAkcyzy]  DEFAULT ((0)) FOR [TrN_ZwolnionyZAkcyzy]
GO

# [DF_TrN_FADokumentDostawy]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_FADokumentDostawy]  DEFAULT ((0)) FOR [TrN_FADokumentDostawy]
GO

# [DF_TrN_NrListuPrzewozowego]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_NrListuPrzewozowego]  DEFAULT ('') FOR [TrN_NrListuPrzewozowego]
GO

# [DF_TrN_PodatekVat]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_PodatekVat]  DEFAULT ((0)) FOR [TrN_PodatekVat]
GO

# [DF_TrN_Pesel]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_Pesel]  DEFAULT ('') FOR [TrN_Pesel]
GO

# [DF_TrN_RabatWartosc]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_RabatWartosc]  DEFAULT ((0)) FOR [TrN_RabatWartosc]
GO

# [DF_TrN_PARodzajKor]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_PARodzajKor]  DEFAULT ((0)) FOR [TrN_PARodzajKor]
GO

# [DF_TrN_MetodaKasowa]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_MetodaKasowa]  DEFAULT ((0)) FOR [TrN_MetodaKasowa]
GO

# [DF_TrN_FinalnyWegiel]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_FinalnyWegiel]  DEFAULT ((0)) FOR [TrN_FinalnyWegiel]
GO

# [DF_TrN_KorektaZTytulu]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_KorektaZTytulu]  DEFAULT ('') FOR [TrN_KorektaZTytulu]
GO

# [DF_TrN_EdycjaTabelkiVAT]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_EdycjaTabelkiVAT]  DEFAULT ((0)) FOR [TrN_EdycjaTabelkiVAT]
GO

# [DF_TrN_PlatnoscNaWZ]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_PlatnoscNaWZ]  DEFAULT ((0)) FOR [TrN_PlatnoscNaWZ]
GO

# [DF_TrN_BzpId]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_BzpId]  DEFAULT ((0)) FOR [TrN_BzpId]
GO

# [DF_TrN_RezerwacjaWew]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_RezerwacjaWew]  DEFAULT ((0)) FOR [TrN_RezerwacjaWew]
GO

# [DF_TrN_PAFACzesciowe]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_PAFACzesciowe]  DEFAULT ((0)) FOR [TrN_PAFACzesciowe]
GO

# [DF_TrN_AktualizacjaCenyZakKor]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_AktualizacjaCenyZakKor]  DEFAULT ((0)) FOR [TrN_AktualizacjaCenyZakKor]
GO

# [DF_TrN_StawkaNPOO]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_StawkaNPOO]  DEFAULT ((0)) FOR [TrN_StawkaNPOO]
GO

# [DF_TrN_WartoscOO]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_WartoscOO]  DEFAULT ((0)) FOR [TrN_WartoscOO]
GO

# [DF_TrN_AwizoId]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_AwizoId]  DEFAULT ((0)) FOR [TrN_AwizoId]
GO

# [DF_TrN_DokMOSMMId]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_DokMOSMMId]  DEFAULT ((0)) FOR [TrN_DokMOSMMId]
GO

# [DF_TrN_OpeModKod]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_OpeModKod]  DEFAULT ('') FOR [TrN_OpeModKod]
GO

# [DF_TrN_OpeModNazwisko]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_OpeModNazwisko]  DEFAULT ('') FOR [TrN_OpeModNazwisko]
GO

# [DF_TrN_OpeZalKod]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_OpeZalKod]  DEFAULT ('') FOR [TrN_OpeZalKod]
GO

# [DF_TrN_OpeZalNazwisko]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_OpeZalNazwisko]  DEFAULT ('') FOR [TrN_OpeZalNazwisko]
GO

# [DF_TrN_PunktyZam]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_PunktyZam]  DEFAULT ((0)) FOR [TrN_PunktyZam]
GO

# [DF_TrN_PunktyZap]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_PunktyZap]  DEFAULT ((0)) FOR [TrN_PunktyZap]
GO

# [DF_Trn_Sent]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_Trn_Sent]  DEFAULT ((0)) FOR [Trn_Sent]
GO

# [DF_TrN_eSklepStatusDostawy]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_eSklepStatusDostawy]  DEFAULT ((-1)) FOR [TrN_eSklepStatusDostawy]
GO

# [DF_TrN_OpeZatwKod]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_OpeZatwKod]  DEFAULT ('') FOR [TrN_OpeZatwKod]
GO

# [DF_TrN_OpeZatwNazwisko]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_OpeZatwNazwisko]  DEFAULT ('') FOR [TrN_OpeZatwNazwisko]
GO

# [DF_TrN_OpeWydrKod]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_OpeWydrKod]  DEFAULT ('') FOR [TrN_OpeWydrKod]
GO

# [DF_TrN_OpeWydrNazwisko]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_OpeWydrNazwisko]  DEFAULT ('') FOR [TrN_OpeWydrNazwisko]
GO

# [DF_TrN_DokumentTozsamosci]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_DokumentTozsamosci]  DEFAULT ('') FOR [TrN_DokumentTozsamosci]
GO

# [DF_TrN_UmowaWegiel]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_UmowaWegiel]  DEFAULT ((0)) FOR [TrN_UmowaWegiel]
GO

# [DF_TrN_NrListuPrzewozowegoTypKuriera]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_NrListuPrzewozowegoTypKuriera]  DEFAULT ((0)) FOR [TrN_NrListuPrzewozowegoTypKuriera]
GO

# [DF_TrN_SplitPay]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_SplitPay]  DEFAULT ((0)) FOR [TrN_SplitPay]
GO

# [DF_TrN_WartoscSP]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_WartoscSP]  DEFAULT ((0)) FOR [TrN_WartoscSP]
GO

# [DF_TrN_PlatnikRachunekLp]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_PlatnikRachunekLp]  DEFAULT ((0)) FOR [TrN_PlatnikRachunekLp]
GO

# [DF_TrN_PlatnikRachunekNr]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_PlatnikRachunekNr]  DEFAULT ('') FOR [TrN_PlatnikRachunekNr]
GO

# [DF_TrN_OpeEMailKod]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_OpeEMailKod]  DEFAULT ('') FOR [TrN_OpeEMailKod]
GO

# [DF_TrN_OpeEMailNazwisko]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_OpeEMailNazwisko]  DEFAULT ('') FOR [TrN_OpeEMailNazwisko]
GO

# [DF_TrN_NieNaliczajOplataCukrowa]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_NieNaliczajOplataCukrowa]  DEFAULT ((0)) FOR [TrN_NieNaliczajOplataCukrowa]
GO

# [DF_TrN_RozliczamPodatekWOSS]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_RozliczamPodatekWOSS]  DEFAULT ((0)) FOR [TrN_RozliczamPodatekWOSS]
GO

# [DF_TrN_NieUwzglwedniajWEwidencjiWegiel]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_NieUwzglwedniajWEwidencjiWegiel]  DEFAULT ((0)) FOR [TrN_NieUwzglwedniajWEwidencjiWegiel]
GO

# [DF_Trn_DokumentDostawy]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_Trn_DokumentDostawy]  DEFAULT ((0)) FOR [Trn_DokumentDostawy]
GO

# [DF_TrN_NrKSeF]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_NrKSeF]  DEFAULT ('') FOR [TrN_NrKSeF]
GO

# [DF_TrN_NieWysylajDokumentuDoKSeF]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_NieWysylajDokumentuDoKSeF]  DEFAULT ((0)) FOR [TrN_NieWysylajDokumentuDoKSeF]
GO

# [DF_TrN_KSeFStatusId]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_KSeFStatusId]  DEFAULT ((0)) FOR [TrN_KSeFStatusId]
GO

# [DF_TrN_KSeFStatus]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_KSeFStatus]  DEFAULT ('') FOR [TrN_KSeFStatus]
GO

# [DF_TrN_KSeFTypSrodowiska]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_TrN_KSeFTypSrodowiska]  DEFAULT ((-1)) FOR [TrN_KSeFTypSrodowiska]
GO

# [DF_Trn_WszystkoPlIdZamowienia]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_Trn_WszystkoPlIdZamowienia]  DEFAULT ('') FOR [Trn_WszystkoPlIdZamowienia]
GO

# [DF_Trn_WszystkoPlSyncho]

In [0]:
ALTER TABLE [CDN].[TraNag] ADD  CONSTRAINT [DF_Trn_WszystkoPlSyncho]  DEFAULT ((0)) FOR [Trn_WszystkoPlSyncho]
GO

# [DF_TrS_WyborDostaw]

In [0]:
ALTER TABLE [CDN].[TraSElem] ADD  CONSTRAINT [DF_TrS_WyborDostaw]  DEFAULT ((0)) FOR [TrS_WyborDostaw]
GO

# [DF_TrS_TrEIdWydania]

In [0]:
ALTER TABLE [CDN].[TraSElem] ADD  CONSTRAINT [DF_TrS_TrEIdWydania]  DEFAULT ((0)) FOR [TrS_TrEIdWydania]
GO

# [DF_TrS_SrCId]

In [0]:
ALTER TABLE [CDN].[TraSElem] ADD  CONSTRAINT [DF_TrS_SrCId]  DEFAULT ((0)) FOR [TrS_SrCId]
GO

# [DF_TsD_PdEId]

In [0]:
ALTER TABLE [CDN].[TraSElemDost] ADD  CONSTRAINT [DF_TsD_PdEId]  DEFAULT ((0)) FOR [TsD_PdEId]
GO

# [DF_TsD_SrCDId]

In [0]:
ALTER TABLE [CDN].[TraSElemDost] ADD  CONSTRAINT [DF_TsD_SrCDId]  DEFAULT ((0)) FOR [TsD_SrCDId]
GO

# [DF_TwA_JezykId]

In [0]:
ALTER TABLE [CDN].[TwrAtrybuty] ADD  CONSTRAINT [DF_TwA_JezykId]  DEFAULT ((1)) FOR [TwA_JezykId]
GO

# [DF_TwA_AtrybutGrupujacyFantom]

In [0]:
ALTER TABLE [CDN].[TwrAtrybuty] ADD  CONSTRAINT [DF_TwA_AtrybutGrupujacyFantom]  DEFAULT ((0)) FOR [TwA_AtrybutGrupujacyFantom]
GO

# [DF_TwC_DokID]

In [0]:
ALTER TABLE [CDN].[TwrCeny] ADD  CONSTRAINT [DF_TwC_DokID]  DEFAULT ((0)) FOR [TwC_DokID]
GO

# [DF_TwC_WartoscZakOld]

In [0]:
ALTER TABLE [CDN].[TwrCeny] ADD  CONSTRAINT [DF_TwC_WartoscZakOld]  DEFAULT ((0)) FOR [TwC_WartoscZakOld]
GO

# [DF_TwC_Punkty]

In [0]:
ALTER TABLE [CDN].[TwrCeny] ADD  CONSTRAINT [DF_TwC_Punkty]  DEFAULT ((0)) FOR [TwC_Punkty]
GO

# [DF__CTI_Debug__LogDa__190684F6]

In [0]:
ALTER TABLE [dbo].[CTI_Debug_Log] ADD  DEFAULT (getdate()) FOR [LogDate]
GO

# [DF__CtiAtrybu__CAN_P__2F1FE347]

In [0]:
ALTER TABLE [dbo].[CtiAtrybutyNag] ADD  DEFAULT ((1)) FOR [CAN_Panel]
GO

# [DF__CtiDelive__CD_De__1FDD9FB7]

In [0]:
ALTER TABLE [dbo].[CtiDelivery] ADD  DEFAULT ((0)) FOR [CD_DefaultProvider]
GO

# [DF__CtiDelive__CD_Mo__20D1C3F0]

In [0]:
ALTER TABLE [dbo].[CtiDelivery] ADD  DEFAULT ((0)) FOR [CD_MovePrice]
GO

# [DF__CtiDelive__CD_Pr__21C5E829]

In [0]:
ALTER TABLE [dbo].[CtiDelivery] ADD  DEFAULT ((0)) FOR [CD_Price]
GO

# [DF__CtiExcelE__CEE_I__15601144]

In [0]:
ALTER TABLE [dbo].[CtiExcelElem] ADD  DEFAULT ((0)) FOR [CEE_ImportType]
GO

# [DF__CtiExcelE__CEE_E__1654357D]

In [0]:
ALTER TABLE [dbo].[CtiExcelElem] ADD  DEFAULT ((0)) FOR [CEE_ElementType]
GO

# [DF__CtiExcelH__CEH_S__0EB313B5]

In [0]:
ALTER TABLE [dbo].[CtiExcelHeader] ADD  DEFAULT ('Arkusz1') FOR [CEH_Sheet]
GO

# [DF__CtiExcelH__CEH_T__0FA737EE]

In [0]:
ALTER TABLE [dbo].[CtiExcelHeader] ADD  DEFAULT ((0)) FOR [CEH_Type]
GO

# [DF__CtiExcelH__CEH_E__109B5C27]

In [0]:
ALTER TABLE [dbo].[CtiExcelHeader] ADD  DEFAULT ((0)) FOR [CEH_ErrorAction]
GO

# [DF__CtiExcelH__CEH_K__118F8060]

In [0]:
ALTER TABLE [dbo].[CtiExcelHeader] ADD  DEFAULT ('') FOR [CEH_KooperacjeColumnValue]
GO

# [DF__CtiExcelH__CEH_L__1283A499]

In [0]:
ALTER TABLE [dbo].[CtiExcelHeader] ADD  DEFAULT ((0)) FOR [CEH_LinesToSkip]
GO

# [DF__CtiExcelH__CEH_K__1CE202D2]

In [0]:
ALTER TABLE [dbo].[CtiExcelHeader] ADD  DEFAULT ((1)) FOR [CEH_KooperacjeActive]
GO

# [DF__CtiExcelH__CEH_S__1DD6270B]

In [0]:
ALTER TABLE [dbo].[CtiExcelHeader] ADD  DEFAULT ((1)) FOR [CEH_SurowceActive]
GO

# [DF__CtiImpDok__SCH_T__4E2E7A4C]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_TypGrupowania]
GO

# [DF__CtiImpDok__SCH_T__4F229E85]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_TypTabeli]
GO

# [DF__CtiImpDok__SCH_T__5016C2BE]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_TypDokumentu]
GO

# [DF__CtiImpDok__SCH_P__510AE6F7]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_PozycjaIlosc]
GO

# [DF__CtiImpDok__SCH_P__51FF0B30]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_PozycjaIloscSzczegoly]
GO

# [DF__CtiImpDok__SCH_P__52F32F69]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_PozycjaKod]
GO

# [DF__CtiImpDok__SCH_P__53E753A2]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_PozycjaKodSzczegoly]
GO

# [DF__CtiImpDok__SCH_P__54DB77DB]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_PozycjaWartosc]
GO

# [DF__CtiImpDok__SCH_P__55CF9C14]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_PozycjaWartoscSzczegoly]
GO

# [DF__CtiImpDok__SCH_P__56C3C04D]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_PozycjaWaluta]
GO

# [DF__CtiImpDok__SCH_P__57B7E486]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_PozycjaWalutaSzczegoly]
GO

# [DF__CtiImpDok__SCH_D__58AC08BF]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_DokumentWaluta]
GO

# [DF__CtiImpDok__SCH_D__59A02CF8]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_DokumentWalutaSzczegoly]
GO

# [DF__CtiImpDok__SCH_P__5A945131]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_PozycjaWartoscWzor]
GO

# [DF__CtiImpDok__SCH_P__5B88756A]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_PominXWierszy]
GO

# [DF__CtiImpDok__SCH_G__5C7C99A3]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((1)) FOR [SCH_GrupowanieKolumnaNumer]
GO

# [DF__CtiImpDok__SCH_G__5D70BDDC]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_GrupowanieKolumnaWartosc]
GO

# [DF__CtiImpDok__SCH_B__5E64E215]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_BladOdczytu]
GO

# [DF__CtiImpDok__SCH_Z__5F59064E]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_ZapisujWynikiDoKolumny]
GO

# [DF__CtiImpDok__SCH_Z__604D2A87]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((1)) FOR [SCH_ZapisujWynikiDoKolumnyNumer]
GO

# [DF__CtiImpDok__SCH_R__61414EC0]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_RozpoznawaniePozycji]
GO

# [DF__CtiImpDok__SCH_R__623572F9]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_RozpoznawaniePozycjiAtrybut]
GO

# [DF__CtiImpDok__SCH_R__63299732]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((1)) FOR [SCH_RozpoznawaniePozycjiAtrKolumna]
GO

# [DF__CtiImpDok__SCH_N__641DBB6B]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_NumerObcy]
GO

# [DF__CtiImpDok__SCH_N__6511DFA4]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((1)) FOR [SCH_NumerObcyKolumna]
GO

# [DF__CtiImpDok__SCH_N__660603DD]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_NumerObcyWskazany]
GO

# [DF__CtiImpDok__SCH_N__66FA2816]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_NumerObcySQL]
GO

# [DF__CtiImpDok__SCH_S__67EE4C4F]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_SymbolDokumentu]
GO

# [DF__CtiImpDok__SCH_K__68E27088]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_KontrolujNumerObcy]
GO

# [DF__CtiImpDok__SCH_D__69D694C1]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_DataWystawienia]
GO

# [DF__CtiImpDok__SCH_D__6ACAB8FA]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((1)) FOR [SCH_DataWystawieniaKolumna]
GO

# [DF__CtiImpDok__SCH_D__6BBEDD33]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((1)) FOR [SCH_DataWystawieniaKomorkaKolumna]
GO

# [DF__CtiImpDok__SCH_D__6CB3016C]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((1)) FOR [SCH_DataWystawieniaKomorkaWiersz]
GO

# [DF__CtiImpDok__SCH_P__6DA725A5]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_PozycjaWartoscTypNB]
GO

# [DF__CtiImpDok__SCH_R__6E9B49DE]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_RaportBledow]
GO

# [DF__CtiImpDok__SCH_P__6F8F6E17]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_PozycjaAtrybutyWzor]
GO

# [DF__CtiImpDok__SCH_O__70839250]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((2)) FOR [SCH_OdbiorcaTyp]
GO

# [DF__CtiImpDok__SCH_O__7177B689]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_OdbiorcaSzczegoly]
GO

# [DF__CtiImpDok__SCH_K__726BDAC2]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_KategoriaZrodlo]
GO

# [DF__CtiImpDok__SCH_K__735FFEFB]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_KategoriaSzczegoly]
GO

# [DF__CtiImpDok__SCH_T__74542334]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_TerminPlatnosciZrodlo]
GO

# [DF__CtiImpDok__SCH_T__7548476D]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_TerminPlatnosciSzczegoly]
GO

# [DF__CtiImpDok__SCH_D__763C6BA6]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_DataOperacjiZrodlo]
GO

# [DF__CtiImpDok__SCH_D__77308FDF]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_DataOperacjiSzczegoly]
GO

# [DF__CtiImpDok__SCH_P__7824B418]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_Parametr1]
GO

# [DF__CtiImpDok__SCH_P__7918D851]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_Parametr1Typ]
GO

# [DF__CtiImpDok__SCH_N__7A0CFC8A]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_NaglowekWartoscWzor]
GO

# [DF__CtiImpDok__SCH_P__7B0120C3]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_PozycjaOpis]
GO

# [DF__CtiImpDok__SCH_P__7BF544FC]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_PozycjaOpisSzczegoly]
GO

# [DF__CtiImpDok__SCH_K__7CE96935]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_KontrahentSQL]
GO

# [DF__CtiImpDok__SCH_K__7DDD8D6E]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_KodMagazynuZrodlo]
GO

# [DF__CtiImpDok__SCH_K__7ED1B1A7]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_KodMagazynuSzczegoly]
GO

# [DF__CtiImpDok__SCH_O__7FC5D5E0]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_OdbiorcaSQL]
GO

# [DF__CtiImpDok__SCH_P__00B9FA19]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_PozycjaDodatkowa]
GO

# [DF__CtiImpDok__SCH_P__01AE1E52]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_Parametr2]
GO

# [DF__CtiImpDok__SCH_P__02A2428B]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_Parametr2Typ]
GO

# [DF__CtiImpDok__SCH_D__039666C4]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_DokumentOpis]
GO

# [DF__CtiImpDok__SCH_D__048A8AFD]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_DokumentOpisSzczegoly]
GO

# [DF__CtiImpDok__SCH_D__057EAF36]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_DokumentPlatnoscTyp]
GO

# [DF__CtiImpDok__SCH_D__0672D36F]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_DokumentPlatnoscSzczegoly]
GO

# [DF__CtiImpDok__SCH_K__0766F7A8]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_KolumnaKntKod]
GO

# [DF__CtiImpDok__SCH_K__085B1BE1]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_KolumnaKntNazwa]
GO

# [DF__CtiImpDok__SCH_K__094F401A]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_KolumnaKntNIP]
GO

# [DF__CtiImpDok__SCH_D__0A436453]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_DokumentPlatnoscSQL]
GO

# [DF__CtiImpDok__SCH_P__0B37888C]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_PozycjaStawkaVAT]
GO

# [DF__CtiImpDok__SCH_P__0C2BACC5]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_PozycjaStawkaVATKolumna]
GO

# [DF__CtiImpDok__SCH_P__0D1FD0FE]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_PozycjaStawkaVATSQL]
GO

# [DF__CtiImpDok__SCH_I__0E13F537]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_IntrastatKodTransakcji]
GO

# [DF__CtiImpDok__SCH_I__0F081970]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_IntrastatKodTransakcjiKolumna]
GO

# [DF__CtiImpDok__SCH_I__0FFC3DA9]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_IntrastatKodTransakcjiSQL]
GO

# [DF__CtiImpDok__SCH_I__10F061E2]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_IntrastatKodKraju]
GO

# [DF__CtiImpDok__SCH_I__11E4861B]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_IntrastatKodKrajuKolumna]
GO

# [DF__CtiImpDok__SCH_I__12D8AA54]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_IntrastatDataWywozu]
GO

# [DF__CtiImpDok__SCH_I__13CCCE8D]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_IntrastatDataWywozuKolumna]
GO

# [DF__CtiImpDok__SCH_D__14C0F2C6]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_DokumentDataKursuKolumna]
GO

# [DF__CtiImpDok__SCH_D__15B516FF]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_DokumentDataKursu]
GO

# [DF__CtiImpDok__SCH_D__16A93B38]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_DokumentDataKursuSQL]
GO

# [DF__CtiImpDok__SCH_K__179D5F71]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_KontrahentPobierajPrefix]
GO

# [DF__CtiImpDok__SCH_K__189183AA]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_KontrahentUstawiajPLBrakPrefixu]
GO

# [DF__CtiImpDok__SCH_D__1985A7E3]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_DokumentSeriaUstawiaj]
GO

# [DF__CtiImpDok__SCH_D__1A79CC1C]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_DokumentSeria]
GO

# [DF__CtiImpDok__SCH_Z__1B6DF055]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_ZrodloTyp]
GO

# [DF__CtiImpDok__SCH_D__1C62148E]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_DaneFTP]
GO

# [DF__CtiImpDok__SCH_K__1D5638C7]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_KatalogFTP]
GO

# [DF__CtiImpDok__SCH_P__1E4A5D00]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_PobieraniePliku]
GO

# [DF__CtiImpDok__SCH_C__1F3E8139]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_CorrectCatalog]
GO

# [DF__CtiImpDok__SCH_F__2032A572]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_FaultCatalog]
GO

# [DF__CtiImpDok__SCH_P__2126C9AB]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_PozycjaJM]
GO

# [DF__CtiImpDok__SCH_P__221AEDE4]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_PozycjaJMKolumna]
GO

# [DF__CtiImpDok__SCH_P__230F121D]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_PozycjaJMSQL]
GO

# [DF__CtiImpDok__SCH_D__24033656]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_DokumentDokPowKolumna]
GO

# [DF__CtiImpDok__SCH_D__24F75A8F]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_DokumentDokPow]
GO

# [DF__CtiImpDok__SCH_D__25EB7EC8]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_DokumentDokPowSQL]
GO

# [DF__CtiImpDok__SCH_P__26DFA301]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_PozycjaCechyWzor]
GO

# [DF__CtiImpDok__SCH_P__27D3C73A]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ('') FOR [SCH_PozycjaKodSQL]
GO

# [DF__CtiImpDok__SCH_T__334579E6]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  DEFAULT ((0)) FOR [SCH_TworzDokPdstPow]
GO

# [DF_CtiImpDokSchematy_PlatnoscTyp]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  CONSTRAINT [DF_CtiImpDokSchematy_PlatnoscTyp]  DEFAULT ((0)) FOR [SCH_DokumentPlatnosciTyp]
GO

# [DF_CtiImpDokSchematy_MagZrdZrodlo]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  CONSTRAINT [DF_CtiImpDokSchematy_MagZrdZrodlo]  DEFAULT ((0)) FOR [SCH_KodMagazynuZrdZrodlo]
GO

# [DF_CtiImpDokSchematy_MagZrdSzczegoly]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  CONSTRAINT [DF_CtiImpDokSchematy_MagZrdSzczegoly]  DEFAULT ('') FOR [SCH_KodMagazynuZrdSzczegoly]
GO

# [DF_CtiImpDokSchematy_ROWewnetrzne]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematy] ADD  CONSTRAINT [DF_CtiImpDokSchematy_ROWewnetrzne]  DEFAULT ((0)) FOR [SCH_ROWewnetrzne]
GO

# [DF__CtiImpDok__SCHRV__2AB033E5]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ('') FOR [SCHRV_PozycjaRodzajKod]
GO

# [DF__CtiImpDok__SCHRV__2BA4581E]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ('') FOR [SCHRV_DokumentNumerDokumentuKod]
GO

# [DF__CtiImpDok__SCHRV__325155AD]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ((0)) FOR [SCHRV_KontrahentDaneGUSVIES]
GO

# [DF__CtiImpDok__SCHRV__34399E1F]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ((0)) FOR [SCHRV_DokumentTransakcjaFiskalna]
GO

# [DF__CtiImpDok__SCHRV__352DC258]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ((0)) FOR [SCHRV_DokumentTransakcjaFiskalnaKolumna]
GO

# [DF__CtiImpDok__SCHRV__3621E691]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ('') FOR [SCHRV_DokumentTransakcjaFiskalnaSQL]
GO

# [DF__CtiImpDok__SCHRV__37160ACA]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ((0)) FOR [SCHRV_DokumentRozliczacVAT]
GO

# [DF__CtiImpDok__SCHRV__380A2F03]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ((0)) FOR [SCHRV_DokumentRozliczacVATKolumna]
GO

# [DF__CtiImpDok__SCHRV__38FE533C]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ('') FOR [SCHRV_DokumentRozliczacVATSQL]
GO

# [DF__CtiImpDok__SCHRV__39F27775]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ((0)) FOR [SCHRV_DokumentNotatkiVAT]
GO

# [DF__CtiImpDok__SCHRV__3AE69BAE]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ((0)) FOR [SCHRV_DokumentNotatkiKolumna]
GO

# [DF__CtiImpDok__SCHRV__3BDABFE7]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ('') FOR [SCHRV_DokumentNotatkiSQL]
GO

# [DF__CtiImpDok__SCHRV__3CCEE420]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ('') FOR [SCHRV_DokumentAtrybutyWzor]
GO

# [DF__CtiImpDok__SCHRV__3DC30859]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ((0)) FOR [SCHRV_PozycjaKategoria2]
GO

# [DF__CtiImpDok__SCHRV__3EB72C92]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ((0)) FOR [SCHRV_PozycjaKategoria2Kolumna]
GO

# [DF__CtiImpDok__SCHRV__3FAB50CB]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ('') FOR [SCHRV_PozycjaKategoria2SQL]
GO

# [DF__CtiImpDok__SCHRV__409F7504]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ((0)) FOR [SCHRV_PozycjaOpis2]
GO

# [DF__CtiImpDok__SCHRV__4193993D]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ((0)) FOR [SCHRV_PozycjaOpis2Kolumna]
GO

# [DF__CtiImpDok__SCHRV__4287BD76]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ('') FOR [SCHRV_PozycjaOpis2SQL]
GO

# [DF__CtiImpDok__SCHRV__437BE1AF]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ((0)) FOR [SCHRV_PozycjaUwzglWProporcji]
GO

# [DF__CtiImpDok__SCHRV__447005E8]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ((0)) FOR [SCHRV_PozycjaUwzglWProporcjiKolumna]
GO

# [DF__CtiImpDok__SCHRV__45642A21]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ('') FOR [SCHRV_PozycjaUwzglWProporcjiSQL]
GO

# [DF__CtiImpDok__SCHRV__46584E5A]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ('') FOR [SCHRV_PozycjaUwzglWProporcjiKod]
GO

# [DF__CtiImpDok__SCHRV__3C25A401]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ((0)) FOR [SCHRV_DokumentWaluta]
GO

# [DF__CtiImpDok__SCHRV__3D19C83A]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ('') FOR [SCHRV_DokumentWalutaKod]
GO

# [DF__CtiImpDok__SCHRV__3E0DEC73]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ((0)) FOR [SCHRV_DokumentWalutaKolumna]
GO

# [DF__CtiImpDok__SCHRV__3F0210AC]

In [0]:
ALTER TABLE [dbo].[CtiImpDokSchematyRejVAT] ADD  DEFAULT ('') FOR [SCHRV_DokumentWalutaSQL]
GO

# [DF__CtiImpDok__TSK_T__4934BB05]

In [0]:
ALTER TABLE [dbo].[CtiImpDokZadania] ADD  DEFAULT ((0)) FOR [TSK_TrybHarmonogramu]
GO

# [defo_CtiMaszyna_Mas_DataMod]

In [0]:
ALTER TABLE [dbo].[CtiMaszyna] ADD  CONSTRAINT [defo_CtiMaszyna_Mas_DataMod]  DEFAULT (getdate()) FOR [Mas_DataMod]
GO

# [defo_CtiMaszynaRealizacja_Mar_DataMod]

In [0]:
ALTER TABLE [dbo].[CtiMaszynaRealizacja] ADD  CONSTRAINT [defo_CtiMaszynaRealizacja_Mar_DataMod]  DEFAULT (getdate()) FOR [Mar_DataMod]
GO

# [DF__CtiOperat__COSF___13589898]

In [0]:
ALTER TABLE [dbo].[CtiOperatorSQLFilter] ADD  DEFAULT ((0)) FOR [COSF_Active]
GO

# [DF__CtiOperat__COSF___144CBCD1]

In [0]:
ALTER TABLE [dbo].[CtiOperatorSQLFilter] ADD  DEFAULT ('') FOR [COSF_SQL]
GO

# [DF__CtiOperat__CO_Po__55458C2F]

In [0]:
ALTER TABLE [dbo].[CtiOperatorzy] ADD  DEFAULT ((0)) FOR [CO_PodpowiadanieRealizacjiCalkowitej]
GO

# [DF__CtiOperat__CO_Po__5639B068]

In [0]:
ALTER TABLE [dbo].[CtiOperatorzy] ADD  DEFAULT ((0)) FOR [CO_PodpowiadanieRealizacjiCzesciowej]
GO

# [DF__CtiOperat__CO_Wi__572DD4A1]

In [0]:
ALTER TABLE [dbo].[CtiOperatorzy] ADD  DEFAULT ((0)) FOR [CO_WidziCenySurowcow]
GO

# [DF__CtiOperat__CO_Wi__5821F8DA]

In [0]:
ALTER TABLE [dbo].[CtiOperatorzy] ADD  DEFAULT ((0)) FOR [CO_WidziCenyZasobow]
GO

# [DF__CtiOperat__CO_Bl__59161D13]

In [0]:
ALTER TABLE [dbo].[CtiOperatorzy] ADD  DEFAULT ((1)) FOR [CO_BlokowanieZlecen]
GO

# [DF__CtiOperat__CO_Od__5A0A414C]

In [0]:
ALTER TABLE [dbo].[CtiOperatorzy] ADD  DEFAULT ((1)) FOR [CO_OdblokowanieZlecen]
GO

# [DF__CtiOperat__CO_Ni__5AFE6585]

In [0]:
ALTER TABLE [dbo].[CtiOperatorzy] ADD  DEFAULT ((0)) FOR [CO_Nieaktywny]
GO

# [DF__CtiOperat__CO_Ed__5BF289BE]

In [0]:
ALTER TABLE [dbo].[CtiOperatorzy] ADD  DEFAULT ((0)) FOR [CO_EdytowaniePotwierdzonychTH]
GO

# [DF__CtiOperat__CO_Wi__5CE6ADF7]

In [0]:
ALTER TABLE [dbo].[CtiOperatorzy] ADD  DEFAULT ((0)) FOR [CO_WidziCenyWyrobow]
GO

# [DF__CtiOperat__CO_Wi__5DDAD230]

In [0]:
ALTER TABLE [dbo].[CtiOperatorzy] ADD  DEFAULT ((0)) FOR [CO_WidziCenyRO]
GO

# [DF__CtiOperat__CO_Ed__66701831]

In [0]:
ALTER TABLE [dbo].[CtiOperatorzy] ADD  DEFAULT ((0)) FOR [CO_EditSurowiecZPPotw]
GO

# [DF__CtiPanelS__SBC_O__337A8410]

In [0]:
ALTER TABLE [dbo].[CtiPanelSbsConfig] ADD  DEFAULT ((0)) FOR [SBC_OpcjaDodajCzynnosci]
GO

# [DF__CtiPanelS__SBC_O__346EA849]

In [0]:
ALTER TABLE [dbo].[CtiPanelSbsConfig] ADD  DEFAULT ((0)) FOR [SBC_OpcjaAwaria]
GO

# [DF__CtiPanelS__SBC_O__3562CC82]

In [0]:
ALTER TABLE [dbo].[CtiPanelSbsConfig] ADD  DEFAULT ((0)) FOR [SBC_OpcjaPrzerwa]
GO

# [DF__CtiProduk__CPFD___79B7F6CF]

In [0]:
ALTER TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowa] ADD  DEFAULT ((0)) FOR [CPFD_PrzedOtwarciem]
GO

# [DF__CtiProduk__CPFD___7AAC1B08]

In [0]:
ALTER TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowa] ADD  DEFAULT ((0)) FOR [CPFD_PrzedZapisem]
GO

# [DF__CtiProduk__CPFD___7BA03F41]

In [0]:
ALTER TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowa] ADD  DEFAULT ((0)) FOR [CPFD_PoZapisie]
GO

# [DF__CtiProduk__CPFD___7C94637A]

In [0]:
ALTER TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowa] ADD  DEFAULT ((0)) FOR [CPFD_Program]
GO

# [DF__CtiProduk__CPFDM__04358542]

In [0]:
ALTER TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowaFunkcjaMiejsceWywolania] ADD  DEFAULT ((0)) FOR [CPFDMW_HierarchiaPrzedOtwarciem]
GO

# [DF__CtiProduk__CPFDM__0529A97B]

In [0]:
ALTER TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowaFunkcjaMiejsceWywolania] ADD  DEFAULT ((0)) FOR [CPFDMW_HierarchiaPrzedZapisem]
GO

# [DF__CtiProduk__CPFDM__061DCDB4]

In [0]:
ALTER TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowaFunkcjaMiejsceWywolania] ADD  DEFAULT ((0)) FOR [CPFDMW_HierarchiaPoZapisie]
GO

# [DF__CtiProduk__CPFDM__01591897]

In [0]:
ALTER TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowaMiejsceWywolania] ADD  DEFAULT ((0)) FOR [CPFDMW_Program]
GO

# [DF__CtiProduk__CPK_E__7CC96DA4]

In [0]:
ALTER TABLE [dbo].[CtiProdukcjaKolumny] ADD  DEFAULT ((0)) FOR [CPK_Edytowalna]
GO

# [DF__CtiProduk__CPK_V__7DBD91DD]

In [0]:
ALTER TABLE [dbo].[CtiProdukcjaKolumny] ADD  DEFAULT ((1)) FOR [CPK_Visible]
GO

# [DF__CtiProdukcj__Typ__39335D66]

In [0]:
ALTER TABLE [dbo].[CtiProdukcjaPanelPrzerwy] ADD  DEFAULT ((0)) FOR [Typ]
GO

# [DF__CtiProduk__TypZl__40D47F2E]

In [0]:
ALTER TABLE [dbo].[CtiProdukcjaPanelPrzerwy] ADD  DEFAULT ((2)) FOR [TypZlecenia]
GO

# [DF__CtiProduk__CPS_S__657BF3F8]

In [0]:
ALTER TABLE [dbo].[CtiProdukcjaStatus] ADD  DEFAULT ((-1)) FOR [CPS_StatusProdukcjaEnum]
GO

# [DF__CtiProduk__CPSRE__181D4DB5]

In [0]:
ALTER TABLE [dbo].[CtiProdukcjaStatusROElem] ADD  DEFAULT ((-1)) FOR [CPSRE_Status]
GO

# [DF__CtiProdWy__CWE_T__6E7B4E4D]

In [0]:
ALTER TABLE [dbo].[CtiProdWydanieElem] ADD  DEFAULT ((32)) FOR [CWE_Typ]
GO

# [DF__CtiProdWy__CWN_T__66DA2C85]

In [0]:
ALTER TABLE [dbo].[CtiProdWydanieNag] ADD  DEFAULT ((31)) FOR [CWN_Typ]
GO

# [DF__CtiProdWy__CWN_S__67CE50BE]

In [0]:
ALTER TABLE [dbo].[CtiProdWydanieNag] ADD  DEFAULT ((0)) FOR [CWN_Status]
GO

# [DF__CtiProdWy__CWN_O__68C274F7]

In [0]:
ALTER TABLE [dbo].[CtiProdWydanieNag] ADD  DEFAULT ('') FOR [CWN_Opis]
GO

# [DF__CtiProdWy__CWN_U__69B69930]

In [0]:
ALTER TABLE [dbo].[CtiProdWydanieNag] ADD  DEFAULT ('') FOR [CWN_Uwagi]
GO

# [DF__CtiProdWy__CWN_D__6AAABD69]

In [0]:
ALTER TABLE [dbo].[CtiProdWydanieNag] ADD  DEFAULT (getdate()) FOR [CWN_DataWystaw]
GO

# [DF__CtiProdWy__CWN_D__6B9EE1A2]

In [0]:
ALTER TABLE [dbo].[CtiProdWydanieNag] ADD  DEFAULT (getdate()) FOR [CWN_DataModyf]
GO

# [DF__CtiProdWy__CWP_T__724BDF31]

In [0]:
ALTER TABLE [dbo].[CtiProdWydaniePoz] ADD  DEFAULT ((33)) FOR [CWP_Typ]
GO

# [DF__CtiSlowni__CsU_P__2A903854]

In [0]:
ALTER TABLE [dbo].[CtiSlownikiUzytkow] ADD  DEFAULT ((0)) FOR [CsU_Prm1]
GO

# [DF__CtiTechno__CTE_S__3E6226D7]

In [0]:
ALTER TABLE [dbo].[CtiTechnolElem] ADD  DEFAULT ((0)) FOR [CTE_Staly]
GO

# [DF__CtiTechno__CTN_D__4326DBF4]

In [0]:
ALTER TABLE [dbo].[CtiTechnolNag] ADD  DEFAULT ((-1)) FOR [CTN_DodatkowyStatus]
GO

# [DF__CtiTechno__CTN_S__441B002D]

In [0]:
ALTER TABLE [dbo].[CtiTechnolNag] ADD  DEFAULT ((0)) FOR [CTN_Szablon]
GO

# [DF__CtiTechno__CTN_D__450F2466]

In [0]:
ALTER TABLE [dbo].[CtiTechnolNag] ADD  DEFAULT ((0)) FOR [CTN_DomyslneMagSur]
GO

# [DF__CtiTechno__CTN_G__1FBE6F7D]

In [0]:
ALTER TABLE [dbo].[CtiTechnolNag] ADD  DEFAULT ((0)) FOR [CTN_GenerateRWAfterResource]
GO

# [DF__CtiTechno__CTM_T__60B73EDB]

In [0]:
ALTER TABLE [dbo].[CtiTechnolZamienniki] ADD  DEFAULT ((1)) FOR [CTM_Typ]
GO

# [DF__CtiTechno__CTZE___5ECEF669]

In [0]:
ALTER TABLE [dbo].[CtiTechnolZElem] ADD  DEFAULT ((0)) FOR [CTZE_Potwierdzanie]
GO

# [DF__CtiTechno__CTZE___6487CFBF]

In [0]:
ALTER TABLE [dbo].[CtiTechnolZElem] ADD  DEFAULT ((0)) FOR [CTZE_Staly]
GO

# [DF__CtiTechno__CTZN___4603489F]

In [0]:
ALTER TABLE [dbo].[CtiTechnolZNag] ADD  DEFAULT ((0)) FOR [CTZN_Domyslna]
GO

# [DF__CtiTechno__CTZN___46F76CD8]

In [0]:
ALTER TABLE [dbo].[CtiTechnolZNag] ADD  DEFAULT ((1)) FOR [CTZN_PotwierdzZP]
GO

# [DF__CtiTechno__CTZN___47EB9111]

In [0]:
ALTER TABLE [dbo].[CtiTechnolZNag] ADD  DEFAULT ((0)) FOR [CTZN_Nieaktywna]
GO

# [DF__CtiTechno__CTZN___48DFB54A]

In [0]:
ALTER TABLE [dbo].[CtiTechnolZNag] ADD  DEFAULT ((1)) FOR [CTZN_Ilosc]
GO

# [DF__CtiWydruk__WW_Il__24A254D4]

In [0]:
ALTER TABLE [dbo].[CtiWydrukWlasny] ADD  DEFAULT ((1)) FOR [WW_IloscKopii]
GO

# [DF__CtiWydruk__WW_Py__2596790D]

In [0]:
ALTER TABLE [dbo].[CtiWydrukWlasny] ADD  DEFAULT ((0)) FOR [WW_PytajOIlosc]
GO

# [DF__CtiWydruk__WW_Or__268A9D46]

In [0]:
ALTER TABLE [dbo].[CtiWydrukWlasny] ADD  DEFAULT ((0)) FOR [WW_Orientacja]
GO

# [DF__CtiWydruk__WW_Sz__277EC17F]

In [0]:
ALTER TABLE [dbo].[CtiWydrukWlasny] ADD  DEFAULT ((0)) FOR [WW_Szerokosc]
GO

# [DF__CtiWydruk__WW_Wy__2872E5B8]

In [0]:
ALTER TABLE [dbo].[CtiWydrukWlasny] ADD  DEFAULT ((0)) FOR [WW_Wysokosc]
GO

# [DF__CtiWydruk__WW_Se__296709F1]

In [0]:
ALTER TABLE [dbo].[CtiWydrukWlasny] ADD  DEFAULT ((0)) FOR [WW_Seryjny]
GO

# [DF__CtiWydruk__WW_Ma__2A5B2E2A]

In [0]:
ALTER TABLE [dbo].[CtiWydrukWlasny] ADD  DEFAULT ((-1)) FOR [WW_MarginesLewy]
GO

# [DF__CtiWydruk__WW_Ma__2B4F5263]

In [0]:
ALTER TABLE [dbo].[CtiWydrukWlasny] ADD  DEFAULT ((-1)) FOR [WW_MarginesPrawy]
GO

# [DF__CtiWydruk__WW_Ma__2C43769C]

In [0]:
ALTER TABLE [dbo].[CtiWydrukWlasny] ADD  DEFAULT ((-1)) FOR [WW_MarginesGorny]
GO

# [DF__CtiWydruk__WW_Ma__2D379AD5]

In [0]:
ALTER TABLE [dbo].[CtiWydrukWlasny] ADD  DEFAULT ((-1)) FOR [WW_MarginesDolny]
GO

# [DF__CtiWydruk__WWP_R__2E2BBF0E]

In [0]:
ALTER TABLE [dbo].[CtiWydrukWlasnyParam] ADD  DEFAULT ((0)) FOR [WWP_ReczneUstalanie]
GO

# [DF__CtiZasob__CZ_Dzi__30140780]

In [0]:
ALTER TABLE [dbo].[CtiZasob] ADD  DEFAULT ((0)) FOR [CZ_DzialID]
GO

# [DF__CtiZasob__CZ_Wie__31082BB9]

In [0]:
ALTER TABLE [dbo].[CtiZasob] ADD  DEFAULT ((1)) FOR [CZ_WieleOsob]
GO

# [DF__CtiZasob__CZ_Cza__31FC4FF2]

In [0]:
ALTER TABLE [dbo].[CtiZasob] ADD  DEFAULT ((0)) FOR [CZ_CzasPlanowany]
GO

# [DF__CtiZasob__CZ_Roz__32F0742B]

In [0]:
ALTER TABLE [dbo].[CtiZasob] ADD  DEFAULT ((0)) FOR [CZ_RozbijanieCzasuZPZ]
GO

# [DF__CtiZasob__CZ_Pla__33E49864]

In [0]:
ALTER TABLE [dbo].[CtiZasob] ADD  DEFAULT ((0)) FOR [CZ_PlanowanieCzasuPracy]
GO

# [DF__CtiZasob__CZ_Wyk__34D8BC9D]

In [0]:
ALTER TABLE [dbo].[CtiZasob] ADD  DEFAULT ((0)) FOR [CZ_WykrywajKonflikty]
GO

# [DF__CtiZasob__CZ_Prz__35CCE0D6]

In [0]:
ALTER TABLE [dbo].[CtiZasob] ADD  DEFAULT ((0)) FOR [CZ_PrzeliczanieCzasu]
GO

# [DF__CtiZasob__CZ_Jed__36C1050F]

In [0]:
ALTER TABLE [dbo].[CtiZasob] ADD  DEFAULT ((0)) FOR [CZ_JednaRealizacja]
GO

# [DF__CtiZasob__CZ_Zwi__37B52948]

In [0]:
ALTER TABLE [dbo].[CtiZasob] ADD  DEFAULT ((0)) FOR [CZ_ZwiekszajCzas]
GO

# [DF__CtiZasob__CZ_Zmn__38A94D81]

In [0]:
ALTER TABLE [dbo].[CtiZasob] ADD  DEFAULT ((0)) FOR [CZ_ZmniejszajCzas]
GO

# [DF__CtiZasob__CZ_Kol__399D71BA]

In [0]:
ALTER TABLE [dbo].[CtiZasob] ADD  DEFAULT ((255)) FOR [CZ_KolorA]
GO

# [DF__CtiZasob__CZ_Kol__3A9195F3]

In [0]:
ALTER TABLE [dbo].[CtiZasob] ADD  DEFAULT ((255)) FOR [CZ_KolorR]
GO

# [DF__CtiZasob__CZ_Kol__3B85BA2C]

In [0]:
ALTER TABLE [dbo].[CtiZasob] ADD  DEFAULT ((193)) FOR [CZ_KolorG]
GO

# [DF__CtiZasob__CZ_Kol__3C79DE65]

In [0]:
ALTER TABLE [dbo].[CtiZasob] ADD  DEFAULT ((8)) FOR [CZ_KolorB]
GO

# [DF__CtiZasob__CZ_Ilo__3D6E029E]

In [0]:
ALTER TABLE [dbo].[CtiZasob] ADD  DEFAULT ((0)) FOR [CZ_IloscDomyslna]
GO

# [DF__CtiZasobD__CZS_J__4AFD07E6]

In [0]:
ALTER TABLE [dbo].[CtiZasobDok] ADD  DEFAULT ((1)) FOR [CZS_JMCzasu]
GO

# [DF__CtiZasobD__CZS_Z__49D3D983]

In [0]:
ALTER TABLE [dbo].[CtiZasobDok] ADD  DEFAULT ((0)) FOR [CZS_Zakonczono]
GO

# [DF__CtiZasobD__CZS_W__4AC7FDBC]

In [0]:
ALTER TABLE [dbo].[CtiZasobDok] ADD  DEFAULT ((1)) FOR [CZS_WieleOsob]
GO

# [DF__CtiZasobD__CZS_C__4BBC21F5]

In [0]:
ALTER TABLE [dbo].[CtiZasobDok] ADD  DEFAULT ((0)) FOR [CZS_CzasPlanowany]
GO

# [DF__CtiZasobD__CZS_P__4CB0462E]

In [0]:
ALTER TABLE [dbo].[CtiZasobDok] ADD  DEFAULT ((0)) FOR [CZS_PlanowanieCzasuPracy]
GO

# [DF__CtiZasobD__CZS_R__4DA46A67]

In [0]:
ALTER TABLE [dbo].[CtiZasobDok] ADD  DEFAULT ((0)) FOR [CZS_Rozliczono]
GO

# [DF__CtiZasobD__CZS_U__4E988EA0]

In [0]:
ALTER TABLE [dbo].[CtiZasobDok] ADD  DEFAULT ((0)) FOR [CZS_UtworzonoPracownika]
GO

# [DF__CtiZasobD__CZS_R__61AB6314]

In [0]:
ALTER TABLE [dbo].[CtiZasobDok] ADD  DEFAULT ((1)) FOR [CZS_RealizacjaCalkowita]
GO

# [DF__CtiZasobD__CZS_P__629F874D]

In [0]:
ALTER TABLE [dbo].[CtiZasobDok] ADD  DEFAULT ((1)) FOR [CZS_PWOdpad]
GO

# [DF__CtiZlecen__CZE_C__5C2793E8]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieElem] ADD  DEFAULT ((2)) FOR [CZE_CZNTyp]
GO

# [DF__CtiZlecen__CZE_W__52691F84]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieElem] ADD  DEFAULT ((1)) FOR [CZE_WplywNaCene]
GO

# [DF__CtiZlecen__CZE_S__535D43BD]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieElem] ADD  DEFAULT ((0)) FOR [CZE_Staly]
GO

# [DF__CtiZlecen__CZE_P__545167F6]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieElem] ADD  DEFAULT ((0)) FOR [CZE_Polprodukt]
GO

# [DF__CtiZlecen__CZN_N__4F8CB2D9]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieNag] ADD  DEFAULT ((0)) FOR [CZN_NrOpakowania]
GO

# [DF__CtiZlecen__CZN_P__5080D712]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieNag] ADD  DEFAULT ((0)) FOR [CZN_PominCzasZasobow]
GO

# [DF__CtiZlecen__CZN_D__5174FB4B]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieNag] ADD  DEFAULT ((0)) FOR [CZN_DomyslneMagSur]
GO

# [DF__CtiZlecen__CZN_U__1ECA4B44]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieNag] ADD  DEFAULT ((0)) FOR [CZN_UwzglednijDateZPNaZasobach]
GO

# [DF__CtiZlecen__CZN_G__20B293B6]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieNag] ADD  DEFAULT ((0)) FOR [CZN_GenerateRWAfterResource]
GO

# [DF__CtiZlecen__ZZs_D__413E9382]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieZasob] ADD  DEFAULT ((2)) FOR [ZZs_DokTyp]
GO

# [DF__CtiZlecen__ZZs_R__4232B7BB]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieZasob] ADD  DEFAULT ((0)) FOR [ZZs_Rozliczono]
GO

# [DF__CtiZlecen__ZZs_S__3D03EE4A]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieZasob] ADD  DEFAULT ((0)) FOR [ZZs_StworzonoAwarie]
GO

# [DF__CtiZlecen__ZZs_S__3DF81283]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieZasob] ADD  DEFAULT ((0)) FOR [ZZs_StworzonoPW]
GO

# [DF__CtiZlecen__ZZs_S__3EEC36BC]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieZasob] ADD  DEFAULT ((0)) FOR [ZZs_StworzonoRW]
GO

# [DF__CtiZlecen__CZZE___3F564B10]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieZElem] ADD  DEFAULT ((0)) FOR [CZZE_Potwierdzanie]
GO

# [DF__CtiZlecen__CZZE___404A6F49]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieZElem] ADD  DEFAULT ((0)) FOR [CZZE_FinalneZP]
GO

# [DF__CtiZlecen__CZZE___6393AB86]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieZElem] ADD  DEFAULT ((0)) FOR [CZZE_Staly]
GO

# [DF__CtiZlecen__CZZN___5FC31AA2]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieZNag] ADD  DEFAULT ((1)) FOR [CZZN_PotwierdzZP]
GO

# [DF__Zarzadzan__ZSS_Z__07DBF8F4]

In [0]:
ALTER TABLE [dbo].[ZarzadzanieZasobamiSesje] ADD  DEFAULT ((0)) FOR [ZSS_Zakonczono]
GO

# [DF__Zarzadzan__ZZW_T__08D01D2D]

In [0]:
ALTER TABLE [dbo].[ZarzadzanieZasobamiWidoki] ADD  DEFAULT ((1)) FOR [ZZW_TypOkna]
GO

# [FK_TwrDostawca]

In [0]:
ALTER TABLE [CDN].[Towary]  WITH CHECK ADD  CONSTRAINT [FK_TwrDostawca] FOREIGN KEY([Twr_KntId])
REFERENCES [CDN].[Kontrahenci] ([Knt_KntId])
GO
ALTER TABLE [CDN].[Towary] CHECK CONSTRAINT [FK_TwrDostawca]
GO

# [FK_Twrkategoria]

In [0]:
ALTER TABLE [CDN].[Towary]  WITH CHECK ADD  CONSTRAINT [FK_Twrkategoria] FOREIGN KEY([Twr_KatId])
REFERENCES [CDN].[Kategorie] ([Kat_KatID])
GO
ALTER TABLE [CDN].[Towary] CHECK CONSTRAINT [FK_Twrkategoria]
GO

# [FK_TwrKategoriaZak]

In [0]:
ALTER TABLE [CDN].[Towary]  WITH CHECK ADD  CONSTRAINT [FK_TwrKategoriaZak] FOREIGN KEY([Twr_KatZakId])
REFERENCES [CDN].[Kategorie] ([Kat_KatID])
GO
ALTER TABLE [CDN].[Towary] CHECK CONSTRAINT [FK_TwrKategoriaZak]
GO

# [FK_TwrKodCN]

In [0]:
ALTER TABLE [CDN].[Towary]  WITH CHECK ADD  CONSTRAINT [FK_TwrKodCN] FOREIGN KEY([Twr_KCNId])
REFERENCES [CDN].[KodyCN] ([KCN_KCNId])
GO
ALTER TABLE [CDN].[Towary] CHECK CONSTRAINT [FK_TwrKodCN]
GO

# [FK_TrEKategoria]

In [0]:
ALTER TABLE [CDN].[TraElem]  WITH CHECK ADD  CONSTRAINT [FK_TrEKategoria] FOREIGN KEY([TrE_KatID])
REFERENCES [CDN].[Kategorie] ([Kat_KatID])
GO
ALTER TABLE [CDN].[TraElem] CHECK CONSTRAINT [FK_TrEKategoria]
GO

# [FK_TrEPodmiot]

In [0]:
ALTER TABLE [CDN].[TraElem]  WITH CHECK ADD  CONSTRAINT [FK_TrEPodmiot] FOREIGN KEY([TrE_PodID], [TrE_PodmiotTyp])
REFERENCES [CDN].[PodmiotyView] ([Pod_PodId], [Pod_PodmiotTyp])
GO
ALTER TABLE [CDN].[TraElem] CHECK CONSTRAINT [FK_TrEPodmiot]
GO

# [FK_TrETowar]

In [0]:
ALTER TABLE [CDN].[TraElem]  WITH CHECK ADD  CONSTRAINT [FK_TrETowar] FOREIGN KEY([TrE_TwrId])
REFERENCES [CDN].[Towary] ([Twr_TwrId])
GO
ALTER TABLE [CDN].[TraElem] CHECK CONSTRAINT [FK_TrETowar]
GO

# [FK_TrETraNag]

In [0]:
ALTER TABLE [CDN].[TraElem]  WITH CHECK ADD  CONSTRAINT [FK_TrETraNag] FOREIGN KEY([TrE_TrNId])
REFERENCES [CDN].[TraNag] ([TrN_TrNID])
ON DELETE CASCADE
GO
ALTER TABLE [CDN].[TraElem] CHECK CONSTRAINT [FK_TrETraNag]
GO

# [FK_TrNDokDef]

In [0]:
ALTER TABLE [CDN].[TraNag]  WITH CHECK ADD  CONSTRAINT [FK_TrNDokDef] FOREIGN KEY([TrN_DDfId])
REFERENCES [CDN].[DokDefinicje] ([DDf_DDfID])
GO
ALTER TABLE [CDN].[TraNag] CHECK CONSTRAINT [FK_TrNDokDef]
GO

# [FK_TrNKategoria]

In [0]:
ALTER TABLE [CDN].[TraNag]  WITH CHECK ADD  CONSTRAINT [FK_TrNKategoria] FOREIGN KEY([TrN_KatID])
REFERENCES [CDN].[Kategorie] ([Kat_KatID])
GO
ALTER TABLE [CDN].[TraNag] CHECK CONSTRAINT [FK_TrNKategoria]
GO

# [FK_TrNMagazynDoc]

In [0]:
ALTER TABLE [CDN].[TraNag]  WITH CHECK ADD  CONSTRAINT [FK_TrNMagazynDoc] FOREIGN KEY([TrN_MagDocId])
REFERENCES [CDN].[Magazyny] ([Mag_MagId])
GO
ALTER TABLE [CDN].[TraNag] CHECK CONSTRAINT [FK_TrNMagazynDoc]
GO

# [FK_TrNMagazynZrd]

In [0]:
ALTER TABLE [CDN].[TraNag]  WITH CHECK ADD  CONSTRAINT [FK_TrNMagazynZrd] FOREIGN KEY([TrN_MagZrdId])
REFERENCES [CDN].[Magazyny] ([Mag_MagId])
GO
ALTER TABLE [CDN].[TraNag] CHECK CONSTRAINT [FK_TrNMagazynZrd]
GO

# [FK_TrNPieczatka]

In [0]:
ALTER TABLE [CDN].[TraNag]  WITH CHECK ADD  CONSTRAINT [FK_TrNPieczatka] FOREIGN KEY([TrN_PCID])
REFERENCES [CDN].[Pieczatki] ([PC_PCID])
GO
ALTER TABLE [CDN].[TraNag] CHECK CONSTRAINT [FK_TrNPieczatka]
GO

# [FK_TrNPieczatkaJS]

In [0]:
ALTER TABLE [CDN].[TraNag]  WITH CHECK ADD  CONSTRAINT [FK_TrNPieczatkaJS] FOREIGN KEY([TrN_PCJSID])
REFERENCES [CDN].[PieczatkiJS] ([PCJS_PCJSID])
GO
ALTER TABLE [CDN].[TraNag] CHECK CONSTRAINT [FK_TrNPieczatkaJS]
GO

# [FK_TrNPlatnik]

In [0]:
ALTER TABLE [CDN].[TraNag]  WITH CHECK ADD  CONSTRAINT [FK_TrNPlatnik] FOREIGN KEY([TrN_PlatnikID], [TrN_PlatnikTyp])
REFERENCES [CDN].[PodmiotyView] ([Pod_PodId], [Pod_PodmiotTyp])
GO
ALTER TABLE [CDN].[TraNag] CHECK CONSTRAINT [FK_TrNPlatnik]
GO

# [FK_TrNPlatnosc]

In [0]:
ALTER TABLE [CDN].[TraNag]  WITH CHECK ADD  CONSTRAINT [FK_TrNPlatnosc] FOREIGN KEY([TrN_FPlId])
REFERENCES [CDN].[FormyPlatnosci] ([FPl_FPlId])
GO
ALTER TABLE [CDN].[TraNag] CHECK CONSTRAINT [FK_TrNPlatnosc]
GO

# [FK_TrNPodmiot]

In [0]:
ALTER TABLE [CDN].[TraNag]  WITH CHECK ADD  CONSTRAINT [FK_TrNPodmiot] FOREIGN KEY([TrN_PodID], [TrN_PodmiotTyp])
REFERENCES [CDN].[PodmiotyView] ([Pod_PodId], [Pod_PodmiotTyp])
GO
ALTER TABLE [CDN].[TraNag] CHECK CONSTRAINT [FK_TrNPodmiot]
GO

# [FK_TrSDostawa]

In [0]:
ALTER TABLE [CDN].[TraSElem]  WITH CHECK ADD  CONSTRAINT [FK_TrSDostawa] FOREIGN KEY([TrS_TrSIdDost])
REFERENCES [CDN].[TraSElem] ([TrS_TrSID])
GO
ALTER TABLE [CDN].[TraSElem] CHECK CONSTRAINT [FK_TrSDostawa]
GO

# [FK_TrSTowar]

In [0]:
ALTER TABLE [CDN].[TraSElem]  WITH CHECK ADD  CONSTRAINT [FK_TrSTowar] FOREIGN KEY([TrS_TwrId])
REFERENCES [CDN].[Towary] ([Twr_TwrId])
GO
ALTER TABLE [CDN].[TraSElem] CHECK CONSTRAINT [FK_TrSTowar]
GO

# [FK_TrSTraElemC]

In [0]:
ALTER TABLE [CDN].[TraSElemCechy]  WITH CHECK ADD  CONSTRAINT [FK_TrSTraElemC] FOREIGN KEY([TsC_TrSID])
REFERENCES [CDN].[TraSElem] ([TrS_TrSID])
ON DELETE CASCADE
GO
ALTER TABLE [CDN].[TraSElemCechy] CHECK CONSTRAINT [FK_TrSTraElemC]
GO

# [FK_TrSTraElemD]

In [0]:
ALTER TABLE [CDN].[TraSElemDost]  WITH CHECK ADD  CONSTRAINT [FK_TrSTraElemD] FOREIGN KEY([TsD_TrEId])
REFERENCES [CDN].[TraElem] ([TrE_TrEID])
ON DELETE CASCADE
GO
ALTER TABLE [CDN].[TraSElemDost] CHECK CONSTRAINT [FK_TrSTraElemD]
GO

# [FK_TwADefAtrybut]

In [0]:
ALTER TABLE [CDN].[TwrAtrybuty]  WITH CHECK ADD  CONSTRAINT [FK_TwADefAtrybut] FOREIGN KEY([TwA_DeAId])
REFERENCES [CDN].[DefAtrybuty] ([DeA_DeAId])
ON DELETE CASCADE
GO
ALTER TABLE [CDN].[TwrAtrybuty] CHECK CONSTRAINT [FK_TwADefAtrybut]
GO

# [FK_TwARodzajU]

In [0]:
ALTER TABLE [CDN].[TwrAtrybuty]  WITH CHECK ADD  CONSTRAINT [FK_TwARodzajU] FOREIGN KEY([TwA_SrRId])
REFERENCES [CDN].[SrsRodzajeU] ([SrR_SrRId])
ON DELETE CASCADE
GO
ALTER TABLE [CDN].[TwrAtrybuty] CHECK CONSTRAINT [FK_TwARodzajU]
GO

# [FK_TwATowar]

In [0]:
ALTER TABLE [CDN].[TwrAtrybuty]  WITH CHECK ADD  CONSTRAINT [FK_TwATowar] FOREIGN KEY([TwA_TwrId])
REFERENCES [CDN].[Towary] ([Twr_TwrId])
ON DELETE CASCADE
GO
ALTER TABLE [CDN].[TwrAtrybuty] CHECK CONSTRAINT [FK_TwATowar]
GO

# [FK_TwAUrzadzenie]

In [0]:
ALTER TABLE [CDN].[TwrAtrybuty]  WITH CHECK ADD  CONSTRAINT [FK_TwAUrzadzenie] FOREIGN KEY([TwA_SrUId])
REFERENCES [CDN].[SrsUrzadzenia] ([SrU_SrUId])
ON DELETE CASCADE
GO
ALTER TABLE [CDN].[TwrAtrybuty] CHECK CONSTRAINT [FK_TwAUrzadzenie]
GO

# [FK_TwAZlecenie]

In [0]:
ALTER TABLE [CDN].[TwrAtrybuty]  WITH CHECK ADD  CONSTRAINT [FK_TwAZlecenie] FOREIGN KEY([TwA_SrZId])
REFERENCES [CDN].[SrsZlecenia] ([SrZ_SrZId])
ON DELETE CASCADE
GO
ALTER TABLE [CDN].[TwrAtrybuty] CHECK CONSTRAINT [FK_TwAZlecenie]
GO

# [FK_TwCTowar]

In [0]:
ALTER TABLE [CDN].[TwrCeny]  WITH CHECK ADD  CONSTRAINT [FK_TwCTowar] FOREIGN KEY([TwC_TwrID])
REFERENCES [CDN].[Towary] ([Twr_TwrId])
ON DELETE CASCADE
GO
ALTER TABLE [CDN].[TwrCeny] CHECK CONSTRAINT [FK_TwCTowar]
GO

# [FK_TwETowar]

In [0]:
ALTER TABLE [CDN].[TwrEan]  WITH CHECK ADD  CONSTRAINT [FK_TwETowar] FOREIGN KEY([TwE_TwrId])
REFERENCES [CDN].[Towary] ([Twr_TwrId])
ON DELETE CASCADE
GO
ALTER TABLE [CDN].[TwrEan] CHECK CONSTRAINT [FK_TwETowar]
GO

# [FK_TwZMagazyn]

In [0]:
ALTER TABLE [CDN].[TwrZasoby]  WITH CHECK ADD  CONSTRAINT [FK_TwZMagazyn] FOREIGN KEY([TwZ_MagId])
REFERENCES [CDN].[Magazyny] ([Mag_MagId])
GO
ALTER TABLE [CDN].[TwrZasoby] CHECK CONSTRAINT [FK_TwZMagazyn]
GO

# [FK_TwZTowar]

In [0]:
ALTER TABLE [CDN].[TwrZasoby]  WITH CHECK ADD  CONSTRAINT [FK_TwZTowar] FOREIGN KEY([TwZ_TwrId])
REFERENCES [CDN].[Towary] ([Twr_TwrId])
GO
ALTER TABLE [CDN].[TwrZasoby] CHECK CONSTRAINT [FK_TwZTowar]
GO

# [FK_CtiAtrybutyElem_CtiAtrybutyElemHist]

In [0]:
ALTER TABLE [dbo].[CtiAtrybutyElem]  WITH CHECK ADD  CONSTRAINT [FK_CtiAtrybutyElem_CtiAtrybutyElemHist] FOREIGN KEY([CAE_CAHid])
REFERENCES [dbo].[CtiAtrybutyElemHist] ([CAH_ID])
GO
ALTER TABLE [dbo].[CtiAtrybutyElem] CHECK CONSTRAINT [FK_CtiAtrybutyElem_CtiAtrybutyElemHist]
GO

# [FK_CtiBrakiElem_CtiBrakiNag]

In [0]:
ALTER TABLE [dbo].[CtiBrakiElem]  WITH CHECK ADD  CONSTRAINT [FK_CtiBrakiElem_CtiBrakiNag] FOREIGN KEY([CBE_CBNId])
REFERENCES [dbo].[CtiBrakiNag] ([CBN_ID])
GO
ALTER TABLE [dbo].[CtiBrakiElem] CHECK CONSTRAINT [FK_CtiBrakiElem_CtiBrakiNag]
GO

# [FK_CtiDelivery_Kontrahenci]

In [0]:
ALTER TABLE [dbo].[CtiDelivery]  WITH CHECK ADD  CONSTRAINT [FK_CtiDelivery_Kontrahenci] FOREIGN KEY([CD_KntId])
REFERENCES [CDN].[Kontrahenci] ([Knt_KntId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CtiDelivery] CHECK CONSTRAINT [FK_CtiDelivery_Kontrahenci]
GO

# [FK_CtiDelivery_Towary]

In [0]:
ALTER TABLE [dbo].[CtiDelivery]  WITH CHECK ADD  CONSTRAINT [FK_CtiDelivery_Towary] FOREIGN KEY([CD_TwrId])
REFERENCES [CDN].[Towary] ([Twr_TwrId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CtiDelivery] CHECK CONSTRAINT [FK_CtiDelivery_Towary]
GO

# [FK_CtiDocumentSession_CtiOperatorzy]

In [0]:
ALTER TABLE [dbo].[CtiDocumentSession]  WITH CHECK ADD  CONSTRAINT [FK_CtiDocumentSession_CtiOperatorzy] FOREIGN KEY([CDS_OperID])
REFERENCES [dbo].[CtiOperatorzy] ([CO_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CtiDocumentSession] CHECK CONSTRAINT [FK_CtiDocumentSession_CtiOperatorzy]
GO

# [FK_CtiDzialPRC_CtiDzial]

In [0]:
ALTER TABLE [dbo].[CtiDzialPRC]  WITH CHECK ADD  CONSTRAINT [FK_CtiDzialPRC_CtiDzial] FOREIGN KEY([DzP_CDZID])
REFERENCES [dbo].[CtiDzial] ([CDZ_ID])
GO
ALTER TABLE [dbo].[CtiDzialPRC] CHECK CONSTRAINT [FK_CtiDzialPRC_CtiDzial]
GO

# [FK_CtiExcelElem_CtiExcelHeader]

In [0]:
ALTER TABLE [dbo].[CtiExcelElem]  WITH CHECK ADD  CONSTRAINT [FK_CtiExcelElem_CtiExcelHeader] FOREIGN KEY([CEE_CEHID])
REFERENCES [dbo].[CtiExcelHeader] ([CEH_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CtiExcelElem] CHECK CONSTRAINT [FK_CtiExcelElem_CtiExcelHeader]
GO

# [FK_CtiExcelRow_CtiExcelStopCondition]

In [0]:
ALTER TABLE [dbo].[CtiExcelRow]  WITH CHECK ADD  CONSTRAINT [FK_CtiExcelRow_CtiExcelStopCondition] FOREIGN KEY([CER_CESCID])
REFERENCES [dbo].[CtiExcelStopCondition] ([CESC_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CtiExcelRow] CHECK CONSTRAINT [FK_CtiExcelRow_CtiExcelStopCondition]
GO

# [FK_CtiExcelStopCondition_CtiExcelHeader]

In [0]:
ALTER TABLE [dbo].[CtiExcelStopCondition]  WITH CHECK ADD  CONSTRAINT [FK_CtiExcelStopCondition_CtiExcelHeader] FOREIGN KEY([CESC_CEHID])
REFERENCES [dbo].[CtiExcelHeader] ([CEH_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CtiExcelStopCondition] CHECK CONSTRAINT [FK_CtiExcelStopCondition_CtiExcelHeader]
GO

# [FK_CtiKonfigSesja_CtiOperatorzy]

In [0]:
ALTER TABLE [dbo].[CtiKonfigSesja]  WITH CHECK ADD  CONSTRAINT [FK_CtiKonfigSesja_CtiOperatorzy] FOREIGN KEY([KnS_COId])
REFERENCES [dbo].[CtiOperatorzy] ([CO_ID])
GO
ALTER TABLE [dbo].[CtiKonfigSesja] CHECK CONSTRAINT [FK_CtiKonfigSesja_CtiOperatorzy]
GO

# [Fk_CtiMaszyna]

In [0]:
ALTER TABLE [dbo].[CtiMaszyna]  WITH CHECK ADD  CONSTRAINT [Fk_CtiMaszyna] FOREIGN KEY([Mas_DokID])
REFERENCES [dbo].[CtiZlecenieNag] ([CZN_ID])
GO
ALTER TABLE [dbo].[CtiMaszyna] CHECK CONSTRAINT [Fk_CtiMaszyna]
GO

# [Fk_CtiMaszyna_0]

In [0]:
ALTER TABLE [dbo].[CtiMaszyna]  WITH CHECK ADD  CONSTRAINT [Fk_CtiMaszyna_0] FOREIGN KEY([Mas_DokElemID])
REFERENCES [dbo].[CtiZlecenieElem] ([CZE_ID])
GO
ALTER TABLE [dbo].[CtiMaszyna] CHECK CONSTRAINT [Fk_CtiMaszyna_0]
GO

# [Fk_CtiMaszynaRealizacja]

In [0]:
ALTER TABLE [dbo].[CtiMaszynaRealizacja]  WITH CHECK ADD  CONSTRAINT [Fk_CtiMaszynaRealizacja] FOREIGN KEY([Mar_MasID])
REFERENCES [dbo].[CtiMaszyna] ([Mas_ID])
GO
ALTER TABLE [dbo].[CtiMaszynaRealizacja] CHECK CONSTRAINT [Fk_CtiMaszynaRealizacja]
GO

# [Fk_CtiMaszynaZasoby]

In [0]:
ALTER TABLE [dbo].[CtiMaszynaZasoby]  WITH CHECK ADD  CONSTRAINT [Fk_CtiMaszynaZasoby] FOREIGN KEY([Maz_CZSID])
REFERENCES [dbo].[CtiZasobDok] ([CZS_ID])
GO
ALTER TABLE [dbo].[CtiMaszynaZasoby] CHECK CONSTRAINT [Fk_CtiMaszynaZasoby]
GO

# [Fk_CtiMaszynaZasoby_0]

In [0]:
ALTER TABLE [dbo].[CtiMaszynaZasoby]  WITH CHECK ADD  CONSTRAINT [Fk_CtiMaszynaZasoby_0] FOREIGN KEY([Maz_CZNID])
REFERENCES [dbo].[CtiZlecenieNag] ([CZN_ID])
GO
ALTER TABLE [dbo].[CtiMaszynaZasoby] CHECK CONSTRAINT [Fk_CtiMaszynaZasoby_0]
GO

# [FK_CtiMontazDok_CtiMontazHist]

In [0]:
ALTER TABLE [dbo].[CtiMontazDok]  WITH CHECK ADD  CONSTRAINT [FK_CtiMontazDok_CtiMontazHist] FOREIGN KEY([CMD_CMHId])
REFERENCES [dbo].[CtiMontazHist] ([CMH_ID])
GO
ALTER TABLE [dbo].[CtiMontazDok] CHECK CONSTRAINT [FK_CtiMontazDok_CtiMontazHist]
GO

# [FK_CtiOperatorSQLFilter_CtiOperatorzy]

In [0]:
ALTER TABLE [dbo].[CtiOperatorSQLFilter]  WITH CHECK ADD  CONSTRAINT [FK_CtiOperatorSQLFilter_CtiOperatorzy] FOREIGN KEY([COSF_OPID])
REFERENCES [dbo].[CtiOperatorzy] ([CO_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CtiOperatorSQLFilter] CHECK CONSTRAINT [FK_CtiOperatorSQLFilter_CtiOperatorzy]
GO

# [FK_CtiProdukcjaFunkcjaDodatkowa_Funkcja_MiejsceWywolania_Funkcja]

In [0]:
ALTER TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowaFunkcjaMiejsceWywolania]  WITH CHECK ADD  CONSTRAINT [FK_CtiProdukcjaFunkcjaDodatkowa_Funkcja_MiejsceWywolania_Funkcja] FOREIGN KEY([CPFD_ID])
REFERENCES [dbo].[CtiProdukcjaFunkcjaDodatkowa] ([CPFD_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowaFunkcjaMiejsceWywolania] CHECK CONSTRAINT [FK_CtiProdukcjaFunkcjaDodatkowa_Funkcja_MiejsceWywolania_Funkcja]
GO

# [FK_CtiProdukcjaFunkcjaDodatkowa_Funkcja_MiejsceWywolania_MiejsceWywolania]

In [0]:
ALTER TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowaFunkcjaMiejsceWywolania]  WITH CHECK ADD  CONSTRAINT [FK_CtiProdukcjaFunkcjaDodatkowa_Funkcja_MiejsceWywolania_MiejsceWywolania] FOREIGN KEY([CPFDMW_ID])
REFERENCES [dbo].[CtiProdukcjaFunkcjaDodatkowaMiejsceWywolania] ([CPFDMW_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowaFunkcjaMiejsceWywolania] CHECK CONSTRAINT [FK_CtiProdukcjaFunkcjaDodatkowa_Funkcja_MiejsceWywolania_MiejsceWywolania]
GO

# [FK_CtiProdukcjaFunkcjaDodatkowa_Funkcja_Parametr_Funkcja]

In [0]:
ALTER TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowaFunkcjaParametr]  WITH CHECK ADD  CONSTRAINT [FK_CtiProdukcjaFunkcjaDodatkowa_Funkcja_Parametr_Funkcja] FOREIGN KEY([CPFD_ID])
REFERENCES [dbo].[CtiProdukcjaFunkcjaDodatkowa] ([CPFD_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowaFunkcjaParametr] CHECK CONSTRAINT [FK_CtiProdukcjaFunkcjaDodatkowa_Funkcja_Parametr_Funkcja]
GO

# [FK_CtiProdukcjaFunkcjaDodatkowa_Funkcja_Parametr_Parametr]

In [0]:
ALTER TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowaFunkcjaParametr]  WITH CHECK ADD  CONSTRAINT [FK_CtiProdukcjaFunkcjaDodatkowa_Funkcja_Parametr_Parametr] FOREIGN KEY([CPFDP_ID])
REFERENCES [dbo].[CtiProdukcjaFunkcjaDodatkowaParametr] ([CPFDP_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CtiProdukcjaFunkcjaDodatkowaFunkcjaParametr] CHECK CONSTRAINT [FK_CtiProdukcjaFunkcjaDodatkowa_Funkcja_Parametr_Parametr]
GO

# [FK_CtiProdukcjaStatusROElem_TraElem]

In [0]:
ALTER TABLE [dbo].[CtiProdukcjaStatusROElem]  WITH CHECK ADD  CONSTRAINT [FK_CtiProdukcjaStatusROElem_TraElem] FOREIGN KEY([CPSRE_TreID])
REFERENCES [CDN].[TraElem] ([TrE_TrEID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CtiProdukcjaStatusROElem] CHECK CONSTRAINT [FK_CtiProdukcjaStatusROElem_TraElem]
GO

# [FK_CtiProdWydanieElem_CtiProdWydanieNag]

In [0]:
ALTER TABLE [dbo].[CtiProdWydanieElem]  WITH CHECK ADD  CONSTRAINT [FK_CtiProdWydanieElem_CtiProdWydanieNag] FOREIGN KEY([CWE_CWNId])
REFERENCES [dbo].[CtiProdWydanieNag] ([CWN_ID])
GO
ALTER TABLE [dbo].[CtiProdWydanieElem] CHECK CONSTRAINT [FK_CtiProdWydanieElem_CtiProdWydanieNag]
GO

# [FK_CtiProdWydanieNag_CtiOperatorzy]

In [0]:
ALTER TABLE [dbo].[CtiProdWydanieNag]  WITH CHECK ADD  CONSTRAINT [FK_CtiProdWydanieNag_CtiOperatorzy] FOREIGN KEY([CWN_OpeWystaw])
REFERENCES [dbo].[CtiOperatorzy] ([CO_ID])
GO
ALTER TABLE [dbo].[CtiProdWydanieNag] CHECK CONSTRAINT [FK_CtiProdWydanieNag_CtiOperatorzy]
GO

# [FK_CtiProdWydanieNag_CtiOperatorzy1]

In [0]:
ALTER TABLE [dbo].[CtiProdWydanieNag]  WITH CHECK ADD  CONSTRAINT [FK_CtiProdWydanieNag_CtiOperatorzy1] FOREIGN KEY([CWN_OperModyf])
REFERENCES [dbo].[CtiOperatorzy] ([CO_ID])
GO
ALTER TABLE [dbo].[CtiProdWydanieNag] CHECK CONSTRAINT [FK_CtiProdWydanieNag_CtiOperatorzy1]
GO

# [FK_CtiProdWydaniePoz_CtiProdWydanieElem]

In [0]:
ALTER TABLE [dbo].[CtiProdWydaniePoz]  WITH CHECK ADD  CONSTRAINT [FK_CtiProdWydaniePoz_CtiProdWydanieElem] FOREIGN KEY([CWP_CWEId])
REFERENCES [dbo].[CtiProdWydanieElem] ([CWE_ID])
GO
ALTER TABLE [dbo].[CtiProdWydaniePoz] CHECK CONSTRAINT [FK_CtiProdWydaniePoz_CtiProdWydanieElem]
GO

# [FK_CtiProdWydaniePoz_CtiProdWydanieNag]

In [0]:
ALTER TABLE [dbo].[CtiProdWydaniePoz]  WITH CHECK ADD  CONSTRAINT [FK_CtiProdWydaniePoz_CtiProdWydanieNag] FOREIGN KEY([CWP_CWNId])
REFERENCES [dbo].[CtiProdWydanieNag] ([CWN_ID])
GO
ALTER TABLE [dbo].[CtiProdWydaniePoz] CHECK CONSTRAINT [FK_CtiProdWydaniePoz_CtiProdWydanieNag]
GO

# [FK_CtiTechnolDomyslna_CtiTechnolNag]

In [0]:
ALTER TABLE [dbo].[CtiTechnolDomyslna]  WITH CHECK ADD  CONSTRAINT [FK_CtiTechnolDomyslna_CtiTechnolNag] FOREIGN KEY([CTD_ID])
REFERENCES [dbo].[CtiTechnolNag] ([CTN_ID])
GO
ALTER TABLE [dbo].[CtiTechnolDomyslna] CHECK CONSTRAINT [FK_CtiTechnolDomyslna_CtiTechnolNag]
GO

# [FK_CtiTechnolElem_CtiTechnolNag]

In [0]:
ALTER TABLE [dbo].[CtiTechnolElem]  WITH CHECK ADD  CONSTRAINT [FK_CtiTechnolElem_CtiTechnolNag] FOREIGN KEY([CTE_CTNId])
REFERENCES [dbo].[CtiTechnolNag] ([CTN_ID])
GO
ALTER TABLE [dbo].[CtiTechnolElem] CHECK CONSTRAINT [FK_CtiTechnolElem_CtiTechnolNag]
GO

# [FK_CtiTechnolNag_CtiOperatorzy]

In [0]:
ALTER TABLE [dbo].[CtiTechnolNag]  WITH CHECK ADD  CONSTRAINT [FK_CtiTechnolNag_CtiOperatorzy] FOREIGN KEY([CTN_OpeWystaw])
REFERENCES [dbo].[CtiOperatorzy] ([CO_ID])
GO
ALTER TABLE [dbo].[CtiTechnolNag] CHECK CONSTRAINT [FK_CtiTechnolNag_CtiOperatorzy]
GO

# [FK_CtiTechnolNag_CtiOperatorzy1]

In [0]:
ALTER TABLE [dbo].[CtiTechnolNag]  WITH CHECK ADD  CONSTRAINT [FK_CtiTechnolNag_CtiOperatorzy1] FOREIGN KEY([CTN_OperModyf])
REFERENCES [dbo].[CtiOperatorzy] ([CO_ID])
GO
ALTER TABLE [dbo].[CtiTechnolNag] CHECK CONSTRAINT [FK_CtiTechnolNag_CtiOperatorzy1]
GO

# [FK_CtiTechnolNag_CtiZlecenieNag]

In [0]:
ALTER TABLE [dbo].[CtiTechnolNag]  WITH CHECK ADD  CONSTRAINT [FK_CtiTechnolNag_CtiZlecenieNag] FOREIGN KEY([CTN_ZpZrodloweID])
REFERENCES [dbo].[CtiZlecenieNag] ([CZN_ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CtiTechnolNag] CHECK CONSTRAINT [FK_CtiTechnolNag_CtiZlecenieNag]
GO

# [FK_CtiTechnolZElem_CtiTechnolZNag]

In [0]:
ALTER TABLE [dbo].[CtiTechnolZElem]  WITH CHECK ADD  CONSTRAINT [FK_CtiTechnolZElem_CtiTechnolZNag] FOREIGN KEY([CTZE_CTZNID])
REFERENCES [dbo].[CtiTechnolZNag] ([CTZN_ID])
GO
ALTER TABLE [dbo].[CtiTechnolZElem] CHECK CONSTRAINT [FK_CtiTechnolZElem_CtiTechnolZNag]
GO

# [FK_CtiTechnolZNag_CtiOperatorzy]

In [0]:
ALTER TABLE [dbo].[CtiTechnolZNag]  WITH CHECK ADD  CONSTRAINT [FK_CtiTechnolZNag_CtiOperatorzy] FOREIGN KEY([CTZN_OpeWystaw])
REFERENCES [dbo].[CtiOperatorzy] ([CO_ID])
GO
ALTER TABLE [dbo].[CtiTechnolZNag] CHECK CONSTRAINT [FK_CtiTechnolZNag_CtiOperatorzy]
GO

# [FK_CtiTechnolZNag_CtiOperatorzy1]

In [0]:
ALTER TABLE [dbo].[CtiTechnolZNag]  WITH CHECK ADD  CONSTRAINT [FK_CtiTechnolZNag_CtiOperatorzy1] FOREIGN KEY([CTZN_OperModyf])
REFERENCES [dbo].[CtiOperatorzy] ([CO_ID])
GO
ALTER TABLE [dbo].[CtiTechnolZNag] CHECK CONSTRAINT [FK_CtiTechnolZNag_CtiOperatorzy1]
GO

# [FK_CtiTowary_Towary]

In [0]:
ALTER TABLE [dbo].[CtiTowary]  WITH CHECK ADD  CONSTRAINT [FK_CtiTowary_Towary] FOREIGN KEY([CTwr_TwrId])
REFERENCES [CDN].[Towary] ([Twr_TwrId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CtiTowary] CHECK CONSTRAINT [FK_CtiTowary_Towary]
GO

# [FK_CtiZasob_CtiZasobGrupy]

In [0]:
ALTER TABLE [dbo].[CtiZasob]  WITH CHECK ADD  CONSTRAINT [FK_CtiZasob_CtiZasobGrupy] FOREIGN KEY([CZ_CZGID])
REFERENCES [dbo].[CtiZasobGrupy] ([CZG_ID])
GO
ALTER TABLE [dbo].[CtiZasob] CHECK CONSTRAINT [FK_CtiZasob_CtiZasobGrupy]
GO

# [FK_CtiZasobDok_CtiZasob]

In [0]:
ALTER TABLE [dbo].[CtiZasobDok]  WITH CHECK ADD  CONSTRAINT [FK_CtiZasobDok_CtiZasob] FOREIGN KEY([CZS_CZID])
REFERENCES [dbo].[CtiZasob] ([CZ_ID])
GO
ALTER TABLE [dbo].[CtiZasobDok] CHECK CONSTRAINT [FK_CtiZasobDok_CtiZasob]
GO

# [FK_CtiZasobDostepny_CtiZasob]

In [0]:
ALTER TABLE [dbo].[CtiZasobDostepny]  WITH CHECK ADD  CONSTRAINT [FK_CtiZasobDostepny_CtiZasob] FOREIGN KEY([ZsD_CZID])
REFERENCES [dbo].[CtiZasob] ([CZ_ID])
GO
ALTER TABLE [dbo].[CtiZasobDostepny] CHECK CONSTRAINT [FK_CtiZasobDostepny_CtiZasob]
GO

# [FK_CtiZasobRelacje1_CtiZasobDok]

In [0]:
ALTER TABLE [dbo].[CtiZasobRelacje]  WITH CHECK ADD  CONSTRAINT [FK_CtiZasobRelacje1_CtiZasobDok] FOREIGN KEY([CZR_CzsID])
REFERENCES [dbo].[CtiZasobDok] ([CZS_ID])
GO
ALTER TABLE [dbo].[CtiZasobRelacje] CHECK CONSTRAINT [FK_CtiZasobRelacje1_CtiZasobDok]
GO

# [FK_CtiZasobRelacje2_CtiZasobDok]

In [0]:
ALTER TABLE [dbo].[CtiZasobRelacje]  WITH CHECK ADD  CONSTRAINT [FK_CtiZasobRelacje2_CtiZasobDok] FOREIGN KEY([CZR_CzsID_nad])
REFERENCES [dbo].[CtiZasobDok] ([CZS_ID])
GO
ALTER TABLE [dbo].[CtiZasobRelacje] CHECK CONSTRAINT [FK_CtiZasobRelacje2_CtiZasobDok]
GO

# [FK_CtiZasobSlownik_CtiSlownikiUzytkow]

In [0]:
ALTER TABLE [dbo].[CtiZasobSlownik]  WITH CHECK ADD  CONSTRAINT [FK_CtiZasobSlownik_CtiSlownikiUzytkow] FOREIGN KEY([Szs_CsUID])
REFERENCES [dbo].[CtiSlownikiUzytkow] ([CsU_ID])
GO
ALTER TABLE [dbo].[CtiZasobSlownik] CHECK CONSTRAINT [FK_CtiZasobSlownik_CtiSlownikiUzytkow]
GO

# [FK_CtiWydanie_CtiZlecenieNag]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieDok]  WITH CHECK ADD  CONSTRAINT [FK_CtiWydanie_CtiZlecenieNag] FOREIGN KEY([CZD_CZNId])
REFERENCES [dbo].[CtiZlecenieNag] ([CZN_ID])
GO
ALTER TABLE [dbo].[CtiZlecenieDok] CHECK CONSTRAINT [FK_CtiWydanie_CtiZlecenieNag]
GO

# [FK_CtiZlecenieDok_CtiOperatorzy]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieDok]  WITH CHECK ADD  CONSTRAINT [FK_CtiZlecenieDok_CtiOperatorzy] FOREIGN KEY([CZD_OpeWyst])
REFERENCES [dbo].[CtiOperatorzy] ([CO_ID])
GO
ALTER TABLE [dbo].[CtiZlecenieDok] CHECK CONSTRAINT [FK_CtiZlecenieDok_CtiOperatorzy]
GO

# [FK_CtiZlecenieDok_CtiOperatorzy1]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieDok]  WITH CHECK ADD  CONSTRAINT [FK_CtiZlecenieDok_CtiOperatorzy1] FOREIGN KEY([CZD_OperModyf])
REFERENCES [dbo].[CtiOperatorzy] ([CO_ID])
GO
ALTER TABLE [dbo].[CtiZlecenieDok] CHECK CONSTRAINT [FK_CtiZlecenieDok_CtiOperatorzy1]
GO

# [FK_CtiZlecenieDokElem_CtiZlecenieDok]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieDokElem]  WITH CHECK ADD  CONSTRAINT [FK_CtiZlecenieDokElem_CtiZlecenieDok] FOREIGN KEY([CZE_TrnId])
REFERENCES [dbo].[CtiZlecenieDok] ([CZD_TrnId])
GO
ALTER TABLE [dbo].[CtiZlecenieDokElem] CHECK CONSTRAINT [FK_CtiZlecenieDokElem_CtiZlecenieDok]
GO

# [FK_CtiZlecenieElem_CtiZlecenieNag]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieElem]  WITH CHECK ADD  CONSTRAINT [FK_CtiZlecenieElem_CtiZlecenieNag] FOREIGN KEY([CZE_CZNId])
REFERENCES [dbo].[CtiZlecenieNag] ([CZN_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CtiZlecenieElem] CHECK CONSTRAINT [FK_CtiZlecenieElem_CtiZlecenieNag]
GO

# [FK_CtiZlecenieNag_CtiOperatorzy]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieNag]  WITH CHECK ADD  CONSTRAINT [FK_CtiZlecenieNag_CtiOperatorzy] FOREIGN KEY([CZN_OpeWystaw])
REFERENCES [dbo].[CtiOperatorzy] ([CO_ID])
GO
ALTER TABLE [dbo].[CtiZlecenieNag] CHECK CONSTRAINT [FK_CtiZlecenieNag_CtiOperatorzy]
GO

# [FK_CtiZlecenieNag_CtiOperatorzy1]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieNag]  WITH CHECK ADD  CONSTRAINT [FK_CtiZlecenieNag_CtiOperatorzy1] FOREIGN KEY([CZN_OperModyf])
REFERENCES [dbo].[CtiOperatorzy] ([CO_ID])
GO
ALTER TABLE [dbo].[CtiZlecenieNag] CHECK CONSTRAINT [FK_CtiZlecenieNag_CtiOperatorzy1]
GO

# [FK_CtiZlecenieNag_CtiTechnolNag]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieNag]  WITH CHECK ADD  CONSTRAINT [FK_CtiZlecenieNag_CtiTechnolNag] FOREIGN KEY([CZN_CTNId])
REFERENCES [dbo].[CtiTechnolNag] ([CTN_ID])
GO
ALTER TABLE [dbo].[CtiZlecenieNag] CHECK CONSTRAINT [FK_CtiZlecenieNag_CtiTechnolNag]
GO

# [FK_CtiZleceniePrc_CtiZlecenieNag]

In [0]:
ALTER TABLE [dbo].[CtiZleceniePrc]  WITH CHECK ADD  CONSTRAINT [FK_CtiZleceniePrc_CtiZlecenieNag] FOREIGN KEY([CZO_CZNId])
REFERENCES [dbo].[CtiZlecenieNag] ([CZN_ID])
GO
ALTER TABLE [dbo].[CtiZleceniePrc] CHECK CONSTRAINT [FK_CtiZleceniePrc_CtiZlecenieNag]
GO

# [FK_CtiZlecenieZasob_CtiZasob]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieZasob]  WITH CHECK ADD  CONSTRAINT [FK_CtiZlecenieZasob_CtiZasob] FOREIGN KEY([ZZs_CZID])
REFERENCES [dbo].[CtiZasob] ([CZ_ID])
GO
ALTER TABLE [dbo].[CtiZlecenieZasob] CHECK CONSTRAINT [FK_CtiZlecenieZasob_CtiZasob]
GO

# [FK_CtiZlecenieZElem_CtiZlecenieZNag]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieZElem]  WITH CHECK ADD  CONSTRAINT [FK_CtiZlecenieZElem_CtiZlecenieZNag] FOREIGN KEY([CZZE_CZZNID])
REFERENCES [dbo].[CtiZlecenieZNag] ([CZZN_ID])
GO
ALTER TABLE [dbo].[CtiZlecenieZElem] CHECK CONSTRAINT [FK_CtiZlecenieZElem_CtiZlecenieZNag]
GO

# [FK_CtiZlecenieZNag_CtiOperatorzy]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieZNag]  WITH CHECK ADD  CONSTRAINT [FK_CtiZlecenieZNag_CtiOperatorzy] FOREIGN KEY([CZZN_OpeWystaw])
REFERENCES [dbo].[CtiOperatorzy] ([CO_ID])
GO
ALTER TABLE [dbo].[CtiZlecenieZNag] CHECK CONSTRAINT [FK_CtiZlecenieZNag_CtiOperatorzy]
GO

# [FK_CtiZlecenieZNag_CtiOperatorzy1]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieZNag]  WITH CHECK ADD  CONSTRAINT [FK_CtiZlecenieZNag_CtiOperatorzy1] FOREIGN KEY([CZZN_OperModyf])
REFERENCES [dbo].[CtiOperatorzy] ([CO_ID])
GO
ALTER TABLE [dbo].[CtiZlecenieZNag] CHECK CONSTRAINT [FK_CtiZlecenieZNag_CtiOperatorzy1]
GO

# [FK_CtiZlecenieZNag_CtiTechnolZNag]

In [0]:
ALTER TABLE [dbo].[CtiZlecenieZNag]  WITH CHECK ADD  CONSTRAINT [FK_CtiZlecenieZNag_CtiTechnolZNag] FOREIGN KEY([CZZN_CTZNId])
REFERENCES [dbo].[CtiTechnolZNag] ([CTZN_ID])
GO
ALTER TABLE [dbo].[CtiZlecenieZNag] CHECK CONSTRAINT [FK_CtiZlecenieZNag_CtiTechnolZNag]
GO

# [dbo].[CTIProdukcjaAtrybutyElemAddEdit]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaAtrybutyElemAddEdit]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaAtrybutyElemAddEdit]
 @CAETypDok int,
 @CAEIdDok  int,
 @CAECANLp  int,
 @CAEWartosc varchar(250)
AS
BEGIN
	--jeżeli jest zapis to tylko aktualizuj
	if exists (select * from dbo.CtiAtrybutyElem 
	where CAE_TypDok = @CAETypDok and CAE_IdDok = @CAEIdDok and  CAE_CANLp = @CAECANLp)
	begin
		update dbo.CtiAtrybutyElem set CAE_Wartosc = @CAEWartosc
		where CAE_TypDok = @CAETypDok and CAE_IdDok = @CAEIdDok and  CAE_CANLp = @CAECANLp
	end
	else--jezeli nie ma to pobierz z konfiguracji (tylko przy TH) i zapisz wartość
	begin
		if @CAEWartosc <> ''
		begin

			declare @CAHID int = 0
			SELECT top 1 @CAHID = CAH_ID FROM  dbo.CtiAtrybutyElemHist INNER JOIN CtiAtrybutyNag
				ON CAH_Nazwa = CAN_Nazwa and CAH_Domysla = CAN_Domysla and CAH_TypMaski = CAN_TypMaski 
				and CAH_Maska =  CAN_Maska
			where  CAN_Lp =@CAECANLp

			if @CAHID = 0
			begin
				insert into dbo.CtiAtrybutyElemHist (  CAH_Nazwa, CAH_Domysla, CAH_TypMaski, CAH_Maska)
				SELECT distinct CAN_Nazwa,  CAN_Domysla, CAN_TypMaski, CAN_Maska
				FROM dbo.CtiAtrybutyNag where CAN_Lp = @CAECANLp
				Select @CAHID = SCOPE_IDENTITY() 
			end

			insert into dbo.CtiAtrybutyElem (CAE_TypDok, CAE_IdDok, CAE_CANLp, CAE_Typ,CAE_Wartosc,CAE_CAHid)
			select @CAETypDok, @CAEIdDok, CAN_Lp, CAN_Typ,@CAEWartosc, @CAHID
			FROM dbo.CtiAtrybutyNag where CAN_Lp = @CAECANLp
		end
	end
END
GO

# [dbo].[CTIProdukcjaBrakiAddEdit]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaBrakiAddEdit]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaBrakiAddEdit]
@id int,
@Ope int,
@Status int,
@opis nvarchar(254),
@Typ int,
@DataRealizacji datetime = null
AS
BEGIN
declare @numer int = 0
declare @miesiac int =month(GETDATE())
declare @rok int =  year(GETDATE())
declare @nrpelny varchar(20) =''
declare @Seria varchar(5) = ''

select @numer = isnull(Max(CBN_Numer),0)+1  from dbo.CtiBrakiNag
where CBN_Rok = @rok --and isnull(CBN_Seria,'') = '' and CBN_Miesiac = @miesiac --tylko rok
select  @nrpelny='BR/'+cast(replace(str(@numer,5),' ','0')as char(5)) +'/'+cast(@rok as varchar(4))

	if @id = 0
	begin
	INSERT INTO dbo.CtiBrakiNag
		(CBN_Numer,CBN_Miesiac,CBN_Rok,CBN_Seria,  CBN_OpeWystaw, CBN_DataWystaw, CBN_OperModyf, CBN_DataModyf, CBN_Status,CBN_NrPelny,CBN_Opis,CBN_Typ, CBN_DataRealizacji)
		VALUES (@numer,@miesiac,@rok,@Seria,@Ope,GETDATE(),@Ope,GETDATE(),@Status,@nrpelny,@opis,@Typ,@DataRealizacji)
		Select SCOPE_IDENTITY() as ID 
	end
if @id > 0
	begin
		UPDATE dbo.CtiBrakiNag SET	
		CBN_OperModyf =@Ope,
		CBN_Status = @Status,
		CBN_DataModyf = GETDATE(),
		CBN_DataRealizacji = @DataRealizacji,
		CBN_Opis=@opis WHERE CBN_ID =@id
	end

END
GO

# [dbo].[CTIProdukcjaBrakiElemAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaBrakiElemAdd]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaBrakiElemAdd]
@id int,
@twrId int,
@ilosc decimal(15,4),
@dostawcaId int
AS
BEGIN
	INSERT INTO [dbo].[CtiBrakiElem] ([CBE_CBNId],[CBE_TwrId],[CBE_Ilosc],[CBE_CZNID],[CBE_DostawcaID])
     VALUES(@id,@twrId,@ilosc,0,@dostawcaId)
END

GO

# [dbo].[CTIProdukcjaBrakiSurowca]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaBrakiSurowca]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE  [dbo].[CTIProdukcjaBrakiSurowca]   
@status int , @status2 int,@magazyn varchar(20), @ZPid int, @SurowiecId int, @ZPZid int,@typ int, @data varchar(20)
--typ 0
--konkretny surowiec @SurowiecId, @status = 0 , @status2 = 1,@magazyn = mag surowców operatora 
--typ 1
--zlecenie złozone
--typ 2
--zlecenie złożone braki - suma towarów bez info który numer zlecenia
--typ 3
--suma towarów bez info który numer zlecenia - braki
--typ 4
--zlecenie produkcyjne @ZPid, @status = 0 , @status2 = 1,@magazyn = mag surowców operatora
AS 
declare @magId int = 0 select @magId =mag_magid from cdn.magazyny where mag_symbol = @magazyn

declare @status3 int = 3
if (@typ = 1 or @typ = 4)
begin	set  @status3  = 3 end
else
begin	set  @status3  = @status end 

declare @statusGlowny int = 4
if (@typ = 1 or @typ = 4)
begin	set  @statusGlowny  = 4  end-- mniejsze od anulowanego
else
begin	set  @statusGlowny  = 3  end-- mniejsze od wydanego, zakończonego
 


declare @dataD datetime =convert(datetime, @data,120)

CREATE TABLE #WydaniaList (CZNId int, TwrId Int, Ilosc decimal(15,4), IloscZrealizowana decimal(15,4), IloscNaMagazynie decimal(15,4))

	--lista towarow z technologii dodanie do tabeli
		insert 	into #WydaniaList (CZNId, TwrId , Ilosc,IloscZrealizowana,IloscNaMagazynie)			
			select CZNId, TwrId, Ilosc,0,0 from
			(	select CZN_Id as CZNId, CZE_TwrId As TwrId,sum(CZE_ilosc) as Ilosc  
				from dbo.CtiZlecenieNag 
				INNER JOIN  dbo.CtiZlecenieElem on CZE_CZNId = CZN_ID and CZE_Typ in (1,2) --tylko surowce z cechą i surowce
				where
				1 = 1
				and (dbo.CTIProdukcjaStatusy(23, CZN_ID)<@statusGlowny)
				
				and (
					replace( dbo.CTIProdukcjaStatusy(2, CZN_ID) ,'2','1') in (@status,@status2,@status3)
				)
				and ((@ZPid = 0 and CZN_Id = CZN_Id) or  (@ZPid <> 0 and CZN_Id = @ZPid))--zlecenie
				and ((@SurowiecId = 0 and CZE_TwrId=CZE_TwrId) or (@SurowiecId <> 0 and CZE_TwrId = @SurowiecId))--surowiec
				group by CZE_TwrId,CZN_Id
			) e



--	aktualizacjia ilosci, po tym co juz zostało rozchodowane w ramach zlecenia (dok RW)		 --RW nie anulowane minus korekta 

		update #WydaniaList set IloscZrealizowana = Ilosc2  
		from
		(
				select  CZD_CZNId,TwrId2, cast(SUM(Ilosc )as decimal(15,4)) as Ilosc2
				from
				(
					select 
						CZD_CZNId as CZD_CZNId
						, e.TrE_TwrId as TwrId2
						, sum(isnull(e.tre_ilosc,0)+isnull(e2.tre_ilosc,0)) as Ilosc
					from CtiZlecenieDok 
						INNER JOIN CtiZlecenieNag ON CZD_CZNId = CZN_ID 
						INNER JOIN CDN.TraNag a ON CZD_TrnId = a.TrN_TrNID 
						INNER JOIN cdn.TraElem e on a.trn_trnid = e.TrE_TrNId
						LEFT JOIN CDN.TraNag a2 ON a.TrN_TrNID= isnull(a2.TrN_ZwrId,0) and isnull(a2.TrN_Rodzaj,0) = 304001
						LEFT JOIN cdn.TraElem e2 on isnull(a2.trn_trnid,0) = isnull(e2.TrE_TrNId,0) and e.TrE_TreId = isnull(e2.TrE_ZwrId,0) 
					where czd_typ = 5 and a.TrN_TypDokumentu = 304  and a.trn_anulowany = 0 
						--zlecenia potwierdzone i nie potwierdzone ale nie zamknete i nie wydane
						and dbo.CTIProdukcjaStatusy(23, CZD_CZNId)<@statusGlowny
						--and dbo.CTIProdukcjaStatusy(2, CZD_CZNId) < 3
						and	
						( replace( dbo.CTIProdukcjaStatusy(2, CZN_ID) ,'2','1') in (@status,@status2,@status3)
						)
						and ((@ZPid = 0 and CZD_CZNId = CZD_CZNId) or  (@ZPid <> 0 and CZD_CZNId = @ZPid))
					group by CZD_CZNId, e.TrE_TwrId
					having sum(isnull(e.tre_ilosc,0)+isnull(e2.tre_ilosc,0)) > 0

				) a
				group by TwrId2,CZD_CZNId
		)c
		where c.TwrId2 = TwrId
		and CZNId = c.CZD_CZNId




	--jakie towary z potrzebnych są na magazynie w jakich ilościach
	update #WydaniaList set IloscNaMagazynie = Ilosc2
		from
		(
			--SELECT  isnull(sum(isnull(c.ilosc,0)),0) as Ilosc2,b.TwrId as TwrId2,b.CZNId as CZNId2
			--FROM 
			--#WydaniaList b
			--cross apply  [CDN].[fnTwrDost](b.TwrId) c where isnull(c.ilosc,0) > 0
			--and (@magazyn = '' and Mag1 = Mag1) or  (@magazyn <> '' and Mag1 = @magazyn)
			--group by b.TwrId,b.CZNId

			
			SELECT  isnull(sum(isnull(isnull(b.TwI_Ilosc, 0),0)),0) as Ilosc2,a.TwrId as TwrId2,a.CZNId as CZNId2
			FROM #WydaniaList a
				INNER JOIN CDN.TwrIlosci B ON B.TwI_TwIId = 
					(SELECT TOP 1 IL.TwI_TwIId From CDN.TwrIlosci IL Where IL.TwI_TwrId = a.TwrId and ((@magId = '' and TwI_MagId = TwI_MagId) or  (@magId <> '' and TwI_MagId = @magId)) And IL.TwI_Data <= Convert(DATETIME,@dataD,120) ORDER BY IL.TwI_Data DESC)  
			group by a.TwrId,a.CZNId
		)g
		where g.TwrId2 = TwrId and g.CZNId2 = CZNId



if (@typ = 0)
begin		
	--select tabeli tymczasowej z id towaru suma ilości kodem nazwą i jednostką
	SELECT
		TwrId as ID, twr_kod as Kod, replace(Twr_Nazwa,char(10), ' ')  as Nazwa, --towar
		CZN_Id as CZNId,CZN_NrPelny as CZNNrPelny, --zlecenie
		Ilosc,IloscZrealizowana,
		case when (Ilosc-IloscZrealizowana) < 0 then 0 else Ilosc-IloscZrealizowana end  as IloscDoRealizacji,
		IloscNaMagazynie, 
		--case when (Ilosc-IloscZrealizowana) < 0 then 0 else 
		--case when (Ilosc-IloscZrealizowana)-IloscNaMagazynie <0 then 0 else(Ilosc-IloscZrealizowana)-IloscNaMagazynie end
		--end  as braki
		case when (Ilosc - IloscZrealizowana - IloscNaMagazynie - ISNULL((SELECT SUM(CZN_Ilosc) FROM dbo.CtiZlecenieNag WHERE CZN_TwrId = TwrId AND CZN_Status IN (1,2)), 0)) < 0 then 0
		else (Ilosc - IloscZrealizowana - IloscNaMagazynie - ISNULL((SELECT SUM(CZN_Ilosc) FROM dbo.CtiZlecenieNag WHERE CZN_TwrId = TwrId AND CZN_Status IN (1,2)), 0)) end as braki
		,ISNULL((SELECT SUM(CZN_Ilosc) FROM dbo.CtiZlecenieNag WHERE CZN_TwrId = TwrId AND CZN_Status IN (1,2)), 0) AS IloscNaZleceniach
		,@magazyn as Magazyn, dbo.CTIProdukcjaStatusy(2, CZN_ID) AS Status,
		Twr_JM as Jm, isnull(CZZE_CZZNID,0) as CZZNID, isnull(CZZN_NrPelny,'') as CZZNNrPelny
	 FROM #WydaniaList
		INNER JOIN cdn.towary on TwrId = twr_twrid 
		INNER JOIN dbo.CtiZlecenieNag on CZN_Id = CZNId
		LEFT JOIN dbo.CtiZlecenieZElem on CZN_Id = CZZE_CZNID
		LEFT JOIN dbo.CtiZlecenieZNag on CZZE_CZZNID = CZZN_ID
	where (Ilosc-IloscZrealizowana) > 0
	order by CZN_Id,twr_kod
end
else if (@typ = 1)
begin
	SELECT
		TwrId as ID, twr_kod as Kod, replace(Twr_Nazwa,char(10), ' ')  as Nazwa, --towar
		CZN_Id as CZNId,CZN_NrPelny as CZNNrPelny, --zlecenie
		Ilosc,IloscZrealizowana,
		case when (Ilosc-IloscZrealizowana) < 0 then 0 else Ilosc-IloscZrealizowana end  as IloscDoRealizacji,
		IloscNaMagazynie, 
		--case when (Ilosc-IloscZrealizowana) < 0 then 0 else 
		--case when (Ilosc-IloscZrealizowana)-IloscNaMagazynie <0 then 0 else(Ilosc-IloscZrealizowana)-IloscNaMagazynie end
		--end  as braki
		case when (Ilosc - IloscZrealizowana - IloscNaMagazynie - ISNULL((SELECT SUM(CZN_Ilosc) FROM dbo.CtiZlecenieNag WHERE CZN_TwrId = TwrId AND CZN_Status IN (1,2)), 0)) < 0 then 0
		else (Ilosc - IloscZrealizowana - IloscNaMagazynie - ISNULL((SELECT SUM(CZN_Ilosc) FROM dbo.CtiZlecenieNag WHERE CZN_TwrId = TwrId AND CZN_Status IN (1,2)), 0)) end as braki
		,ISNULL((SELECT SUM(CZN_Ilosc) FROM dbo.CtiZlecenieNag WHERE CZN_TwrId = TwrId AND CZN_Status IN (1,2)), 0) AS IloscNaZleceniach
		,@magazyn as Magazyn, dbo.CTIProdukcjaStatusy(2, CZN_ID) AS Status,
		Twr_JM as Jm, isnull(CZZE_CZZNID,0) as CZZNID, isnull(CZZN_NrPelny,'') as CZZNNrPelny
	FROM #WydaniaList
		INNER JOIN cdn.towary on TwrId = twr_twrid --where Ilosc > 0
		INNER JOIN dbo.CtiZlecenieNag on CZN_Id = CZNId
		INNER JOIN dbo.CtiZlecenieZElem on CZN_Id = CZZE_CZNID
		INNER JOIN dbo.CtiZlecenieZNag on CZZE_CZZNID = CZZN_ID
	where CZZE_CZZNID = @ZPZid
	order by CZN_Id,twr_kod
end
else if (@typ = 3)
begin
	SELECT
		TwrId as ID, twr_kod as Kod, replace(Twr_Nazwa,char(10), ' ')  as Nazwa, --towar
		0 as CZNId,'' as CZNNrPelny, --zlecenie
		sum(Ilosc) as Ilosc,sum(IloscZrealizowana) as IloscZrealizowana,
		sum(case when (Ilosc-IloscZrealizowana) < 0 then 0 else Ilosc-IloscZrealizowana end)  as IloscDoRealizacji,
		IloscNaMagazynie, 
		--sum(case when (Ilosc-IloscZrealizowana) < 0 then 0 else Ilosc-IloscZrealizowana end)  -isnull(IloscNaMagazynie, 0) -isnull(TwI_Zamowienia, 0) as braki,
		sum(case when (Ilosc-IloscZrealizowana) < 0 then 0 else Ilosc-IloscZrealizowana end)  -isnull(IloscNaMagazynie, 0) -isnull(TwI_Zamowienia, 0) -ISNULL((SELECT SUM(CZN_Ilosc) FROM dbo.CtiZlecenieNag WHERE CZN_TwrId = TwrId AND CZN_Status IN (1,2)), 0) as braki,
		ISNULL((SELECT SUM(CZN_Ilosc) FROM dbo.CtiZlecenieNag WHERE CZN_TwrId = TwrId AND CZN_Status IN (1,2)), 0) AS IloscNaZleceniach

		,@magazyn as Magazyn, 0 AS Status,
		Twr_JM as Jm, 0 as CZZNID, '' as CZZNNrPelny
		--,isnull(TwI_Ilosc, 0) AS [TwI_Ilosc], isnull(TwI_Braki, 0) AS TwIBraki 
		,isnull(TwI_Rezerwacje, 0) AS TwIRezerwacje, isnull(TwI_Zamowienia, 0) AS TwIZamowienia 
	FROM #WydaniaList
		INNER JOIN cdn.towary A on TwrId = twr_twrid
		INNER JOIN dbo.CtiZlecenieNag on CZN_Id = CZNId
		LEFT JOIN CDN.TwrIlosci B ON B.TwI_TwIId = 
		(SELECT TOP 1 IL.TwI_TwIId From CDN.TwrIlosci IL Where IL.TwI_TwrId = A.Twr_TwrID and ((@magId = '' and TwI_MagId = TwI_MagId) or  (@magId <> '' and TwI_MagId = @magId))
		And  IL.TwI_Data <= Convert(DATETIME,CAST(FLOOR(CAST(@dataD AS FLOAT))AS DATETIME),120) ORDER BY IL.TwI_Data DESC)  
	group by TwrId,twr_kod,twr_nazwa,IloscNaMagazynie,Twr_JM
		,isnull(TwI_Rezerwacje, 0), isnull(TwI_Zamowienia, 0)
	having sum(case when (Ilosc-IloscZrealizowana) < 0 then 0 else Ilosc-IloscZrealizowana end)  -isnull(IloscNaMagazynie, 0) -isnull(TwI_Zamowienia, 0) -ISNULL((SELECT SUM(CZN_Ilosc) FROM dbo.CtiZlecenieNag WHERE CZN_TwrId = TwrId AND CZN_Status IN (1,2)), 0) >0
	order by twr_kod
end
else if (@typ = 2)
begin
	SELECT
		TwrId as ID, twr_kod as Kod, replace(Twr_Nazwa,char(10), ' ')  as Nazwa, --towar
		0 as CZNId,'' as CZNNrPelny, --zlecenie
		sum(Ilosc) as Ilosc,sum(IloscZrealizowana) as IloscZrealizowana,
		sum(case when (Ilosc-IloscZrealizowana) < 0 then 0 else Ilosc-IloscZrealizowana end)  as IloscDoRealizacji,
		IloscNaMagazynie, 
		--sum(case when (Ilosc-IloscZrealizowana) < 0 then 0 else 
		--case when (Ilosc-IloscZrealizowana)-IloscNaMagazynie <0 then 0 else(Ilosc-IloscZrealizowana)-IloscNaMagazynie end
		--end)-isnull(TwI_Zamowienia, 0)  as braki
		--sum(case when (Ilosc-IloscZrealizowana) < 0 then 0 else Ilosc-IloscZrealizowana end)  -isnull(IloscNaMagazynie, 0) -isnull(TwI_Zamowienia, 0) as braki,
		
		sum(case when (Ilosc-IloscZrealizowana) < 0 then 0 else Ilosc-IloscZrealizowana end)  -isnull(IloscNaMagazynie, 0) -isnull(TwI_Zamowienia, 0) -ISNULL((SELECT SUM(CZN_Ilosc) FROM dbo.CtiZlecenieNag WHERE CZN_TwrId = TwrId AND CZN_Status IN (1,2)), 0) as braki,
		ISNULL((SELECT SUM(CZN_Ilosc) FROM dbo.CtiZlecenieNag WHERE CZN_TwrId = TwrId AND CZN_Status IN (1,2)), 0) AS IloscNaZleceniach
		,@magazyn as Magazyn, 0 AS Status,
		Twr_JM as Jm, 0 as CZZNID, '' as CZZNNrPelny
		--,isnull(TwI_Ilosc, 0) AS [TwI_Ilosc], isnull(TwI_Braki, 0) AS TwIBraki 
		,isnull(TwI_Rezerwacje, 0) AS TwIRezerwacje, isnull(TwI_Zamowienia, 0) AS TwIZamowienia 
	FROM #WydaniaList
		INNER JOIN cdn.towary A on TwrId = twr_twrid 
		INNER JOIN dbo.CtiZlecenieNag on CZN_Id = CZNId
		INNER JOIN dbo.CtiZlecenieZElem on CZN_Id = CZZE_CZNID
		INNER JOIN dbo.CtiZlecenieZNag on CZZE_CZZNID = CZZN_ID
		LEFT JOIN CDN.TwrIlosci B ON B.TwI_TwIId = 
		(SELECT TOP 1 IL.TwI_TwIId From CDN.TwrIlosci IL Where IL.TwI_TwrId = A.Twr_TwrID and ((@magId = '' and TwI_MagId = TwI_MagId) or  (@magId <> '' and TwI_MagId = @magId))
		And  IL.TwI_Data <= Convert(DATETIME,CAST(FLOOR(CAST(@dataD AS FLOAT))AS DATETIME),120) ORDER BY IL.TwI_Data DESC)  
	where CZZE_CZZNID = @ZPZid
	group by TwrId,twr_kod,twr_nazwa,IloscNaMagazynie,Twr_JM
		,isnull(TwI_Rezerwacje, 0), isnull(TwI_Zamowienia, 0)
	having sum(case when (Ilosc-IloscZrealizowana) < 0 then 0 else Ilosc-IloscZrealizowana end)  -isnull(IloscNaMagazynie, 0) -isnull(TwI_Zamowienia, 0) -ISNULL((SELECT SUM(CZN_Ilosc) FROM dbo.CtiZlecenieNag WHERE CZN_TwrId = TwrId AND CZN_Status IN (1,2)), 0) >0
	order by twr_kod
end
else if (@typ = 4)
begin		
	--select tabeli tymczasowej z id towaru suma ilości kodem nazwą i jednostką
	SELECT
		TwrId as ID, twr_kod as Kod, replace(Twr_Nazwa,char(10), ' ')  as Nazwa, --towar
		CZN_Id as CZNId,CZN_NrPelny as CZNNrPelny, --zlecenie
		Ilosc,IloscZrealizowana,
		case when (Ilosc-IloscZrealizowana) < 0 then 0 else Ilosc-IloscZrealizowana end  as IloscDoRealizacji,
		IloscNaMagazynie, 
		--case when (Ilosc-IloscZrealizowana) < 0 then 0 else 
		--case when (Ilosc-IloscZrealizowana) - IloscNaMagazynie < 0 then 0 else (Ilosc-IloscZrealizowana)-IloscNaMagazynie end
		case when (Ilosc - IloscZrealizowana - IloscNaMagazynie - ISNULL((SELECT SUM(CZN_Ilosc) FROM dbo.CtiZlecenieNag WHERE CZN_TwrId = TwrId AND CZN_Status IN (1,2)), 0)) < 0 then 0 
		else (Ilosc - IloscZrealizowana - IloscNaMagazynie - ISNULL((SELECT SUM(CZN_Ilosc) FROM dbo.CtiZlecenieNag WHERE CZN_TwrId = TwrId AND CZN_Status IN (1,2)), 0))
		end as braki,
		ISNULL((SELECT SUM(CZN_Ilosc) FROM dbo.CtiZlecenieNag WHERE CZN_TwrId = TwrId AND CZN_Status IN (1,2)), 0) AS IloscNaZleceniach,
		@magazyn as Magazyn
		, dbo.CTIProdukcjaStatusy(2, CZN_ID) AS Status,
		Twr_JM as Jm, isnull(CZZE_CZZNID,0) as CZZNID, isnull(CZZN_NrPelny,'') as CZZNNrPelny
	
	 FROM #WydaniaList
		INNER JOIN cdn.towary on TwrId = twr_twrid 
		INNER JOIN dbo.CtiZlecenieNag on CZN_Id = CZNId
		LEFT JOIN dbo.CtiZlecenieZElem on CZN_Id = CZZE_CZNID
		LEFT JOIN dbo.CtiZlecenieZNag on CZZE_CZZNID = CZZN_ID
	
	group by TwrId, twr_kod, twr_nazwa, --towar
		CZN_Id,CZN_NrPelny, --zlecenie
		Ilosc,IloscZrealizowana,
		IloscNaMagazynie, 
		Twr_JM,CZZE_CZZNID, isnull(CZZN_NrPelny,'')
	order by CZN_Id,twr_kod
end

	DROP TABLE #WydaniaList
GO

# [dbo].[CTIProdukcjaCechyDlaDostawyList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaCechyDlaDostawyList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTIProdukcjaCechyDlaDostawyList] 
AS
--atrybut musi być dodany przynajmniej na jednym towarze
	select DISTINCT TwA_DeAId,DeA_Kod,DeA_Format
	from cdn.twratrybuty
		inner join cdn.defatrybuty on TwA_DeAId = DeA_DeAId
	where  TwA_CzyPrzenosicNaDostawy = 1 and TwA_CzyObowiazkowyDostawy = 1
		and DeA_Format <> 5 and DeA_Format in (1,2,3,4)
	order by DeA_Kod asc

--Format pola
--1 - liczbowe 
--2 - tekstowe 
--3 - lista 
--4 - data 
--5 - binaria

GO

# [dbo].[CTIProdukcjaCofnijPotwierdzenie]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaCofnijPotwierdzenie]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTIProdukcjaCofnijPotwierdzenie]
    @zpzID int
AS
BEGIN
    BEGIN TRY
        BEGIN TRAN T1

        DECLARE @FinaleZPId int 
        DECLARE @ID int

         SELECT @FinaleZPId = CZZE_CZNID 
         FROM dbo.CtiZlecenieZElem 
         WHERE CZZE_CZZNID = @zpzID AND CZZE_FinalneZP = 1

        DELETE FROM dbo.CtiZlecenieZElem 
        WHERE CZZE_ID = @zpzID AND CZZE_FinalneZP = 1

        EXEC dbo.CTIProdukcjaZlecenieDel @FinaleZPId, 1

        DECLARE Elementy_ZPZ CURSOR FOR
        SELECT CZZE_CZNID 
        FROM dbo.CtiZlecenieZElem
        WHERE CZZE_CZZNID = @zpzID AND CZZE_Typ = 22

        OPEN Elementy_ZPZ
        FETCH NEXT FROM Elementy_ZPZ INTO @ID

        WHILE @@FETCH_STATUS = 0
        BEGIN
            DELETE FROM dbo.CtiZlecenieZElem 
            WHERE CZZE_CZNID = @ID AND CZZE_CZZNID = @zpzID

            UPDATE dbo.CtiZlecenieZNag
            SET 
                CZZN_CZZNIdGlowne = dbo.CtiProdukcjaZpzGlowne(@ID, 22), 
                CZZN_CZZNNrPelnyGlowne = dbo.CtiProdukcjaZpzGlowneNumer(@ID, 22),
                CZZN_CZZNIdNadrzedne = dbo.CtiProdukcjaZpzNadrzedne(@ID, 22),
                CZZN_CZZNNrPelnyNadrzedne = dbo.CtiProdukcjaZpzNadrzedneNumer(@ID, 22)
            WHERE CZZN_ID = @ID

            FETCH NEXT FROM Elementy_ZPZ INTO @ID
        END

        CLOSE Elementy_ZPZ 
        DEALLOCATE Elementy_ZPZ

        DECLARE Elementy_ZP CURSOR FOR
        SELECT CZZE_CZNID 
        FROM dbo.CtiZlecenieZElem
        WHERE CZZE_CZZNID = @zpzID AND CZZE_Typ = 2

        OPEN Elementy_ZP
        FETCH NEXT FROM Elementy_ZP INTO @ID

        WHILE @@FETCH_STATUS = 0
        BEGIN
            DELETE FROM dbo.CtiZlecenieZElem 
            WHERE CZZE_CZNID = @ID AND CZZE_CZZNID = @zpzID

            UPDATE dbo.CtiZlecenieNag
            SET 
                CZN_CZZNIdGlowne = dbo.CtiProdukcjaZpzGlowne(@ID, 2), 
                CZN_CZZNNrPelnyGlowne = dbo.CtiProdukcjaZpzGlowneNumer(@ID, 2),
                CZN_CZZNIdNadrzedne = dbo.CtiProdukcjaZpzNadrzedne(@ID, 2),
                CZN_CZZNNrPelnyNadrzedne = dbo.CtiProdukcjaZpzNadrzedneNumer(@ID, 2)
            WHERE CZN_ID = @ID
            
            FETCH NEXT FROM Elementy_ZP INTO @ID
        END

        CLOSE Elementy_ZP 
        DEALLOCATE Elementy_ZP

        UPDATE dbo.CtiZlecenieZNag 
        SET CZZN_Status = 0 
        WHERE CZZN_ID = @zpzID

        COMMIT TRAN T1

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN T1

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState)

        RETURN
    END CATCH
END
GO

# [dbo].[CTIProdukcjaCofnijPotwierdzenieZUsuwaniem]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaCofnijPotwierdzenieZUsuwaniem]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTIProdukcjaCofnijPotwierdzenieZUsuwaniem]
 @zpzID int

AS
BEGIN
    BEGIN TRY
        -- Rozpoczęcie transakcji
        BEGIN TRANSACTION;

        DECLARE @idDoUsuniecia int;

        -- Przetwarzanie kursora dla typu 22
        DECLARE Elementy_ZPZ CURSOR FOR
        SELECT CZZE_CZNID FROM dbo.CtiZlecenieZElem
        WHERE CZZE_CZZNID = @zpzID AND CZZE_Typ = 22;

        OPEN Elementy_ZPZ;
        FETCH NEXT FROM Elementy_ZPZ INTO @idDoUsuniecia;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            EXEC dbo.CTIProdukcjaZlecenieZDel @idDoUsuniecia, 0;
            FETCH NEXT FROM Elementy_ZPZ INTO @idDoUsuniecia;
        END

        CLOSE Elementy_ZPZ;
        DEALLOCATE Elementy_ZPZ;

        -- Przetwarzanie kursora dla typu 2
        DECLARE Elementy_ZP CURSOR FOR
        SELECT CZZE_CZNID FROM dbo.CtiZlecenieZElem
        WHERE CZZE_CZZNID = @zpzID AND CZZE_Typ = 2;

        OPEN Elementy_ZP;
        FETCH NEXT FROM Elementy_ZP INTO @idDoUsuniecia;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            EXEC dbo.CTIProdukcjaZlecenieDel @idDoUsuniecia, 0;
            FETCH NEXT FROM Elementy_ZP INTO @idDoUsuniecia;
        END

        CLOSE Elementy_ZP;
        DEALLOCATE Elementy_ZP;

        -- Aktualizacja statusu
        UPDATE dbo.CtiZlecenieZNag SET CZZN_Status = 0 WHERE CZZN_ID = @zpzID;

        -- Zakończenie transakcji
        COMMIT TRAN T3;
    END TRY
    BEGIN CATCH
        -- Wycofanie transakcji w przypadku błędu
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Przekazanie informacji o błędzie
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO

# [dbo].[CTIProdukcjaCountShortageMMWyd]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaCountShortageMMWyd]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTIProdukcjaCountShortageMMWyd]
    @ZPid INT,
    @resultStatus int OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @shortage INT = 0;
    SELECT 
        a.tre_twrid AS corrTwrId,
        SUM(
            CASE 
                WHEN ISNULL(czd_korekta, 0) = 0 THEN a.tre_ilosc
                ELSE -1 * ISNULL(a.tre_ilosc, 0)
            END
        ) AS Ilosc2
    INTO #TempMM
    FROM dbo.ctizleceniedok
    INNER JOIN cdn.tranag ON trn_trnid = czd_trnid
    INNER JOIN cdn.traelem a ON czd_trnid = a.tre_trnid
    WHERE trn_anulowany = 0 
      AND czd_typ = 3
      AND czd_cznid = @ZPid
    GROUP BY a.tre_twrid;

    IF EXISTS (SELECT 1 FROM #TempMM WHERE Ilosc2 < 0)
    BEGIN
        SET @resultStatus = 0;
        DROP TABLE #TempMM;
        RETURN;
    END
    ELSE
    BEGIN
        SELECT 
            SUM(cze_ilosc) AS Ilosc1,
            cze_twrid
        INTO #BasicDoc
        FROM dbo.ctizlecenienag
        INNER JOIN dbo.ctizlecenieelem 
            ON cze_cznid = czn_id AND cze_typ IN (1, 2)
        WHERE czn_id = @ZPid
        GROUP BY cze_twrid;

        SELECT @shortage = COUNT(*)
        FROM #BasicDoc bd
        INNER JOIN #TempMM tm ON bd.cze_twrid = tm.corrTwrId
        WHERE bd.Ilosc1 > ISNULL(tm.Ilosc2, 0);
        IF (@shortage > 0)
			SET @resultStatus = 1
		ELSE 
			SET @resultStatus = 2
        DROP TABLE #BasicDoc;
    END
    DROP TABLE #TempMM;
END
GO

# [dbo].[CTIProdukcjaCzyZlecenieMoznaRealizowac]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaCzyZlecenieMoznaRealizowac]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTIProdukcjaCzyZlecenieMoznaRealizowac]
@zlecenieId INT

AS
BEGIN
SELECT CASE WHEN EXISTS (
    SELECT CZN_ID
	FROM(
		SELECT CZN_NrPelny,CZN_ID
		,ISNULL(e2.CZZE_CZNID,e.CZZE_CZNID) [ChildCZNID]
		,CASE WHEN ISNULL(e2.CZZE_CZNID,e.CZZE_CZNID) IS NULL THEN 0 ELSE e.CZZE_Ilosc - dbo.CTIProdukcjaZlecenieIloscZrealizowana(ISNULL(e2.CZZE_CZNID,e.CZZE_CZNID), 1, 0) END[IloscDoRealizacjiChild]
		FROM CtiZlecenieNag
		LEFT JOIN CtiZlecenieZElem t ON t.CZZE_CZNID=CZN_ID and t.CZZE_FinalneZP=1 and t.CZZE_Typ=2
		LEFT JOIN CtiZlecenieZElem e ON e.CZZE_FinalneZP=0 and t.CZZE_FinalneZP=1 and t.CZZE_CZZNID=e.CZZE_CZZNID and e.CZZE_Typ in (2,22)
		LEFT JOIN CtiZlecenieZElem e2 ON e2.CZZE_FinalneZP=1 and e2.CZZE_CZZNID=e.CZZE_CZNID and e2.CZZE_Typ = 2 and e.CZZE_Typ = 22
		where CZN_Status <> 0
		)t
		WHERE CZN_ID = @zlecenieId
		GROUP BY CZN_NrPelny,CZN_ID
		HAVING sum([IloscDoRealizacjiChild])=0
)
THEN CAST(1 AS BIT)
ELSE CAST(0 AS BIT) END
END
GO

# [dbo].[CTIProdukcjaDefinicjaCechyAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaDefinicjaCechyAdd]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaDefinicjaCechyAdd]
  @TechId		int						--Id technologii lub Id pozycji technologii
, @Typ			int						--Typ null - TH 
										--71 – surowce – SRC 
										--72 – wyroby gotowe/produkty – PRD 
										--73 – odpady
										--74 – usługi – kooperacja
, @TwrId		int						--towar
, @Definicja	nvarchar(254)			--definicja
, @NrCechy		int						--Lp cechy 1 lub 2
AS
BEGIN

	delete from dbo.CtiTechnolCecha where CTC_CTNID = @TechId and CTC_NrCechy = @NrCechy and CTC_Typ = @Typ
	insert into dbo.CtiTechnolCecha ( CTC_CTNID, CTC_Typ, CTC_TwrId, CTC_Def, CTC_NrCechy)
	values (@TechId, @Typ, @TwrId, @Definicja, @NrCechy)

END
GO

# [dbo].[CTIProdukcjaDokElementy]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaDokElementy]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTIProdukcjaDokElementy]   @id INT
AS
BEGIN

	DECLARE @KodCechy1 VARCHAR(max) = (SELECT TOP 1 knf_wartosc FROM dbo.CtiKonfiguracja WHERE knf_numer = 5)
	DECLARE @KodCechy2 VARCHAR(max) = (SELECT TOP 1 knf_wartosc FROM dbo.CtiKonfiguracja WHERE knf_numer = 19)
	DECLARE @idcechy1 INT;
	DECLARE @idcechy2 INT;

	SELECT DISTINCT @idcechy1 = TwA_DeAId FROM cdn.twratrybuty 
		INNER JOIN cdn.defatrybuty ON TwA_DeAId = DeA_DeAId 
		INNER JOIN dbo.CtiKonfiguracja ON KNF_Numer = 5 AND DeA_Kod = KNF_Wartosc 
		WHERE TwA_CzyPrzenosicNaDostawy = 1 AND TwA_DeAId <> 0

	SELECT DISTINCT @idcechy2 = TwA_DeAId FROM cdn.twratrybuty 
		INNER JOIN cdn.defatrybuty ON TwA_DeAId = DeA_DeAId 
		INNER JOIN dbo.CtiKonfiguracja ON KNF_Numer = 19 AND DeA_Kod = KNF_Wartosc 
		where TwA_CzyPrzenosicNaDostawy = 1 AND TwA_DeAId <> 0

	SELECT TrEID AS ID,TwrId,TreLp, TwrKod, REPLACE(TwrNazwa,CHAR(10), ' ') AS TwrNazwa, DostId, NumerPelny, SUM(iloscDostawa) AS ilosc, Cena
		, Cecha1DeAId, Cecha1Kod, CechaWartosc, Cecha2DeAId, Cecha2Kod, Cecha2Wartosc
		, JM, Thdomyslna, idTh,ZPilosc, status, StatusNazwa, IloscPW, Thzdomyslna, idThz
	FROM 
	(
		SELECT b.*
		, COALESCE(thWyb.CTN_Nazwa, thDom.CTN_Nazwa,'') AS  Thdomyslna
		, COALESCE(thWyb.CTN_ID, thDom.CTN_ID, 0) AS idTh

		, COALESCE(thzWyb.CTZN_Nazwa, thzDom.CTZN_Nazwa, '') AS  Thzdomyslna
		, COALESCE(thzWyb.CTZN_ID, thzDom.CTZN_ID, 0) AS idThz

		FROM
		(
			SELECT 
				tre.TrE_TypDokumentu Trn_Typ,
				tre.TrE_lp AS TreLp, 
				tre.TrE_TrEID AS TrEID, 
				tre.TrE_TwrId AS TwrId, 
				tre.TrE_TwrKod AS TwrKod, 
				tre.TrE_twrNazwa AS TwrNazwa, 
				tre.TrE_JMZ AS JM
				, ISNULL(TsD_TrSIdDost,0) AS DostId, ISNULL(TsD_NumerPelny,'') AS NumerPelny
				, CAST(ISNULL(TsD_Ilosc,tre.TrE_ilosc) AS DECIMAL(15,4)) AS iloscDostawa, 
				tre.TrE_cenaW AS Cena
				, ISNULL(@idcechy1, 0) AS Cecha1DeAId
				, ISNULL(@KodCechy1, '') AS Cecha1Kod
				, dbo.CtiProdukcjaPobierzCecheDostawy(tsd_tsdid, 1) AS CechaWartosc
				, ISNULL(@idcechy2, 0) AS Cecha2DeAId
				, ISNULL(@KodCechy2, '') AS Cecha2Kod
				, dbo.CtiProdukcjaPobierzCecheDostawy(tsd_tsdid, 2) AS Cecha2Wartosc
				, COALESCE(
					(SELECT SUM(czzn_ilosc) FROM dbo.CtiZlecenieZNag WHERE ISNULL(czzn_DokZwiazTreId,0) = tre.TrE_TrEID AND  CZZN_DokZwiazTyp = 308)
					,(SELECT SUM(czn_ilosc) FROM dbo.CtiZlecenieNag WHERE ISNULL(czn_DokZwiazTreId,0) = tre.TrE_TrEID AND  CZN_DokZwiazTyp = 308)
					,0
				) AS ZPilosc
				, 0 AS status
				, '' AS StatusNazwa
				, ISNULL((SELECT SUM(e.TrE_ilosc) FROM dbo.CtiZlecenieNag 
						INNER JOIN CtiZlecenieDok ON CZD_CZNId = CZN_ID 
						INNER JOIN CDN.TraNag AS n ON CZD_TrnId = n.TrN_TrNID  
						INNER JOIN CDN.TraElem AS e ON n.TrN_TrNID  = e.TrE_TrNID AND e.TrE_TwrId = CZN_TwrId
						WHERE n.TrN_TypDokumentu = 303  AND n.trn_anulowany = 0 
							AND ISNULL(czn_DokZwiazTreId,0) = tre.TrE_TrEID AND CZN_DokZwiazTyp = 308 
					),0) AS IloscPW

			FROM cdn.traelem AS tre 
			LEFT JOIN cdn.TraSElemDost ON tre.TrE_TrEID = ISNULL(TsD_TrEID,0)
			WHERE tre.TrE_trnid = @id
		) b
		LEFT JOIN dbo.CtiTechnolDomyslna ON ISNULL(CTD_TwrId,0) = b.TwrId
		LEFT JOIN dbo.CtiTraElem ON CTre_TreId = b.TrEID

		LEFT JOIN dbo.CtiTechnolNag thDom ON CTD_ID = thDom.CTN_ID
		LEFT JOIN dbo.CtiTechnolNag thWyb ON CTre_ThId = thWyb.CTN_ID

		LEFT JOIN dbo.CtiTechnolZNag thzDom ON CTZN_TwrId = b.TwrId AND thzDom.CTZN_Domyslna = 1
		LEFT JOIN dbo.CtiTechnolZNag thzWyb ON CTre_ThzId = thzWyb.CTZN_ID
	) a
	GROUP BY 
		TrEID,TwrId,TreLp,TwrKod,TwrNazwa,DostId,NumerPelny,Cena,Cecha1DeAId, Cecha1Kod,CechaWartosc,Cecha2DeAId,Cecha2Kod,Cecha2Wartosc,JM
		,Thdomyslna,idTh,ZPilosc,status,StatusNazwa,IloscPW, Thzdomyslna, idThz,Trn_Typ
	HAVING CASE Trn_Typ WHEN 312 THEN sum(iloscDostawa) ELSE 1 END >0
	ORDER BY TreLp

END
GO

# [dbo].[CTIProdukcjaDokumentDel]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaDokumentDel]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CTIProdukcjaDokumentDel]
@trnid int
AS
BEGIN

declare @id int = 0
select @id=CZD_Id from dbo.CtiZlecenieDok where CZD_TrnId = @trnid
declare @status int = 0
select @status =dbo.CTIProdukcjaStatusy(2,@id) 

if @status=0
begin
BEGIN TRY
BEGIN TRAN T1
 DELETE FROM  dbo.CtiZlecenieDokElem where  CZE_TrnId = @trnid
 DELETE FROM  dbo.CtiZlecenieDok where CZD_TrnId = @trnid
 COMMIT TRAN T1
END TRY
BEGIN CATCH
   RollBack TRAN T1
         Return
END CATCH
end
END


GO

# [dbo].[CTIProdukcjaDostepneDostawyList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaDostepneDostawyList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CTIProdukcjaDostepneDostawyList]  @id INT, @PrcId INT
AS
-- lista zasobów dla MM

declare @Korekta INT
declare @MagId INT
declare @zpId INT
declare @typMM INT --6 kontrola -- 3 wydanie 
declare @cecha1 varchar(50)
declare @cecha2 varchar(50)

select @MagId = TrN_MagZrdId from cdn.TraNag INNER JOIN cdn.Magazyny on TrN_MagZrdId = Mag_MagId where  TrN_TrNId = @id
select @zpId = ISNULL(CZD_CZNId,0),@typMM = ISNULL(czd_typ,0), @Korekta = ISNULL(CZD_Korekta,0) from dbo.CtiZlecenieDok where CZD_TrnId = @id
--cechy
declare @cechaKod varchar(40) = '' SELECT  @cechaKod = KNF_Wartosc FROM  CtiKonfiguracja where KNF_Numer = 5
declare @cechaId int = -1 select @cechaId = DeA_DeAId from CDN.DefAtrybuty where DeA_Kod = @cechaKod
declare @cechaKod2 varchar(40) = '' SELECT  @cechaKod2 = KNF_Wartosc FROM  CtiKonfiguracja where KNF_Numer = 19
declare @cechaId2 int = -1 select @cechaId2 = DeA_DeAId from CDN.DefAtrybuty where DeA_Kod = @cechaKod2

declare @66 INT = 0 SELECT @66 = ISNULL(KNF_Wartosc,1) FROM  CtiKonfiguracja where KNF_Numer = 66--20160704 kontrola zasobów przyjêtych dokumentem MM

declare @prmPrc int = 0 SELECT  @prmPrc = cast(ISNULL(KNF_Wartosc,0) as int) FROM dbo.CtiKonfiguracja  where KNF_Numer = 61 and ISNULL(KNF_Wartosc,'') <> '' --61.      Parametr – Przydzielenie do ZP
--1.  Brak przydzielenia
--2.  Przydzielenie pracownika i ilość
--3.  Przydzielenie pracownik bez ilości
--4.  Przydzielenie Działy -- tylko jeden dział
if @prmPrc in(1,4) set @PrcId = 0 

            
CREATE TABLE #TmpM (TwrId INT, IloscW DECIMAL(15, 4), IdDost INT)      


if (@Korekta > 0)--korekta
begin
      insert into #TmpM (TwrId, IloscW, IdDost)
      SELECT  Twz_TwrId as TwrId
            , case when  sum(TwZ_Ilosc) < sum(Ilosc) then sum(TwZ_Ilosc) else sum(Ilosc) end as IloscDostepna
            , TrS_TrSIdDost as DostId
      FROM 
            (--wszystkie dostawy uzyte w MM 
            select sum(trs_ilosc) as Ilosc, TrS_TrSIdDost as DstID
            from cdn.TraNag  
                  INNER JOIN cdn.TraElem on TrE_TrNId = TrN_TrNID 
                  INNER JOIN cdn.TraSElem on TrS_TrEId = TrE_TrEID 
            where TrN_TrNID = @Korekta and TrN_Bufor=0 and TrS_Ilosc > 0           -- operacja z jednego magazynu
            group by TrS_TrSIdDost
            ) MMDst
            INNER JOIN cdn.TwrZasoby on ISNULL(TwZ_TrSIdDost,0) =DstID
            INNER JOIN cdn.TraSElem ON TwZ_TrSIdDost = TrS_TrSIdDost AND TrS_Typ=1
            LEFT JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId
            LEFT JOIN cdn.TraNag ON TrN_TrNId = TrE_TrNId
      WHERE TwZ_MagId = @MagId     AND (TrN_Korekta=0 or TrN_Korekta is null)
      group by Twz_TwrId,TrS_TrSIdDost
end
else if (@Korekta = 0  and (@typMM = 6 and @66 = 1))
begin
      --dostepne towary dla dokumentu TRN na danych magazynach, sprawdznie kokretnych dostaw
      insert into #TmpM (TwrId, IloscW, IdDost)
      SELECT  Twz_TwrId as TwrId
            , case when  sum(TwZ_Ilosc) < sum(Ilosc) then sum(TwZ_Ilosc) else sum(Ilosc) end as IloscDostepna
            , TrS_TrSIdDost as DostId
      FROM (
                  select sum(Ilosc) as Ilosc , DstID
                  from dbo.CTIProdukcjaDostawyNaZP(@zpId)--ZP
                  where doktyp in (4,6) and--przychód i rozchód produktu
                  (
                        (@PrcId = 0)--dostawy bez pracownika
                        or
                        ((@PrcId > 0) and PrcId = @PrcId)--PRC--konkretny pracownik
                  )
                  group by DstID
            ) ZpDst
            INNER JOIN cdn.TwrZasoby on ISNULL(TwZ_TrSIdDost,0) = DstID
            INNER JOIN cdn.TraSElem ON TwZ_TrSIdDost = TrS_TrSIdDost AND TrS_Typ=1
            LEFT JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId
            LEFT JOIN cdn.TraNag ON TrN_TrNId = TrE_TrNId
      WHERE TwZ_MagId = @MagId     AND (TrN_Korekta=0 or TrN_Korekta is null)
      group by Twz_TwrId, TrS_TrSIdDost
end   
else
begin
      insert into #TmpM (TwrId, IloscW, IdDost)
      SELECT  Twz_TwrId as TwrId, sum(TwZ_Ilosc) as IloscDostepna, TrS_TrSIdDost as DostId
      FROM CDN.TraElem treMM
            INNER JOIN cdn.TwrZasoby on treMM.TrE_TwrId = TwZ_TwrId
            INNER JOIN cdn.TraSElem ON TwZ_TrSIdDost = TrS_TrSIdDost AND TrS_Typ=1
            LEFT JOIN cdn.TraElem treDst ON treDst.TrE_TrEId = TrS_TrEId
            LEFT JOIN cdn.TraNag ON TrN_TrNId = treDst.TrE_TrNId
      WHERE treMM.tre_trnid = @id and    TwZ_MagId = @MagId      AND (TrN_Korekta=0 or TrN_Korekta is null)
      group by Twz_TwrId, TrS_TrSIdDost
end




      SELECT  TwrId,Twr_kod as TwrKod, IdDost as DostId
                  , ISNULL(TrN_NumerPelny,'Dokument usuniety') AS NumerPelny
                  , IloscW as IloscDostepna
                  , @cechaId as DeAId
				  , dbo.CtiProdukcjaPobierzCeche(TrS_TrSId, 1) as CechaWartosc  
                  , Cecha = @cechaKod
                  , case ISNULL(twa_deaid,0) when 0 then 2 else 1 end as Typ ,twr_jm as JM
                  , dbo.CtiProdukcjaPobierzCeche(TrS_TrSId, 1) as CechaWartoscWidok
                  , dbo.CtiProdukcjaPobierzCeche(TrS_TrSId, 2) as Cecha2Wartosc
                  , Cecha2 = @cechaKod2
                  , trn_dataope as DostData
      from #TmpM
            INNER JOIN cdn.TraSElem ON IdDost = TrS_TrSId AND TrS_Typ=1
            INNER JOIN CDN.Towary ON TwrId = Twr_GIDNumer 
            LEFT JOIN cdn.TraSElemCechy ON IdDost = ISNULL(TsC_TrSId,0)
            LEFT JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId 
            LEFT JOIN cdn.TraNag ON TrN_TrNId =TrE_TrNId
            LEFT JOIN CDN.TwrAtrybuty on TwA_TwrID = TwrId and TwA_DeAId = ( select DISTINCT TwA_DeAId from cdn.twratrybuty where TwA_DeAId = @cechaId)
GO

# [dbo].[CTIProdukcjaDostepneSurowce]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaDostepneSurowce]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CTIProdukcjaDostepneSurowce]  @ZPid INT, @PRCid INT
AS
declare @THId INT = 0
declare @MagId INT = 0
declare @cecha varchar(40) = ''
select @MagId = knf_wartosc from CtiKonfiguracja  where knf_numer = 8
--magazyn pracownika
SELECT DISTINCT @MagId = case ISNULL(KnM_MagSId,0) when 0 then @MagId else KnM_MagSId  end
FROM --CDN.Pracidx LEFT JOIN CDN.PracKod ON PRA_PraId = PRI_PraId LEFT JOIN 
dbo.CtiKonfigMag -- ON PRI_PraId = KnM_PraId
WHERE   -- (PRI_Typ = 1) AND (PRI_Archiwalny < 1) and PRI_PraId = @PRCid
KnM_PraId= @PRCid
--cecha
SELECT @cecha = KNF_Wartosc FROM  CtiKonfiguracja where KNF_Numer = 5
	
	
if (@ZPid = 0)
begin

	--dostepne towary dla danego kodu dostawy na danych magazynach
		SELECT  TwrId = Twz_TwrId ,TwrKod = Twr_kod 
			, IloscDostepna = sum(TwZ_Ilosc)
			, CechaWartosc = case when ISNULL(tsc_cecha1_format,0) = 4 then CONVERT(VARCHAR, dbo.CtiProdukcjaTSToDate(ISNULL(tsc_cecha1_Wartosc,0),0), 23)
				else ISNULL(tsc_cecha1_Wartosc,'') end, cecha = ISNULL(TsC_Cecha1_Kod,'')
			, TYP = case ISNULL(twa_deaid,0) when 0 then 2 else 1 end, jm = twr_jm ,nrCechy= case when ISNULL(TsC_Cecha1_Kod,'') = '' then 0 else 1 end
			, ISNULL(TrN_NumerPelny,'Dokument usuniety') as DstDokNumer
			, ISNULL(TrS_TrSIdDost,0)  as IdDost
			, replace(Twr_Nazwa,char(10), ' ')  as Nazwa
		FROM cdn.TwrZasoby
			JOIN cdn.TraSElem ON TwZ_TrSIdDost = TrS_TrSIdDost AND TrS_Typ=1
			LEFT JOIN cdn.TraSElemCechy ON TsC_TrSId = TrS_TrSId
			LEFT JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId
			LEFT JOIN cdn.TraNag ON TrN_TrNId = TrE_TrNId
			LEFT JOIN CDN.Towary ON Twz_TwrId = Twr_GIDNumer 
			LEFT JOIN CDN.TwrAtrybuty on TwA_TwrID = Twz_TwrId and TwA_DeAId = ( select DISTINCT TwA_DeAId from cdn.twratrybuty INNER JOIN cdn.defatrybuty on TwA_DeAId = DeA_DeAId where  DeA_Kod = @cecha)
		WHERE 
			TwZ_MagId = @MagId AND (TrN_Korekta=0 or TrN_Korekta is null) 
			and ((ISNULL(twa_deaid,0) = 0) or ((ISNULL(twa_deaid,0) > 0) and (ISNULL(TsC_Cecha1_Kod,'') = @cecha or  ISNULL(TsC_Cecha1_Kod,'') = '')) )
		group by Twz_TwrId,Twr_kod,ISNULL(TsC_Cecha1_Wartosc,''),ISNULL(TsC_Cecha1_Kod,''),twa_deaid,twr_jm,ISNULL(tsc_cecha1_format,0),ISNULL(tsc_cecha1_Wartosc,0)
		, ISNULL(TrN_NumerPelny,'Dokument usuniety')
		, ISNULL(TrS_TrSIdDost,0), replace(Twr_Nazwa,char(10), ' ') 
		
		union
		SELECT  TwrId = Twz_TwrId ,TwrKod = Twr_kod
			, IloscDostepna = sum(TwZ_Ilosc)
			, CechaWartosc = case when ISNULL(tsc_cecha2_format,0) = 4 then CONVERT(VARCHAR, dbo.CtiProdukcjaTSToDate(ISNULL(tsc_cecha2_Wartosc,0),0), 23)
				else ISNULL(tsc_cecha2_Wartosc,'') end, cecha = ISNULL(TsC_Cecha2_Kod,'')
			, TYP = case ISNULL(twa_deaid,0) when 0 then 2 else 1 end, jm = twr_jm,nrCechy= case when ISNULL(TsC_Cecha2_Kod,'') = '' then 0 else 2 end
			, ISNULL(TrN_NumerPelny,'Dokument usuniety') as DstDokNumer
			, ISNULL(TrS_TrSIdDost,0)  as IdDost
			, replace(Twr_Nazwa,char(10), ' ')  as Nazwa
		FROM cdn.TwrZasoby
			JOIN cdn.TraSElem ON TwZ_TrSIdDost = TrS_TrSIdDost AND TrS_Typ=1
			LEFT JOIN cdn.TraSElemCechy ON TsC_TrSId = TrS_TrSId
			LEFT JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId
			LEFT JOIN cdn.TraNag ON TrN_TrNId = TrE_TrNId
			LEFT JOIN CDN.Towary ON Twz_TwrId = Twr_GIDNumer 
			LEFT JOIN CDN.TwrAtrybuty on TwA_TwrID = Twz_TwrId and TwA_DeAId = ( select DISTINCT TwA_DeAId from cdn.twratrybuty INNER JOIN cdn.defatrybuty on TwA_DeAId = DeA_DeAId where  DeA_Kod = @cecha)
		WHERE 
			TwZ_MagId = @MagId AND (TrN_Korekta=0 or TrN_Korekta is null) and ( (ISNULL(twa_deaid,0) > 0) and ISNULL(TsC_Cecha2_Kod,'') = @cecha )
		group by Twz_TwrId,Twr_kod,ISNULL(TsC_Cecha2_Wartosc,''),ISNULL(TsC_Cecha2_Kod,''),twa_deaid,twr_jm,ISNULL(tsc_cecha2_format,0),ISNULL(tsc_cecha2_Wartosc,0)
				, ISNULL(TrN_NumerPelny,'Dokument usuniety')
		, ISNULL(TrS_TrSIdDost,0), replace(Twr_Nazwa,char(10), ' ') 
		
		union
		SELECT  TwrId = Twz_TwrId ,TwrKod = Twr_kod
			, IloscDostepna = sum(TwZ_Ilosc)
			, CechaWartosc = case when ISNULL(tsc_cecha3_format,0) = 4 then CONVERT(VARCHAR, dbo.CtiProdukcjaTSToDate(ISNULL(tsc_cecha3_Wartosc,0),0), 23)
				else ISNULL(tsc_cecha3_Wartosc,'') end , cecha = ISNULL(TsC_Cecha3_Kod,'')
			, TYP = case ISNULL(twa_deaid,0) when 0 then 2 else 1 end, jm = twr_jm,nrCechy= case when ISNULL(TsC_Cecha3_Kod,'') = '' then 0 else 3 end 
			, ISNULL(TrN_NumerPelny,'Dokument usuniety') as DstDokNumer
			, ISNULL(TrS_TrSIdDost,0)  as IdDost
			, replace(Twr_Nazwa,char(10), ' ')  as Nazwa
		FROM cdn.TwrZasoby
			JOIN cdn.TraSElem ON TwZ_TrSIdDost = TrS_TrSIdDost AND TrS_Typ=1
			LEFT JOIN cdn.TraSElemCechy ON TsC_TrSId = TrS_TrSId
			LEFT JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId
			LEFT JOIN cdn.TraNag ON TrN_TrNId = TrE_TrNId
			LEFT JOIN CDN.Towary ON Twz_TwrId = Twr_GIDNumer 
			LEFT JOIN CDN.TwrAtrybuty on TwA_TwrID = Twz_TwrId and TwA_DeAId = ( select DISTINCT TwA_DeAId from cdn.twratrybuty INNER JOIN cdn.defatrybuty on TwA_DeAId = DeA_DeAId where  DeA_Kod = @cecha)
		WHERE 
		TwZ_MagId = @MagId AND (TrN_Korekta=0 or TrN_Korekta is null)
		and ( (ISNULL(twa_deaid,0) > 0) and ISNULL(TsC_Cecha3_Kod,'') = @cecha )
		group by Twz_TwrId,Twr_kod,ISNULL(TsC_Cecha3_Wartosc,''),ISNULL(TsC_Cecha3_Kod,''),twa_deaid,twr_jm,ISNULL(tsc_cecha3_format,0),ISNULL(tsc_cecha3_Wartosc,0)
		, ISNULL(TrN_NumerPelny,'Dokument usuniety')
		, ISNULL(TrS_TrSIdDost,0), replace(Twr_Nazwa,char(10), ' ') 
end
else
begin

	--id technologii
	select @THId = czn_ctnid from dbo.CtiZlecenieNag where czn_id = @ZPid




	--dostepne towary dla danego kodu dostawy na danych magazynach
		SELECT  TwrId = Twz_TwrId ,TwrKod = Twr_kod, --DostId = TrS_TrSIdDost, 
		--ISNULL(TrN_NumerPelny,'Dokument usuniety') AS NumerPelny, 
		IloscDostepna = sum(TwZ_Ilosc), -- Wartosc = TwZ_Wartosc,--  Cena = TwZ_Cena,
		--DeAId = ISNULL(TsC_Cecha1_DeAId,0) , 
		CechaWartosc = case when ISNULL(tsc_cecha1_format,0) = 4 then CONVERT(VARCHAR, dbo.CtiProdukcjaTSToDate(ISNULL(tsc_cecha1_Wartosc,0),0), 23)
		else ISNULL(tsc_cecha1_Wartosc,'') end, cecha = ISNULL(TsC_Cecha1_Kod,'')
		,TYP = case ISNULL(twa_deaid,0) when 0 then 2 else 1 end, jm = twr_jm ,nrCechy= case when ISNULL(TsC_Cecha1_Kod,'') = '' then 0 else 1 end
		, ISNULL(TrN_NumerPelny,'Dokument usuniety') as DstDokNumer
		, ISNULL(TrS_TrSIdDost,0)  as IdDost
		, replace(Twr_Nazwa,char(10), ' ')  as Nazwa
		FROM cdn.TwrZasoby
		JOIN cdn.TraSElem ON TwZ_TrSIdDost = TrS_TrSIdDost AND TrS_Typ=1
		LEFT JOIN cdn.TraSElemCechy ON TsC_TrSId = TrS_TrSId
		LEFT JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId
		LEFT JOIN cdn.TraNag ON TrN_TrNId = TrE_TrNId
		LEFT JOIN CDN.Towary ON Twz_TwrId = Twr_GIDNumer 
		left join dbo.CtiTechnolElem on CTE_CTNId = @THId and CTE_TwrId = Twz_TwrId
		LEFT JOIN CDN.TwrAtrybuty on TwA_TwrID = Twz_TwrId and TwA_DeAId = 
		( select DISTINCT TwA_DeAId from cdn.twratrybuty
		INNER JOIN cdn.defatrybuty on TwA_DeAId = DeA_DeAId where  DeA_Kod = @cecha)
		WHERE 
		TwZ_MagId = @MagId AND (TrN_Korekta=0 or TrN_Korekta is null)
		and ((ISNULL(twa_deaid,0) = 0) or 
		((ISNULL(twa_deaid,0) > 0) and (ISNULL(TsC_Cecha1_Kod,'') = @cecha or  ISNULL(TsC_Cecha1_Kod,'') = '')) )
		and  CTE_CTNId = @THId
		group by Twz_TwrId,Twr_kod,ISNULL(TsC_Cecha1_Wartosc,''),ISNULL(TsC_Cecha1_Kod,''),twa_deaid,twr_jm,ISNULL(tsc_cecha1_format,0),ISNULL(tsc_cecha1_Wartosc,0)
		, ISNULL(TrN_NumerPelny,'Dokument usuniety')
		, ISNULL(TrS_TrSIdDost,0), replace(Twr_Nazwa,char(10), ' ') 

		union
		SELECT  TwrId = Twz_TwrId ,TwrKod = Twr_kod,
		IloscDostepna = sum(TwZ_Ilosc),
		CechaWartosc = case when ISNULL(tsc_cecha2_format,0) = 4 then CONVERT(VARCHAR, dbo.CtiProdukcjaTSToDate(ISNULL(tsc_cecha2_Wartosc,0),0), 23)
		else ISNULL(tsc_cecha2_Wartosc,'') end, cecha = ISNULL(TsC_Cecha2_Kod,'')
		,TYP = case ISNULL(twa_deaid,0) when 0 then 2 else 1 end, jm = twr_jm,nrCechy= case when ISNULL(TsC_Cecha2_Kod,'') = '' then 0 else 2 end 
		, ISNULL(TrN_NumerPelny,'Dokument usuniety') as DstDokNumer
		, ISNULL(TrS_TrSIdDost,0)  as IdDost
		, replace(Twr_Nazwa,char(10), ' ')  as Nazwa
		FROM cdn.TwrZasoby
		JOIN cdn.TraSElem ON TwZ_TrSIdDost = TrS_TrSIdDost AND TrS_Typ=1
		LEFT JOIN cdn.TraSElemCechy ON TsC_TrSId = TrS_TrSId
		LEFT JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId
		LEFT JOIN cdn.TraNag ON TrN_TrNId = TrE_TrNId
		LEFT JOIN CDN.Towary ON Twz_TwrId = Twr_GIDNumer 
		left join dbo.CtiTechnolElem on CTE_CTNId = @THId and CTE_TwrId = Twz_TwrId
		LEFT JOIN CDN.TwrAtrybuty on TwA_TwrID = Twz_TwrId and TwA_DeAId = 
		( select DISTINCT TwA_DeAId from cdn.twratrybuty
		INNER JOIN cdn.defatrybuty on TwA_DeAId = DeA_DeAId where  DeA_Kod = @cecha)
		WHERE 
		TwZ_MagId = @MagId AND (TrN_Korekta=0 or TrN_Korekta is null)
		and ( (ISNULL(twa_deaid,0) > 0) and ISNULL(TsC_Cecha2_Kod,'') = @cecha )
		and  CTE_CTNId = @THId
		group by Twz_TwrId,Twr_kod,ISNULL(TsC_Cecha2_Wartosc,''),ISNULL(TsC_Cecha2_Kod,''),twa_deaid,twr_jm,ISNULL(tsc_cecha2_format,0),ISNULL(tsc_cecha2_Wartosc,0)
		, ISNULL(TrN_NumerPelny,'Dokument usuniety')
		, ISNULL(TrS_TrSIdDost,0), replace(Twr_Nazwa,char(10), ' ') 

		union
		SELECT  TwrId = Twz_TwrId ,TwrKod = Twr_kod,
		IloscDostepna = sum(TwZ_Ilosc),
		CechaWartosc = case when ISNULL(tsc_cecha3_format,0) = 4 then CONVERT(VARCHAR, dbo.CtiProdukcjaTSToDate(ISNULL(tsc_cecha3_Wartosc,0),0), 23)
		else ISNULL(tsc_cecha3_Wartosc,'') end , cecha = ISNULL(TsC_Cecha3_Kod,'')
		,TYP = case ISNULL(twa_deaid,0) when 0 then 2 else 1 end, jm = twr_jm,nrCechy= case when ISNULL(TsC_Cecha3_Kod,'') = '' then 0 else 3 end 
		, ISNULL(TrN_NumerPelny,'Dokument usuniety') as DstDokNumer
		, ISNULL(TrS_TrSIdDost,0)  as IdDost
		, replace(Twr_Nazwa,char(10), ' ')  as Nazwa
		FROM cdn.TwrZasoby
		JOIN cdn.TraSElem ON TwZ_TrSIdDost = TrS_TrSIdDost AND TrS_Typ=1
		LEFT JOIN cdn.TraSElemCechy ON TsC_TrSId = TrS_TrSId
		LEFT JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId
		LEFT JOIN cdn.TraNag ON TrN_TrNId = TrE_TrNId
		LEFT JOIN CDN.Towary ON Twz_TwrId = Twr_GIDNumer 
		left join dbo.CtiTechnolElem on CTE_CTNId = @THId and CTE_TwrId = Twz_TwrId
		LEFT JOIN CDN.TwrAtrybuty on TwA_TwrID = Twz_TwrId and TwA_DeAId = 
		( select DISTINCT TwA_DeAId from cdn.twratrybuty
		INNER JOIN cdn.defatrybuty on TwA_DeAId = DeA_DeAId where  DeA_Kod = @cecha)
		WHERE 
		TwZ_MagId = @MagId AND (TrN_Korekta=0 or TrN_Korekta is null)
		and ( (ISNULL(twa_deaid,0) > 0) and ISNULL(TsC_Cecha3_Kod,'') = @cecha )
		and  CTE_CTNId = @THId
		group by Twz_TwrId,Twr_kod,ISNULL(TsC_Cecha3_Wartosc,''),ISNULL(TsC_Cecha3_Kod,''),twa_deaid,twr_jm,ISNULL(tsc_cecha3_format,0),ISNULL(tsc_cecha3_Wartosc,0)
		, ISNULL(TrN_NumerPelny,'Dokument usuniety')
		, ISNULL(TrS_TrSIdDost,0), replace(Twr_Nazwa,char(10), ' ') 
end
GO

# [dbo].[CTIProdukcjaDostepneSurowce2]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaDostepneSurowce2]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CTIProdukcjaDostepneSurowce2]  @ZPid INT, @PRCid INT,@ilosc decimal(15,4)
AS

declare @THId INT = 0
declare @MagId INT = 0
declare @cecha varchar(40) = ''
select @MagId = knf_wartosc from CtiKonfiguracja  where knf_numer = 8
--magazyn pracownika
--SELECT DISTINCT @MagId = case ISNULL(KnM_MagSId,0) when 0 then @MagId else KnM_MagSId  end FROM dbo.CtiKonfigMag WHERE KnM_PraId= @PRCid
declare @prmPrc int = 0
SELECT  @prmPrc = cast(ISNULL(KNF_Wartosc,0) as int) FROM dbo.CtiKonfiguracja  where KNF_Numer = 61 and ISNULL(KNF_Wartosc,'') <> ''	

--magazyn pracownika/działu
select DISTINCT @MagId = case ISNULL(CDZ_MagSId,0) when 0 then @MagId else CDZ_MagSId  end
FROM 	dbo.CtiZleceniePrc 
	INNER JOIN dbo.CtiDzial on ISNULL(CZO_PrcTyp,80) = 81 and CDZ_ID = czo_prcid
	INNER JOIN dbo.CtiZlecenieNag on czn_id = CZO_CZNId
WHERE  czo_cznid = @ZPid  and ISNULL(CZO_PrcTyp,80) = 81 and CZO_PrcId = @PRCid

select DISTINCT @MagId = case ISNULL(KnM_MagSId,0) when 0 then @MagId else KnM_MagSId  end
FROM 	dbo.CtiZleceniePrc 
	INNER JOIN dbo.CtiZlecenieNag on czn_id = CZO_CZNId
	LEFT JOIN dbo.CtiKonfigMag  ON czo_prcid = KnM_PraId
WHERE  czo_cznid = @ZPid    and ISNULL(CZO_PrcTyp,80) = 80 and CZO_PrcId = @PRCid







--cecha
SELECT @cecha = KNF_Wartosc FROM  CtiKonfiguracja where KNF_Numer = 5
--id technologii
select @THId = czn_ctnid from dbo.CtiZlecenieNag where czn_id = @ZPid

CREATE TABLE #TmpM (LP INT, TwrId INT, TwrKod VARCHAR(40), IloscDostepna DECIMAL(15, 4), CechaWartosc VARCHAR(40)
,cecha VARCHAR(40),TYP	INT, Jm NVARCHAR(20),nrCechy int,IdDost INT, IloscWykorzystana DECIMAL(15, 4), DstDokNumer nvarchar(40))


insert into #TmpM (LP, TwrId , TwrKod , IloscDostepna , CechaWartosc ,cecha , TYP , Jm ,nrCechy,IdDost,IloscWykorzystana ,DstDokNumer)
select  ROW_NUMBER() OVER (ORDER BY Twrkod) , TwrId , TwrKod , IloscDostepna , CechaWartosc ,cecha , TYP	, Jm ,nrCechy,IdDost ,0,DstDokNumer from
(


	--dostepne towary dla danego kodu dostawy na danych magazynach
		SELECT TwrId = Twz_TwrId ,TwrKod = Twr_kod --DostId = TrS_TrSIdDost, 
			--ISNULL(TrN_NumerPelny,'Dokument usuniety') AS NumerPelny, 
			, IloscDostepna = sum(TwZ_Ilosc) -- Wartosc = TwZ_Wartosc,--  Cena = TwZ_Cena,
				--DeAId = ISNULL(TsC_Cecha1_DeAId,0) , 
			, CechaWartosc = case when ISNULL(tsc_cecha1_format,0) = 4 then CONVERT(VARCHAR, dbo.CtiProdukcjaTSToDate(ISNULL(tsc_cecha1_Wartosc,0),0), 23)
				else ISNULL(tsc_cecha1_Wartosc,'') end, cecha = ISNULL(TsC_Cecha1_Kod,'')
			, TYP = case ISNULL(twa_deaid,0) when 0 then 2 else 1 end, jm = twr_jm ,nrCechy= 1
				--,case when ISNULL(twa_deaid,0) = 0 then  0 else ISNULL(TwZ_TrSIdDost,0) end as IdDost
			, DstDokNumer =ISNULL(TrN_NumerPelny,'Dokument usuniety')
			, ISNULL(TrS_TrSIdDost,0)  as IdDost
		FROM cdn.TwrZasoby
			JOIN cdn.TraSElem ON TwZ_TrSIdDost = TrS_TrSIdDost AND TrS_Typ=1
			LEFT JOIN cdn.TraSElemCechy ON TsC_TrSId = TrS_TrSId
			LEFT JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId
			LEFT JOIN cdn.TraNag ON TrN_TrNId = TrE_TrNId
			LEFT JOIN CDN.Towary ON Twz_TwrId = Twr_GIDNumer 
			left join dbo.CtiTechnolElem on CTE_CTNId = @THId and CTE_TwrId = Twz_TwrId
			LEFT JOIN CDN.TwrAtrybuty on TwA_TwrID = Twz_TwrId and TwA_DeAId = 
				( select DISTINCT TwA_DeAId from cdn.twratrybuty INNER JOIN cdn.defatrybuty on TwA_DeAId = DeA_DeAId where  DeA_Kod = @cecha)
		WHERE TwZ_MagId = @MagId AND (TrN_Korekta=0 or TrN_Korekta is null)
			and ((ISNULL(twa_deaid,0) = 0) or ((ISNULL(twa_deaid,0) > 0) and (ISNULL(TsC_Cecha1_Kod,'') = @cecha or  ISNULL(TsC_Cecha1_Kod,'') = '')) )
			and  CTE_CTNId = @THId
		group by --case when ISNULL(twa_deaid,0) = 0 then  0 else ISNULL(TwZ_TrSIdDost,0) end,
			Twz_TwrId,Twr_kod,ISNULL(TsC_Cecha1_Wartosc,''),ISNULL(TsC_Cecha1_Kod,''),twa_deaid,twr_jm,ISNULL(tsc_cecha1_format,0),ISNULL(tsc_cecha1_Wartosc,0)
			, ISNULL(TrN_NumerPelny,'Dokument usuniety') 
			, ISNULL(TrS_TrSIdDost,0) 
		
		union
		SELECT TwrId = Twz_TwrId ,TwrKod = Twr_kod
			, IloscDostepna = sum(TwZ_Ilosc)
			, CechaWartosc = case when ISNULL(tsc_cecha2_format,0) = 4 then CONVERT(VARCHAR, dbo.CtiProdukcjaTSToDate(ISNULL(tsc_cecha2_Wartosc,0),0), 23)
			else ISNULL(tsc_cecha2_Wartosc,'') end, cecha = ISNULL(TsC_Cecha2_Kod,'')
			, TYP = case ISNULL(twa_deaid,0) when 0 then 2 else 1 end, jm = twr_jm,nrCechy= 2 
			--,case when ISNULL(twa_deaid,0) = 0 then  0 else ISNULL(TwZ_TrSIdDost,0) end as IdDost
			, DstDokNumer =ISNULL(TrN_NumerPelny,'Dokument usuniety')
			, ISNULL(TrS_TrSIdDost,0)  as IdDost
		FROM cdn.TwrZasoby
			JOIN cdn.TraSElem ON TwZ_TrSIdDost = TrS_TrSIdDost AND TrS_Typ=1
			LEFT JOIN cdn.TraSElemCechy ON TsC_TrSId = TrS_TrSId
			LEFT JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId
			LEFT JOIN cdn.TraNag ON TrN_TrNId = TrE_TrNId
			LEFT JOIN CDN.Towary ON Twz_TwrId = Twr_GIDNumer 
			left join dbo.CtiTechnolElem on CTE_CTNId = @THId and CTE_TwrId = Twz_TwrId
			LEFT JOIN CDN.TwrAtrybuty on TwA_TwrID = Twz_TwrId and TwA_DeAId = 
				( select DISTINCT TwA_DeAId from cdn.twratrybuty INNER JOIN cdn.defatrybuty on TwA_DeAId = DeA_DeAId where  DeA_Kod = @cecha)
		WHERE TwZ_MagId = @MagId AND (TrN_Korekta=0 or TrN_Korekta is null)
			and ( (ISNULL(twa_deaid,0) > 0) and ISNULL(TsC_Cecha2_Kod,'') = @cecha )
			and  CTE_CTNId = @THId
		group by  --case when ISNULL(twa_deaid,0) = 0 then  0 else ISNULL(TwZ_TrSIdDost,0) end,
			Twz_TwrId,Twr_kod,ISNULL(TsC_Cecha2_Wartosc,''),ISNULL(TsC_Cecha2_Kod,''),twa_deaid,twr_jm,ISNULL(tsc_cecha2_format,0),ISNULL(tsc_cecha2_Wartosc,0)
			, ISNULL(TrN_NumerPelny,'Dokument usuniety') 
			, ISNULL(TrS_TrSIdDost,0)  
		union
		SELECT TwrId = Twz_TwrId ,TwrKod = Twr_kod
			, IloscDostepna = sum(TwZ_Ilosc)
			, CechaWartosc = case when ISNULL(tsc_cecha3_format,0) = 4 then CONVERT(VARCHAR, dbo.CtiProdukcjaTSToDate(ISNULL(tsc_cecha3_Wartosc,0),0), 23)
				else ISNULL(tsc_cecha3_Wartosc,'') end , cecha = ISNULL(TsC_Cecha3_Kod,'')
			, TYP = case ISNULL(twa_deaid,0) when 0 then 2 else 1 end, jm = twr_jm,nrCechy= 3 
				--,case when ISNULL(twa_deaid,0) = 0 then  0 else ISNULL(TwZ_TrSIdDost,0) end as IdDost
			, DstDokNumer =ISNULL(TrN_NumerPelny,'Dokument usuniety')
			, ISNULL(TrS_TrSIdDost,0)  as IdDostn
		FROM cdn.TwrZasoby
			JOIN cdn.TraSElem ON TwZ_TrSIdDost = TrS_TrSIdDost AND TrS_Typ=1
			LEFT JOIN cdn.TraSElemCechy ON TsC_TrSId = TrS_TrSId
			LEFT JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId
			LEFT JOIN cdn.TraNag ON TrN_TrNId = TrE_TrNId
			LEFT JOIN CDN.Towary ON Twz_TwrId = Twr_GIDNumer 
			left join dbo.CtiTechnolElem on CTE_CTNId = @THId and CTE_TwrId = Twz_TwrId
			LEFT JOIN CDN.TwrAtrybuty on TwA_TwrID = Twz_TwrId and TwA_DeAId = 
				( select DISTINCT TwA_DeAId from cdn.twratrybuty INNER JOIN cdn.defatrybuty on TwA_DeAId = DeA_DeAId where  DeA_Kod = @cecha)
		WHERE TwZ_MagId = @MagId AND (TrN_Korekta=0 or TrN_Korekta is null)
			and ( (ISNULL(twa_deaid,0) > 0) and ISNULL(TsC_Cecha3_Kod,'') = @cecha )
			and  CTE_CTNId = @THId
		group by  --case when ISNULL(twa_deaid,0) = 0 then  0 else ISNULL(TwZ_TrSIdDost,0) end,
			Twz_TwrId,Twr_kod,ISNULL(TsC_Cecha3_Wartosc,''),ISNULL(TsC_Cecha3_Kod,''),twa_deaid,twr_jm,ISNULL(tsc_cecha3_format,0),ISNULL(tsc_cecha3_Wartosc,0)
			, ISNULL(TrN_NumerPelny,'Dokument usuniety') 
			, ISNULL(TrS_TrSIdDost,0)
		
) a
 order by typ,TwrKod,IdDost asc


--kursor po tym co ma być
--jężeli nie ma dodać z zerowa ilością


DECLARE kursor cursor FOR
    SELECT  CTE_TwrId, (@ilosc*CTE_Ilosc)/ISNULL(ctn_ilosc,1), twr_kod, twr_JM
	FROM  dbo.CtiTechnolNag INNER JOIN dbo.CtiTechnolElem on ctn_id = Cte_ctnid
	INNER JOIN cdn.towary on CTE_TwrId = twr_twrid
	where CTE_CTNId =@THId and cte_typ in (1,2)
DECLARE @CTE_TwrId int, @CTE_Ilosc decimal(15,4), @twr_kod varchar(40), @twr_JM nvarchar(20)
    OPEN kursor

FETCH kursor   INTO @CTE_TwrId , @CTE_Ilosc,@twr_kod , @twr_JM

while @@FETCH_STATUS = 0
begin
        declare @iloscWykorzystana decimal(15,4)=  @CTE_Ilosc   
            DECLARE kursor2 cursor FOR
				SELECT  lp,IloscDostepna FROM #TmpM where TwrId = @CTE_TwrId order by lp
			DECLARE @lp int,@IloscDostepna decimal(15,4) OPEN kursor2
			FETCH kursor2 	INTO @lp,@IloscDostepna 

			while @@FETCH_STATUS = 0
			begin
				if(@iloscWykorzystana>0)
				begin
					if(@IloscDostepna<=@iloscWykorzystana)
					begin
						update #TmpM set IloscWykorzystana = @IloscDostepna where lp = @lp
						set @iloscWykorzystana = @iloscWykorzystana-@IloscDostepna
					end
					else
					begin
						update #TmpM set IloscWykorzystana = @iloscWykorzystana where lp = @lp
						set @iloscWykorzystana = 0
					end
				end    
						        
				FETCH kursor2 INTO @lp,@IloscDostepna 
			end
			CLOSE kursor2 deallocate     kursor2

        if(@iloscWykorzystana>0)
		begin 
		   insert into #TmpM (LP, TwrId , TwrKod , IloscDostepna , CechaWartosc ,cecha , TYP , Jm ,nrCechy,IdDost,IloscWykorzystana )
			select  MAX(LP)+1 , @CTE_TwrId , @twr_kod , 0 , '' ,'' , 2	, @twr_JM ,1,0 ,@iloscWykorzystana from #TmpM
        end  
            
       FETCH kursor   INTO @CTE_TwrId , @CTE_Ilosc,@twr_kod , @twr_JM
end

CLOSE kursor
deallocate     kursor




	SELECT   TwrId , TwrKod , IloscDostepna , CechaWartosc ,cecha , TYP , Jm 
		, case when ISNULL(cecha,'') = '' then 0 else nrCechy end as nrCechy
		, IdDost,IloscWykorzystana , ISNULL(DstDokNumer,'') as DstDokNumer
		, replace(Twr_Nazwa,char(10), ' ')  as Nazwa
	FROM #TmpM INNER JOIN CDN.Towary on  TwrId = twr_twrid  where IloscWykorzystana > 0
	order by case when IloscWykorzystana > 0 then 0 else 1 end ,TwrKod,IdDost

DROP TABLE #TmpM

GO

# [dbo].[CTIProdukcjaDostepneSurowce3]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaDostepneSurowce3]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CTIProdukcjaDostepneSurowce3]  
  @ZPid			INT
, @PrcId		INT
, @MagId		INT
, @ilosc		decimal(15,4)
, @zamienniki	tinyint
, @typ			INT = 1

-- @PrcId - pracownik lub dział
-- @ZPid = 0 wszystkie surowce z magazynu 
-- @ZPid <> 0 
---- @ilosc = 0		surowce zgodne z technologią
---- @ilosc <> 0	surowce zgodne z technologią  i ilością
---- @zamienniki <> 0	zamienniki zgodne z technologią
-- @typ = 1 - w/g TH
-- @typ = 2 - w/g ZP

AS
	declare @cechaKod varchar(40) = '' SELECT @cechaKod = KNF_Wartosc FROM CtiKonfiguracja where KNF_Numer = 5
	declare @cecha2Kod varchar(40) = '' SELECT @cecha2Kod = KNF_Wartosc FROM CtiKonfiguracja where KNF_Numer = 19

	declare @cechaId int = -1 
	declare @cecha2Id int = -1
	declare @cechaFormat int = 0 
	declare @cecha2Format int = 0

	select @cechaId = DeA_DeAId, @cechaFormat=isnull(DeA_Format,0) from CDN.DefAtrybuty where DeA_Kod = @cechaKod
	select @cecha2Id = DeA_DeAId, @cecha2Format=isnull(DeA_Format,0) from CDN.DefAtrybuty where DeA_Kod = @cecha2Kod

	declare @66 INT = 0 SELECT @66 = ISNULL(KNF_Wartosc,1) FROM  CtiKonfiguracja where KNF_Numer = 66--20160704 kontrola zasobów przyjętych dokumentem MM
	CREATE TABLE #TmpM (LP INT, TwrId INT, IloscDostepna DECIMAL(15, 4), IdDost INT, IloscWykorzystana DECIMAL(15, 4))	
	declare @THId INT = 0 select @THId = czn_ctnid from dbo.CtiZlecenieNag where czn_id = @ZPid--id technologii

	PRINT('DECLARE @ZpId INT = ')
	PRINT(@ZpId)
	PRINT('DECLARE @MagId INT = ')
	PRINT(@MagId)
	PRINT('DECLARE @ilosc DECIMAL(15,4) =')
	PRINT(@ilosc)

	--wszystkie	
	if @ZpId = 0
begin
		PRINT('wszystkie zasoby')
		insert into #TmpM (LP, TwrId, IloscDostepna, IdDost, IloscWykorzystana)
		SELECT ROW_NUMBER() OVER (ORDER BY Twz_TwrId, ISNULL(TrS_TrSIdDost,0)), Twz_TwrId as TwrId
		, (case Twr_JMCalkowite when 1 then convert(decimal(15, 4), FLOOR(sum(ISNULL(TwZ_Ilosc,0)))) else convert(decimal(15,4), sum(ISNULL(TwZ_Ilosc,0))) end) as IloscDostepna --20180612 Ilość całkowita dla zasobów w dół 
		, ISNULL(TrS_TrSIdDost,0)  as IdDost, 0 as IloscWykorzystan
		FROM cdn.TwrZasoby
			INNER JOIN cdn.Towary on TwZ_TwrId = Twr_TwrId
			INNER JOIN cdn.TraSElem ON TwZ_TrSIdDost = TrS_TrSIdDost AND TrS_Typ=1 
			LEFT JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId
			LEFT JOIN cdn.TraNag ON TrN_TrNId = TrE_TrNId LEFT JOIN cdn.Magazyny ON Mag_MagId = TwZ_MagId
		WHERE TwZ_MagId = @MagId AND (TrN_Korekta=0 or TrN_Korekta is null) 
		group by Twz_TwrId, ISNULL(TrS_TrSIdDost,0), Twr_JMCalkowite
		having sum(TwZ_Ilosc)  > 0
		order by Twz_TwrId, ISNULL(TrS_TrSIdDost,0)
	end
else if @zamienniki <> 0--20170227 ZAMIENNIKI
	begin
		PRINT('zamienniki')
		insert into #TmpM (LP, TwrId, IloscDostepna, IdDost, IloscWykorzystana)
		SELECT distinct ROW_NUMBER() OVER (ORDER BY Twr_TwrId, ISNULL(TrS_TrSIdDost,0))
			,Twr_TwrId as TwrId
			, (case Twr_JMCalkowite when 1 then convert(decimal(15, 4), FLOOR(sum(ISNULL(TwZ_Ilosc,0)))) else convert(decimal(15,4), sum(ISNULL(TwZ_Ilosc,0))) end) as IloscDostepna --20180612 Ilość całkowita  dla zasobów w dół 
			, ISNULL(TrS_TrSIdDost,0)  as IdDost, 0 as IloscWykorzystana
		FROM cdn.Towary
			LEFT JOIN cdn.TwrZasoby on Twr_TwrId = ISNULL(Twz_TwrId,0) and ISNULL(TwZ_MagId,0) = @MagId 
			LEFT JOIN cdn.TraSElem ON ISNULL(TwZ_TrSIdDost,0) = ISNULL(TrS_TrSIdDost,0) AND ISNULL(TrS_Typ,0)=1
			LEFT JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId
			LEFT JOIN cdn.TraNag ON TrN_TrNId = TrE_TrNId
		WHERE Twr_TwrId in (SELECT distinct Zam_ZamTwrID FROM dbo.CtiTechnolNag  INNER JOIN dbo.CtiTechnolElem on ctn_id = Cte_ctnid
							INNER JOIN cdn.Zamienniki on CTE_TwrId = Zam_TwrID	where CTE_CTNId =@THId and cte_typ in (1,2)--tylko surowce
							)
			AND (TrN_Korekta=0 or TrN_Korekta is null) 
		group by Twr_TwrId, ISNULL(TrS_TrSIdDost,0), Twr_JMCalkowite
		order by Twr_TwrId, ISNULL(TrS_TrSIdDost,0)
	end
else 
	begin
		PRINT('konkretne zlecenie')
		if @66 = 0
		begin
			--kontrola zasobów przyjętych dokumentem MM
			PRINT('parametr 66 = 0')

				IF (@typ = 1)
				begin


					PRINT('z TH')


					insert into #TmpM (LP, TwrId, IloscDostepna, IdDost, IloscWykorzystana)
					SELECT distinct ROW_NUMBER() OVER (ORDER BY Twr_TwrId, ISNULL(TrS_TrSIdDost,0))
					,Twr_TwrId as TwrId
					, (case Twr_JMCalkowite when 1 then convert(decimal(15, 4), FLOOR(sum(ISNULL(TwZ_Ilosc,0)))) else convert(decimal(15,4), sum(ISNULL(TwZ_Ilosc,0))) end) as IloscDostepna --20180612 Ilość całkowita  dla zasobów w dół 
					, ISNULL(TrS_TrSIdDost,0)  as IdDost, 0 as IloscWykorzystana
					FROM cdn.Towary
					LEFT JOIN cdn.TwrZasoby on Twr_TwrId = ISNULL(Twz_TwrId,0) and ISNULL(TwZ_MagId,0) = @MagId 
					LEFT JOIN cdn.TraSElem ON ISNULL(TwZ_TrSIdDost,0) = ISNULL(TrS_TrSIdDost,0) AND ISNULL(TrS_Typ,0)=1
					LEFT JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId
					LEFT JOIN cdn.TraNag ON TrN_TrNId =TrE_TrNId
					WHERE Twr_TwrId in (SELECT distinct CTE_TwrId FROM dbo.CtiTechnolNag  INNER JOIN dbo.CtiTechnolElem on ctn_id = Cte_ctnid
								INNER JOIN cdn.towary on CTE_TwrId = twr_twrid	where CTE_CTNId =@THId and cte_typ in (1,2))
					AND (TrN_Korekta=0 or TrN_Korekta is null) 
					group by Twr_TwrId, ISNULL(TrS_TrSIdDost,0), Twr_JMCalkowite
					having sum(TwZ_Ilosc)  > 0 -- wymagany warunek
					order by Twr_TwrId, ISNULL(TrS_TrSIdDost,0)
				end
				else
				begin
					PRINT('z ZP')

					insert into #TmpM (LP, TwrId, IloscDostepna, IdDost, IloscWykorzystana)
					SELECT distinct ROW_NUMBER() OVER (ORDER BY Twr_TwrId, ISNULL(TrS_TrSIdDost,0))
					,Twr_TwrId as TwrId
					, (case Twr_JMCalkowite when 1 then convert(decimal(15, 4), FLOOR(sum(ISNULL(TwZ_Ilosc,0)))) else convert(decimal(15,4), sum(ISNULL(TwZ_Ilosc,0))) end) as IloscDostepna --20180612 Ilość całkowita  dla zasobów w dół 
					, ISNULL(TrS_TrSIdDost,0)  as IdDost, 0 as IloscWykorzystana
					FROM cdn.Towary
					LEFT JOIN cdn.TwrZasoby on Twr_TwrId = ISNULL(Twz_TwrId,0) and ISNULL(TwZ_MagId,0) = @MagId 
					LEFT JOIN cdn.TraSElem ON ISNULL(TwZ_TrSIdDost,0) = ISNULL(TrS_TrSIdDost,0) AND ISNULL(TrS_Typ,0)=1
					LEFT JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId
					LEFT JOIN cdn.TraNag ON TrN_TrNId =TrE_TrNId
					WHERE Twr_TwrId in (SELECT distinct CZE_TwrId FROM dbo.CtiZlecenieElem 
								INNER JOIN cdn.towary on CZE_TwrId = twr_twrid where CZE_CZNId = @ZpId and CZE_Typ in (1,2))
					AND (TrN_Korekta=0 or TrN_Korekta is null) 
					group by Twr_TwrId, ISNULL(TrS_TrSIdDost,0), Twr_JMCalkowite
					having sum(TwZ_Ilosc)  > 0 -- wymagany warunek
					order by Twr_TwrId, ISNULL(TrS_TrSIdDost,0)

				end
		end
		else 
		begin
			--konkretne dostawy 
			PRINT('konkretne dostawy')
			insert into #TmpM (LP, TwrId, IloscDostepna, IdDost,IloscWykorzystana)
			SELECT ROW_NUMBER() OVER (ORDER BY Twz_TwrId, ISNULL(TrS_TrSIdDost,0))
				, Twz_TwrId as TwrId
				, convert(decimal(15, 4), case when  (case Twr.Twr_JMCalkowite when 1 then convert(decimal(15,4), FLOOR(sum(ISNULL(TwZ_Ilosc,0)) )) else convert(decimal(15,4), sum(ISNULL(TwZ_Ilosc,0))) end)
								< sum(Ilosc) 
								then (case Twr.Twr_JMCalkowite when 1 then convert(decimal(15,4), FLOOR(sum(ISNULL(TwZ_Ilosc,0)) )) else convert(decimal(15,4), sum(ISNULL(TwZ_Ilosc,0))) end)
								else convert(decimal(15,4), sum(Ilosc)) end) as IloscDostepna --20180612 Ilość całkowita  dla zasobów w dół 
				, ISNULL(TrS_TrSIdDost,0)  as IdDost,0
			FROM cdn.TwrZasoby
				INNER JOIN cdn.Towary Twr on TwZ_TwrId = Twr.Twr_TwrId
				INNER JOIN cdn.TraSElem ON TwZ_TrSIdDost = TrS_TrSIdDost AND TrS_Typ=1
				INNER JOIN (
							select (case TwrZP.Twr_JMCalkowite when 1 then CEILING(convert(decimal(15,4), sum(Ilosc))) else convert(decimal(15,4), sum(Ilosc)) end)  as Ilosc , DstID, TwrId --20180612 Ilość całkowita  dla produkcji w górę 
							from dbo.CTIProdukcjaDostawyNaZP(@zpId)--ZP
								INNER JOIN cdn.Towary TwrZP on TwrId = TwrZP.Twr_TwrId
							where doktyp in (3,5) and-- przychód i rozchód surowca
								( (@PrcId = 0)--dostawy bez pracownika
								or
								  ((@PrcId > 0) and PrcId = @PrcId)--PRC--konkretny pracownik
								)
							group by DstID, TwrId, TwrZP.Twr_JMCalkowite--, PrcId 
							) ZpDst on ISNULL(TrS_TrSIdDost,0) = DstID and ZpDst.TwrId = Twr.Twr_TwrId
				LEFT JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId
				LEFT JOIN cdn.TraNag ON TrN_TrNId =TrE_TrNId
			WHERE TwZ_MagId = @MagId AND (TrN_Korekta=0 or TrN_Korekta is null) 
			group by Twz_TwrId, ISNULL(TrS_TrSIdDost,0), Twr.Twr_JMCalkowite
			having case when  sum(TwZ_Ilosc) < sum(Ilosc) then sum(TwZ_Ilosc) else sum(Ilosc) end > 0
			order by Twz_TwrId, ISNULL(TrS_TrSIdDost,0)
		end



		--kursor
		if @ilosc > 0
		begin
			PRINT('ilosc > 0')

			DECLARE @CTE_TwrId int, @CTE_Ilosc decimal(15,4), @twr_kod varchar(40), @twr_JM nvarchar(20)
			DECLARE @iloscWykorzystana decimal(15,4)=0
			DECLARE @lp int=0, @IloscDostepna decimal(15,4)=0

			-- wedlug TH
			if @typ = 1
			begin
				PRINT('typ = 1')
				DECLARE kursor cursor FOR
				SELECT  CTE_TwrId 
				, (case Twr_JMCalkowite when 1 then convert(decimal(15, 4), CEILING(((@ilosc*sum(CTE_Ilosc))/ISNULL(ctn_ilosc,1)))) else ((@ilosc*sum(CTE_Ilosc))/ISNULL(ctn_ilosc,1)) end)  as CTE_Ilosc --20180612 Ilość całkowita  dla produkcji w górę 
				, twr_kod, twr_JM
				FROM dbo.CtiTechnolNag INNER JOIN dbo.CtiTechnolElem on ctn_id = Cte_ctnid INNER JOIN cdn.towary on CTE_TwrId = twr_twrid
				where CTE_CTNId = @THId and cte_typ in (1,2)
				group by CTE_TwrId, ISNULL(ctn_ilosc,1), twr_kod, twr_JM, Twr_JMCalkowite
				OPEN kursor
				FETCH kursor INTO @CTE_TwrId , @CTE_Ilosc,@twr_kod , @twr_JM

				while @@FETCH_STATUS = 0
				begin
					set @iloscWykorzystana = @CTE_Ilosc   
					DECLARE kursor2 cursor FOR --kursor po dostępnych zasobach
					SELECT  lp, IloscDostepna FROM #TmpM where TwrId = @CTE_TwrId 
					order by TwrId, lp asc, IloscDostepna desc
					OPEN kursor2

					FETCH NEXT FROM kursor2 INTO @lp, @IloscDostepna 
					while @@FETCH_STATUS = 0
						begin

						if(@iloscWykorzystana>0)
						begin
							if(@IloscDostepna>0 and @IloscDostepna<=@iloscWykorzystana)
							begin
								update #TmpM set IloscWykorzystana = @IloscDostepna where TwrId = @CTE_TwrId and lp = @lp
								set @iloscWykorzystana = @iloscWykorzystana-@IloscDostepna
							end
							else
							begin
								update #TmpM set IloscWykorzystana = @iloscWykorzystana where TwrId = @CTE_TwrId and lp = @lp
								set @iloscWykorzystana = 0
							end
						end    
						FETCH NEXT FROM kursor2 INTO @lp, @IloscDostepna 
						end
					CLOSE kursor2 deallocate kursor2

					if(@iloscWykorzystana > 0)
					begin 
						insert into #TmpM (LP, TwrId , IloscDostepna, IdDost,IloscWykorzystana )
						select (select Isnull(MAX(LP),0)+1 from #TmpM where LP = @lp), @CTE_TwrId, 0, 0, @iloscWykorzystana 
					end 

					FETCH kursor INTO @CTE_TwrId , @CTE_Ilosc, @twr_kod, @twr_JM
				end
				CLOSE kursor deallocate kursor
			end
			--koniec typ = 1
			else
			--wedlug ZP
			begin
				PRINT('typ <> 1')

				DECLARE kursor cursor FOR
				SELECT CZE_TwrId , 
				(case Twr_JMCalkowite when 1 
				then convert(decimal(15, 4), CEILING(@ilosc / CZN_Ilosc * CZE_Ilosc)) 
				else (@ilosc / CZN_Ilosc * CZE_Ilosc) end) as CTE_Ilosc
				, twr_kod, twr_JM
				FROM dbo.CtiZlecenieNag
				LEFT OUTER JOIN dbo.CtiZlecenieElem ON CZN_ID = CZE_CZNId 
				INNER JOIN CDN.Towary ON CZE_TwrId = Twr_TwrId
				WHERE CZE_CZNId = @ZPid and CZE_Typ in (1,2)
				OPEN kursor
				FETCH kursor INTO @CTE_TwrId , @CTE_Ilosc,@twr_kod , @twr_JM

				while @@FETCH_STATUS = 0
				begin
					set @iloscWykorzystana = @CTE_Ilosc   
					PRINT('Kod towaru: ' + @twr_kod);
					PRINT('Ilość towaru: ');
					PRINT(@CTE_Ilosc);

					DECLARE kursor2 cursor FOR --kursor po dostępnych zasobach
					SELECT lp, IloscDostepna FROM #TmpM where TwrId = @CTE_TwrId 
					order by TwrId, lp asc, IloscDostepna desc
					OPEN kursor2

					FETCH NEXT FROM kursor2 	INTO @lp, @IloscDostepna 
					while @@FETCH_STATUS = 0
					begin

						if(@iloscWykorzystana>0)
						begin
							PRINT('Wykorzystana > 0');

							if(@IloscDostepna>0 and @IloscDostepna<=@iloscWykorzystana)
							begin
								PRINT('Case 1');
								update #TmpM set IloscWykorzystana = @IloscDostepna where TwrId = @CTE_TwrId and lp = @lp
								set @iloscWykorzystana = @iloscWykorzystana-@IloscDostepna
							end
							else
							begin
								PRINT('Case 2');
								update #TmpM set IloscWykorzystana = IloscWykorzystana + @iloscWykorzystana where TwrId = @CTE_TwrId and lp = @lp
								set @iloscWykorzystana = 0
							end
						end    
						FETCH NEXT FROM kursor2 INTO @lp, @IloscDostepna 
					end
					CLOSE kursor2 deallocate kursor2

					if(@iloscWykorzystana > 0)
					begin 
						insert into #TmpM (LP, TwrId , IloscDostepna, IdDost,IloscWykorzystana )
						select  (select Isnull(MAX(LP),0)+1 from #TmpM where LP = @lp), @CTE_TwrId, 0, 0, @iloscWykorzystana 
					end 

					FETCH kursor INTO @CTE_TwrId , @CTE_Ilosc, @twr_kod, @twr_JM
				end
				CLOSE kursor deallocate kursor
		end
		--koniec typ <> 0
	end
	--koniec ilosc > 0
end
--koniec ZPid / zamienniki

-- SELECT -- szczegóły dostaw
select	TwrId, TwrKod, IloscDostepna
		, case CechaWartosc when '' then '' else
			case @cechaFormat when 4 then CONVERT(VARCHAR, dbo.CtiProdukcjaTSToDate(ISNULL(CechaWartosc,0),0), 23)--Cecha formatu Data
			else CechaWartosc end end as CechaWartosc

		, case Cecha2Wartosc when '' then '' else
			case @cecha2Format when 4 then CONVERT(VARCHAR, dbo.CtiProdukcjaTSToDate(ISNULL(Cecha2Wartosc,0),0), 23)--Cecha formatu Data
			else Cecha2Wartosc end end as Cecha2Wartosc

		, Cecha, Cecha2, Typ, Jm, nrCechy, nrCechy2
		, IdDost, IloscWykorzystana
		, DstDokNumer,  Data, TwrNazwa
		, MagazynKod
from
(
	select TwrId,twr_kod as TwrKod,IloscDostepna
		, case @cechaId  
			when ISNULL(TsC_Cecha1_DeAId,0) then  ISNULL(TsC_Cecha1_Wartosc,'')
			when ISNULL(TsC_Cecha2_DeAId,0) then  ISNULL(TsC_Cecha2_Wartosc,'')
			when ISNULL(TsC_Cecha3_DeAId,0) then  ISNULL(TsC_Cecha3_Wartosc,'')
			when ISNULL(TsC_Cecha4_DeAId,0) then  ISNULL(TsC_Cecha4_Wartosc,'')
			when ISNULL(TsC_Cecha5_DeAId,0) then  ISNULL(TsC_Cecha5_Wartosc,'')
			when ISNULL(TsC_Cecha6_DeAId,0) then  ISNULL(TsC_Cecha6_Wartosc,'')
			when ISNULL(TsC_Cecha7_DeAId,0) then  ISNULL(TsC_Cecha7_Wartosc,'')
			when ISNULL(TsC_Cecha8_DeAId,0) then  ISNULL(TsC_Cecha8_Wartosc,'')
			when ISNULL(TsC_Cecha9_DeAId,0) then  ISNULL(TsC_Cecha9_Wartosc,'')
			when ISNULL(TsC_Cecha10_DeAId,0) then  ISNULL(TsC_Cecha10_Wartosc,'')
			else '' end as CechaWartosc

		, case @cecha2Id  
			when ISNULL(TsC_Cecha1_DeAId,0) then  ISNULL(TsC_Cecha1_Wartosc,'')
			when ISNULL(TsC_Cecha2_DeAId,0) then  ISNULL(TsC_Cecha2_Wartosc,'')
			when ISNULL(TsC_Cecha3_DeAId,0) then  ISNULL(TsC_Cecha3_Wartosc,'')
			when ISNULL(TsC_Cecha4_DeAId,0) then  ISNULL(TsC_Cecha4_Wartosc,'')
			when ISNULL(TsC_Cecha5_DeAId,0) then  ISNULL(TsC_Cecha5_Wartosc,'')
			when ISNULL(TsC_Cecha6_DeAId,0) then  ISNULL(TsC_Cecha6_Wartosc,'')
			when ISNULL(TsC_Cecha7_DeAId,0) then  ISNULL(TsC_Cecha7_Wartosc,'')
			when ISNULL(TsC_Cecha8_DeAId,0) then  ISNULL(TsC_Cecha8_Wartosc,'')
			when ISNULL(TsC_Cecha9_DeAId,0) then  ISNULL(TsC_Cecha9_Wartosc,'')
			when ISNULL(TsC_Cecha10_DeAId,0) then  ISNULL(TsC_Cecha10_Wartosc,'')
			else '' end as Cecha2Wartosc

		, @cechaKod as Cecha
		, @cecha2Kod as Cecha2
		, case ISNULL(twa_deaid,0) when 0 then 2 else 1 end as Typ
		, Twr_JM as Jm
		, case @cechaId  
			when ISNULL(TsC_Cecha1_DeAId,0) then  1
			when ISNULL(TsC_Cecha2_DeAId,0) then  2
			when ISNULL(TsC_Cecha3_DeAId,0) then  3
			when ISNULL(TsC_Cecha4_DeAId,0) then  4
			when ISNULL(TsC_Cecha5_DeAId,0) then  5
			when ISNULL(TsC_Cecha6_DeAId,0) then  6
			when ISNULL(TsC_Cecha7_DeAId,0) then  7
			when ISNULL(TsC_Cecha8_DeAId,0) then  8
			when ISNULL(TsC_Cecha9_DeAId,0) then  9
			when ISNULL(TsC_Cecha10_DeAId,0) then  10
			else 0 end as nrCechy
		, case @cecha2Id  
			when ISNULL(TsC_Cecha1_DeAId,0) then  1
			when ISNULL(TsC_Cecha2_DeAId,0) then  2
			when ISNULL(TsC_Cecha3_DeAId,0) then  3
			when ISNULL(TsC_Cecha4_DeAId,0) then  4
			when ISNULL(TsC_Cecha5_DeAId,0) then  5
			when ISNULL(TsC_Cecha6_DeAId,0) then  6
			when ISNULL(TsC_Cecha7_DeAId,0) then  7
			when ISNULL(TsC_Cecha8_DeAId,0) then  8
			when ISNULL(TsC_Cecha9_DeAId,0) then  9
			when ISNULL(TsC_Cecha10_DeAId,0) then  10
			else 0 end as nrCechy2

		, IdDost,IloscWykorzystana
		, ISNULL(TrN_NumerPelny,'') as DstDokNumer
		, ISNULL(trn_datawys,GETDATE()) as Data
		, replace(Twr_Nazwa,char(10), ' ') as TwrNazwa
		, Mag_Symbol AS MagazynKod
	FROM #TmpM
		INNER JOIN CDN.Towary on TwrId = TWR_twrid   	
		LEFT JOIN cdn.TraSElem ON IdDost = TrS_TrSId AND TrS_Typ=1
		LEFT JOIN cdn.TraSElemCechy ON IdDost =TsC_TrSId 
		LEFT JOIN CDN.TwrAtrybuty on TwA_TwrID = TWR_twrid and TwA_DeAId = ( select DISTINCT TwA_DeAId from cdn.twratrybuty where TwA_DeAId = @cechaId)
		LEFT JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId 
		LEFT JOIN cdn.TraNag ON TrN_TrNId =TrE_TrNId
		LEFT JOIN CDN.Magazyny ON Mag_MagId = @MagId
	where @ilosc = 0 or  IloscWykorzystana > 0 
	
)a order by TwrKod,	case when IloscDostepna > 0 then 0 else 1 end,IdDost

drop table #TmpM











GO

# [dbo].[CTIProdukcjaDuplikatySesji]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaDuplikatySesji]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaDuplikatySesji]
@id int
AS
BEGIN
	--wycinanie starszych sesji duplikatów
	DECLARE kursor cursor FOR
			SELECT KnS_COId as OpeId,max(KnS_Id) as SesjaId FROM dbo.CtiKonfigSesja
			where KnS_Id <> @id --poza obecną sesją
			group by KnS_COId, KnS_Typ
			having count(*)> 1
	DECLARE @OpeId int, @SesjaId int OPEN kursor

	FETCH kursor INTO @OpeId,@SesjaId

	while @@FETCH_STATUS = 0
	begin
		delete from CtiKonfigSesja where  KnS_COId = @OpeId and KnS_Id <> @SesjaId
	            
		FETCH kursor INTO @OpeId, @SesjaId
	end

	CLOSE kursor deallocate     kursor

END
GO

# [dbo].[CTIProdukcjaDzialL]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaDzialL]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTIProdukcjaDzialL] 
@ZP int--0 wszystkie-- idZP pracownicy powiazani z ZP
AS
	declare @MagazynDomyslySurId int = 0
	declare @MagazynDomyslySur varchar(40) = '' 
	declare @MagazynDomyslyProdId int =0
	declare @MagazynDomyslyProd varchar(40) = '' 
	select @MagazynDomyslySurId = knf_wartosc from CtiKonfiguracja  where knf_numer = 8
	select @MagazynDomyslyProdId = knf_wartosc from CtiKonfiguracja  where knf_numer = 9
	select @MagazynDomyslySur = mag_symbol from cdn.magazyny where mag_magid = @MagazynDomyslySurId
	select @MagazynDomyslyProd = mag_symbol from cdn.magazyny where mag_magid = @MagazynDomyslyProdId

	SELECT DISTINCT CDZ_ID as ID, CDZ_Kod as Kod--DZIAL
		, case isnull(CDZ_MagSId,0) when 0 then '' else (select Mag_Symbol from cdn.magazyny where Mag_MagId =CDZ_MagSId) end  as MagSur
		, CDZ_MagSId As MagSurId
		, case isnull(CDZ_MagPId,0) when 0 then '' else (select Mag_Symbol from cdn.magazyny where Mag_MagId =CDZ_MagPId) end  as MagProd
		, CDZ_MagPId As MagProdId
	FROM dbo.CtiDzial
		LEFT JOIN dbo.CtiZleceniePrc ON CDZ_ID = isnull(CZO_PrcId,0)
	WHERE ((@ZP<>0  and isnull(CZO_CZNId,0) = @ZP)OR (@ZP = 0))
	order by CDZ_Kod
GO

# [dbo].[CTIProdukcjaGanttSelect]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaGanttSelect]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaGanttSelect]
@idZleceniaZlozonego int
AS
BEGIN
	SELECT CZZE_id as ID,0 as ParentId, dbo.CTIProdukcjaZlecenieNumer(CZN_ID) AS Title,
		Twr_Kod AS TwrKod, czn_opis as Opis,
		CZN_CzasStart as 'Start', CZN_CzasEnd as 'End',
		CZN_ID AS CZNID,CZZE_CZZNID as idZleceniaZlozonego,
		dbo.CTIProdukcjaStatusy(2, CZN_ID) AS Progress

	FROM dbo.CtiZlecenieZElem 
		INNER JOIN dbo.CtiZlecenieNag ON CZN_ID = CZZE_CZNID
		LEFT JOIN dbo.CtiTechnolNag ON CZN_CTNId = CtiTechnolNag.CTN_ID 
		LEFT JOIN CDN.Towary ON CZN_TwrId = Twr_TwrId
	where CZZE_CZZNID = @idZleceniaZlozonego
	order by CZZE_CZZNID, CZZE_Lp
END
GO

# [dbo].[CTIProdukcjaGanttUpdate]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaGanttUpdate]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaGanttUpdate]
@Title varchar(20),
@datStart varchar(20),
@datStop varchar(20)
AS
BEGIN
declare @Start datetime set @Start = convert(datetime, @datStart,120)
declare @End datetime set @End= convert(datetime, @datStop,120)

	declare @Start2 datetime
	declare @End2 datetime
	declare @komunikat varchar(200) = ''
	declare @ID int
	declare @status int
	select @ID = CZN_ID,@status = dbo.CTIProdukcjaStatusy(2, CZN_ID),
	@Start2 = CZN_CzasStart,@End2 = CZN_CzasEnd
	from dbo.CtiZlecenieNag where CZN_NrPelny = @Title
	
	if (@Start2 = @Start and @End2 = @End)
	begin
		set @komunikat ='-'
	end
	else
	begin
		if @status = 0
		begin
			update dbo.CtiZlecenieNag  set CZN_CzasStart= @Start, CZN_CzasEnd = @End
			from  dbo.CtiZlecenieNag where  CZN_ID = @ID
			set @komunikat = @Title+' - zapis zakończony poprawnie'
		end
		else
		begin
			set @komunikat = @Title+' - zapis niemożliwy zlecenie potwierdzone'
		end
	end
	
	select @komunikat as komunikat
END
GO

# [dbo].[CtiProdukcjaHistoriaDostawySurowca]

In [0]:
/****** Object:  StoredProcedure [dbo].[CtiProdukcjaHistoriaDostawySurowca]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CtiProdukcjaHistoriaDostawySurowca]
 @TwrID INT,
 @Typ INT,--typ 1 - surowiec--typ 2 produkt
 @dataOd varchar(20),
 @dataDo varchar(20),
 @prmWszystkie int

AS

declare @dane table (
	ID int IDENTITY (1, 1)  ,
	TrNId int,
	trEId int,
	twrid INT,
	twrkod NVARCHAR(50),
	NumerPelny NVARCHAR(30),
	NumerString NVARCHAR(30),
	NumerNr int,
	Korekta int,
	typdok  NVARCHAR(3),
	typdokumentu int,
	Data DateTime,
	Podmiot NVARCHAR(50),
	jm NVARCHAR(20),
	iloscjm DECIMAL(15,4),
	wartoscnetto DECIMAL(15,4),
	magazyn NVARCHAR(50),
	twrnazwa NVARCHAR(255),
	trs_trsiddost int,
	bufor int,
	vanid int,
	dekid int,
	Cecha1_DeAId int ,
	Cecha1_Kod NVARCHAR(20),
	Cecha1_Format smallint ,
	Cecha1_Wartosc NVARCHAR(255) ,
	Cecha2_DeAId int ,
	Cecha2_Kod NVARCHAR(20),
	Cecha2_Format smallint ,
	Cecha2_Wartosc NVARCHAR(255) ,
	CZN_ID int,
	CZN_NrPelny varchar(20),
	ProduktId int,
	ProduktKod NVARCHAR(50),
	listaPW varchar(1000),
	listaWZ varchar(1000),
	Cecha3_DeAId int ,
	Cecha3_Kod NVARCHAR(20),
	Cecha3_Format smallint ,
	Cecha3_Wartosc NVARCHAR(255),
	DokumentDostawy NVARCHAR(30)
)

	declare @KodCechy1 varchar(200) = (select top 1 knf_wartosc from dbo.CtiKonfiguracja where knf_numer = 5)
	declare @KodCechy2 varchar(200) = (select top 1 knf_wartosc from dbo.CtiKonfiguracja where knf_numer = 19)
	declare @idcechy1 int;
	declare @idcechy2 int;

	select DISTINCT @idcechy1 = TwA_DeAId from cdn.twratrybuty 
		INNER JOIN cdn.defatrybuty on TwA_DeAId = DeA_DeAId 
		INNER JOIN dbo.CtiKonfiguracja on KNF_Numer = 5 and DeA_Kod = KNF_Wartosc 
		where TwA_CzyPrzenosicNaDostawy = 1 and TwA_DeAId <> 0

	select DISTINCT @idcechy2 = TwA_DeAId from cdn.twratrybuty 
		INNER JOIN cdn.defatrybuty on TwA_DeAId = DeA_DeAId 
		INNER JOIN dbo.CtiKonfiguracja on KNF_Numer = 19 and DeA_Kod = KNF_Wartosc 
		where TwA_CzyPrzenosicNaDostawy = 1 and TwA_DeAId <> 0


if	(@typ = 1) 
begin
	insert into @dane(
		TrnId, TrEId,twrid,twrkod,NumerPelny, NumerString, NumerNr, Korekta,typdok,typdokumentu,Data,
		Podmiot,jm,iloscjm,wartoscnetto, magazyn, twrnazwa,trs_trsiddost,bufor,vanid,dekid,
		Cecha1_DeAId,Cecha1_Kod,Cecha1_Format,Cecha1_Wartosc,
		Cecha2_DeAId,Cecha2_Kod,Cecha2_Format,Cecha2_Wartosc,
		CZN_ID,CZN_NrPelny,ProduktId,ProduktKod,listaPW,listaWZ,
		Cecha3_DeAId,Cecha3_Kod,Cecha3_Format,Cecha3_Wartosc
		, DokumentDostawy
	)
	select distinct TrN_TrNId, TrE_TrEId,surowiec.twr_twrid, surowiec.twr_kod , Trn_NumerPelny, Trn_NumerString, Trn_NumerNr, TrN_Korekta , CDN.TypDokumentu(trn_typdokumentu),TrN_TypDokumentu,  trn_dataWys , Pod_kod ,
		 surowiec.twr_jm , case when Trn_TypDokumentu = 312 then ABS(trs_ilosc) else trs_ilosc end  as  trs_ilosc,
		 case when Trn_TypDokumentu = 312 then ABS(trs_wartosc)else case when trs_typ = 4 and trs_wartosc =0 then tre_wartoscnetto else trs_wartosc end end as trs_wartosc,
		 mag_symbol,replace(surowiec.Twr_Nazwa,char(10), ' '),trs_trsiddost,trn_bufor,trn_vanid,trn_dekid
		
		,@idcechy1, @KodCechy1, tsd_cecha1_format, dbo.CtiProdukcjaPobierzCecheDostawy(tsd_tsdid, 1)
		
		, TsD_Cecha2_DeAId , TsD_Cecha2_Kod, TsD_Cecha2_Format, TsD_Cecha2_Wartosc
		, CZN_ID, CZN_NrPelny
		, produkty.twr_twrid as ProduktId, produkty.twr_kod as ProduktKod
		, dbo.CTIProdukcjaListaPWzZP(ISNULL(CZN_ID,0),ISNULL(produkty.twr_twrid,0)) as listaPW
		, dbo.CTIProdukcjaListaWZzZP(ISNULL(CZN_ID,0),ISNULL(produkty.twr_twrid,0)) as listaWZ 
		, TsD_Cecha3_DeAId , TsD_Cecha3_Kod, TsD_Cecha3_Format, TsD_Cecha3_Wartosc
		, ISNULL(TsD_NumerPelny,Trn_NumerPelny)  as DokumentDostawy
	from cdn.traselem
		LEFT JOIN cdn.TraSElemDost on TsD_TrSIdDost = TrS_TrSIdDost and TsD_TrEId = TrS_TrEId
		join cdn.towary surowiec on trs_twrid = surowiec.twr_twrid
		join cdn.traelem on trs_treid = tre_treid
		join cdn.tranag on trn_trnid = tre_trnid
		join cdn.podmiotyview on pod_podmiottyp = trn_podmiottyp and pod_podid = trn_podid
		join cdn.magazyny on mag_magid = trs_magid
		LEFT JOIN dbo.CtiZlecenieDok on CZD_TrnId = TrN_TrNId and czd_typ <> 4
		LEFT JOIN dbo.CtiZlecenieNag on CZD_CZNId = CZN_ID
		LEFT JOIN cdn.towary as produkty on produkty.twr_twrid = CZN_TwrId
	where Trn_TypDokumentu IN (301,302,305,303,304,306,307, 312)
		and (surowiec.Twr_TwrID = @TwrID OR @TwrID=0)
		AND (TrN_Bufor in (0,1))
		and ISNULL(czd_typ,0) <> 4
		AND (TrN_Korekta in (0,1) or (Trn_TypDokumentu=312 and trs_ilosc>0))
			and (
				(ISNULL(@prmWszystkie,0) =0) 
				or
				(@prmWszystkie =1 and CONVERT(VARCHAR, ISNULL(trn_datawys, GETDATE()), 23)  BETWEEN CONVERT(VARCHAR, @dataOd, 23) AND CONVERT(VARCHAR, @dataDo, 23))
			)

end
else
begin
	insert into @dane(
		TrnId, TrEId,twrid,twrkod,NumerPelny, NumerString, NumerNr, Korekta,typdok,typdokumentu,Data,
		Podmiot,jm,iloscjm,wartoscnetto, magazyn, twrnazwa,trs_trsiddost,bufor,vanid,dekid,
		Cecha1_DeAId,Cecha1_Kod,Cecha1_Format,Cecha1_Wartosc,
		Cecha2_DeAId,Cecha2_Kod,Cecha2_Format,Cecha2_Wartosc,
		CZN_ID,CZN_NrPelny,ProduktId,ProduktKod,listaPW,listaWZ
		,Cecha3_DeAId,Cecha3_Kod,Cecha3_Format,Cecha3_Wartosc
		, DokumentDostawy
	)
	select distinct TrN_TrNId, TrE_TrEId,surowiec.twr_twrid, surowiec.twr_kod , Trn_NumerPelny, Trn_NumerString, Trn_NumerNr, TrN_Korekta , CDN.TypDokumentu(trn_typdokumentu),TrN_TypDokumentu,  trn_dataWys , Pod_kod ,
		 surowiec.twr_jm , case when Trn_TypDokumentu = 312 then ABS(trs_ilosc) else trs_ilosc end  as  trs_ilosc,
		 case when Trn_TypDokumentu = 312 then ABS(trs_wartosc)else case when trs_typ = 4 and trs_wartosc =0 then tre_wartoscnetto else trs_wartosc end end as trs_wartosc,
		 mag_symbol,replace(surowiec.Twr_Nazwa,char(10), ' '),trs_trsiddost,trn_bufor,trn_vanid,trn_dekid

		 ,@idcechy1, @KodCechy1, tsd_cecha1_format, dbo.CtiProdukcjaPobierzCecheDostawy(tsd_tsdid, 1)
		, TsD_Cecha2_DeAId , TsD_Cecha2_Kod, TsD_Cecha2_Format, TsD_Cecha2_Wartosc
		, CZN_ID, CZN_NrPelny
		, produkty.twr_twrid as ProduktId, produkty.twr_kod as ProduktKod
		, dbo.CTIProdukcjaListaPWzZP(ISNULL(CZN_ID,0),ISNULL(produkty.twr_twrid,0)) as listaPW
		, dbo.CTIProdukcjaListaWZzZP(ISNULL(CZN_ID,0),ISNULL(produkty.twr_twrid,0)) as listaWZ
		, TsD_Cecha3_DeAId , TsD_Cecha3_Kod, TsD_Cecha3_Format, TsD_Cecha3_Wartosc
		, ISNULL(TsD_NumerPelny,Trn_NumerPelny)  as DokumentDostawy
from cdn.traselem
		--left join cdn.traselemcechy on tsc_trsid = trs_trsid
		LEFT JOIN cdn.TraSElemDost on TsD_TrSIdDost = TrS_TrSIdDost and TsD_TrEId = TrS_TrEId
		join cdn.towary surowiec on trs_twrid = surowiec.twr_twrid
		join cdn.traelem on trs_treid = tre_treid
		join cdn.tranag on trn_trnid = tre_trnid
		join cdn.podmiotyview on pod_podmiottyp = trn_podmiottyp and pod_podid = trn_podid
		join cdn.magazyny on mag_magid = trs_magid
		LEFT JOIN dbo.CtiZlecenieDok on CZD_TrnId = TrN_TrNId
		LEFT JOIN dbo.CtiZlecenieNag on CZD_CZNId = CZN_ID
		LEFT JOIN cdn.towary as produkty on produkty.twr_twrid = CZN_TwrId
	where (Trn_TypDokumentu = 304)
		AND (TrN_Bufor in (0,1))
		and ISNULL(czd_typ,0) <> 4
		AND TrN_Bufor <> -1 AND TrN_Korekta in (0,1)
		and ((trs_trsiddost in 
		(select distinct trs_trsiddost
		from cdn.traselem
		left join cdn.traselemcechy on tsc_trsid = trs_trsid
		join cdn.traelem on trs_treid = tre_treid
		join cdn.tranag on trn_trnid = tre_trnid
		LEFT JOIN dbo.CtiZlecenieDok on CZD_TrnId = TrN_TrNId
		LEFT JOIN dbo.CtiZlecenieNag on CZD_CZNId = CZN_ID
		LEFT JOIN cdn.towary as produkty on produkty.twr_twrid = CZN_TwrId
		where (Trn_TypDokumentu IN (301,302,305,303,304,306,307 ) )
		and (CZN_TwrId = @TwrID)
		AND (TrN_Bufor in (0,1))
		and ISNULL(czd_typ,0) <> 4
		AND TrN_Bufor <> -1 AND TrN_Korekta in (0,1)))
			and (
				(ISNULL(@prmWszystkie,0) =0) 
				or
				(@prmWszystkie =1 and CONVERT(VARCHAR, ISNULL(trn_datawys, GETDATE()), 23)  BETWEEN CONVERT(VARCHAR, @dataOd, 23) AND CONVERT(VARCHAR, @dataDo, 23))
			)
		)
end


--SET NOCOUNT OFF
select distinct TrNId, TrEId, twrid,twrkod as 'kod',Korekta,typdok,typdokumentu, data, podmiot
	, jm as 'jm', iloscjm , wartoscnetto
	, 1 as 'poziom', magazyn,TwrNazwa as 'TwrNazwa', NumerPelny, NumerString, NumerNr
	, trs_trsiddost,bufor as bufor ,vanid as vanid,dekid
	, Cecha1_Kod as 'CechaKod1'  
	, case when ISNULL(cecha1_format,0) = 4 then CONVERT(VARCHAR, dbo.CtiProdukcjaTSToDate(ISNULL(cecha1_Wartosc,0),0), 23) else ISNULL(cecha1_Wartosc,'') end as wartosc1,Cecha1_Format as format1
	, Cecha2_Kod as 'CechaKod2'  
	, case when ISNULL(cecha2_format,0) = 4 then CONVERT(VARCHAR, dbo.CtiProdukcjaTSToDate(ISNULL(cecha2_Wartosc,0),0), 23) else ISNULL(cecha2_Wartosc,'') end as wartosc2
	, Cecha2_Format as format2
	, CZN_ID, CZN_NrPelny,ProduktId,ProduktKod,listaPW,listaWZ,Cecha3_Kod as 'CechaKod3' , Cecha3_Wartosc as wartosc3
	, DokumentDostawy
from @dane
order by kod,poziom,data,trs_trsiddost
--drop table @dane
GO

# [dbo].[CTIProdukcjaKnfNrWlasny]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaKnfNrWlasny]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaKnfNrWlasny]
 @typ int,
 @id int 

AS
BEGIN

	declare @def1 nvarchar(1000) = ''
	declare @def2 nvarchar(1000) = ''
	declare @def3 nvarchar(2000) = ''

	SELECT Top 1 
		 @def1= CASE ISNULL(KNW_DefinicjaSQL1,'') WHEN '' THEN '0'            ELSE ISNULL(KNW_DefinicjaSQL1,'') END	
		,@def2= CASE ISNULL(KNW_DefinicjaSQL2,'') WHEN '' THEN '1=1'          ELSE ISNULL(KNW_DefinicjaSQL2,'') END	
		,@def3= CASE ISNULL(KNW_DefinicjaSQL3,'') WHEN '' THEN 'Select '''''  ELSE ISNULL(KNW_DefinicjaSQL3,'') END	
	FROM dbo.CtiSlowniki 
		left join dbo.CtiKnfNrWlasny on S_Id = KNW_DokTyp and ISNULL(KNW_Domyslny,0)=1
	WHERE S_Typ = 1 and S_Id = @typ order by isnull(KNW_ID,0) desc


	declare @zapytanie nvarchar(4000)='

	declare @id int = '+cast(@id as varchar)+'
	declare @typ int = '+cast(@typ as varchar)+'
	declare @OstatniNumer int = 0

	select top 1 @OstatniNumer = isnull('+@def1+',0)
	from CtiProdukcjaNrWlasny where Typ = @typ and ID <> @id 
	and 
	( 
	'+@def2+'
	)

	'+@def3+'

	'


	execute (@zapytanie) 
END

GO

# [dbo].[CTIProdukcjaKonfigOgraniczeniaAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaKonfigOgraniczeniaAdd]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaKonfigOgraniczeniaAdd]
@IdList int,
--72 lista wyrobów
--71 lista surowców
--80 Lista pracowników
--308 Lista dok RO
@Parametr int,
--0-Grupa domyślna CDN.TwrGrupy
--1-AtrybutTwr CDN.DefAtrybuty
--2-Kategoria CDN.Kategorie
--3-Wydział CDN.Dzialy
--4-Stanowisko CDN.DaneKadMod
--5-Symbol
--6-AtrybutDok CDN.DokAtrybuty
--7-Data
@WartoscTxt varchar(250),
@WartoscAtrTxt nvarchar(100)
As
begin

	if (@Parametr = 0)--"Grupa domyślna"
	begin
		Insert Into dbo.CtiKonfigOgraniczenia (KnO_IdList, KnO_Parametr, KnO_WartoscId, KnO_WartoscTxt, KnO_WartoscAtrTxt)
		SELECT distinct @IdList,@Parametr, twg_TwgId,TwG_Kod,@WartoscAtrTxt FROM CDN.TwrGrupy 
		WHERE ((TwG_GIDTyp = -16) AND (TwG_GIDTyp = -16)) and TwG_Kod = @WartoscTxt
	end
	else if (@Parametr = 1)--"TWR Atrybut"
	begin
		Insert Into dbo.CtiKonfigOgraniczenia (KnO_IdList, KnO_Parametr, KnO_WartoscId, KnO_WartoscTxt, KnO_WartoscAtrTxt)
		SELECT distinct @IdList,@Parametr, DEA_DEAId,DeA_Kod,@WartoscAtrTxt FROM CDN.DefAtrybuty 
		WHERE DeA_Typ =1 and DeA_Kod = @WartoscTxt
	end
	else if (@Parametr = 2)--"Kategoria"
	begin
		Insert Into dbo.CtiKonfigOgraniczenia (KnO_IdList, KnO_Parametr, KnO_WartoscId, KnO_WartoscTxt, KnO_WartoscAtrTxt)
		SELECT distinct @IdList,@Parametr,Kat_Katid ,Kat_KodSzczegol,@WartoscAtrTxt FROM CDN.Kategorie  
		WHERE  Kat_KodSzczegol = @WartoscTxt
		
	end
	else if (@Parametr = 3)--"Wydział"
	begin
		Insert Into dbo.CtiKonfigOgraniczenia (KnO_IdList, KnO_Parametr, KnO_WartoscId, KnO_WartoscTxt, KnO_WartoscAtrTxt)
		SELECT distinct @IdList,@Parametr, DZL_DZlID,DZL_Kod,@WartoscAtrTxt FROM CDN.Dzialy A LEFT JOIN CDN.Lokalizacje B 
		ON B.Lok_LokId = A.DZL_LokId  where DZL_Kod <> 'brak'  and DZL_Kod = @WartoscTxt
	end
	else if (@Parametr = 4)--"Stanowisko"
	begin
		Insert Into dbo.CtiKonfigOgraniczenia (KnO_IdList, KnO_Parametr, KnO_WartoscId, KnO_WartoscTxt, KnO_WartoscAtrTxt)
		SELECT distinct @IdList,@Parametr, DKM_DKMId,DKM_Nazwa,@WartoscAtrTxt FROM CDN.DaneKadMod 
		WHERE (DKM_Rodzaj = 1)  and DKM_Nazwa = @WartoscTxt
	end
	else if (@Parametr = 5)--"Symbol"
	begin
		Insert Into dbo.CtiKonfigOgraniczenia (KnO_IdList, KnO_Parametr, KnO_WartoscId, KnO_WartoscTxt, KnO_WartoscAtrTxt)
		values ( @IdList,@Parametr, 0,@WartoscTxt,@WartoscAtrTxt)
	end
	else if (@Parametr = 6)--"DOK Atrybut"
	begin
		Insert Into dbo.CtiKonfigOgraniczenia (KnO_IdList, KnO_Parametr, KnO_WartoscId, KnO_WartoscTxt, KnO_WartoscAtrTxt)
		SELECT distinct @IdList,@Parametr, DEA_DEAId,DeA_Kod,@WartoscAtrTxt FROM CDN.DefAtrybuty 
		WHERE DeA_Typ = 4 and DeA_Kod = @WartoscTxt
	end
	else if (@Parametr = 7)--"Data wystawienia od"
	begin
		Insert Into dbo.CtiKonfigOgraniczenia (KnO_IdList, KnO_Parametr, KnO_WartoscId, KnO_WartoscTxt, KnO_WartoscAtrTxt)
		values ( @IdList,@Parametr, 0,@WartoscTxt,@WartoscAtrTxt)
	end

end
GO

# [dbo].[CTIProdukcjaKonfiguracjaAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaKonfiguracjaAdd]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaKonfiguracjaAdd]
@1 varchar(200),
@2 varchar(200),
@3 varchar(200),
@4 varchar(200),
@5 varchar(200),
@6 varchar(200),
@7 varchar(200),
@8 varchar(200),
@9 varchar(200),
@10 varchar(200),
@11 varchar(200),
@12 varchar(200),
@13 varchar(200),
@14 varchar(200),
@15 varchar(200),
@16 varchar(200),
@17 varchar(200),
@19 varchar(200),
--@20 varchar(200),
@21 varchar(200),
@23 varchar(200),
@24 varchar(200),
@25 varchar(200),
@26 varchar(2),
@27 varchar(2),
@28 varchar(2),
--@29 varchar(200),
@30 varchar(2),
@31 varchar(2),
@32 varchar(2),
@33 varchar(2),
@34 varchar(2),
@61 varchar(2),
@62 varchar(2),
@63 varchar(2),
@64 varchar(2),
@65 varchar(2),
@66 varchar(2),
@67 varchar(2),
@68 varchar(2),
--@69 varchar(200),
@90 varchar(20),
@91 varchar(20)


AS
BEGIN
declare @info nvarchar(200) = ''


	DELETE FROM dbo.CtiKonfiguracja where 
	( KNF_Numer between 1 and 34 and KNF_Numer not in (18,22,20,29)) 
	or KNF_Numer between 61 and 68 --nie usuwać 69 do ustawienia ręcznie 
	or Knf_numer between 90 and 99 

	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(1,@1,'Logowanie OPTIMA - Operator')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(2,@2,'Logowanie OPTIMA - Hasło')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(3,@3,'Logowanie OPTIMA - Nazwa Firmy')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(4,@4,'Parametr obsługa cech')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(5,@5,'Nazwa Cechy Dostawy')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(6,@6,'Symbol Dokumentu Wydania')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(7,@7,'Parametr - wydanie z podziałem na pracowników')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(8,@8,'Magazyn domyślny surowców')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(9,@9,'Magazyn domyślny produktów')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(10,@10,'Id Dokumentu Wydania ')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(11,@11,'Rodzaj Dokumentu Wydania')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(12,@12,'Symbol Dokumentu Wydania do produkcji ')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(13,@13,'Id Dokumentu Wydania do produkcji ')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(14,@14,'Rodzaj Dokumentu Wydania do produkcji ')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(15,@15,'Symbol Dokumentu Przyjęcia ')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(16,@16,'Id Dokumentu Przyjęcia ')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(17,@17,'Rodzaj Dokumentu Przyjęcia ')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(19,@19,'Nazwa Cechy2 Daty ')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	--(20,@20,'Parametr - stara cena ewidencyjna')
	--INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(21,@21,'Parametr - Definiowanie cech na technologii wykorzystywane przy tworzeniu produktu. ')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(23,@23,'Definicja Cechy1 ')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(24,@24,'Definicja Cechy2 ')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(25,@25,'Parametr - Czy obsługa programu Montaż ')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(26,@26,'Parametr - Zapis dokumentów do bufora ')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(27,@27,'Parametr - Czy obsługa zasobów produkcyjnych')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(28,@28,'Parametr - Czy obsługa zleceń złożonych')
	--INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	--(29,@29,'Parametr -  ')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(30,@30,'Parametr - Czy obsługa realizacji częściowej')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(31,@31,'Parametr - Czy obsługa realizacji całkowitej')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(32,@32,'Ilość miejsc po przecinku dla Produktów')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(33,@33,'Ilość miejsc po przecinku dla Zasobów produkcyjnych')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(34,@34,'Ilość miejsc po przecinku dla Surowców')
		if(cast(@61 as int) = 1)		set @info = '1.	Brak przydzielenia'
		else if(cast(@61 as int) = 2)	set @info = '2.	Przydzielenie pracownika i ilość'
		else if(cast(@61 as int) = 3)	set @info = '3.	Przydzielenie pracownik bez ilości'
		else if(cast(@61 as int) = 4)	set @info = '4.	Przydzielenie Wydział/Kadry'
		else							set @info = 'Parametr – Przydzielenie do ZP'

	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(61,@61,@info)
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(62,@62,'Parametr - Obsługa magazynu – wydanie surowca ')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(63,@63,'Parametr - Obsługa magazynu – kontrola wyrobu ')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(64,@64,'Parametr - Automatyczne blokowanie zleceń po wygenerowaniu PW ')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(65,@65,'Parametr - Automatyczna blokada MM na ZP po wygenerowaniu MM na wszystkie surowce')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(66,@66,'Parametr - Kontrola zgodnościdostaw podczas Realizacji (RW)')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(67,@67,'Parametr - Modyfikacja elementów na dokumentach MM')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(68,@68,'Parametr - Modyfikacja czasu pracy zasobu na ZP')

	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(90,@90,'Kategoria RW')
	INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	(91,@91,'Kategoria PW')
	--INSERT INTO dbo.CtiKonfiguracja(KNF_Numer,KNF_Wartosc,KNF_Opis)VALUES
	--(9,@9,'zapas')

	
END

GO

# [dbo].[CTIProdukcjaKonfiguracjaCenyAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaKonfiguracjaCenyAdd]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaKonfiguracjaCenyAdd]
	@35 int, --Parametr cenaEwidencyjna_cena 
	@36 int, --Parametr cenaKalkulacyjna 
	@37 int, --Parametr doliczajSurowice 
	@380 int, --Parametr Surowce 
		--1.	Parametr - Według technologii
		--2.	Parametr - Według faktycznego zużycia
	@38 int, --Parametr Surowce 
		--1 --Parametr Koszty według cena zakupu OPTIMA
		--2 --Parametr Koszty według cena według cennika OPTIMA 
		--3 --Parametr Koszty według stała cena 
		--4 --Parametr Koszty według stała cena z kartoteki 
	@39 decimal(15,4), --Wartosc Surowce 
	@40 int, --Parametr doliczajOdpady  
	@410 int, --Parametr Odpady 
		--1.	Parametr - Według technologii
		--2.	Parametr - Według faktycznego zużycia
	@41 int, --Parametr Odpady  
		--1 --Parametr Koszty według cena zakupu OPTIMA
		--2 --Parametr Koszty według cena według cennika OPTIMA 
		--3 --Parametr Koszty według stała cena 
		--4 --Parametr Koszty według stała cena z kartoteki 
	@42 decimal(15,4), --Wartosc Odpady  
	@43 int, --Parametr doliczajZasoby  
	@44 int, --Parametr KosztyTechnologii 
		--1.	Parametr - Według technologii
		--2.	Parametr - Według faktycznego zużycia
	@45 int, --Parametr KosztyCzasuPracy   
	@46 int, --Parametr KosztyUzbrojenia 
	@47 int, --Parametr KosztyRozbrojenia 
	@48 int, --Parametr doliczajNarzuty   
	@49 int, --Parametr Narzuty 
		--1 --Parametr w zależności od wartości wyrobu gotowego
		--2 --Parametr uzależniony od masy wyrobu gotowego
		--3 --Parametr przypisany w kartotece wyrobu gotowego
		--4 --Parametr Przypisany w polu specjalnym:
	@50 decimal(15,4), --Wartosc Narzuty 
	@51 int, --Parametr kosztyKooperacji   
	@520 int, --Parametr Kooperacji 
		--1.	Parametr - Według technologii
		--2.	Parametr - Według faktycznego zużycia
	@52 int, --Parametr Kooperacji   
		--1 --Parametr Koszty według cena zakupu OPTIMA
		--2 --Parametr Koszty według cena według cennika OPTIMA 
		--3 --Parametr Koszty według stała cena 
		--4 --Parametr Koszty według stała cena z kartoteki 
	@53 decimal(15,4), --Wartosc Kooperacji   
	@54 int, --Parametr cenaStala  
	@55 int, --Parametr cenyStalej  
	--1 --Parametr wprowadzenie ręcznie ceny na PW 
	--2 --Parametr cena pobrana z pola specjalnego
	@56 decimal(15,4), --Wartosc cenyStalej  
	@350 decimal(15,4), --Wartosc cenyEwidencyjnej
	@57 int, --Parametr Edycja Ceny ewidencyjnej na potwierdzonym TH
	@58 int, --Parametr – Doliczenie ceny Kooperacji z dokumentu ZP.
	@1012 int -- gdy @35 = 3, to tutaj będzie ID domyślnego cennika
AS
BEGIN
declare @info nvarchar(200) = ''
	DELETE FROM [dbo].[CtiKonfiguracja] where (KNF_Numer between 35 and 60) or KNF_Numer in (380,410,520,350,1011,1012)

		if(cast(@35 as int) = 1)
			set @info = '1. Parametr - cena ewidencyjna wg technologii'
		else if(cast(@35 as int) = 2)
			set @info = '2.	Parametr - cena ewidencyjna z cennika'
		else if (cast(@35 as int) = 3)
			set @info = '3. Parametr - cena ewidencyjna z ZP'
		else	
			set @info = 'Parametr - cena ewidencyjna'
	INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
	(35,@35,@info)
	INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
	(350,@350,'Wartosc - ceny ewidencyjnej')

	INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
	(36,@36,'Parametr - cena kalkulacyjna  ')

	INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
	(37,@37,'Parametr - doliczaj surowice ')
	
		if(cast(@380 as int) = 1)
			set @info = '1. Parametr - wg technologii'
		else if(cast(@380 as int) = 2)
			set @info = '2.	Parametr - Według faktycznego zużycia'
		else	
			set @info = 'Parametr surowce'
		INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
		(380,@380,@info)
		if(cast(@38 as int) = 1)
			set @info = '1. Parametr - wg zużycia cena zakupu'
		else if(cast(@38 as int) = 2)
			set @info = '2. Parametr – wg według cennika '
		else if(cast(@38 as int) = 3)
			set @info = '3. Parametr – wg stałej ceny '
		else if(cast(@38 as int) = 4)
			set @info = '4 Parametr – wg stałej ceny z kartoteki surowca'
		else	
			set @info = 'Parametr surowce'
		INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
		(38,@38,@info)
		if(cast(@38 as int) = 2)
			set @info = '2. Wartość – wg według cennika '
		else if(cast(@38 as int) = 3)
			set @info = '3. Wartość – wg stałej ceny '	
		else	
			set @info = 'Wartość surowce'
		INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
		(39,@39,@info)

	INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
	(40,@40,'Parametr - doliczaj odpady  ')
		if(cast(@410 as int) = 1)
			set @info = '1. Parametr - wg technologii'
		else if(cast(@410 as int) = 2)
			set @info = '2.	Parametr - Według faktycznego zużycia'
		else	
			set @info = 'Parametr odpady'
		INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
		(410,@410,@info)
		if(cast(@41 as int) = 1)
			set @info = '1. Parametr - wg zużycia cena zakupu'
		else if(cast(@41 as int) = 2)
			set @info = '2. Parametr – wg według cennika '
		else if(cast(@41 as int) = 3)
			set @info = '3. Parametr – wg stałej ceny '
		else if(cast(@41 as int) = 4)
			set @info = '4. Parametr – wg stałej ceny z kartoteki surowca'
		else	
			set @info = 'Parametr odpady'
		INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
		(41,@41,@info)
		if(cast(@41 as int) = 2)
			set @info = '2. Wartość – wg według cennika '
		else if(cast(@41 as int) = 3)
			set @info = '3. Wartość – wg stałej ceny '	
		else	
			set @info = 'Wartość odpady'
		INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
		(42,@42,@info)

	INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
	(43,@43,'Parametr - doliczaj zasoby ')
		if(cast(@44 as int) = 1)
			set @info = '1. Parametr - wg technologii'
		else if(cast(@44 as int) = 2)
			set @info = '2.	Parametr - Według faktycznego zużycia'
		else	
			set @info = 'Parametr zasoby'
	INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
	(44,@44,@info)
	INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
	(45,@45,'1. Parametr - wg kosztów czasu pracy  ')
	INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
	(46,@46,'2. Parametr - wg kosztów uzbrojenia')
	INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
	(47,@47,'3. Parametr - wg kosztów rozbrojenia')

	INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
	(48,@48,'Parametr - doliczaj narzuty wydziałowe  ')
		if(cast(@49 as int) = 1)
			set @info = '1 Parametr - w zależności od wartości wyrobu gotowego '
		else if(cast(@49 as int) = 2)
			set @info = '2.	Parametr - uzależniony od masy wyrobu gotowego '	
		else if(cast(@49 as int) = 3)
			set @info = '3.	Parametr - przypisany w kartotece wyrobu gotowego '	
		else if(cast(@49 as int) = 4)
			set @info = '4.	Parametr - Przypisany w polu specjalnym '	
		else	
			set @info = 'Parametr narzuty wydziałowe'
		INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
		(49,@49,@info)
		if(cast(@49 as int) = 1)
			set @info = '1 Wartość - w zależności od wartości wyrobu gotowego '
		else if(cast(@49 as int) = 2)
			set @info = '2.	Wartość - uzależniony od masy wyrobu gotowego '	
		else if(cast(@49 as int) = 3)
			set @info = '3.	Wartość - przypisany w kartotece wyrobu gotowego '	
		else if(cast(@49 as int) = 4)
			set @info = '4.	Wartość - Przypisany w polu specjalnym '	
		else	
			set @info = 'Wartość narzuty wydziałowe'
		INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
		(50,@50,@info)

	INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
	(51,@51,'Parametr – koszty kooperacji ')
		if(cast(@520 as int) = 1)
			set @info = '1. Parametr - wg technologii'
		else if(cast(@520 as int) = 2)
			set @info = '2.	Parametr - Według faktycznego zużycia'
		else	
			set @info = 'Parametr kooperacja'
		INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
		(520,@520,@info)
		if(cast(@52 as int) = 1)
			set @info = '1. Parametr - wg zużycia cena zakupu'
		else if(cast(@52 as int) = 2)
			set @info = '2. Parametr – wg według cennika '
		else if(cast(@52 as int) = 3)
			set @info = '3. Parametr – wg stałej ceny '
		else if(cast(@52 as int) = 4)
			set @info = '4 Parametr – wg stałej ceny z kartoteki surowca'
		else	
			set @info = 'Parametr kooperacja'
		INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
		(52,@52,@info)
		if(cast(@52 as int) = 2)
			set @info = '2. Wartość – wg według cennika '
		else if(cast(@52 as int) = 3)
			set @info = '3. Wartość – wg stałej ceny '	
		else	
			set @info = 'Wartość surowce'
		INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
		(53,@53,@info)
	INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
	(54,@54,'Parametr - cena stała  ')
		if(cast(@55 as int) = 3)
			set @info = '1.	Parametr – wprowadzenie ręcznie ceny na PW  '
		else if(cast(@55 as int) = 4)
			set @info = '2.	Parametr – cena pobrana z pola specjalnego '	
		else	
			set @info = 'Parametr ceny stałej'
		INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
		(55,@55,@info)
		if(cast(@55 as int) = 4)
			set @info = '2.	Wartość – cena pobrana z pola specjalnego '	
		else	
			set @info = 'Wartość ceny stałej'
		INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
		(56,@56,@info)

		
	INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
	(57,@57,'57.	Parametr - Edycja Ceny ewidencyjnej na potwierdzonym TH')
	INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
	(58,@58,'58.	Parametr – Doliczenie ceny Kooperacji z dokumentu ZP')
	INSERT INTO [dbo].[CtiKonfiguracja]([KNF_Numer],[KNF_Wartosc],[KNF_Opis])VALUES
	(1012,@1012,'1012.	Parametr – Domyślna cena na dokumencie ZP')
END

GO

# [dbo].[CTIProdukcjaKonfiguracjaCenyKal]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaKonfiguracjaCenyKal]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

	declare @typ int = 72
		-- zasob - 70
		-- surowiec - 71
		-- wyrob/produkt - 72
		-- odpad - 73
		-- usługa kooperacja - 74
		-- narzut wydziałowy - 75
	declare @id int = 0 
	declare @ilosc decimal(15,4) = 2
	declare @cenaReczna decimal(15,4) = 0 -- przekazana cena  wprowadzana ręczna
	declare @TH int = 0--cena ewidencyjna, zasoby, surowce, usługi
	declare @RW int = 0--dla surowców
	declare @PW int = 0--dla odpadów
	declare @ZP int = 0--dla zasobów
	declare @wartosc decimal(15,4) = 0
	exec dbo.CTIProdukcjaKonfiguracjaCenyKal @typ, @id, @ilosc, @cenaReczna, @TH, @PW, @RW,@ZP,  @wartosc OUTPUT
	select @wartosc

*/

create procedure [dbo].[CTIProdukcjaKonfiguracjaCenyKal]
  @typ int
	-- zasob - 70
	-- surowiec - 71
	-- wyrob/produkt - 72
	-- odpad - 73
	-- usługa kooperacja - 74
	-- narzut wydziałowy - 75

, @id int
, @ilosc decimal(15,4)
, @cenaReczna decimal(15,4)		-- przekazana cena  wprowadzana ręczna, wartość pola specjalnego
, @TH int		--wyrob - cena ewidencyjna z technologii
, @RW int		--faktyczne zużycie surowców
, @PW int		--faktyczne zużycie odpadów
, @ZP int		--planowane zużycie
, @wartosc decimal(15,4) = 0 OUTPUT
, @opcjaCenZasobow int = NULL
as
begin
set @wartosc = 0 

	declare @wartoscPrzekazana decimal(15,4) = 0 

	if (@typ = 72) -----------------------------------------------wyrob
	begin
		declare @35 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =35) --Parametr cenaEwidencyjna_cena 
	
		declare @54 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =54) --Parametr cenaStala  
			declare @55 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =55) --Parametr cenyStalej  
			--1 --Parametr wprowadzenie ręcznie ceny na PW 
			--2 --Parametr cena pobrana z pola specjalnego
			declare @56 decimal(15,4)   = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =56) --Wartosc cenyStalej  
		declare @36 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =36) --Parametr cenaKalkulacyjna 
			declare @37 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =37) --Parametr doliczajSurowice 
			declare @40 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =40) --Parametr doliczajOdpady  
			declare @43 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =43) --Parametr doliczajZasoby  
			declare @48 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =48) --Parametr doliczajNarzuty  
			declare @51 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =51) --Parametr kosztyKooperacji   
			declare @58 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =58) --Parametr Kooperacja z ZP   

			if (@54 = 1)---------
			begin
				
				if(@55 in (1,2)) select @wartosc = isnull(@cenaReczna,0)
				set @wartosc = isnull(CONVERT(decimal(15,4),( @wartosc * @ilosc)) ,0)

				PRINT('@54 = 1')
				PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))

			end
			else if(@36 = 1)--------------kalkulacja ceny
			begin
				if(@37 = 1) -----------------------------------------------surowce
				begin

					set @wartoscPrzekazana = 0
					declare @380 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =380) 
						--Parametr Surowce 
						--1.	Parametr - ilosc Według technologii
						--2.	Parametr - ilosc Według faktycznego zużycia
					if(@380 = 1)
					begin
						exec dbo.CTIProdukcjaKonfiguracjaCenyPozycjiDok 71, 1, @TH, @wartoscPrzekazana OUTPUT, @ilosc
						set @wartosc = @wartosc +  isnull(CONVERT(decimal(15,4),( @wartoscPrzekazana)),0)
					end
					else if(@380 = 2)
					begin
						exec dbo.CTIProdukcjaKonfiguracjaCenyPozycjiDok 71, 5, @RW, @wartoscPrzekazana OUTPUT, @ilosc
						set @wartosc = @wartosc + isnull(CONVERT(decimal(15,4),( @wartoscPrzekazana)),0)
					end
					else
						set @wartosc = @wartosc +0

					PRINT('@37 = 1')
					PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
				end

				if(@40 = 1) -----------------------------------------------odpad
				begin
					set @wartoscPrzekazana = 0
					declare @410 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =410) --Parametr Odpady 
						--1.	Parametr - Według technologii
						--2.	Parametr - Według faktycznego zużycia
					if(@410 = 1)
					begin
						exec dbo.CTIProdukcjaKonfiguracjaCenyPozycjiDok 73, 1, @TH, @wartoscPrzekazana OUTPUT, @ilosc
						set @wartosc = @wartosc - isnull(CONVERT(decimal(15,4),( @wartoscPrzekazana)),0)
					end
					else if(@410 = 2)
					begin
						exec dbo.CTIProdukcjaKonfiguracjaCenyPozycjiDok 73, 4, @PW, @wartoscPrzekazana OUTPUT, @ilosc
						set @wartosc = @wartosc -  isnull(CONVERT(decimal(15,4),( @wartoscPrzekazana)),0)
					end
					else
						set @wartosc = @wartosc +0

					PRINT('@40 = 1')
					PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
				end
				
				if(@51 = 1) -----------------------------------------------usługa
				begin
					set @wartoscPrzekazana = 0
					declare @520 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =520) --Parametr Kooperacji 
						--1.	Parametr - Według technologii
						--2.	Parametr - Według faktycznego zużycia
					if(@520 = 1)
					begin
						exec dbo.CTIProdukcjaKonfiguracjaCenyPozycjiDok 74, 1, @TH, @wartoscPrzekazana OUTPUT, @ilosc
						set @wartosc = @wartosc +   isnull(CONVERT(decimal(15,4),( @wartoscPrzekazana)),0)
					end
					else
						set @wartosc = @wartosc +0
					--else if(@520 = 2)
					--begin
					--	exec dbo.CTIProdukcjaKonfiguracjaCenyPozycjiDok 74, 5, @PW, @wartoscPrzekazana OUTPUT
					--	set @wartosc = @wartosc +  isnull(CONVERT(decimal(15,4),( @wartoscPrzekazana)),0)
					--end

					PRINT('@51 = 1')
					PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
				end
				
				if(@43 = 1) -----------------------------------------------zasob
				begin
					set @wartoscPrzekazana = 0
					exec dbo.CTIProdukcjaKonfiguracjaCenyKal 70, 0, @ilosc, 0, 0,0,0, @ZP, @wartoscPrzekazana OUTPUT, @opcjaCenZasobow
					set @wartosc = @wartosc +   isnull(CONVERT(decimal(15,4),( @wartoscPrzekazana)),0)

					PRINT('@43 = 1')
					PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
				end

				if(@48 = 1) -----------------------------------------------narzut
				begin
					declare @49 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =49) --Parametr Narzuty 
						--1 --Parametr w zależności od wartości wyrobu gotowego
						--2 --Parametr uzależniony od masy wyrobu gotowego
						--3 --Parametr przypisany w kartotece wyrobu gotowego
						--4 --Parametr Przypisany w polu specjalnym:
					--declare @50 decimal(15,4)  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =50) --Wartosc Narzuty 
					if (@49 = 3)
					begin
						set @wartoscPrzekazana = 0
						set @wartoscPrzekazana = isnull((select isnull(ctwr_narzut,0) from dbo.CtiTowary where ctwr_twrid = @id) ,0)
						set @wartosc = @wartosc +  isnull(CONVERT(decimal(15,4),( @wartoscPrzekazana * @ilosc)) ,0)
					end
					else if (@49 = 4)
					begin
						set @wartosc = @wartosc +  isnull(CONVERT(decimal(15,4),( @cenaReczna * @ilosc)) ,0)
					end
					else
						set @wartosc = @wartosc +0

					PRINT('@48 = 1')
					PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
				end
				
				if(@58 = 1) -----------------------------------------------kooperacja z ZP
				begin
					--set @wartoscPrzekazana = 0
					--set @wartoscPrzekazana = isnull((select sum(isnull(cze_ilosc,0)*isnull(cze_cena,0)) as Wartosc from dbo.CtiZlecenieElem where cze_cznid = @ZP) ,0)
					--set @wartosc = @wartosc +  isnull(CONVERT(decimal(15,4),@wartoscPrzekazana) ,0)

					PRINT('@58 = 1')
					PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
				end


			end else--if(@35=1)----------------cena ewidencyjna
			begin
				if (@35 = 3) -------- z ZP
				begin
					-- domyslna
					declare @1012 int = (select isnull(KNF_Wartosc,1) from dbo.CtiKonfiguracja where KNF_Numer = 1012)
					if (@1012 <= 0)
					begin
						set @1012 = 1;
					end
	
					-- wybrana
					declare @wybranaCenaZP int = (select isnull(CZN_CenaID, @1012) from dbo.CtiZlecenieNag WHERE CZN_ID = @ZP)
					set @wartosc = isnull((select isnull(TwC_Wartosc,0) from cdn.TwrCeny where TwC_TwrID = @id and TwC_TwCNumer = @wybranaCenaZP),0)
					set @wartosc = isnull(CONVERT(decimal(15,4),( @wartosc * @ilosc)) ,0)	
					
					PRINT('@35 = 3')
					PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))			
				end
				else if (@35 = 2)---------z cennika
				begin
					declare @350 decimal(15,4)  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =350) --wartosc ceny ewidencyjnej
					set @wartosc = isnull((select isnull(TwC_Wartosc,0) from cdn.TwrCeny where TwC_TwrID = @id and TwC_TwCNumer = @350),0)
					set @wartosc = isnull(CONVERT(decimal(15,4),( @wartosc * @ilosc)) ,0)

					PRINT('@35 = 2')
					PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
				end
				else-- z technologii
				begin
					select @wartosc = isnull(CTN_CenaEwidencyjna,0) from dbo.CtiTechnolNag where ctn_id = @TH
					set @wartosc = isnull(CONVERT(decimal(15,4),( @wartosc * @ilosc)) ,0)

					PRINT('@35 = 1')
					PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
				end
			end
	end
	else if (@typ = 71)-----------------------------------------------surowce
	begin
		declare @38 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =38) --Parametr Surowce 
			--1 --Parametr Koszty według cena RW
			--2 --Parametr Koszty według cena według cennika OPTIMA 
			--3 --Parametr Koszty według stała cena 
			--4 --Parametr Koszty według stała cena z kartoteki 
		declare @39 decimal(15,4)  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =39) --Wartosc Surowce 


			if(@38 = 1)--
			begin
				set @wartosc = isnull((select sum(TrE_WartoscNetto)  from cdn.TraElem where TrE_TypDokumentu = 304 and TrE_TrNId = @RW) ,0)

				PRINT('@38 = 1')
				PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
			end
			else if(@38 = 2)
			begin
				set @wartosc = isnull((select isnull(TwC_Wartosc,0) from cdn.TwrCeny where TwC_TwrID = @id and TwC_TwCNumer = @39),0)
				set @wartosc = isnull(CONVERT(decimal(15,4),( @wartosc * @ilosc)) ,0)

				PRINT('@38 = 2')
				PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
			end
			else if(@38 = 3)
			begin
				set @wartosc = isnull(CONVERT(decimal(15,4),( @39 * @ilosc)) ,0)

				PRINT('@38 = 3')
				PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
			end
			else if(@38 = 4)
			begin
				set @wartosc = isnull((select isnull(CTwr_Cena,0) from dbo.CtiTowary where CTwr_TwrId = @id) ,0)
				set @wartosc = isnull(CONVERT(decimal(15,4),( @wartosc * @ilosc)) ,0)

				PRINT('@38 = 4')
				PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
			end


	end
	else if (@typ = 73) -----------------------------------------------odpad
	begin
		declare @41 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =41) --Parametr Odpady  
			--1 --Parametr Koszty według cena PW
			--2 --Parametr Koszty według cena według cennika OPTIMA 
			--3 --Parametr Koszty według stała cena 
			--4 --Parametr Koszty według stała cena z kartoteki 
			--5.	Parametr - wagi
			--6.	Parametr - ewidencyjna cena odpadu
		declare @42 decimal(15,4)  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =42) --Wartosc Odpady  

			if(@41 = 1)
			begin
				set @wartosc = isnull((select sum(TrE_WartoscNetto) from cdn.TraElem where TrE_TypDokumentu = 303 and TrE_TrNId = @PW),0)

				PRINT('@41 = 1')
				PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
			end
			else if(@41 = 2)
			begin
				set @wartosc = isnull((select isnull(TwC_Wartosc,0) from cdn.TwrCeny where TwC_TwrID = @id and TwC_TwCNumer = @42),0)
				set @wartosc = isnull(CONVERT(decimal(15,4),( @wartosc * @ilosc)) ,0)

				PRINT('@41 = 2')
				PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
			end
			else if(@41 = 3)
			begin
				set @wartosc = isnull(CONVERT(decimal(15,4),( @42 * @ilosc)) ,0)

				PRINT('@41 = 3')
				PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
			end
			else if(@41 = 4)
			begin
				set @wartosc = isnull((select isnull(CTwr_Cena,0) from dbo.CtiTowary where CTwr_TwrId = @id),0)
				set @wartosc = isnull(CONVERT(decimal(15,4),( @wartosc * @ilosc)) ,0)

				PRINT('@41 = 4')
				PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
			end
			else if(@410 = 5)--system wag, koszty przechodza na odpady/wyrowy
			begin
				set @wartosc = isnull((select sum(TrE_WartoscNetto)  from cdn.TraElem where TrE_TypDokumentu = 304 and TrE_TrNId = @RW) ,0)

				PRINT('@410 = 5')
				PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
			end
	end
	else if (@typ = 70) -----------------------------------------------zasob
	begin
		declare @44 int  = isnull(@opcjaCenZasobow, (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =44)) --Parametr  
			--1.	Parametr - Według zlecenia
			--2.	Parametr - Według faktycznego zużycia
		if(@44 = 1)
		begin
			declare @45 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =45) --Parametr KosztyCzasuPracy   
			declare @46 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =46) --Parametr KosztyUzbrojenia 
			declare @47 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =47) --Parametr KosztyRozbrojenia 
			if(@45 = 1)
			begin
				
					set @wartosc = @wartosc + isnull(

					(
						select sum (
							CASE WHEN CZS_Dzielnik = 0 THEN
							CZS_CzasPracy * CZS_KosztPracy	
							ELSE
							(CEILING(@ilosc/CZS_Dzielnik) * CZS_CzasPracy * CZS_KosztPracy)
							END
						)
						from dbo.CtiZasobDok inner join dbo.CtiZlecenieNag on czn_id =CZS_CTNID 
						where CZS_DokTyp = 2 and CZS_CTNID = @ZP)

					,0)

					PRINT('@45 = 1')
					PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
			end
			if(@46 = 1)
			begin
					set @wartosc = @wartosc + isnull((select sum(CZS_CzasUzbrojenia * CZS_KosztUzbrojenia)
					from dbo.CtiZasobDok where CZS_DokTyp = 2 and CZS_CTNID = @ZP),0)

					PRINT('@46 = 1')
					PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
			end
			if(@47 = 1)
			begin
					set @wartosc = @wartosc + isnull((select sum(CZS_CzasRozbrojenia  * CZS_KosztRozbrojenia)
					from dbo.CtiZasobDok where CZS_DokTyp = 2 and CZS_CTNID = @ZP),0)

					PRINT('@47 = 1')
					PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
			end

			PRINT('Obliczanie kosztu zasobów')
			PRINT('ZP: ' + CAST(@ZP AS VARCHAR(MAX)))
			PRINT('Ilosc: ' + CAST(@ilosc AS VARCHAR(MAX)))
			PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
		end
		else if(@44 = 2)
		begin
				
				set @wartosc = @wartosc + (select sum(KosztZasobu) from
				(
					select 	sum(isnull((
							 case when CONVERT(VARCHAR,isnull(ZZs_DataOd,'1900-01-01 00:00:00') , 120) = '1900-01-01 00:00:00' then isnull(ZZs_CzasMin,0)
							  when CONVERT(VARCHAR,isnull(ZZs_DataDo,'1900-01-01 00:00:00') , 120) = '1900-01-01 00:00:00' then  CONVERT(decimal(15,4),DATEDIFF(second, ZZs_DataOd,GETDATE())/60.0000)
							  else CONVERT(decimal(15,4),(isnull(DATEDIFF(SECOND, ZZs_DataOd,ZZs_DataDo) ,0))/60.0000)  end 
							),0)) --całkowity czas zasobu w minutach
							*
							isnull(
								(
								 select top 1 CZS_KosztPracy 
							     from dbo.CtiZasobDok 
								 where CZS_DokTyp = 2 and CZS_CTNID = @ZP and CZS_CZID = ZZs_CZID
								)
								, (
								 select top 1 CZ_KosztPracy 
								 from dbo.CtiZasob 
								 where CZ_ID = ZZs_CZID)
								) -- koszt w sekundach/minutach/godzinach
							*
							case (
							isnull(
								(
									select top 1 czs_jmczasu
									from dbo.ctizasobdok
									where CZS_DokTyp = 2 and CZS_CTNID = @ZP and CZS_CZID = ZZs_CZID
								),
								(
									select top 1 cz_jmczasu 
									from dbo.CtiZasob 
									where CZ_ID = ZZs_CZID
								)
							) )
							when 0 then 60 -- jak zasób ma koszt w sekundach, to nasz wynik mnożymy
							when 1 then 1 -- minut nie mnożyny
							when 2 then 1 -- godzin nie mnożymy
							end

							/
							
							case (
							isnull(
								(
									select top 1 czs_jmczasu
									from dbo.ctizasobdok
									where CZS_DokTyp = 2 and CZS_CTNID = @ZP and CZS_CZID = ZZs_CZID
								),
								(
									select top 1 cz_jmczasu 
									from dbo.CtiZasob 
									where CZ_ID = ZZs_CZID
								)
							) )
							when 0 then 1 -- sekund nie dzielimy
							when 1 then 1 -- minut nie dzielimy
							when 2 then 60 -- jak zasób ma koszt w godzinach, to nasz wynik dzielimy
							end

						as KosztZasobu
					from dbo.CtiZlecenieZasob  where ZZs_CZNID = @ZP and ZZs_DokTyp = 2
					group by ZZs_CZID--zasoby
				) k)

				PRINT('@44 = 2')
				PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
		end
	end
	--else if (@typ = 75) -----------------------------------------------narzut
	--begin 
	--	declare @49 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =49) --Parametr Narzuty 
	--		--1 --Parametr w zależności od wartości wyrobu gotowego
	--		--2 --Parametr uzależniony od masy wyrobu gotowego
	--		--3 --Parametr przypisany w kartotece wyrobu gotowego
	--		--4 --Parametr Przypisany w polu specjalnym:
	--	declare @50 decimal(15,4)  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =50) --Wartosc Narzuty 
	--end
	else if (@typ = 74) -----------------------------------------------usluga,kooperacja
	begin
		declare @52 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =52) --Parametr Kooperacji   
			--1 --Parametr Koszty według cena zakupu OPTIMA - 
			--2 --Parametr Koszty według cena według cennika OPTIMA 
			--3 --Parametr Koszty według stała cena 
			--4 --Parametr Koszty według stała cena z kartoteki 
		declare @53 decimal(15,4)  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =53) --Wartosc Kooperacji   

			if(@52 = 2)
			begin
				set @wartosc = isnull((select isnull(TwC_Wartosc,0) from cdn.TwrCeny where TwC_TwrID = @id and TwC_TwCNumer = @53),0)
				set @wartosc = isnull(CONVERT(decimal(15,4),( @wartosc * @ilosc)) ,0)

				PRINT('@52 = 2')
				PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
			end
			if(@52 = 3)
			begin
				set @wartosc = CONVERT(decimal(15,4),( @53 * @ilosc)) 

				PRINT('@52 = 3')
				PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
			end
			else if(@52 = 4)
			begin
				set @wartosc = isnull((select isnull(CTwr_Cena,0) from dbo.CtiTowary where CTwr_TwrId = @id),0)
				set @wartosc = isnull(CONVERT(decimal(15,4),( @wartosc * @ilosc)) ,0)

				PRINT('@52 = 4')
				PRINT('Wartosc: ' + CAST(@wartosc AS VARCHAR(MAX)))
			end
	end
	else
	begin
		set @wartosc = 0
	end







		
	--	select @typ as Typ, @id as ID, @ilosc as Ilosc, @TH as TH, @ZP as ZP,@wartosc as Wartosc

END

GO

# [dbo].[CTIProdukcjaKonfiguracjaCenyPozycjiDok]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaKonfiguracjaCenyPozycjiDok]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaKonfiguracjaCenyPozycjiDok]
@typ int,
	--zasob - 70
	--surowiec - 71
	--odpad - 73
	--usługa kooperacja - 74
@typDok int,
	--TH - 1
	--ZP - 2 -- dla zasobów
	--PW - 4 -- dla odpadu
	--RW - 5 -- dla surowca
@idDok int,
@wartosc decimal(15,4) = 0 OUTPUT,
@iloscWyrobu decimal(15,4)
as
begin
set @wartosc = 0
declare @THilosc int = 1
select @THilosc = isnull(CTN_ilosc,1) from dbo.CtiTechnolNag where CTN_ID = @idDok

CREATE TABLE #lista (ID INT, TwrId INT, Ilosc DECIMAL(15, 4), Cena DECIMAL(15, 4), Wartosc DECIMAL(15, 4))
	if(@typDok = 1)--------------------------------------------------TH
	begin
		if(@typ = 71)------ surowce
		begin
			insert into #lista (ID, TwrId , Ilosc, Cena, Wartosc)
			SELECT ROW_NUMBER() OVER (ORDER BY CTE_TwrId), CTE_TwrId, (@iloscWyrobu*sum(CTE_Ilosc))/@THilosc,0,0  
			from dbo.CtiTechnolElem where CTE_CTNId = @idDok and CTE_Typ in (1,2) group by CTE_TwrId
		end
		else if(@typ = 73)------ odpady
		begin
			insert into #lista (ID, TwrId , Ilosc, Cena, Wartosc)
			SELECT ROW_NUMBER() OVER (ORDER BY CTE_TwrId), CTE_TwrId, (@iloscWyrobu*sum(CTE_Ilosc))/@THilosc,0,0  
			from dbo.CtiTechnolElem where CTE_CTNId = @idDok and CTE_Typ = 3 group by CTE_TwrId
		end
		else if(@typ = 74)------ usługi
		begin
			insert into #lista (ID, TwrId , Ilosc, Cena, Wartosc)
			SELECT ROW_NUMBER() OVER (ORDER BY CTE_TwrId), CTE_TwrId, (@iloscWyrobu*sum(CTE_Ilosc))/@THilosc,0,0  
			from dbo.CtiTechnolElem where CTE_CTNId = @idDok and CTE_Typ = 4 group by CTE_TwrId
		end
	end
	else if(@typDok = 5)---------------------------------------------RW
	begin
		declare @38 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =38) --Parametr Surowce 
		if(@38 = 1) --wartość RW
		begin
			set @wartosc = (select sum(TrE_WartoscNetto)  from cdn.TraElem where TrE_TypDokumentu = 304 and TrE_TrNId = @idDok);
		end
		else
		begin
			insert into #lista (ID, TwrId , Ilosc, Cena, Wartosc)
			select ROW_NUMBER() OVER (ORDER BY tre_twrid), tre_twrid, sum(Tre_Ilosc),sum(TrE_WartoscNetto),0   
			from cdn.TraElem where TrE_TypDokumentu = 304 and TrE_TrNId = @idDok group by tre_twrid
		end
	end
	else if(@typDok = 4)---------------------------------------------PW
	begin
		declare @41 int  = (select isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where KNF_Numer =41) --Parametr Odpady  
		if(@41 = 1)
		begin
			set @wartosc = (select sum(TrE_WartoscNetto)  from cdn.TraElem where TrE_TypDokumentu = 303 and TrE_TrNId = @idDok)
		end
		else
		begin
			insert into #lista (ID, TwrId , Ilosc, Cena, Wartosc)
			select ROW_NUMBER() OVER (ORDER BY tre_twrid), tre_twrid, sum(Tre_Ilosc),sum(TrE_WartoscNetto),0   
			from cdn.TraElem where TrE_TypDokumentu = 303 and TrE_TrNId = @idDok group by tre_twrid
		end
	end
	--else if(@typDok = 2)---------------------------------------------ZP
	--begin
	--	if(@typ = 70)------ zasoby
	--	begin
	--		select * from dbo.CtiZasobDok where CZS_DokTyp = 2 and CZS_CTNID = @idDok
	--	end
	--end
	else
		set @wartosc =0

if exists (select id from #lista)--jeżeli są jakieś pozycje
begin

	declare @wartoscPrzekazana decimal(15,4)= 0
	declare @TH int = 0 set @TH = case when @typDok = 1 then @idDok else 0 end
	declare @ZP int = 0 set @ZP = case when @typDok = 2 then @idDok else 0 end
	declare @PW int = 0 set @PW = case when @typDok = 4 then @idDok else 0 end
	declare @RW int = 0 set @RW = case when @typDok = 5 then @idDok else 0 end
		DECLARE kursor cursor
		LOCAL STATIC READ_ONLY FORWARD_ONLY
		FOR SELECT  ID, TwrId , Ilosc, Cena  from #lista
		DECLARE @id INT, @TwrId INT, @Ilosc DECIMAL(15, 4), @Cena DECIMAL(15, 4)
		OPEN kursor
		FETCH NEXT FROM kursor INTO @id, @TwrId , @Ilosc, @Cena
				while @@FETCH_STATUS = 0
				begin
					set @wartoscPrzekazana = 0;
					exec dbo.CTIProdukcjaKonfiguracjaCenyKal @typ, @TwrId, @ilosc, @Cena, @TH,@RW,@PW, @ZP, @wartoscPrzekazana OUTPUT
					update #lista set Wartosc = @wartoscPrzekazana where ID = @id
            
					FETCH NEXT FROM kursor INTO @id, @TwrId , @Ilosc, @Cena
				end
		CLOSE kursor
		deallocate     kursor

set @wartosc = (SELECT sum(Wartosc) FROM #lista)
end




DROP TABLE #lista
end
GO

# [dbo].[CTIProdukcjaKontrolaPrcList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaKontrolaPrcList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaKontrolaPrcList]
 @ID int,
 @PrcKod varchar(40)
AS
BEGIN

	declare @MagazynDomyslySurId int = 0
	declare @MagazynDomyslySur varchar(40) = '' 
	declare @MagazynDomyslyProdId int =0
	declare @MagazynDomyslyProd varchar(40) = '' 
	select @MagazynDomyslySurId = knf_wartosc from CtiKonfiguracja  where knf_numer = 8
	select @MagazynDomyslyProdId = knf_wartosc from CtiKonfiguracja  where knf_numer = 9
	select @MagazynDomyslySur = mag_symbol from cdn.magazyny where mag_magid = @MagazynDomyslySurId
	select @MagazynDomyslyProd = mag_symbol from cdn.magazyny where mag_magid = @MagazynDomyslyProdId
	declare @prmPrc int = 0
	SELECT  @prmPrc = cast(ISNULL(KNF_Wartosc,0) as int) FROM dbo.CtiKonfiguracja  where KNF_Numer = 61 and ISNULL(KNF_Wartosc,'') <> ''	

	if (@prmPrc = 1)
	begin
		SELECT 0 as PrcId, '' as PrcKod,0 as ilosc,0 As MagSur,0 As MagSurId,0 As MagProd, 0 As MagProdId
	end
	else if (@prmPrc =4)
	begin
			select czo_prcid as PrdId, CZO_PrcKod as PrcKod,ilosc,MagSur,MagSurId,MagProd,MagProdId from
		(
			SELECT DISTINCT czo_prcid, CZO_PrcKod,
			case when
			--ilość na PW
			(
			ISNULL((
			select sum(tre_ilosc) from dbo.CtiZlecenieDok 
			INNER JOIN dbo.CtiZlecenieNag on czd_cznid = czn_id
			INNER JOIN cdn.traelem on tre_trnid = czd_trnid and tre_twrid = czn_twrid
			where  czd_typ = 4 --dokument PW
			and dbo.CTIProdukcjaStatusy(3, CZD_ID) <> 4 -- dokument PW nie anulowany
			and czd_cznid = czo_cznid ),0) 
			--ilość na Kontroli
			-
			ISNULL((
			select sum(tre_ilosc) from dbo.CtiZlecenieDok 
			INNER JOIN dbo.CtiZlecenieNag on czd_cznid = czn_id
			INNER JOIN cdn.traelem on tre_trnid = czd_trnid and tre_twrid = czn_twrid
			where  czd_typ = 6 --dokument PW
			and dbo.CTIProdukcjaStatusy(3, CZD_ID) <> 4 -- dokument PW nie anulowany
			and czd_cznid = czo_cznid ),0) 
			)
			<0 then 0 else
			(
			ISNULL((
			select sum(tre_ilosc) from dbo.CtiZlecenieDok 
			INNER JOIN dbo.CtiZlecenieNag on czd_cznid = czn_id
			INNER JOIN cdn.traelem on tre_trnid = czd_trnid and tre_twrid = czn_twrid
			where  czd_typ = 4 --dokument PW
			and dbo.CTIProdukcjaStatusy(3, CZD_ID) <> 4 -- dokument PW nie anulowany
			and czd_cznid = czo_cznid ),0) 
			--ilość na Kontroli
			-
			ISNULL((
			select sum(tre_ilosc) from dbo.CtiZlecenieDok 
			INNER JOIN dbo.CtiZlecenieNag on czd_cznid = czn_id
			INNER JOIN cdn.traelem on tre_trnid = czd_trnid and tre_twrid = czn_twrid
			where  czd_typ = 6 --dokument PW
			and dbo.CTIProdukcjaStatusy(3, CZD_ID) <> 4 -- dokument PW nie anulowany
			and czd_cznid = czo_cznid ),0) 
			)
			end
			as ilosc,
			case ISNULL(CDZ_MagSId,0) when 0 then @MagazynDomyslySur else 
			(select Mag_Symbol from cdn.magazyny where Mag_MagId = CDZ_MagSId  )end As MagSur,
			case ISNULL(CDZ_MagSId,0) when 0 then @MagazynDomyslySurId else CDZ_MagSId  end As MagSurId,
			case ISNULL(CDZ_MagPId,0) when 0 then @MagazynDomyslyProd else 
			(select Mag_Symbol from cdn.magazyny where Mag_MagId = CDZ_MagPId  ) end As MagProd, 
			case ISNULL(CDZ_MagPId,0) when 0 then @MagazynDomyslyProdId else CDZ_MagPId  end As MagProdId
			FROM 	dbo.CtiZleceniePrc 
				INNER JOIN dbo.CtiZlecenieNag on czn_id = CZO_CZNId
				INNER JOIN dbo.CtiDzial on ISNULL(CZO_PrcTyp,80) = 81 and CDZ_ID = czo_prcid
			WHERE   czo_cznid = @ID
			and ((@PrcKod <> '' and CZO_PrcKod = @PrcKod ) or (@PrcKod = '' and CZO_PrcKod = CZO_PrcKod))
		) e
		where e.ilosc >0 order by CZO_PrcKod
	end
	else
	begin
		select czo_prcid as PrdId, CZO_PrcKod as PrcKod,ilosc,MagSur,MagSurId,MagProd,MagProdId from
		(
			SELECT DISTINCT czo_prcid, CZO_PrcKod,
			case when
			--ilość na PW
			(
			ISNULL((
			select sum(tre_ilosc) from dbo.CtiZlecenieDok 
			INNER JOIN dbo.CtiZlecenieNag on czd_cznid = czn_id
			INNER JOIN cdn.traelem on tre_trnid = czd_trnid and tre_twrid = czn_twrid
			where  czd_typ = 4 --dokument PW
			and dbo.CTIProdukcjaStatusy(3, CZD_ID) <> 4 -- dokument PW nie anulowany
			and czd_cznid = czo_cznid and czd_pracownikid = czo_prcid),0) 
			--ilość na Kontroli
			-
			ISNULL((
			select sum(tre_ilosc) from dbo.CtiZlecenieDok 
			INNER JOIN dbo.CtiZlecenieNag on czd_cznid = czn_id
			INNER JOIN cdn.traelem on tre_trnid = czd_trnid and tre_twrid = czn_twrid
			where  czd_typ = 6 --dokument PW
			and dbo.CTIProdukcjaStatusy(3, CZD_ID) <> 4 -- dokument PW nie anulowany
			and czd_cznid = czo_cznid and czd_pracownikid = czo_prcid),0) 
			)
			<0 then 0 else
			(
			ISNULL((
			select sum(tre_ilosc) from dbo.CtiZlecenieDok 
			INNER JOIN dbo.CtiZlecenieNag on czd_cznid = czn_id
			INNER JOIN cdn.traelem on tre_trnid = czd_trnid and tre_twrid = czn_twrid
			where  czd_typ = 4 --dokument PW
			and dbo.CTIProdukcjaStatusy(3, CZD_ID) <> 4 -- dokument PW nie anulowany
			and czd_cznid = czo_cznid and czd_pracownikid = czo_prcid),0) 
			--ilość na Kontroli
			-
			ISNULL((
			select sum(tre_ilosc) from dbo.CtiZlecenieDok 
			INNER JOIN dbo.CtiZlecenieNag on czd_cznid = czn_id
			INNER JOIN cdn.traelem on tre_trnid = czd_trnid and tre_twrid = czn_twrid
			where  czd_typ = 6 --dokument PW
			and dbo.CTIProdukcjaStatusy(3, CZD_ID) <> 4 -- dokument PW nie anulowany
			and czd_cznid = czo_cznid and czd_pracownikid = czo_prcid),0) 
			)
			end
			as ilosc,
			case ISNULL(KnM_MagSId,0) when 0 then @MagazynDomyslySur else 
			(select Mag_Symbol from cdn.magazyny where Mag_MagId = KnM_MagSId  )end As MagSur,
			case ISNULL(KnM_MagSId,0) when 0 then @MagazynDomyslySurId else KnM_MagSId  end As MagSurId,
			case ISNULL(KnM_MagPId,0) when 0 then @MagazynDomyslyProd else 
			(select Mag_Symbol from cdn.magazyny where Mag_MagId = KnM_MagPId  ) end As MagProd, 
			case ISNULL(KnM_MagPId,0) when 0 then @MagazynDomyslyProdId else KnM_MagPId  end As MagProdId

			FROM --CDN.Pracidx LEFT JOIN CDN.PracKod ON PRA_PraId = PRI_PraId INNER JOIN 
			dbo.CtiZleceniePrc --on czo_prcid = PRI_PraId
			LEFT JOIN dbo.CtiKonfigMag  ON czo_prcid = KnM_PraId and ISNULL(CZO_PrcTyp,80) = 80
			WHERE   czo_cznid = @ID
			and ((@PrcKod <> '' and CZO_PrcKod = @PrcKod ) or (@PrcKod = '' and CZO_PrcKod = CZO_PrcKod))
		) e
		where e.ilosc >0 order by CZO_PrcKod
	end
end
 
GO

# [dbo].[CTIProdukcjaMagazynyList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaMagazynyList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaMagazynyList] @typ int
AS
BEGIN
if @typ =1
begin
	select Mag_MagId as MagId,Mag_Symbol as MagKod from cdn.magazyny where Mag_NieAktywny = 0
	order by case Mag_Nazwa when 'Magazyn glowny' then 0 else Mag_MagId end,Mag_Symbol
end
else if @typ =2
begin
	select 0 as MagId, 'Domyslny' as MagKod
	union all
	select Mag_MagId as MagId,Mag_Symbol as MagKod from cdn.magazyny where 
	Mag_NieAktywny = 0
end
else if @typ =3
begin
	select 0 as MagId, '' as MagKod
	union all
	select Mag_MagId as MagId,Mag_Symbol as MagKod from cdn.magazyny where 
	Mag_NieAktywny = 0
end
END
GO

# [dbo].[CTIProdukcjaMagazynyPracownik]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaMagazynyPracownik]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CTIProdukcjaMagazynyPracownik]
AS
BEGIN
select 0 as Mag_MagId, 'Domyslny' as Mag_Symbol
union all
select Mag_MagId,Mag_Symbol from cdn.magazyny where 
Mag_NieAktywny = 0
END


GO

# [dbo].[CTIProdukcjaMMkontrolaList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaMMkontrolaList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaMMkontrolaList]
 @ID int,
 @IDZPZ int,
 @dataOd varchar(20),
 @dataDo varchar(20),
 @prmData int--0 bez --1 ograniczenie po dacie
AS
BEGIN
--czy poszczególne parametry maja być widoczne
declare @DokTyp int = 6 --kontrola
--declare @prmMontaz int = 0 SELECT  @prmMontaz = cast(ISNULL(KNF_Wartosc,0) as int) FROM dbo.CtiKonfiguracja  where KNF_Numer = 25 and ISNULL(KNF_Wartosc,'') <> ''
declare @prmPrc int = 0 SELECT  @prmPrc = cast(ISNULL(KNF_Wartosc,0) as int) FROM dbo.CtiKonfiguracja  where KNF_Numer = 61 and ISNULL(KNF_Wartosc,'') <> ''
if @prmPrc in (2,3,4) begin set @prmPrc = 1 end else begin set @prmPrc = 0 end
declare @prmPole1 int = 0 SELECT @prmPole1 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 1 and CAU_TypDok = @DokTyp
declare @prmPole2 int = 0 SELECT @prmPole2 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 2 and CAU_TypDok = @DokTyp
declare @prmPole3 int = 0 SELECT @prmPole3 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 3 and CAU_TypDok = @DokTyp

		SELECT DISTINCT 
			e.TrN_TrNID as ID, ISNULL(CtiZlecenieNag.CZN_ID, 0) AS CZN_ID
			, ISNULL(e.TrN_NumerPelny, '') AS DokumentWydania
			, ISNULL(a.CO_Kod, '') AS CZD_OpeWyst, ISNULL(CtiZlecenieDok.CZD_DataWyst, GETDATE())AS CZD_DataWyst
			, ISNULL(b.CO_Kod, '') AS CZD_OperModyf, ISNULL(CtiZlecenieDok.CZD_DataModyf, GETDATE())   AS CZD_DataModyf
			, ISNULL(CtiZlecenieNag.CZN_TwrId, 0) AS ZasobID 
			, ISNULL(CDN.Towary.Twr_Kod, '') AS CZN_TwrKod
			, ISNULL(dbo.CTIProdukcjaZlecenieNumer(CtiZlecenieNag.CZN_ID), '') AS CZN_Numer
			, ISNULL(CZO_PrcKod, '') AS PRI_Kod --pracownik
			, dbo.CTIProdukcjaStatusy(3, CtiZlecenieDok.CZD_ID) AS CZD_Status
			, dbo.CTIProdukcjaStatusyNazwy(3, dbo.CTIProdukcjaStatusy(3, CtiZlecenieDok.CZD_ID)) AS StatusNazwa 
			--, ISNULL(CMD_PrdKod, '') AS ProdKod--montaz
			,''  AS ProdKod
			, ISNULL(c.Mag_Symbol, '') AS MagDoc 
			, ISNULL(d.Mag_Symbol, '') AS MagZrd
			, case @prmPole1 when 1 then (SELECT TOP (1) Wartosc
				FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CtiZlecenieNag.CZN_CTNId, CtiZlecenieNag.CZN_ID, 0, e.TrN_TrNID, 0, 0,0) WHERE (Lp = 1)) else '' end AS Pole1
			, case @prmPole2 when 1 then (SELECT TOP (1) Wartosc
				FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CtiZlecenieNag.CZN_CTNId, CtiZlecenieNag.CZN_ID, 0, e.TrN_TrNID, 0, 0,0) WHERE (Lp = 2))  else '' end AS Pole2
			, case @prmPole3 when 1 then (SELECT TOP (1) Wartosc
				FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CtiZlecenieNag.CZN_CTNId, CtiZlecenieNag.CZN_ID, 0, e.TrN_TrNID, 0, 0,0) WHERE (Lp = 3))  else '' end AS Pole3
		FROM CtiZlecenieDok 
			INNER JOIN CtiZlecenieNag ON CtiZlecenieDok.CZD_CZNId = CtiZlecenieNag.CZN_ID 
			INNER JOIN CDN.TraNag AS e ON CtiZlecenieDok.CZD_TrnId = e.TrN_TrNID 
			LEFT JOIN CtiOperatorzy AS a ON CtiZlecenieDok.CZD_OpeWyst = a.CO_ID 
			LEFT JOIN CtiOperatorzy AS b ON CtiZlecenieDok.CZD_OperModyf = b.CO_ID 
			LEFT JOIN dbo.CtiZleceniePrc ON  CZO_CZNId = CZN_ID and CZO_PrcId = CZD_PracownikId and @prmPrc = 1
			LEFT JOIN CDN.Magazyny AS c ON e.TrN_MagDocId = c.Mag_MagId 
			LEFT JOIN CDN.Magazyny AS d ON e.TrN_MagZrdId = d.Mag_MagId 
			--LEFT JOIN CtiMontazDok ON e.TrN_TrNID = CtiMontazDok.CMD_PWId and @prmMontaz = 1
			LEFT JOIN CDN.Towary ON CtiZlecenieNag.CZN_TwrId = CDN.Towary.Twr_TwrId
			LEFT JOIN dbo.CtiZlecenieZElem ON CZN_ID = ISNULL(CZZE_CZNID,0)
		where e.TrN_TypDokumentu in  (312) AND CZD_Typ = 6  and e.trn_anulowany = 0 

		and
		(
			((@ID = 0) or (@ID <> 0 and CZN_ID = @ID ))
			and
			((@IDZPZ = 0) or (@IDZPZ <> 0 and ISNULL(CZZE_CZZNID,0) = @IDZPZ ))
			and
			(
				 (ISNULL(@prmData,0) =0) 
				 or
				(@prmData =1 and
				CONVERT(VARCHAR, ISNULL(e.trn_datawys, GETDATE()), 23)  BETWEEN CONVERT(VARCHAR, @dataOd, 23) AND CONVERT(VARCHAR, @dataDo, 23))
			)
		)
		ORDER BY e.TrN_TrNID

END

GO

# [dbo].[CTIProdukcjaMMwydanieList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaMMwydanieList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaMMwydanieList]
 @ID int,
 @IDZPZ int,
 @dataOd varchar(20),
 @dataDo varchar(20),
 @prmData int--0 bez --1 ograniczenie po dacie
AS
BEGIN
--czy poszczególne parametry maja być widoczne
declare @DokTyp int = 3 --wydanie
--declare @prmMontaz int = 0 SELECT  @prmMontaz = cast(ISNULL(KNF_Wartosc,0) as int) FROM dbo.CtiKonfiguracja  where KNF_Numer = 25 and ISNULL(KNF_Wartosc,'') <> ''
declare @prmPrc int = 0 SELECT  @prmPrc = cast(ISNULL(KNF_Wartosc,0) as int) FROM dbo.CtiKonfiguracja  where KNF_Numer = 61 and ISNULL(KNF_Wartosc,'') <> ''
if @prmPrc in (2,3,4) begin set @prmPrc = 1 end else begin set @prmPrc = 0 end
declare @prmPole1 int = 0 SELECT   @prmPole1 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 1 and CAU_TypDok = @DokTyp
declare @prmPole2 int = 0 SELECT   @prmPole2 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 2 and CAU_TypDok = @DokTyp
declare @prmPole3 int = 0 SELECT   @prmPole3 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 3 and CAU_TypDok = @DokTyp

		SELECT DISTINCT 
			e.TrN_TrNID as ID, ISNULL(CtiZlecenieNag.CZN_ID, 0) AS CZN_ID
			, ISNULL(e.TrN_NumerPelny, '') AS DokumentWydania
			, ISNULL(a.CO_Kod, '') AS CZD_OpeWyst, ISNULL(CtiZlecenieDok.CZD_DataWyst, GETDATE())AS CZD_DataWyst
			, ISNULL(b.CO_Kod, '') AS CZD_OperModyf, ISNULL(CtiZlecenieDok.CZD_DataModyf, GETDATE())   AS CZD_DataModyf
			, ISNULL(CtiZlecenieNag.CZN_TwrId, 0) AS ZasobID 
			, ISNULL(CDN.Towary.Twr_Kod, '') AS CZN_TwrKod
			, ISNULL(dbo.CTIProdukcjaZlecenieNumer(CtiZlecenieNag.CZN_ID), '') AS CZN_Numer
			, ISNULL(CZO_PrcKod, '') AS PRI_Kod --pracownik
			, ISNULL(f.TrN_NumerPelny, '') AS DokumentKorekty
			, dbo.CTIProdukcjaStatusy(3, CtiZlecenieDok.CZD_ID) AS CZD_Status
			, dbo.CTIProdukcjaStatusyNazwy(3, dbo.CTIProdukcjaStatusy(3, CtiZlecenieDok.CZD_ID)) AS StatusNazwa 
			--, ISNULL(CMD_PrdKod, '') AS ProdKod--montaz
			,''  AS ProdKod
			, ISNULL(c.Mag_Symbol, '') AS MagDoc 
			, ISNULL(d.Mag_Symbol, '') AS MagZrd
			, case @prmPole1 when 1 then (SELECT TOP (1) Wartosc
				FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CtiZlecenieNag.CZN_CTNId, CtiZlecenieNag.CZN_ID, 0, e.TrN_TrNID, 0, 0,0) WHERE (Lp = 1)) else '' end AS Pole1
			, case @prmPole2 when 1 then (SELECT TOP (1) Wartosc
				FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CtiZlecenieNag.CZN_CTNId, CtiZlecenieNag.CZN_ID, 0, e.TrN_TrNID, 0, 0,0) WHERE (Lp = 2))  else '' end AS Pole2
			, case @prmPole3 when 1 then (SELECT TOP (1) Wartosc
				FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CtiZlecenieNag.CZN_CTNId, CtiZlecenieNag.CZN_ID, 0, e.TrN_TrNID, 0, 0,0) WHERE (Lp = 3))  else '' end AS Pole3
		FROM dbo.CtiZlecenieDok 
			INNER JOIN dbo.CtiZlecenieNag ON CtiZlecenieDok.CZD_CZNId = CtiZlecenieNag.CZN_ID 
			INNER JOIN CDN.TraNag AS e ON CtiZlecenieDok.CZD_TrnId = e.TrN_TrNID 
			LEFT JOIN CDN.TraNag AS f ON CtiZlecenieDok.CZD_Korekta = f.TrN_TrNID 
			LEFT JOIN CtiOperatorzy AS a ON CtiZlecenieDok.CZD_OpeWyst = a.CO_ID 
			LEFT JOIN CtiOperatorzy AS b ON CtiZlecenieDok.CZD_OperModyf = b.CO_ID 
			LEFT JOIN dbo.CtiZleceniePrc ON  CZO_CZNId = CZN_ID and CZO_PrcId = CZD_PracownikId and @prmPrc = 1
			LEFT JOIN CDN.Magazyny AS c ON e.TrN_MagDocId = c.Mag_MagId 
			LEFT JOIN CDN.Magazyny AS d ON e.TrN_MagZrdId = d.Mag_MagId 
			--LEFT JOIN CtiMontazDok ON e.TrN_TrNID = CtiMontazDok.CMD_PWId and @prmMontaz = 1
			LEFT JOIN CDN.Towary ON CtiZlecenieNag.CZN_TwrId = CDN.Towary.Twr_TwrId
			LEFT JOIN dbo.CtiZlecenieZElem ON CZN_ID = ISNULL(CZZE_CZNID,0)
		where e.TrN_TypDokumentu = (312) AND CZD_Typ = 3  and e.trn_anulowany = 0 
		and
		(
			((@ID = 0) or (@ID <> 0 and CZN_ID = @ID ))
			and
			((@IDZPZ = 0) or (@IDZPZ <> 0 and ISNULL(CZZE_CZZNID,0) = @IDZPZ ))
			and
			(
				 (ISNULL(@prmData,0) =0) 
				 or
				(@prmData =1 and
				CONVERT(VARCHAR, ISNULL(e.trn_datawys, GETDATE()), 23)  BETWEEN CONVERT(VARCHAR, @dataOd, 23) AND CONVERT(VARCHAR, @dataDo, 23))
			)
		)
		ORDER BY e.TrN_TrNID DESC
END

GO

# [dbo].[CTIProdukcjaMontazHistAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaMontazHistAdd]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CTIProdukcjaMontazHistAdd] 
@kod nvarchar(250)
AS
BEGIN
	INSERT INTO dbo.CtiMontazHist(CMH_Data,CMH_Status,CMH_KodWprow)
	VALUES(GETDATE(),0,@kod)
END

GO

# [dbo].[CTIProdukcjaMontazHistList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaMontazHistList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CTIProdukcjaMontazHistList]  @NrStanowiska int
AS

SELECT  top 1  CMH_ID, CMH_KodWprow, CMH_Status, CMH_Data, CMH_DataKontr, CMH_NrStanowiska, CMH_PrcId, CMH_Kod, CMH_Dzialanie, CMH_CZNID, 
CMH_TwrIdWprow, CMH_TwrLp, CMH_TwrIdPopr, CMH_DokStatus, CMH_DokInfo, isnull(a.Twr_kod,'') as Kod, isnull(b.Twr_kod,'') as KodPopr,
Pri_kod, pri_Nazwisko + ' '+ PRI_Imie1 as Pracownik,  CMS_Nazwa as Stanowisko,CMH_PrdKod,  CZN_NrPelny as Zlecenie,
case CMH_Status when 1 then 'OK' else 'BLAD' end as Status,
case CMH_Status when 1 then 

	case CMH_Dzialanie 
	when 1 then 'Zakonczenie pracy' 
	when 2 then 
	
		case CMH_DokStatus 
		when 0 then 'Zakonczenie montazu:
Przygotowanie dokumentow... proszę czekać' 
		when 1 then 'Zakonczenie montazu:
Tworzenie dokumentow' 
		when 2 then 'Zakonczenie montazu: 
Stworzono RW' 
		when 3 then 'Zakonczenie montazu: 
Produkt '+CMH_PrdKod
		when 4 then 'Zakonczenie montazu: 
Blad RW'
		when 5 then 'Zakonczenie montazu: 
Blad PW' 
		when 7 then 'Zakonczenie montazu: 
Oczekiwanie na kod wyrobu gotowego' 
		else 'Zakonczenie montazu '+CMH_PrdKod end

	when 3 then 'Cofniecie montazu: 
Produkt ' + isnull(a.Twr_kod,'')+' 
Nazwa '+isnull(replace(a.Twr_Nazwa,char(10), ' ')  ,'')
	when 4 then 'Rozpoczecie pracy' 
    when 5 then 'Montaz:
Dodano ' + isnull(a.Twr_kod,'')+' 
Nazwa ' + isnull(replace(a.Twr_Nazwa,char(10), ' '),'')+' 
Zlecenie '+CZN_NrPelny 
	else '' end

when 2 then 'BLAD' 
when 3 then 'Brak stanowiska' 
when 4 then 'Brak kodu pracownika' 
when 5 then 'Montaz: 
Nie znaleziono pierwszego elementu' 
when 6 then 'Montaz: 
Nie znaleziono elementu' 
when 7 then 'Blad montazu, bledny element:
Wymagany '+isnull(b.Twr_kod,'') 
when 8 then 'Montaz: 
Element cofniety'

when 9 then 'Brak elementu do cofniecia' 
when 10 then 'Blad Zakonczenia montazu: 
Brak elementow'
when 11 then 'Blad Zakonczenia montazu: 
Brak elementow nie wszystkie elementy zostaly wprowadzone'
when 12 then 'Blad Zakonczenie pracy: 
nie zakończono montazu'
when 13 then 'Blad Zakonczenia montazu: 
Blad unikalnosci kodu wyrobu gotowego - ponow' 
when 14 then 'Blad Zakonczenia montazu: 
Blad KODU!!' 
else 'BLAD' end as StatusInfo
FROM  CtiMontazHist
LEFT JOIN cdn.Towary a on a.twr_twrid  = CMH_TwrIdWprow
LEFT JOIN cdn.Towary b on b.twr_twrid  = CMH_TwrIdPopr
LEFT JOIN CDN.Pracidx on PRI_Typ = 1 and PRI_Archiwalny < 1 and CMH_PrcId = PRI_PraId
LEFT JOIN dbo.CtiMontazStanowiska on CMH_NrStanowiska = cms_Nr 
LEFT JOIN dbo.CtiZlecenieNag on CMH_CZNID = czn_id
where CMH_NrStanowiska =@NrStanowiska and CMH_Status >0 order by CMH_ID desc
GO

# [dbo].[CTIProdukcjaMontazHistUpdate]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaMontazHistUpdate]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaMontazHistUpdate]
AS
BEGIN


Declare @CMHStatus int  = 0 
--0-kod wprowadzony 
--1-poprawny kod 
-->1-bledny kod
--3-nie znaleziono stanowiska
--4-nie znaleziono pracownika
--5-nie znaleziono pierwszego elementu - brak zasobu
--6-nie znaleziono elementu
--7-bledny element
--8-Element cofniety
--9-Brak elementu do cofniecia
--10-Zakonczenie montazu - Brak elementow - nie wprowadzono elementow 
--11-Zakonczenie montazu - Brak elementow - nie wszystkie elementy zostaly wprowadzone
--12-Zakonczenie pracy - nie zakonczono montazu
--13-Zakonczenia montazu - Blad unikalnosci kodu wyrobu gotowego - ponow
--14-Zakonczenia montazu - Blad KODU!!
Declare @CMHNrStanowiska int = 0
Declare @CMHPrcId int  = 0
Declare @CMHKod varchar(50) = ''
Declare @CMHDzialanie int = 0
--0 - brak - np nie ma historii operacji
Declare @ZakonczeniePracy  varchar(10)		= '000000001' --1 000000001 Zakonczenie pracy
Declare @ZakonczenieMontazu  varchar(10)	= '000000002' --2 000000002 Zakonczenie montazu
Declare @CofniecieMontazu  varchar(10)		= '000000003' --3 000000003 Cofniecie montowanego produktu
--4 Rozpoczecie pracy-Polaczenie stanowiska z pracownikem
--5 Montazu
--7 Kod wyrobu

Declare @CMHTwrIdWprow int = 0
Declare @CMHTwrIdPopr int = 0
Declare @CMHTwrLp int = 0
Declare @CMHCZNID int = 0
Declare @CMHDokStatus int = 7 
--0- Zakonczenie montazu - Tworzenie dokumentu
--1- Zakonczenie montazu - Tworzenie dokumentu
--2- Zakonczenie montazu - Stworzono RW 
--3- Zakonczenie montazu - Stworzono PW
--4- Zakonczenie montazu - Blad RW
--5- Zakonczenie montazu - Blad PW
--7- Zakonczenie montazu - Oczekiwanie na kod wyrobu gotowego


Declare @CMHDokInfo nvarchar(250) = ''

	DECLARE kursor cursor FOR
				SELECT CMH_ID, CMH_KodWprow FROM CtiMontazHist where CMH_Status = 0 order by cmh_id
	DECLARE @CMHID int, @CMHKodWprow nvarchar(250)
		OPEN kursor

	FETCH kursor                 
		INTO  @CMHID , @CMHKodWprow

	while @@FETCH_STATUS = 0
	begin
		set @CMHStatus = 1
		set @CMHNrStanowiska  = 0
		set @CMHPrcId  = 0
		set @CMHKod = ''
		set @CMHDzialanie = 0
		set @CMHTwrIdWprow = 0
		set @CMHTwrIdPopr = 0
		set @CMHTwrLp = 0
		set @CMHCZNID = 0
		set @CMHDokStatus = 7 
		set @CMHDokInfo = ''
		set @CMHTwrLp = 0 
	--numer stanowista
		SELECT @CMHKod =  RIGHT(@CMHKodWprow,LEN(@CMHKodWprow)-2),@CMHNrStanowiska = CMS_Nr 
		FROM CtiMontazStanowiska where CMS_Kod = LEFT(@CMHKodWprow,2) 
	--brak Blad
		if @CMHNrStanowiska = 0 begin set @CMHStatus = 3 end else 
		begin
		--spradzenie czy na danym stanowisku jest ktos zalogowany(czy ktos sie logowal)i czy sie wylogowal
		--czyli czy ostatnia funkcja poprawnie wykonana to kod zakonczenia
			SELECT top 1 @CMHDzialanie = isnull(CMH_Dzialanie,0), @CMHPrcId = CMH_PrcId , @CMHTwrLp = isnull(CMH_TwrLp,0),@CMHCznId=CMH_CznId
			FROM CtiMontazHist where CMH_NrStanowiska = @CMHNrStanowiska and CMH_Status = 1 and CMH_Dzialanie <> 3  order by cmh_id desc
		
				--magazyn surowców pracownika
				declare @MagazynDomyslySurId int = 0
				select @MagazynDomyslySurId = knf_wartosc from CtiKonfiguracja  where knf_numer = 8
				declare @MagazynDomyslySurPrcId int = 0
				SELECT @MagazynDomyslySurPrcId = case isnull(D.KnM_MagSId,0) when 0 then @MagazynDomyslySurId else KnM_MagSId  end 
				FROM CDN.Pracidx AS A LEFT JOIN
				dbo.CtiKonfigMag D ON A.PRI_PraId = D.KnM_PraId
				where (A.PRI_Typ = 1) AND (A.PRI_Archiwalny < 1) and PRI_PraId =@CMHPrcId
				--kod cechy
				declare @cecha varchar(50) = ''
				SELECT @cecha = isnull(KNF_Wartosc,'') FROM  CtiKonfiguracja where KNF_Numer = 5
						
						
		--jezeli nikt nie jest zalogowany to nastepny kod jest kodem pracownika
			if (@CMHDzialanie = 0 or @CMHDzialanie = 1)
			begin
			--znalezienie pracownika o podanym kodzie
				set @CMHPrcId = 0
				SELECT distinct @CMHPrcId = PRI_PraId FROM CDN.Pracidx 
				LEFT JOIN CDN.PracKartyRcp ON CDN.PracKartyRcp.PKR_PrcId = PRI_PraId 
				where PRI_Typ = 1 and PRI_Archiwalny < 1 and isnull(PKR_Numer, '') <> '' 
				and isnull(PKR_Numer, '') = @CMHKod
				
				if @CMHPrcId = 0 begin set @CMHStatus = 4 end else 
				begin set @CMHDzialanie = 4 end--4-nie znaleziono pracownik
			end
			else --jezeli osoba jest zalogowana to nastepny kod jest towarem lub funkcja
			begin
			--spr czy poprzednim poprawnym kodem jest zakonczenie montazu z CMH_Status = 7
					declare @IDZakonczeniaMontazuADDkod int = 0
					
					SELECT @IDZakonczeniaMontazuADDkod = CMH_ID FROM (
					SELECT  LP = ROW_NUMBER() OVER (ORDER BY cmh_id DESC) ,
					CMH_ID, CMH_KodWprow, CMH_Status, CMH_Data, CMH_DataKontr, 
					CMH_NrStanowiska, CMH_PrcId, CMH_Kod, CMH_Dzialanie, CMH_CZNID, 
					CMH_TwrIdWprow, CMH_TwrLp, CMH_TwrIdPopr, CMH_DokStatus, CMH_DokInfo, CMH_DokRWID, CMH_DokPWID
					FROM CtiMontazHist 
					where CMH_ID < @CMHID AND  CMH_NrStanowiska = @CMHNrStanowiska and CMH_Status = 1
					) A WHERE LP = 1 AND CMH_Dzialanie = 2 AND CMH_DokStatus = 7  and CMH_Status = 1
				IF @IDZakonczeniaMontazuADDkod > 0
				BEGIN
					set @CMHDzialanie = 7
					--spr unikalnosci kodu CMH_Status = 13 - błąd
					if exists(SELECT CMD_ID FROM CtiMontazDok INNER JOIN cdn.tranag on trn_trnid = CMD_PWID 
where isnull(CMD_PWID,0)<>0 and trn_anulowany = 0 and  CMD_PrdKod = @CMHKod)
					begin
						set @CMHStatus = 13	
					end
					else--poprawny 
					begin
						-- dodanie kodu -- usuniecie obecnego wpisu-- update poprzedniego CMH_DokStatus = 0
						BEGIN TRY
						BEGIN TRAN T1
							 INSERT INTO dbo.CtiMontazDok(CMD_PrdKod,CMD_CMHId,CMD_Status,CMD_DataKoniec) VALUES(@CMHKod,@IDZakonczeniaMontazuADDkod,0,getdate())
							 DELETE FROM dbo.CtiMontazHist where CMH_ID = @CMHID
							 DELETE FROM dbo.CtiMontazHist where  CMH_NrStanowiska = @CMHNrStanowiska and CMH_Dzialanie = 7
							 UPDATE dbo.CtiMontazHist SET CMH_DokStatus = 0 where  CMH_ID = @IDZakonczeniaMontazuADDkod
							 COMMIT TRAN T1
						END TRY
						BEGIN CATCH
						   RollBack TRAN T1
							set @CMHStatus = 14	
						END CATCH
					end
				END ELSE
			--spr czy kod odpowiada funkcjom
				if @CMHKod = @ZakonczeniePracy		--!!!!!!!!!!!!Zakonczenie PRACY
				begin
					if @CMHDzialanie = 2 or @CMHDzialanie = 4
					begin
						set @CMHTwrLp = 0 -- wyczyscic LP
						set @CMHCznId = 0 -- wyczyscic ID
						set @CMHStatus = 1 --mozna zakonczenie pracy
					end
					else
						set @CMHStatus = 12		
				
					Set @CMHDzialanie = 1 
				end else
				if @CMHKod = @ZakonczenieMontazu	--!!!!!!!!!!!!Zakonczenie montazu
				begin 
					declare @DzialanieZakonczenie int = 0
					declare @idRozpoczeciaMontazu int = 0
					declare @iloscWymagana int = 0
					declare @iloscWprowadzona int = 0
					Set @CMHDzialanie = 2 
					SELECT  top 1   @DzialanieZakonczenie = CMH_Dzialanie FROM  CtiMontazHist
					where  CMH_NrStanowiska = @CMHNrStanowiska and CMH_Status =1  and CMH_Dzialanie <> 3 order by CMH_ID desc
					if @DzialanieZakonczenie <> 5
						set @CMHStatus = 10	--ostatnim elementem nie jest Montazu -- Zakonczenie montazu - Brak elementow
					else
					begin --id pierszego elementu
						SELECT  top 1  @idRozpoczeciaMontazu=CMH_ID FROM  CtiMontazHist
						where  CMH_NrStanowiska = @CMHNrStanowiska and CMH_Status =1  
						and CMH_Dzialanie = 5 and CMH_TwrLp = 1 order by CMH_ID desc 
						--ilosc elementow od id pierwszego
						select  @iloscWprowadzona = count(*) FROM  CtiMontazHist 
						where  CMH_NrStanowiska = @CMHNrStanowiska and CMH_Status =1  and CMH_Dzialanie = 5 and CMH_ID >= @idRozpoczeciaMontazu
						--ilosc elementow wymaganych
						select @iloscWymagana = count(*) from CtiZlecenieNag INNER JOIN CtiTechnolElem on cte_ctnid = czn_ctnid 
						where cte_typ = 1 and czn_id = @CMHCznId
						
						if @iloscWprowadzona <> @iloscWymagana 
						begin set @CMHStatus = 11 end --11-Zakonczenie montazu - Brak elementow - nie wszystkie elementy zostaly wprowadzone
						else begin
							set @CMHTwrLp = 0 -- wyczyscic LP
							set @CMHCznId = 0 -- wyczyscic ID
						end
					end
				end else
				if @CMHKod = @CofniecieMontazu		--!!!!!!!!!!!!COFNIECIE montazu 
				begin 
					Set @CMHDzialanie = 3 
					declare @DzialanieCofniecie int = 0
					declare @idCofniecie int = 0
					SELECT  top 1  @idCofniecie=CMH_ID, @DzialanieCofniecie = CMH_Dzialanie ,
					@CMHTwrIdPopr = CMH_TwrIdPopr, @CMHTwrIdWprow = CMH_TwrIdWprow FROM  CtiMontazHist
					where  CMH_NrStanowiska = @CMHNrStanowiska and CMH_Status =1  and CMH_Dzialanie <> 3 order by CMH_ID desc 
					--czy ostatni wpis to Montazu elementu
					if @DzialanieCofniecie = 5
					begin --COFNIECIE elementu
						UPDATE dbo.CtiMontazHist
						SET CMH_Status = 8
						WHERE CMH_ID = @idCofniecie
					end
					else --brak elementu do cofniecia
						set @CMHStatus = 9
				end else
				begin								--!!!!!!!!!!!!Montazu 
				 set @CMHDzialanie = 5
				--sprawdzenie czy towar jest pierwszym dodanym lub czy poprzedni zostal zakoczony
					set @CMHTwrLp= @CMHTwrLp+1
				-- jezeli pierwszy sprawdzenie nr obudowy i przypisanie nr zlecenia-- najstarsze zlecenie, nie zrealizowane w calosci dla danego pracownika!!!!!!!!!!!!
					if @CMHTwrLp = 1
					begin

						--zasób na magazynie pracownika - czy istnieje
						SELECT  @CMHTwrIdPopr = Twz_TwrId, @CMHTwrIdWprow = Twz_TwrId
						--TwrId = Twz_TwrId,DostId = TrS_TrSIdDost,isnull(TsC_Cecha1_Wartosc,'')as Wartosc
						FROM cdn.TwrZasoby
						INNER JOIN cdn.TraSElem ON TwZ_TrSIdDost = TrS_TrSIdDost AND TrS_Typ=1
						LEFT JOIN cdn.TraSElemCechy ON TsC_TrSId = TrS_TrSId
						--LEFT JOIN CDN.TraElem TraElemsProdukcja ON  TraElemsProdukcja.TrE_TwrId = Twz_TwrId
						WHERE TwZ_MagId = @MagazynDomyslySurPrcId and isnull(TsC_Cecha1_Kod,'')= @cecha
						and isnull(TsC_Cecha1_Wartosc,'') = @CMHKod


						--zlecenie w którym jest dana dostawa, spr jaki to pracownik
						select @CMHCznId=CZN_ID--, isnull(TsD_Cecha1_Wartosc,'') as wartosc,
						--sum(case isnull(czd_korekta,0) when 0 then Tsd_ilosc else (-1*Tsd_ilosc) end) as Ilosc --minus to co skorygowane
						from dbo.CtiZlecenieNag 
						INNER JOIN CtiZlecenieDok on CZD_CZNId = CZN_ID
						INNER JOIN cdn.tranag on trn_trnid = CZD_TrnId
						INNER JOIN cdn.TraElem on CZD_TrnId = TrE_TrNId 
						LEFT JOIN cdn.TraSElemDost on TrE_TrEID = TsD_TrEID 
						INNER JOIN dbo.CtiTechnolElem on czn_ctnid = cte_ctnid and cte_twrid = TrE_TwrId --pozycja
						where 
						dbo.CTIProdukcjaStatusy(2, CZN_ID) not in (0,3,4) --ZP nie bufor,zakończony,anulowany
						and  dbo.CTIProdukcjaStatusy(24, CZN_ID) <> 2 --ZP nie wyprodukowano w całości
						and dbo.CTIProdukcjaStatusy(3, CZD_ID) = 2 --MM wyciągnięte z bufora
						and isnull(TsD_Cecha1_Wartosc,'') <> '' --tylko towary z cechą
						and isnull(TsD_Cecha1_Kod,'')= @cecha --konkretna cecha
						and CZD_PracownikId = @CMHPrcId-- zlecenie do realizacji dla danego pracownika
						and cte_lp = 1 --cecha musi byc pierwszym elementem w technologii
						and isnull(TsD_Cecha1_Wartosc,'') = @CMHKod
						and tre_twrid = @CMHTwrIdPopr
						group by CZN_ID,TsD_Cecha1_Wartosc
						having sum(case isnull(czd_korekta,0) when 0 then Tsd_ilosc else (-1*Tsd_ilosc) end) >0


						if @CMHCznId = 0 begin set @CMHStatus = 5 end --nie znaleziono pierwszego elementu - brak zasobu


							
					end else
					begin
						------Declare @KodPopr varchar(50) = ''
						------jaki ma być kolejny element
						----select distinct @CMHTwrIdPopr = TrE_TwrId, @CMHCznId = czn_id 
						----from cdn.traelem LEFT JOIN cdn.TraSElemDost on TrE_TrEID = TsD_TrEID
						----INNER JOIN dbo.CtiZlecenieDok on 
						----CZD_Status >0 
						----and  isnull(czd_korekta,0) = 0
						----and case isnull(CZD_zastepstwoId,0) when 0 then CZD_PracownikId else CZD_zastepstwoId end = @CMHPrcId
						----INNER JOIN dbo.ctiZlecenieNag on czd_cznid = czn_id and CZN_Status >0 
						----INNER JOIN dbo.CtiTechnolElem on czn_ctnid = cte_ctnid and cte_twrid = TrE_TwrId 
						----and tre_trnid =  czd_trnid
						----where isnull(TsD_Cecha1_Wartosc,'') <> ''  and cte_lp = @CMHTwrLp and czn_id = @CMHCznId
						
						
						--jaki ma byc kolejny element
						select @CMHTwrIdPopr = TrE_TwrId, @CMHCznId = czn_id 
						from dbo.CtiZlecenieNag 
						INNER JOIN CtiZlecenieDok on CZD_CZNId = CZN_ID
						INNER JOIN cdn.tranag on trn_trnid = CZD_TrnId
						INNER JOIN cdn.TraElem on CZD_TrnId = TrE_TrNId 
						LEFT JOIN cdn.TraSElemDost on TrE_TrEID = TsD_TrEID 
						INNER JOIN dbo.CtiTechnolElem on czn_ctnid = cte_ctnid and cte_twrid = TrE_TwrId --pozycja
						where 
						dbo.CTIProdukcjaStatusy(2, CZN_ID) not in (0,3,4) --ZP nie bufor,zakończony,anulowany
						and  dbo.CTIProdukcjaStatusy(24, CZN_ID) <> 2 --ZP nie wyprodukowano w całości
						and dbo.CTIProdukcjaStatusy(3, CZD_ID) = 2 --MM wyciągnięte z bufora
						and isnull(TsD_Cecha1_Wartosc,'') <> '' --tylko towary z cechą
						and isnull(TsD_Cecha1_Kod,'')= @cecha --konkretna cecha
						--and CZD_PracownikId = @CMHPrcId-- zlecenie do realizacji dla danego pracownika
						and cte_lp = @CMHTwrLp --cecha musi byc kolejny elementem w technologii
						--and isnull(TsD_Cecha1_Wartosc,'') = @CMHKod
						--and tre_twrid = @CMHTwrIdPopr
						and CZN_ID = @CMHCznId
						group by CZN_ID,TrE_TwrId
						having sum(case isnull(czd_korekta,0) when 0 then Tsd_ilosc else (-1*Tsd_ilosc) end) >0
						
						if @CMHTwrIdPopr = 0 begin set @CMHStatus = 6 end else--6-nie znaleziono elementu
						begin
							declare @ilosc decimal(15,4) = 0
							--czy ten towar istnije na magazynie
							SELECT @ilosc = twz_ilosc
							FROM cdn.TwrZasoby
							INNER JOIN cdn.TraSElem ON TwZ_TrSIdDost = TrS_TrSIdDost AND TrS_Typ=1
							LEFT JOIN cdn.TraSElemCechy ON TsC_TrSId = TrS_TrSId
							WHERE TwZ_MagId = @MagazynDomyslySurPrcId and isnull(TsC_Cecha1_Kod,'')= @cecha
							and isnull(TsC_Cecha1_Wartosc,'') = @CMHKod and Twz_TwrId = @CMHTwrIdPopr
							if @ilosc = 0 begin set @CMHStatus = 6 end else--6-brak zasobów na magazynie
							begin
								select distinct @CMHTwrIdWprow = TrE_TwrId, @CMHCznId = czn_id   
								from cdn.traelem LEFT JOIN cdn.TraSElemDost on TrE_TrEID = TsD_TrEID
								INNER JOIN dbo.CtiZlecenieDok on 
								CZD_Status >0 
								and  isnull(czd_korekta,0) = 0 
								and case isnull(CZD_zastepstwoId,0) when 0 then CZD_PracownikId else CZD_zastepstwoId end = @CMHPrcId
								INNER JOIN dbo.ctiZlecenieNag on czd_cznid = czn_id and CZN_Status >0 
								INNER JOIN dbo.CtiTechnolElem on czn_ctnid = cte_ctnid and cte_twrid = TrE_TwrId 
								and tre_trnid =  czd_trnid
								where isnull(TsD_Cecha1_Wartosc,'') <> ''  and cte_lp = @CMHTwrLp and czn_id = @CMHCznId and TsD_Cecha1_Wartosc = @CMHKod
							end
						end
					end
					if @CMHTwrIdPopr <> @CMHTwrIdWprow begin set @CMHStatus = 7 end--7-Bladny element
				end
			end
		end
		
				UPDATE dbo.CtiMontazHist
				SET CMH_Status = @CMHStatus
				  ,CMH_NrStanowiska = @CMHNrStanowiska
				  ,CMH_PrcId = @CMHPrcId
				  ,CMH_Kod = @CMHKod
				  ,CMH_Dzialanie = @CMHDzialanie
				  ,CMH_TwrIdWprow = @CMHTwrIdWprow
				  ,CMH_TwrIdPopr = @CMHTwrIdPopr
				  ,CMH_TwrLp = @CMHTwrLp
				  ,CMH_DataKontr = GETDATE()
				  ,CMH_CZNID=@CMHCZNID
				  ,CMH_DokStatus=@CMHDokStatus
				  ,CMH_DokInfo=@CMHDokInfo
				WHERE CMH_ID = @CMHID
	            
				FETCH kursor                 
					INTO  @CMHID , @CMHKodWprow
	end

	CLOSE kursor
	deallocate     kursor

	
	
	


END
GO

# [dbo].[CTIProdukcjaOperatorAddEdit]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaOperatorAddEdit]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaOperatorAddEdit]
	  @id int
	, @kod varchar(20)
	, @administra int
	, @magazynier int
	, @kierownik int
	, @haslo nvarchar(11)
	, @imie  nvarchar(50)
	, @nazwisko nvarchar(50)
	, @opis nvarchar(254)
	, @MagSur varchar(40)
	, @MagProd varchar(40)
	, @kontrola int
	, @prm1 int
	, @prm2 int
	, @prm3 int
	, @prm4 int
	, @wydanie int
	, @podpCalkowita int
	, @podpCzesciowa int
	, @cenySurowcow int
	, @cenyZasobow int
	, @blokowanieZlecen int
	, @odblokowanieZlecen int
	, @nieaktywny int
	, @potwierdzoneTH int
	, @cenyWyrobow int
	, @cenyRO int
	, @editSurowiecZPPotw int
AS
BEGIN
declare @MagSurId int = 0
declare @MagProdId int = 0

	if	@MagSur <> '' begin select @MagSurId = Mag_MagId from cdn.magazyny where Mag_NieAktywny = 0 and Mag_Symbol = @MagSur	end
	if	@MagProd <> ''begin select @MagProdId = Mag_MagId from cdn.magazyny where Mag_NieAktywny = 0 and Mag_Symbol = @MagProd	end

if @id=0
begin
	insert into  dbo.CtiOperatorzy
	( CO_Kod, CO_Administrator, CO_Magazynier, CO_Kierownik, CO_Haslo, CO_Imie, CO_Nazwisko, CO_Opis, CO_MagSId, CO_MagPId,CO_Kontroler, CO_Prm1, CO_Prm2, CO_Prm3, CO_Prm4, 
		CO_Wydanie, CO_PodpowiadanieRealizacjiCalkowitej, CO_PodpowiadanieRealizacjiCzesciowej, CO_WidziCenySurowcow, CO_WidziCenyZasobow, CO_BlokowanieZlecen, CO_OdblokowanieZlecen, CO_Nieaktywny, CO_EdytowaniePotwierdzonychTH,
		CO_WidziCenyWyrobow, CO_WidziCenyRO, CO_EditSurowiecZPPotw) 
	values (@kod,@administra,@magazynier,@kierownik,@haslo,@imie,@nazwisko,@opis,@MagSurId,@MagProdId,@kontrola,@prm1,@prm2,@prm3,@prm4,@wydanie,@podpCalkowita,@podpCzesciowa, 
		@cenySurowcow, @cenyZasobow, @blokowanieZlecen, @odblokowanieZlecen, @nieaktywny, @potwierdzoneTH,
		@cenyWyrobow, @cenyRO, @editSurowiecZPPotw)

end
else
begin
	Update dbo.CtiOperatorzy SET   CO_Kod = @kod, CO_Administrator = @administra
		, CO_Haslo = @haslo, CO_Imie = @imie, CO_Nazwisko = @nazwisko, CO_Opis = @opis
		, CO_MagSId = @MagSurId, CO_MagPId = @MagProdId, CO_PodpowiadanieRealizacjiCalkowitej = @podpCalkowita, CO_PodpowiadanieRealizacjiCzesciowej = @podpCzesciowa
		, CO_Magazynier = @magazynier, CO_Kierownik = @kierownik, CO_Kontroler = @kontrola, CO_Prm1 = @prm1, CO_Prm2 = @prm2, CO_Prm3 = @prm3, CO_Prm4 = @prm4, CO_Wydanie=@wydanie
		, CO_WidziCenySurowcow = @cenySurowcow, CO_WidziCenyZasobow = @cenyZasobow, CO_BlokowanieZlecen = @blokowanieZlecen, CO_OdblokowanieZlecen = @odblokowanieZlecen, CO_Nieaktywny = @nieaktywny
		, CO_EdytowaniePotwierdzonychTH = @potwierdzoneTH, CO_WidziCenyWyrobow = @cenyWyrobow, CO_WidziCenyRO = @cenyRO, CO_EditSurowiecZPPotw = @editSurowiecZPPotw
    Where CO_ID = @id
end


   	
END
GO

# [dbo].[CTIProdukcjaOperatorzyList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaOperatorzyList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaOperatorzyList]
AS
BEGIN
	SELECT CO_ID as ID, CO_Kod, CO_Administrator, CO_Magazynier, CO_Kierownik 
		, isnull(CO_Kontroler,0) as CO_Kontroler, isnull(CO_Prm1,0) as CO_Prm1, isnull(CO_Prm2,0) as CO_Prm2, isnull(CO_Prm3,0) as CO_Prm3, isnull(CO_Prm4,0) as CO_Prm4
		, CO_Haslo, CO_Imie, CO_Nazwisko, CO_Opis 
		, case isnull(CO_MagSId,0) when 0 then '' else (select Mag_Symbol from cdn.magazyny where	Mag_MagId =CO_MagSId) end  as MagazynSurowcow
		, case isnull(CO_MagPId,0) when 0 then '' else (select Mag_Symbol from cdn.magazyny where	Mag_MagId =CO_MagPId) end  as MagazynProduktow
	FROM dbo.CtiOperatorzy order by CO_Kod
END


GO

# [dbo].[CTIProdukcjaPobierzZMaszyny]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaPobierzZMaszyny]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTIProdukcjaPobierzZMaszyny] @ZPid INT
AS
select Mar_ID,Mas_KodSurowca,Mar_Ilosc,Mar_CzasCalkowity from dbo.CtiMaszyna
join dbo.CtiMaszynaRealizacja on mar_masid = mas_id
where mar_status = 0 and mas_dokid = @ZPid
GO

# [dbo].[CTIProdukcjaPracMagAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaPracMagAdd]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CTIProdukcjaPracMagAdd]
@idPrac int,
@MagSur varchar(40),
@MagProd varchar(40)
AS
BEGIN
declare @MagSurId int = 0
declare @MagProdId int = 0
if @idPrac <> 0
begin
	if	@MagSur <> ''
	begin
		select @MagSurId = Mag_MagId from cdn.magazyny where 
		Mag_NieAktywny = 0 and Mag_Symbol = @MagSur
	end
	if	@MagProd <> ''
	begin
		select @MagProdId = Mag_MagId from cdn.magazyny where 
		Mag_NieAktywny = 0 and Mag_Symbol = @MagProd
	end


		IF EXISTS
		(select KnM_PraId FROM CtiKonfigMag where KnM_PraId = @idPrac)
		begin
			if	@MagSur = ''
			begin
				UPDATE [dbo].[CtiKonfigMag]
				SET [KnM_MagPId] =@MagProdId
				where KnM_PraId =@idPrac
			end
			else if	@MagProd = ''
			begin
				UPDATE [dbo].[CtiKonfigMag]
				SET [KnM_MagSId] = @MagSurId
				where KnM_PraId =@idPrac
			end
			else
			begin
				UPDATE [dbo].[CtiKonfigMag]
				SET [KnM_MagSId] = @MagSurId,[KnM_MagPId] =@MagProdId
				where KnM_PraId =@idPrac
			end
		end
		else
		begin
			INSERT INTO [dbo].[CtiKonfigMag]([KnM_PraId],[KnM_MagSId],[KnM_MagPId])
			VALUES(@idPrac,@MagSurId,@MagProdId)
		end
end    	
END
GO

# [dbo].[CTIProdukcjaPracMagList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaPracMagList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CTIProdukcjaPracMagList] 
@ZP int, --305 --0 wszystkie-- idZP pracownicy powiazani z ZP
@Typ int, --0 wszystkie -- 80 ograniczenie na pracowniku
@DzialID int = NULL
AS

declare  @CzyJestOgraniczenieWydzialu int = 0 SELECT @CzyJestOgraniczenieWydzialu = count(*) FROM dbo.CtiKonfigOgraniczenia where KnO_IdList = @typ and KnO_Parametr = 3
declare  @CzyJestOgraniczenieKategorii int = 0 SELECT  @CzyJestOgraniczenieKategorii = count(*) FROM dbo.CtiKonfigOgraniczenia where KnO_IdList = @typ and KnO_Parametr = 2
declare  @CzyJestOgraniczenieStanowisko int = 0 SELECT @CzyJestOgraniczenieStanowisko = count(*) FROM dbo.CtiKonfigOgraniczenia where KnO_IdList = @typ and KnO_Parametr = 4

declare @MagazynDomyslySurId int = 0 select @MagazynDomyslySurId = knf_wartosc from CtiKonfiguracja  where knf_numer = 8
declare @MagazynDomyslySur varchar(40) = '' select @MagazynDomyslySur = mag_symbol from cdn.magazyny where mag_magid = @MagazynDomyslySurId
declare @MagazynDomyslyProdId int =0 select @MagazynDomyslyProdId = knf_wartosc from CtiKonfiguracja  where knf_numer = 9
declare @MagazynDomyslyProd varchar(40) = '' select @MagazynDomyslyProd = mag_symbol from cdn.magazyny where mag_magid = @MagazynDomyslyProdId



	SELECT DISTINCT A.PRI_PraId as ID , A.PRI_Kod as PrcKod, 
		(SELECT TOP 1 PKR_Numer FROM CDN.PracKartyRcp WHERE PKR_PrcId = A.PRI_PraId AND GETDATE() BETWEEN PKR_OkresOd AND PKR_OkresDo) AS RCP,
		case ISNULL(D.KnM_MagSId,0) when 0 then @MagazynDomyslySur else (select Mag_Symbol from cdn.magazyny where Mag_MagId = D.KnM_MagSId  ) end As MagSur,
		case ISNULL(D.KnM_MagSId,0) when 0 then @MagazynDomyslySurId else KnM_MagSId  end As MagSurId,
		case ISNULL(D.KnM_MagPId,0) when 0 then @MagazynDomyslyProd else (select Mag_Symbol from cdn.magazyny where Mag_MagId = D.KnM_MagPId  ) end As MagProd, 
		case ISNULL(D.KnM_MagPId,0) when 0 then @MagazynDomyslyProdId else KnM_MagPId  end As MagProdId,
		PRI_Imie1 as Imie, PRI_Nazwisko as Nazwisko,
		DZL_Kod as Wydzial, PRI_Pesel as Pesel, ISNULL(DKM_Nazwa,'') as Stanowisko
	FROM CDN.Pracidx AS A 
		LEFT JOIN CDN.PracKod AS B ON B.PRA_PraId = A.PRI_PraId 
		LEFT JOIN CDN.PracEtaty AS C ON C.PRE_PraId = B.PRA_PraId 
		LEFT JOIN dbo.CtiKonfigMag D ON A.PRI_PraId = D.KnM_PraId
		LEFT JOIN CDN.Dzialy ON PRE_DzlId = CDN.Dzialy.DZL_DzlId
		LEFT JOIN cdn.danekadmod on C.PRE_ETADkmIdStanowisko = DKM_DkmId 
		LEFT JOIN dbo.CtiZleceniePrc ON A.PRI_PraId = ISNULL(CZO_PrcId,0)
	where (A.PRI_Typ = 1) AND (A.PRI_Archiwalny < 1) 
	   and Convert(DATETIME,getdate(),120) >= PRE_DataOd --wydziały
	   and Convert(DATETIME,getdate(),120) <= PRE_DataDo --wydziały
	   and ((@ZP<>0  and ISNULL(CZO_CZNId,0) = @ZP)OR 
		 (@ZP = 0
	  --ograniczenia
		 and ((@CzyJestOgraniczenieKategorii = 0) or (@CzyJestOgraniczenieKategorii <> 0 and (ISNULL(PRE_KatId,0) in (SELECT distinct KnO_WartoscID FROM dbo.CtiKonfigOgraniczenia where KnO_IdList = @typ and KnO_Parametr = 2))))
		 and ((@CzyJestOgraniczenieWydzialu = 0) or (@CzyJestOgraniczenieWydzialu <> 0 and (ISNULL(PRE_DzlId,0) in (SELECT distinct KnO_WartoscID FROM dbo.CtiKonfigOgraniczenia where KnO_IdList = @typ and KnO_Parametr = 3)))) 
		 and ((@CzyJestOgraniczenieStanowisko = 0)	or (@CzyJestOgraniczenieStanowisko <> 0 and (ISNULL(C.PRE_ETADkmIdStanowisko,0) in (SELECT distinct KnO_WartoscID FROM dbo.CtiKonfigOgraniczenia where KnO_IdList = @typ and KnO_Parametr = 4)))) 
		  ))
		and (@DzialID IS NULL OR EXISTS (
			SELECT * FROM dbo.CtiDzialPRC
			WHERE A.PRI_PraId = DzP_PrcId
			AND DzP_CDZID = @DzialID
		))

	order by  A.PRI_Kod
GO

# [dbo].[CTIProdukcjaPracownicyMiniList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaPracownicyMiniList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CTIProdukcjaPracownicyMiniList] 
AS

SELECT PRI_PraId,PRI_Kod--, RCP 
from(
	SELECT DISTINCT A.PRI_PraId, A.PRI_Kod--, isnull(CDN.PracKartyRcp.PKR_Numer, '') 
	, '' AS RCP
	FROM CDN.Pracidx AS A LEFT JOIN
	CDN.PracKod AS B ON B.PRA_PraId = A.PRI_PraId LEFT JOIN
	CDN.PracEtaty AS C ON C.PRE_PraId = B.PRA_PraId 
	--LEFT JOIN CDN.PracKartyRcp ON CDN.PracKartyRcp.PKR_PrcId = A.PRI_PraId
	WHERE    (A.PRI_Typ = 1) AND (A.PRI_Archiwalny < 1)
) a 
order by PRI_Kod


GO

# [dbo].[CTIProdukcjaPrzyjeciePrcList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaPrzyjeciePrcList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaPrzyjeciePrcList]
 @ID int,
 @PrcKod varchar(40)
AS
BEGIN

	declare @MagazynDomyslySurId int = 0
	declare @MagazynDomyslySur varchar(40) = '' 
	declare @MagazynDomyslyProdId int =0
	declare @MagazynDomyslyProd varchar(40) = '' 
	select @MagazynDomyslySurId = knf_wartosc from CtiKonfiguracja  where knf_numer = 8
	select @MagazynDomyslyProdId = knf_wartosc from CtiKonfiguracja  where knf_numer = 9
	select @MagazynDomyslySur = mag_symbol from cdn.magazyny where mag_magid = @MagazynDomyslySurId
	select @MagazynDomyslyProd = mag_symbol from cdn.magazyny where mag_magid = @MagazynDomyslyProdId
	declare @prmPrc int = 0
	SELECT  @prmPrc = cast(isnull(KNF_Wartosc,0) as int) FROM dbo.CtiKonfiguracja  where KNF_Numer = 61 and isnull(KNF_Wartosc,'') <> ''	

	if (@prmPrc = 1)--BEZ PRACOWNIKÓW
	begin
		SELECT 0 as PrcId, '' as PrcKod,0 as ilosc,0 As MagSur,0 As MagSurId,0 As MagProd, 0 As MagProdId
	end
	else if (@prmPrc =3)--PRACOWNICY BEZ PRZYDZIELENIA ILOŚCI
	begin
		SELECT DISTINCT czo_prcid as PrcId, CZO_PrcKod as PrcKod,
			case when (isnull(czn_ilosc,1) -
			isnull((
			select sum(tre_ilosc) from dbo.CtiZlecenieDok 
			INNER JOIN dbo.CtiZlecenieNag on czd_cznid = czn_id
			INNER JOIN cdn.traelem on tre_trnid = czd_trnid and tre_twrid = czn_twrid
			where  czd_typ = 4 --dokument PW
			and dbo.CTIProdukcjaStatusy(3, CZD_ID) <> 4 -- dokument PW nie anulowany
			and czd_cznid = czo_cznid and czd_pracownikid = czo_prcid),0) )
			< 0 then 0 else
			(isnull(czn_ilosc,1) -
			isnull((
			select sum(tre_ilosc) from dbo.CtiZlecenieDok 
			INNER JOIN dbo.CtiZlecenieNag on czd_cznid = czn_id
			INNER JOIN cdn.traelem on tre_trnid = czd_trnid and tre_twrid = czn_twrid
			where  czd_typ = 4 --dokument PW
			and dbo.CTIProdukcjaStatusy(3, CZD_ID) <> 4 -- dokument PW nie anulowany
			and czd_cznid = czo_cznid ),0) ) end as ilosc,
			case isnull(KnM_MagSId,0) when 0 then @MagazynDomyslySur else 
			(select Mag_Symbol from cdn.magazyny where Mag_MagId = KnM_MagSId  )end As MagSur,
			case isnull(KnM_MagSId,0) when 0 then @MagazynDomyslySurId else KnM_MagSId  end As MagSurId,
			case isnull(KnM_MagPId,0) when 0 then @MagazynDomyslyProd else 
			(select Mag_Symbol from cdn.magazyny where Mag_MagId = KnM_MagPId  ) end As MagProd, 
			case isnull(KnM_MagPId,0) when 0 then @MagazynDomyslyProdId else KnM_MagPId  end As MagProdId
		FROM 	dbo.CtiZleceniePrc 
			INNER JOIN dbo.CtiZlecenieNag on czn_id = CZO_CZNId
			LEFT JOIN dbo.CtiKonfigMag  ON czo_prcid = KnM_PraId
		WHERE  czo_cznid = @ID    and isnull(CZO_PrcTyp,80) = 80
			and ((@PrcKod = '' and 1=1) or (@PrcKod <> '' and CZO_PrcKod = @PrcKod ))
	end
	else if (@prmPrc =4)--DZIALY
	begin
	
		SELECT DISTINCT czo_prcid as PrcId, CDZ_Kod as PrcKod,
			case when (isnull(czn_ilosc,1) -
			isnull((
			select sum(tre_ilosc) from dbo.CtiZlecenieDok 
			INNER JOIN dbo.CtiZlecenieNag on czd_cznid = czn_id
			INNER JOIN cdn.traelem on tre_trnid = czd_trnid and tre_twrid = czn_twrid
			where  czd_typ = 4 --dokument PW
			and dbo.CTIProdukcjaStatusy(3, CZD_ID) <> 4 -- dokument PW nie anulowany
			and czd_cznid = czo_cznid and czd_pracownikid = czo_prcid),0) )
			< 0 then 0 else
			(isnull(czn_ilosc,1) -
			isnull((
			select sum(tre_ilosc) from dbo.CtiZlecenieDok 
			INNER JOIN dbo.CtiZlecenieNag on czd_cznid = czn_id
			INNER JOIN cdn.traelem on tre_trnid = czd_trnid and tre_twrid = czn_twrid
			where  czd_typ = 4 --dokument PW
			and dbo.CTIProdukcjaStatusy(3, CZD_ID) <> 4 -- dokument PW nie anulowany
			and czd_cznid = czo_cznid ),0) ) end as ilosc,
			case isnull(CDZ_MagSId,0) when 0 then @MagazynDomyslySur else 
			(select Mag_Symbol from cdn.magazyny where Mag_MagId = CDZ_MagSId  )end As MagSur,
			case isnull(CDZ_MagSId,0) when 0 then @MagazynDomyslySurId else CDZ_MagSId  end As MagSurId,
			case isnull(CDZ_MagPId,0) when 0 then @MagazynDomyslyProd else 
			(select Mag_Symbol from cdn.magazyny where Mag_MagId = CDZ_MagPId  ) end As MagProd, 
			case isnull(CDZ_MagPId,0) when 0 then @MagazynDomyslyProdId else CDZ_MagPId  end As MagProdId
		FROM 	dbo.CtiZleceniePrc 
			INNER JOIN dbo.CtiDzial on isnull(CZO_PrcTyp,80) = 81 and CDZ_ID = czo_prcid
			INNER JOIN dbo.CtiZlecenieNag on czn_id = CZO_CZNId
		WHERE  czo_cznid = @ID  and isnull(CZO_PrcTyp,80) = 81
			and ((@PrcKod = '' and 1=1) or (@PrcKod <> '' and CZO_PrcKod = @PrcKod ))
	END
	else--PRACOWNICY Z ILOŚCIĄ
	begin
		SELECT DISTINCT czo_prcid as PrcId, CZO_PrcKod as PrcKod,
			case when (isnull(czo_ilosc,0) -
			isnull((
			select sum(tre_ilosc) from dbo.CtiZlecenieDok 
			INNER JOIN dbo.CtiZlecenieNag on czd_cznid = czn_id
			INNER JOIN cdn.traelem on tre_trnid = czd_trnid and tre_twrid = czn_twrid
			where  czd_typ = 4 --dokument PW
			and dbo.CTIProdukcjaStatusy(3, CZD_ID) <> 4 -- dokument PW nie anulowany
			and czd_cznid = czo_cznid and czd_pracownikid = czo_prcid),0) )
			< 0 then 0 else
			(isnull(czo_ilosc,0) -
			isnull((
			select sum(tre_ilosc) from dbo.CtiZlecenieDok 
			INNER JOIN dbo.CtiZlecenieNag on czd_cznid = czn_id
			INNER JOIN cdn.traelem on tre_trnid = czd_trnid and tre_twrid = czn_twrid
			where  czd_typ = 4 --dokument PW
			and dbo.CTIProdukcjaStatusy(3, CZD_ID) <> 4 -- dokument PW nie anulowany
			and czd_cznid = czo_cznid and czd_pracownikid = czo_prcid),0) ) end 
		as ilosc,
			case isnull(KnM_MagSId,0) when 0 then @MagazynDomyslySur else 
			(select Mag_Symbol from cdn.magazyny where Mag_MagId = KnM_MagSId  )end 
		As MagSur,
			case isnull(KnM_MagSId,0) when 0 then @MagazynDomyslySurId else KnM_MagSId  end 
		As MagSurId,
			case isnull(KnM_MagPId,0) when 0 then @MagazynDomyslyProd else 
			(select Mag_Symbol from cdn.magazyny where Mag_MagId = KnM_MagPId  ) end 
		As MagProd, 
			case isnull(KnM_MagPId,0) when 0 then @MagazynDomyslyProdId else KnM_MagPId  end 
		As MagProdId

		FROM 	dbo.CtiZleceniePrc
			LEFT JOIN dbo.CtiKonfigMag  ON czo_prcid = KnM_PraId
		WHERE  czo_cznid = @ID   and isnull(CZO_PrcTyp,80) = 80
			and ((@PrcKod = '' and 1=1) or (@PrcKod <> '' and CZO_PrcKod = @PrcKod ))
	end
end
GO

# [dbo].[CTIProdukcjaPWlist]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaPWlist]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaPWlist]
 @ID int,
 @IDZPZ int,
 @dataOd varchar(20),
 @dataDo varchar(20),
 @prmData int--0 bez --1 ograniczenie po dacie
AS
BEGIN
--czy poszczególne parametry maja być widoczne
declare @DokTyp int = 4 -- PW
--declare @prmMontaz int = 0 SELECT  @prmMontaz = cast(ISNULL(KNF_Wartosc,0) as int) FROM dbo.CtiKonfiguracja  where KNF_Numer = 25 and ISNULL(KNF_Wartosc,'') <> ''
declare @prmPrc int = 0 SELECT  @prmPrc = cast(ISNULL(KNF_Wartosc,0) as int) FROM dbo.CtiKonfiguracja  where KNF_Numer = 61 and ISNULL(KNF_Wartosc,'') <> ''
if @prmPrc in (2,3,4) begin set @prmPrc = 1 end else begin set @prmPrc = 0 end
declare @prmPole1 int = 0 SELECT   @prmPole1 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 1 and CAU_TypDok = @DokTyp
declare @prmPole2 int = 0 SELECT   @prmPole2 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 2 and CAU_TypDok = @DokTyp
declare @prmPole3 int = 0 SELECT   @prmPole3 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 3 and CAU_TypDok = @DokTyp


		SELECT DISTINCT 
			e.TrN_TrNID as ID, ISNULL(CtiZlecenieNag.CZN_ID, 0) AS CZN_ID
			, ISNULL(e.TrN_NumerPelny, '') AS DokumentWydania
			, ISNULL(a.CO_Kod, '') AS CZD_OpeWyst, ISNULL(CtiZlecenieDok.CZD_DataWyst, GETDATE())AS CZD_DataWyst
			, ISNULL(b.CO_Kod, '') AS CZD_OperModyf, ISNULL(CtiZlecenieDok.CZD_DataModyf, GETDATE())   AS CZD_DataModyf
			, ISNULL(CtiZlecenieNag.CZN_TwrId, 0) AS ZasobID 
			, ISNULL(CDN.Towary.Twr_Kod, '') AS ZasobKod
			, ISNULL(dbo.CTIProdukcjaZlecenieNumer(CtiZlecenieNag.CZN_ID), '') AS CZN_Numer
			, ISNULL(CZO_PrcKod, '') AS PRI_Kod --pracownik
			, dbo.CTIProdukcjaStatusy(3, CtiZlecenieDok.CZD_ID) AS CZD_Status
			, dbo.CTIProdukcjaStatusyNazwy(3, dbo.CTIProdukcjaStatusy(3, CtiZlecenieDok.CZD_ID)) AS StatusNazwa 
			--, ISNULL(CMD_PrdKod, '') AS ProdKod--montaz
			,''  AS ProdKod
			, ISNULL(c.Mag_Symbol, '') AS MagDoc 
			, ISNULL(d.Mag_Symbol, '') AS MagZrd
			, case @prmPole1 when 1 then (SELECT TOP (1) Wartosc
				FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CtiZlecenieNag.CZN_CTNId, CtiZlecenieNag.CZN_ID, 0, e.TrN_TrNID, 0, 0,0) WHERE (Lp = 1)) else '' end AS Pole1
			, case @prmPole2 when 1 then (SELECT TOP (1) Wartosc
				FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CtiZlecenieNag.CZN_CTNId, CtiZlecenieNag.CZN_ID, 0, e.TrN_TrNID, 0, 0,0) WHERE (Lp = 2))  else '' end AS Pole2
			, case @prmPole3 when 1 then (SELECT TOP (1) Wartosc
				FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CtiZlecenieNag.CZN_CTNId, CtiZlecenieNag.CZN_ID, 0, e.TrN_TrNID, 0, 0,0) WHERE (Lp = 3))  else '' end AS Pole3
		FROM CtiZlecenieDok 
			INNER JOIN CtiZlecenieNag ON CtiZlecenieDok.CZD_CZNId = CtiZlecenieNag.CZN_ID 
			INNER JOIN CDN.TraNag AS e ON CtiZlecenieDok.CZD_TrnId = e.TrN_TrNID 
			LEFT JOIN CtiOperatorzy AS a ON CtiZlecenieDok.CZD_OpeWyst = a.CO_ID 
			LEFT JOIN CtiOperatorzy AS b ON CtiZlecenieDok.CZD_OperModyf = b.CO_ID 
			LEFT JOIN dbo.CtiZleceniePrc ON  CZO_CZNId = CZN_ID and CZO_PrcId = CZD_PracownikId and @prmPrc = 1
			LEFT JOIN CDN.Magazyny AS c ON e.TrN_MagDocId = c.Mag_MagId 
			LEFT JOIN CDN.Magazyny AS d ON e.TrN_MagZrdId = d.Mag_MagId 
			--LEFT JOIN CtiMontazDok ON e.TrN_TrNID = CtiMontazDok.CMD_PWId and @prmMontaz = 1
			LEFT JOIN CDN.Towary ON CtiZlecenieNag.CZN_TwrId = CDN.Towary.Twr_TwrId
			LEFT JOIN dbo.CtiZlecenieZElem ON CZN_ID = ISNULL(CZZE_CZNID,0)
		where e.TrN_TypDokumentu in  (303)  and e.trn_anulowany = 0 
		and
		(
			((@ID = 0) or (@ID <> 0 and CZN_ID = @ID ))
			and
			((@IDZPZ = 0) or (@IDZPZ <> 0 and ISNULL(CZZE_CZZNID,0) = @IDZPZ ))
			and
			(
				 (ISNULL(@prmData,0) =0) 
				 or
				(@prmData =1 and
				CONVERT(VARCHAR, ISNULL(e.trn_datawys, GETDATE()), 23)  BETWEEN CONVERT(VARCHAR, @dataOd, 23) AND CONVERT(VARCHAR, @dataDo, 23))
			)
		)
		ORDER BY e.TrN_TrNID
END

GO

# [dbo].[CTIProdukcjaPWRWlist]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaPWRWlist]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CTIProdukcjaPWRWlist]
 @ID int,
 @IDZPZ int,
 @dataOd varchar(20),
 @dataDo varchar(20),
 @prmData int--0 bez --1 ograniczenie po dacie
AS
BEGIN
--czy poszczególne parametry maja być widoczne
declare @DokTyp int = 4 --produkcja PW
--declare @prmMontaz int = 0 SELECT  @prmMontaz = cast(ISNULL(KNF_Wartosc,0) as int) FROM dbo.CtiKonfiguracja  where KNF_Numer = 25 and ISNULL(KNF_Wartosc,'') <> ''
declare @prmPrc int = 0 SELECT  @prmPrc = cast(ISNULL(KNF_Wartosc,0) as int) FROM dbo.CtiKonfiguracja  where KNF_Numer = 61 and ISNULL(KNF_Wartosc,'') <> ''
if @prmPrc in (2,3,4) begin set @prmPrc = 1 end else begin set @prmPrc = 0 end

		SELECT DISTINCT 
			e.TrN_TrNID as ID, ISNULL(CtiZlecenieNag.CZN_ID, 0) AS CZN_ID
			, ISNULL(e.TrN_NumerPelny, '') AS DokumentWydania
			, ISNULL(a.CO_Kod, '') AS CZD_OpeWyst, ISNULL(CtiZlecenieDok.CZD_DataWyst, GETDATE())AS CZD_DataWyst
			, ISNULL(b.CO_Kod, '') AS CZD_OperModyf, ISNULL(CtiZlecenieDok.CZD_DataModyf, GETDATE())   AS CZD_DataModyf
			, ISNULL(CtiZlecenieNag.CZN_TwrId, 0) AS ZasobID 
			, ISNULL(CDN.Towary.Twr_Kod, '') AS ZasobKod
			, ISNULL(dbo.CTIProdukcjaZlecenieNumer(CtiZlecenieNag.CZN_ID), '') AS CZN_Numer
			, COALESCE(CZO_PrcKod, pv.Kod, '') AS PRI_Kod --pracownik
			, case TrN_Bufor 
					when 0	then 2--zamknięte
					when -1 then 4 --anulowane
					else 0	end--bufor
				AS CZD_Status
			, dbo.CTIProdukcjaStatusyNazwy(3, case TrN_Bufor 
					when 0	then 2--zamknięte
					when -1 then 4 --anulowane
					else 0	end) AS StatusNazwa 
			--, ISNULL(CMD_PrdKod, '') AS ProdKod--montaz
			,''  AS ProdKod
			, ISNULL(c.Mag_Symbol, '') AS MagDoc 
			, ISNULL(d.Mag_Symbol, '') AS MagZrd
	,(SELECT TOP 1 CASE CAE_Wartosc
					WHEN 'True' THEN 'Tak'
					WHEN 'False' THEN 'Nie'
					ELSE isnull(CAE_Wartosc, '') END 
					FROM dbo.CtiAtrybutyElem where ((CAE_IdDok = e.TrN_TrNID 
						and CAE_TypDok = (SELECT case e.TrN_TypDokumentu
						when 304 then 5
						when 303 then 4 end)
					)) and  CAE_CANLp = 1) as pole1

			,(SELECT TOP 1 CASE CAE_Wartosc
					WHEN 'True' THEN 'Tak'
					WHEN 'False' THEN 'Nie'
					ELSE isnull(CAE_Wartosc, '') END 
					FROM dbo.CtiAtrybutyElem where ((CAE_IdDok = e.TrN_TrNID 
						and CAE_TypDok = (SELECT case e.TrN_TypDokumentu
						when 304 then 5
						when 303 then 4 end)
					)) and  CAE_CANLp = 2) as pole2
			,(SELECT TOP 1 CASE CAE_Wartosc
					WHEN 'True' THEN 'Tak'
					WHEN 'False' THEN 'Nie'
					ELSE isnull(CAE_Wartosc, ' ') END 
					FROM dbo.CtiAtrybutyElem where ((CAE_IdDok = e.TrN_TrNID 
						and CAE_TypDok = (SELECT case e.TrN_TypDokumentu
						when 304 then 5
						when 303 then 4 end)
					)) and  CAE_CANLp = 3) as pole3					

		FROM CtiZlecenieDok 
			INNER JOIN CtiZlecenieNag ON CtiZlecenieDok.CZD_CZNId = CtiZlecenieNag.CZN_ID 
			INNER JOIN CDN.TraNag AS e ON CtiZlecenieDok.CZD_TrnId = e.TrN_TrNID 
			LEFT JOIN CtiOperatorzy AS a ON CtiZlecenieDok.CZD_OpeWyst = a.CO_ID 
			LEFT JOIN CtiOperatorzy AS b ON CtiZlecenieDok.CZD_OperModyf = b.CO_ID 
			LEFT JOIN dbo.CtiZleceniePrc ON  CZO_CZNId = CZN_ID and CZO_PrcId = CZD_PracownikId and @prmPrc = 1
			LEFT JOIN CDN.Magazyny AS c ON e.TrN_MagDocId = c.Mag_MagId 
			LEFT JOIN CDN.Magazyny AS d ON e.TrN_MagZrdId = d.Mag_MagId 
			--LEFT JOIN CtiMontazDok ON e.TrN_TrNID = CtiMontazDok.CMD_PWId and @prmMontaz = 1
			LEFT JOIN CDN.Towary ON CtiZlecenieNag.CZN_TwrId = CDN.Towary.Twr_TwrId
			LEFT JOIN dbo.CtiZlecenieZElem ON CZN_ID = ISNULL(CZZE_CZNID,0)
			LEFT JOIN CDN.PracownicyView pv ON pv.PracId = CZD_PracownikID
		where e.TrN_TypDokumentu in  (303,304)  and e.trn_anulowany = 0 
		and
		(
			((@ID = 0) or (@ID <> 0 and CZN_ID = @ID ))
			and
			((@IDZPZ = 0)or (@IDZPZ <> 0 and ISNULL(CZZE_CZZNID,0) = @IDZPZ ) )
			and
			(
				(ISNULL(@prmData,0) = 0) 
				or
				(@prmData =1 and
				CONVERT(VARCHAR, ISNULL(e.trn_datawys, GETDATE()), 23)  BETWEEN CONVERT(VARCHAR, @dataOd, 23) AND CONVERT(VARCHAR, @dataDo, 23))
			)
		)

		ORDER BY e.TrN_TrNID
END

GO

# [dbo].[CtiProdukcjaRaportBrakow]

In [0]:
/****** Object:  StoredProcedure [dbo].[CtiProdukcjaRaportBrakow]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[CtiProdukcjaRaportBrakow]
	@OpeId INT,
	@MagId INT,
	@TwrGrupaId  INT,
	@datZasobu  varchar(20),
	@DostawcaId  INT,
	@UwzgledniajRezerwacje TINYINT,
	@UwzgledniajZamowienia TINYINT,
	@UwzgledniajStanyTowarow TINYINT,
	@RodzajNormatywu TINYINT,
	@TypAlgorytmu TINYINT,
	@SprzedOd  varchar(20),
	@SprzedDo  varchar(20),
	@NiePobierajListyBrakow TINYINT,
	@TowaryId    TEXT,
	@WybraneROId TEXT
AS
BEGIN

declare @SprzedazOd datetime set @SprzedazOd = convert(datetime, @SprzedOd,120)
declare @SprzedazDo datetime set @SprzedazDo = convert(datetime, @SprzedDo,120)
declare @DataZasobu datetime set @DataZasobu = convert(datetime, @datZasobu,120)

  SET NOCOUNT ON
 -- Notowania walut
  DECLARE
  @TylkoWgId     INT,
  @TwGNumer      INT,
  @NrCeny        INT,
  @WalutaKoncowa    NVARCHAR(3),
  @sqltxt			NVARCHAR(1024),
  @FullKnfName      NVARCHAR(512),
  @WalOstrzegaj     NVARCHAR(3),
  @TrN_DataDokChar  NVARCHAR(25),
  @KursLWalutaKoncowa                DECIMAL(15,4),
  @KursMWalutaKoncowa                DECIMAL(5,0)
--pobranie notowania
 SELECT @TrN_DataDokChar    = CONVERT(NVARCHAR(25), @DataZasobu, 102)
 SET @FullKnfName = CDN.GetFullKnfName()
 SELECT @TrN_DataDokChar    = CONVERT(NVARCHAR(25), @DataZasobu, 102)
 -- 1 = "Pobieraj ostatnio ustalony kurs waluty (nie ostrzegaj o zmianie kursu)"
 IF EXISTS(SELECT Fir_Wartosc FROM Cdn.Firma WHERE Fir_Numer=1540 )
  SELECT @WalOstrzegaj=Fir_Wartosc FROM Cdn.Firma WHERE Fir_Numer=1540
 ELSE
  SELECT @WalOstrzegaj=1
 SET @sqltxt = 'EXEC ' + @FullKnfName + '.CDN.PobierzNotowania '''', 2,'''+ @TrN_DataDokChar+''','+ @WalOstrzegaj+''
 CREATE TABLE #Notowania  ( Systemowa TINYINT, Waluta NVARCHAR(3) PRIMARY KEY, KursNumer INT, KursL DECIMAL(15,4), KursM DECIMAL(5,0), Brak TINYINT )
 INSERT INTO  #Notowania  ( Systemowa,         Waluta ,           KursNumer,     KursL,               KursM             , Brak         )
 EXEC sp_executesql @sqltxt
 IF NOT EXISTS (SELECT Fir_Wartosc FROM Cdn.Firma WHERE Fir_Numer = 1849) SELECT @WalutaKoncowa = '' ELSE SELECT @WalutaKoncowa = Fir_Wartosc FROM Cdn.Firma WHERE Fir_Numer = 1849
 IF @WalutaKoncowa = ''
  SELECT @KursLWalutaKoncowa = 1, @KursMWalutaKoncowa =1
 ELSE
  SELECT @KursLWalutaKoncowa = KursL, @KursMWalutaKoncowa =KursM FROM #Notowania WHERE Waluta = @WalutaKoncowa
    DECLARE @opeZakazCenZak INT;
 SET @opeZakazCenZak = 0;
 SET @sqltxt  = ' SELECT TOP 1 Ope_ZakazCenyZak FROM ' + @FullKnfName + '.CDN.Operatorzy WHERE Ope_OpeId = ' + CONVERT(NVARCHAR(20), @OpeId)
         -- przerzucenie wyniku do zmiennej poprzez tabelę tymczasową
    CREATE TABLE #Ope (OpeParam INT)
    INSERT #Ope EXEC sp_executeSQL @sqltxt
    SELECT TOP 1  @opeZakazCenZak = OpeParam  FROM #Ope
    DROP TABLE #Ope
 IF @DostawcaId Is NULL SET @DostawcaId = 0
 IF DATALENGTH(@TowaryId) = 0
  SET @TylkoWgId = 0
 ELSE
  SET @TylkoWgId = 1
 CREATE TABLE #RaportBrakow (
     ID     INT NOT NULL PRIMARY KEY,
     Kod    NVARCHAR(255) NOT NULL,
     Nazwa    NVARCHAR(255) NOT NULL,
     EAN    NVARCHAR(255) NOT NULL,
     [Status]   NVARCHAR(3) NOT NULL,
     NumerKat   NVARCHAR(40) NOT NULL,
  DostawcaID   INT NOT NULL,
  Dostawca   NVARCHAR(255) NOT NULL,
  KodDostawcy  NVARCHAR(255) NOT NULL,
     Ilosc    DECIMAL(20,4) NOT NULL,
     Rezerwacje   DECIMAL(20,4) NOT NULL,
     UwzgRezerwacje  DECIMAL(20,4) NOT NULL,
     Zamowienia   DECIMAL(20,4) NOT NULL,
     UwzgZamowienia  DECIMAL(20,4) NOT NULL,
     Braki    DECIMAL(20,4) NOT NULL,
     BrakiPozostale  DECIMAL(20,4) NOT NULL,
     IloscSprzedana  DECIMAL(20,4) NOT NULL,
     IloscZamawiana  DECIMAL(20,4) NOT NULL,
     IloscZamawianaJM DECIMAL(20,4) NOT NULL,
  JMZam    NVARCHAR(255) NOT NULL,
  JM     NVARCHAR(255) NOT NULL,
  JMCalkowite  TINYINT NOT NULL,
  CenaNettoWal  DECIMAL(20,2) NOT NULL,
  CenaNettoWalDisp NVARCHAR(20) NOT NULL,
  WalutaSymbol  NVARCHAR(3) NOT NULL,
  KursL    DECIMAL(15,4) NOT NULL,
  KursM    DECIMAL(5,0) NOT NULL,
  CenaNetto   DECIMAL(20,2) NOT NULL,
  WartoscNetto  DECIMAL(20,2) NOT NULL,
  WartoscNettoDisp NVARCHAR(20) NOT NULL,
  BrakKursuWaluty TINYINT NOT NULL,
  IloscMin           DECIMAL (15,4) NOT NULL,
  IloscMinJM         NVARCHAR (255)   NOT NULL ,
  IloscMax           DECIMAL (15,4) NOT NULL ,
  IloscMaxJM         NVARCHAR (255)   NOT NULL ,
  IloscZam           DECIMAL (15,4) NOT NULL ,
  IloscZamJM         NVARCHAR (255)   NOT NULL
 )
 IF @magId = 0
 BEGIN
  INSERT INTO #RaportBrakow
  SELECT Twr_TwrId,Twr_Kod,replace(Twr_Nazwa,char(10), ' ')  ,Twr_EAN,
   CASE WHEN (Twr_Typ = 0 AND Twr_Produkt = 0 AND Twr_Kaucja = 0) THEN 'UP' WHEN (Twr_Typ = 0 AND Twr_Produkt = 1 AND Twr_Kaucja = 0) THEN 'UZ' WHEN (Twr_Typ = 1 AND Twr_Produkt = 0 AND Twr_Kaucja = 0) THEN 'TP' WHEN (Twr_Typ = 1 AND Twr_Produkt = 1 AND Twr_Kaucja = 0) THEN 'TZ' WHEN (Twr_Typ = 0 AND Twr_Produkt = 0 AND Twr_Kaucja = 1) THEN 'UPO' WHEN (Twr_Typ = 0 AND Twr_Produkt = 1 AND Twr_Kaucja = 1) THEN 'UZO' WHEN (Twr_Typ = 1 AND Twr_Produkt = 0 AND Twr_Kaucja = 1) THEN 'TPO' WHEN (Twr_Typ = 1 AND Twr_Produkt = 1 AND Twr_Kaucja = 1) THEN 'TZO' END,
   Twr_NumerKat,
   isnull(Twr_KntId,0),
   isnull((SELECT TOP 1 Knt_Kod FROM cdn.Kontrahenci WHERE Knt_KntId = Twr_KntId),''), --Dostawca
   Twr_KodDostawcy,
   Convert( DECIMAL(20,4), isnull((SELECT TOP 1 TwI_Ilosc FROM cdn.TwrIlosci WHERE TwI_TwrId = Twr_TwrId AND TwI_Data <= @DataZasobu AND TwI_MagId Is Null ORDER BY TwI_Data DESC), 0)), -- ilosc
   Convert( DECIMAL(20,4), isnull((SELECT TOP 1 TwI_Rezerwacje FROM cdn.TwrIlosci WHERE TwI_TwrId = Twr_TwrId AND TwI_Data <= @DataZasobu AND TwI_MagId Is Null ORDER BY TwI_Data DESC), 0)), -- Rezerwacje
   CASE WHEN @UwzgledniajRezerwacje=1 THEN
    Convert( DECIMAL(20,4), isnull((SELECT TOP 1 TwI_Rezerwacje FROM cdn.TwrIlosci WHERE TwI_TwrId = Twr_TwrId AND TwI_Data <= @DataZasobu AND TwI_MagId Is Null ORDER BY TwI_Data DESC), 0))
   ELSE 0 END, --  UwzgRezerwacje
   Convert( DECIMAL(20,4), isnull((SELECT TOP 1 TwI_Zamowienia FROM cdn.TwrIlosci WHERE TwI_TwrId = Twr_TwrId AND TwI_Data <= @DataZasobu AND TwI_MagId Is Null ORDER BY TwI_Data DESC), 0)), -- Zamowienia
   CASE WHEN @UwzgledniajZamowienia=1 THEN
    Convert( DECIMAL(20,4), isnull((SELECT TOP 1 TwI_Zamowienia FROM cdn.TwrIlosci WHERE TwI_TwrId = Twr_TwrId AND TwI_Data <= @DataZasobu AND TwI_MagId Is Null ORDER BY TwI_Data DESC), 0))
   ELSE 0 END, -- UwzgZamowienia
   Convert( DECIMAL(20,4), isnull((SELECT TOP 1 TwI_Braki FROM cdn.TwrIlosci WHERE TwI_TwrId = Twr_TwrId AND TwI_Data <= @DataZasobu AND TwI_MagId Is Null ORDER BY TwI_Data DESC), 0)), --  Braki
   0, -- BrakiPozostale
   CASE WHEN @TypAlgorytmu=1 THEN cdn.IloscSprzedana(Twr_TwrId, @MagId, @SprzedazOd, @SprzedazDo)
    WHEN @TypAlgorytmu=2 THEN cdn.IloscNaWybranychRezerwacjach(Twr_TwrId, @MagId, @WybraneROId)
   ELSE 0 END, --IloscSprzedana
   0, -- IloscZamawiana,
   0, -- IloscZamawianaJM,
   CASE Twr_IloscZam
    WHEN  0  THEN Twr_JM
    ELSE Twr_IloscZamJM
   END,  --ZamJM
   Twr_JM, -- JM,
   Twr_JMCalkowite,
   TwC_Wartosc, -- CenaNettoWal,
   '0', -- CenaNettoWalDisp
   TwC_Waluta,  -- Waluta,
   CASE WHEN N.Brak = 1 THEN 1
   ELSE isnull(N.KursL,1) END, --KursL
   CASE WHEN N.Brak = 1 THEN 1
   ELSE isnull(N.KursM,1) END, -- KursM
   CASE WHEN N.Brak = 1 OR N.KursL IS NULL OR N.KursM IS NULL OR N.KursL = 0 OR N.KursM = 0 THEN 0
   ELSE
    Round( TwC_Wartosc * (N.KursL / N.KursM ), 2)
   END, -- CenaNetto
   0,  -- WartoscNetto
   '0', -- WartoscNettoDisp
   isnull(N.Brak, 0),  -- BrakKursuWaluty
   Twr_IloscMin,
   Twr_IloscMinJM,
   Twr_IloscMax,
   Twr_IloscMaxJM,
   Twr_IloscZam,
   Twr_IloscZamJM
   FROM cdn.Towary
   JOIN cdn.TwrCeny ON TwC_TwrId = Twr_TwrId AND TwC_TwCNumer = 1
   LEFT JOIN #Notowania N ON N.Waluta = TwC_Waluta
   WHERE Twr_Typ = 1 AND Twr_Nieaktywny = 0
   AND (@NiePobierajListyBrakow=0 OR TwR_TwRId=-1)
   AND (@TylkoWgId=1 OR @DostawcaId=0 OR TwR_KntId = @DostawcaId)
   AND (@TylkoWgId=1 OR @TwrGrupaId=-1 OR (Twr_GidNumer IN (SELECT GidNumer FROM CDN.TwrInTwG(@TwrGrupaId))))
   AND (@TylkoWgId=0 OR TwR_TwRId IN (SELECT NextIdInt FROM CDN.Text2TableInt(@TowaryId)))
 END
 ELSE
 BEGIN
  INSERT INTO #RaportBrakow
  SELECT Twr_TwrId,Twr_Kod,replace(Twr_Nazwa,char(10), ' ')  ,Twr_EAN,
   CASE WHEN (Twr_Typ = 0 AND Twr_Produkt = 0 AND Twr_Kaucja = 0) THEN 'UP' WHEN (Twr_Typ = 0 AND Twr_Produkt = 1 AND Twr_Kaucja = 0) THEN 'UZ' WHEN (Twr_Typ = 1 AND Twr_Produkt = 0 AND Twr_Kaucja = 0) THEN 'TP' WHEN (Twr_Typ = 1 AND Twr_Produkt = 1 AND Twr_Kaucja = 0) THEN 'TZ' WHEN (Twr_Typ = 0 AND Twr_Produkt = 0 AND Twr_Kaucja = 1) THEN 'UPO' WHEN (Twr_Typ = 0 AND Twr_Produkt = 1 AND Twr_Kaucja = 1) THEN 'UZO' WHEN (Twr_Typ = 1 AND Twr_Produkt = 0 AND Twr_Kaucja = 1) THEN 'TPO' WHEN (Twr_Typ = 1 AND Twr_Produkt = 1 AND Twr_Kaucja = 1) THEN 'TZO' END,
   Twr_NumerKat,
   isnull(Twr_KntId,0),
   isnull((SELECT TOP 1 Knt_Kod FROM cdn.Kontrahenci WHERE Knt_KntId = Twr_KntId),''), --Dostawca
   Twr_KodDostawcy,
   Convert( DECIMAL(20,4), isnull((SELECT TOP 1 TwI_Ilosc FROM cdn.TwrIlosci LEFT JOIN cdn.Magazyny ON Mag_MagId = TwI_MagId WHERE TwI_TwrId = Twr_TwrId AND TwI_Data <= @DataZasobu AND TwI_MagId = @MagId ORDER BY TwI_Data DESC), 0)), -- ilosc
   Convert( DECIMAL(20,4), isnull((SELECT TOP 1 TwI_Rezerwacje FROM cdn.TwrIlosci LEFT JOIN cdn.Magazyny ON Mag_MagId = TwI_MagId WHERE TwI_TwrId = Twr_TwrId AND TwI_Data <= @DataZasobu AND TwI_MagId = @MagId ORDER BY TwI_Data DESC), 0)), -- Rezerwacje
   CASE WHEN @UwzgledniajRezerwacje=1 THEN
    Convert( DECIMAL(20,4), isnull((SELECT TOP 1 TwI_Rezerwacje FROM cdn.TwrIlosci LEFT JOIN cdn.Magazyny ON Mag_MagId = TwI_MagId WHERE TwI_TwrId = Twr_TwrId AND TwI_Data <= @DataZasobu AND TwI_MagId = @MagId ORDER BY TwI_Data DESC), 0))
   ELSE 0 END, --  UwzgRezerwacje
   Convert( DECIMAL(20,4), isnull((SELECT TOP 1 TwI_Zamowienia FROM cdn.TwrIlosci LEFT JOIN cdn.Magazyny ON Mag_MagId = TwI_MagId WHERE TwI_TwrId = Twr_TwrId AND TwI_Data <= @DataZasobu AND TwI_MagId = @MagId ORDER BY TwI_Data DESC), 0)), -- Zamowienia
   CASE WHEN @UwzgledniajZamowienia=1 THEN
    Convert( DECIMAL(20,4), isnull((SELECT TOP 1 TwI_Zamowienia FROM cdn.TwrIlosci LEFT JOIN cdn.Magazyny ON Mag_MagId = TwI_MagId WHERE TwI_TwrId = Twr_TwrId AND TwI_Data <= @DataZasobu AND TwI_MagId = @MagId ORDER BY TwI_Data DESC), 0))
   ELSE 0 END, -- UwzgZamowienia
   Convert( DECIMAL(20,4), isnull((SELECT TOP 1 TwI_Braki FROM cdn.TwrIlosci LEFT JOIN cdn.Magazyny ON Mag_MagId = TwI_MagId WHERE TwI_TwrId = Twr_TwrId AND TwI_Data <= @DataZasobu AND TwI_MagId = @MagId ORDER BY TwI_Data DESC), 0)), --  Braki
   0, -- BrakiPozostale
   CASE WHEN @TypAlgorytmu=1 THEN cdn.IloscSprzedana(Twr_TwrId, @MagId, @SprzedazOd, @SprzedazDo)
    WHEN @TypAlgorytmu=2 THEN cdn.IloscNaWybranychRezerwacjach(Twr_TwrId, @MagId, @WybraneROId)
   ELSE 0 END, --IloscSprzedana
   0, -- IloscZamawiana,
   0, -- IloscZamawianaJM,
   CASE Twr_IloscZam
    WHEN  0  THEN Twr_JM
    ELSE Twr_IloscZamJM
   END,  --ZamJM
   Twr_JM, -- JM,
   Twr_JMCalkowite,
   TwC_Wartosc, -- CenaNettoWal,
   '0', -- CenaNettoWalDisp
   TwC_Waluta,  -- Waluta,
   CASE WHEN N.Brak = 1 THEN 1
   ELSE isnull(N.KursL,1) END, --KursL
   CASE WHEN N.Brak = 1 THEN 1
   ELSE isnull(N.KursM,1) END, -- KursM
   CASE WHEN N.Brak = 1 OR N.KursL IS NULL OR N.KursM IS NULL OR N.KursL = 0 OR N.KursM = 0 THEN 0
   ELSE
    Round( TwC_Wartosc * (N.KursL / N.KursM ), 2)
   END, -- CenaNetto
   0,  -- WartoscNetto
   '0', -- WartoscNettoDisp
   isnull(N.Brak, 0),  -- BrakKursuWaluty
   Twr_IloscMin,
   Twr_IloscMinJM,
   Twr_IloscMax,
   Twr_IloscMaxJM,
   Twr_IloscZam,
   Twr_IloscZamJM
   FROM cdn.Towary
   JOIN cdn.TwrCeny ON TwC_TwrId = Twr_TwrId AND TwC_TwCNumer = 1
   LEFT JOIN #Notowania N ON N.Waluta = TwC_Waluta
   WHERE Twr_Typ = 1 AND Twr_Nieaktywny = 0
   AND (@NiePobierajListyBrakow=0 OR TwR_TwRId=-1)
   AND (@TylkoWgId=1 OR @DostawcaId=0 OR TwR_KntId = @DostawcaId)
   AND (@TylkoWgId=1 OR @TwrGrupaId=-1 OR (Twr_GidNumer IN (SELECT GidNumer FROM CDN.TwrInTwG(@TwrGrupaId))))
   AND (@TylkoWgId=0 OR TwR_TwRId IN (SELECT NextIdInt FROM CDN.Text2TableInt(@TowaryId)))
  END
  --SELECT * FROM #RaportBrakow
  IF @TylkoWgId = 1  -- dodawanie towaru do raportu przez użytkownika
  BEGIN
   UPDATE #RaportBrakow  SET IloscZamawiana = 1 FROM  #RaportBrakow
   -- dopasuj ilość zamawianą do zamawiać po
   UPDATE #RaportBrakow SET
    IloscZamawianaJM = cdn.DopasujDoZamawiacPo(cdn.PrzeliczIloscJMDlaTowaru(T.Twr_TwrId, IloscZamawiana, JM, JMZam),  T.Twr_IloscZam, 1)
   FROM #RaportBrakow
   JOIN  cdn.Towary T ON ID = T.Twr_TwrId
   WHERE IloscZamawiana > 0
  END
  ELSE
  BEGIN
   -- ustal ilość zamawianą w jednostkach podstawowych
   IF @TypAlgorytmu > 0
    DELETE #RaportBrakow WHERE IloscSprzedana <= 0
   UPDATE #RaportBrakow SET
     IloscZamawiana = CASE @TypAlgorytmu
         WHEN 1 THEN  IloscSprzedana - (Ilosc + UwzgZamowienia)
         WHEN 2 THEN CASE WHEN @UwzgledniajStanyTowarow = 0 THEN IloscSprzedana - UwzgZamowienia
            ELSE IloscSprzedana - (Ilosc + UwzgZamowienia)
            END
         ELSE   UwzgRezerwacje - (Ilosc + UwzgZamowienia)
          END
   IF @RodzajNormatywu = 0   -- nie uwzględniaj stanu minimalny ani maksymalnego
   BEGIN
    -- dopasuj ilość zamawianą do zamawiać po
    UPDATE #RaportBrakow SET
     IloscZamawianaJM = cdn.DopasujDoZamawiacPo(cdn.PrzeliczIloscJMDlaTowaru(ID, IloscZamawiana, JM, JMZam), T.Twr_IloscZam, 1)
    FROM #RaportBrakow
    JOIN  cdn.Towary T ON ID = T.Twr_TwrId
    WHERE IloscZamawiana > 0
   END
   -- uwzględnij stan minimalny lub maksymalny
   IF @RodzajNormatywu = 1   -- uwzględnij stan minimalny
   BEGIN
    IF @TypAlgorytmu = 0
     UPDATE #RaportBrakow SET
     IloscZamawiana   = cdn.PrzeliczIloscJMDlaTowaru(ID, T.Twr_IloscMin, T.Twr_IloscMinJM, T.Twr_JM) + UwzgRezerwacje - Ilosc - UwzgZamowienia
     FROM  #RaportBrakow
     JOIN  cdn.Towary T ON ID = T.Twr_TwrId
     WHERE T.Twr_IloscMin > 0 AND (Ilosc + IloscZamawiana-UwzgRezerwacje) <  cdn.PrzeliczIloscJMDlaTowaru(T.Twr_TwrId, T.Twr_IloscMin, T.Twr_IloscMinJM, T.Twr_JM)
    IF @TypAlgorytmu = 1  -- wg sprzedaży
     UPDATE #RaportBrakow SET
      IloscZamawiana   = cdn.PrzeliczIloscJMDlaTowaru(ID, T.Twr_IloscMin, T.Twr_IloscMinJM, T.Twr_JM) - (Ilosc + UwzgZamowienia)
     FROM  #RaportBrakow
     JOIN  cdn.Towary T ON ID = T.Twr_TwrId
     WHERE T.Twr_IloscMin > 0 AND (IloscZamawiana + Ilosc + UwzgZamowienia)<  cdn.PrzeliczIloscJMDlaTowaru(T.Twr_TwrId, T.Twr_IloscMin, T.Twr_IloscMinJM, T.Twr_JM)
    IF @TypAlgorytmu = 2    -- wg RO
     UPDATE #RaportBrakow SET
      IloscZamawiana   = cdn.PrzeliczIloscJMDlaTowaru(ID, T.Twr_IloscMin, T.Twr_IloscMinJM, T.Twr_JM) - (Ilosc + UwzgZamowienia)
     FROM  #RaportBrakow
     JOIN  cdn.Towary T ON ID = T.Twr_TwrId
     WHERE T.Twr_IloscMin > 0 AND (IloscZamawiana + Ilosc + UwzgZamowienia)<  cdn.PrzeliczIloscJMDlaTowaru(T.Twr_TwrId, T.Twr_IloscMin, T.Twr_IloscMinJM, T.Twr_JM)
    -- dopasuj ilość zamawianą do zamawiać po
    UPDATE #RaportBrakow SET
     IloscZamawianaJM = cdn.DopasujDoZamawiacPo(cdn.PrzeliczIloscJMDlaTowaru(ID, IloscZamawiana, JM, JMZam), T.Twr_IloscZam, 1)
    FROM #RaportBrakow
    JOIN  cdn.Towary T ON ID = T.Twr_TwrId
    WHERE IloscZamawiana > 0
   END
   IF @RodzajNormatywu = 2   -- uwzględnij stan maksymalny
   BEGIN
    IF @TypAlgorytmu = 0
    BEGIN
     UPDATE #RaportBrakow SET
      IloscZamawiana  = cdn.PrzeliczIloscJMDlaTowaru(T.Twr_TwrId, T.Twr_IloscMax, T.Twr_IloscMaxJM, T.Twr_JM) + IloscZamawiana
     FROM  #RaportBrakow
     JOIN  cdn.Towary T ON ID = T.Twr_TwrId
     WHERE T.Twr_IloscMax > 0
    END
    IF @TypAlgorytmu = 1
    BEGIN
     UPDATE #RaportBrakow SET
      IloscZamawiana = cdn.PrzeliczIloscJMDlaTowaru(T.Twr_TwrId, T.Twr_IloscMax, T.Twr_IloscMaxJM, T.Twr_JM) - (Ilosc + UwzgZamowienia)
     FROM  #RaportBrakow
     JOIN  cdn.Towary T ON ID = T.Twr_TwrId
     WHERE T.Twr_IloscMax > 0  AND (IloscZamawiana + Ilosc + UwzgZamowienia) >  cdn.PrzeliczIloscJMDlaTowaru(T.Twr_TwrId, T.Twr_IloscMax, T.Twr_IloscMaxJM, T.Twr_JM)
    END
    IF @TypAlgorytmu = 2    -- wg RO
    BEGIN
     UPDATE #RaportBrakow SET
      IloscZamawiana = cdn.PrzeliczIloscJMDlaTowaru(T.Twr_TwrId, T.Twr_IloscMax, T.Twr_IloscMaxJM, T.Twr_JM) - (Ilosc + UwzgZamowienia)
     FROM  #RaportBrakow
     JOIN  cdn.Towary T ON ID = T.Twr_TwrId
     WHERE T.Twr_IloscMax > 0  AND (IloscZamawiana + Ilosc + UwzgZamowienia) >  cdn.PrzeliczIloscJMDlaTowaru(T.Twr_TwrId, T.Twr_IloscMax, T.Twr_IloscMaxJM, T.Twr_JM)
    END
    -- dopasuj ilość zamawianą do zamawiać po (dopasuj z -1)
    UPDATE #RaportBrakow SET
     IloscZamawianaJM = cdn.DopasujDoZamawiacPo(cdn.PrzeliczIloscJMDlaTowaru(ID, IloscZamawiana, JM, JMZam), T.Twr_IloscZam, -1)
    FROM #RaportBrakow
    JOIN  cdn.Towary T ON ID = T.Twr_TwrId
    WHERE IloscZamawiana > 0
   END
  END
  -- Ustal cenę dla jednostki, w której zamawiany jest towar (najpierw jednostka zamawiana, potem podstawowa)
  UPDATE #RaportBrakow SET CenaNettoWal = cdn.PrzeliczIloscJMDlaTowaru(ID, CenaNettoWal, JMZam, JM)
  UPDATE #RaportBrakow SET
   IloscZamawiana = cdn.PrzeliczIloscJMDlaTowaru(ID, IloscZamawianaJM, JMZam, JM),  -- ustal ilość w jednostkach podstawowych
   CenaNetto =
    CASE WHEN BrakKursuWaluty = 1 THEN 0
    ELSE
     Round( CenaNettoWal * (KursL / KursM ), 2)
    END -- ustal cenę netto w walucie systemowej
  FROM #RaportBrakow
  WHERE IloscZamawiana > 0
  UPDATE #RaportBrakow SET
   BrakiPozostale  = CASE WHEN (Braki - Zamowienia) < 0 THEN 0 ELSE (Braki - Zamowienia) END, -- BrakiPozostale
   WartoscNetto = Convert( DECIMAL(20,2),CenaNetto * IloscZamawianaJM)
  FROM #RaportBrakow
  UPDATE #RaportBrakow SET
   CenaNettoWalDisp  =
   CASE WHEN @opeZakazCenZak = 1  THEN REPLICATE('-', 15)
   ELSE      Convert(NVARCHAR(20), CenaNettoWal) END, -- WartoscNettoDisp
   WartoscNettoDisp  =
   CASE WHEN @opeZakazCenZak = 1  THEN REPLICATE('-', 15)
     WHEN BrakKursuWaluty = 1  THEN '-kurs-'
   ELSE
    Convert(NVARCHAR(20), WartoscNetto)
   END -- WartoscNettoDisp
  FROM #RaportBrakow
  SET NOCOUNT OFF
  --cti
  SELECT *,(IloscZamawiana - dbo.CTIProdukcjaTwrIloscDoRealizacji2(ID)) as IloscZamawiana2 , dbo.CTIProdukcjaTwrIloscDoRealizacji2(ID) as ZP
  FROM #RaportBrakow WHERE (IloscZamawiana - dbo.CTIProdukcjaTwrIloscDoRealizacji2(ID)) > 0 ORDER BY Kod
END
GO

# [dbo].[CTIProdukcjaROlist]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaROlist]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaROlist]--Rezerwacja odbiorcy
 @dataOd varchar(20),
 @dataDo varchar(20),
 @prmData int, --0 bez --1 ograniczenie po dacie,
 @tylkoWyjeteZBufora int = 1
AS
BEGIN
declare  @DokTyp int = 308
	declare  @CzyJestOgraniczenieSymbolu	int = 0 SELECT @CzyJestOgraniczenieSymbolu	= count(*) FROM dbo.CtiKonfigOgraniczenia where KnO_IdList = @DokTyp and KnO_Parametr = 5
	declare  @CzyJestOgraniczenieAtrybutu	int = 0 SELECT @CzyJestOgraniczenieAtrybutu	= count(*) FROM dbo.CtiKonfigOgraniczenia where KnO_IdList = @DokTyp and KnO_Parametr = 6
	declare  @CzyJestOgraniczenieDaty		int = 0 SELECT @CzyJestOgraniczenieDaty		= count(*) FROM dbo.CtiKonfigOgraniczenia where KnO_IdList = @DokTyp and KnO_Parametr = 7

		SELECT DISTINCT 
			e.TrN_TrNID as ID
			, ISNULL(e.TrN_NumerPelny, '') AS Dokument
			, Pod_Kod as Kontrahent
			, e.trn_datadok as DataWystawienia
			, dbo.CTIProdukcjaStatusy(308, e.TrN_TrNID) AS Status
			, dbo.CTIProdukcjaStatusyNazwy(308, dbo.CTIProdukcjaStatusy(308, e.TrN_TrNID)) AS StatusNazwa 
			, ISNULL(d.Mag_Symbol, '') AS MagZrd
			, e.TrN_NumerObcy as NumerObcy
			, e.TrN_Opis as Opis
		FROM CDN.TraNag e
			LEFT JOIN CDN.Magazyny AS d ON e.TrN_MagZrdId = d.Mag_MagId 
			LEFT JOIN CDN.PodmiotyView Pod ON Pod.Pod_PodId = TrN_PodId AND Trn_PodmiotTyp = Pod.Pod_PodmiotTyp
		where e.TrN_TypDokumentu = @DokTyp  and e.trn_anulowany = 0 
			and((@tylkoWyjeteZBufora = 1 AND TrN_Bufor = 0) OR (@tylkoWyjeteZBufora = 0))
			and((ISNULL(@prmData,0) = 0) or(@prmData =1 and CONVERT(VARCHAR, ISNULL(e.trn_datadok, GETDATE()), 23)  BETWEEN CONVERT(VARCHAR, @dataOd, 23) AND CONVERT(VARCHAR, @dataDo, 23))	)
			and ( (@CzyJestOgraniczenieAtrybutu = 0)    or ( @CzyJestOgraniczenieAtrybutu <> 0	and TrN_TrNID in ( select distinct AtrOgr.DAt_TrNId from cdn.DokAtrybuty AtrOgr INNER JOIN dbo.CtiKonfigOgraniczenia on  KnO_IdList = @DokTyp and KnO_Parametr = 6 and  AtrOgr.DAt_DeAId = KnO_WartoscId and AtrOgr.DAt_WartoscTxt = KnO_WartoscAtrTxt)))
		and ( (@CzyJestOgraniczenieDaty = 0)		or ( @CzyJestOgraniczenieDaty <> 0		
				and CONVERT(VARCHAR, ISNULL(e.trn_datadok, GETDATE()), 23) >=
				CONVERT(VARCHAR, ISNULL((SELECT Max(KnO_WartoscTxt) FROM dbo.CtiKonfigOgraniczenia where KnO_IdList = @DokTyp and KnO_Parametr = 7), GETDATE()), 23)
				))
			and ( (@CzyJestOgraniczenieSymbolu = 0) or ( @CzyJestOgraniczenieSymbolu <> 0		
				AND SUBSTRING(e.TrN_NumerPelny,0,CHARINDEX('/',e.TrN_NumerPelny) ) IN
				(SELECT dISTINCT KnO_WartoscTxt FROM dbo.CtiKonfigOgraniczenia where KnO_IdList = @DokTyp and KnO_Parametr = 5)
				))
		ORDER BY e.TrN_TrNID
END
GO

# [dbo].[CTIProdukcjaROlistZP]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaROlistZP]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaROlistZP]
 @idRO int,
 @idPozycji int 
AS
BEGIN
declare @DokTyp int = 2 -- ZP
declare @prmPole1 int = 0
declare @prmPole2 int = 0
declare @prmPole3 int = 0
declare @obslugaWydania int = 0
declare @obslugaKontroli int = 0 

select @obslugaKontroli= isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where knf_numer =63
select @obslugaWydania = isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where knf_numer=62
SELECT @prmPole1 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 1 and CAU_TypDok = @DokTyp
SELECT @prmPole2 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 2 and CAU_TypDok = @DokTyp
SELECT @prmPole3 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 3 and CAU_TypDok = @DokTyp


	SELECT  CZN_ID AS ID, CZN_NrPelny AS CZN_Numer, isnull(CZN_CTNId,0) as CZN_CTNId
		,isnull(CZN_TwrId,0) as CZN_TwrId, isnull(Twr_Kod,'') AS CZN_TwrKod, isnull(CZN_Ilosc, 0) AS Ilosc
		,isnull(CZN_OpeWystaw,0) as CZN_OpeWystaw,isnull(CZN_OperModyf,0) as CZN_OperModyf
		,isnull(CZN_DataWystaw, GETDATE()) AS CZN_DataWystaw ,isnull(CZN_DataModyf, GETDATE()) AS CZN_DataModyf
		,isnull(a.CO_Kod,'') AS Wystawil, isnull(b.CO_Kod,'') AS Modyfikowal 
		,isnull(CTN_Nazwa,'') AS CTN_Nazwa,isnull(CZN_Opis, '') AS CZN_Opis 
		,isnull(CtiTechnolNag.CTN_Cecha, 0) AS ctn_cecha
		,dbo.CTIProdukcjaStatusy(2, CZN_ID) AS CZN_Status
		,0--dbo.CTIProdukcjaStatusy(23, CZN_ID) 
		AS StatusNumer1
		,0--dbo.CTIProdukcjaStatusy(24, CZN_ID) 
		AS StatusNumer2
		,0--dbo.CTIProdukcjaStatusy(26, CZN_ID) 
		AS StatusNumer3
		,case @obslugaWydania when 1 then dbo.CTIProdukcjaStatusyNazwy(23, dbo.CTIProdukcjaStatusy(23, CZN_ID)) else '' end AS Status1
		,dbo.CTIProdukcjaStatusyNazwy(24, dbo.CTIProdukcjaStatusy(24, CZN_ID)) AS Status2
		,case @obslugaKontroli when 1 then dbo.CTIProdukcjaStatusyNazwy(25, dbo.CTIProdukcjaStatusy(26, CZN_ID)) else '' end AS Status3
		, case @prmPole1 when 1 then (SELECT TOP (1) Wartosc
		FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CtiZlecenieNag.CZN_CTNId, CtiZlecenieNag.CZN_ID, 0, 0, 0, 0,0) 
		AS CTIProdukcjaTowaryPolaSpecjalne_3
		WHERE (Lp = 1)) else '' end AS Pole1
		, case @prmPole2 when 1 then (SELECT TOP (1) Wartosc
		FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CtiZlecenieNag.CZN_CTNId, CtiZlecenieNag.CZN_ID, 0, 0, 0, 0,0) 
		AS CTIProdukcjaTowaryPolaSpecjalne_2
		WHERE (Lp = 2))  else '' end AS Pole2
		, case @prmPole3 when 1 then (SELECT TOP (1) Wartosc
		FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CtiZlecenieNag.CZN_CTNId, CtiZlecenieNag.CZN_ID, 0, 0, 0, 0,0) 
		AS CTIProdukcjaTowaryPolaSpecjalne_1
		WHERE (Lp = 3))  else '' end AS Pole3

		,isnull((select top 1 czze_czznid from dbo.CtiZlecenieZElem where czze_cznid = CZN_ID),0) as czznid
		,isnull(CZN_CzasStart, GETDATE()) AS CzasStart,isnull(CZN_CzasEnd, GETDATE()) AS CzasEnd
	FROM dbo.CtiZlecenieNag 
		LEFT JOIN dbo.CtiOperatorzy AS a ON isnull(CZN_OpeWystaw,0) = a.CO_ID 
		LEFT JOIN dbo.CtiOperatorzy AS b ON isnull(CZN_OperModyf,0) = b.CO_ID 
		LEFT JOIN dbo.CtiTechnolNag ON isnull(CZN_CTNId,0) = CTN_ID 
		LEFT JOIN CDN.Towary ON isnull(CZN_TwrId,0) = Twr_TwrId
	where
		isnull(CZN_DokZwiazTyp,0) = 308
		and ((isnull(@idPozycji,0) = 0 and 1=1) OR (isnull(@idPozycji,0) != 0 and isnull(czn_DokZwiazTreId,0) = @idPozycji))
		and ((isnull(@idRO,0) = 0 and 1=1) OR (isnull(@idRO,0) != 0 and isnull(czn_DokZwiazId,0) = @idRO))

	ORDER BY 1
END

GO

# [dbo].[CTIProdukcjaRWlist]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaRWlist]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaRWlist]
 @ID int,
 @IDZPZ int,
 @dataOd varchar(20),
 @dataDo varchar(20),
 @prmData int--0 bez --1 ograniczenie po dacie
AS
BEGIN
--czy poszczególne parametry maja być widoczne
declare @DokTyp int = 5 -- RW
--declare @prmMontaz int = 0 SELECT  @prmMontaz = cast(ISNULL(KNF_Wartosc,0) as int) FROM dbo.CtiKonfiguracja  where KNF_Numer = 25 and ISNULL(KNF_Wartosc,'') <> ''
declare @prmPrc int = 0 SELECT  @prmPrc = cast(ISNULL(KNF_Wartosc,0) as int) FROM dbo.CtiKonfiguracja  where KNF_Numer = 61 and ISNULL(KNF_Wartosc,'') <> ''
if @prmPrc in (2,3,4) begin set @prmPrc = 1 end else begin set @prmPrc = 0 end
declare @prmPole1 int = 0 SELECT   @prmPole1 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 1 and CAU_TypDok = @DokTyp
declare @prmPole2 int = 0 SELECT   @prmPole2 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 2 and CAU_TypDok = @DokTyp
declare @prmPole3 int = 0 SELECT   @prmPole3 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 3 and CAU_TypDok = @DokTyp

		SELECT DISTINCT 
			e.TrN_TrNID as ID, ISNULL(CtiZlecenieNag.CZN_ID, 0) AS CZN_ID
			, ISNULL(e.TrN_NumerPelny, '') AS DokumentWydania
			, ISNULL(a.CO_Kod, '') AS CZD_OpeWyst, ISNULL(CtiZlecenieDok.CZD_DataWyst, GETDATE())AS CZD_DataWyst
			, ISNULL(b.CO_Kod, '') AS CZD_OperModyf, ISNULL(CtiZlecenieDok.CZD_DataModyf, GETDATE())   AS CZD_DataModyf
			, ISNULL(CtiZlecenieNag.CZN_TwrId, 0) AS ZasobID 
			, ISNULL(CDN.Towary.Twr_Kod, '') AS ZasobKod
			, ISNULL(dbo.CTIProdukcjaZlecenieNumer(CtiZlecenieNag.CZN_ID), '') AS CZN_Numer
			, ISNULL(CZO_PrcKod, '') AS PRI_Kod --pracownik
			, dbo.CTIProdukcjaStatusy(3, CtiZlecenieDok.CZD_ID) AS CZD_Status
			, dbo.CTIProdukcjaStatusyNazwy(3, dbo.CTIProdukcjaStatusy(3, CtiZlecenieDok.CZD_ID)) AS StatusNazwa 
			--, ISNULL(CMD_PrdKod, '') AS ProdKod--montaz
			,''  AS ProdKod
			, ISNULL(c.Mag_Symbol, '') AS MagDoc 
			, ISNULL(d.Mag_Symbol, '') AS MagZrd
			, case @prmPole1 when 1 then (SELECT TOP (1) Wartosc
				FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CtiZlecenieNag.CZN_CTNId, CtiZlecenieNag.CZN_ID, 0, e.TrN_TrNID, 0, 0,0) 
				AS CTIProdukcjaTowaryPolaSpecjalne_3
				WHERE (Lp = 1)) else '' end AS Pole1
			, case @prmPole2 when 1 then (SELECT TOP (1) Wartosc
				FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CtiZlecenieNag.CZN_CTNId, CtiZlecenieNag.CZN_ID, 0, e.TrN_TrNID, 0, 0,0) 
				AS CTIProdukcjaTowaryPolaSpecjalne_2
				WHERE (Lp = 2))  else '' end AS Pole2
			, case @prmPole3 when 1 then (SELECT TOP (1) Wartosc
				FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CtiZlecenieNag.CZN_CTNId, CtiZlecenieNag.CZN_ID, 0, e.TrN_TrNID, 0, 0,0) 
				AS CTIProdukcjaTowaryPolaSpecjalne_1
				WHERE (Lp = 3))  else '' end AS Pole3
		FROM CtiZlecenieDok 
			INNER JOIN CtiZlecenieNag ON CtiZlecenieDok.CZD_CZNId = CtiZlecenieNag.CZN_ID 
			INNER JOIN CDN.TraNag AS e ON CtiZlecenieDok.CZD_TrnId = e.TrN_TrNID 
			LEFT JOIN CtiOperatorzy AS a ON CtiZlecenieDok.CZD_OpeWyst = a.CO_ID 
			LEFT JOIN CtiOperatorzy AS b ON CtiZlecenieDok.CZD_OperModyf = b.CO_ID 
			LEFT JOIN dbo.CtiZleceniePrc ON  CZO_CZNId = CZN_ID and CZO_PrcId = CZD_PracownikId and @prmPrc = 1
			LEFT JOIN CDN.Magazyny AS c ON e.TrN_MagDocId = c.Mag_MagId 
			LEFT JOIN CDN.Magazyny AS d ON e.TrN_MagZrdId = d.Mag_MagId 
			--LEFT JOIN CtiMontazDok ON e.TrN_TrNID = CtiMontazDok.CMD_PWId and @prmMontaz = 1
			LEFT JOIN CDN.Towary ON CtiZlecenieNag.CZN_TwrId = CDN.Towary.Twr_TwrId
			LEFT JOIN dbo.CtiZlecenieZElem ON CZN_ID = ISNULL(CZZE_CZNID,0)
		where e.TrN_TypDokumentu in  (304)  and e.trn_anulowany = 0 
		and
		(
			((@ID = 0) or (@ID <> 0 and CZN_ID = @ID ))
			and
			((@IDZPZ = 0) or (@IDZPZ <> 0 and ISNULL(CZZE_CZZNID,0) = @IDZPZ ))
			and
			(
				 (ISNULL(@prmData,0) =0) 
				 or
				(@prmData =1 and
				CONVERT(VARCHAR, ISNULL(e.trn_datawys, GETDATE()), 23)  BETWEEN CONVERT(VARCHAR, @dataOd, 23) AND CONVERT(VARCHAR, @dataDo, 23))
			)
		)
		ORDER BY e.TrN_TrNID
END

GO

# [dbo].[CTIProdukcjaSlownikRealizacji]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaSlownikRealizacji]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaSlownikRealizacji] @typ int, @id int
AS
BEGIN
	if @typ > 1
	begin
		select CsU_ID as Id, CsU_Kod as Kod, isnull(Szs_Ilosc,0.0) as Ilosc
			, Szs_DokTyp as Typ, Szs_DokID as DokID, CsU_Prm1 as Prm1
		from dbo.CtiZasobSlownik
			inner join dbo.CtiSlownikiUzytkow on Szs_CsUID = CsU_ID
		where CsU_Typ = 701 and Szs_DokTyp = @typ and Szs_DokID = @id
		order by CsU_ID
	end
	else
	begin
		SELECT   CsU_ID as Id, CsU_Kod as Kod, 0.0 as Ilosc, 70 as Typ, 0 as DokID, CsU_Prm1 as Prm1
		FROM   dbo.CtiSlownikiUzytkow where CsU_Typ = 701
		order by CsU_ID
	end
END

GO

# [dbo].[CTIProdukcjaSlownikRealizacjiUpdate]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaSlownikRealizacjiUpdate]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaSlownikRealizacjiUpdate] 
@typ int, @id int, @DokID int, @ilosc decimal(15,4)
AS
BEGIN
		update  dbo.CtiZasobSlownik set Szs_Ilosc = @ilosc where Szs_DokTyp=@typ and Szs_DokID=@DokID and Szs_CsUID=@id
END
GO

# [dbo].[CTIProdukcjaTechnologiaAddEdit]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaTechnologiaAddEdit]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaTechnologiaAddEdit]
   @id int output
 , @Opis nvarchar(254)
 , @Ope int
 , @Status int
 , @TwrId int
 , @cenaEwid decimal(15,4) 
 , @NumerObcy varchar(40)
 , @ilosc int
 , @NrWlasny nvarchar(50)
 , @Jm nvarchar(40) = NULL
 , @DomyslneMagazyny tinyint = 0
 , @zlecenieID int = NULL
 , @szablon int = NULL
 , @generateRWAfterResource int = 0
AS
BEGIN
declare @numerTech int = 0
declare @miesiac int = month(GETDATE())
declare @rok int = year(GETDATE())
declare @nrpelny varchar(20) =''
declare @Seria varchar(5) = ''
declare @konfiguracja varchar(1) = ''

select @konfiguracja = isnull(KNF_Wartosc,'') from dbo.CtiKonfiguracja where KNF_Numer = 72

if (@Jm IS NULL)
begin
	SET @Jm = (SELECT TOP 1 Twr_JM FROM CDN.Towary WHERE Twr_TwrId = @TwrId);
end


if @konfiguracja = '1'--uwzględnienie miesiąca w numeracji
begin
	select @numerTech = isnull(Max(CTN_Numer),0)+1  from dbo.CtiTechnolNag
	where CTN_Rok = @rok and CTN_Miesiac = @miesiac --miesiac
	select  @nrpelny='TH/'+cast(replace(str(@numerTech,4),' ','0')as char(4)) +'/'+cast(replace(str(@miesiac,2),' ','0')as char(2)) +'/'+cast(@rok as varchar(4))
end
else
begin
	select @numerTech = isnull(Max(CTN_Numer),0)+1  from dbo.CtiTechnolNag
	where CTN_Rok = @rok --rok
	select  @nrpelny='TH/'+cast(replace(str(@numerTech,5),' ','0')as char(5)) +'/'+cast(@rok as varchar(4))
end


	declare @TwrKod varchar(100) = ''
	select @TwrKod=Twr_Kod from cdn.Towary where Twr_TwrId = @TwrId
	if @TwrId =0 and  @id = 0
	begin
		INSERT INTO dbo.CtiTechnolNag
		(CTN_Opis, CTN_TwrId, CTN_TwrKod, CTN_Nazwa, CTN_OpeWystaw, CTN_DataWystaw, CTN_OperModyf, CTN_DataModyf, CTN_Status,CTN_Numer,CTN_Miesiac,CTN_Rok,CTN_Seria,CTN_Cecha,CTN_CenaEwidencyjna,CTN_NumerObcy,CTN_Ilosc, CTN_TwrJm, CTN_DomyslneMagSur, CTN_ZpZrodloweID,
		CTN_Szablon, CTN_GenerateRWAfterResource)
		VALUES ('',0,'',@nrpelny,@Ope,GETDATE(),@Ope,GETDATE(),0,@numerTech,@miesiac,@rok,@Seria,0,@cenaEwid,@NumerObcy,@ilosc,@Jm, @DomyslneMagazyny, @zlecenieID,
		isnull(@szablon, 0), @generateRWAfterResource)
		Select  @id = SCOPE_IDENTITY() 
	end
	if @TwrId >0 and  @id = 0
	begin
		INSERT INTO dbo.CtiTechnolNag
		(CTN_Opis, CTN_TwrId, CTN_TwrKod, CTN_Nazwa, CTN_OpeWystaw, CTN_DataWystaw, CTN_OperModyf, CTN_DataModyf, CTN_Status,CTN_Numer,CTN_Miesiac,CTN_Rok,CTN_Seria,CTN_Cecha,CTN_CenaEwidencyjna,CTN_NumerObcy,CTN_Ilosc, CTN_TwrJm, CTN_DomyslneMagSur, CTN_ZpZrodloweID,
		CTN_Szablon, CTN_GenerateRWAfterResource)
		VALUES (@Opis,@TwrId,@TwrKod,@nrpelny,@Ope,GETDATE(),@Ope,GETDATE(),@Status,@numerTech,@miesiac,@rok,@Seria,0,@cenaEwid,@NumerObcy,@ilosc,@Jm, @DomyslneMagazyny, @zlecenieID,
		isnull(@szablon, 0), @generateRWAfterResource)
		Select @id = SCOPE_IDENTITY() 
	end

	if @id > 0
	begin
		declare @cecha int = 0

		select @cecha = isnull(a.twa_deaid,0) from cdn.towary
		LEFT JOIN CDN.TwrAtrybuty a on a.TwA_TwrID = Twr_TwrId and a.TwA_DeAId = 
		( 
			select DISTINCT TwA_DeAId from cdn.twratrybuty
			INNER JOIN cdn.defatrybuty on TwA_DeAId = DeA_DeAId
			INNER JOIN dbo.CtiKonfiguracja on KNF_Numer = 5 and DeA_Kod = KNF_Wartosc 
			where TwA_CzyPrzenosicNaDostawy = 1 ) 
		where twr_twrid = @TwrId

		
		if (@cecha <= 0)
		begin
			--jeżeli nie ma pierwszej cechy to sprawdzamy czy jest druga

			select @cecha = isnull(a.twa_deaid,0) from cdn.towary
			LEFT JOIN CDN.TwrAtrybuty a on a.TwA_TwrID = Twr_TwrId and a.TwA_DeAId = 
			( 
				select DISTINCT TwA_DeAId from cdn.twratrybuty
				INNER JOIN cdn.defatrybuty on TwA_DeAId = DeA_DeAId
				INNER JOIN dbo.CtiKonfiguracja on KNF_Numer = 19 and DeA_Kod = KNF_Wartosc 
				where TwA_CzyPrzenosicNaDostawy = 1 ) 
			where twr_twrid = @TwrId
		end

		if(@cecha > 0)
		begin
			set @cecha = 1
		end

		UPDATE dbo.CtiTechnolNag
	    SET CTN_Opis = isnull(@Opis,CTN_Opis)
		  , CTN_TwrId = Isnull(@TwrId,CTN_TwrId)
		  , CTN_TwrKod = Isnull(@TwrKod,CTN_TwrKod)
		  , CTN_OperModyf = @Ope
		  , CTN_DataModyf = GETDATE()
		  , CTN_Status = Isnull(@Status,CTN_Status)
		  , CTN_Cecha = Isnull(@cecha,CTN_Cecha)
		  , CTN_CenaEwidencyjna = @cenaEwid
		  , CTN_Ilosc = Isnull(@ilosc,CTN_Ilosc)
		  , CTN_TwrJm = @Jm
		  , CTN_DomyslneMagSur = @DomyslneMagazyny
		  , CTN_ZpZrodloweID = ISNULL(@zlecenieID, CTN_ZpZrodloweID)
		  , CTN_Szablon = ISNULL(@szablon, CTN_Szablon)
		  , CTN_GenerateRWAfterResource = @generateRWAfterResource
	   WHERE CTN_ID = @id
	   
	   --usunięcie elementów z cechą jeżeli technologia nie jest z cechą
		if(@cecha = 0  )
		begin
			delete from dbo.CtiTechnolElem where CTE_CTNId  = @id and CTE_Typ = 1
		end

		--numer wlasny
		if not exists (SELECT isnull(DNW_Numer,0) FROM dbo.CtiDokNrWlasny where DNW_DokTyp = 1 and DNW_DokID = @id)
			insert dbo.CtiDokNrWlasny (DNW_DokTyp, DNW_DokID, DNW_Numer) values (1,@id,@NrWlasny)
		else
			update  dbo.CtiDokNrWlasny set DNW_Numer = @NrWlasny  where DNW_DokTyp = 1 and DNW_DokID = @id
	end
	select @id as ID
END

GO

# [dbo].[CTIProdukcjaTechnologiaCofnij]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaTechnologiaCofnij]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaTechnologiaCofnij]
@id int
AS
BEGIN
declare @status int

select @status =dbo.CTIProdukcjaStatusy(1,@id) 
if @status=1
begin
	 Update dbo.CtiTechnolNag set ctn_status = 0 where Ctn_ID = @id
	 DELETE FROM dbo.CtiTechnolDomyslna WHERE CTD_ID =  @id
end
END

GO

# [dbo].[CTIProdukcjaTechnologiaDel]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaTechnologiaDel]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CTIProdukcjaTechnologiaDel]
@id int
AS
BEGIN
declare @status int

select @status =dbo.CTIProdukcjaStatusy(1,@id) 
if @status=0
begin
BEGIN TRY
BEGIN TRAN T1
 DELETE FROM  dbo.CtiZasobDok		where CZS_CTNID = @id and CZS_DokTyp = 1 
 DELETE FROM  dbo.CtiTechnolElem	where  CTE_CTNId = @id
 DELETE FROM  dbo.CtiTechnolNag		where CTN_ID = @id
 DELETE FROM  dbo.CtiDokNrWlasny	where DNW_DokID = @id and DNW_DokTyp = 1
 COMMIT TRAN T1
END TRY
BEGIN CATCH
   RollBack TRAN T1
         Return
END CATCH
end
END


GO

# [dbo].[CTIProdukcjaTechnologiaDuplikat]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaTechnologiaDuplikat]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CTIProdukcjaTechnologiaDuplikat]
@idTechnologii int,
@idOperatora int,
@NrWlasny nvarchar(50),
@Szablon int = NULL
AS
BEGIN

declare @numerTech int = 0
declare @miesiac int = month(GETDATE())
declare @rok int = year(GETDATE())
declare @nrpelny varchar(20) = ''
declare @Seria varchar(5) = ''

select @numerTech = isnull(Max(CTN_Numer),0)+1  from dbo.CtiTechnolNag
where CTN_Rok = @rok --and isnull(CTN_Seria,'') = '' and CTN_Miesiac = @miesiac --tylko rok
select  @nrpelny='TH/'+cast(replace(str(@numerTech,5),' ','0')as char(5)) +'/'+cast(@rok as varchar(4))

	declare @NoweId int = 0

	INSERT INTO dbo.CtiTechnolNag
	(CTN_Opis, CTN_TwrId, CTN_TwrKod, CTN_Nazwa, CTN_OpeWystaw, CTN_DataWystaw, CTN_OperModyf, CTN_DataModyf, CTN_Status, CTN_Numer, CTN_Miesiac, CTN_Rok, CTN_Seria, Ctn_ilosc, CTN_CenaEwidencyjna, CTN_TwrJM, CTN_DomyslneMagSur, CTN_Szablon)
	select '', 0, '', @nrpelny, @idOperatora, GETDATE(), @idOperatora, GETDATE(), 0, @numerTech, @miesiac, @rok, @Seria, isnull(ctn_ilosc,1), CTN_CenaEwidencyjna, CTN_TwrJM, CTN_DomyslneMagSur, ISNULL(@Szablon, CTN_Szablon)
	from [dbo].[CtiTechnolNag] where CTN_ID = @idTechnologii
	Select @NoweId = SCOPE_IDENTITY() 
	
	if @NoweId>0
	begin

	--kopiowanie działów
	INSERT INTO dbo.CtiTechnolDzialy
	(CTDZ_TechnolID, CTDZ_DokTyp, CTDZ_DzialID)
	SELECT 
	@NoweId, 1, CTDZ_DzialID
	FROM dbo.CtiTechnolDzialy
	WHERE CTDZ_TechnolID = @idTechnologii
	AND CTDZ_DokTyp = 1;


	--elementy
	DECLARE kursorElem cursor FOR
		 select CTE_ID as ID, case CTE_Typ when 3 then 73 when 4 then 74 else 71 end as TYP  from dbo.CtiTechnolElem where CTE_CTNId = @idTechnologii order by CTE_Lp
	DECLARE @idElem int, @typElem int OPEN kursorElem

	FETCH NEXT FROM kursorElem   INTO @idElem, @typElem
	while @@FETCH_STATUS = 0
	begin
		INSERT INTO dbo.CtiTechnolElem (CTE_CTNId, CTE_Lp, CTE_TwrId, CTE_TwrKod, CTE_Ilosc, CTE_Typ, CTE_CenaWaga, CTE_Cena, CTE_Magazyn, CTE_Opis, CTE_Staly, CTE_DzialID)
		select @NoweId, CTE_Lp, CTE_TwrId, CTE_TwrKod, CTE_Ilosc, CTE_Typ, CTE_CenaWaga, CTE_Cena, CTE_Magazyn, CTE_Opis, CTE_Staly, CTE_DzialID from dbo.CtiTechnolElem where CTE_CTNId = @idTechnologii and CTE_ID = @idElem
		declare @NoweIdElam int = SCOPE_IDENTITY() 

			if(@typElem not in (1,2))--cechy dla elementów--nie surowce, 1 to TH
			begin
				INSERT INTO CtiTechnolCecha (CTC_CTNID, CTC_Typ, CTC_TwrId, CTC_Def, CTC_NrCechy)
				SELECT @NoweIdElam, @typElem, CTC_TwrId, CTC_Def, CTC_NrCechy FROM CtiTechnolCecha where CTC_CTNID = @idElem  and isnull(CTC_Typ,1) = @typElem
			end     


		--kopiowanie planowanych cech
		INSERT INTO dbo.CtiPlanowanaCecha
		(CPC_TypDokumentu, CPC_IdElementu, CPC_IdTowaru, CPC_AtrybutID, 
		CPC_AtrybutTyp, CPC_AtrybutKod, CPC_Komparator, CPC_Wartosc, CPC_TypDaty) 
		SELECT
		CPC_TypDokumentu, @NoweIdElam, CPC_IdTowaru, CPC_AtrybutID, 
		CPC_AtrybutTyp, CPC_AtrybutKod, CPC_Komparator, CPC_Wartosc, CPC_TypDaty
		FROM dbo.CtiPlanowanaCecha
		WHERE CPC_TypDokumentu = 1 AND CPC_IdElementu = @idElem;


		FETCH NEXT FROM kursorElem  INTO @idElem, @typElem
	end

	CLOSE kursorElem  deallocate kursorElem

		--cecha dla TH
		INSERT INTO CtiTechnolCecha (CTC_CTNID, CTC_Typ, CTC_TwrId, CTC_Def, CTC_NrCechy)
		SELECT top 1 @NoweId,1,  CTC_TwrId, CTC_Def, CTC_NrCechy FROM CtiTechnolCecha where CTC_CTNID = @idTechnologii and isnull(CTC_Typ,1) = 1 and CTC_NrCechy = 1 order by isnull(CTC_Typ,99)
		INSERT INTO CtiTechnolCecha (CTC_CTNID, CTC_Typ, CTC_TwrId, CTC_Def, CTC_NrCechy)
		SELECT top 1 @NoweId,1,  CTC_TwrId, CTC_Def, CTC_NrCechy FROM CtiTechnolCecha where CTC_CTNID = @idTechnologii and isnull(CTC_Typ,1) = 1 and CTC_NrCechy = 2 order by isnull(CTC_Typ,99)

		--zasoby 'główne'
		insert into dbo.CtiZasobDok
			(CZS_CZID, CZS_CZGID, CZS_CTNID, CZS_Kod, CZS_JMCzasu 
			, CZS_CzasPracy,CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, CZS_KosztPracy 
			, CZS_KosztUzbrojenia, CZS_KosztRozbrojenia,CZS_DokTyp
			, CZS_PwBlokada, CZS_RwBlokada, CZS_Ilosc, CZS_CzasStart, CZS_CzasEnd
			, CZS_Lp, CZS_Opis, CZS_PrcId, CZS_Dzielnik, CZS_PlanowanieCzasuPracy, CZS_CzasPlanowany, CZS_WieleOsob, CZS_ZasobPrcId
			, CZS_ParentID, CZS_UtworzonoPracownika, CZS_PWOdpad, CZS_RealizacjaCalkowita)
		SELECT CZS_CZID, CZS_CZGID, @NoweId, CZS_Kod, CZS_JMCzasu 
			, CZS_CzasPracy,CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, CZS_KosztPracy 
			, CZS_KosztUzbrojenia, CZS_KosztRozbrojenia, CZS_DokTyp
			, isnull(CZS_PwBlokada,0), isnull(CZS_RwBlokada,0), CZS_Ilosc, CZS_CzasStart, CZS_CzasEnd
			, CZS_Lp
			, CZS_Opis, CZS_PrcId, CZS_Dzielnik, CZS_PlanowanieCzasuPracy, CZS_CzasPlanowany, CZS_WieleOsob, CZS_ZasobPrcId
			, CZS_ParentID, CZS_UtworzonoPracownika, CZS_PWOdpad, CZS_RealizacjaCalkowita
		FROM dbo.CtiZasobDok 
			LEFT JOIN dbo.CtiKonfigJM on CKJ_Typ = 1 and CZS_JMCzasu = CKJ_Lp
			INNER JOIN dbo.CtiZasob on CZ_ID = CZS_CZID
			INNER JOIN  dbo.CtiZasobGrupy on CZS_CZGID = CZG_ID 
			where CZS_DokTyp = 1
			and CZS_ctnid =@idTechnologii
			and CZS_ParentID IS NULL
		order by isnull(CZS_Lp,0), CZS_ID

		--zasoby 'pracownicy'
		insert into dbo.CtiZasobDok
			(CZS_CZID, CZS_CZGID, CZS_CTNID, CZS_Kod, CZS_JMCzasu 
			, CZS_CzasPracy,CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, CZS_KosztPracy 
			, CZS_KosztUzbrojenia, CZS_KosztRozbrojenia,CZS_DokTyp
			, CZS_PwBlokada, CZS_RwBlokada, CZS_Ilosc, CZS_CzasStart, CZS_CzasEnd
			, CZS_Lp, CZS_Opis, CZS_PrcId, CZS_Dzielnik, CZS_PlanowanieCzasuPracy, CZS_CzasPlanowany, CZS_WieleOsob, CZS_ZasobPrcId
			, CZS_ParentID, CZS_UtworzonoPracownika, CZS_PWOdpad, CZS_RealizacjaCalkowita)
		SELECT stary.CZS_CZID, stary.CZS_CZGID, @NoweId, stary.CZS_Kod, stary.CZS_JMCzasu 
			, stary.CZS_CzasPracy,stary.CZS_CzasUzbrojenia, stary.CZS_CzasRozbrojenia, stary.CZS_KosztPracy 
			, stary.CZS_KosztUzbrojenia, stary.CZS_KosztRozbrojenia, stary.CZS_DokTyp
			, isnull(stary.CZS_PwBlokada,0), isnull(stary.CZS_RwBlokada,0), stary.CZS_Ilosc, stary.CZS_CzasStart, stary.CZS_CzasEnd
			, stary.CZS_Lp
			, stary.CZS_Opis, stary.CZS_PrcId, stary.CZS_Dzielnik, stary.CZS_PlanowanieCzasuPracy, stary.CZS_CzasPlanowany, stary.CZS_WieleOsob, stary.CZS_ZasobPrcId
			, (
				SELECT TOP 1 nowy.CZS_ID 
				FROM dbo.CtiZasobDok nowy 
				WHERE nowy.CZS_DokTyp = 1
				AND nowy.CZS_CTNID = @NoweId
				AND nowy.CZS_LP = parent.CZS_LP
			), stary.CZS_UtworzonoPracownika, stary.CZS_PWOdpad, stary.CZS_RealizacjaCalkowita
		FROM dbo.CtiZasobDok stary
			JOIN dbo.CtiZasobDok parent ON stary.CZS_ParentID = parent.CZS_ID
			LEFT JOIN dbo.CtiKonfigJM on CKJ_Typ = 1 and stary.CZS_JMCzasu = CKJ_Lp
			INNER JOIN dbo.CtiZasob on CZ_ID = stary.CZS_CZID
			INNER JOIN  dbo.CtiZasobGrupy on stary.CZS_CZGID = CZG_ID 
			where stary.CZS_DokTyp = 1
			and stary.CZS_ctnid =@idTechnologii
			and stary.CZS_ParentID IS NOT NULL
		order by isnull(stary.CZS_Lp,0), stary.CZS_ID

		--numer wlasny
		if not exists (SELECT isnull(DNW_Numer,0) FROM dbo.CtiDokNrWlasny where DNW_DokTyp = 1 and DNW_DokID = @NoweId)
			insert dbo.CtiDokNrWlasny (DNW_DokTyp, DNW_DokID, DNW_Numer) values (1, @NoweId, @NrWlasny)
		else
			update  dbo.CtiDokNrWlasny set DNW_Numer = @NrWlasny  where DNW_DokTyp = 1 and DNW_DokID = @NoweId
	end
	select @NoweId as ID
END
GO

# [dbo].[CTIProdukcjaTechnologiaElemAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaTechnologiaElemAdd]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaTechnologiaElemAdd]
  @DokId					int
, @idSurowca				int
, @LogujacyId				int
, @KodSurowca				varchar(40)
, @typSurowca				int
, @ilosc					decimal(15,4) = 1
, @agregacjaSurowcow		tinyint = 0
, @magazyn					int = null
, @opis						varchar(max) = null
, @staly					int = 0
, @cena						decimal(15, 4) = 0
AS
BEGIN
--@typSurowca
--1 - Surowiec z cechą - jeżeli włączona obsługa cech
--2 - Surowiec
--3 - Odpad
--4 - Praca/koszt/Usługa

	UPDATE dbo.CtiTechnolNag SET  CTN_OperModyf =@LogujacyId, CTN_DataModyf = GETDATE() from  dbo.CtiTechnolNag WHERE CTN_ID = @DokId
	if (isnull(@ilosc,0)=0) 
		set @ilosc = 1

	if (@agregacjaSurowcow = 1 and exists (select * from dbo.CtiTechnolElem WHERE CTE_TwrId = @idSurowca AND CTE_Typ = @typSurowca AND CTE_CTNId = @DokId))
	begin
		update dbo.CtiTechnolElem SET CTE_Ilosc = CTE_Ilosc + @ilosc, CTE_Cena=@cena WHERE CTE_TwrId = @idSurowca AND CTE_Typ = @typSurowca AND CTE_CTNId = @DokId
	end
	else
	begin
		insert into dbo.CtiTechnolElem (CTE_CTNId, CTE_Lp, CTE_TwrId, CTE_TwrKod, CTE_Ilosc, CTE_typ , CTE_CenaWaga, CTE_Cena, CTE_Magazyn, CTE_Opis, CTE_Staly)
		select @DokId, (COUNT(*)+1) as CTE_Lp, @idSurowca, @KodSurowca, @ilosc,@typSurowca,0, @cena, @magazyn, @opis, @staly
		from CtiTechnolElem where CTE_CTNId = @DokId and CTE_typ = @typSurowca
	end

	
	
END
GO

# [dbo].[CTIProdukcjaTechnologiaElemDel]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaTechnologiaElemDel]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CTIProdukcjaTechnologiaElemDel]
@idElem int,@idNag int, @typ int
AS
Begin
	 DELETE FROM  dbo.CtiTechnolElem where  CTE_ID = @idElem
	 
	--przenumerowanie
	 update dbo.CtiTechnolElem Set CTE_Lp= lp from--170829
		(	select ROW_NUMBER() OVER (PARTITION BY cte_typ, CTE_CTNId ORDER BY  isnull(CTE_Lp,0),CTE_ID) as Lp, CTE_ID as Id from  dbo.CtiTechnolElem  
			where CTE_CTNId = @idNag and cte_typ = @typ
		) a where CTE_ID=Id
END
GO

# [dbo].[CTIProdukcjaTechnologiaElemEdit]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaTechnologiaElemEdit]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CTIProdukcjaTechnologiaElemEdit]
@cteId int,
@ilosc decimal(15,4),
@CenaWaga decimal(15,4),
@Cena decimal(15,4),
@Magazyn int,
@Opis varchar(max) = null,
@Staly int = 0,
@DzialID int = null
AS
BEGIN
	UPDATE  dbo.CtiTechnolElem  SET CTE_Ilosc = @ilosc,CTE_CenaWaga = @CenaWaga, CTE_Cena = @Cena, CTE_Magazyn = @magazyn, CTE_Opis = @Opis, CTE_Staly = @Staly, CTE_DzialID = @DzialID
	where cte_Id = @cteId
END
GO

# [dbo].[CTIProdukcjaTechnologiaElemList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaTechnologiaElemList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CTIProdukcjaTechnologiaElemList] @id int, @typ int
AS
BEGIN
	SELECT CTE_ID as ID, CTE_CTNId, CTE_Lp as Lp, CTE_TwrId as TwrId, CTE_TwrKod as TwrKod 
		, CTE_Ilosc as Ilosc, replace(Twr_Nazwa,char(10), ' ')   as TwrNazwa, Twr_JM as jm
		, isnull(TwC_Wartosc ,0) as Cena,isnull(CTE_CenaWaga ,0) as CenaWaga, isnull(CTE_Cena ,0) as Cena
	FROM    dbo.CtiTechnolElem 
		LEFT JOIN CDN.Towary ON CTE_TwrId = Twr_GIDNumer 
		LEFT JOIN CDN.TwrCeny  ON TwC_TwrID = Twr_TwrId AND TwC_TwCNumer = 1
	where CTE_CTNId = @id and cte_typ = @typ order by CTE_Lp
END

GO

# [dbo].[CTIProdukcjaTechnologiaList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaTechnologiaList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaTechnologiaList]
 @status int,
 @zp int,
 @idWyrobu int = 0
AS
BEGIN
declare @DokTyp int = 1 --produkcja TH
declare @prmPole1 int = 0 SELECT @prmPole1 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 1 and CAU_TypDok = @DokTyp
declare @prmPole2 int = 0 SELECT @prmPole2 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 2 and CAU_TypDok = @DokTyp
declare @prmPole3 int = 0 SELECT @prmPole3 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 3 and CAU_TypDok = @DokTyp
declare @twrid int = 0
if ISNULL(@zp,0) <> 0 select @twrid = CZN_TwrId from dbo.CtiZlecenieNag where czn_id = @zp and CZN_DokZwiazTyp = 308

	SELECT DISTINCT
		CTN_ID as ID, CTN_Opis, CTN_TwrId, Twr_Kod as CTN_TwrKod, CTN_Nazwa
		, CTN_OpeWystaw, CTN_DataWystaw, CTN_OperModyf
		, ISNULL(CTN_DataModyf, GETDATE()) AS CTN_DataModyf, a.CO_Kod AS Wystawil, b.CO_Kod AS Modyfikowal
		, case  when CTN_DodatkowyStatus <> -1 THEN CTN_DodatkowyStatus ELSE CTN_Status END AS CTN_Status
		, CASE WHEN ISNULL(CTD_ID, 0) = 0 THEN '' ELSE 'Domyślna' END AS domyslna
		, case @prmPole1 when 1 then (SELECT TOP (1) Wartosc
			FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CTN_ID, 0,0,0,0,0,0) AS CTIProdukcjaTowaryPolaSpecjalne_3
			WHERE (Lp = 1))   else '' end AS Pole1
		, case @prmPole2 when 1 then (SELECT TOP (1) Wartosc
			FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CTN_ID, 0,0,0,0,0,0) AS CTIProdukcjaTowaryPolaSpecjalne_2
			WHERE (Lp = 2))   else '' end AS Pole2
		, case @prmPole3 when 1 then (SELECT TOP (1) Wartosc
			FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CTN_ID, 0,0,0,0,0,0) AS CTIProdukcjaTowaryPolaSpecjalne_1
			WHERE (Lp = 3))   else '' end AS Pole3
		, CTN_ID, ISNULL(CTN_NumerObcy,'') as NumerObcy
		, replace(Twr_Nazwa,char(10), ' ')  as TwrNazwa
		, ISNULL(DNW_Numer,CTN_Nazwa) as NumerDokWlasny
	FROM dbo.CtiTechnolNag 
		INNER JOIN cdn.towary ON twr_twrid = CTN_TwrId 
		LEFT JOIN dbo.CtiOperatorzy AS a ON CTN_OpeWystaw = a.CO_ID 
		LEFT JOIN dbo.CtiOperatorzy AS b ON CTN_OperModyf = b.CO_ID 
		LEFT JOIN dbo.CtiTechnolDomyslna  on CTN_TwrId = CTD_TwrId and ctd_Id = ctn_id
		LEFT JOIN dbo.CtiDokNrWlasny on CTN_ID = isnull(DNW_DokID,0) and  1 = isnull(DNW_DokTyp,0) 
	where ((ISNULL(@twrid,0)=0)or(ISNULL(@twrid,0) = CTN_TwrId))
	and
	(
		(ISNULL(@idWyrobu,0)=0)or(ISNULL(@idWyrobu,0) = CTN_TwrId)
	)
	and 
	(
		(@status = -1)
		or
		(@status = 0 and CTN_Status= 0)
		or 
		(@status = 1 and CTN_Status not in (0,4))
		or 
		(@status = 4 and CTN_Status = 4)
	)
	order by 1 desc
END


GO

# [dbo].[CTIProdukcjaTechnologiaZAddEdit]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaTechnologiaZAddEdit]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaTechnologiaZAddEdit]
   @id			int output 
 , @Opis		nvarchar(254)
 , @Ope			int
 , @Status		int
 , @TwrId		int
AS
BEGIN

declare @numerTech int = 0
declare @miesiac int =month(GETDATE())
declare @rok int =  year(GETDATE())
declare @nrpelny varchar(20) =''
declare @Seria varchar(5) = ''

select @numerTech = isnull(Max(CTZN_Numer),0)+1  from dbo.CtiTechnolZNag where CTZN_Rok = @rok --and isnull(CTZN_Seria,'') = '' and CTZN_Miesiac = @miesiac --tylko rok
select  @nrpelny='THZ/'+cast(replace(str(@numerTech,5),' ','0')as char(5)) +'/'+cast(@rok as varchar(4))

	declare @TwrKod varchar(20) = '' select @TwrKod=Twr_Kod from cdn.Towary where Twr_TwrId = @TwrId

	if @TwrId =0 and  @id = 0
	begin
		INSERT INTO dbo.CtiTechnolZNag
		(CTZN_Opis, CTZN_TwrId, CTZN_TwrKod, CTZN_Nazwa, CTZN_OpeWystaw, CTZN_DataWystaw, CTZN_OperModyf, CTZN_DataModyf, CTZN_Status,CTZN_Numer,CTZN_Miesiac,CTZN_Rok,CTZN_Seria,CTZN_Cecha)
		VALUES ('',0,'',@nrpelny,@Ope,GETDATE(),@Ope,GETDATE(),0,@numerTech,@miesiac,@rok,@Seria,0)
		Select SCOPE_IDENTITY() as ID 
	end
	if @TwrId >0 and  @id = 0
	begin
		INSERT INTO dbo.CtiTechnolZNag
		(CTZN_Opis, CTZN_TwrId, CTZN_TwrKod, CTZN_Nazwa, CTZN_OpeWystaw, CTZN_DataWystaw, CTZN_OperModyf, CTZN_DataModyf, CTZN_Status,CTZN_Numer,CTZN_Miesiac,CTZN_Rok,CTZN_Seria,CTZN_Cecha)
		VALUES (@Opis,@TwrId,@TwrKod,@nrpelny,@Ope,GETDATE(),@Ope,GETDATE(),@Status,@numerTech,@miesiac,@rok,@Seria,0)
		Select SCOPE_IDENTITY() as ID 
	end

	if @id > 0
	begin
		declare @cecha int = 0
		--select @cecha = count(*) from dbo.CtiTechnolElem where  CTE_CTNId = @id and CTE_Typ = 1
		select @cecha = isnull(a.twa_deaid,0) from cdn.towary
		LEFT JOIN CDN.TwrAtrybuty a on a.TwA_TwrID = Twr_TwrId and a.TwA_DeAId = 
		( select DISTINCT TwA_DeAId from cdn.twratrybuty
		INNER JOIN cdn.defatrybuty on TwA_DeAId = DeA_DeAId
		INNER JOIN dbo.CtiKonfiguracja on KNF_Numer = 5 and DeA_Kod = KNF_Wartosc 
		where  TwA_CzyPrzenosicNaDostawy = 1 ) where twr_twrid = @TwrId

		if(@cecha >0 ) begin set @cecha = 1 end

		UPDATE dbo.CtiTechnolZNag
	    SET CTZN_Opis = @Opis
		  , CTZN_TwrId = @TwrId
		  , CTZN_TwrKod = @TwrKod
		  , CTZN_OperModyf = @Ope
		  , CTZN_DataModyf = GETDATE()
		  , CTZN_Status = @Status
		  , CTZN_Cecha = @cecha
	   WHERE CTZN_ID = @id
	end

END

GO

# [dbo].[CTIProdukcjaTechnologiaZCofnij]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaTechnologiaZCofnij]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaTechnologiaZCofnij]
@id int
AS
BEGIN
declare @status int

select @status =dbo.CTIProdukcjaStatusy(9,@id) 
if @status=1
begin
	 Update dbo.CtiTechnolZNag set ctzn_status = 0 where Ctzn_ID = @id
end
END

GO

# [dbo].[CTIProdukcjaTechnologiaZDel]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaTechnologiaZDel]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CTIProdukcjaTechnologiaZDel]
@id int
AS
BEGIN
declare @status int

select @status =dbo.CTIProdukcjaStatusy(9,@id) 
if @status=0
begin
BEGIN TRY
BEGIN TRAN T1
 DELETE FROM  dbo.CtiTechnolZElem where  CTZE_CTZNId = @id
 DELETE FROM  dbo.CtiTechnolZNag where CTZN_ID = @id
 COMMIT TRAN T1
END TRY
BEGIN CATCH
   RollBack TRAN T1
         Return
END CATCH
end
END


GO

# [dbo].[CTIProdukcjaTechnologiaZDuplikat]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaTechnologiaZDuplikat]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTIProdukcjaTechnologiaZDuplikat]
@idTechnologii INT,
@idOperatora INT
AS
BEGIN
DECLARE @numerTech INT = 0
DECLARE @miesiac INT =month(GETDATE())
DECLARE @rok INT =  year(GETDATE())
DECLARE @nrpelny VARCHAR(20) =''
declare @Seria VARCHAR(5) = ''

SELECT @numerTech = isnull(Max(CTZN_Numer),0)+1  FROM dbo.CtiTechnolZNag
WHERE CTZN_Rok = @rok --and isnull(CTZN_Seria,'') = '' and CTZN_Miesiac = @miesiac --tylko rok
SELECT  @nrpelny='THZ/'+cast(replace(str(@numerTech,5),' ','0')AS CHAR(5)) +'/'+cast(@rok AS VARCHAR(4))



	DECLARE @NoweId INT
	SET @NoweId = 0
	
	INSERT INTO dbo.CtiTechnolZNag
			(CTZN_Opis, CTZN_TwrId, CTZN_TwrKod, CTZN_Nazwa, CTZN_OpeWystaw, CTZN_DataWystaw, CTZN_OperModyf, CTZN_DataModyf, CTZN_Status,CTZN_Numer,CTZN_Miesiac,CTZN_Rok,CTZN_Seria,CTZN_Cecha)
		SELECT CTZN_Opis, CTZN_TwrId, CTZN_TwrKod, @nrpelny, @idOperatora, GETDATE(), @idOperatora, GETDATE(), 0,@numerTech,@miesiac,@rok,@Seria,CTZN_Cecha
		FROM dbo.CtiTechnolZNag WHERE CTZN_ID = @idTechnologii
	SELECT @NoweId = SCOPE_IDENTITY() 

	--skladniki
	IF @NoweId > 0
	BEGIN
		--kopiowanie działów
		INSERT INTO dbo.CtiTechnolDzialy
		(CTDZ_TechnolID, CTDZ_DokTyp, CTDZ_DzialID)
		SELECT 
		@NoweId, 3, CTDZ_DzialID
		FROM dbo.CtiTechnolDzialy
		WHERE CTDZ_TechnolID = @idTechnologii
		AND CTDZ_DokTyp = 3;

		INSERT INTO dbo.CtiTechnolZElem (CTZE_CTZNID, CTZE_CTNID, CTZE_Lp, CTZE_Typ, CTZE_Ilosc, CTZE_Opis, CTZE_DzialID, CTZE_Potwierdzanie)
		SELECT @NoweId, CTZE_CTNID, CTZE_Lp, CTZE_Typ, CTZE_Ilosc, CTZE_Opis, CTZE_DzialID, CTZE_Potwierdzanie
		FROM dbo.CtiTechnolZElem
		WHERE CTZE_CTZNID = @idTechnologii;

		--zasoby 'główne'
		INSERT INTO dbo.CtiZasobDok
			(CZS_CZID, CZS_CZGID, CZS_CTNID, CZS_Kod, CZS_JMCzasu 
			, CZS_CzasPracy,CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, CZS_KosztPracy 
			, CZS_KosztUzbrojenia, CZS_KosztRozbrojenia,CZS_DokTyp
			, CZS_PwBlokada, CZS_RwBlokada, CZS_Ilosc, CZS_CzasStart, CZS_CzasEnd
			, CZS_Lp, CZS_Opis, CZS_PrcId, CZS_Dzielnik, CZS_PlanowanieCzasuPracy, CZS_CzasPlanowany, CZS_WieleOsob, CZS_ZasobPrcId
			, CZS_ParentID, CZS_UtworzonoPracownika, CZS_PWOdpad, CZS_RealizacjaCalkowita)
		SELECT CZS_CZID, CZS_CZGID, @NoweId, CZS_Kod, CZS_JMCzasu 
			, CZS_CzasPracy,CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, CZS_KosztPracy 
			, CZS_KosztUzbrojenia, CZS_KosztRozbrojenia, CZS_DokTyp
			, isnull(CZS_PwBlokada,0), isnull(CZS_RwBlokada,0), CZS_Ilosc, CZS_CzasStart, CZS_CzasEnd
			, CZS_Lp
			, CZS_Opis, CZS_PrcId, CZS_Dzielnik, CZS_PlanowanieCzasuPracy, CZS_CzasPlanowany, CZS_WieleOsob, CZS_ZasobPrcId
			, CZS_ParentID, CZS_UtworzonoPracownika, CZS_PWOdpad, CZS_RealizacjaCalkowita
		FROM dbo.CtiZasobDok 
			LEFT JOIN dbo.CtiKonfigJM ON CKJ_Typ = 1 AND CZS_JMCzasu = CKJ_Lp
			INNER JOIN dbo.CtiZasob ON CZ_ID = CZS_CZID
			INNER JOIN  dbo.CtiZasobGrupy ON CZS_CZGID = CZG_ID 
			WHERE CZS_DokTyp = 3
			AND CZS_ctnid =@idTechnologii
			AND CZS_ParentID IS NULL
		ORDER BY isnull(CZS_Lp,0), CZS_ID

		--zasoby 'pracownicy'
		INSERT INTO dbo.CtiZasobDok
			(CZS_CZID, CZS_CZGID, CZS_CTNID, CZS_Kod, CZS_JMCzasu 
			, CZS_CzasPracy,CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, CZS_KosztPracy 
			, CZS_KosztUzbrojenia, CZS_KosztRozbrojenia,CZS_DokTyp
			, CZS_PwBlokada, CZS_RwBlokada, CZS_Ilosc, CZS_CzasStart, CZS_CzasEnd
			, CZS_Lp, CZS_Opis, CZS_PrcId, CZS_Dzielnik, CZS_PlanowanieCzasuPracy, CZS_CzasPlanowany, CZS_WieleOsob, CZS_ZasobPrcId
			, CZS_ParentID, CZS_UtworzonoPracownika, CZS_PWOdpad, CZS_RealizacjaCalkowita)
		SELECT stary.CZS_CZID, stary.CZS_CZGID, @NoweId, stary.CZS_Kod, stary.CZS_JMCzasu 
			, stary.CZS_CzasPracy,stary.CZS_CzasUzbrojenia, stary.CZS_CzasRozbrojenia, stary.CZS_KosztPracy 
			, stary.CZS_KosztUzbrojenia, stary.CZS_KosztRozbrojenia, stary.CZS_DokTyp
			, isnull(stary.CZS_PwBlokada,0), isnull(stary.CZS_RwBlokada,0), stary.CZS_Ilosc, stary.CZS_CzasStart, stary.CZS_CzasEnd
			, stary.CZS_Lp
			, stary.CZS_Opis, stary.CZS_PrcId, stary.CZS_Dzielnik, stary.CZS_PlanowanieCzasuPracy, stary.CZS_CzasPlanowany, stary.CZS_WieleOsob, stary.CZS_ZasobPrcId
			, (
				SELECT TOP 1 nowy.CZS_ID 
				FROM dbo.CtiZasobDok nowy 
				WHERE nowy.CZS_DokTyp = 3
				AND nowy.CZS_CTNID = @NoweId
				AND nowy.CZS_LP = parent.CZS_LP
			), stary.CZS_UtworzonoPracownika, stary.CZS_PWOdpad, stary.CZS_RealizacjaCalkowita
		FROM dbo.CtiZasobDok stary
			JOIN dbo.CtiZasobDok parent ON stary.CZS_ParentID = parent.CZS_ID
			LEFT JOIN dbo.CtiKonfigJM ON CKJ_Typ = 1 AND stary.CZS_JMCzasu = CKJ_Lp
			INNER JOIN dbo.CtiZasob ON CZ_ID = stary.CZS_CZID
			INNER JOIN  dbo.CtiZasobGrupy ON stary.CZS_CZGID = CZG_ID 
			WHERE stary.CZS_DokTyp = 3
			AND stary.CZS_ctnid =@idTechnologii
			AND stary.CZS_ParentID IS NOT NULL
		ORDER BY isnull(stary.CZS_Lp,0), stary.CZS_ID

		INSERT INTO dbo.CtiAtrybutyElem (CAE_TypDok, CAE_IdDok, CAE_CANLp, CAE_CAHid, CAE_Typ, CAE_Wartosc)
		SELECT CAE_TypDok, @NoweId, CAE_CANLp, CAE_CAHid, CAE_Typ, CAE_Wartosc
		FROM dbo.CtiAtrybutyElem
		WHERE CAE_TypDok = 22 and CAE_IdDok = @idTechnologii;
	END
	
	SELECT @NoweId AS ID
END
GO

# [dbo].[CTIProdukcjaTechnologiaZElemAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaTechnologiaZElemAdd]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CTIProdukcjaTechnologiaZElemAdd]
@idTechnologiiZ int,
@idTechnologii int,
@LP int,
@typ int,
@ilosc decimal(15,4)
AS
BEGIN
	insert into dbo.CtiTechnolZElem (CTZE_CTZNID, CTZE_CTNID, CTZE_Lp, CTZE_Typ, CTZE_Ilosc)
	Values (@idTechnologiiZ,@idTechnologii,@LP,@typ,@ilosc)
END
GO

# [dbo].[CTIProdukcjaTowaryList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaTowaryList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaTowaryList] 
 @magazyn		varchar(100),
 @typ			int,			-- 0 lista główna wszystkie - 72 wyroby - 71 surowce  -- mechanizm nieaktywny dla surowców
 @TwrTyp		int = 0,		-- 0 ignoruj filtr --Ograniczenie do:  1 towar -- 2 usługa 
 @prmCzyCecha	int = 0,		-- 0 ignoruj filtr --Ograniczenie do: 1 bez cech -- 2 surowce z cechą
 @TH			int = 0			-- dodatkowe zamienniki z TH -- mechanizm nieaktywny
AS
BEGIN
	declare  @magId							int = 0 SET @magId = ISNULL((SELECT TOP 1 Mag_MagId FROM CDN.Magazyny WHERE Mag_Symbol = @magazyn), 0)
	declare  @CzyJestOgraniczenieGrupy		int = 0 SELECT @CzyJestOgraniczenieGrupy		= count(*) FROM dbo.CtiKonfigOgraniczenia where KnO_IdList = @typ and KnO_Parametr = 0
	declare  @CzyJestOgraniczenieKategorii	int = 0 SELECT @CzyJestOgraniczenieKategorii	= count(*) FROM dbo.CtiKonfigOgraniczenia where KnO_IdList = @typ and KnO_Parametr = 2
	declare  @CzyJestOgraniczenieAtrybutu	int = 0 SELECT @CzyJestOgraniczenieAtrybutu		= count(*) FROM dbo.CtiKonfigOgraniczenia where KnO_IdList = @typ and KnO_Parametr = 1

	DECLARE @idAtrCechy		int = 0 
	select DISTINCT @idAtrCechy = TwA_DeAId		from cdn.twratrybuty INNER JOIN cdn.defatrybuty on TwA_DeAId = DeA_DeAId INNER JOIN dbo.CtiKonfiguracja on KNF_Numer = 5 and DeA_Kod = KNF_Wartosc where  TwA_CzyPrzenosicNaDostawy = 1 and TwA_DeAId <> 0
	DECLARE @idAtrCechy2	int = 0 
	select DISTINCT @idAtrCechy2 = TwA_DeAId	from cdn.twratrybuty INNER JOIN cdn.defatrybuty on TwA_DeAId = DeA_DeAId INNER JOIN dbo.CtiKonfiguracja on KNF_Numer = 19 and DeA_Kod = KNF_Wartosc where  TwA_CzyPrzenosicNaDostawy = 1 and TwA_DeAId <> 0


	SELECT DISTINCT 
		Twr_TwrId as ID, Twr_kod as Kod, replace(Twr_Nazwa,char(10), ' ')  as Nazwa, twg_kod as Grupa
		,  CASE Twr_Typ WHEN 0 THEN CASE Twr_Produkt WHEN 0 THEN CASE WHEN Twr_Kaucja = 1 AND 0 = 1 THEN 'UPO' ELSE 'UP' END ELSE CASE WHEN Twr_Kaucja = 1 AND 0 = 1 THEN 'UZO' ELSE 'UZ' END END 
			WHEN 1 THEN CASE Twr_Produkt WHEN 0 THEN CASE WHEN Twr_Kaucja = 1 AND 0 = 1 THEN 'TPO' ELSE 'TP' END ELSE CASE WHEN Twr_Kaucja = 1 AND 0 = 1 THEN 'TZO' ELSE 'TZ' END END END AS TypS
		, Twr_NumerKat as NumerKatalogowy, Twr_EAN as EAN
		, Twr_KodDostawcy as KodUDostawcy, ISNULL(C.Knt_Kod,'') as Dostawca, ISNULL(Twr_ProducentKod,'') as KodProducenta,ISNULL(F.Prd_Kod,'') as Producent
		, TwC_Wartosc as Wartosc, CASE WHEN ISNULL(TwC_Waluta, '') = '' THEN 'PLN' ELSE Twc_Waluta END AS Waluta, Twr_JM as Jm
		, case  when ISNULL(a1.TwA_deaid,0) > 0  then '+' else '' end as Cecha, case  when ISNULL(a2.TwA_deaid,0) > 0 then '+' else '' end as Cecha2
		, ISNULL((SELECT TOP 1 TwI_Ilosc FROM CDN.TwrIlosci WHERE TwI_TwrId = Twr_TwrId AND TwI_MagId = @magId AND TwI_Data <= GETDATE()), 0) AS Ilosc--zasob na magazynie
	FROM CDN.Towary A  
		LEFT JOIN CDN.TwrCeny B			ON TwC_TwrID = Twr_TwrId AND Twr_TwCNumer = TwC_TwCNumer  
		LEFT JOIN CDN.Kontrahenci C		ON C.Knt_KntId = Twr_KntId 
		LEFT JOIN CDN.Producenci F		ON F.Prd_PrdId = A.Twr_PrdId  
		INNER JOIN cdn.twrgrupy			ON Twr_TwGGIDNumer = twg_gidnumer and twg_gidtyp = -16
		LEFT JOIN CDN.TwrAtrybuty a1	ON @idAtrCechy > 0 and ISNULL(a1.TwA_DeAId,0) = @idAtrCechy and  ISNULL(a1.TwA_TwrID,0) = Twr_TwrId  
		LEFT JOIN CDN.TwrAtrybuty a2	ON @idAtrCechy2 > 0 and ISNULL(a2.TwA_DeAId,0) = @idAtrCechy2 and ISNULL(a2.TwA_TwrID,0) = Twr_TwrId  
	where Twr_NieAktywny = 0
			and	( (ISNULL(@TwrTyp,0) = 0 )				or ( ISNULL(@TwrTyp,0) <> 0 and ((ISNULL(@TwrTyp,0) = 1 and Twr_Typ = 1) or (ISNULL(@TwrTyp,0) = 2 and Twr_Typ = 0))))
			and ( (ISNULL(@prmCzyCecha,0) = 0)			or ( ISNULL(@prmCzyCecha,0) <> 0 and ((ISNULL(@prmCzyCecha,0) = 1 and ISNULL(a1.TwA_deaid,0) = 0) or (ISNULL(@prmCzyCecha,0) = 2 and ISNULL(a1.TwA_deaid,0) <> 0))))
			and ( (@CzyJestOgraniczenieGrupy = 0)		or ( @CzyJestOgraniczenieGrupy <> 0 and twg_TwgId in (SELECT KnO_WartoscID FROM dbo.CtiKonfigOgraniczenia where KnO_IdList = @typ and KnO_Parametr = 0)))
			and ( (@CzyJestOgraniczenieKategorii = 0)   or ( @CzyJestOgraniczenieKategorii <> 0 and ((ISNULL(Twr_KatId,0)	in	(SELECT KnO_WartoscID FROM dbo.CtiKonfigOgraniczenia where KnO_IdList = @typ and KnO_Parametr = 2))or(ISNULL(Twr_KatZakId,0) in	(SELECT KnO_WartoscID FROM dbo.CtiKonfigOgraniczenia where KnO_IdList = @typ and KnO_Parametr = 2)))))
			and ( (@CzyJestOgraniczenieAtrybutu = 0)    or ( @CzyJestOgraniczenieAtrybutu <> 0 and twr_twrid in ( select distinct AtrOgr.TwA_twrid from cdn.TwrAtrybuty AtrOgr INNER JOIN dbo.CtiKonfigOgraniczenia on  KnO_IdList = @typ and KnO_Parametr = 1 and  AtrOgr.TwA_deaId = KnO_WartoscId and AtrOgr.TwA_WartoscTxt = KnO_WartoscAtrTxt)))
			--and ( (ISNULL(@TH,0) = 0 )	or ((ISNULL(@TH,0) <> 0 ) and twr_twrid in (SELECT distinct Zam_ZamTwrID FROM dbo.CtiTechnolNag  INNER JOIN dbo.CtiTechnolElem on ctn_id = Cte_ctnid INNER JOIN cdn.Zamienniki on CTE_TwrId = Zam_TwrID	where CTE_CTNId =@TH and cte_typ in (1,2))))--tylko surowce--20170227 ZAMIENNIKI 
	order by 2
	return;
END
GO

# [dbo].[CTIProdukcjaTworzenieKorektySpr]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaTworzenieKorektySpr]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CTIProdukcjaTworzenieKorektySpr]  
@id INT --id dokumentu z którego ma być tworzona korekat
AS
--sprawdzenie czy można stworzyć korektę do danego dokumentu--czy istnieją jakieś zasoby
declare @MagId INT select @MagId = TrN_MagDocId from cdn.TraNag INNER JOIN cdn.Magazyny on TrN_MagZrdId = Mag_MagId where  TrN_TrNId = @id

--declare @66 INT = 0 SELECT @66 = ISNULL(KNF_Wartosc,1) FROM  CtiKonfiguracja where KNF_Numer = 66--20160704 kontrola zasobów przyjętych dokumentem MM
declare @zpId INT select @zpId = ISNULL(CZD_CZNId,0) from dbo.CtiZlecenieDok where CZD_TrnId = @id

select count(*) as ilosc from
	(
		--wszystkie dostępne dostawy z danego magazynu, no towary z korygowanego dokumentu

		SELECT  Twz_TwrId as TwrId
			, sum(TwZ_Ilosc) as IloscDostepna
			, TrS_TrSIdDost as DostId
		FROM 
			(--wszystkie dostawy uzyte w MM 
				select sum(trs_ilosc) as Ilosc, TrS_TrSIdDost as DstID
				from cdn.TraNag  
					INNER JOIN cdn.TraElem on TrE_TrNId = TrN_TrNID 
					INNER JOIN cdn.TraSElem on TrS_TrEId = TrE_TrEID 
				where TrN_TrNID = @id and TrN_Bufor=0 
				and TrS_Ilosc > 0		-- operacja z jednego magazynu
				group by TrS_TrSIdDost
			) MMDst
			INNER JOIN cdn.TwrZasoby on ISNULL(TwZ_TrSIdDost,0) =DstID
			INNER JOIN cdn.TraSElem ON TwZ_TrSIdDost = TrS_TrSIdDost AND TrS_Typ=1
			LEFT JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId
			LEFT JOIN cdn.TraNag ON TrN_TrNId = TrE_TrNId
		WHERE TwZ_MagId = @MagId	AND (TrN_Korekta=0 or TrN_Korekta is null)
		group by Twz_TwrId,TrS_TrSIdDost

			
	) a 



GO

# [dbo].[CTIProdukcjaTwrAddEdit]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaTwrAddEdit]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaTwrAddEdit]
@TwrId int,
@CTwrCena decimal(15, 4),
@CTwrNarzut decimal(8, 4),
@CTwrMagZrdId int = null,
@CTwrMagDocId int = null
AS
BEGIN
	if not exists(select CTwr_TwrId from dbo.CtiTowary where CTwr_TwrId = @TwrId)
	begin
		insert into dbo.CtiTowary
		(CTwr_TwrId, CTwr_Cena, CTwr_Narzut, CTwr_MagZrdId, CTwr_MagDocId)
		values
		(@TwrId, @CTwrCena, @CTwrNarzut, @CTwrMagZrdId, @CTwrMagDocId)
	end
	else
	begin
		update dbo.CtiTowary set CTwr_Cena = @CTwrCena , CTwr_Narzut = @CTwrNarzut, 
		CTwr_MagZrdId = @CTwrMagZrdId, CTwr_MagDocId = @CTwrMagDocId
		where CTwr_TwrId = @TwrId
	end	
END
GO

# [dbo].[CTIProdukcjaTwrCzasAddEdit]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaTwrCzasAddEdit]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaTwrCzasAddEdit]
@TwrId int,--twr_twrid optima
@CRC_CzasMAXMin int,
@CRC_CzasMAXTyp int,
@CRC_KosztMAX decimal(15, 4),
@CRC_CzasOPTIMin int,
@CRC_CzasOPTITyp int,
@CRC_KosztOPTI decimal(15, 4),
@CRC_CzasMinMin int,
@CRC_CzasMinTyp int,
@CRC_KosztMin decimal(15, 4),
@CRC_CzasMAXMinP int,
@CRC_CzasMAXTypP int,
@CRC_KosztMAXP decimal(15, 4),
@CRC_CzasOPTIMinP int,
@CRC_CzasOPTITypP int,
@CRC_KosztOPTIP decimal(15, 4),
@CRC_CzasMinMinP int,
@CRC_CzasMinTypP int,
@CRC_KosztMinP decimal(15, 4),
@CRC_OpisMAX nvarchar(254) ,
@CRC_OpisMin nvarchar(254) ,
@CRC_OpisOPTI nvarchar(254) 
AS
BEGIN
	if @CRC_CzasMAXTyp = 1
	begin set @CRC_CzasMAXMin = @CRC_CzasMAXMin * 60 end
	else if @CRC_CzasMAXTyp = 2
	begin set @CRC_CzasMAXMin = (@CRC_CzasMAXMin * 60)*24 end
	
	if @CRC_CzasOPTITyp = 1
	begin set @CRC_CzasOPTIMin = @CRC_CzasOPTIMin * 60 end
	else if @CRC_CzasOPTITyp = 2
	begin set @CRC_CzasOPTIMin = (@CRC_CzasOPTIMin * 60)*24 end	
	
	if @CRC_CzasMinTyp = 1
	begin set @CRC_CzasMinMin = @CRC_CzasMinMin * 60 end
	else if @CRC_CzasMinTyp = 2
	begin set @CRC_CzasMinMin = (@CRC_CzasMinMin * 60)*24 end	
	
	if @CRC_CzasMAXTypP = 1
	begin set @CRC_CzasMAXMinP = @CRC_CzasMAXMinP * 60 end
	else if @CRC_CzasMAXTypP = 2
	begin set @CRC_CzasMAXMinP = (@CRC_CzasMAXMinP * 60)*24 end	
	
	if @CRC_CzasOPTITypP = 1
	begin set @CRC_CzasOPTIMinP = @CRC_CzasOPTIMinP * 60 end
	else if @CRC_CzasOPTITypP = 2
	begin set @CRC_CzasOPTIMinP = (@CRC_CzasOPTIMinP * 60)*24 end		
	
		
	if @CRC_CzasMinTypP = 1
	begin set @CRC_CzasMinMinP = @CRC_CzasMinMinP * 60 end
	else if @CRC_CzasMinTypP = 2
	begin set @CRC_CzasMinMinP = (@CRC_CzasMinMinP * 60)*24 end	
	
	
	
	if not exists(select CRC_ID from dbo.CtiTwrCzasy 
	where CRC_TwrId = @TwrId)
	begin
		insert into dbo.CtiTwrCzasy
		(CRC_TwrId, CRC_CzasMAXMin, CRC_CzasMAXTyp, CRC_KosztMAX, CRC_CzasOPTIMin, CRC_CzasOPTITyp, CRC_KosztOPTI, CRC_CzasMinMin, 
        CRC_CzasMinTyp, CRC_KosztMin, CRC_CzasMAXMinP, CRC_CzasMAXTypP, CRC_KosztMAXP, CRC_CzasOPTIMinP, CRC_CzasOPTITypP, CRC_KosztOPTIP, 
        CRC_CzasMinMinP, CRC_CzasMinTypP, CRC_KosztMinP, CRC_OpisMAX, CRC_OpisMin, CRC_OpisOPTI)
		values
		(@TwrId, @CRC_CzasMAXMin, @CRC_CzasMAXTyp, @CRC_KosztMAX, @CRC_CzasOPTIMin, @CRC_CzasOPTITyp, @CRC_KosztOPTI, @CRC_CzasMinMin, 
        @CRC_CzasMinTyp, @CRC_KosztMin, @CRC_CzasMAXMinP, @CRC_CzasMAXTypP, @CRC_KosztMAXP, @CRC_CzasOPTIMinP, @CRC_CzasOPTITypP, @CRC_KosztOPTIP, 
        @CRC_CzasMinMinP, @CRC_CzasMinTypP, @CRC_KosztMinP, @CRC_OpisMAX, @CRC_OpisMin, @CRC_OpisOPTI)
	end
	else
	begin
		update dbo.CtiTwrCzasy set CRC_CzasMAXMin=@CRC_CzasMAXMin, CRC_CzasMAXTyp=@CRC_CzasMAXTyp, CRC_KosztMAX=@CRC_KosztMAX
		,CRC_CzasOPTIMin=@CRC_CzasOPTIMin, CRC_CzasOPTITyp=@CRC_CzasOPTITyp, CRC_KosztOPTI=@CRC_KosztOPTI, CRC_CzasMinMin=@CRC_CzasMinMin 
        ,CRC_CzasMinTyp=@CRC_CzasMinTyp, CRC_KosztMin=@CRC_KosztMin, CRC_CzasMAXMinP=@CRC_CzasMAXMinP, CRC_CzasMAXTypP=@CRC_CzasMAXTypP
        ,CRC_KosztMAXP=@CRC_KosztMAXP, CRC_CzasOPTIMinP=@CRC_CzasOPTIMinP, CRC_CzasOPTITypP=@CRC_CzasOPTITypP, CRC_KosztOPTIP=@CRC_KosztOPTIP
        ,CRC_CzasMinMinP=@CRC_CzasMinMinP, CRC_CzasMinTypP=@CRC_CzasMinTypP, CRC_KosztMinP=@CRC_KosztMinP, CRC_OpisMAX=@CRC_OpisMAX, CRC_OpisMin=@CRC_OpisMin, CRC_OpisOPTI=@CRC_OpisOPTI
		where CRC_TwrId = @TwrId
	end	
END
GO

# [dbo].[CtiProdukcjaTwrDst]

In [0]:
/****** Object:  StoredProcedure [dbo].[CtiProdukcjaTwrDst]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CtiProdukcjaTwrDst]
 @TwrID INT,
 @Typ INT, --312 --MM 303 --PW --304 RW 
 @dataOd varchar(20),
 @dataDo varchar(20),
 @prmWszystkie int
AS
declare @cechaKod varchar(40) = '' SELECT  @cechaKod = KNF_Wartosc FROM  CtiKonfiguracja where KNF_Numer = 5
declare @cechaId int = -1 select @cechaId = DeA_DeAId from CDN.DefAtrybuty where DeA_Kod = @cechaKod

select ID
		, Dokument
		, MagZrd, MagDoc
		, TsD_Ilosc as Ilosc
		, dbo.CtiProdukcjaPobierzCecheDostawy(tsd_tsdid, 1) as NrDostawy
		, ISNULL(TsD_NumerPelny,'') as DokumentDostawy
		, DokumentPW
		, DokumentRW
		, DokumentZlecenia
		, @cechaKod as CechaKod 
		, Data 
from
(
	select a.trn_trnid as ID
		, a.trn_numerPelny as Dokument
		, ISNULL(d.Mag_Symbol,'') as MagZrd, ISNULL(c.Mag_Symbol,'') as MagDoc
		, ISNULL(f.trn_numerPelny,'') as DokumentPW
		, ISNULL(h.trn_numerPelny,'') as DokumentRW
		, ISNULL(CZN_NrPelny,'') as DokumentZlecenia
		, a.trn_datawys as Data
		, TrE_TrEID
	from cdn.traelem 
		INNER JOIN cdn.tranag a on a.trn_trnid = tre_trnid
		LEFT JOIN cdn.Magazyny c on a.trn_MagDocId = c.Mag_MagId
		LEFT JOIN cdn.Magazyny d on a.trn_MagZrdId = d.Mag_MagId
		LEFT JOIN dbo.CtiZlecenieDok on CZD_TrnId = a.trn_TrNID
		LEFT JOIN dbo.CtiZlecenieNag ON CZD_CZNId = CZN_ID
		LEFT JOIN dbo.CtiMontazDok e ON a.trn_typDokumentu = 304 and a.trn_trnid = e.CMD_RWId
		LEFT JOIN cdn.tranag f on f.trn_trnid = ISNULL(e.CMD_PWId,0)
		LEFT JOIN dbo.CtiMontazDok g ON a.trn_typDokumentu = 303 and a.trn_trnid = g.CMD_PWId
		LEFT JOIN cdn.tranag h on h.trn_trnid = ISNULL(g.CMD_RWId,0)
	where TrE_TwrId = @TwrID and a.trn_typDokumentu = @typ and
		 (
				(ISNULL(@prmWszystkie,0) =0) 
				or
				(@prmWszystkie =1 and CONVERT(VARCHAR, ISNULL(a.trn_datawys, GETDATE()), 23)  BETWEEN CONVERT(VARCHAR, @dataOd, 23) AND CONVERT(VARCHAR, @dataDo, 23))
			)

) a 
		LEFT JOIN cdn.TraSElemDost on TrE_TrEID = TsD_TrEID
		where cast(TsD_Ilosc as int) > 0
		order by Data
GO

# [dbo].[CTIProdukcjaUpdateStatusyZP]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaUpdateStatusyZP]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	Funkcja ustawia status przekazany w typie dla wskazanego zlecenia
	Id - id zlecenia prostego
	Typ:
	0 - Wszytkie
	2 - Zlecenia ZP
	6 - Przeliczanie ilości zrealizowanej i update do tabeli CtiProdukcjaStatus
	23 - MM Wydanie do produkcji
	24 - Produkcja PW
	26 - MM Kontrola
*/

CREATE PROCEDURE [dbo].[CTIProdukcjaUpdateStatusyZP] (@typ INT, @id INT) 
AS 
 BEGIN 
	set nocount on;
	DECLARE @status int = 0

/* Status zlecenia
	Zwracane wartości:
	0 - Bufor
	1 - Potwierdzone
	2 - W realizacji
	3 - Zamknięte
	4 - (?)
*/
	IF	@typ = 2 OR @typ = 0
	BEGIN 

		EXEC dbo.CTIProdukcjaUpdateStatusyZP 6, @id

		SELECT @status = CZN_Status FROM CtiZlecenieNag WHERE CZN_Id = @id
		IF @status not in (0, 3, 4)
		BEGIN
			DECLARE @automatycznyStatusZP INT = (SELECT CAST(ISNULL(KNF_Wartosc,1) AS INT) FROM dbo.CtiKonfiguracja WHERE KNF_Numer = 64 AND ISNULL(KNF_Wartosc,'') <> '')
			DECLARE @MM INT = (SELECT CAST(ISNULL(KNF_Wartosc,1) AS INT) FROM dbo.CtiKonfiguracja WHERE KNF_Numer=63 AND ISNULL(KNF_Wartosc,'') <> '')
			IF @automatycznyStatusZP = 1 -- Czy włączony automatyczne blokowanie ZP
			BEGIN 
				IF dbo.CTIProdukcjaStatusy(26,@id) = 2 --Czy wszystko jest skontrolowane
					BEGIN SET @status = 3 END
				ELSE IF (SELECT TOP 1 IloscZrealizowana FROM dbo.CtiProdukcjaStatus WHERE CPS_DokID = @id AND CPS_DokTyp = 2) >= ISNULL((SELECT TOP 1 czn_ilosc FROM dbo.CtiZlecenieNag WHERE czn_id = @id), 0)
				AND @MM <> 1
				-- Czy zlecenie w 100% zrealizowane
					BEGIN SET @status = 3 END 
				ELSE IF EXISTS (
					SELECT * FROM dbo.CtiZlecenieDok
					JOIN cdn.TraNag ON CZD_TrnId = TrN_TrNID
					WHERE trn_bufor >= 0 AND czd_cznid = @id
					) 
					-- Czy istnieje dokument w buforze powiązany ze zleceniem
					BEGIN SET @status = 2 END
				ELSE
					BEGIN SET @status = 1 END
			END
		END
		UPDATE dbo.CtiZlecenieNag SET CZN_Status = @status WHERE CZN_ID = @id

		UPDATE dbo.CtiTechnolNag SET CTN_DodatkowyStatus = 2 where CTN_ID = (SELECT TOP 1 CZN_CTNId FROM dbo.CtiZlecenieNag WHERE CZN_ID = @id)
		UPDATE dbo.CtiTechnolNag SET CTN_DodatkowyStatus = 3 WHERE CTN_ID = (SELECT TOP 1 CZN_CTNId FROM dbo.CtiZlecenieNag WHERE CZN_ID = @id AND CZN_Status in (1,2,3))
	END

/*Status Wydania
	Zwracane wartości:
	-1 - Nie mamy włączonego wydania
	0 - Nie ma dokumentu MM (Brak)
	1 - Wydano częściowo
	2 - Wydano wszystko
	3 - jest jakikolwiek dokument w bufORze
*/
	IF	@typ = 23 OR @typ = 0 
	BEGIN
		DECLARE @obslugaWydania INT = (SELECT cast(isnull(KNF_Wartosc,1) AS INT) FROM dbo.CtiKonfiguracja WHERE KNF_Numer = 62 AND ISNULL(KNF_Wartosc,'') <> '')
		IF @obslugaWydania = 1 
		BEGIN
				DECLARE @MMStatus INT = (SELECT top 1 TrN_Bufor FROM dbo.CtiZlecenieDok INNER JOIN cdn.TraNag ON CZD_TrnId = TrN_TrNID WHERE czd_typ = 3 AND CZD_CZNId = @id and TrN_Anulowany=0 order by TrN_Bufor desc)
				IF @MMStatus IS NULL -- Czy wygenerowano jakikolwiek dokument
					SET @status = 0
				ELSE 
				BEGIN
					IF @MMStatus = 1 -- Czy  jakikolwiek dokument jest w buforze
						SET @status = 3
					ELSE 
					BEGIN
						IF (select COUNT(CZE_ID) from dbo.ctizlecenieelem where cze_cznid=@id and cze_ilosc>0)=0
							SET @status = 2
						ELSE 
						BEGIN
							DECLARE @result DECIMAL(15,4);
							EXEC dbo.CTIProdukcjaCountShortageMMWyd @ZPid = @id, @resultStatus = @result OUTPUT;
							SET @status = @result;
						END
					END
				END
		END
		ELSE 
			BEGIN SET @status = -1 END
		UPDATE dbo.CtiProdukcjaStatus SET CPS_StatusMMWydane = @status, DataModyfikacji = GETDATE() WHERE CPS_DokID = @id AND CPS_DokTyp = 2
	END

/* Status Produkcji
	Zwracane wartości:
	0 - nic nie przyjęte (brak)
	1 - cokolwiek przyjęto (zrealizowane częściowo)
	2 - wszystko lub więcej przyjęte (zrealizowane)
	3 - (w realizacji)
*/
	IF @typ = 24 OR @typ = 0 
	BEGIN
		
		IF @typ <> 0
		BEGIN
			EXEC dbo.CTIProdukcjaUpdateStatusyZP 6, @id
		END

		DECLARE @sumaZrealizowanych DECIMAL(15,4) = 0
		DECLARE @iloscZamowiona DECIMAL(15,4) = ISNULL((SELECT TOP 1 CZN_Ilosc FROM dbo.CtiZlecenieNag WHERE CZN_Id = @id), 0)
		DECLARE @statusZP int = ISNULL((SELECT TOP 1 CZN_Status FROM dbo.CtiZlecenieNag WHERE CZN_Id = @id), 0)
		SET @sumaZrealizowanych = ISNULL((SELECT IloscZrealizowana FROM dbo.CtiProdukcjaStatus WHERE CPS_DokID = @id AND CPS_DokTyp = 2), 0)
		/* do wyciągania z tabelki */
		IF (@sumaZrealizowanych >= @iloscZamowiona)
			BEGIN SET @status = 2 END
		ELSE IF (@sumaZrealizowanych > 0)
			BEGIN SET @status = 1 END
		ELSE IF EXISTS (
			SELECT DISTINCT TrN_TrNID
		FROM dbo.CtiZlecenieDok
			INNER JOIN CDN.TraNag ON CZD_TrnId = TrN_TrNID 
		WHERE CZD_Typ = 4 
			AND ISNULL(CZD_Odpady, 0) = 0 --bez PW na odpady
			AND CZD_CZNId = @id
			AND TrN_TypDokumentu = 303
			AND TrN_Anulowany = 0)
			BEGIN SET @status = 3 END
		else
			BEGIN SET @status = 0 END
		UPDATE dbo.CtiProdukcjaStatus SET CPS_StatusPWWG = @status, DataModyfikacji = GETDATE() WHERE CPS_DokID = @id AND CPS_DokTyp = 2 
	END

/* Status Kontroli
	Zwracane wartości:
	-1 - brak obsługi
	0 - brak kontroli
	1 - wydano częściowo
	2 - wydano całkowicie
	3 - dokument MM w buforze
*/
	IF	@typ = 26 OR @typ = 0
	BEGIN
		DECLARE @obslugaKontroli int = (SELECT cast(isnull(KNF_Wartosc,1) as int) FROM dbo.CtiKonfiguracja WHERE KNF_Numer = 63 and isnull(KNF_Wartosc,'') <> '')
		IF @obslugaKontroli = 1 -- Czy mamy wałączone MM kontrola
		BEGIN
			DECLARE @Bufor int;
			DECLARE @sumaWydana DECIMAL(15,4);
			SELECT top 1 @Bufor = TrN_Bufor FROM dbo.CtiZlecenieDok INNER JOIN cdn.TraNag ON CZD_TrnId = TrN_TrNID
			WHERE czd_typ = 6 AND CZD_CZNId = @id and Trn_anulowany=0 order by TrN_Bufor desc
 
			IF @Bufor IS NULL --Czy istnieje jakikolwiek dokument czd_typ = 6
				BEGIN SET @status = 0 END
			ELSE 
			BEGIN
						
				IF @Bufor=1 --Czy istnieje dokument w buforze
					BEGIN SET @status = 3 END
				ELSE
				BEGIN
					SET @sumaWydana = (SELECT SUM(czd_ilosc) FROM dbo.CtiZlecenieDok INNER JOIN cdn.TraNag ON CZD_TrnId = TrN_TrNID
			WHERE czd_typ = 6 AND CZD_CZNId = @id and trn_bufOR = 0 and Trn_anulowany=0)
					DECLARE @sumaDoWydania DECIMAL(15,4) = (SELECT SUM(ISNULL(czn_ilosc,1)) FROM dbo.ctiZlecenieNag WHERE czn_id = @id)

					IF @sumaWydana >= @sumaDoWydania
						BEGIN 
							SET @status = 2 
							UPDATE dbo.CtiZlecenieNag SET CZN_Status = 3 WHERE CZN_ID = @id
						END --Wydano wszystkie pozycje
					ELSE
						BEGIN SET @status = 1 END--Wydano czesciowo
				END
			END
		END 
		ELSE 
			BEGIN SET @status = -1 END
		UPDATE dbo.CtiProdukcjaStatus SET CPS_StatusMMKontrola = @status, DataModyfikacji = GETDATE() WHERE CPS_DokID = @id AND CPS_DokTyp = 2
	END

	--Przeliczanie ilości dostępnej dla ZP
	IF @typ = 6
	BEGIN
		DECLARE @pracownik int = 0
		DECLARE @przeliczJM int = 0
				IF (@pracownik IS NULL or isnull(@pracownik,0) <= 0)	SET @pracownik = 0;
		ELSE IF ((SELECT TOP 1 KNF_Wartosc FROM dbo.CtiKonfiguracja WHERE KNF_Numer = 61) <> '2')
			SET @pracownik = 0;

		DECLARE @Ret decimal(15,4) = 0;
		DECLARE @idWyrobu int = 0;
		DECLARE @jmWyrobu varchar(25);

		SELECT TOP 1 @idWyrobu = CZN_TwrId, @jmWyrobu = CZN_TwrJM FROM dbo.CtiZlecenieNag WHERE CZN_ID = @id;

		DECLARE @pw TABLE (id int)
		INSERT INTO @pw (id)
		SELECT DISTINCT TrN_TrNID
		FROM dbo.CtiZlecenieDok
			INNER JOIN CDN.TraNag ON CZD_TrnId = TrN_TrNID 
		WHERE CZD_Typ = 4 
			AND ISNULL(CZD_Odpady, 0) = 0 --bez PW na odpady
			AND CZD_CZNId = @id
			AND TrN_TypDokumentu = 303
			AND TrN_Anulowany = 0
			AND ( @pracownik = 0 OR	CZD_PracownikId = @pracownik )
		GROUP BY TrN_TrNID

		DECLARE @IloscPw DECIMAL(15,4) = ISNULL((
			SELECT SUM(isnull(TrE_Ilosc,0)) 
			FROM CDN.TraElem
			WHERE TrE_TrNId in (SELECT id FROM @pw)
				AND TrE_TwrId = @idWyrobu
			), 0);


		DECLARE @IloscKorekty decimal(15,4) = ISNULL((
			SELECT SUM(isnull(TrE_Ilosc,0)) 
			FROM @pw
				INNER JOIN CDN.TraNag ON TrN_ZwrId = id
				INNER JOIN CDN.TraElem  ON TrE_TrNID = TrN_TrNID 
			WHERE TrN_TypDokumentu = 303 
				AND TrN_Anulowany = 0
				AND TrE_TwrId = @idWyrobu 
			), 0);
	
		SELECT  @Ret = @IloscPw + @IloscKorekty FROM @pw

		IF (@przeliczJM = 1)
		BEGIN
			SET @Ret =  isnull(@Ret,0) * ISNULL((
				SELECT TOP 1 TwJZ_JMPrzelicznikL / TwJZ_JMPrzelicznikM
				FROM CDN.TwrJMZ
				WHERE TwJZ_TwrID = @idWyrobu AND TwJZ_JM = @jmWyrobu
			), 1);
		END

	UPDATE dbo.CtiProdukcjaStatus SET IloscZrealizowana = isnull(@Ret,0), DataModyfikacji = GETDATE() WHERE CPS_DokID = @id AND CPS_DokTyp = 2

	END

	IF @typ=6 and (select KNF_Wartosc from dbo.CtiKonfiguracja where KNF_Numer=1142)=1
	BEGIN
		DECLARE @StatusID INT;
		DECLARE @TwrID INT;
		SELECT top 1 @StatusID = CZN_DokZwiazTreID, @TwrID=CZN_TwrId 
		FROM dbo.CtiZlecenieNag
		WHERE CZN_ID=@id AND CZN_DokZwiazTyp=308
		EXEC dbo.CTIProdukcjaUpdateStatusyZPProdukcja @StatusID, @TwrID
	END
 END 
GO

# [dbo].[CTIProdukcjaUpdateStatusyZPProdukcja]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaUpdateStatusyZPProdukcja]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	Funkcja wylicza status według zasad
	0 - "zaplanować produkcję" w momencie kiedy jest przynajmniej jedna pozycja która ma stan magazynowy mniejszy niż ilość na RO
	1 - "" - ilość zgodna
	2 - "zaplanowane częściowo" (czyli część poszła na ZP z RO)
	3 - "zaplanowane w całości" (zaplanowano wszystkie pozycje z RO)
	4 - "wyprodukowano częściowo" (jeżeli jest jakaś ilość na PW)
	5 - "wyprodukowano w całości" (PW na całość)
	Id - id RO
*/
CREATE PROCEDURE [dbo].[CTIProdukcjaUpdateStatusyZPProdukcja] (@treid INT, @twrid INT) 
AS 
 BEGIN 
	SET NOCOUNT ON;
	IF @treid IS NULL
	RETURN;
	DECLARE @RoEnum INT;
	DECLARE @RoKnf INT = ISNULL((select KNF_Wartosc from dbo.CtiKonfiguracja where KNF_Numer=1060),0);
	DECLARE @NewAmount DECIMAL(18,4);
	DECLARE @PW_a DECIMAL(18,4) = ISNULL((
        SELECT SUM(e.TrE_ilosc) 
        from dbo.CtiZlecenieNag
        INNER JOIN CtiZlecenieDok ON CZD_CZNId = CZN_ID
        INNER JOIN CDN.TraNag AS n ON CZD_TrnId = n.TrN_TrNID
        INNER JOIN CDN.TraElem AS e ON n.TrN_TrNID = e.TrE_TrNID AND e.TrE_TwrId = CZN_TwrId												
		WHERE CZD_Typ = 4 AND CZD_Odpady = 0 and n.trn_anulowany = 0 AND CZN_DokZwiazTyp = 308 and CZD_Uszkodzenia = 0
		AND CZN_DokZwiazTreID = @treid), 0);
	DECLARE @PW_kor DECIMAL(18,4) = ISNULL((
        SELECT SUM(e.TrE_ilosc) 
        from dbo.CtiZlecenieNag
        INNER JOIN CtiZlecenieDok ON CZD_CZNId = CZN_ID
        INNER JOIN CDN.TraNag AS n ON CZD_TrnId = n.TrN_TrNID
		INNER JOIN CDN.TraNag AS k ON n.TrN_TrNID = k.TrN_ZwrID
        INNER JOIN CDN.TraElem AS e ON k.TrN_TrNID = e.TrE_TrNID AND e.TrE_TwrId = CZN_TwrId												
		WHERE CZD_Typ = 4 AND CZD_Odpady = 0 and k.trn_anulowany = 0 AND CZN_DokZwiazTyp = 308 and CZD_Uszkodzenia = 0 and k.Trn_Rodzaj = 303001
		AND CZN_DokZwiazTreID = @treid), 0);
	WITH amount as
	(SELECT roeInner.TrE_TreId, SUM(ISNULL(zp.CZN_Ilosc, 0)) AS zp, SUM(ISNULL(zzp.CZZN_Ilosc, 0)) AS zpz
        FROM cdn.traelem roeInner 
        LEFT JOIN dbo.CtiZlecenieZNag zzp ON roeInner.tre_treid = zzp.CZZN_DokZwiazTreId AND zzp.CZZN_DokZwiazTyp = 308
        LEFT JOIN dbo.CtiZlecenieNag zp ON (zp.CZN_DokZwiazTyp = 308 AND zp.CZN_DokZwiazTreID = roeInner.tre_treid AND zzp.CZZN_ID IS NULL) 
            OR (zzp.CZZN_DokZwiazTyp = 308 AND CZN_CZZNIdGlowne = CZZN_ID AND zzp.CZZN_ID IS NOT NULL)
        where roeInner.Tre_treid = @treid
		GROUP BY roeInner.TrE_TreId
    ),   stock AS (
        SELECT SUM(main.twi_ilosc - main.twi_rezerwacje)/COUNT(*) AS available, @treid as treid
        FROM CDN.TwrIlosci main 
        JOIN cdn.traelem ON tre_twrid = main.TwI_TwrId and main.TwI_MagId = TrE_MagId 
        WHERE main.TwI_TwrId = @twrid and tre_treid=@treid											   
          AND main.TwI_Data = (
              SELECT MAX(inner_twi.TwI_Data) 
              FROM CDN.TwrIlosci AS inner_twi 
              WHERE inner_twi.Twi_TwrId = main.Twi_TwrId 
                AND inner_twi.TwI_MagId = main.TwI_MagId
          )	  
		group by tre_treid
    ),
	countStatus AS (
	select top 1
		CASE WHEN sum(ISNULL(roe.TrE_Ilosc,0))<=sum(ISNULL(a.zp, ISNULL(a.zpz,0))) and sum(ISNULL(roe.TrE_Ilosc,0))<=sum(@PW_a + @PW_kor) THEN 5
		WHEN @PW_a+@PW_kor>0 THEN 4
		WHEN sum(ISNULL(roe.TrE_Ilosc,0))<=sum(ISNULL(a.zp, ISNULL(a.zpz,0))) THEN 3
		WHEN sum(ISNULL(a.zp, ISNULL(a.zpz,0)))>0 THEN 2
		WHEN @RoKnf=0 OR (@RoKnf*ISNULL((SELECT available FROM stock WHERE roe.tre_treid=treid),0)-sum(ISNULL(roe.TrE_Ilosc,0))/count(*))>=0 THEN 1
		ELSE 0
		END as currentStatus, sum(ISNULL(roe.TrE_Ilosc,0))/count(*) as additionalAmount
		from cdn.traelem roe
        LEFT JOIN amount a ON roe.tre_treid = a.TrE_TreId
		where roe.Tre_TypDokumentu=308 and roe.tre_treid = @treid 
		group by roe.Tre_treid
		order by currentStatus asc
	)

	SELECT @RoEnum = currentStatus, @NewAmount= additionalAmount
	FROM countStatus 
	IF @RoEnum IS NULL
	BEGIN
		SET @RoEnum = 0;
	END	
	IF @NewAmount IS NULL
	BEGIN
		SET @NewAmount = 0;
	END

	MERGE dbo.CtiProdukcjaStatusROElem AS tgt
	USING (
		SELECT 
			@treid AS CPSRE_TreID
		WHERE EXISTS (
			SELECT 1 
			FROM [cdn].[TraElem] 
			WHERE [Tre_treid] = @treid
		)
	) AS src
	ON tgt.CPSRE_TreID = src.CPSRE_TreID
	WHEN MATCHED THEN
		UPDATE SET 
			CPSRE_Status = @RoEnum, 
			CPSRE_Amount = @NewAmount
	WHEN NOT MATCHED BY TARGET AND src.CPSRE_TreID IS NOT NULL THEN
		INSERT (CPSRE_TreID, CPSRE_Status, CPSRE_Amount)
		VALUES (src.CPSRE_TreID, @RoEnum, @NewAmount);
END
GO

# [dbo].[CTIProdukcjaWydanieElemList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaWydanieElemList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CTIProdukcjaWydanieElemList]   @id INT
AS

select 
	b.tre_treid as treid, a.TrE_TrNId as TrNId,a.TrE_TwrKod as TwrKod, replace(a.TrE_TwrNazwa,char(10), ' ')as TwrNazwa
		, 

	CASE WHEN CZD_Typ = 6 THEN
	COALESCE ( CZD_Ilosc, 0 ) 
	ELSE
	COALESCE( sum(cze_ilosc) , 0 ) 
	END

	as IloscZlecenie 
	,sum(a.TrE_Ilosc) as Ilosc
	, case ISNULL(twa_deaid,0) when 0 then sum(a.TrE_Ilosc) else sum(a.iloscDostawa) end  as iloscDostawa
	, TrE_Jm AS jm ,case ISNULL(twa_deaid,0) when 0 then 2 else 1 end  as TYP
	, case ISNULL(twa_deaid,0) when 0 then 'surowiec' else 'surowiec z cechą' end  as TypNazwa
	, Twr_EAN as EAN, twr_twrid as twrid 
from 
	(
		select TrE_TrNId,TrE_TwrId,TrE_TwrKod,TrE_TwrNazwa,cast(TrE_Ilosc as decimal(15,4)) as TrE_Ilosc,
		cast(ISNULL(sum(TsD_Ilosc),0)as decimal(15,4))  as iloscDostawa 
		from cdn.traelem LEFT JOIN cdn.TraSElemDost on TrE_TrEID = TsD_TrEID
		where TrE_TrNId = @id group by TrE_TrEID,TrE_TrNId,TrE_TwrKod,TrE_TwrNazwa,TrE_Ilosc,TrE_TwrId
	) a
	INNER JOIN dbo.CtiZlecenieDok on  a.tre_trnid =CZD_TrnId
	INNER JOIN cdn.TraElem b on b.TrE_TrNId = CZD_TrnId and a.TrE_TwrId = b.TrE_TwrId
	LEFT JOIN dbo.CtiZlecenieElem on CZD_CZNId = CZE_CZNId AND CZE_TwrId = b.TrE_TwrId
	INNER JOIN cdn.towary on a.TrE_TwrId = twr_twrid
	LEFT JOIN CDN.TwrAtrybuty on TwA_TwrID = a.TrE_TwrId and TwA_DeAId = 
	( 
		select DISTINCT TwA_DeAId
		from cdn.twratrybuty
		INNER JOIN cdn.defatrybuty on TwA_DeAId = DeA_DeAId
		INNER JOIN dbo.CtiKonfiguracja on KNF_Numer = 5 and DeA_Kod = KNF_Wartosc 
		where  TwA_CzyPrzenosicNaDostawy = 1 
	)
where a.tre_trnid = @id
group by a.TrE_TrNId,a.TrE_TwrKod,a.TrE_TwrNazwa,a.TrE_TwrId,b.tre_treid,TrE_Jm,ISNULL(twa_deaid,0),Twr_EAN,twr_twrid, czd_typ, czd_ilosc
order by a.TrE_TwrKod
GO

# [dbo].[CTIProdukcjaWykorzystaneDostawyList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaWykorzystaneDostawyList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CTIProdukcjaWykorzystaneDostawyList]   @id INT
AS

select TwrId, TwrKod,DostId,NumerPelny,sum(case when iloscDostawa> 0 then iloscDostawa else 0 end) as iloscDostawa,tsd_wartosc
    , DeAId = Cecha1DeAId,CechaWartosc,cecha= Cecha1Kod,JM,CechaWartoscWidok, Cecha2Wartosc, DostData, TsD_TsDID
from 
(
        select TraElemG.TrE_TwrId as TwrId, TraElemG.TrE_TwrKod as TwrKod
            , case when ISNULL(TsD_TrSIdDost,0) = 0 then  ISNULL(TraSElemG.TrS_trsiddost,0) else ISNULL(TsD_TrSIdDost,0) end as DostId
            , case when ISNULL(TsD_NumerPelny,'') = '' then ISNULL(TraNagDST.TrN_NumerPelny,'') else ISNULL(TsD_NumerPelny,'') end as NumerPelny
            --,cast(ISNULL(TsD_Ilosc,TraElemG.TrE_ilosc) as decimal(15,4)) as iloscDostawa
            , cast(ISNULL(TsD_Ilosc,ISNULL(TraSElemG.TrS_ilosc,0)) as decimal(15,4))  as iloscDostawa
            , ISNULL(tsd_wartosc,0) as tsd_wartosc

            , ISNULL(TsD_Cecha1_DeAId,0) as Cecha1DeAId, ISNULL(TsD_Cecha1_Kod,'') as Cecha1Kod 
            , dbo.CtiProdukcjaPobierzCecheDostawy(tsd_tsdid, 1) as CechaWartosc
            , TraElemG.TrE_JM as JM
            , dbo.CtiProdukcjaPobierzCecheDostawy(tsd_tsdid, 1) as CechaWartoscWidok
            , dbo.CtiProdukcjaPobierzCecheDostawy(tsd_tsdid, 2) as Cecha2Wartosc
            ,  ISNULL(trn_dataOpe,'') as DostData
            , tsd_tsdid
        from cdn.TraElem as TraElemG 
            --jest cecha
            LEFT JOIN cdn.TraSElemDost on TraElemG.TrE_TrEID = ISNULL(TsD_TrEID,0)
            LEFT JOIN cdn.TraSElem as TraSElemG on ISNULL(TraElemG.TrE_TrEId,0)  = ISNULL(TraSElemG.TrS_TrEId,0)
            --nie ma cechy
            LEFT JOIN  cdn.TraSElem as TraSElemDST ON ISNULL(TraSElemDST.trs_trsid,0) = ISNULL(TraSElemG.TrS_trsiddost,0)
            LEFT JOIN  cdn.TraElem as TraElemDST ON  ISNULL(TraElemDST.TrE_TrEId,0) = ISNULL(TraSElemDST.TrS_TrEId,0)
            LEFT JOIN  cdn.TraNag as TraNagDST ON ISNULL(TraNagDST.TrN_TrNId,0) = ISNULL(TraElemDST.TrE_TrNId,0) 
        where TraElemG.TrE_trnid = @id
        group by TraElemG.TrE_TwrId,TraElemG.TrE_TwrKod,TraElemG.TrE_JM--dane towaru
            , ISNULL(TsD_TrSIdDost,0),ISNULL(TraSElemG.TrS_trsiddost,0),ISNULL(TsD_TrSIdDost,ISNULL(TraSElemG.TrS_trsiddost,0))--id dostawy
            , ISNULL(TsD_NumerPelny,''),ISNULL(TraNagDST.TrN_NumerPelny,''),ISNULL(TraNagDST.TrN_NumerPelny,ISNULL(TsD_NumerPelny,'')) --numer dokumentu
            , ISNULL(TsD_Ilosc,ISNULL(TraSElemG.TrS_ilosc,0)) --ilość
            , ISNULL(tsd_wartosc,0)--cena
            , ISNULL(TsD_Cecha1_DeAId,0), ISNULL(TsD_Cecha1_Kod,'') ,ISNULL(TsD_Cecha1_Wartosc,'') --cecha
            , ISNULL(TsD_cecha1_format,0),ISNULL(TsD_cecha1_Wartosc,0), ISNULL(TsD_Cecha2_Wartosc,'') 
            , ISNULL(trn_dataOpe,'')
            , tsd_tsdid
    union 

        select TrE_TwrId as TwrId, TrE_TwrKod as TwrKod,TsD_TrSIdDost as DostId, TsD_NumerPelny as NumerPelny
            , cast(TsD_Ilosc as  decimal(15,4)) as iloscDostawa,tsd_wartosc
            , ISNULL(TsD_Cecha1_DeAId,0) as Cecha1DeAId, ISNULL(TsD_Cecha1_Kod,'') as Cecha1Kod,ISNULL(TsD_Cecha1_Wartosc,'') as CechaWartosc
            , tre_JM as JM
            , case when ISNULL(TsD_cecha1_format,0) = 4 then CONVERT(VARCHAR, dbo.CtiProdukcjaTSToDate(ISNULL(TsD_cecha1_Wartosc,0),0), 23)
                else ISNULL(TsD_cecha1_Wartosc,'') end as CechaWartoscWidok
            , Cecha2Wartosc = ISNULL(TsD_Cecha2_Wartosc,'') 
            , ISNULL(trn_dataOpe,'') as DostData
            , tsd_tsdid
        from cdn.tranag INNER JOIN cdn.TraElem on TrN_TrNID = TrE_TrNId
            LEFT JOIN cdn.TraSElemDost on TrE_TrEID = TsD_TrEID
        where TrN_Bufor = 0 and TrN_DDfId = 24 and TrN_ZwrId = @id 
) a
group by TwrId, TwrKod,DostId,NumerPelny,tsd_wartosc,Cecha1DeAId, Cecha1Kod,CechaWartosc,JM,CechaWartoscWidok,Cecha2Wartosc,DostData,tsd_tsdid
having sum(case when iloscDostawa> 0 then iloscDostawa else 0 end) <> 0
order by DostId ,TwrKod asc
GO

# [dbo].[CTIProdukcjaWyslijDoMaszyny]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaWyslijDoMaszyny]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[CTIProdukcjaWyslijDoMaszyny]   
 @ZPid int

AS 

declare @nrzbiornika varchar(100)
SELECT  top 1 @nrzbiornika=CAE_Wartosc 	FROM dbo.CtiAtrybutyElem inner join  dbo.CtiAtrybutyElemHist on isnull(CAE_CAHid,0) = CAH_ID where CAH_Nazwa='Kontrahent' and (CAE_TypDok = 2 and CAE_IdDok = @ZPid) 

INSERT INTO dbo.CtiMaszyna
	(  Mas_DokID,Mas_DokElemID, Mas_DokNumer, Mas_Ilosc, Mas_KodSurowca, Mas_NazwaSurowca,  Mas_NRZbiornika, Mas_AtrSurowca, Mas_Status) 
	select czn_id,cze_id,czn_nrpelny,CZE_Ilosc,CZE_TwrKod,Twr_Nazwa,coalesce(@nrzbiornika,''),'',0
	from dbo.CtiZlecenieNag 
	join dbo.CtiZlecenieElem on cze_typ in (1,2) and cze_cznid=czn_id
	left outer join cdn.towary on twr_twrid = CZE_TwrId
	left outer join dbo.CtiMaszyna on czn_id=Mas_DokID and CZE_ID=Mas_DokElemID
	where czn_id = @ZPid and mas_id is null

INSERT INTO dbo.CtiMaszynaZasoby
	( Maz_CZNID, Maz_CZSID, Maz_CzasZadany) 
select CZS_CTNID,CZS_ID,CZS_CzasPracy*CZN_Ilosc*60 from [dbo].[CtiZasobDok] 
join CtiZlecenieNag on CZN_ID=CZS_CTNID
	left outer join dbo.CtiMaszynaZasoby on Maz_CZSID=CZS_ID
	where CZS_CTNID = @ZPid and CZS_DokTyp = 2 and Maz_ID is null
GO

# [dbo].[CTIProdukcjaZasobAddEdit]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZasobAddEdit]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZasobAddEdit]
   @idZasobu int output
 , @idGrpZasobu int
 , @kodZasobu varchar(50)
 , @CzasPracy decimal(15, 4)
 , @CzasUzbrojenia decimal(15, 4)
 , @CzasRozbrojenia decimal(15, 4)
 , @KosztPracy decimal(15, 4)
 , @KosztUzbrojenia decimal(15, 4)
 , @KosztRozbrojenia decimal(15,4)
 , @JMCzasu int
 , @kontrolaDostepu int
 , @dzielnik decimal(15, 4)
 , @Ilosc decimal(15, 4)
 , @Typ int
 , @DostepOd varchar(20)
 , @DostepDo varchar(20)
 , @RejestracjaCzasuPracy int
 , @PlanowanieCzasuPracy int
 , @WykrywanieKonfliktow int = 0
 , @PrzeliczanieCzasu int = 0
 , @ZwiekszajCzas int = 0
 , @ZmniejszajCzas int = 0
 , @CzasPlanowany decimal(15,4) = 0
 , @WieleOsob int = 1
 , @KolorA int = 255
 , @KolorR int = 255
 , @KolorG int = 193
 , @KolorB int = 8
 , @JednaRealizacja int = 0
 , @DzialID int = null
 , @RozbijanieCzasuZPZ int = 0
 , @IloscDomyslna int = 0
AS
BEGIN

declare	@DostepnyOd datetime set @DostepnyOd = convert(datetime, @DostepOd,120)
declare	@DostepnyDo datetime set @DostepnyDo = convert(datetime, @DostepDo,120)


	if(@dzielnik=0) set @dzielnik = NULL;

	if(@idZasobu=0)
	begin
		INSERT INTO dbo.CtiZasob (CZ_CZGID, CZ_Kod, CZ_JMCzasu, CZ_CzasPracy, CZ_CzasUzbrojenia, 
		CZ_CzasRozbrojenia, CZ_KosztPracy, CZ_KosztUzbrojenia, CZ_KosztRozbrojenia,CZ_KontrolaDostepnosci, Cz_Dzielnik
		, CZ_Ilosc, CZ_Typ, CZ_DostepnyOd, CZ_DostepnyDo, CZ_RejestracjaCzasuPracy, CZ_PlanowanieCzasuPracy, CZ_WykrywajKonflikty, CZ_PrzeliczanieCzasu, CZ_ZwiekszajCzas, CZ_ZmniejszajCzas, CZ_CzasPlanowany, CZ_WieleOsob
		, CZ_KolorA, CZ_KolorR, CZ_KolorG, CZ_KolorB, CZ_JednaRealizacja, CZ_DzialID, CZ_RozbijanieCzasuZPZ, CZ_IloscDomyslna)
		values
		(@idGrpZasobu,@kodZasobu,@JMCzasu,@CzasPracy,@CzasUzbrojenia,
		@CzasRozbrojenia,@KosztPracy,@KosztUzbrojenia,@KosztRozbrojenia,@kontrolaDostepu,@dzielnik
		,@Ilosc, @Typ, @DostepnyOd, @DostepnyDo,@RejestracjaCzasuPracy, @PlanowanieCzasuPracy, @WykrywanieKonfliktow, @PrzeliczanieCzasu, @ZwiekszajCzas, @ZmniejszajCzas, @CzasPlanowany, @WieleOsob
		, @KolorA, @KolorR, @KolorG, @KolorB, @JednaRealizacja, isnull(@DzialID, 0), @RozbijanieCzasuZPZ, @IloscDomyslna
		)
		Select @idZasobu = SCOPE_IDENTITY()
	end
	else
	begin
		Update dbo.CtiZasob SET
		CZ_CZGID = @idGrpZasobu,
		CZ_Kod = @kodZasobu,
		CZ_JMCzasu = @JMCzasu,
		CZ_CzasPracy = @CzasPracy,
		CZ_CzasUzbrojenia = @CzasUzbrojenia, 
		CZ_CzasRozbrojenia = @CzasRozbrojenia, 
		CZ_KosztPracy = @KosztPracy, 
		CZ_KosztUzbrojenia = @KosztUzbrojenia, 
		CZ_KosztRozbrojenia = @KosztRozbrojenia,
		CZ_KontrolaDostepnosci = @kontrolaDostepu,
		Cz_Dzielnik = @dzielnik,
		CZ_Ilosc = @Ilosc,
		CZ_Typ = @Typ,
		CZ_DostepnyOd = @DostepnyOd, 
		CZ_DostepnyDo = @DostepnyDo,
		CZ_RejestracjaCzasuPracy = @RejestracjaCzasuPracy,
		CZ_PlanowanieCzasuPracy = @PlanowanieCzasuPracy,
		CZ_WykrywajKonflikty = @WykrywanieKonfliktow,
		CZ_PrzeliczanieCzasu = @PrzeliczanieCzasu,
		CZ_ZwiekszajCzas = @ZwiekszajCzas,
		CZ_ZmniejszajCzas = @ZmniejszajCzas,
		CZ_CzasPlanowany = @CzasPlanowany,
		CZ_WieleOsob = @WieleOsob,
		CZ_KolorA = @KolorA,
		CZ_KolorR = @KolorR,
		CZ_KolorG = @KolorG,
		CZ_KolorB = @KolorB,
		CZ_JednaRealizacja = @JednaRealizacja,
		CZ_DzialID = 0, --zmiana 07.07.2022 dzialow moze byc wiele, zapisujemy w tabeli dbo.CtiZasobDzialy
		CZ_RozbijanieCzasuZPZ = @RozbijanieCzasuZPZ,
		CZ_IloscDomyslna = @IloscDomyslna
		where CZ_ID = @idZasobu
	end

	select @idZasobu as ID
END
GO

# [dbo].[CTIProdukcjaZasobDel]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZasobDel]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CTIProdukcjaZasobDel]
@idZasob int
AS
Begin
	BEGIN TRY

		BEGIN TRAN TRANCtiZasob
		DELETE FROM  dbo.CtiZasobDostepny where  ZsD_CZID = @idZasob
		DELETE FROM  dbo.CtiZasob where  CZ_ID = @idZasob
		DELETE FROM  dbo.CtiZalaczniki WHERE CZAL_DokTyp = 3 AND CZAL_DokId = @idZasob
		COMMIT TRAN TRANCtiZasob

	END TRY
	BEGIN CATCH

	   ROLLBACK TRAN TRANCtiZasob

	   DECLARE @Message varchar(MAX) = ERROR_MESSAGE(),
        @Severity int = ERROR_SEVERITY(),
        @State smallint = ERROR_STATE();

	   RAISERROR(@Message, @Severity, @State);

	END CATCH
END



GO

# [dbo].[CTIProdukcjaZasobDokAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZasobDokAdd]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZasobDokAdd]
  @DokId					int --ID technologii / zlecenia
, @idZasobu					int --Z tabeli dbo.CtiZasob
, @LogujacyId				int --ID operatora
, @DokTyp					int --1 = TH, 2 = ZP
, @idElementu				INT OUTPUT --Zwracane ID
, @CzasPracy				DECIMAL(15,4) = NULL
, @CzasUzbrojenia			DECIMAL(15,4) = NULL
, @CzasRozbrojenia			DECIMAL(15,4) = NULL
, @KosztPracy				DECIMAL(15,4) = NULL
, @KosztUzbrojenia			DECIMAL(15,4) = NULL
, @KosztRozbrojenia			DECIMAL(15,4) = NULL
, @Ilosc					DECIMAL(15,4) = NULL
, @Dzielnik					DECIMAL(15,4) = NULL
, @JMCzasu					int = NULL
, @PlanowanieCzasuPracy		int = NULL
, @BlokadaPW				int = NULL
, @BlokadaRW				int = NULL
, @CzasPlanowany			DECIMAL(15,4) = NULL
, @WieleOsob				int = NULL
AS
BEGIN

	if (@DokTyp = 1)
		UPDATE dbo.CtiTechnolNag SET CTN_OperModyf =@LogujacyId, CTN_DataModyf = GETDATE() from dbo.CtiTechnolNag WHERE CTN_ID =@DokId and @DokTyp = 1
	else
		UPDATE dbo.CtiZlecenieNag SET CZN_OperModyf = @LogujacyId, CZN_DataModyf = GETDATE() from dbo.CtiZlecenieNag WHERE CZN_ID =@DokId and @DokTyp = 2

	insert into dbo.CtiZasobDok
	(CZS_CZID, CZS_CZGID, CZS_CTNID, CZS_Kod, CZS_JMCzasu, CZS_CzasPracy,CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, CZS_Ilosc
	, CZS_KosztPracy , CZS_KosztUzbrojenia, CZS_KosztRozbrojenia, CZS_PlanowanieCzasuPracy, 

CZS_DokTyp, CZS_PwBlokada, CZS_RwBlokada, CZS_Dzielnik, CZS_CzasPlanowany, CZS_WieleOsob, CZS_Lp)
	SELECT CZ_ID, CZ_CZGID, @DokId, CZ_Kod, ISNULL(@JMCzasu, CZ_JMCzasu), ISNULL(@CzasPracy, CZ_CzasPracy), ISNULL(@CzasUzbrojenia, CZ_CzasUzbrojenia), ISNULL(@CzasRozbrojenia, CZ_CzasRozbrojenia), ISNULL(@Ilosc, CZ_IloscDomyslna)
	, ISNULL(@KosztPracy, CZ_KosztPracy), ISNULL(@KosztUzbrojenia, CZ_KosztUzbrojenia), ISNULL(@KosztRozbrojenia, CZ_KosztRozbrojenia), ISNULL(@PlanowanieCzasuPracy, CZ_PlanowanieCzasuPracy), 

@DokTyp, ISNULL(@BlokadaPW, 0), ISNULL(@BlokadaRW, 0), COALESCE(@Dzielnik, CZ_Dzielnik, 0), isnull(@CzasPlanowany, CZ_CzasPlanowany), isnull(@WieleOsob, CZ_WieleOsob), isnull((select max(isnull(CZS_Lp,0))+1 
	from dbo.CtiZasobDok where  CZS_DokTyp=@DokTyp and CZS_CTNID=@DokId),1)
	FROM dbo.CtiZasob where CZ_ID = @idZasobu


	SET @idElementu = SCOPE_IDENTITY() 
	if (@DokTyp = 2) --ZP
	begin
		declare @czasStart datetime = ISNULL((SELECT TOP 1 CZN_CzasStart FROM dbo.CtiZlecenieNag WHERE CZN_ID = @DokId), GETDATE());
		declare @iloscZp int = ISNULL((SELECT TOP 1 CZN_Ilosc FROM dbo.CtiZlecenieNag WHERE CZN_ID = @DokId), 1);
		declare @DzielnikFinal int = COALESCE(@Dzielnik, (SELECT TOP 1 CZ_Dzielnik FROM dbo.CtiZasob WHERE CZ_ID = @idZasobu), 0);
		declare @WieleOsobFinal int = COALESCE(@WieleOsob, (SELECT TOP 1 CZ_WieleOsob FROM dbo.CtiZasob WHERE CZ_ID = @idZasobu), 1);

		UPDATE dbo.CtiZasobDok SET CZS_CzasStart = @czasStart, CZS_WieleOsob = @WieleOsobFinal,
		CZS_CzasEnd = dbo.CTIProdukcjaZPZasobDataEnd(@idZasobu, @czasStart, dbo.CTIProdukcjaZPZasobCzasCalkowity(CZS_CzasPracy, CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, @iloscZp, COALESCE(@DzielnikFinal,@iloscZp,0), CZS_JMCzasu, CZS_ID)) 
		WHERE CZS_ID = @idElementu;
	end

END


GO

# [dbo].[CTIProdukcjaZasobDokDel]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZasobDokDel]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CTIProdukcjaZasobDokDel]
@idZasob int
AS
Begin
	declare @DokId  int = 0
	declare @DokTyp int = 0
	select @DokId=CZS_CTNID, @DokTyp=CZS_DokTyp from dbo.CtiZasobDok where  CZS_ID = @idZasob
	 DELETE FROM  dbo.CtiZasobDok where  CZS_ID = @idZasob
	DELETE FROM dbo.CtiZalaczniki WHERE CZAL_DokTyp = 4 AND CZAL_DokId = @idZasob

	 --przenumerowanie
	 update dbo.CtiZasobDok Set CZS_Lp= lp from--20170810
		(	select ROW_NUMBER() OVER (PARTITION BY CZS_DokTyp, CZS_CTNID ORDER BY  isnull(CZS_Lp,0),CZS_ID) as Lp, CZS_ID as Id from  dbo.CtiZasobDok  
			where @DokId=CZS_CTNID and @DokTyp=CZS_DokTyp
		) a where CZS_ID=Id


END
GO

# [dbo].[CTIProdukcjaZasobDokEdit]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZasobDokEdit]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CTIProdukcjaZasobDokEdit]
   @DokTyp int
 , @DokId int--TechnologiiZlecenia
 , @idElementu int
 , @LogujacyId int
 , @CzasPracy decimal(15, 4)
 , @CzasUzbrojenia decimal(15, 4)
 , @CzasRozbrojenia decimal(15, 4)
 , @KosztPracy decimal(15, 4)
 , @KosztUzbrojenia decimal(15, 4)
 , @KosztRozbrojenia decimal(15, 4)
 , @JMCzasu int
 , @idZasobu int output
 , @ilosc decimal(15, 4)
 , @CzasCalkowity decimal(15, 4)
 , @BlokadaPw int
 , @BlokadaRw int
 , @datStart varchar(23)
 , @datEnd varchar(23)
 , @opis nvarchar(4000)
 , @prcId int
 , @lp int = null
 , @dzielnik decimal(15,4) = null
 , @PlanowanieCzasuPracy int = null
 , @CzasPlanowany decimal(15,4) = null
 , @WieleOsob int = null
 , @zasobPrcId int = null
 , @PWOdpad int = null
 , @RealizacjaCalkowita int = null
AS
BEGIN
declare @czasStart datetime 
declare @czasEnd datetime	


	if(@lp <= 0)
		set @lp = null;

	if(@idElementu=0) begin	exec dbo.CTIProdukcjaZasobDokAdd @DokId, @idZasobu, @LogujacyId, @DokTyp, @idElementu OUTPUT end

	if (@DokTyp = 2)--ZP
	begin
		if isnull(@datStart,'') = ''--z ZP
		begin
			select @czasStart = CZN_CzasStart FROM dbo.CtiZasobDok INNER JOIN dbo.CtiZasob on CZ_ID = CZS_CZID
			INNER JOIN dbo.CtiZlecenieNag  on CZS_CTNID = czn_id where CZS_ID = @idElementu
		end
		else
		begin set @czasStart = convert(datetime, @datStart,120)	end


		select @czasEnd = dbo.CTIProdukcjaZPZasobDataEnd(CZ_ID,ISNULL(@czasStart,getdate())
			, dbo.CTIProdukcjaZPZasobCzasCalkowity(@CzasPracy, CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, isnull(CZN_Ilosc,1), COALESCE(@dzielnik,CZ_Dzielnik,0), @JMCzasu, @idElementu)) 
		FROM dbo.CtiZasobDok INNER JOIN dbo.CtiZasob on CZ_ID = CZS_CZID
			INNER JOIN dbo.CtiZlecenieNag  on CZS_CTNID = czn_id where CZS_ID = @idElementu

	end

	Update dbo.CtiZasobDok SET
		  CZS_JMCzasu = ISNULL(@JMCzasu,CZS_JMCzasu)
		, CZS_CzasPracy = isnull(@CzasPracy,CZS_CzasPracy)
		, CZS_CzasUzbrojenia = isnull(@CzasUzbrojenia,CZS_CzasUzbrojenia)
		, CZS_CzasRozbrojenia = isnull(@CzasRozbrojenia,CZS_CzasRozbrojenia)
		, CZS_KosztPracy = isnull(@KosztPracy,CZS_KosztPracy)
		, CZS_KosztUzbrojenia = isnull(@KosztUzbrojenia ,CZS_KosztUzbrojenia)
		, CZS_KosztRozbrojenia = isnull(@KosztRozbrojenia ,CZS_KosztRozbrojenia)
		, CZS_ilosc  = @ilosc 
		, CZS_CzasStart = @czasStart
		, CZS_CzasEnd = @czasEnd
		, CZS_PwBlokada = ISNULL(@BlokadaPw,0)
		, CZS_RwBlokada = ISNULL(@BlokadaRw,0)
		, CZS_Opis = isnull(@opis,CZS_Opis)
		, CZS_PrcId = isnull(@prcId,CZS_PrcId)
		, CZS_Lp = isnull(@lp,CZS_Lp)
		, CZS_Dzielnik = isnull(@dzielnik, CZS_Dzielnik)
		, CZS_PlanowanieCzasuPracy = isnull(@PlanowanieCzasuPracy, CZS_PlanowanieCzasuPracy)
		, CZS_CzasPlanowany = isnull(@CzasPlanowany, CZS_CzasPlanowany)
		, CZS_WieleOsob = isnull(@WieleOsob, CZS_WieleOsob)
		, CZS_ZasobPrcId = isnull(@zasobPrcId, CZS_ZasobPrcId)
		, CZS_PWOdpad = ISNULL(@PWOdpad,0)
		, CZS_RealizacjaCalkowita = isnull(@RealizacjaCalkowita,1)
	from dbo.CtiZasobDok
	where CZS_ID = @idElementu

END
GO

# [dbo].[CTIProdukcjaZasobDokstepnyAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZasobDokstepnyAdd]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZasobDokstepnyAdd]
@idZasobu int,
@calyDzien int,
@dataOd varchar(20),
@dataDo varchar(20),
@godzinaDo varchar(20),
@godzinaOd varchar(20),
@pn int, @wt int, @sr int, @cz int, @pt int, @sob int, @ndz int, @holiday int = 0
AS
BEGIN
	--declare @idZasobu int = 2
	--declare @calyDzien int = 1
	--declare @dateOd datetime = getdate() --nie może być mniejsza od datydo
	--declare @dateDo datetime = getdate()
	--declare @dateGodzinaOd datetime = '2015-11-01 8:00'
	--declare @dateGodzinaDo datetime = '2015-11-01 16:00' --nie może być mniejsza od czasu do chyba że północ
	--declare @pn int = 1 -- 2
	--declare @wt int = 0 -- 3
	--declare @sr int = 0 -- 4
	--declare @cz int = 0 -- 5
	--declare @pt int = 0 -- 6
	--declare @sob int = 0 -- 7
	--declare @ndz int = 0 -- 1


	declare @i int = 0 
	declare @do int = 0 
	declare @dw int = 0 
	declare @Data datetime
	declare @dateOd datetime
	declare @dateDo datetime
	declare @dateGodzinaDo datetime
	declare @dateGodzinaOd datetime

	set @dateOd = CONVERT(datetime,CONVERT(VARCHAR, convert(datetime,@dataOd), 23)+' 00:00')
	set @dateDo = CONVERT(datetime,CONVERT(VARCHAR, convert(datetime,@dataDo), 23)+' 00:00')

	if @calyDzien = 1
	begin 
		set @dateGodzinaOd = CONVERT(datetime,CONVERT(VARCHAR, @dateOd, 23)+' 00:00')
		set @dateGodzinaDo = CONVERT(datetime,CONVERT(VARCHAR, @dateDo, 23)+' 00:00')
	end
	else
	begin
		set @dateGodzinaOd = CONVERT(datetime,CONVERT(VARCHAR, @dateOd, 23) +' '+ LEFT(CONVERT(VARCHAR, convert(datetime,@godzinaOd), 24),5))
		set @dateGodzinaDo = CONVERT(datetime,CONVERT(VARCHAR, @dateDo, 23) +' '+ LEFT(CONVERT(VARCHAR, convert(datetime,@godzinaDo), 24),5))
	end

		--select @dateOd, @dateDo, @dateGodzinaOd, @dateGodzinaDo

	if(@dateOd <= @dateDo) and 
		((isnull(@dateGodzinaOd,getdate()) <= isnull(@dateGodzinaDo,getdate())) OR (LEFT(CONVERT(VARCHAR, @dateGodzinaDo, 24),5)  = '00:00'))
	begin
		set @i = 0 --start
		SELECT @do = DATEDIFF(day, @dateOd,@dateDo)
			while @i <= @do
			begin
				set @Data = @dateOd + @i
				set @dw = datepart(dw, @data)

				if (@dw = 1 and @ndz = 1) OR (@dw = 2 and @pn = 1) OR (@dw = 3 and @wt = 1) OR (@dw = 4 and @sr = 1)
					OR (@dw = 5 and @cz = 1) OR (@dw = 6 and @pt = 1) OR (@dw = 7 and @sob = 1) OR (@holiday = 1 and EXISTS(
					select 1 from dbo.CtiHolidays where YEAR(CH_Date)=YEAR(@Data) and MONTH(CH_Date)=MONTH(@Data) and DAY(CH_Date)=DAY(@Data)))
				begin
					if (@holiday = 0 and EXISTS(
					select 1 from dbo.CtiHolidays where YEAR(CH_Date)=YEAR(@Data) and MONTH(CH_Date)=MONTH(@Data) and DAY(CH_Date)=DAY(@Data)))
					BEGIN
						set @i= @i + 1
						CONTINUE;
					END
					if @calyDzien = 1
					begin 
						set @dateGodzinaOd = CONVERT(datetime,CONVERT(VARCHAR, @Data, 23)+' 00:00')
						set @dateGodzinaDo = CONVERT(datetime,CONVERT(VARCHAR, @Data, 23)+' 00:00')
					end
					else
					begin
						set @dateGodzinaOd = CONVERT(datetime,CONVERT(VARCHAR, @Data, 23)+' '+LEFT(CONVERT(VARCHAR, @dateGodzinaOd, 24),5))
						set @dateGodzinaDo = CONVERT(datetime,CONVERT(VARCHAR, @Data, 23)+' '+LEFT(CONVERT(VARCHAR, @dateGodzinaDo, 24),5))
					end

						if isnull(@calyDzien,0) = 0-- czy istnieje większy przedział
						begin
							declare @NowaGodzinaOd datetime = @dateGodzinaOd
							declare @NowaGodzinaDo datetime = @dateGodzinaDo

							select @NowaGodzinaOd = isnull(Min(ZsD_CzasOd),@dateGodzinaOd)
							from dbo.CtiZasobDostepny where zsd_data = @data and zsd_czid = @idZasobu and isnull(ZsD_CalyDzien,0) = 0
								 and ( ZsD_CzasOd <= @dateGodzinaOd) 
								 and ( ZsD_CzasDo >= @dateGodzinaOd) 
								 and ( ZsD_CzasDo <= @dateGodzinaDo)
							select @NowaGodzinaDo = isnull(Max(ZsD_CzasDo),@dateGodzinaDo)
							from dbo.CtiZasobDostepny where zsd_data = @data and zsd_czid = @idZasobu and isnull(ZsD_CalyDzien,0) = 0
								 and ( ZsD_CzasDo >= @dateGodzinaDo) 
								 and ( ZsD_CzasOd >= @dateGodzinaOd)
								 and ( ZsD_CzasOd <= @dateGodzinaDo)
							if not(@NowaGodzinaOd = @dateGodzinaOd and @NowaGodzinaDo = @dateGodzinaDo)
							begin
								delete from dbo.CtiZasobDostepny where zsd_data = @data and zsd_czid = @idZasobu and isnull(ZsD_CalyDzien,0) = 0
									and ( ZsD_CzasOd <= @dateGodzinaOd) 
									and ( ZsD_CzasDo >= @dateGodzinaOd) 
									and ( ZsD_CzasDo <= @dateGodzinaDo)
								delete	from dbo.CtiZasobDostepny where zsd_data = @data and zsd_czid = @idZasobu and isnull(ZsD_CalyDzien,0) = 0
									and ( ZsD_CzasDo >= @dateGodzinaDo) 
									and ( ZsD_CzasOd >= @dateGodzinaOd)
									and ( ZsD_CzasOd <= @dateGodzinaDo)
								set @dateGodzinaOd = @NowaGodzinaOd
								set @dateGodzinaDo = @NowaGodzinaDo
							end
						end







					if --jeżeli wpis jeszcze nie istnieje
						not exists(select * from dbo.CtiZasobDostepny where zsd_data = @data and zsd_czid = @idZasobu and isnull(ZsD_CalyDzien,0) = 1)-- cały dzień
						and--zakres dat
						not exists(select * from dbo.CtiZasobDostepny where zsd_data = @data and zsd_czid = @idZasobu and isnull(ZsD_CalyDzien,0) = 0 and  ZsD_CzasOd = @dateGodzinaOd and ZsD_CzasDo = @dateGodzinaDo)

					begin 

						if(
								((isnull(@calyDzien,0) = 0)
								and
								not exists(select ZsD_CZID, ZsD_Data, ZsD_CzasOd, ZsD_CzasDo, ZsD_CalyDzien 
											from dbo.CtiZasobDostepny 
											where zsd_data = @data and zsd_czid = @idZasobu and isnull(ZsD_CalyDzien,0) = 0	 and (  @dateGodzinaOd >= ZsD_CzasOd ) and (@dateGodzinaDo <= ZsD_CzasDo ))
								)or
								(isnull(@calyDzien,0) = 1)
						  )
						begin

							if isnull(@calyDzien,0) = 1
							begin  -- cały dzień --usunięcie dodanych pozycji z zakresem dat
								delete from   dbo.CtiZasobDostepny where zsd_data = @data and zsd_czid = @idZasobu and isnull(ZsD_CalyDzien,0) = 0
							end
							else--zakres dat --usunięcie zaskresów pomiędzy dany zakres
							begin
								delete from dbo.CtiZasobDostepny where zsd_data = @data and zsd_czid = @idZasobu and isnull(ZsD_CalyDzien,0) = 0
									 and (ZsD_CzasOd between @dateGodzinaOd and @dateGodzinaDo) and (ZsD_CzasDo between @dateGodzinaOd and @dateGodzinaDo )
							end


								if not exists(select * from dbo.CtiZasobDostepny where 
									ZsD_CZID = @idZasobu 
									and ZsD_Data = @Data
									and ZsD_CzasOd = @dateGodzinaOd
									and ZsD_CzasDo = @dateGodzinaDo
									and isnull(ZsD_CalyDzien,0) = @calyDzien)
								begin
									insert into dbo.CtiZasobDostepny (ZsD_CZID, ZsD_Data, ZsD_CzasOd, ZsD_CzasDo, ZsD_CalyDzien)
									values (@idZasobu, @Data, @dateGodzinaOd, @dateGodzinaDo, @calyDzien)
								end
							end
						end
					end
			
				set @i= @i + 1
			end
	end

end
GO

# [dbo].[CTIProdukcjaZasobDokstepnyList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZasobDokstepnyList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CTIProdukcjaZasobDokstepnyList]
@idZasobu int,
@archiwalne int
AS
BEGIN
	SET LANGUAGE English--SET LANGUAGE Polish
	SELECT ZsD_ID as ID, ZsD_CZID as CZID
	, year(ZsD_Data) as Rok
	, case datename(dw,ZsD_Data) 
		when 'Monday' then 'Poniedziałek'
		when 'Tuesday' then 'Wtorek'
		when 'Wednesday' then 'Środa'
		when 'Thursday' then 'Czwartek'
		when 'Friday' then 'Piątek'
		when 'Saturday' then 'Sobota'
		when 'Sunday' then 'Niedziela'
		else datename(dw,ZsD_Data) end
	  as DzienTygodnia
	, case datepart(mm, ZsD_Data)
		when 1 then 'Styczeń'
		when 2 then 'Luty'
		when 3 then 'Marzec'
		when 4 then 'Kwiecień'
		when 5 then 'Maj'
		when 6 then 'Czerwiec'
		when 7 then 'Lipiec'
		when 8 then 'Sierpień'
		when 9 then 'Wrzesień'
		when 10 then 'Październik'
		when 11 then 'Listopad'
		when 12 then 'Grudzień'
		else datename(mm,ZsD_Data) end
	  as nazwaMiesiaca
	, CONVERT(VARCHAR, ZsD_Data, 23)  as Data
	, LEFT(CONVERT(VARCHAR, ZsD_CzasOd, 8),5)  as CzasOd
	, LEFT(CONVERT(VARCHAR, ZsD_CzasDo, 8),5)  as CzasDo
	, isnull(ZsD_CalyDzien,0)  as CalyDzien
	FROM dbo.CtiZasobDostepny 
	where ZsD_CZID = @idZasobu
		and
		(
			(isnull(@archiwalne,0) = 1 and 1=1 )--wszystkie zasoby
			or
			(isnull(@archiwalne,0) = 0 and CONVERT(datetime,CONVERT(VARCHAR, ZsD_Data, 23)+' 00:00') >= CONVERT(datetime,CONVERT(VARCHAR, getdate(), 23)+' 00:00'))
		)
	order by   CONVERT(VARCHAR, ZsD_Data, 23), LEFT(CONVERT(VARCHAR, ZsD_CzasOd, 8),5)
END


GO

# [dbo].[CTIProdukcjaZasobGrupaAddEdit]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZasobGrupaAddEdit]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZasobGrupaAddEdit]
	@GrupaId int out,
	@GrupaKod varchar(20)
AS
BEGIN
	select  @GrupaId = CZG_Id FROM  dbo.CtiZasobGrupy where  CZG_Kod = @GrupaKod
	if @GrupaId=0
	BEGIN
		Insert into dbo.CtiZasobGrupy (CZG_Kod,CZG_Lp) select @GrupaKod, isnull(max(CZG_Lp),0)+1 FROM  dbo.CtiZasobGrupy
		Select @GrupaId = SCOPE_IDENTITY()
	END
END

GO

# [dbo].[CTIProdukcjaZasobList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZasobList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZasobList]
@BezTypu int,
@DzialID int = null,
@TylkoTyp int = null,
@BezID int = null,
@AkceptujBezDzialu int = null,
@IDCSU int = null
AS
BEGIN
	SELECT CZ_ID AS ID, CZG_Kod AS Grupa, CZ_Kod AS Kod
	, case isnull(cz_typ,0) when 80 then 'Pracownicy' when 76 then 'Czynność' else 'Zasób' end as Typ
	, isnull(cz_typ,0) as CznTyp
	, (SELECT STUFF(
	( 
		SELECT DISTINCT ', ' + CDZ_Kod
		FROM dbo.CtiDzial
		LEFT OUTER JOIN dbo.CtiZasobDzialy ON CDZ_ID = ZDZ_DzialID
		WHERE ZDZ_ZasobID = CZ_ID
		FOR XML PATH('')
	), 1, 1, ''))
	
	AS [Dział], ISNULL(SzS_DokID, -1) as 'Wykorzystany'
	FROM dbo.CtiZasob 
		LEFT JOIN dbo.CtiKonfigJM ON CtiKonfigJM.CKJ_Typ = 1 
			AND CtiZasob.CZ_JMCzasu = CtiKonfigJM.CKJ_Lp 
		INNER JOIN dbo.CtiZasobGrupy ON CtiZasob.CZ_CZGID = CtiZasobGrupy.CZG_ID
		left join dbo.CtiZasobSlownik on @IDCSU IS NOT NULL and Szs_CsUID=@IDCSU and SzS_DokID=CZ_ID

	where ((isnull(@BezTypu,0)=0) or (isnull(@BezTypu,0) <> 0 and isnull(cz_typ,0)<>isnull(@BezTypu,0)))
	and (@DzialID IS NULL 
		OR EXISTS (SELECT * FROM dbo.CtiZasobDzialy WHERE ZDZ_ZasobID = CZ_ID AND ZDZ_DzialID = @DzialID) 
		OR (@AkceptujBezDzialu = 1 AND NOT EXISTS (SELECT * FROM dbo.CtiZasobDzialy WHERE ZDZ_ZasobID = CZ_ID)))
	and (isnull(@TylkoTyp, -1) = -1 OR CZ_Typ = @TylkoTyp)
	and (isnull(@BezID, 0) <> CZ_ID)
	ORDER BY Grupa, Kod
	
END
GO

# [dbo].[CTIProdukcjaZasobyPlanList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZasobyPlanList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZasobyPlanList]
   @typ int						-- = 0
 , @datOd varchar(23)			--'2016-09-08 11:00:00.000' --data start
 , @datDo varchar(23)			-- 
 , @iloscZP decimal(15,4)		--przekazana ilość
 , @cznid int					-- konkretne zlecenie
 , @czid int					-- konkretny zasob
 , @idTH int					--
 , @Zasob VARCHAR(20)			--
 , @GrupaZasobu  VARCHAR(20)	--
 , @Zlecenie VARCHAR(20)		--
AS
BEGIN

declare @datastart datetime set @datastart = convert(datetime, @datOd,120)
declare @dataEnd datetime set @dataEnd= convert(datetime, @datDo,120)


if @typ > 0
begin--------------------------plan zasobów-------------------------
		SELECT   ROW_NUMBER() OVER (ORDER BY ISNULL(czn_id,0), ISNULL(cz_id,0),ISNULL(czs_id,0)) as Lp, 0 as LP2 		
			, 0 as Progress
			, ISNULL(CZS_ID,czn_id) as ID, ISNULL(CZS_CZID,0) as CZS_CZID, ISNULL(czs_ilosc,0) as Ilosc
			, ISNULL(CZG_Kod,'') as Grupa, ISNULL(CZ_Kod,'') As Kod, czn_id as dokId, CZN_NrPelny as NrPelny, Twr_Kod AS TwrKod 
			, ISNULL(CZS_CzasPracy,0) as CzasPracy, ISNULL(CZS_CzasUzbrojenia,0)  as CzasUzbrojenia, ISNULL(CZS_CzasRozbrojenia,0)  as CzasRozbrojenia
			, ISNULL(CKJ_Nazwa,'') as JM
			, ISNULL(CZS_KosztPracy,0) as KosztPracy  , ISNULL(CZS_KosztUzbrojenia,0)  as KosztUzbrojenia, ISNULL(CZS_KosztRozbrojenia,0)  as KosztRozbrojenia
    
			--obliczanie czasu
			, ISNULL(CZ_Ilosc,0)  as iloscZP
			, COALESCE(CZS_Dzielnik,CZN_Ilosc,0) as Dzielnik
			, 1 as Mnoznik --przeliczanie występuje przed przeliczeniem
			, convert(decimal(15,2), dbo.CTIProdukcjaZPZasobCzasCalkowity(CZS_CzasPracy, CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, CZN_Ilosc, COALESCE(CZS_Dzielnik,CZN_Ilosc,0), CZS_JMCzasu, CZS_ID)/60.0) --w minutach
			as CzasCalkowity
			--daty
			, ISNULL(CZS_CzasStart,CZN_CzasStart) as DataStart
			, ISNULL(CZS_CzasEnd,CZN_CzasEnd) as DataEnd

			, ISNULL(CZ_Typ,0) as Typ
			, case when ISNULL(CZ_Typ,0) = 76 then	case when ISNULL(CZS_PwBlokada,0) = 0 then 1 else 0 end else 0 end as TworzeniePw
			, case when ISNULL(CZ_Typ,0) = 76 then	case when ISNULL(CZS_RwBlokada,0) = 0 then 1 else 0 end else 0 end as TworzenieRw
			
			, isnull(CZS_PrcId,0) as PrcId, isnull(PRA_Kod,'') as PrcKod,  isnull(CZS_Opis, '') as Opis , isnull(CZS_Lp,1) as Czs_LP
		FROM dbo.CtiZlecenieNag 
			LEFT JOIN dbo.CtiZasobDok  on ISNULL(CZS_DokTyp,0) = 2 and ISNULL(CZS_CTNID,0) = czn_id and  @typ = 1
			LEFT JOIN dbo.CtiKonfigJM on CKJ_Typ = 1 and CZS_JMCzasu = CKJ_Lp and  @typ = 1
			LEFT JOIN dbo.CtiZasob on CZ_ID = CZS_CZID and @typ = 1
			LEFT JOIN dbo.CtiZasobGrupy on CZS_CZGID = CZG_ID  and @typ = 1
			LEFT JOIN CDN.Towary ON CZN_TwrId = Twr_TwrId
			LEFT JOIN CDN.PracKod on pra_praid =  isnull(CZS_PrcId,0) 
		where 
			(
				(ISNULL(CZS_CzasEnd,CZN_CzasEnd) between @dataStart and @dataEnd)
				or
				 (ISNULL(CZS_CzasStart,CZN_CzasStart) between @dataStart  and @dataEnd)
				or 
				(ISNULL(CZS_CzasStart,CZN_CzasStart) < @dataStart and ISNULL(CZS_CzasEnd,CZN_CzasEnd)  > @dataEnd)
			)
			and	
			( 
				((@Zasob = '' and 1=1) or (@Zasob <> '' and ISNULL(CZ_Kod,'')=@Zasob))
				and ((@GrupaZasobu = ''  and 1=1) or (@GrupaZasobu <> '' and ISNULL(CZG_Kod,'')=@GrupaZasobu))
				and ((@Zlecenie = ''  and 1=1) or (@Zlecenie <> '' and CZN_NrPelny=@Zlecenie))
			)
		order by ISNULL(czn_id,0), ISNULL(cz_id,0), isnull(CZS_Lp,1), ISNULL(czs_id,0)
end
else if  @czid > 0
begin--------------------------Szczegoly zasobu-------------------------

		SELECT ROW_NUMBER() OVER (ORDER BY id) as Lp, 0 as LP2 ,0 as Progress
			, ID, CZS_CZID, Ilosc
			, Grupa, Kod, dokId, NrPelny, TwrKod
			, CzasPracy, CzasUzbrojenia, CzasRozbrojenia
			, JM
			, KosztPracy , KosztUzbrojenia, KosztRozbrojenia
			--obliczanie czasu
			, iloscZP
			, Dzielnik
			, Mnoznik 
			, CzasCalkowity
			--daty
			, DataStart
			, DataEnd

			, Typ, TworzeniePw, TworzenieRw
			, PrcId, PrcKod, Opis, Czs_LP
		from
		(
			SELECT CZS_ID as ID, CZS_CZID, ISNULL(czs_ilosc,0) as Ilosc
				, CZG_Kod as Grupa,CZ_Kod As Kod, czn_id as dokId, CZN_NrPelny as NrPelny, Twr_Kod AS TwrKod 
				, ISNULL(CZS_CzasPracy,0) as CzasPracy, CZS_CzasUzbrojenia as CzasUzbrojenia , CZS_CzasRozbrojenia as CzasRozbrojenia
				, CKJ_Nazwa as JM
				, CZS_KosztPracy as KosztPracy, CZS_KosztUzbrojenia as KosztUzbrojenia, CZS_KosztRozbrojenia as KosztRozbrojenia
		
				--obliczanie czasu
				, CZN_Ilosc as iloscZP
				--, COALESCE(CZS_Dzielnik,CZN_Ilosc,0) as Dzielnik
				--, case when CZN_Ilosc%COALESCE(CZS_Dzielnik,CZN_Ilosc,0) > 0 
				--then convert(int,(CZN_Ilosc/COALESCE(CZS_Dzielnik,CZN_Ilosc,0)))+1 
				--else convert(int,CZN_Ilosc/COALESCE(CZS_Dzielnik,CZN_Ilosc,0)) end as Mnoznik
				, 1 as Dzielnik
				, 1 as Mnoznik

				
				, convert(decimal(15,2), dbo.CTIProdukcjaZPZasobCzasCalkowity(CZS_CzasPracy, CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, CZN_Ilosc, COALESCE(CZS_Dzielnik,CZN_Ilosc,0), CZS_JMCzasu, CZS_ID)/60.0 ) --w minutach
				as CzasCalkowity

				--data
				, case when CZN_Status = 0 then CZN_CzasStart else ISNULL(CZS_CzasStart,CZN_CzasStart) end as DataStart
				, case when CZN_Status = 0 then 
				 dbo.CTIProdukcjaZPZasobDataEnd(CZ_ID,ISNULL(CZS_CzasStart,CZN_CzasStart),dbo.CTIProdukcjaZPZasobCzasCalkowity(CZS_CzasPracy, CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, CZN_Ilosc, COALESCE(CZS_Dzielnik,CZN_Ilosc,0), CZS_JMCzasu, CZS_ID)) 
				else ISNULL(CZS_CzasEnd,CZN_CzasEnd) end
				
				as DataEnd

				, ISNULL(CZ_Typ,0) as Typ
				, case when ISNULL(CZ_Typ,0) = 76 then	case when ISNULL(CZS_PwBlokada,0) = 0 then 1 else 0 end else 0 end as TworzeniePw
				, case when ISNULL(CZ_Typ,0) = 76 then	case when ISNULL(CZS_RwBlokada,0) = 0 then 1 else 0 end else 0 end as TworzenieRw
		
				, isnull(CZS_PrcId,0) as PrcId, isnull(PRA_Kod,'') as PrcKod,  isnull(CZS_Opis, '') as Opis , isnull(CZS_Lp,1) as Czs_LP
			FROM dbo.CtiZasobDok  
				LEFT JOIN dbo.CtiKonfigJM on CKJ_Typ = 1 and CZS_JMCzasu = CKJ_Lp
				INNER JOIN dbo.CtiZasob on CZ_ID = CZS_CZID
				INNER JOIN dbo.CtiZasobGrupy on CZS_CZGID = CZG_ID 
				INNER JOIN dbo.CtiZlecenieNag on CZS_DokTyp = 2 and CZS_CTNID = czn_id
				LEFT JOIN CDN.Towary ON CZN_TwrId = Twr_TwrId
				LEFT JOIN CDN.PracKod on pra_praid =  isnull(CZS_PrcId,0) 
			where CZS_DokTyp = 2 and CZS_CZID = @czid
		) a
		where 
		(
			(DataEnd between @dataStart and @dataEnd)
			or
			 (DataStart between @dataStart  and @dataEnd)
			or 
			(DataStart < @dataStart and DataEnd  > @dataEnd)
		)
		 order by isnull(CZS_Lp,1),ID 
end
------------------------------------------------------Na Zleceniu----------------------------------------------------
else if @idTH > 0 
begin--------------------------Niezapisane ZP, zasoby zgodnie z TH--------------------------
	
	SELECT ROW_NUMBER() OVER (ORDER BY czs_id) as Lp, 0 as LP2 ,0 as Progress
		, CZS_ID as ID, CZS_CZID, ISNULL(czs_ilosc,0) as Ilosc
		, CZG_Kod as Grupa, CZ_Kod As Kod, CTN_ID as dokId, CTN_Numer as NrPelny, Twr_Kod AS TwrKod 
		, (ISNULL(CZS_CzasPracy,0)) as CzasPracy
		, (CZS_CzasUzbrojenia) as CzasUzbrojenia
		, (CZS_CzasRozbrojenia) as CzasRozbrojenia
		, CKJ_Nazwa as JM
		, CZS_KosztPracy as KosztPracy , CZS_KosztUzbrojenia as KosztUzbrojenia
		, CZS_KosztRozbrojenia as KosztRozbrojenia

		--, COALESCE(CZS_Dzielnik,@iloscZP,0) as Dzielnik
		--, case when ISNULL(@iloscZP,0)%COALESCE(CZS_Dzielnik,@iloscZP,0) > 0 
		--	then convert(int,(ISNULL(@iloscZP,0)/COALESCE(CZS_Dzielnik,@iloscZP,0)))+1 
		--	else convert(int,ISNULL(@iloscZP,0)/COALESCE(CZS_Dzielnik,@iloscZP,0)) 
		--	end as Mnoznik
		, 1 as Dzielnik
		, 1 as Mnoznik

		, convert(decimal(15,2), dbo.CTIProdukcjaZPZasobCzasCalkowity(CZS_CzasPracy, CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, @iloscZP, COALESCE(CZS_Dzielnik,@iloscZP,0), CZS_JMCzasu, CZS_ID)/60.0) --w minutach
			as CzasCalkowity

		--daty
		, ISNULL(@datastart,getdate()) as DataStart
		, dbo.CTIProdukcjaZPZasobDataEnd(CZ_ID,ISNULL(@datastart,getdate()),dbo.CTIProdukcjaZPZasobCzasCalkowity(CZS_CzasPracy, CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, @iloscZP, COALESCE(CZS_Dzielnik,@iloscZP,0), CZS_JMCzasu, CZS_ID)) 
		as DataEnd
		, ISNULL(CZ_Typ,0) as Typ
		, case when ISNULL(CZ_Typ,0) = 76 then	case when ISNULL(CZS_PwBlokada,0) = 0 then 1 else 0 end else 0 end as TworzeniePw
		, case when ISNULL(CZ_Typ,0) = 76 then	case when ISNULL(CZS_RwBlokada,0) = 0 then 1 else 0 end else 0 end as TworzenieRw
		
		, isnull(CZS_PrcId,0) as PrcId, isnull(PRA_Kod,'') as PrcKod,  isnull(CZS_Opis, '') as Opis , isnull(CZS_Lp,1) as Czs_LP
	FROM dbo.CtiZasobDok 
		LEFT JOIN dbo.CtiKonfigJM on CKJ_Typ = 1 and CZS_JMCzasu = CKJ_Lp
		INNER JOIN dbo.CtiZasob on CZ_ID = CZS_CZID
		INNER JOIN dbo.CtiZasobGrupy on CZS_CZGID = CZG_ID 
		INNER JOIN dbo.CtiTechnolNag on CZS_DokTyp = 1 and CZS_CTNID = CTN_ID
		LEFT JOIN CDN.Towary ON ctn_TwrId = Twr_TwrId
		LEFT JOIN CDN.PracKod on pra_praid =  isnull(CZS_PrcId,0) 
	where CZS_DokTyp = 1 --TH
		and CZS_ctnid =@idTH
	order by isnull(CZS_Lp,1),ID 
end
else 
begin--------------------------Zapisane ZP--------------------------
	declare @bufor int = 0 
	select @bufor = ISNULL(CZN_Status,0)
		, @iloscZP = ISNULL(@iloscZP,CZN_Ilosc) 
		, @dataStart = ISNULL(@dataStart,CZN_CzasStart) 
		, @dataEnd =  ISNULL(@dataEnd,CZN_CzasEnd)
	from dbo.CtiZlecenieNag where czn_id =@cznid


	if @bufor = 0 --------------------------nie potwierdzone zlecenie --------------------------
	begin

		SELECT ROW_NUMBER() OVER (ORDER BY czs_id) as Lp, 0 as LP2 ,0 as Progress
			, CZS_ID as ID, CZS_CZID, ISNULL(czs_ilosc,0) as Ilosc
			, CZG_Kod as Grupa, CZ_Kod As Kod, czn_id as dokId, CZN_NrPelny as NrPelny, Twr_Kod AS TwrKod 
			, ISNULL(CZS_CzasPracy,0) as CzasPracy, CZS_CzasUzbrojenia as CzasUzbrojenia, CZS_CzasRozbrojenia as CzasRozbrojenia
			, CKJ_Nazwa as JM
			, CZS_KosztPracy as KosztPracy , CZS_KosztUzbrojenia as KosztUzbrojenia, CZS_KosztRozbrojenia as KosztRozbrojenia

			--obliczanie czasu
			, @iloscZP as iloscZP
			, 1 as Dzielnik
			, 1 as Mnoznik
			--, COALESCE(CZS_Dzielnik,@iloscZP,0) as Dzielnik
			--, case when @iloscZP%COALESCE(CZS_Dzielnik,@iloscZP,0) > 0 
			--	then convert(int,(@iloscZP/COALESCE(CZS_Dzielnik,@iloscZP,0)))+1 
			--	else convert(int,@iloscZP/COALESCE(CZS_Dzielnik,@iloscZP,0)) end 
			-- as Mnoznik
			, convert(decimal(15,2), dbo.CTIProdukcjaZPZasobCzasCalkowity(CZS_CzasPracy, CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, @iloscZP, COALESCE(CZS_Dzielnik,@iloscZP,0), CZS_JMCzasu, CZS_ID)/60.0) --w minutach
			 as CzasCalkowity
			 --daty
			, ISNULL(CZS_CzasStart,CZN_CzasStart) as DataStart
			, ISNULL(CZS_CzasEnd,CZN_CzasEnd) as DataEnd
			, ISNULL(CZ_Typ,0) as Typ
			, case when ISNULL(CZ_Typ,0) = 76 then	case when ISNULL(CZS_PwBlokada,0) = 0 then 1 else 0 end else 0 end as TworzeniePw
			, case when ISNULL(CZ_Typ,0) = 76 then	case when ISNULL(CZS_RwBlokada,0) = 0 then 1 else 0 end else 0 end as TworzenieRw
		
			, isnull(CZS_PrcId,0) as PrcId, isnull(PRA_Kod,'') as PrcKod,  isnull(CZS_Opis, '') as Opis, isnull(CZS_Lp,1) as Czs_LP 
		FROM dbo.CtiZasobDok  
			LEFT JOIN dbo.CtiKonfigJM on CKJ_Typ = 1 and CZS_JMCzasu = CKJ_Lp
			INNER JOIN dbo.CtiZasob on CZ_ID = CZS_CZID
			INNER JOIN dbo.CtiZasobGrupy on CZS_CZGID = CZG_ID 
			INNER JOIN dbo.CtiZlecenieNag on CZS_DokTyp = 2 and CZS_CTNID = czn_id
			LEFT JOIN CDN.Towary ON CZN_TwrId = Twr_TwrId
			LEFT JOIN CDN.PracKod on pra_praid =  isnull(CZS_PrcId,0) 
		where CZS_DokTyp = 2 --ZP
			and CZS_ctnid =@cznid
		order by isnull(CZS_Lp,1),ID 

	end
	else --------------------------potwierdzone zlecenie --------------------------
	begin

		SELECT ROW_NUMBER() OVER (ORDER BY czs_id) as Lp, 0 as LP2 ,0 as Progress
			, CZS_ID as ID, CZS_CZID, ISNULL(czs_ilosc,0) as Ilosc
			, CZG_Kod as Grupa, CZ_Kod As Kod, czn_id as dokId, CZN_NrPelny as NrPelny, Twr_Kod AS TwrKod 
			, ISNULL(CZS_CzasPracy,0) as CzasPracy, CZS_CzasUzbrojenia as CzasUzbrojenia, CZS_CzasRozbrojenia as CzasRozbrojenia
			, CKJ_Nazwa as JM
			, CZS_KosztPracy as KosztPracy , CZS_KosztUzbrojenia as KosztUzbrojenia, CZS_KosztRozbrojenia as KosztRozbrojenia
    
			--obliczanie czasu
			, CZ_Ilosc as iloscZP
			, COALESCE(CZS_Dzielnik,CZN_Ilosc,0) as Dzielnik
			, 1 as Mnoznik --przeliczanie występuje przed przeliczeniem
			--20170412
			, convert(decimal(15,2), dbo.CTIProdukcjaZPZasobCzasCalkowity(CZS_CzasPracy, CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, CZN_Ilosc, COALESCE(CZS_Dzielnik,CZN_Ilosc,0), CZS_JMCzasu, CZS_ID)/60.0) --w minutach
			 as CzasCalkowity

			--daty
			, ISNULL(CZS_CzasStart,CZN_CzasStart) as DataStart
			, ISNULL(CZS_CzasEnd,CZN_CzasEnd) as DataEnd

			, ISNULL(CZ_Typ,0) as Typ
			, case when ISNULL(CZ_Typ,0) = 76 then	case when ISNULL(CZS_PwBlokada,0) = 0 then 1 else 0 end else 0 end as TworzeniePw
			, case when ISNULL(CZ_Typ,0) = 76 then	case when ISNULL(CZS_RwBlokada,0) = 0 then 1 else 0 end else 0 end as TworzenieRw

			, isnull(CZS_PrcId,0) as PrcId, isnull(PRA_Kod,'') as PrcKod,  isnull(CZS_Opis, '') as Opis, isnull(CZS_Lp,1) as Czs_LP 
		FROM dbo.CtiZasobDok  
			LEFT JOIN dbo.CtiKonfigJM on CKJ_Typ = 1 and CZS_JMCzasu = CKJ_Lp
			INNER JOIN dbo.CtiZasob on CZ_ID = CZS_CZID
			INNER JOIN dbo.CtiZasobGrupy on CZS_CZGID = CZG_ID 
			INNER JOIN dbo.CtiZlecenieNag on CZS_DokTyp = 2 and CZS_CTNID = czn_id
			LEFT JOIN CDN.Towary ON CZN_TwrId = Twr_TwrId
			LEFT JOIN CDN.PracKod on pra_praid =  isnull(CZS_PrcId,0) 
		where CZS_DokTyp = 2 
			and CZS_ctnid = @cznid
	order by isnull(CZS_Lp,1),ID 

	end
end
END

GO

# [dbo].[CTIProdukcjaZlecenieAddEdit]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieAddEdit]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTIProdukcjaZlecenieAddEdit]
	  @id						decimal(15,4)
	, @Ilosc					decimal(15,4)
	, @Ope						int
	, @Status					int--2 potwierdzone -- 3 zamknięte
	, @CTNId					int--Technologia
	, @opis						nvarchar(254)
	, @datStart					varchar(23)
	, @datStop					varchar(23)
	, @ZasobyKopia				tinyint
	, @NrWlasny					nvarchar(50)
	, @idZleceniaProstego		INT OUTPUT
	, @idWyrobuGotowego			INT = 0
	, @Jm						nvarchar(40) = NULL
	, @lp						INT = 0
	, @cenaID					INT = NULL
	, @pominCzasZasobow			INT = NULL
	, @domyslneMagSur			INT = NULL
	, @uwzglednijDateZPNaZasobach INT = 0
	, @generateRWAfterResource int = -1
AS
BEGIN
declare @dataStart datetime
declare @dataStop datetime 

if @generateRWAfterResource = -1
	set @generateRWAfterResource = (SELECT TOP 1 ISNULL(CTN_GenerateRWAfterResource,0) from dbo.ctitechnolnag where ctn_id = @CTNId);
if @generateRWAfterResource IS NULL
	set @generateRWAfterResource = 0;

BEGIN TRY
if @datStart = '' set @dataStart = DATEADD(HOUR, 8, CONVERT(DATETIME, CONVERT(DATE, GETDATE()))) else set @dataStart = convert(datetime, @datStart,120)
END TRY
BEGIN CATCH
set @dataStart = DATEADD(HOUR, 8, CONVERT(DATETIME, CONVERT(DATE, GETDATE())))
END CATCH

BEGIN TRY
if @datStop = ''  set @dataStop = @dataStart else set @dataStop= convert(datetime, @datStop,120)
END TRY
BEGIN CATCH
set @dataStop = @dataStart
END CATCH

declare @numerZlc int = 0
declare @miesiac int = month(GETDATE())
declare @rok int =  year(GETDATE())
declare @nrpelny varchar(20) =''
declare @Seria varchar(5) = ''
declare @TwrId  int = 0
declare @TwrKod varchar(20) = ''
declare @NoweLP int = 0
declare @konfiguracja varchar(1) = ''
select @konfiguracja = ISNULL(KNF_Wartosc,'') from dbo.CtiKonfiguracja where KNF_Numer = 73
select @NoweLP = ISNULL(MAX(CZN_LP), 0) + 1 FROM dbo.CtiZlecenieNag

DECLARE @czyIstniejeUstawienie INT 
SELECT @czyIstniejeUstawienie = KNF_Wartosc FROM dbo.CtiKonfiguracja WHERE KNF_Numer = 1139
if (@Jm IS NULL)
BEGIN
	SET @Jm = (SELECT TOP 1 CTN_TwrJm FROM dbo.CtiTechnolNag WHERE CTN_ID = @CTNId);
END

if (@Jm IS NULL)
BEGIN
	SET @Jm = (SELECT TOP 1 Twr_JM FROM CDN.Towary WHERE Twr_TwrId = @idWyrobuGotowego);
END

if @konfiguracja = '1'--uwzględnienie miesiąca w numeracji
begin	
	select @numerZlc = ISNULL(Max(CZN_Numer),0)+1  from dbo.CtiZlecenieNag where CZN_Rok = @rok and CZN_Miesiac = @miesiac --miesiac
	select @TwrKod=ctn_twrkod,@TwrId=ctn_twrid from dbo.CtiTechnolNag where CTN_ID = @CTNId
	select @nrpelny='ZP/'+cast(replace(str(@numerZlc,4),' ','0')as char(4)) +'/'+cast(replace(str(@miesiac,2),' ','0')as char(2)) +'/'+cast(@rok as varchar(4))
end
else
begin
	select @numerZlc = ISNULL(Max(CZN_Numer),0)+1  from dbo.CtiZlecenieNag where CZN_Rok = @rok ---tylko rok
	select @TwrKod=ctn_twrkod, @TwrId=ctn_twrid from dbo.CtiTechnolNag where CTN_ID = @CTNId
	select @nrpelny='ZP/'+cast(replace(str(@numerZlc,5),' ','0')as char(5)) +'/'+cast(@rok as varchar(4))
end
if @idWyrobuGotowego > 0
begin
	select @TwrKod=Twr_Kod, @TwrId=Twr_TwrId from cdn.towary WHERE Twr_TwrId = @idWyrobuGotowego
end

if isnull(@id,0) = 0
begin
	PRINT('Nie wskazano ID istniejacego ZP, tworzenie nowego');

	if isnull(@CTNId,0) <= 0
	begin
		PRINT('Nie wskazano ID technologii');

		INSERT INTO dbo.CtiZlecenieNag 
		(CZN_Numer,CZN_Miesiac,CZN_Rok,CZN_Seria, CZN_OpeWystaw, CZN_DataWystaw, CZN_OperModyf, CZN_DataModyf, CZN_Status,CZN_NrPelny,CZN_Opis,CZN_CzasStart,CZN_CzasEnd, CZN_Ilosc, CZN_TwrJm, CZN_LP, CZN_CenaID, CZN_PominCzasZasobow, CZN_DomyslneMagSur, CZN_UwzglednijDateZPNaZasobach, CZN_GenerateRWAfterResource)
		VALUES (@numerZlc,@miesiac,@rok,@Seria,@Ope,GETDATE(),@Ope,GETDATE(),0,@nrpelny,@opis,@dataStart,@dataStop,@Ilosc,@Jm,@NoweLP, @cenaID, ISNULL(@pominCzasZasobow, 0), ISNULL(@domyslneMagSur, 0), @uwzglednijDateZPNaZasobach, @generateRWAfterResource)      
		Select @idZleceniaProstego = SCOPE_IDENTITY()

		if (@idWyrobuGotowego > 0)
		begin
			UPDATE dbo.CtiZlecenieNag SET CZN_TwrId = @idWyrobuGotowego, CZN_TwrKod = @TwrKod WHERE CZN_ID = @idZleceniaProstego
		end
	end
	else if isnull(@CTNId,0) >0
	begin
		DECLARE @IloscTH decimal(15,4) = 1;
		SET @IloscTH = (SELECT TOP 1 CTN_ilosc FROM dbo.CtiTechnolNag WHERE CTN_ID = @CTNId);

		IF (@domyslneMagSur IS NULL)
			SET @domyslneMagSur = (SELECT TOP 1 CTN_DomyslneMagSur FROM dbo.CtiTechnolNag WHERE CTN_ID = @CTNId);

		INSERT INTO dbo.CtiZlecenieNag 
		(CZN_Numer,CZN_Miesiac,CZN_Rok,CZN_Seria, CZN_TwrId, CZN_TwrKod, CZN_Ilosc, CZN_OpeWystaw, CZN_DataWystaw, CZN_OperModyf, CZN_DataModyf, CZN_Status,czn_ctnid,CZN_NrPelny,CZN_Opis,CZN_CzasStart,CZN_CzasEnd,CZN_TwrJm, CZN_LP, CZN_CenaID, CZN_PominCzasZasobow, CZN_DomyslneMagSur, CZN_UwzglednijDateZPNaZasobach, CZN_GenerateRWAfterResource)
		VALUES (@numerZlc,@miesiac,@rok,@Seria,@TwrId,@TwrKod,@Ilosc,@Ope,GETDATE(),@Ope,GETDATE(),@Status,@CTNId,@nrpelny,@opis,@dataStart,@dataStop,@Jm, @NoweLP, @cenaID, ISNULL(@pominCzasZasobow, 0), ISNULL(@domyslneMagSur, 0), @uwzglednijDateZPNaZasobach, @generateRWAfterResource)
		Select @idZleceniaProstego = SCOPE_IDENTITY()

		if isnull(@ZasobyKopia,0) > 0
		begin--zasoby
			declare @przeliczanieZasobow varchar(max) = ISNULL((SELECT TOP 1 KNF_Wartosc FROM dbo.CtiKonfiguracja WHERE KNF_Numer = 1008), '1')

			insert into dbo.CtiZasobDok
				(CZS_CZID, CZS_CZGID, CZS_CTNID, CZS_DokTyp, CZS_Kod, CZS_JMCzasu, CZS_CzasPracy, CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, CZS_KosztPracy 
				, CZS_KosztUzbrojenia, CZS_KosztRozbrojenia, czs_ilosc, CZS_PwBlokada, CZS_RwBlokada 
				, CZS_CzasStart, CZS_CzasEnd
				, CZS_Lp, CZS_Opis
				, CZS_Dzielnik, CZS_PlanowanieCzasuPracy )
			SELECT CZS_CZID, CZS_CZGID, @idZleceniaProstego, 2, CZS_Kod, CZS_JMCzasu
				, CASE WHEN @przeliczanieZasobow IN ('True', 'TRUE', '1') THEN CZS_CzasPracy * (@Ilosc / @IloscTH) ELSE ISNULL(CZS_CzasPracy,0) END CZS_CzasPracy
				, CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, CZS_KosztPracy, CZS_KosztUzbrojenia, CZS_KosztRozbrojenia
				, CASE WHEN @przeliczanieZasobow IN ('True', 'TRUE', '1') THEN ISNULL(czs_ilosc,0) * (@Ilosc / @IloscTH) ELSE ISNULL(CZS_Ilosc,0) END czs_ilosc
				, ISNULL(CZS_PwBlokada,0), ISNULL(CZS_RwBlokada,0)
				, @dataStart, dbo.CTIProdukcjaZPZasobDataEnd(CZS_CZID,@dataStart,dbo.CTIProdukcjaZPZasobCzasCalkowity(CZS_CzasPracy, CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, @Ilosc, COALESCE(CZS_Dzielnik,@Ilosc,0), CZS_JMCzasu, CZS_ID)) 
				, ROW_NUMBER() OVER (PARTITION BY CZS_DokTyp, CZS_CTNID ORDER BY  isnull(CZS_Lp,0),CZS_ID) as Lp--20170810 LP
				, CZS_Opis--20180125
				, CZS_Dzielnik, CZS_PlanowanieCzasuPracy
			FROM dbo.CtiZasobDok LEFT JOIN dbo.CtiKonfigJM on CKJ_Typ = 1 and CZS_JMCzasu = CKJ_Lp
				INNER JOIN dbo.CtiZasob on CZS_CZID = CZ_ID
			where CZS_DokTyp = 1 and CZS_ctnid = @CTNId
			order by isnull(CZS_Lp,0), CZS_ID--20170810 LP
			SELECT @dataStop=MAX(CZS_CzasEnd) FROM dbo.CtiZasobDok WHERE CZS_CTNID = @idZleceniaProstego AND CZS_DokTyp=2
		end

			
	end

	--przepisanie surowców z TH
end
else
begin

	PRINT('Wskazano ID istniejacego ZP, aktualizacja');

	UPDATE dbo.CtiZlecenieNag SET	
		  CZN_Ilosc		= @Ilosc
		, CZN_CTNId		= @CTNId
		, CZN_OperModyf = @Ope
		, CZN_Status	= @Status
		, CZN_TwrId		= @TwrId
		, CZN_TwrKod	= @TwrKod
		, CZN_DataModyf = GETDATE()
		, CZN_Opis		= @opis
		, CZN_CzasStart = @dataStart
		, CZN_CzasEnd	= @dataStop
		, CZN_TwrJm		= @Jm
		, CZN_LP		= @lp
		, CZN_CenaID	= @cenaID
		, CZN_PominCzasZasobow = ISNULL(@pominCzasZasobow, CZN_PominCzasZasobow)
		, CZN_DomyslneMagSur = ISNULL(@domyslneMagSur, CZN_DomyslneMagSur)
		, CZN_UwzglednijDateZPNaZasobach = @uwzglednijDateZPNaZasobach
		, CZN_GenerateRWAfterResource = @generateRWAfterResource
	WHERE CZN_ID = @id;

	UPDATE dbo.CtiZlecenieZElem
	SET CZZE_Ilosc = @Ilosc
	WHERE CZZE_CZNID = @id
	AND CZZE_Typ = 2;

	set @idZleceniaProstego = @id
end

--Nowy mechanizm przypisywania statusu na technologii
UPDATE dbo.CtiTechnolNag SET CTN_DodatkowyStatus = 2 WHERE CTN_ID = ISNULL(@CTNId, -1)

if @idZleceniaProstego > 0	--numer wlasny
begin
	PRINT('Ustawienie numeru wlasnego');

	if not exists (SELECT isnull(DNW_Numer,0) FROM dbo.CtiDokNrWlasny where DNW_DokTyp = 2 and DNW_DokID = @idZleceniaProstego)
		insert dbo.CtiDokNrWlasny (DNW_DokTyp, DNW_DokID, DNW_Numer) values (2,@idZleceniaProstego,@NrWlasny)
	else
		update  dbo.CtiDokNrWlasny set DNW_Numer = @NrWlasny  where DNW_DokTyp = 2 and DNW_DokID = @idZleceniaProstego

	IF ISNULL(@czyIstniejeUstawienie, 0) > 0
	BEGIN
	 IF(not exists(SELECT TOP 1 CPS_ID FROM dbo.CtiProdukcjaStatus where CPS_DokID = @idZleceniaProstego))
		INSERT INTO dbo.CtiProdukcjaStatus (CPS_DokID, CPS_DokTyp, CPS_StatusMMWydane, CPS_StatusMMKontrola, CPS_StatusPWWG, IloscZrealizowana, DataModyfikacji)
									VALUES (@idZleceniaProstego, 2, -1, -1, -1, 0, GETDATE())

		EXEC dbo.CTIProdukcjaUpdateStatusyZP 0, @idZleceniaProstego

	END
end

Select @idZleceniaProstego as ID 
END
GO

# [dbo].[CTIProdukcjaZlecenieCofnij]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieCofnij]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZlecenieCofnij]
@id int
AS
BEGIN
declare @info varchar(200) = ''
declare @status int = 0;

	select @info = dbo.CTIProdukcjaZlecenieNumer(CZN_ID), @status = CZN_Status from dbo.CtiZlecenieNag where CZN_ID = @id
	DECLARE @automatycznyStatusZP INT = (SELECT CAST(ISNULL(KNF_Wartosc,1) AS INT) FROM dbo.CtiKonfiguracja WHERE KNF_Numer = 64 AND ISNULL(KNF_Wartosc,'') <> '')
	DECLARE @MM INT = (SELECT CAST(ISNULL(KNF_Wartosc,0) AS INT) FROM dbo.CtiKonfiguracja WHERE KNF_Numer = 63 AND ISNULL(KNF_Wartosc,'') <> '')
	DECLARE @ZPamount DECIMAL = (select sum(CZN_Ilosc) from dbo.CtiZlecenieNag where czn_id =@id)
	IF @status = 3
	BEGIN
		IF @automatycznyStatusZP = 1 and @MM = 1 and (SELECT dbo.CTIProdukcjaZlecenieIloscSkontrolowana(@id))>=@ZPamount
			BEGIN
				set @info += ' - w związku z włączoną automatyczną blokadą zleceń (MM na maksymalną ilość) nie da się odblokować zlecenia.'
			END
		ELSE IF @automatycznyStatusZP = 1 and @MM = 0 and (SELECT dbo.CTIProdukcjaZlecenieIloscZrealizowana(@id,0,0))>=@ZPamount
			BEGIN
				set @info += ' - w związku z włączoną automatyczną blokadą zleceń (PW na maksymalną ilość) nie da się odblokować zlecenia.'
			END
		ELSE
			BEGIN
					Update dbo.CtiZlecenieNag set czn_status = 2 where CZN_ID = @id
					set @info += ' - pomyślnie odblokowano.'
			END
	END
	ELSE IF @status not in (0,3)
	BEGIN
		IF not exists (select CZD_CZNId from dbo.CtiZlecenieDok JOIN CDN.TraNag ON CZD_TrnId = TrN_TrNID where CZD_CZNId = @id AND TrN_Anulowany = 0)--dokumenty optima
		begin
			if not exists (select ZZs_CZNID from dbo.CtiZlecenieZasob where ZZs_CZNID = @id and ZZs_DokTyp = 2)--realizacja zasobu
			begin
				 Update dbo.CtiZlecenieNag set czn_status = 0 where CZN_ID = @id
				 set @info += ' - pomyślnie otwarto.'
			end
			else set @info += ' - błąd: istnieją realizacje zasobu.'
		end
		else set @info += ' - błąd: istnieje powiązanie z dokumentami w Optimie.'
	END

	select @info as Info
END

GO

# [dbo].[CTIProdukcjaZlecenieDel]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieDel]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZlecenieDel]
@id int,
@walidacjaStatusu int = 1
AS
BEGIN
declare @status int
DECLARE @SavePointName NVARCHAR(MAX) = 'SavePoint';

select @status =dbo.CTIProdukcjaStatusy(2,CZN_ID)  from  dbo.CtiZlecenieNag  where CZN_ID =@id
if @status=0 or @walidacjaStatusu = 0
begin
	BEGIN TRY
        -- Sprawdzenie, czy istnieje aktywna transakcja
        IF @@TRANCOUNT > 0
        BEGIN
            SAVE TRANSACTION @SavePointName;
        END
		 declare @CZZNID int = 0
		 
		  
		if exists (select isnull(CZD_ID,0) from dbo.CtiZlecenieDok LEFT JOIN cdn.tranag on czd_trnid = trn_trnid where isnull(trn_trnid,0) = 0 and CZD_CZNId = @id )
			begin
				delete FROM CtiZlecenieDokElem where CZE_TrnId in   
				(select isnull(czd_trnid,0) from dbo.CtiZlecenieDok LEFT JOIN cdn.tranag on czd_trnid = trn_trnid where isnull(trn_trnid,0) = 0 and CZD_CZNId = @id)

				delete from dbo.CtiZlecenieDok where CZD_ID in 
				 (select isnull(CZD_ID,0) from dbo.CtiZlecenieDok LEFT JOIN cdn.tranag on czd_trnid = trn_trnid where isnull(trn_trnid,0) = 0 and CZD_CZNId = @id)
		  end
		  
		IF EXISTS (SELECT CZD_TrNID FROM dbo.CtiZlecenieDok JOIN CDN.TraNag ON CZD_TrnID = TrN_TrNID WHERE TrN_Bufor < 0 AND CZD_CZNID = @id)
		BEGIN
			DELETE FROM dbo.CtiZlecenieDokElem WHERE CZE_TrNID IN
			(SELECT CZD_TrNID FROM dbo.CtiZlecenieDok JOIN CDN.TraNag ON CZD_TrnID = TrN_TrNID WHERE TrN_Bufor < 0 AND CZD_CZNID = @id);

			DELETE FROM dbo.CtiZlecenieDok WHERE CZD_TrNID IN
			(SELECT CZD_TrNID FROM dbo.CtiZlecenieDok JOIN CDN.TraNag ON CZD_TrnID = TrN_TrNID WHERE TrN_Bufor < 0 AND CZD_CZNID = @id)
		END


		SELECT  @CZZNID = CZZE_CZZNID FROM  CtiZlecenieZElem WHERE CZZE_CZNID = @id
		DELETE from  dbo.CtiZlecenieZasobHist WHERE ZsH_CZNID = @id 
		DELETE FROM  dbo.CtiZlecenieZasob WHERE ZZs_CZNID = @id
		DELETE FROM	 dbo.CtiZalaczniki WHERE CZAL_DokTyp = 4 AND CZAL_DokId IN (SELECT CZS_ID FROM dbo.CtiZasobDok WHERE CZS_DokTyp = 2 AND CZS_CTNID = @id)
		DELETE FROM  dbo.CtiZasobDok WHERE CZS_CTNID = @id and CZS_DokTyp = 2 
		DELETE FROM  dbo.CtiProdukcjaStatus WHERE CPS_DokId = @id AND CPS_DokTyp = 2 

		IF EXISTS(SELECT czn_ctnid FROM dbo.CtiZlecenieNag WHERE CZN_CTNId in (SELECT TOP 1 CZN_CTNId FROM dbo.CtiZlecenieNag WHERE CZN_ID = @id))
			UPDATE dbo.CtiTechnolNag SET CTN_DodatkowyStatus = -1 WHERE ctn_id = (SELECT TOP 1 CZN_CTNId FROM dbo.CtiZlecenieNag WHERE CZN_ID = @id)
		
-----powiązania z ZPZ--170829
		DECLARE kursor cursor FOR
				SELECT distinct CZZE_CZNID FROM dbo.CtiZlecenieZElem
		DECLARE @idZPZ INT OPEN kursor
		FETCH NEXT FROM kursor   INTO @idZPZ
		while @@FETCH_STATUS = 0
		BEGIN
			delete FROM CtiZlecenieZElem where CZZE_CZZNID = @idZPZ and CZZE_CZNID =  @id and isnull(CZZE_Typ,2) = 2	

			--przenumerowanie
			update dbo.CtiZlecenieZElem Set CZZE_Lp= lp from
			(	select ROW_NUMBER() OVER (PARTITION BY CZZE_CZZNID ORDER BY  isnull(CZZE_Lp,0),CZZE_ID) as Lp, CZZE_ID as Id from  dbo.CtiZlecenieZElem  where CZZE_CZZNID = @idZPZ  
			) a where CZZE_ID=Id
			and isnull(CZZE_Typ,2) = 2	

			 FETCH NEXT FROM kursor  INTO @idZPZ
		END
		CLOSE kursor  deallocate kursor
-------
		 DELETE FROM  dbo.CtiDokNrWlasny WHERE DNW_DokTyp = 2 AND DNW_DokID = @id
		 DELETE FROM  dbo.CtiZleceniePrc where  CZO_CZNId = @id
		 DELETE FROM  dbo.CtiZlecenieNag where CZN_ID = @id
		 DELETE FROM  dbo.CtiZalaczniki WHERE CZAL_DokTyp = 1 AND CZAL_DokId = @id


--- załączniki do zasobów na zleceniu
		

		
		
	END TRY
	BEGIN CATCH
        -- Sprawdzenie, czy istnieje aktywna transakcja
        IF @@TRANCOUNT > 0
        BEGIN
            IF @@TRANCOUNT = 1
            BEGIN
                ROLLBACK TRANSACTION;
            END
            ELSE
            BEGIN
                ROLLBACK TRANSACTION @SavePointName;
            END
        END

        -- Przekazanie informacji o błędzie
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
ELSE
BEGIN
	RAISERROR('Status zlecenia  nie pozwala na jego usunięcie.', 16, 1);
END
END

GO

# [dbo].[CTIProdukcjaZlecenieDuplikat]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieDuplikat]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZlecenieDuplikat]
@idZlecenia int,
@Ope int,
@NrWlasny nvarchar(50)
AS
BEGIN
declare @numerZlc int = 0
declare @miesiac int = month(GETDATE())
declare @rok int =  year(GETDATE())
declare @nrpelny varchar(20) =''
declare @Seria varchar(5) = ''
declare @TwrId  int = 0
declare @TwrKod varchar(20) = ''

select @numerZlc = isnull(Max(CZN_Numer),0)+1  from dbo.CtiZlecenieNag
where CZN_Rok = @rok --and isnull(CZN_Seria,'') = '' and CZN_Miesiac = @miesiac --tylko rok
select  @nrpelny='ZP/'+cast(replace(str(@numerZlc,5),' ','0')as char(5)) +'/'+cast(@rok as varchar(4))

	declare @NoweId int= 0
	
	INSERT INTO dbo.CtiZlecenieNag 
	(CZN_Numer,CZN_Miesiac,CZN_Rok,CZN_Seria, CZN_TwrId, CZN_TwrKod, CZN_Ilosc, CZN_OpeWystaw, CZN_DataWystaw, CZN_OperModyf, CZN_DataModyf, CZN_Status,czn_ctnid,CZN_NrPelny,CZN_Opis,CZN_CzasStart,CZN_CzasEnd, CZN_LP, CZN_CenaID, CZN_PominCzasZasobow, CZN_DomyslneMagSur, CZN_TwrJM)
	Select @numerZlc,@miesiac,@rok,@Seria, CZN_TwrId, CZN_TwrKod, CZN_Ilosc, @Ope,GETDATE(),@Ope,GETDATE(), 0,czn_ctnid,@nrpelny,CZN_Opis,CZN_CzasStart,CZN_CzasEnd, (SELECT MAX(zn.CZN_LP) + 1 FROM dbo.CtiZlecenieNag zn), CZN_CenaID, CZN_PominCzasZasobow, CZN_DomyslneMagSur, CZN_TwrJM
	From dbo.CtiZlecenieNag where CZN_ID = @idZlecenia
	Select @NoweId = SCOPE_IDENTITY()

	if @NoweId>0
	begin
		--pracownicy
		Insert into  dbo.CtiZleceniePrc (CZO_CZNId, CZO_PrcId, CZO_PrcKodRPC, CZO_PrcKod, CZO_Ilosc,CZO_PrcTyp)
		select  @NoweId,CZO_PrcId,CZO_PrcKodRPC, CZO_PrcKod, CZO_Ilosc,CZO_PrcTyp
		from  dbo.CtiZleceniePrc where czo_cznid = @idZlecenia

		--zasoby 'główne'
		insert into dbo.CtiZasobDok
			(CZS_CZID, CZS_CZGID, CZS_CTNID, CZS_Kod, CZS_JMCzasu 
			, CZS_CzasPracy,CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, CZS_KosztPracy 
			, CZS_KosztUzbrojenia, CZS_KosztRozbrojenia,CZS_DokTyp
			, CZS_PwBlokada, CZS_RwBlokada, CZS_Ilosc, CZS_CzasStart, CZS_CzasEnd
			, CZS_Lp, CZS_Opis, CZS_PrcId, CZS_Dzielnik, CZS_PlanowanieCzasuPracy, CZS_CzasPlanowany, CZS_WieleOsob, CZS_ZasobPrcId
			, CZS_ParentID, CZS_UtworzonoPracownika, CZS_PWOdpad, CZS_RealizacjaCalkowita)
		SELECT CZS_CZID, CZS_CZGID, @NoweId, CZS_Kod, CZS_JMCzasu 
			, CZS_CzasPracy,CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, CZS_KosztPracy 
			, CZS_KosztUzbrojenia, CZS_KosztRozbrojenia, CZS_DokTyp
			, isnull(CZS_PwBlokada,0), isnull(CZS_RwBlokada,0), CZS_Ilosc, CZS_CzasStart, CZS_CzasEnd
			, CZS_Lp
			, CZS_Opis, CZS_PrcId, CZS_Dzielnik, CZS_PlanowanieCzasuPracy, CZS_CzasPlanowany, CZS_WieleOsob, CZS_ZasobPrcId
			, CZS_ParentID, CZS_UtworzonoPracownika, CZS_PWOdpad, CZS_RealizacjaCalkowita
		FROM dbo.CtiZasobDok 
			LEFT JOIN dbo.CtiKonfigJM on CKJ_Typ = 1 and CZS_JMCzasu = CKJ_Lp
			INNER JOIN dbo.CtiZasob on CZ_ID = CZS_CZID
			INNER JOIN  dbo.CtiZasobGrupy on CZS_CZGID = CZG_ID 
			where CZS_DokTyp = 2 
			and CZS_ctnid =@idZlecenia
			and CZS_ParentID IS NULL
		order by isnull(CZS_Lp,0), CZS_ID

		--zasoby 'pracownicy'
		insert into dbo.CtiZasobDok
			(CZS_CZID, CZS_CZGID, CZS_CTNID, CZS_Kod, CZS_JMCzasu 
			, CZS_CzasPracy,CZS_CzasUzbrojenia, CZS_CzasRozbrojenia, CZS_KosztPracy 
			, CZS_KosztUzbrojenia, CZS_KosztRozbrojenia,CZS_DokTyp
			, CZS_PwBlokada, CZS_RwBlokada, CZS_Ilosc, CZS_CzasStart, CZS_CzasEnd
			, CZS_Lp, CZS_Opis, CZS_PrcId, CZS_Dzielnik, CZS_PlanowanieCzasuPracy, CZS_CzasPlanowany, CZS_WieleOsob, CZS_ZasobPrcId
			, CZS_ParentID, CZS_UtworzonoPracownika, CZS_PWOdpad, CZS_RealizacjaCalkowita)
		SELECT stary.CZS_CZID, stary.CZS_CZGID, @NoweId, stary.CZS_Kod, stary.CZS_JMCzasu 
			, stary.CZS_CzasPracy,stary.CZS_CzasUzbrojenia, stary.CZS_CzasRozbrojenia, stary.CZS_KosztPracy 
			, stary.CZS_KosztUzbrojenia, stary.CZS_KosztRozbrojenia, stary.CZS_DokTyp
			, isnull(stary.CZS_PwBlokada,0), isnull(stary.CZS_RwBlokada,0), stary.CZS_Ilosc, stary.CZS_CzasStart, stary.CZS_CzasEnd
			, stary.CZS_Lp
			, stary.CZS_Opis, stary.CZS_PrcId, stary.CZS_Dzielnik, stary.CZS_PlanowanieCzasuPracy, stary.CZS_CzasPlanowany, stary.CZS_WieleOsob, stary.CZS_ZasobPrcId
			, (
				SELECT TOP 1 nowy.CZS_ID 
				FROM dbo.CtiZasobDok nowy 
				WHERE nowy.CZS_DokTyp = 2
				AND nowy.CZS_CTNID = @NoweId
				AND nowy.CZS_LP = parent.CZS_LP
			), stary.CZS_UtworzonoPracownika, stary.CZS_PWOdpad, stary.CZS_RealizacjaCalkowita
		FROM dbo.CtiZasobDok stary
			JOIN dbo.CtiZasobDok parent ON stary.CZS_ParentID = parent.CZS_ID
			LEFT JOIN dbo.CtiKonfigJM on CKJ_Typ = 1 and stary.CZS_JMCzasu = CKJ_Lp
			INNER JOIN dbo.CtiZasob on CZ_ID = stary.CZS_CZID
			INNER JOIN  dbo.CtiZasobGrupy on stary.CZS_CZGID = CZG_ID 
			where stary.CZS_DokTyp = 2 
			and stary.CZS_ctnid =@idZlecenia
			and stary.CZS_ParentID IS NOT NULL
		order by isnull(stary.CZS_Lp,0), stary.CZS_ID

		--załączniki ZP
		insert into dbo.CtiZalaczniki
			(CZAL_DokTyp, CZAL_DokID, CZAL_Base64, CZAL_Sciezka, CZAL_Nazwa, CZAL_Rozszerzenie)
		SELECT 
			CZAL_DokTyp, @NoweId, CZAL_Base64, CZAL_Sciezka, CZAL_Nazwa, CZAL_Rozszerzenie
		FROM dbo.CtiZalaczniki
		WHERE CZAL_DokTyp = 1 AND CZAL_DokID = @idZlecenia
	
		--załączniki zasobów
		insert into dbo.CtiZalaczniki
			(CZAL_DokTyp, CZAL_DokID, CZAL_Base64, CZAL_Sciezka, CZAL_Nazwa, CZAL_Rozszerzenie)
		SELECT 
			CZAL_DokTyp, (SELECT TOP 1 nowy.CZS_ID FROM dbo.CtiZasobDok nowy 
				WHERE nowy.CZS_DokTyp = 2
				AND nowy.CZS_CTNID = @NoweId
				AND nowy.CZS_LP = stary.CZS_Lp
			), CZAL_Base64, CZAL_Sciezka, CZAL_Nazwa, CZAL_Rozszerzenie
		FROM dbo.CtiZalaczniki
		JOIN dbo.CtiZasobDok stary ON (CZAL_DokID = stary.CZS_ID AND stary.CZS_DokTyp = 2)
		WHERE CZAL_DokTyp = 4 
		AND stary.CZS_CTNID = @idZlecenia

		--numer wlasny
		if not exists (SELECT isnull(DNW_Numer,0) FROM dbo.CtiDokNrWlasny where DNW_DokTyp = 2 and DNW_DokID = @NoweId)
			insert dbo.CtiDokNrWlasny (DNW_DokTyp, DNW_DokID, DNW_Numer) values (2,@NoweId,@NrWlasny)
		else
			update  dbo.CtiDokNrWlasny set DNW_Numer = @NrWlasny  where DNW_DokTyp = 2 and DNW_DokID = @NoweId

		--surowce/odpady
		DECLARE @elemID INT;
		DECLARE @nowyElemID INT;

		DECLARE elementyKursor CURSOR FOR
		SELECT CZE_ID FROM dbo.CtiZlecenieElem
		WHERE CZE_CZNId = @idZlecenia;

		OPEN elementyKursor;
		FETCH NEXT FROM elementyKursor INTO @elemID;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			insert into dbo.CtiZlecenieElem (CZE_CZNId, CZE_CZNTyp, CZE_Lp, CZE_TwrId, CZE_TwrKod, CZE_Ilosc, CZE_Typ, CZE_CenaWaga, CZE_Cena, CZE_DokId, CZE_DokTyp, CZE_DokNumer, CZE_Opis, CZE_Data, CZE_Magazyn, CZE_Staly, CZE_WplywNaCene, CZE_Polprodukt, CZE_DzialID)
			select @NoweId, CZE_CZNTyp, CZE_Lp, CZE_TwrId, CZE_TwrKod, CZE_Ilosc, CZE_Typ, CZE_CenaWaga, CZE_Cena, CZE_DokId, CZE_DokTyp, CZE_DokNumer, CZE_Opis, CZE_Data, CZE_Magazyn, CZE_Staly, CZE_WplywNaCene, CZE_Polprodukt, CZE_DzialID
			from dbo.CtiZlecenieElem WHERE CZE_ID = @elemID

			SET @nowyElemID = SCOPE_IDENTITY();

			INSERT INTO dbo.CtiPlanowanaCecha
			(CPC_TypDokumentu, CPC_IdElementu, CPC_IdTowaru, CPC_AtrybutID, 
			CPC_AtrybutTyp, CPC_AtrybutKod, CPC_Komparator, CPC_Wartosc, CPC_TypDaty) 
			SELECT
			CPC_TypDokumentu, @nowyElemID, CPC_IdTowaru, CPC_AtrybutID, 
			CPC_AtrybutTyp, CPC_AtrybutKod, CPC_Komparator, CPC_Wartosc, CPC_TypDaty
			FROM dbo.CtiPlanowanaCecha
			WHERE CPC_TypDokumentu = 2 AND CPC_IdElementu = @elemID;

			FETCH NEXT FROM elementyKursor INTO @elemID;
		END

		CLOSE elementyKursor;
		DEALLOCATE elementyKursor;

		

		
	end


	select @NoweId as ID
END
GO

# [dbo].[CTIProdukcjaZlecenieList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZlecenieList]
 @dataOd		varchar(20),
 @dataDo		varchar(20),
 @prmData		int,			--0 bez --1 ograniczenie po dacie
 @prmZamkniete	int,			--plus zamkniďż˝te
 @prmStatusy	int = 1,			--20170824
 @prmNiepotwierdzone int = 1,
 @prmDoRealizacji int = 0
AS
BEGIN
declare @DokTyp int = 2 -- ZP
declare @prmPole1 int = 0 SELECT @prmPole1 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 1 and CAU_TypDok = @DokTyp
declare @prmPole2 int = 0 SELECT @prmPole2 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 2 and CAU_TypDok = @DokTyp
declare @prmPole3 int = 0 SELECT @prmPole3 = CAU_Aktywny FROM  dbo.CtiAtrybutyUprawnienia where cau_canlp = 3 and CAU_TypDok = @DokTyp
declare @obslugaWydania	int = 0 select @obslugaWydania = isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where knf_numer = 62
declare @obslugaKontroli int = 0 select @obslugaKontroli = isnull(KNF_Wartosc,0) from dbo.CtiKonfiguracja where knf_numer = 63
declare @przekraczanieRealizacji int = 0 select @przekraczanieRealizacji = case when KNF_Wartosc IN ('True', 'TRUE', '1') then 1 else 0 end from dbo.CtiKonfiguracja where knf_numer = 1016

SELECT a.* FROM
(
		SELECT  CZN_ID AS ID, dbo.CTIProdukcjaZlecenieNumer(CZN_ID) AS CZN_Numer, isnull(CZN_CTNId,0) as CZN_CTNId
			, isnull(CZN_TwrId,0) as CZN_TwrId, isnull(Twr_Kod,'') AS CZN_TwrKod, ISNULL(CZN_Ilosc, 0) AS Ilosc
			, isnull(CZN_OpeWystaw,0) as CZN_OpeWystaw,isnull(CZN_OperModyf,0) as CZN_OperModyf
			, ISNULL(CZN_DataWystaw, GETDATE()) AS CZN_DataWystaw ,ISNULL(CZN_DataModyf, GETDATE()) AS CZN_DataModyf
			, ISNULL(a.CO_Kod,'') AS Wystawil, ISNULL(b.CO_Kod,'') AS Modyfikowal 
			, isnull(CTN_Nazwa,'') AS CTN_Nazwa,ISNULL(CZN_Opis, '') AS CZN_Opis 
			, ISNULL(CtiTechnolNag.CTN_Cecha, 0) AS ctn_cecha
			, CZN_Status as CZN_Status1, case  when CZN_Status in (0,3,4) then CZN_Status else dbo.CTIProdukcjaStatusy(2, CZN_ID) end AS CZN_Status
			--statusy
			, case when @prmStatusy = 1 then 
				case @obslugaWydania when 1 then dbo.CTIProdukcjaStatusyNazwy(23, (case  when CTN_Status in(0,3) then CZN_Status else dbo.CTIProdukcjaStatusy(23, CZN_ID) end )) else '' end 
				else '' end AS Status1
			, case when @prmStatusy = 1 then 
			dbo.CTIProdukcjaStatusyNazwy(24, (case  when CTN_Status in (0,3,4) then CZN_Status else dbo.CTIProdukcjaStatusy(24, CZN_ID) end)) 
			else '' end AS Status2
			, case when @prmStatusy = 1 then case @obslugaKontroli when 1 then dbo.CTIProdukcjaStatusyNazwy(25,(case  when CTN_Status in(0,3) then CZN_Status else dbo.CTIProdukcjaStatusy(26, CZN_ID) end ) ) else '' end 
			else '' end AS Status3
			--pola specjalne
			, case @prmPole1 when 1 then (SELECT TOP (1) Wartosc FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CtiZlecenieNag.CZN_CTNId, CtiZlecenieNag.CZN_ID, 0, 0, 0, 0, 0) WHERE (Lp = 1)) else '' end AS Pole1
			, case @prmPole2 when 1 then (SELECT TOP (1) Wartosc FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CtiZlecenieNag.CZN_CTNId, CtiZlecenieNag.CZN_ID, 0, 0, 0, 0, 0) WHERE (Lp = 2))  else '' end AS Pole2
			, case @prmPole3 when 1 then (SELECT TOP (1) Wartosc FROM dbo.CTIProdukcjaTowaryPolaSpecjalneNew(CtiZlecenieNag.CZN_CTNId, CtiZlecenieNag.CZN_ID, 0, 0, 0, 0, 0) WHERE (Lp = 3))  else '' end AS Pole3
			, isnull((select top 1 czze_czznid from dbo.CtiZlecenieZElem where czze_cznid = CZN_ID and isnull(CZZE_Typ,2)=2),0) as czznid
			, ISNULL(CZN_CzasStart, GETDATE()) AS CzasStart, ISNULL(CZN_CzasEnd, GETDATE()) AS CzasEnd
			, replace(Twr_Nazwa,char(10), ' ')			as TwrNazwa
			, ISNULL(NrZp.DNW_Numer,CZN_NrPelny)		as NumerDokWlasny
			, ISNULL(NrTH.DNW_Numer,CTN_Nazwa)			as NumerDokWlasnyTH
			, case isnull(CZN_DokZwiazTyp,0) when 0 then '' when 9 then isnull((select TOP 1 CBN_NrPelny from dbo.CtiBrakiElem INNER JOIN  DBO.CtiBrakiNag ON CBE_CBNid = CBN_ID where  CBE_CZNID = czn_id and isnull(CBE_Typ,2) = 2),'') --BRK
			  else isnull((select TOP 1 trn_numerpelny from cdn.TraElem as tre INNER JOIN cdn.TraNag	ON tre.TrE_TrNId = TrN_TrNID WHERE isnull(CZN_DokZwiazTyp,0) >0 and tre.TrE_TypDokumentu = CZN_DokZwiazTyp and tre.TrE_TrNId = CZN_DokZwiazID and tre.TrE_TrEID = CZN_DokZwiazTreID ),'')--ro
			  end as DokPowz
			, dbo.CTIProdukcjaZlecenieIloscZrealizowana(CZN_ID, 0, 0) AS IloscZrealizowana
			, ISNULL((SELECT TOP 1 TrN_NumerObcy FROM CDN.TraNag WHERE TrN_TrNID = CZN_DokZwiazID AND TrN_TypDokumentu = 308), '') AS NumerObcyZamowienia
		FROM dbo.CtiZlecenieNag 
			LEFT JOIN dbo.CtiOperatorzy AS a		ON ISNULL(CZN_OpeWystaw,0) = a.CO_ID 
			LEFT JOIN dbo.CtiOperatorzy AS b		ON ISNULL(CZN_OperModyf,0) = b.CO_ID 
			LEFT JOIN dbo.CtiTechnolNag				ON ISNULL(CZN_CTNId,0) = CTN_ID 
			LEFT JOIN CDN.Towary					ON ISNULL(CZN_TwrId,0) = Twr_TwrId
			LEFT JOIN dbo.CtiDokNrWlasny as NrZp	ON CZN_ID = isnull(NrZp.DNW_DokID,0) and  2 = isnull(NrZp.DNW_DokTyp,0) 
			LEFT JOIN dbo.CtiDokNrWlasny as NrTH	ON ISNULL(CZN_CTNID,0) = isnull(NrTH.DNW_DokID,0) and  1 = isnull(NrTH.DNW_DokTyp,0) 
		where
			(
				((isnull(@prmData,0) = 0) or (@prmData = 1 and CONVERT(VARCHAR, ISNULL(CZN_DataWystaw, GETDATE()), 23)  BETWEEN CONVERT(VARCHAR, @dataOd, 23) AND CONVERT(VARCHAR, @dataDo, 23)))
				and
				((@prmZamkniete = 1) or (isnull(@prmZamkniete,0) = 0 and ((case  when CTN_Status in(0,3) then CZN_Status else dbo.CTIProdukcjaStatusy(2, CZN_ID) end) < 3)))
				and
				((@prmNiepotwierdzone = 1) or ((isnull(@prmNiepotwierdzone,0)) = 0) and (czn_status > 0))
			)
) a
WHERE
    ((@prmDoRealizacji = 0) or (@przekraczanieRealizacji = 1) or (Ilosc > IloscZrealizowana))
ORDER BY 1 DESC
    
END

GO

# [dbo].[CTIProdukcjaZlecenieListShort]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieListShort]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZlecenieListShort]
 @typ int,--24 PW -- 26 Kontrola
 @dataOd varchar(20),
 @dataDo varchar(20),
 @prmWszystkie int = 1,
 @prmDoRealizacji int = 0
AS
BEGIN

	declare @przekraczanieRealizacji int = 0 select @przekraczanieRealizacji = case when KNF_Wartosc IN ('True', 'TRUE', '1') then 1 else 0 end from dbo.CtiKonfiguracja where knf_numer = 1016

	SELECT 
	a.ID,
	a.NrPelny,
	a.KodWyrobu
	FROM
	(
		SELECT 
		CZN_ID as ID,  
		dbo.CTIProdukcjaZlecenieNumer(CZN_ID) as NrPelny, 
		CZN_TwrKod as KodWyrobu,
		CZN_Ilosc AS Ilosc, 
		dbo.CTIProdukcjaZlecenieIloscZrealizowana(CZN_ID, 0, 0) AS IloscZrealizowana

		FROM dbo.CtiZlecenieNag
			--LEFT JOIN dbo.CtiDokNrWlasny on CZN_ID = isnull(DNW_DokID,0) and  2 = isnull(DNW_DokTyp,0) 
		where CZN_Status in (1,2) 
			and CONVERT(VARCHAR, ISNULL(CZN_DataWystaw, GETDATE()), 23)  BETWEEN CONVERT(VARCHAR, @dataOd, 23) AND CONVERT(VARCHAR, @dataDo, 23)
			--and dbo.CTIProdukcjaStatusy(2, CZN_ID) in (1,2) -- czy zlecenie nie zamknięte i nie w buforze
			--and dbo.CTIProdukcjaStatusy(@typ, CZN_ID) <> 2 -- nie wykorzystano
	) a
	WHERE 
		((@prmDoRealizacji = 0) or (@przekraczanieRealizacji = 1) or (Ilosc > IloscZrealizowana))
	ORDER BY a.ID DESC

END
GO

# [dbo].[CTIProdukcjaZlecenieListShortKontrola]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieListShortKontrola]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTIProdukcjaZlecenieListShortKontrola]
@dataOd VARCHAR(20),
@dataDo VARCHAR(20)
AS
BEGIN
	SELECT 
		a.ID,
		a.NrPelny,
		a.KodWyrobu
		FROM
		(
			SELECT 
				CZN_ID AS ID,  
				dbo.CTIProdukcjaZlecenieNumer(CZN_ID) AS NrPelny, 
				CZN_TwrKod AS KodWyrobu,
				CZN_Ilosc AS Ilosc, 
				dbo.CTIProdukcjaZlecenieIloscZrealizowana(CZN_ID, 0, 0) AS IloscZrealizowana
			FROM dbo.CtiZlecenieNag
			WHERE CZN_Status in (1,2) 
				AND CONVERT(VARCHAR, ISNULL(CZN_DataWystaw, GETDATE()), 23)  
					BETWEEN CONVERT(VARCHAR, @dataOd, 23) AND CONVERT(VARCHAR, @dataDo, 23)
				AND dbo.CTIProdukcjAStatusy(24, CZN_ID) in (1,2) --produkcja (zrealizowano czesciowo/zrealizowano)
				AND dbo.CTIProdukcjAStatusy(26, CZN_ID) <> 2 -- kontrola (nie skontrolowano wszystkiego)
		) a
		ORDER BY a.ID DESC
END
GO

# [dbo].[CTIProdukcjaZleceniePowiazaneDokDost]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZleceniePowiazaneDokDost]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CTIProdukcjaZleceniePowiazaneDokDost]
 @CZNId int,@dokTyp int --312 MM -- 304 RW -- 303 PW
AS
BEGIN

	if(@dokTyp =306 ) --WZ
	begin

		select TraNagG.TrN_trnid as DokId, TraNagG.TrN_typdokumentu as DokTyp, TraNagG.TrN_NumerPelny AS DokNumerPelny --dane dokumentu głównego
			, TraElemG.TrE_TwrId as TwrId, TraElemG.TrE_TwrKod as TwrKod,TraElemG.TrE_JM as JM --dane towaru
			, case when ISNULL(TsD_TrSIdDost,0) = 0 then ISNULL(TraSElemG.TrS_trsiddost,0) else ISNULL(TsD_TrSIdDost,0) end as DostId--id dostawy --NULL - dla dokumentów nie generujących dostaw
			, case when ISNULL(TsD_TrSIdDost,0) = 0 then ISNULL(TraNagDST.TrN_NumerPelny,'') else ISNULL(TsD_NumerPelny,'') end as DostNumerPelny--numer dokumentu
			, ISNULL(TraNagDST.TrN_TrNID,0) as DostDokID
			, cast(COALESCE(TsD_Ilosc,TraSElemG.TrS_ilosc,TraElemG.TrE_ilosc,0) as decimal(15,4)) as DostIlosc --ilość
			, COALESCE(TsD_wartosc,traSElemG.TrS_wartosc,TraElemG.TrE_WartoscNetto,0) as Cena --cena
			, ISNULL(TsD_Cecha1_DeAId,0) as Cecha1DeAId, ISNULL(TsD_Cecha1_Kod,'') as Cecha1Kod ,ISNULL(TsD_Cecha1_Wartosc,'') as Cecha1Wartosc--cecha
			, ISNULL(KNTDost.knt_kod,'') as DostKntKod --Kontrahent dostawy
			, ISNULL(TraNagDST.trn_dataOpe,'') as DostData --Data dostawy
			, ISNULL(KnTG.knt_kod,'') as DokKntKod --Kontrahent dok
			, ISNULL(TraNagG.trn_dataOpe,'') as DostDok --Data dok
		from cdn.TraNag as TraNagG
			INNER JOIN cdn.TraElem as TraElemG on TraElemG.TrE_trnid = TraNagG.TrN_trnid
			--jest cecha
			LEFT JOIN cdn.TraSElemDost on TraElemG.TrE_TrEID = ISNULL(TsD_TrEID,0)
			LEFT JOIN cdn.TraSElem as TraSElemG on ISNULL(TraElemG.TrE_TrEId,0)  = ISNULL(TraSElemG.TrS_TrEId,0)
			--nie ma cechy
			LEFT JOIN  cdn.TraSElem as TraSElemDST ON ISNULL(TraSElemDST.trs_trsid,0) = ISNULL(TraSElemG.TrS_trsiddost,0)
			LEFT JOIN  cdn.TraElem as TraElemDST ON  ISNULL(TraElemDST.TrE_TrEId,0) = ISNULL(TraSElemDST.TrS_TrEId,0)
			LEFT JOIN  cdn.TraNag as TraNagDST ON ISNULL(TraNagDST.TrN_TrNId,0) = ISNULL(TraElemDST.TrE_TrNId,0) 
			--dokumenty które powstały z produkcji
			INNER JOIN dbo.CtiZlecenieDok ON CZD_TrnId = TraNagDST.TrN_trnid  
			--kontrahent
			LEFT JOIN cdn.kontrahenci as KnTDost on  ISNULL(TraNagDST.TrN_PodID,0) = ISNULL(KNTDost.knt_kntid,0)
			LEFT JOIN cdn.kontrahenci as KnTG on  ISNULL(TraNagG.TrN_PodID,0) = ISNULL(KNTG.knt_kntid,0)
		where-- TraNagG.TrN_typdokumentu <> 312 -- bez MM 
			TraNagG.TrN_typdokumentu in( @dokTyp,304)
			AND @CZNId = CZD_CZNId
		group by TraNagG.TrN_trnid, TraNagG.TrN_typdokumentu, TraNagG.TrN_NumerPelny--dane dokumentu głównego
			, TraElemG.TrE_TwrId,TraElemG.TrE_TwrKod,TraElemG.TrE_JM,TraElemG.TrE_ilosc--dane towaru
			, ISNULL(TsD_TrSIdDost,0),ISNULL(TraSElemG.TrS_trsiddost,0)--id dostawy
			, ISNULL(TsD_NumerPelny,''),ISNULL(TraNagDST.TrN_NumerPelny,''),ISNULL(TraNagDST.TrN_NumerPelny,ISNULL(TsD_NumerPelny,'')) --numer dokumentu
			, COALESCE(TsD_Ilosc,TraSElemG.TrS_ilosc,TraElemG.TrE_ilosc,0)--ilość
			, COALESCE(TsD_wartosc,traSElemG.TrS_wartosc,TraElemG.TrE_WartoscNetto,0)--cena
			, ISNULL(TsD_Cecha1_DeAId,0), ISNULL(TsD_Cecha1_Kod,'') ,ISNULL(TsD_Cecha1_Wartosc,'') --cecha
			, ISNULL(KNTDost.knt_kod,'') --Kontrahent dostawy
			, ISNULL(TraNagDST.trn_dataOpe,'') --Data dostawy
			, ISNULL(KnTG.knt_kod,'') --Kontrahent dok
			, ISNULL(TraNagG.trn_dataOpe,'')--Data dok
			, ISNULL(TraNagDST.TrN_TrNID,0)
	end
	else
	begin
		select TraNagG.TrN_trnid as DokId, TraNagG.TrN_typdokumentu as DokTyp, TraNagG.TrN_NumerPelny AS DokNumerPelny --dane dokumentu głównego
			, TraElemG.TrE_TwrId as TwrId, TraElemG.TrE_TwrKod as TwrKod,TraElemG.TrE_JM as JM --dane towaru
			, case when ISNULL(TsD_TrSIdDost,0) = 0 then ISNULL(TraSElemG.TrS_trsiddost,0) else ISNULL(TsD_TrSIdDost,0) end as DostId--id dostawy --NULL - dla dokumentów nie generujących dostaw
			, ISNULL(TraNagDST.TrN_NumerPelny,'') as DostNumerPelny--numer dokumentu
			, ISNULL(TraNagDST.TrN_TrNID,0) as DostDokID
			, cast(COALESCE(TsD_Ilosc,TraSElemG.TrS_ilosc,TraElemG.TrE_ilosc,0) as decimal(15,4)) as DostIlosc --ilość
			, COALESCE(TsD_wartosc,TraSElemG.TrS_wartosc,TraElemG.TrE_WartoscNetto) as Cena --cena
			, ISNULL(TsD_Cecha1_DeAId,0) as Cecha1DeAId, ISNULL(TsD_Cecha1_Kod,'') as Cecha1Kod ,ISNULL(TsD_Cecha1_Wartosc,'') as Cecha1Wartosc--cecha
			, ISNULL(KNTDost.knt_kod,'') as DostKntKod --Kontrahent dostawy
			, ISNULL(TraNagDST.trn_dataOpe,'') as DostData --Data dostawy
			, ISNULL(KnTG.knt_kod,'') as DokKntKod --Kontrahent dok
			, ISNULL(TraNagG.trn_dataOpe,'') as DostDok --Data dok
			
		from cdn.TraNag as TraNagG
			INNER JOIN cdn.TraElem as TraElemG on TraElemG.TrE_trnid = TraNagG.TrN_trnid
			--jest cecha
			LEFT JOIN cdn.TraSElem as TraSElemG on ISNULL(TraElemG.TrE_TrEId,0)  = ISNULL(TraSElemG.TrS_TrEId,0)
			--nie ma cechy
			LEFT JOIN  cdn.TraSElem as TraSElemDST ON ISNULL(TraSElemDST.trs_trsid,0) = ISNULL(TraSElemG.TrS_trsiddost,0)
			LEFT JOIN cdn.TraSElemDost on TraSElemDST.TrS_TrSID = ISNULL(TsD_TrSID,0) 

			LEFT JOIN  cdn.TraElem as TraElemDST ON  ISNULL(TraElemDST.TrE_TrEId,0) = ISNULL(TraSElemDST.TrS_TrEId,0)
			LEFT JOIN  cdn.TraNag as TraNagDST ON ISNULL(TraNagDST.TrN_TrNId,0) = ISNULL(TraElemDST.TrE_TrNId,0) 
			--dokumenty które powstały z produkcji
			INNER JOIN dbo.CtiZlecenieDok ON CZD_TrnId = TraNagG.TrN_trnid  
			--kontrahent
			LEFT JOIN cdn.kontrahenci as KnTDost on  ISNULL(TraNagDST.TrN_PodID,0) = ISNULL(KNTDost.knt_kntid,0)
			LEFT JOIN cdn.kontrahenci as KnTG on  ISNULL(TraNagG.TrN_PodID,0) = ISNULL(KNTG.knt_kntid,0)
		where
			TraNagG.TrN_typdokumentu = @dokTyp
			AND CZD_CZNId = @CZNId
		group by TraNagG.TrN_trnid, TraNagG.TrN_typdokumentu, TraNagG.TrN_NumerPelny--dane dokumentu głównego
			, TraElemG.TrE_TwrId,TraElemG.TrE_TwrKod,TraElemG.TrE_JM,TraElemG.TrE_ilosc--dane towaru
			, ISNULL(TsD_TrSIdDost,0),ISNULL(TraSElemG.TrS_trsiddost,0),ISNULL(TsD_TrSIdDost,ISNULL(TraSElemG.TrS_trsiddost,0))--id dostawy
			, ISNULL(TsD_NumerPelny,''),ISNULL(TraNagDST.TrN_NumerPelny,''),ISNULL(TraNagDST.TrN_NumerPelny,ISNULL(TsD_NumerPelny,'')) --numer dokumentu
			, COALESCE(TsD_Ilosc,TraSElemG.TrS_ilosc,TraElemG.TrE_ilosc,0)--ilość
			, COALESCE(TsD_wartosc,TraSElemG.TrS_wartosc,TraElemG.TrE_WartoscNetto)--cena
			, ISNULL(TsD_Cecha1_DeAId,0), ISNULL(TsD_Cecha1_Kod,'') ,ISNULL(TsD_Cecha1_Wartosc,'') --cecha
			, ISNULL(KNTDost.knt_kod,'') --Kontrahent dostawy
			, ISNULL(TraNagDST.trn_dataOpe,'') --Data dostawy
			, ISNULL(KnTG.knt_kod,'') --Kontrahent dok
			, ISNULL(TraNagG.trn_dataOpe,'')--Data dok
			, ISNULL(TraNagDST.TrN_TrNID,0)
			, ISNULL(TraNagDST.Trn_numerpelny, '')
	end
END
GO

# [dbo].[CTIProdukcjaZleceniePRC]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZleceniePRC]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZleceniePRC]
 @ID int,
 @PrcId int
AS
BEGIN

declare @MagazynDomyslySur varchar(40) = '' 
declare @MagazynDomyslyProd varchar(40) = '' 
select @MagazynDomyslySur = mag_symbol from cdn.magazyny INNER JOIN CtiKonfiguracja on knf_numer = 8 and knf_wartosc = mag_magid 
select @MagazynDomyslyProd = mag_symbol from cdn.magazyny INNER JOIN CtiKonfiguracja on knf_numer = 9 and knf_wartosc = mag_magid 
declare @typPrzypisania int = 0
select @typPrzypisania = cast(knf_wartosc as int) from dbo.ctikonfiguracja where knf_numer = 61

	SELECT ID, Status, CZOID, CZNId, PrcId , RCP, PrcKod, ilosc, StatusNazwa, StatusNazwa2, StatusNazwa3
		, case isnull(MagSur,0) when 0 then @MagazynDomyslySur else 
			(select Mag_Symbol from cdn.magazyny where Mag_MagId = MagSur  ) end As MagSur
		, case isnull(MagProd,0) when 0 then @MagazynDomyslyProd  else 
			(select Mag_Symbol from cdn.magazyny where Mag_MagId = MagProd  ) end As MagProd
		, Status1, Status2, Status3
	from
	(
		select CZO_CZNId as ID
			, dbo.CTIProdukcjaStatusy(2, CZO_CZNId) AS Status
			, CZO_ID as CZOID, CZO_CZNId as CZNId, CZO_PrcId as PrcId 
			, '' as RCP 
			, CZO_PrcKod as PrcKod, CZO_Ilosc as ilosc
			, isnull(dbo.CTIProdukcjaStatusyNazwy(23, dbo.CTIProdukcjaStatusPracownika(CZO_CZNId, CZO_PrcId,3)),'') AS StatusNazwa 
			, isnull(dbo.CTIProdukcjaStatusyNazwy(24, dbo.CTIProdukcjaStatusPracownika(CZO_CZNId, CZO_PrcId,4)),'') AS StatusNazwa2 
			, isnull(dbo.CTIProdukcjaStatusyNazwy(25, dbo.CTIProdukcjaStatusPracownika(CZO_CZNId, CZO_PrcId,6)),'') AS StatusNazwa3
			, isnull(dbo.CTIProdukcjaStatusPracownika(CZO_CZNId, CZO_PrcId,3),0) AS Status1
			, isnull(dbo.CTIProdukcjaStatusPracownika(CZO_CZNId, CZO_PrcId,4),0) AS Status2
			, isnull(dbo.CTIProdukcjaStatusPracownika(CZO_CZNId, CZO_PrcId,6),0) AS Status3
			, isnull(KnM_MagSId,CDZ_MagSId) As MagSur
			, isnull(KnM_MagPId,CDZ_MagPId) As MagProd
		FROM dbo.CtiZleceniePrc
			LEFT JOIN dbo.CtiKonfigMag ON isnull(CZO_PrcTyp,80) = 80 and CZO_PrcId = KnM_PraId
			LEFT JOIN dbo.CtiDzial on isnull(CZO_PrcTyp,80) = 81 and CDZ_ID = czo_prcid
		where ((@ID = 0 and 1=1)or(@ID <> 0 and CZO_CZNId = @ID ) )
			and  ((@PrcId = 0 and 1=1)or(@PrcId <> 0 and CZO_PrcId = @PrcId ))
			and (
				(@typPrzypisania IN (2,3) and isnull(CZO_PrcTyp, 80) in (80,90)) or
				(@typPrzypisania = 4 and isnull(CZO_PrcTyp, 80) = 81)
			)
		
	)a ORDER BY PrcKod


end
GO

# [dbo].[CTIProdukcjaZlecenieWydruk]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieWydruk]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZlecenieWydruk]
@id int
AS
BEGIN

declare @EUR DECIMAL(18,4)
declare @USD DECIMAL(18,4)
--kurs waluty
	declare @Dzien NVARCHAR(10) = CONVERT(VARCHAR, GETDATE(), 23)
	CREATE TABLE #TmpM (Notowanie DECIMAL(18,4),WNa_symbol varchar(5) )
	insert into #TmpM (Notowanie,WNa_symbol)
	exec CDN.TabelkaWalut @Dzien
	select @EUR = Notowanie from #TmpM where WNa_symbol = 'EUR'
	select @USD = Notowanie from #TmpM where WNa_symbol = 'USD'
	drop TABLE #TmpM



 SELECT CTE_ID,
 CASE TwC_Waluta  WHEN 'EUR' THEN TwC_Wartosc * @EUR / 1 WHEN 'PLN' 
 THEN TwC_Wartosc * 1 / 1 WHEN 'USD' THEN TwC_Wartosc * @USD / 1 END AS TwC_Wartosc
 FROM CDN.TwrCeny  
 INNER JOIN CDN.Towary  ON TwC_TwrID=Twr_TwrId
 INNER JOIN dbo.CtiTechnolElem ON Twr_TwrId=CTE_TwrId
 INNER JOIN dbo.CtiTechnolNag ON CTE_CTNId=CTN_ID
 
 WHERE  CTN_ID=@id AND 
 TwrCeny.TwC_TwCNumer=1
 ORDER BY CTE_Typ, CTE_Lp
 
end
GO

# [dbo].[CTIProdukcjaZlecenieWyrobNaMagazynie]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieWyrobNaMagazynie]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZlecenieWyrobNaMagazynie]  
@CZNId int
AS
begin 
	--declare @CZNId int = 307
	declare @twrid int 
	SELECT  @twrid = CZN_TwrId FROM dbo.CtiZlecenieNag where  czn_id = @CZNId


	SELECT Mag1 as Magazyn,isnull(ilosc,0) as Ilosc, isnull(tsc_cecha1_Wartosc,'') as NrDostawy  
		, isnull(TrN_NumerPelny,'') as DostNumerPelny,isnull(knt_kod,'') as DostKntKod ,isnull(trn_dataOpe,'') as DostData 
		, twr_kod as twrkod,twr_jm as JM, Twr_TwrId as TwrId
	FROM [CDN].[fnTwrDost](@twrid) 
		LEFT JOIN cdn.tranag on isnull(twz_trnid,0) = trn_trnid 
		LEFT JOIN cdn.kontrahenci on  isnull(TrN_PodID,0) = isnull(knt_kntid,0)
		INNER JOIN dbo.CtiZlecenieDok on trn_trnid = czd_trnid  and czd_typ = 4
		INNER JOIN cdn.towary on twr_twrid = @twrid
	where isnull(ilosc,0) > 0 and czd_cznid = @CZNId

 END   
GO

# [dbo].[CTIProdukcjaZlecenieZAddEdit]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieZAddEdit]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZlecenieZAddEdit]
   @id						decimal(15,4)
 , @Ilosc					decimal(15,4)
 , @Ope						int
 , @Status					int
 , @TZN_Id					int
 , @opis					nvarchar(254)
 , @datStart				varchar(20)=''
 , @datStop					varchar(20)=''
 , @idZleceniaZlozonego		INT OUTPUT
 , @TwrID					int = 0
--@Typ int 
--3 - wydanie do produkcji
--4 - przyjecie
--5 - wydanie
AS
BEGIN
declare @dataStart datetime
declare @dataStop datetime
if @datStart = '' set @dataStart = CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 23) + ' 8:00') else set @dataStart = convert(datetime, @datStart,120)
if @datStop = ''  set @dataStop = @dataStart else set @dataStop= convert(datetime, @datStop,120)

declare @numerZlcZ int = 0
declare @miesiac int = month(GETDATE())
declare @rok int =  year(GETDATE())
declare @nrpelny varchar(20) =''
declare @Seria varchar(5) = ''
declare @TwrKod varchar(20) = ''

if (@TwrID > 0)
begin
	print('case1');
	select @TwrKod = ISNULL((SELECT TOP 1 Twr_Kod FROM CDN.Towary WHERE Twr_TwrId = @TwrId), '')
end

select @numerZlcZ = isnull(Max(CZZN_Numer),0)+1  from dbo.CtiZlecenieZNag where CZZN_Rok = @rok --and isnull(CZZN_Seria,'') = '' and CZZN_Miesiac = @miesiac --tylko rok

if (@TZN_ID > 0)
begin
	print('case2');
	select @TwrKod=ctzn_twrkod,@TwrId=ctzn_twrid from dbo.CtiTechnolZNag where ctzn_ID = @TZN_Id
end

select  @nrpelny='ZPZ/'+cast(replace(str(@numerZlcZ,5),' ','0')as char(5)) +'/'+cast(@rok as varchar(4))

	if @TZN_Id <=0 and  @id = 0
	begin
		print('case3');
		INSERT INTO dbo.CtiZlecenieZNag 
		(CZZN_Numer,CZZN_Miesiac,CZZN_Rok,CZZN_Seria, CZZN_TwrId, CZZN_TwrKod, CZZN_Ilosc, CZZN_OpeWystaw, CZZN_DataWystaw, CZZN_OperModyf, CZZN_DataModyf, CZZN_Status,CZZN_NrPelny,CZZN_Opis,CZZN_CzasStart,CZZN_CzasEnd)
		VALUES (@numerZlcZ,@miesiac,@rok,@Seria,@TwrId,@TwrKod,@Ilosc,@Ope,GETDATE(),@Ope,GETDATE(),0,@nrpelny,@opis,@dataStart,@dataStop)      
		Select @idZleceniaZlozonego = SCOPE_IDENTITY()
	end
	if @TZN_Id >0 and  @id = 0
	begin
		print('case4');
		INSERT INTO dbo.CtiZlecenieZNag 
		(CZZN_Numer,CZZN_Miesiac,CZZN_Rok,CZZN_Seria, CZZN_TwrId, CZZN_TwrKod, CZZN_Ilosc, CZZN_OpeWystaw, CZZN_DataWystaw, CZZN_OperModyf, CZZN_DataModyf, CZZN_Status,CZZN_CTZNId,CZZN_NrPelny,CZZN_Opis,CZZN_CzasStart,CZZN_CzasEnd)
		VALUES (@numerZlcZ,@miesiac,@rok,@Seria,@TwrId,@TwrKod,@Ilosc,@Ope,GETDATE(),@Ope,GETDATE(),@Status,@TZN_Id,@nrpelny,@opis,@dataStart,@dataStop)
		Select @idZleceniaZlozonego = SCOPE_IDENTITY()
	end

if @id > 0
	begin
	print('case5');
		UPDATE dbo.CtiZlecenieZNag SET	
		   CZZN_Ilosc=@Ilosc
		 , CZZN_CTZNId=@TZN_Id
		 , CZZN_OperModyf =@Ope
		 , CZZN_Status = @Status
		 , CZZN_TwrId=@TwrId
		 , CZZN_TwrKod=@TwrKod
		 , CZZN_DataModyf = GETDATE()
		 , CZZN_Opis=@opis
		 , CZZN_CzasStart = @dataStart
		 , CZZN_CzasEnd = @dataStop
		WHERE CZZN_ID =@id

		set @idZleceniaZlozonego = @id
	end

select @idZleceniaZlozonego as ID

END
GO

# [dbo].[CTIProdukcjaZlecenieZasobyAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieZasobyAdd]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZlecenieZasobyAdd]
 @ZZsID int, --jeżeli edycja
 @CZNID int,--Id zlecenia
 @CZID int, --ID zasobu
 @datOd varchar(25),
 @datDo varchar(25),
 @czasMin decimal(15,4), --czas w minutach
 @prcId int, --pracownik
 @ilosc decimal(15,4), 
 @opeId int, --operator
 @Opis  nvarchar(250)
AS
BEGIN
declare  @prcKod nvarchar(40) 
select @prcKod = isnull(PRA_Kod,'') from CDN.PracKod where pra_praid =  isnull(@prcId,0) 
 
declare @dataOd datetime set @dataOd = convert(datetime, @datOd,121)
declare @dataDo datetime set @dataDo= convert(datetime, @datDo,121)

	if @ZZsID = 0 
	begin

		insert into CtiZlecenieZasob  (ZZs_CZNID, ZZs_CZID, ZZs_CTNID, ZZs_DataOd, ZZs_DataDo, ZZs_CzasMin, ZZs_PrcID, ZZs_PrcKod
		, ZZs_OpeID, ZZs_Data, ZZs_Ilosc, ZZs_Opis, ZZs_DokTyp)
		select @CZNID, @CZID,CZN_CTNId, @DataOd, @DataDo, @czasMin , @prcId, @prcKod
		, @opeId, getdate(),@ilosc,@Opis, 2
		from CtiZlecenieNag where CZN_ID = @CZNID
		select @ZZsID = SCOPE_IDENTITY()

	end  
	else--update
	begin

			insert into CtiZlecenieZasobHist 
				(ZsH_ZZsID, ZsH_Data, ZsH_CZNID, ZsH_CZID, ZsH_OpeId
				, ZsH_PrcId, ZsH_DataOd, ZsH_DataDo, ZsH_CzasMin, ZsH_Ilosc)
			select ZZs_ID, ZZs_Data, ZZs_CZNID, ZZs_CZID, ZZs_OpeID
				, ZZs_PrcID, ZZs_DataOd, ZZs_DataDo, ZZs_CzasMin, ZZs_Ilosc
			from CtiZlecenieZasob where ZZs_ID = @ZZsID 

		update CtiZlecenieZasob set 
			ZZs_CZID = @CZID
			, ZZs_DataOd = @DataOd
			, ZZs_DataDo = @DataDo
			, ZZs_CzasMin = @czasMin
			, ZZs_PrcId = @prcId
			, ZZs_PrcKod  = @prcKod
			, ZZs_Ilosc =  @ilosc
			, ZZs_OpeId = @opeId
			, ZZs_Data = getdate()
			, ZZs_Opis =@Opis
		where ZZs_ID = @ZZsID
	end  

	select @ZZsID as Id
END

GO

# [dbo].[CTIProdukcjaZlecenieZasobyAdd1]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieZasobyAdd1]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CTIProdukcjaZlecenieZasobyAdd1]
                                 @ZZsID int,  --jeżeli edycja
                                 @CZNID int,  --Id zlecenia
                                 @CZID int,   --ID zasobu
                                 @DataOd datetime,
                                 @czasMin int, --czas w minutach
                                 @prcId int,   --pracownik
                                 @prcKod nvarchar(40),
                                 @OpeId int,
                                 @zlecenieTyp int

                               AS
                                    BEGIN
	                                if @ZZsID = 0 
	                                begin
		                                 insert into CtiZlecenieZasob  (ZZs_CZNID, ZZs_CZID, ZZs_CTNID, ZZs_DataOd, ZZs_CzasMin, ZZs_PrcID, ZZs_PrcKod, ZZs_Data, ZZs_OpeId, ZZs_DokTyp)
		                                 select @CZNID, @CZID, 0, @DataOd,  @czasMin , @prcId, @prcKod, GETDATE(), @OpeId, @zlecenieTyp
	                                end    
                               END
GO

# [dbo].[CTIProdukcjaZlecenieZasobyDel]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieZasobyDel]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZlecenieZasobyDel]
 @ZZsID int,
 @opeId int
AS
BEGIN
		insert into CtiZlecenieZasobHist 
			(ZsH_ZZsID, ZsH_Data, ZsH_CZNID, ZsH_CZID, ZsH_OpeId, ZsH_OpeIdDel
			, ZsH_PrcId, ZsH_DataOd, ZsH_DataDo, ZsH_CzasMin, ZsH_Ilosc)
		select ZZs_ID, ZZs_Data, ZZs_CZNID, ZZs_CZID, ZZs_OpeID, @opeId
			, ZZs_PrcID, ZZs_DataOd, ZZs_DataDo, ZZs_CzasMin, ZZs_Ilosc
		from CtiZlecenieZasob where ZZs_ID = @ZZsID 

	delete from CtiZlecenieZasob where ZZs_ID = @ZZsID
END
GO

# [dbo].[CTIProdukcjaZlecenieZasobyList]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieZasobyList]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZlecenieZasobyList]
 @CZN_ID int,--342
 @ZZs_ID int --pozycja
AS
BEGIN
	select *,
	--isnull(convert(varchar, cast(((WyliczonyCzasMin/60))as int))+' Godz '+convert(varchar, cast((isnull(WyliczonyCzasMin,0)%60) as int))+' Min '
	--	  +convert(varchar, cast(((isnull(WyliczonyCzasMin,0)*60)%60) as int)) +'s' ,'')  as CzasTekst

	--CONVERT(varchar, RazemGodzin) + ' Godz ' +
	--CONVERT(varchar, RazemMinut - (60*RazemGodzin)) + ' Min ' +
	--CONVERT(varchar, RazemSekund - (60*RazemMinut)) + ' s' AS CzasTekst

	--CASE WHEN (RazemSekund >= 3600)
	--THEN RazemSekund 

	CONVERT(varchar, RazemSekund / 3600) + ' Godz ' +
	CONVERT(varchar, RazemSekund / 60 % 60) + ' Min ' +
	CONVERT(varchar, RazemSekund % 60) + ' s' AS CzasTekst
	 from
	(
		select cz_kod as ZasobKod, CZG_Kod as GrupaKod, dbo.CTIProdukcjaZlecenieNumer(CZN_ID) as ZlecenieNumer 
		, ZZs_ID as ID, ZZs_CZNID as CZNID, ZZs_CZID as CZID, ZZs_CTNID as CTNID,isnull(ZZs_PrcId,0) as PrcId
		, case when CONVERT(VARCHAR,isnull(ZZs_DataOd,'1900-01-01 00:00:00') , 120) = '1900-01-01 00:00:00' then '' else CONVERT(VARCHAR,isnull(ZZs_DataOd,'') , 120) end  as DataOd
		 , case when CONVERT(VARCHAR,isnull(ZZs_DataDo,'1900-01-01 00:00:00') , 120) = '1900-01-01 00:00:00' then '' else CONVERT(VARCHAR,isnull(ZZs_DataDo,'') , 120) end  as DataDo
		, isnull(ZZs_CzasMin,0) as CzasMin  
	--	,isnull(DATEDIFF(minute, ZZs_DataOd,ZZs_DataDo) ,0) as WyliczonyCzasMin
		, isnull(CZ_KontrolaDostepnosci,0) as KontrolaDostepnosci
		--,  isnull(CDN.PracKartyRcp.PKR_Numer, '') as RCP
		, isnull(isnull(PRA_Kod,ZZs_PrcKod),'') as PrcKod
		, case 
		 when CONVERT(VARCHAR,isnull(ZZs_DataOd,'1900-01-01 00:00:00') , 120) = '1900-01-01 00:00:00' then isnull(ZZs_CzasMin,0)
		 when CONVERT(VARCHAR,isnull(ZZs_DataDo,'1900-01-01 00:00:00') , 120) = '1900-01-01 00:00:00' then 
		 CONVERT(decimal(15,4),DATEDIFF(second, ZZs_DataOd,GETDATE())/60.0000)
		  else   CONVERT(decimal(15,4),(isnull(DATEDIFF(SECOND, ZZs_DataOd,ZZs_DataDo) ,0))/60.0000)  end as WyliczonyCzasMin
		,isnull(ZZs_Ilosc,0) as Ilosc, isnull(ZZs_Opis,'') as Opis,
		DATEDIFF(second, isnull(ZZs_DataOd,'1900-01-01 00:00:00'), isnull(ZZs_DataDo,GETDATE())) AS RazemSekund
	from dbo.CtiZasob 
			INNER JOIN dbo.CtiZasobGrupy on cz_czgid = CZG_ID
			INNER JOIN dbo.CtiZlecenieZasob on ZZs_CZID = CZ_ID
			INNER JOIN dbo.CtiZlecenieNag on ZZs_CZNID = CZN_ID
			--LEFT JOIN CDN.PracKartyRcp ON isnull(PKR_PrcId,0) = isnull(ZZs_PrcId,0)
			LEFT JOIN CDN.PracKod on pra_praid =  isnull(ZZs_PrcId,0) 
	where ZZs_CZNID = @CZN_ID
	and ZZs_DokTyp = 2
			and ((isnull(@ZZs_ID,0)=0)or (isnull(@ZZs_ID,0)<>0 and ZZs_ID = isnull(@ZZs_ID,0)))
	)a
END

GO

# [dbo].[CTIProdukcjaZlecenieZasobyMaszynaAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieZasobyMaszynaAdd]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTIProdukcjaZlecenieZasobyMaszynaAdd] 
 @CZNID int,--Id zlecenia
 @MARID int,--Id reazlizacji
 @czas int, --czas w sekundach
 @ilosc decimal(15,4), -- ilosc
 @opeId int --operator
AS

--ID zasobu
Declare @ID_Zasobu int
set @ID_Zasobu = 1

--ID pracownika z zasobu
declare @ID_PRAC int
set @ID_PRAC = coalesce((select top 1 zsp_prcid from  dbo.CtiZasobPRC where zsp_czid = @ID_Zasobu ),0)

--ustawianie dat na podstawie podanych sekund oraz daty rozpoczecia z zasobów ZP
declare @dataOd datetime 
set @dataOd = coalesce((select CZS_CzasStart from [dbo].[CtiZasobDok] join CtiZlecenieNag on CZN_ID=CZS_CTNID where CZS_CTNID = @CZNID and CZS_DokTyp = 2 and CZS_CZID=@ID_Zasobu),GETDATE())
declare @dataDo datetime set @dataDo= convert(datetime, DATEADD(ss,@czas,@dataOd),121)

-- konwersja sekund do minut
declare @czasx int 
set @czasx = ROUND(@czas/60,0)

--dodawanie wpisu do zealizacji ZP
exec dbo.CTIProdukcjaZlecenieZasobyAdd 0,@CZNID,@ID_Zasobu,@dataOd,@dataDo,@czasx,1,1,@opeId,'Zaimportowano z maszyny'

--ustawianie realizacji z maszyn jako zaimportowanych
update dbo.CtiMaszynaRealizacja set mar_status = 1 where mar_id = @MARID
GO

# [dbo].[CTIProdukcjaZlecenieZDel]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieZDel]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CTIProdukcjaZlecenieZDel]
@id INT,
@walidacjAStatusu INT = 1
AS
BEGIN
DECLARE @status INT
DECLARE @tempid  INT
DECLARE @templp INT
SELECT @status =dbo.CTIProdukcjAStatusy(10,CZZN_ID)  FROM  dbo.CtiZlecenieZNag WHERE CZZN_ID =@id
IF @status=0 OR @walidacjAStatusu = 0
BEGIN
DECLARE @SavePointName NVARCHAR(MAX) = 'SavePoint';

	BEGIN TRY
        -- Sprawdzenie, czy istnieje aktywna transakcja
        IF @@TRANCOUNT > 0
        BEGIN
            SAVE TRANSACTION @SavePointName;
        END
		DECLARE kursor CURSOR FOR
				SELECT DISTINCT CZZE_CZZNID FROM dbo.CtiZlecenieZElem WHERE ISNULL(CZZE_Typ,2) = 22	
		DECLARE @idZPZ INT OPEN kursor
		FETCH NEXT FROM kursor INTO @idZPZ
		WHILE @@FETCH_STATUS = 0
		BEGIN	
			DELETE FROM dbo.CtiZlecenieZElem WHERE CZZE_CZZNID = @idZPZ AND CZZE_CZNID = @id
			UPDATE dbo.CtiZlecenieZElem SET CZZE_Lp = lp FROM
			(	
				SELECT ROW_NUMBER() OVER (PARTITION BY CZZE_CZZNID ORDER BY  ISNULL(CZZE_Lp,0),CZZE_ID) AS Lp, CZZE_ID AS Id FROM  dbo.CtiZlecenieZElem  WHERE CZZE_CZZNID = @idZPZ	AND ISNULL(CZZE_Typ,2) = 22	
			) a 
			WHERE CZZE_ID = Id
			FETCH NEXT FROM kursor INTO @idZPZ
		END
		CLOSE kursor DEALLOCATE kursor

        --Usuwanie powiązanych pól dodatkowych
        DELETE FROM CtiAtrybutyElem WHERE CAE_TypDok = 23 AND CAE_IdDok = @id

        --Usuwanie powiązań na ZP i ZPZ
        UPDATE CtiZlecenieNag SET CZN_CZZNIdNadrzedne = null, CZN_CZZNIdGlowne = null, CZN_CZZNNrPelnyGlowne = null, CZN_CZZNNrPelnyNadrzedne = null WHERE CZN_CZZNIdNadrzedne = @id OR CZN_CZZNIdGlowne = @id
        UPDATE CtiZlecenieZNag SET CZZN_CZZNIdNadrzedne = null, CZZN_CZZNIdGlowne = null, CZZN_CZZNNrPelnyGlowne = null, CZZN_CZZNNrPelnyNadrzedne = null WHERE CZZN_CZZNIdNadrzedne = @id OR CZZN_CZZNIdGlowne = @id

        --Usuwanie wpisów dot. ZPZ w kolumnach edytowalnych
        DELETE CPKW
        FROM dbo.CtiProdukcjaKolumnyWartosci AS CPKW
        JOIN dbo.CtiProdukcjaKolumny AS CPK ON CPKW.CKW_CPKID = CPK.CPK_ID
        WHERE CPK.CPK_Tabela = 1 AND CPKW.CKW_ObiektID = @id

        --Usuwanie powiązanych zasobów 
        DELETE FROM dbo.CtiZasobDok WHERE CZS_CTNID = @id AND CZS_DokTyp = 4

        --Usuwanie powiązanych załączników
        DELETE FROM CtiZalaczniki WHERE CZAL_DokTyp = 7 AND CZAL_DokID = @id

        --Usuwanie powiązanych cech 
        DELETE FROM dbo.CtiTechnolCecha WHERE CTC_CTNID = @id AND CTC_Typ = 3

        --Usuwanie powiązanych działów
        DELETE FROM dbo.CtiTechnolDzialy WHERE CTDZ_TechnolID = @id AND CTDZ_DokTyp = 4
		
		DELETE FROM dbo.CtiZlecenieZElem WHERE  CZZE_CZZNId = @id
		DELETE FROM dbo.CtiZlecenieZNag WHERE CZZN_ID = @id
		
	END TRY
	BEGIN CATCH
        -- Sprawdzenie, czy istnieje aktywna transakcja
        IF @@TRANCOUNT > 0
        BEGIN
            IF @@TRANCOUNT = 1
            BEGIN
                ROLLBACK TRANSACTION;
            END
            ELSE
            BEGIN
                ROLLBACK TRANSACTION @SavePointName;
            END
        END

        -- Przekazanie informacji o błędzie
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
ELSE
BEGIN
	RAISERROR('Status zlecenia złożonego nie pozwala na jego usunięcie.', 16, 1);
END
END

GO

# [dbo].[CTIProdukcjaZlecenieZDuplikat]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieZDuplikat]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZlecenieZDuplikat]
@idZleceniaZ int,
@Ope int
AS
BEGIN
declare @numerZlcZ int = 0
declare @miesiac int = month(GETDATE())
declare @rok int =  year(GETDATE())
declare @nrpelny varchar(20) =''
declare @Seria varchar(5) = ''
declare @TwrId  int = 0
declare @TwrKod varchar(20) = ''

select @numerZlcZ = isnull(Max(CZZN_Numer),0)+1  from dbo.CtiZlecenieZNag
where CZZN_Rok = @rok --and isnull(CZZN_Seria,'') = '' and CZZN_Miesiac = @miesiac --tylko rok
select  @nrpelny='ZPZ/'+cast(replace(str(@numerZlcZ,5),' ','0')as char(5)) +'/'+cast(@rok as varchar(4))

	declare @NoweId int
	set @NoweId = 0
	INSERT INTO dbo.CtiZlecenieZNag 
	(CZZN_Numer,CZZN_Miesiac,CZZN_Rok,CZZN_Seria, CZZN_TwrId, CZZN_TwrKod, CZZN_Ilosc, CZZN_OpeWystaw, CZZN_DataWystaw, CZZN_OperModyf, CZZN_DataModyf, CZZN_Status,CZZN_CTZNId,CZZN_NrPelny,CZZN_Opis,CZZN_CzasStart,CZZN_CzasEnd)
	select @numerZlcZ,@miesiac,@rok,@Seria,CZZN_TwrId,CZZN_TwrKod,CZZN_Ilosc,@Ope,GETDATE(),@Ope,GETDATE(),
	0,CZZN_CTZNId,@nrpelny,CZZN_Opis,GETDATE(),GETDATE()
	FROM dbo.CtiZlecenieZNag where CZZN_ID = @idZleceniaZ
	Select @NoweId = SCOPE_IDENTITY()


	select @NoweId as ID
END
GO

# [dbo].[CTIProdukcjaZlecenieZElemAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieZElemAdd]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZlecenieZElemAdd]
@idZleceniaNad int,
@idZleceniaPow int,
@typZleceniaPow int = 2 --2-ZP --22-ZPZ
AS
BEGIN	
	if(@idZleceniaNad <> @idZleceniaPow and @typZleceniaPow = 22)--ZPZ
	BEGIN	
			declare @ZPZglownyOld int = NULL select @ZPZglownyOld=CZZN_DokNad from dbo.CtiZlecenieZNag  where CZZN_ID = @idZleceniaPow
			if isnull(@ZPZglownyOld,0) > 0 BEGIN RETURN END--nie może być podpięte do innego ZPZ
			declare @ZPZglowny int = NULL select @ZPZglowny=CZZN_DokNad from dbo.CtiZlecenieZNag  where CZZN_ID = @idZleceniaNad
			update dbo.CtiZlecenieZNag set CZZN_DokNad=isnull(@ZPZglowny,@idZleceniaNad) where CZZN_ID = @idZleceniaPow
	END
	
	if(@idZleceniaNad = @idZleceniaPow and @typZleceniaPow = 22) RETURN
	else
	BEGIN
		insert into dbo.CtiZlecenieZElem (CZZE_CZZNID, CZZE_CZNID, CZZE_Typ, CZZE_Lp)
		SELECT CZZN_ID,@idZleceniaPow,@typZleceniaPow,isnull((select Max(isnull(CZZE_Lp,0)) from CtiZlecenieZElem where CZZE_CZZNID = @idZleceniaNad),0)+1
		FROM dbo.CtiZlecenieZNag WHERE CZZN_ID = @idZleceniaNad AND isnull((select top 1 czze_czznid from dbo.CtiZlecenieZElem where czze_cznid = CZZN_ID 
			and isnull(CZZE_Typ,2)=@typZleceniaPow),0) = 0--nie może być podpięte do innego ZPZ
	END	


END
GO

# [dbo].[CTIProdukcjaZlecenieZElemDel]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieZElemDel]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZlecenieZElemDel]
  @idZleceniaNad int
, @idZleceniaPow int
, @typZleceniaPow int=2
AS
BEGIN
	declare @status int = 0 select @status = dbo.CTIProdukcjaStatusy(10,CZZN_ID) FROM CtiZlecenieZNag where CZZN_ID = @idZleceniaNad 
	
	if ((@status =2) OR (@status = 1))
	begin
		--usuwanie
		delete FROM CtiZlecenieZElem where CZZE_CZZNID = @idZleceniaNad and CZZE_CZNID =  @idZleceniaPow and isnull(CZZE_Typ,2) = @typZleceniaPow
		--przenumerowanie
		update dbo.CtiZlecenieZElem Set CZZE_Lp= lp from--170829
		(	select ROW_NUMBER() OVER (PARTITION BY CZZE_CZZNID ORDER BY  isnull(CZZE_Lp,0),CZZE_ID) as Lp, CZZE_ID as Id from  dbo.CtiZlecenieZElem  where CZZE_CZZNID = @idZleceniaNad 
		) a where CZZE_ID=Id
	end
END
GO

# [dbo].[CTIProdukcjaZlecenieZElemGeneruj]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieZElemGeneruj]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZlecenieZElemGeneruj]
@idZleceniaNad int,
@LogujacyId int
AS
BEGIN
CREATE TABLE #TmpM (nrWlasny VARCHAR(50))  

		DECLARE kursor cursor FOR
			SELECT   CTZE_CTNID, CTZE_Lp,CZZN_CzasStart, CZZN_CzasEnd, cast( isnull(czzn_ilosc,1)*isnull(ctze_ilosc,1) as decimal(15,4)) as Ilosc
			FROM dbo.CtiTechnolZElem	inner join dbo.CtiZlecenieZNag on CTZE_CTZNID = CZZN_CTZNId
			where CZZN_ID =@idZleceniaNad
		DECLARE @idTechP int, @Lp int,@CzasStart datetime, @CzasEnd datetime,@ilosc decimal(15,4)OPEN kursor
		FETCH kursor INTO @idTechP, @Lp, @CzasStart, @CzasEnd, @ilosc
		while @@FETCH_STATUS = 0
		begin
		
			insert into #TmpM (nrWlasny)        
 			exec dbo.CTIProdukcjaKnfNrWlasny 2,  0
			declare @nrWlasny nvarchar(50) =''  select top 1 @nrWlasny=nrWlasny from #TmpM 
			--dodanie zlecenia prostego
				declare @idZleceniaPow int = 0
				exec dbo.CTIProdukcjaZlecenieAddEdit 0,@ilosc,@LogujacyId,0,@idTechP,'',@CzasStart,@CzasEnd,1,@nrWlasny,@idZleceniaPow OUTPUT 
			--powiązanie z zleceniem złożonym    
				insert into dbo.CtiZlecenieZElem (CZZE_CZZNID, CZZE_CZNID, CZZE_Lp, CZZE_Typ)
				Values(@idZleceniaNad,@idZleceniaPow,@Lp,2) --bez ZPZ

			
	

			FETCH kursor INTO @idTechP, @Lp, @CzasStart, @CzasEnd, @ilosc
		end

		CLOSE kursor deallocate kursor
END
GO

# [dbo].[CTIProdukcjaZlecenieZElemRenumeracja]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieZElemRenumeracja]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTIProdukcjaZlecenieZElemRenumeracja]
AS
BEGIN
BEGIN TRY
	BEGIN TRAN T1
		DECLARE kursor CURSOR FOR	
				SELECT DISTINCT CZZE_CZZNID FROM dbo.CtiZlecenieZElem WHERE ISNULL(CZZE_Typ,2) = 22	
		DECLARE @idZPZ INT OPEN kursor
		FETCH NEXT FROM kursor INTO @idZPZ
		WHILE @@FETCH_STATUS = 0
		BEGIN	
			UPDATE dbo.CtiZlecenieZElem SET CZZE_Lp = lp FROM
			(	
				SELECT ROW_NUMBER() OVER (PARTITION BY CZZE_CZZNID ORDER BY  ISNULL(CZZE_Lp,0),CZZE_ID) AS Lp, CZZE_ID AS Id FROM  dbo.CtiZlecenieZElem  WHERE CZZE_CZZNID = @idZPZ	AND ISNULL(CZZE_Typ,2) = 22	
			) a 
			WHERE CZZE_ID = Id
			FETCH NEXT FROM kursor INTO @idZPZ
		END
		CLOSE kursor DEALLOCATE kursor
		
		COMMIT TRAN T1
	END TRY
	BEGIN CATCH
	   ROLLBACK TRAN T1 RETURN
	END CATCH
END;
GO

# [dbo].[CTIProdukcjaZlecenieZElemUsuniecieNiepowiazanychElementowZP]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieZElemUsuniecieNiepowiazanychElementowZP]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTIProdukcjaZlecenieZElemUsuniecieNiepowiazanychElementowZP]
AS
BEGIN
BEGIN TRY
	BEGIN TRAN T1
		DELETE FROM dbo.CtiZlecenieZElem 
		WHERE CZZE_ID IN 
						(SELECT ZE.CZZE_ID
						FROM dbo.CtiZlecenieZElem AS ZE
						LEFT JOIN dbo.CtiZlecenieNag AS N ON ZE.CZZE_CZNID = N.CZN_ID
						WHERE N.CZN_ID IS NULL AND ZE.CZZE_Typ IN(2))
		COMMIT TRAN T1
	END TRY
	BEGIN CATCH
	   ROLLBACK TRAN T1 RETURN
	END CATCH
END;
GO

# [dbo].[CTIProdukcjaZlecenieZElemUsuniecieNiepowiazanychElementowZPZ]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZlecenieZElemUsuniecieNiepowiazanychElementowZPZ]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTIProdukcjaZlecenieZElemUsuniecieNiepowiazanychElementowZPZ]
AS
BEGIN
BEGIN TRY
	BEGIN TRAN T1
		DELETE FROM dbo.CtiZlecenieZElem 
		WHERE CZZE_ID IN 
						(SELECT ZE.CZZE_ID
						FROM dbo.CtiZlecenieZElem AS ZE
						LEFT JOIN dbo.CtiZlecenieZNag AS N ON ZE.CZZE_CZNID = N.CZZN_ID
						WHERE N.CZZN_ID IS NULL AND ZE.CZZE_Typ IN(22))	
		COMMIT TRAN T1
	END TRY
	BEGIN CATCH
	   ROLLBACK TRAN T1 RETURN
	END CATCH
END;
GO

# [dbo].[CTIProdukcjaZPDostawy]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZPDostawy]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZPDostawy]
@idZp int
AS
BEGIN
	
	declare @prmPrc int = 0 SELECT  @prmPrc = cast(ISNULL(KNF_Wartosc,0) as int) FROM dbo.CtiKonfiguracja  where KNF_Numer = 61 and ISNULL(KNF_Wartosc,'') <> ''
	if @prmPrc in (2,3,4) begin set @prmPrc = 1 end else begin set @prmPrc = 0 end

	select 	
		TrNId as DokID, trnG.TrN_TypDokumentu as DokTyp
		, case trnG.TrN_Bufor when 1 then 0 when -1 then 4 else 1 end as Status
		, ISNULL(trnG.TrN_NumerPelny,'Dokument usuniety') as DokKod
		, trnG.trn_datawys as Data
		, case  when DokTyp in (3,5) then 'S' when DokTyp in (4,6) then 'P' else '' end as TwrTyp
		, Twr_Kod as TwrKod, replace(Twr_Nazwa,char(10), ' ') as TwrNazwa
		, ISNULL(CZO_PrcKod, '') AS PrcKod --pracownik
		, ISNULL(c.Mag_Symbol, '') AS MagDocKod 
		, ISNULL(d.Mag_Symbol, '') AS MagZrdKod
		, DstId
		, ISNULL(DokDst.TrN_NumerPelny,'') AS DstDokKod
		, DokDst.trn_datawys as DstData
		, ISNULL(a.CO_Kod, '') AS OpeWystKod, ISNULL(CZD_DataWyst, GETDATE())AS DataWyst
		, Ilosc
		, Twr_JM as JM
		--, Dst.*
	from dbo.CTIProdukcjaDostawyNaZP (@idZp) as Dst
		INNER JOIN CDN.tranag trnG on TrNId = trn_trnid
		INNER JOIN CDN.Towary on TwrId = twr_twrid
		INNER JOIN dbo.CtiZlecenieDok on CZD_TrnId = TrNId
		LEFT JOIN CDN.Magazyny AS c ON TrN_MagDocId = c.Mag_MagId 
		LEFT JOIN CDN.Magazyny AS d ON TrN_MagZrdId = d.Mag_MagId 
		LEFT JOIN dbo.CtiZleceniePrc ON  CZO_CZNId = CZD_CZNId and CZO_PrcId = CZD_PracownikId and @prmPrc = 1
		INNER JOIN cdn.TraSElem ON DstId = TrS_TrSIdDost AND TrS_Typ=1
		INNER JOIN cdn.TraElem ON TrE_TrEId = TrS_TrEId
		INNER JOIN CDN.tranag DokDst  ON DokDst.TrN_TrNId = TrE_TrNId
		LEFT JOIN CtiOperatorzy AS a ON CZD_OpeWyst = a.CO_ID 
	order by CZD_DataWyst

END
GO

# [dbo].[CTIProdukcjaZPWydrukEtykieta1]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZPWydrukEtykieta1]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CTIProdukcjaZPWydrukEtykieta1]

@id int

AS

BEGIN

	declare @Zmiana nvarchar(250) =''
	declare @IloscNaPalecie nvarchar(250) =''
	declare @DokumentRO nvarchar(250) =''
	select @Zmiana = Wartosc from dbo.CTIProdukcjaTowaryPolaSpecjalneNew(0,@id,0,0,0,0,0) where Lp = 1
	select @IloscNaPalecie = Wartosc from dbo.CTIProdukcjaTowaryPolaSpecjalneNew(0,@id,0,0,0,0,0) where Lp = 2
	select @DokumentRO = Wartosc from dbo.CTIProdukcjaTowaryPolaSpecjalneNew(0,@id,0,0,0,0,0) where Lp = 3
	
	declare @Wymiar1 int
	begin try
	select @Wymiar1 = (CASE  when LEN((select Twr_Kod FROM  CDN.Towary TWR RIGHT JOIN CTIZlecenieNag Z  on Z.CZN_TwrId=TWR.Twr_TwrId WHERE Z.CZN_ID=@id)) > 17 THEN 
	(CASE ISNUMERIC (SUBSTRING((select Twr_Kod FROM  CDN.Towary TWR RIGHT JOIN CTIZlecenieNag Z  on Z.CZN_TwrId=TWR.Twr_TwrId WHERE Z.CZN_ID=@id), 5, CHARINDEX('X', (select Twr_Kod FROM  CDN.Towary TWR RIGHT JOIN CTIZlecenieNag Z  on Z.CZN_TwrId=TWR.Twr_TwrId WHERE Z.CZN_ID=@id), 5)-5)) when 1 
	then CONVERT(int,SUBSTRING ((select Twr_Kod FROM  CDN.Towary TWR RIGHT JOIN CTIZlecenieNag Z  on Z.CZN_TwrId=TWR.Twr_TwrId WHERE Z.CZN_ID=@id), 5, CHARINDEX('X', (select Twr_Kod FROM  CDN.Towary TWR RIGHT JOIN CTIZlecenieNag Z  on Z.CZN_TwrId=TWR.Twr_TwrId WHERE Z.CZN_ID=@id), 5)-5))
	END ) end)
	end try
	begin catch	
	select @Wymiar1 = 0
	end catch

	declare @Wymiar2 int
	begin try
	select @Wymiar2 = (CASE  when LEN((select Twr_Kod FROM  CDN.Towary TWR RIGHT JOIN CTIZlecenieNag Z  on Z.CZN_TwrId=TWR.Twr_TwrId WHERE Z.CZN_ID=@id)) > 17 THEN
	(CASE
	ISNUMERIC (SUBSTRING((select Twr_Kod FROM  CDN.Towary TWR RIGHT JOIN CTIZlecenieNag Z  on Z.CZN_TwrId=TWR.Twr_TwrId WHERE Z.CZN_ID=@id), 10, CHARINDEX('X', (select Twr_Kod FROM  CDN.Towary TWR RIGHT JOIN CTIZlecenieNag Z  on Z.CZN_TwrId=TWR.Twr_TwrId WHERE Z.CZN_ID=@id), 10)-10)) when 1 
	then CONVERT(int,SUBSTRING ((select Twr_Kod FROM  CDN.Towary TWR RIGHT JOIN CTIZlecenieNag Z  on Z.CZN_TwrId=TWR.Twr_TwrId WHERE Z.CZN_ID=@id), 10, CHARINDEX('X', (select Twr_Kod FROM  CDN.Towary TWR RIGHT JOIN CTIZlecenieNag Z  on Z.CZN_TwrId=TWR.Twr_TwrId WHERE Z.CZN_ID=@id), 10)-10)) 	END  ) end)
	end try
	begin catch	
	select @Wymiar2 = 0
	end catch
	
	declare @Wymiar3 int
	begin try
	select @Wymiar3 = (CASE  when LEN((select Twr_Kod FROM  CDN.Towary TWR RIGHT JOIN CTIZlecenieNag Z  on Z.CZN_TwrId=TWR.Twr_TwrId WHERE Z.CZN_ID=@id)) > 17 THEN
	(
	CASE
	ISNUMERIC (SUBSTRING ((select Twr_Kod FROM  CDN.Towary TWR RIGHT JOIN CTIZlecenieNag Z  on Z.CZN_TwrId=TWR.Twr_TwrId WHERE Z.CZN_ID=@id), 15, 4)) when 1 
	then CONVERT(int,SUBSTRING ((select Twr_Kod FROM  CDN.Towary TWR RIGHT JOIN CTIZlecenieNag Z  on Z.CZN_TwrId=TWR.Twr_TwrId WHERE Z.CZN_ID=@id), 15, 4)) 
	END ) END)
	end try
	begin catch	
	select @Wymiar3 = 0
	end catch

  SELECT
  TOP 1
  (SELECT Fir_Wartosc from CDN.Firma where Fir_Numer=1156) AS PieczatkaNazwa,  
  (SELECT Fir_Wartosc from CDN.Firma where Fir_Numer=1149) AS PieczatkaUlica,
  (SELECT Fir_Wartosc from CDN.Firma where Fir_Numer=1150) AS PieczatkaNrUlicy,
  (SELECT  TOP 1 Fir_Wartosc from CDN.Firma where Fir_Numer=1153) AS PieczatkaKodPocztowy,
  (SELECT TOP 1 Fir_Wartosc from CDN.Firma where Fir_Numer=1152) AS PieczatkaMiasto,
  (SELECT TOP 1 Fir_Wartosc from CDN.Firma where Fir_Numer=1101) AS PieczatkaNip,
  (SELECT TOP 1  Fir_Wartosc from CDN.Firma where Fir_Numer=1155) AS PieczatkaTelefon,  
  
  
  CONVERT(varchar, Z.CZN_ID) AS IDZlecenia,
  TrN_PodNazwa1 AS KontNazwa,
  
  TrN_PodUlica AS KontUlica,
  TrN_PodKodPocztowy AS KontKodPocztowy,
  TrN_PodMiasto  AS KontMiasto,
  TrN_PodNipE  AS KontNip,
  Pod_Telefon1  AS KontTelefon,
  Pod_Telefon2  AS KontTelefon2,
  TrN_OdbNazwa1 AS OdbNazwa,
  TrN_OdbNazwa2 AS OdbNazw2,
  TrN_OdbUlica AS OdbUlica,
  TrN_OdbKodPocztowy AS OdbKodPocztowy,
  TrN_OdbMiasto  AS OdbMiasto,
  TrN_OdbNipE  AS OdbNip,
  TWR.Twr_Kod AS KodTowaru,
  at.TwA_WartoscTxt AS WymiarPaletySzt,
  CONVERT (date, GETDATE()) AS DataRealizacji,
  dbo.CTIProdukcjaZlecenieNumer(z.CZN_ID) AS PelnyNumer,

  TWR.Twr_Nazwa AS NAZWATowaru,
  @Zmiana as Zmiana,
  @IloscNaPalecie as IloscNaPalecie,
  @DokumentRO as DokumentRO,
  TrN_NumerObcy AS NumerZamKlienta,
  CZN_TwrId as IDProduktu,
  (CASE WHEN T.TrN_PodUlica<>TrN_OdbUlica OR TrN_OdbUlica IS NULL  THEN 0 ELSE 1 END) as KontrahentOdbiorca,
  (CASE WHEN TrN_PodUlica IS NULL then 2 END) AS ULICA,
    
    @Wymiar1 AS WYMIAR1,
    @Wymiar2 AS WYMIAR2,
    @Wymiar3 AS WYMIAR3
	
    FROM CTIZlecenieNag Z
	LEFT JOIN CDN.Towary TWR on Z.CZN_TwrId=TWR.Twr_TwrId
	LEFT JOIN CDN.TRANAG T ON @DokumentRO=T.TrN_NumerPelny
	LEFT JOIN CDN.PodmiotyView Pod ON Pod.Pod_PodId = T.TrN_PodId	
	LEFT JOIN CDN.TwrAtrybuty at ON (TWR.Twr_TwrId = TwA_TwrId AND TwA_DeAId = isnull((SELECT DeA_DeAId FROM CDN.DefAtrybuty WHERE DeA_Kod = 'PALETY'),0))
	
	WHERE Z.CZN_ID=@id

  END
GO

# [dbo].[CTIProdukcjaZPZestawienia]

In [0]:
/****** Object:  StoredProcedure [dbo].[CTIProdukcjaZPZestawienia]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CTIProdukcjaZPZestawienia]
	@dataOd		varchar(20),
	@dataDo		varchar(20)
AS
BEGIN

-------------ZESTAWIENIE 1 - ilość zasobów
	SELECT * INTO #zestawienia 
	FROM (
			select 1 as Dane_Nr, Dane_ID, Dane_CZNID, Dane_CZID, Dane_Txt1, Dane_Txt2, Dane_Txt3
			, 'Ilość planowana: '+convert(varchar,IloscPlan)+' Ilość zrealizowana: ' +convert(varchar,IloscRealizacja)+
				case when IloscRealizacja<IloscPlan then ' Braki w realizacji'
					 when IloscRealizacja=IloscPlan then ' Realizacja zakończona'
					 when IloscRealizacja>IloscPlan then ' '
				end as Dane_Txt4
			from
			(	
				SELECT Realizacja.ZZs_ID as Dane_ID, Realizacja.ZZs_CZNID as Dane_CZNID, Realizacja.ZZs_CZID as Dane_CZID, dbo.CTIProdukcjaZlecenieNumer (Zlecenie.CZN_ID) AS Dane_Txt1 , Zasob.CZ_kod AS Dane_Txt2 
					, case when CONVERT(VARCHAR,isnull(Realizacja.ZZs_DataOd,'1900-01-01 00:00:00') , 120) = '1900-01-01 00:00:00' then '' else CONVERT(VARCHAR,isnull(Realizacja.ZZs_DataOd,'') , 120) end AS Dane_Txt3
					, isnull(( select 	sum(isnull(CZS_Ilosc,0)) 
						from dbo.CtiZasobDok  where ISNULL(CZS_DokTyp,0) = 2 and ISNULL(CZS_CTNID,0) = Zlecenie.CZN_id and CZS_CZID = Zasob.CZ_ID
					  ),0) as IloscPlan
					, isnull(( select 	sum(isnull(RealizacZestaw.ZZs_Ilosc,0)) 
						from dbo.CtiZlecenieZasob as RealizacZestaw where RealizacZestaw.ZZs_CZNID = Zlecenie.CZN_ID and RealizacZestaw.ZZs_CZID = Realizacja.ZZs_CZID 
					   ),0) as IloscRealizacja
		  
				from dbo.CtiZasob as Zasob
					INNER JOIN dbo.CtiZlecenieZasob as Realizacja on Realizacja.ZZs_CZID = Zasob.CZ_ID
					INNER JOIN dbo.CtiZlecenieNag	as Zlecenie on Realizacja.ZZs_CZNID = Zlecenie.CZN_ID
				where CONVERT(VARCHAR, ISNULL(Zlecenie.CZN_DataWystaw, GETDATE()), 23)  BETWEEN CONVERT(VARCHAR, @dataOd, 23) AND CONVERT(VARCHAR, @dataDo, 23)
				and ZZs_DokTyp = 2
			) Zestaw1
		) AS x

-------------ZESTAWIENIE 2	- czas zasobów		
	INSERT INTO #zestawienia 
	select 2 as Dane_Nr, Dane_ID, Dane_CZNID, Dane_CZID, Dane_Txt1, Dane_Txt2, Dane_Txt3
	, 'Czas planowany: '+convert(varchar,CzasPlan)+' Czas zrealizowany: ' +convert(varchar,CzasRealizacja)+
		case when CzasRealizacja<CzasPlan then ' '
			 when CzasRealizacja=CzasPlan then ' '
			 when CzasRealizacja>CzasPlan then ' '
		end as Dane_Txt4
	from
	(	
		SELECT Realizacja.ZZs_ID as Dane_ID, Realizacja.ZZs_CZNID as Dane_CZNID, Realizacja.ZZs_CZID as Dane_CZID, dbo.CTIProdukcjaZlecenieNumer (Zlecenie.CZN_ID) AS Dane_Txt1 , Zasob.CZ_kod AS Dane_Txt2 
			, case when CONVERT(VARCHAR,isnull(Realizacja.ZZs_DataOd,'1900-01-01 00:00:00') , 120) = '1900-01-01 00:00:00' then '' else CONVERT(VARCHAR,isnull(Realizacja.ZZs_DataOd,'') , 120) end AS Dane_Txt3
		
	
			, isnull(( select 	sum(isnull(
					(
					 case when CONVERT(VARCHAR,isnull(RealizacZestaw.ZZs_DataOd,'1900-01-01 00:00:00') , 120) = '1900-01-01 00:00:00' then isnull(RealizacZestaw.ZZs_CzasMin,0)
						  when CONVERT(VARCHAR,isnull(RealizacZestaw.ZZs_DataDo,'1900-01-01 00:00:00') , 120) = '1900-01-01 00:00:00' then  CONVERT(decimal(15,4),DATEDIFF(second, RealizacZestaw.ZZs_DataOd,GETDATE())/60.0000)
						  else CONVERT(decimal(15,4),(isnull(DATEDIFF(SECOND, RealizacZestaw.ZZs_DataOd,RealizacZestaw.ZZs_DataDo) ,0))/60.0000)  end 
					),0)) 
				from dbo.CtiZlecenieZasob as RealizacZestaw where RealizacZestaw.ZZs_CZNID = Zlecenie.CZN_ID and RealizacZestaw.ZZs_CZID = Zasob.CZ_ID
			   ),0) as CzasRealizacja
			 ,
			  isnull(( select sum(isnull((convert(decimal(15,2), dbo.CTIProdukcjaZPZasobCzasCalkowity(PlanZestaw.CZS_CzasPracy, PlanZestaw.CZS_CzasUzbrojenia, PlanZestaw.CZS_CzasRozbrojenia, ZlecenieZestaw.CZN_Ilosc, COALESCE(ZasobZestaw.CZ_Dzielnik,ZlecenieZestaw.CZN_Ilosc,0), PlanZestaw.CZS_JMCzasu, CZS_ID)/60.0)),0))
				from dbo.CtiZasobDok as PlanZestaw INNER JOIN dbo.CtiZlecenieNag	as ZlecenieZestaw on ISNULL(PlanZestaw.CZS_CTNID,0) = ZlecenieZestaw.CZN_ID 
				inner join dbo.CtiZasob as ZasobZestaw on PlanZestaw.CZS_CZID = ZasobZestaw.CZ_ID
				 where ISNULL(PlanZestaw.CZS_DokTyp,0) = 2 and ISNULL(PlanZestaw.CZS_CTNID,0)=Zlecenie.CZN_ID  and  PlanZestaw.CZS_CZID = Zasob.CZ_ID
			  ),0)
		  
			   as CzasPlan
		from dbo.CtiZasob as Zasob
			INNER JOIN dbo.CtiZlecenieZasob as Realizacja on Realizacja.ZZs_CZID = Zasob.CZ_ID
			INNER JOIN dbo.CtiZlecenieNag	as Zlecenie on Realizacja.ZZs_CZNID = Zlecenie.CZN_ID
		where CONVERT(VARCHAR, ISNULL(Zlecenie.CZN_DataWystaw, GETDATE()), 23)  BETWEEN CONVERT(VARCHAR, @dataOd, 23) AND CONVERT(VARCHAR, @dataDo, 23)
				and ZZs_DokTyp = 2
	) Zestaw2


-------------ZESTAWIENIE 3	- daty	
	INSERT INTO #zestawienia 
	select 3 as Dane_Nr, Dane_ID, Dane_CZNID, Dane_CZID, Dane_Txt1, Dane_Txt2, Dane_Txt3
	, 'Planowana data zakończenia: '''+convert(varchar,DataPlan, 23)+''''+
		CASE WHEN convert(varchar,isnull(DataRealizacja,''), 23) = '1900-01-01' then '' else ' Realizacja: ''' +convert(varchar,isnull(DataRealizacja,''), 23)+'''' end
	 as Dane_Txt4
	from
	(	
		SELECT Realizacja.ZZs_ID as Dane_ID, Realizacja.ZZs_CZNID as Dane_CZNID, Realizacja.ZZs_CZID as Dane_CZID, dbo.CTIProdukcjaZlecenieNumer (Zlecenie.CZN_ID) AS Dane_Txt1 , Zasob.CZ_kod AS Dane_Txt2 
			, case when CONVERT(VARCHAR,isnull(Realizacja.ZZs_DataOd,'1900-01-01 00:00:00') , 120) = '1900-01-01 00:00:00' then '' else CONVERT(VARCHAR,isnull(Realizacja.ZZs_DataOd,'') , 120) end AS Dane_Txt3
		
	
			, ( select 	max(RealizacZestaw.ZZs_DataDo) 
				from dbo.CtiZlecenieZasob as RealizacZestaw where RealizacZestaw.ZZs_CZNID = Zlecenie.CZN_ID and RealizacZestaw.ZZs_CZID = Zasob.CZ_ID
			   ) as DataRealizacja
			 ,
			  isnull(( select max(ISNULL(PlanZestaw.CZS_CzasEnd,ZlecenieZestaw.CZN_CzasEnd))		
					from dbo.CtiZasobDok as PlanZestaw INNER JOIN dbo.CtiZlecenieNag	as ZlecenieZestaw on ISNULL(PlanZestaw.CZS_CTNID,0) = ZlecenieZestaw.CZN_ID 
				 where ISNULL(PlanZestaw.CZS_DokTyp,0) = 2 and ISNULL(PlanZestaw.CZS_CTNID,0)=Zlecenie.CZN_ID  and  PlanZestaw.CZS_CZID = Zasob.CZ_ID
			  ),Zlecenie.CZN_CzasEnd)
		  
			   as DataPlan
		from dbo.CtiZasob as Zasob
			INNER JOIN dbo.CtiZlecenieZasob as Realizacja on Realizacja.ZZs_CZID = Zasob.CZ_ID
			INNER JOIN dbo.CtiZlecenieNag	as Zlecenie on Realizacja.ZZs_CZNID = Zlecenie.CZN_ID
		where CONVERT(VARCHAR, ISNULL(Zlecenie.CZN_DataWystaw, GETDATE()), 23)  BETWEEN CONVERT(VARCHAR, @dataOd, 23) AND CONVERT(VARCHAR, @dataDo, 23)
				and ZZs_DokTyp = 2
	) Zestaw

		
			
		
		
	SELECT * FROM  #zestawienia	ORDER BY 1,2
	DROP TABLE #zestawienia 

END

GO

# [Towary_After_Insert_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[Towary_After_Insert_Trigger]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[Towary_After_Insert_Trigger]
ON [CDN].[Towary]
AFTER INSERT
AS
 SET NOCOUNT ON
 declare @dokumentTypGrupuTowarowe int = 0;
 select @dokumentTypGrupuTowarowe = ID from CDN.ListaDokumentowWymiarowanych() where nazwa = 'Grupy towarowe';
 declare @dokumentTypTowary int = 0;
 select @dokumentTypTowary = ID from CDN.ListaDokumentowWymiarowanych() where nazwa = 'Towary';
  declare @ID int
  declare @GrupaGIDNUmer int
  declare @twgID int
 DECLARE Dodane CURSOR LOCAL FAST_FORWARD FOR
 SELECT TwR_TwRID, Twr_TwGGIDNumer FROM inserted
 OPEN Dodane
 WHILE 1=1
 begin
  FETCH NEXT FROM Dodane INTO @ID, @GrupaGIDNUmer
  IF @@FETCH_STATUS <> 0 BREAK
  select @twgID=TwG_TwGID from CDN.TwrGrupy where TwG_GIDNumer = @GrupaGIDNUmer and TwG_GIDTyp = -16
  if @twgID is not null
  begin
   insert into CDN.WymiaryWartosci (WyW_WyyId, WyW_Guid, WyW_Wartosc, WyW_DokumentTyp, WyW_DokumentId, WyW_Procent, WyW_Kwota, WyW_SlownikId)
   select WyW_WyyId, WyW_Guid, WyW_Wartosc, @dokumentTypTowary, @ID, WyW_Procent, WyW_Kwota, WyW_SlownikId from CDN.WymiaryWartosci
   where  WyW_DokumentTyp = @dokumentTypGrupuTowarowe and WyW_DokumentId = @twgID
   order by WyW_Guid;
  end
 end
 Close Dodane
 Deallocate Dodane
 SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[Towary] ENABLE TRIGGER [Towary_After_Insert_Trigger]
GO

# [Towary_Delete_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[Towary_Delete_Trigger]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Trigger [CDN].[Towary_Delete_Trigger]
  On [CDN].[Towary]
  For Delete
As
Set NoCount On
-- Sprawdzenie, czy towar nie jest wzięty na urządzenie
  IF EXISTS (SELECT * FROM cdn.SrsUrzadzenia  JOIN deleted ON SrU_TwrId=deleted.Twr_TwrId)
    BEGIN
      RAISERROR('##OPT34553##', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
-- Sprawdzenie, czy towar nie jest wzięty na zlecenie
  IF EXISTS (SELECT * FROM cdn.SrsZlecenia JOIN deleted ON SrZ_ZbiorczeTwrIdCzesci=deleted.Twr_TwrId WHERE SrZ_ZbiorczeFaCzesci=1)
  OR EXISTS (SELECT * FROM cdn.SrsZlecenia JOIN deleted ON SrZ_ZbiorczeTwrIdCzynnosci=deleted.Twr_TwrId WHERE SrZ_ZbiorczeFaCzynnosci=1)
    BEGIN
      RAISERROR('##OPT34554##', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
  IF EXISTS (SELECT * FROM cdn.SrsCzesci  JOIN deleted ON SrC_TwrId=deleted.Twr_TwrId)
    BEGIN
      RAISERROR('##OPT34554##', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
  IF EXISTS (SELECT * FROM cdn.SrsCzynnosci JOIN deleted ON SrY_TwrId=deleted.Twr_TwrId)
    BEGIN
      RAISERROR('##OPT34554##', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
-- Sprawdzenie, czy towar nie jest wysłany do ESklepu
  IF EXISTS (SELECT * FROM deleted where Twr_GidFirma = 1)
    BEGIN
      if exists (select * from cdn.eSklepStanowiska where ESS_Typ = 2 ) and exists (select * from cdn.eSklepStanowiska where ESS_Typ = 1)
  RAISERROR('##OPT34555##', 16, 1)
      else
  if exists (select * from cdn.eSklepStanowiska where ESS_Typ = 2 )
   RAISERROR('##OPT34556##', 16, 1)
      else
  if exists (select * from cdn.eSklepStanowiska where ESS_Typ = 1 )
   RAISERROR('##OPT34557##', 16, 1)
      else
  RAISERROR('##OPT34555##', 16, 1)
      --RAISERROR('Pozycja cennika nie może być wykasowana. Nie można usunąć towaru, który został wysłany do E-Sklepu.', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
 -- Sprawdzenie, czy towar nie jest kosztem przesylki dla eCommerce
    IF EXISTS (select * from cdn.eSklepStanowiska JOIN deleted ON ESS_KosztPrzesylki=deleted.Twr_TwrId  )
    BEGIN
      RAISERROR('##OPT35175##', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
-- Sprawdzenie, czy towar nie jest wysłany do detalu
  IF EXISTS (SELECT * FROM deleted where Twr_GidFirma = 2)
    BEGIN
      RAISERROR('##OPT34558##', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
  IF EXISTS (SELECT * FROM cdn.ZestawyTwrSkladniki  JOIN deleted ON ZTS_TwrId=deleted.Twr_TwrId)
    BEGIN
      RAISERROR('##OPT34559##', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
-- Sprawdzenie, czy towar nie jest wykorzystany na ofercie
  IF EXISTS (SELECT * FROM cdn.OfertyElem  JOIN deleted ON OfL_TwrId=deleted.Twr_TwrId)
    BEGIN
      RAISERROR('##OPT34560##', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
   IF EXISTS (SELECT * FROM cdn.OfertyElemCeny  JOIN deleted ON OfC_TwrId=deleted.Twr_TwrId)
    BEGIN
      RAISERROR('##OPT34560##', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
-- Sprawdzenie, czy towar nie jest zamiennikiem
 IF EXISTS (SELECT * FROM cdn.Zamienniki  JOIN deleted ON deleted.Twr_TwrId = ZAM_TwrId) or EXISTS (SELECT * FROM cdn.Zamienniki  JOIN deleted ON deleted.Twr_TwrId = ZAM_ZamTwrId)
    BEGIN
      RAISERROR('##OPT34561##', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
-- obsługa kasowania rabatow dla towarów
Delete From CDN.Rabaty Where
 Rab_Typ In (4, 6, 8, 11, 12, 13) And
 Rab_TwrId In (Select Twr_TwrId From deleted)
Delete From CDN.TwrGrupy
Where TwG_GIDTyp = 16
 AND TwG_Kod In (Select Twr_Kod From deleted)
-- obsługa kaskadowego kasowania przywiązania towaru do grup
 DELETE CDN.TwrGrupy
    FROM CDN.TwrGrupy, deleted
    WHERE
   TwG_GIDTyp  = 16
  AND TwG_Kod  = deleted.Twr_Kod
-- obsługa kasowania z wzorca faktur cyklicznych
DELETE CDN.FaCyklTwrKnt FROM CDN.FaCyklTwrKnt A JOIN CDN.FaCyklElem B ON  A.FcT_FcEId=B.FCE_FcEID
WHERE FcE_TwrId In (Select Twr_TwrId From deleted)
Delete From CDN.FaCyklElem Where FcE_TwrId In (Select Twr_TwrId From deleted)
-- obsługa kasowania załączników
DELETE FROM CDN.DaneBinarneLinki WHERE DBL_TwrId IN (SELECT Twr_TwrId FROM deleted)
 -- Usuwanie wymiarów analitycznych
  DECLARE @WADokumentTyp int = 0;
  select @WADokumentTyp=id from CDN.ListaDokumentowWymiarowanych() where nazwa='Towary';
 if exists(select * from CDN.WymiaryWartosci where WyW_DokumentTyp = @WADokumentTyp and WyW_DokumentId in (select deleted.Twr_TwrId from deleted))
  delete from CDN.WymiaryWartosci where WyW_DokumentTyp = @WADokumentTyp
  and WyW_DokumentId in (select deleted.Twr_TwrId from deleted)
Set NoCount Off

GO
ALTER TABLE [CDN].[Towary] ENABLE TRIGGER [Towary_Delete_Trigger]
GO

# [Towary_Delete_TriggerProdukcja]

In [0]:
/****** Object:  Trigger [CDN].[Towary_Delete_TriggerProdukcja]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [CDN].[Towary_Delete_TriggerProdukcja]
  On [CDN].[Towary]
  For Delete
As
Set NoCount On
-- Sprawdzenie, czy towar nie jest na technologii produkcji
  IF EXISTS ( SELECT  top 1 CTN_TwrId FROM dbo.CtiTechnolNag JOIN deleted ON  CTN_TwrId = deleted.Twr_TwrId)
    BEGIN
      RAISERROR('Pozycja cennika nie może być wykasowana. Pozycja została użyta w technologii produkcji.', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
	
-- Sprawdzenie, czy towar nie jest na elementach technologii produkcji
  IF EXISTS ( SELECT  top 1 CTE_TwrId FROM dbo.CtiTechnolElem JOIN deleted ON  CTE_TwrId = deleted.Twr_TwrId)
    BEGIN
      RAISERROR('Pozycja cennika nie może być wykasowana. Pozycja została użyta w technologii produkcji.', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
-- Sprawdzenie, czy towar nie jest na zleceniu wydania
  IF EXISTS ( SELECT top 1 isnull(CWP_PodId,0) FROM dbo.CtiProdWydaniePoz JOIN deleted ON  isnull(CWP_PodId,0) = deleted.Twr_TwrId where CWP_Typ = 33)
    BEGIN
      RAISERROR('Pozycja cennika nie może być wykasowana. Pozycja została użyta w zleceniu wydania.', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END

-- Sprawdzenie, czy towar nie jest na zleceniu produkcyjnym
  IF EXISTS ( SELECT top 1 isnull(CZN_TwrId,0) FROM dbo.CtiZlecenieNag JOIN deleted ON  isnull(CZN_TwrId,0) = deleted.Twr_TwrId)
    BEGIN
      RAISERROR('Pozycja cennika nie może być wykasowana. Pozycja została użyta w zleceniu produkcyjnym.', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END

-- Sprawdzenie, czy towar nie jest na elemencie zlecenia produkcyjnego
  IF EXISTS ( SELECT top 1 isnull(CZE_TwrId,0) FROM dbo.CtiZlecenieElem JOIN deleted ON  isnull(CZE_TwrId,0) = deleted.Twr_TwrId)
    BEGIN
      RAISERROR('Pozycja cennika nie może być wykasowana. Pozycja została użyta w elemencie ZP.', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END

-- Sprawdzenie, czy towar nie jest na elemencie technologii złożonej
  IF EXISTS ( SELECT TOP 1 isnull(CTZE_CTNID,0) FROM dbo.CtiTechnolZElem JOIN deleted ON  isnull(CTZE_CTNID,0) = deleted.Twr_TwrId WHERE CTZE_Typ IN (2,3,4,5,6))
    BEGIN
      RAISERROR('Pozycja cennika nie może być wykasowana. Pozycja została użyta w elemencie THZ.', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
Set NoCount Off
GO
ALTER TABLE [CDN].[Towary] ENABLE TRIGGER [Towary_Delete_TriggerProdukcja]
GO

# [Towary_DeleteHandler]

In [0]:
/****** Object:  Trigger [CDN].[Towary_DeleteHandler]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[Towary_DeleteHandler]
  ON [CDN].[Towary]
  FOR DELETE
AS
SET NOCOUNT ON
    IF EXISTS(
   SELECT * FROM CDN.TwrJm INNER JOIN deleted
   ON deleted.Twr_GIDTyp = CDN.TwrJm.TwJ_TwrTyp
   AND deleted.Twr_GIDFirma = CDN.TwrJm.TwJ_TwrFirma
   AND deleted.Twr_GIDNumer = CDN.TwrJm.TwJ_TwrNumer
  )
  DELETE CDN.TwrJm
  FROM CDN.TwrJm, deleted
  WHERE
   deleted.Twr_GIDTyp = CDN.TwrJm.TwJ_TwrTyp
  AND deleted.Twr_GIDFirma = CDN.TwrJm.TwJ_TwrFirma
  AND deleted.Twr_GIDNumer = CDN.TwrJm.TwJ_TwrNumer
    IF EXISTS(
   SELECT * FROM CDN.TwrDost INNER JOIN deleted
   ON deleted.Twr_GIDTyp = CDN.TwrDost.TWD_TwrTyp
   AND deleted.Twr_GIDFirma = CDN.TwrDost.TWD_TwrFirma
   AND deleted.Twr_GIDNumer = CDN.TwrDost.TWD_TwrNumer
  )
  DELETE CDN.TwrDost
  FROM CDN.TwrDost, deleted
  WHERE
   deleted.Twr_GIDTyp = CDN.TwrDost.TWD_TwrTyp
  AND deleted.Twr_GIDFirma = CDN.TwrDost.TWD_TwrFirma
  AND deleted.Twr_GIDNumer = CDN.TwrDost.TWD_TwrNumer
SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[Towary] ENABLE TRIGGER [Towary_DeleteHandler]
GO

# [Towary_Insert_TriggerProdukcja]

In [0]:
/****** Object:  Trigger [CDN].[Towary_Insert_TriggerProdukcja]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[Towary_Insert_TriggerProdukcja]
ON [CDN].[Towary] FOR INSERT
AS BEGIN
	INSERT INTO [dbo].[CtiTowary] (CTwr_TwrId, CTwr_Cena, CTwr_Narzut, CTwr_MagZrdId, CTwr_MagDocId) VALUES ((SELECT inserted.Twr_TwrId FROM inserted), 0, 0, null, null);
END
GO
ALTER TABLE [CDN].[Towary] ENABLE TRIGGER [Towary_Insert_TriggerProdukcja]
GO

# [Towary_InsertUpdate_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[Towary_InsertUpdate_Trigger]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[Towary_InsertUpdate_Trigger]
ON [CDN].[Towary]
FOR INSERT, UPDATE
AS
  SET NOCOUNT ON
declare
@Kod NVarchar(40),
@JM NVarchar(20),
@Komunikat NVarchar(555)
  If Update (Twr_Kod) Or Update (Twr_EAN)
    Begin
      If Exists (
        Select * From inserted A, CDN.Towary B Where
          A.Twr_EAN   = B.Twr_EAN And A.Twr_EAN <> '' And
           A.Twr_TwrId   <> B.Twr_TwrId)
   Or Exists (
         Select * From inserted A, CDN.TwrEAN B Where
          A.Twr_EAN   = B.TwE_EAN And A.Twr_EAN <> '' And
           A.Twr_TwrId   <> B.TwE_TwrId)
      Or Exists (
        Select * From inserted A, CDN.Towary B Where
           A.Twr_EAN   = B.Twr_Kod And
           A.Twr_TwrId   <> B.Twr_TwrId)
      Or Exists (
        Select * From inserted A, CDN.Towary B Where
           A.Twr_Kod   = B.Twr_EAN And
           A.Twr_TwrId   <> B.Twr_TwrId)
     Or Exists (
        Select * From inserted A, CDN.TwrEAN B Where
           A.Twr_Kod   = B.TwE_EAN And
           A.Twr_TwrId   <> B.TwE_TwrId)
        Begin
          RaisError ('##OPT32345##', 16,1)
          RollBack Tran
          Return
        End
    End
  If Update (Twr_NumerKat) And Not Exists (Select * From CDN.Firma Where Fir_Numer=1470 And Fir_Wartosc='4')
    Begin
      If Exists (
        Select * From inserted A, CDN.Towary B Where
          A.Twr_NumerKat  = B.Twr_NumerKat And
          A.Twr_NumerKat <> '' And
          A.Twr_TwrId    <> B.Twr_TwrId)
        Begin
          RaisError ('##OPT34551##', 16,1)
          RollBack Tran
          Return
        End
    End
-- Sprawdzanie flagi esklep towaru i zestawu
-- Sprawdzanie duplikacji identyfikatora GID
IF UPDATE (Twr_JM)
  BEGIN
    UPDATE CDN.ProdSkladniki SET PdS_JM = inserted.Twr_JM
    FROM inserted
    JOIN deleted ON inserted.Twr_TwrId = deleted.Twr_TwrId
    JOIN CDN.ProdSkladniki ON CDN.ProdSkladniki.PdS_TwrId = inserted.Twr_TwrId
    WHERE CDN.ProdSkladniki.PdS_JM = deleted.Twr_JM
 UPDATE CDN.ZestawyTwrSkladniki SET ZTS_Jm = inserted.Twr_JM
    FROM inserted
    JOIN deleted ON inserted.Twr_TwrId = deleted.Twr_TwrId
    JOIN CDN.ZestawyTwrSkladniki ON CDN.ZestawyTwrSkladniki.ZTS_TwrId = inserted.Twr_TwrId
    WHERE CDN.ZestawyTwrSkladniki.ZTS_JM = deleted.Twr_JM
  END
If Update (Twr_KosztUslugiWal) Or Update (Twr_Waluta)
  Update CDN.TwrCeny Set
    TwC_Wartosc = Twr_KosztUslugiWal, TwC_Waluta  = Twr_Waluta
  From inserted
  Join CDN.TwrCeny On Twr_TwrId = TwC_TwrId
  Where Twr_Typ = 0 And Twr_KosztUslugiTyp = 1
    And (TwC_Wartosc <> Twr_KosztUslugiWal Or TwC_Waluta <> Twr_Waluta)
    And TwC_TwCNumer = 1
If Not Exists (Select * From CDN.Firma Where Fir_Numer=1470 And Fir_Wartosc='4')
UPDATE CDN.Towary SET Twr_GIDNumer = Twr_TwrID WHERE Twr_TwrID IN (SELECT Twr_TwrID FROM inserted)
-- Aktualizacja FaCyklElem
If Update (Twr_Kod)
 Update CDN.FaCyklElem SET FcE_Kod = Twr_Kod From inserted B Join CDN.FaCyklElem  On FcE_TwrId = B.Twr_TwrId
/*  DECLARE
    -- zmienne pomocnicze dla kursora
    @Twr_TwrId       INT,
    @Twr_KosztUslugi DECIMAL(15,2)
  SET NOCOUNT ON
  DECLARE T CURSOR LOCAL FAST_FORWARD FOR
    SELECT B.Twr_TwrId, B.Twr_KosztUslugi
      FROM deleted A JOIN inserted B ON A.Twr_TwrId = B.Twr_TwrId
      WHERE B.Twr_Typ = 0 AND A.Twr_KosztUslugi <> B.Twr_KosztUslugi
    OPEN T
      WHILE 1=1
      BEGIN
        FETCH NEXT FROM T INTO @Twr_TwrId, @Twr_KosztUslugi
        IF @@FETCH_STATUS <> 0 BREAK
          UPDATE cdn.TwrCeny  SET TwC_Wartosc = @Twr_KosztUslugi  WHERE TwC_TwrId = @Twr_TwrId AND TwC_TwCNumer = 1
      END
    CLOSE T
  DEALLOCATE T
*/
 if UPDATE(Twr_ESklepFantomID)
    begin
    If Exists (
        Select * From inserted Where Twr_TwrId = Twr_ESklepFantomID and ISNULL(Twr_ESklepFantomID,0)>0
         )
        begin
            RaisError ('##OPT34552##', 16,1)
            RollBack Tran
            Return
        end
    end
 If Update (Twr_nieaktywny) or  Update (Twr_ESklepFantomID)
    begin
      update cdn.danebinarne set dab_ts_mod = getdate()
       where dab_dabid in (select twa_dabid from cdn.twratrybuty where not twa_dabid is null and twa_twrid in (select twr_twrid from inserted where Twr_nieaktywny = 0))
   update cdn.twrgrupy set TwG_GIDNumer = TwG_GIDNumer
       where TwG_GIDNumer in (select twr_twrid from inserted join cdn.TwrESklep on Twes_TwrID = twr_twrid where Twes_udostepnij = 1 and Twr_nieaktywny = 0) and TwG_GIDTyp = 16
    end
  If Update (Twr_nieaktywny)
    begin
     update cdn.twrgrupy set TwG_GIDNumer = TwG_GIDNumer
   where TwG_GIDNumer in (select twr_twrid from cdn.Towary where Twr_ESklepFantomID in (select twr_twrid from inserted where Twr_NieAktywny = 1)) and TwG_GIDTyp = 16
     update Twr  set TwTS_TS_ModESklep = GETDATE() from CDN.TwrTSModEsklep Twr
     join cdn.Towary on TwTS_TwrId = Twr_TwrId
   where Twr_ESklepFantomID in (select twr_twrid from inserted where Twr_NieAktywny = 1)
     insert into  CDN.TwrTSModEsklep
     select Twr_TwrId,GETDATE() from cdn.towary
     left join CDN.TwrTSModEsklep on TwTS_TwrId = Twr_TwrId
   where TwTS_TwrId is null and Twr_ESklepFantomID in (select twr_twrid from inserted where Twr_NieAktywny = 1)
  update cdn.Towary set Twr_ESklepFantomID = null/*,Twr_ts_mod = getdate()*/  where Twr_ESklepFantomID in (select twr_twrid from inserted where Twr_NieAktywny = 1)
    end
 If Update (Twr_CenaZCzteremaMiejscami)
    begin
     update cdn.rabaty set rab_cena = round(rab_cena,2) where Rab_Typ in(11,12,13)and Rab_TwrId
     in (select twr_twrid from inserted where Twr_CenaZCzteremaMiejscami = 0)
     update cdn.ZestawyTwr set ZTw_Wartosc= round(ZTw_Wartosc,2),ZTw_TS_Mod = getdate() where ZTw_TypRabatu = 1 and ZTw_TwrId
     in (select twr_twrid from inserted where Twr_CenaZCzteremaMiejscami = 0)
     update cdn.ZestawyTwrSkladniki set ZTs_Wartosc= round(ZTs_Wartosc,2) where ZTs_TypRabatu in (1,2) and ZTS_TwrId
     in (select twr_twrid from inserted where Twr_CenaZCzteremaMiejscami = 0)
    end
 --wszystkopl
  SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[Towary] ENABLE TRIGGER [Towary_InsertUpdate_Trigger]
GO

# [Towary_Update_TriggerProdukcja]

In [0]:
/****** Object:  Trigger [CDN].[Towary_Update_TriggerProdukcja]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[Towary_Update_TriggerProdukcja]
ON [CDN].[Towary] FOR UPDATE
AS BEGIN
	IF (UPDATE(Twr_Nieaktywny))
	BEGIN
		IF EXISTS (
			SELECT inserted.Twr_TwrId FROM inserted
			INNER JOIN deleted ON inserted.Twr_TwrId = deleted.Twr_TwrId
			WHERE deleted.Twr_NieAktywny = 0 and inserted.Twr_NieAktywny = 1
		)
		BEGIN
			DECLARE @Msg VARCHAR(MAX) = 'Nie można ustawić towaru na nieaktywny, występuje na aktywnych dokumentach TH w Produkcji (jako pozycja lub wyrób):';
			DECLARE @Zablokowac INT = 0;
			DECLARE @NumerTH VARCHAR(MAX) = '';
			
			-- Wyrób na TH
			DECLARE Kursor1 CURSOR FOR
			SELECT CTN_Nazwa FROM dbo.CtiTechnolNag
			WHERE CTN_TwrId IN (
				SELECT inserted.Twr_TwrId FROM inserted
				INNER JOIN deleted ON inserted.Twr_TwrId = deleted.Twr_TwrId
				WHERE deleted.Twr_NieAktywny = 0 AND inserted.Twr_NieAktywny = 1
			)
			AND CTN_Status <> 4;

			OPEN Kursor1;
			FETCH NEXT FROM Kursor1 INTO @NumerTH;

			WHILE @@FETCH_STATUS = 0
			BEGIN
				SET @Zablokowac = 1;
				SET @Msg = @Msg + CHAR(13) + CHAR(10) + @NumerTH;

				FETCH NEXT FROM Kursor1 INTO @NumerTH;
			END

			CLOSE Kursor1;
			DEALLOCATE Kursor1;

			-- Pozycja na TH
			DECLARE Kursor2 CURSOR FOR
			SELECT DISTINCT CTN_Nazwa FROM dbo.CtiTechnolNag
			LEFT OUTER JOIN dbo.CtiTechnolElem ON CTN_ID = CTE_CTNId
			WHERE CTE_TwrId IN (
				SELECT inserted.Twr_TwrId FROM inserted
				INNER JOIN deleted ON inserted.Twr_TwrId = deleted.Twr_TwrId
				WHERE deleted.Twr_NieAktywny = 0 AND inserted.Twr_NieAktywny = 1
			)
			AND CTN_Status <> 4

			OPEN Kursor2;
			FETCH NEXT FROM Kursor2 INTO @NumerTH;

			WHILE @@FETCH_STATUS = 0
			BEGIN
				SET @Zablokowac = 1;
				SET @Msg = @Msg + CHAR(13) + CHAR(10) + @NumerTH;

				FETCH NEXT FROM Kursor2 INTO @NumerTH;
			END

			CLOSE Kursor2;
			DEALLOCATE Kursor2;

			-- Wyrób na THZ
			DECLARE Kursor3 CURSOR FOR
			SELECT CTZN_Nazwa FROM dbo.CtiTechnolZNag
			WHERE CTZN_TwrId IN (
				SELECT inserted.Twr_TwrId FROM inserted
				INNER JOIN deleted ON inserted.Twr_TwrId = deleted.Twr_TwrId
				WHERE deleted.Twr_NieAktywny = 0 AND inserted.Twr_NieAktywny = 1
			)
			AND CTZN_Nieaktywna = 0;

			OPEN Kursor3;
			FETCH NEXT FROM Kursor3 INTO @NumerTH;

			WHILE @@FETCH_STATUS = 0
			BEGIN
				SET @Zablokowac = 1;
				SET @Msg = @Msg + CHAR(13) + CHAR(10) + @NumerTH;

				FETCH NEXT FROM Kursor3 INTO @NumerTH;
			END

			CLOSE Kursor3;
			DEALLOCATE Kursor3;

			-- Pozycja na THZ
			DECLARE Kursor4 CURSOR FOR
			SELECT DISTINCT CTZN_Nazwa FROM dbo.CtiTechnolZNag
			LEFT OUTER JOIN dbo.CtiTechnolZElem ON CTZN_ID = CTZE_CTZNId
			WHERE CTZE_Typ IN (2,3,4,5,6)
			AND CTZE_CTNID IN (
				SELECT inserted.Twr_TwrId FROM inserted
				INNER JOIN deleted ON inserted.Twr_TwrId = deleted.Twr_TwrId
				WHERE deleted.Twr_NieAktywny = 0 AND inserted.Twr_NieAktywny = 1
			)
			AND CTZN_Nieaktywna = 0;

			OPEN Kursor4;
			FETCH NEXT FROM Kursor4 INTO @NumerTH;

			WHILE @@FETCH_STATUS = 0
			BEGIN
				SET @Zablokowac = 1;
				SET @Msg = @Msg + CHAR(13) + CHAR(10) + @NumerTH;

				FETCH NEXT FROM Kursor4 INTO @NumerTH;
			END

			CLOSE Kursor4;
			DEALLOCATE Kursor4;



			IF (@Zablokowac = 1)
			BEGIN
				RAISERROR(@Msg, 16, 1)
				ROLLBACK TRAN
				SET NOCOUNT OFF
				RETURN
			END
		END
	END
	IF (UPDATE(Twr_JM))
	BEGIN
		IF EXISTS (
			SELECT inserted.Twr_TwrId FROM inserted
			INNER JOIN deleted ON inserted.Twr_TwrId = deleted.Twr_TwrId
			WHERE inserted.Twr_JM <> deleted.Twr_JM 
		)
		BEGIN
			DECLARE @Msg2 VARCHAR(MAX) = 'Nie można zmienić JM towaru, występuje na dokumentach TH/THZ/ZP/ZPZ w Produkcji (jako pozycja lub wyrób)';
			DECLARE @Zablokowac2 INT = 0;
			DECLARE @tempProd VARCHAR(MAX) = '';
		
			DECLARE Kursor5 CURSOR FOR
			select distinct ID from (select distinct CTN_TwrId as ID from dbo.CtiTechnolNag 
			union all
			select distinct CTZN_TwrId as ID from dbo.CtiTechnolZNag 
			union all
			select distinct CZN_TwrId as ID from dbo.CtiZlecenieNag 
			union all
			select distinct CZZN_TwrId as ID from dbo.CtiZlecenieZNag 
			union all
			select distinct CTE_TwrId as ID from dbo.CtiTechnolElem
			union all
			select distinct CTZE_CTNID as ID from dbo.CtiTechnolZElem
			where CTZE_Typ IN(2,3,4,5,6)
			union all
			select distinct CZE_TwrId as ID from dbo.CtiZlecenieElem 
			union all
			select distinct CZZE_CZNID as ID from dbo.CtiZlecenieZElem 
			where CZZE_Typ IN(12,13,14,15,16)
			) a
			WHERE ID IN (
				SELECT inserted.Twr_TwrId FROM inserted
				INNER JOIN deleted ON inserted.Twr_TwrId = deleted.Twr_TwrId
			);
			OPEN Kursor5;
			FETCH NEXT FROM Kursor5 INTO @tempProd;

			WHILE @@FETCH_STATUS = 0
			BEGIN
				SET @Zablokowac2 = 1;
				FETCH NEXT FROM Kursor5 INTO @tempProd;
			END

			CLOSE Kursor5;
			DEALLOCATE Kursor5;

			IF (@Zablokowac2 = 1)
			BEGIN
				RAISERROR(@Msg2, 16, 1)
				ROLLBACK TRAN
				SET NOCOUNT OFF
				RETURN
			END
		END
	END
END
GO
ALTER TABLE [CDN].[Towary] ENABLE TRIGGER [Towary_Update_TriggerProdukcja]
GO

# [TraElem_CTI_BlokowanieZP_Delete]

In [0]:
/****** Object:  Trigger [CDN].[TraElem_CTI_BlokowanieZP_Delete]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TraElem_CTI_BlokowanieZP_Delete]
ON [CDN].[TraElem]
FOR DELETE
AS BEGIN
	DECLARE @DokTyp int = (SELECT TOP 1 TrE_TypDokumentu FROM deleted);
	DECLARE @DokID int = (SELECT TOP 1 TrE_TrNId FROM deleted);
	DECLARE @Treid int = (SELECT TOP 1 TrE_treid FROM deleted);
	DECLARE @ZwrID int = (SELECT TOP 1 TrN_ZwrID FROM CDN.TraNag WHERE TrN_TrNID = @DokID);	
	DECLARE @TwrID int = (SELECT TOP 1 TrE_TwrId FROM inserted);
	DECLARE @ZpID int = (SELECT TOP 1 ISNULL(CZD_CZNId, -1) FROM dbo.CtiZlecenieDok WHERE (CZD_TrnId = @DokID OR CZD_TrnId = @ZwrID));

	IF (select KNF_Wartosc from dbo.CtiKonfiguracja where KNF_Numer=1139)=1 
	BEGIN
	IF @ZpID IS NOT NULL AND @ZpID > 0
		BEGIN
		IF @DokTyp = 303	
			EXEC dbo.CTIProdukcjaUpdateStatusyZP 24, @ZpID
					
		IF @DokTyp = 308 and (select KNF_Wartosc from dbo.CtiKonfiguracja where KNF_Numer=1142)=1
			EXEC dbo.CTIProdukcjaUpdateStatusyZPProdukcja @Treid, @TwrID
		END
	END
	-- Nie mamy do czynienia z PW, wychodzimy z funkcji
	IF (@DokTyp NOT IN (303, 312))
		RETURN;

	-- Dokument nie ma powiązania ze zleceniem, wychodzimy z funkcji
	IF NOT EXISTS (SELECT * FROM dbo.CtiZlecenieDok WHERE CZD_Typ IN (4, 6) AND 
		(CZD_TrnId = @DokID OR CZD_TrnId = @ZwrID))
		RETURN;

	DECLARE @IloscZlecona DECIMAL(15,4) = (SELECT TOP 1 CZN_Ilosc FROM dbo.CtiZlecenieNag WHERE CZN_ID = @ZpID);
	DECLARE @KontrolaWydania varchar(255) = ISNULL((SELECT TOP 1 Knf_Wartosc FROM dbo.CtiKonfiguracja WHERE Knf_Numer = 63), '0')
	DECLARE @IloscSprawdzana DECIMAL(15,4);

	IF (@KontrolaWydania = '1')
	BEGIN
		SET @IloscSprawdzana = (SELECT dbo.CTIProdukcjaZlecenieIloscSkontrolowana(@ZpID));
	END
	ELSE
	BEGIN
		SET @IloscSprawdzana = (SELECT dbo.CTIProdukcjaZlecenieIloscZrealizowana(@ZpID, 0, 0));
	END

	-- Blokowanie
	IF (@IloscSprawdzana >= @IloscZlecona AND ISNULL((SELECT TOP 1 Knf_Wartosc FROM dbo.CtiKonfiguracja WHERE Knf_Numer = 64), '') IN ('True', 'TRUE', '1'))
	BEGIN
		UPDATE dbo.CtiZlecenieNag SET CZN_Status = 3 WHERE CZN_ID = @ZpID;
	END

	-- Odblokowanie
	IF (@IloscSprawdzana < @IloscZlecona AND ISNULL((SELECT TOP 1 Knf_Wartosc FROM dbo.CtiKonfiguracja WHERE Knf_Numer = 1020), '') IN ('True', 'TRUE', '1'))
	BEGIN
		UPDATE dbo.CtiZlecenieNag SET CZN_Status = 2 WHERE CZN_ID = @ZpID;
	END
END
GO
ALTER TABLE [CDN].[TraElem] ENABLE TRIGGER [TraElem_CTI_BlokowanieZP_Delete]
GO

# [TraElem_CTI_BlokowanieZP_Update]

In [0]:
/****** Object:  Trigger [CDN].[TraElem_CTI_BlokowanieZP_Update]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TraElem_CTI_BlokowanieZP_Update]
ON [CDN].[TraElem]
FOR INSERT, UPDATE
AS BEGIN
	DECLARE @DokTyp int = (SELECT TOP 1 TrE_TypDokumentu FROM inserted);
	DECLARE @DokID int = (SELECT TOP 1 TrE_TrNId FROM inserted);
	DECLARE @ZwrID int = (SELECT TOP 1 TrN_ZwrID FROM CDN.TraNag WHERE TrN_TrNID = @DokID);
	DECLARE @TwrID int = (SELECT TOP 1 TrE_TwrId FROM inserted);
	DECLARE @Treid int = (SELECT TOP 1 TrE_treid FROM inserted);
	DECLARE @ZpID int = (SELECT TOP 1 ISNULL(CZD_CZNId, -1) FROM dbo.CtiZlecenieDok WHERE (CZD_TrnId = @DokID OR CZD_TrnId = @ZwrID));

	IF (select KNF_Wartosc from dbo.CtiKonfiguracja where KNF_Numer=1139)=1 AND EXISTS (SELECT * FROM deleted) AND EXISTS (SELECT * FROM inserted)
	BEGIN
	IF @ZpID IS NOT NULL AND @ZpID > 0
		BEGIN
		IF @DokTyp = 303	
			EXEC dbo.CTIProdukcjaUpdateStatusyZP 24, @ZpID
					
		IF @DokTyp = 308 and (select KNF_Wartosc from dbo.CtiKonfiguracja where KNF_Numer=1142)=1
			EXEC dbo.CTIProdukcjaUpdateStatusyZPProdukcja @Treid, @TwrID
		END
	END
	-- Nie mamy do czynienia z PW, wychodzimy z funkcji
	IF (@DokTyp NOT IN (303, 312))
		RETURN;

	-- Dokument nie ma powiązania ze zleceniem, wychodzimy z funkcji
	IF NOT EXISTS (SELECT * FROM dbo.CtiZlecenieDok WHERE CZD_Typ IN (4, 6) AND 
		(CZD_TrnId = @DokID OR CZD_TrnId = @ZwrID))
		RETURN;

	DECLARE @IloscZlecona DECIMAL(15,4) = (SELECT TOP 1 CZN_Ilosc FROM dbo.CtiZlecenieNag WHERE CZN_ID = @ZpID);
	DECLARE @KontrolaWydania varchar(255) = ISNULL((SELECT TOP 1 Knf_Wartosc FROM dbo.CtiKonfiguracja WHERE Knf_Numer = 63), '0')
	DECLARE @IloscSprawdzana DECIMAL(15,4);

	IF (@KontrolaWydania = '1')
	BEGIN
		SET @IloscSprawdzana = (SELECT dbo.CTIProdukcjaZlecenieIloscSkontrolowana(@ZpID));
	END
	ELSE
	BEGIN
		SET @IloscSprawdzana = (SELECT dbo.CTIProdukcjaZlecenieIloscZrealizowana(@ZpID, 0, 0));
	END

	-- Blokowanie
	IF (@IloscSprawdzana >= @IloscZlecona AND ISNULL((SELECT TOP 1 Knf_Wartosc FROM dbo.CtiKonfiguracja WHERE Knf_Numer = 64), '') IN ('True', 'TRUE', '1'))
	BEGIN
		UPDATE dbo.CtiZlecenieNag SET CZN_Status = 3 WHERE CZN_ID = @ZpID;
	END

	-- Odblokowanie
	IF (@IloscSprawdzana < @IloscZlecona AND ISNULL((SELECT TOP 1 Knf_Wartosc FROM dbo.CtiKonfiguracja WHERE Knf_Numer = 1020), '') IN ('True', 'TRUE', '1'))
	BEGIN
		UPDATE dbo.CtiZlecenieNag SET CZN_Status = 2 WHERE CZN_ID = @ZpID;
	END
END
GO
ALTER TABLE [CDN].[TraElem] ENABLE TRIGGER [TraElem_CTI_BlokowanieZP_Update]
GO

# [TraElem_Delete_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[TraElem_Delete_Trigger]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TraElem_Delete_Trigger] ON [CDN].[TraElem] FOR DELETE
AS
  SET NOCOUNT ON
  -- usuwanie atrybutów powiązanych z pozycją dokumentu HaMag
  IF EXISTS ( SELECT * FROM deleted )
  BEGIN
    DELETE FROM cdn.TraElemAtr WHERE TrA_TrEId > 0 AND TrA_TrEId IN (SELECT TrE_TrEId FROM deleted)
  END
  SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[TraElem] ENABLE TRIGGER [TraElem_Delete_Trigger]
GO

# [TraElem_InsertUpdateDelete_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[TraElem_InsertUpdateDelete_Trigger]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TraElem_InsertUpdateDelete_Trigger]
  ON [CDN].[TraElem]
  FOR INSERT, UPDATE, DELETE
AS
declare @intTranCount int
set @intTranCount = @@TRANCOUNT
IF (SELECT TOP 1 TrE_TypDokumentu FROM inserted where TrE_TypDokumentu = 301) = 301
BEGIN
DECLARE @EFakturaTrNId int
Declare dodane Cursor Local Fast_Forward For
Select TrE_TrNId
 From inserted
Open Dodane
While 1=1
  Begin
    Fetch Next From Dodane InTo
        @EfakturaTrNID
     If @@Fetch_Status <> 0 Break
   IF exists (SELECT * FROM CDN.TraNag WHERE TrN_TrNid = @EfakturaTrNId AND TrN_DabID IS NOT NULL AND TrN_TypDokumentu = 301 and TrN_EfakturaGUID IS NOT NULL)
   AND Exists (SELECT tre_treid FROM inserted where tre_cenat = 0 and tre_trnid = @EfakturaTrNId)
     BEGIN
          RAISERROR('##OPT34550##', 16, 1)--RaisError ('Nie można modyfikować e-faktury', 16,1)
          RollBack Tran
          Return
     END
END
END
  -- jesli zmienimy lppow na proformie to trzeba tez na wz do nich nalezacych
IF exists (SELECT TrE_TypDokumentu FROM inserted where TrE_TypDokumentu in (308,309,320) )
BEGIN
   IF  UPDATE( TrE_LpPow )
       AND NOT UPDATE( TrE_TrEId )
       AND NOT UPDATE( TrE_TrNId )
       AND NOT UPDATE( TrE_ZwrId )
       AND NOT UPDATE( TrE_TrEIdProd )
       AND NOT UPDATE( TrE_TypDokumentu )
       AND NOT UPDATE( TrE_Aktywny )
       AND NOT UPDATE( TrE_DataDok )
       AND NOT UPDATE( TrE_DataOpe )
       AND NOT UPDATE( TrE_TwrId )
       AND NOT UPDATE( TrE_Stawka )
       AND NOT UPDATE( TrE_Flaga )
       AND NOT UPDATE( TrE_Zrodlowa )
       AND NOT UPDATE( TrE_TwCNumer )
       AND NOT UPDATE( TrE_TypNB )
       AND NOT UPDATE( TrE_Cena0 )
       AND NOT UPDATE( TrE_Rabat )
       AND NOT UPDATE( TrE_CenaW )
       AND NOT UPDATE( TrE_CenaT )
       AND NOT UPDATE( TrE_Ilosc )
       AND NOT UPDATE( TrE_Jm )
       AND NOT UPDATE( TrE_JmZ )
       AND NOT UPDATE( TrE_JmCalkowite )
       AND NOT UPDATE( TrE_JmPrzelicznikL )
       AND NOT UPDATE( TrE_JmPrzelicznikM )
       AND NOT UPDATE( TrE_IloscJM )
       AND NOT UPDATE( TrE_WartoscNetto )
       AND NOT UPDATE( TrE_WartoscBrutto )
       AND NOT UPDATE( TrE_Cena0WD )
       AND NOT UPDATE( TrE_CenaWWD )
       AND NOT UPDATE( TrE_WartoscNettoWal )
       AND NOT UPDATE( TrE_WartoscBruttoWal )
       AND NOT UPDATE( TrE_KosztUslugi)
     BEGIN
     set nocount on
       DECLARE
         @TrE_TrEId1 INT,
         @TrN_Rodzaj1 INT,
         @TrE_TrNId1 INT,
         @TrE_TypDokumentu1 INT,
         @TrE_LpPow1 INT,
         @TrE_TrEId2 INT,
         @PFzRO int,
         @TrE_TrEIdRO INT,
         @TrE_LpPow2 INT,
   @TrE_TrEIdWZ INT
       DECLARE Dodawane CURSOR LOCAL FAST_FORWARD FOR
         SELECT TrE_TrEId, TrE_TrNId, TrE_LpPow, TrE_TypDokumentu
         FROM inserted
         ORDER BY TrE_TrNId, TrE_Lp
       OPEN Dodawane
       WHILE 1=1
        BEGIN
          FETCH NEXT FROM Dodawane INTO @TrE_TrEId1, @TrE_TrNId1,  @TrE_LpPow1, @TrE_TypDokumentu1
          IF @@FETCH_STATUS <> 0 BREAK
          SELECT TOP 1
            @TrN_Rodzaj1     = TrN_Rodzaj
          FROM cdn.TraNag
            JOIN cdn.TraElem ON TrN_TrNId = TrE_TrNId AND TrE_TrEId = @TrE_TrEId1
         IF (UPDATE (TrE_LpPow) and @TrE_TypDokumentu1 = 320)
         begin
    SELECT TOP 1 @TrE_TrEIdWZ = a.TrE_TrEId
            FROM CDN.TraElem a
            JOIN CDN.tranagrelacje on TrR_TrNID = a.TrE_TrNID AND TrR_FaTyp =320 AND TrR_TrNTyp NOT IN (317,309,320)
            JOIN CDN.traelem b on TrR_FaId = b.TrE_TrNID AND a.TrE_Lppow = b.TrE_LpPow
            JOIN CDN.tranag  on TrR_TrNId = TrN_TrNID
            WHERE b.TrE_TrEId = @TrE_TrEId1 AND TrN_Rodzaj not in (302200,302202) AND a.TrE_TrEId not in (SELECT TeR_ChildId FROM CDN.TraElemRelacje WHERE TeR_ParentId = @TrE_TrEId1)
            AND a.TrE_TrEId not in (SELECT TeR_ParentId FROM CDN.TraElemRelacje WHERE TeR_ChildId = @TrE_TrEId1)
            ORDER BY TrR_TrRId DESC
           INSERT INTO CDN.TraElemRelacje (TeR_ParentTyp,TeR_ParentId,TeR_ChildTyp,TeR_ChildId,TeR_Flaga)
            SELECT TOP 1 b.TrE_TypDokumentu,b.TrE_TrEId,a.TrE_TypDokumentu,a.TrE_TrEId,0
            FROM CDN.TraElem a
            JOIN CDN.tranagrelacje on TrR_TrNID = a.TrE_TrNID AND TrR_FaTyp =320 AND TrR_TrNTyp NOT IN (317,309,320)
            JOIN CDN.traelem b on TrR_FaId = b.TrE_TrNID AND a.TrE_Lppow = b.TrE_LpPow
            JOIN CDN.tranag  on TrR_TrNId = TrN_TrNID
            WHERE b.TrE_TrEId = @TrE_TrEId1 AND TrN_Rodzaj not in (302200,302202) AND a.TrE_TrEId not in (SELECT TeR_ChildId FROM CDN.TraElemRelacje WHERE TeR_ParentId = @TrE_TrEId1)
            AND a.TrE_TrEId not in (SELECT TeR_ParentId FROM CDN.TraElemRelacje WHERE TeR_ChildId = @TrE_TrEId1)
            ORDER BY TrR_TrRId DESC
           select @PFzRO = a.Trr_TrNId from cdn.tranagrelacje a
           where a.TrR_FaId =@TrE_TrNId1 AND a.Trr_TrNTyp =308 AND a.Trr_FaTyp =320
    if @PFzRO > 0
  begin
select @TrE_TrEIdRO = 0, @TrE_TrEId2 = 0
create table #RO (TrE_TrEIdRO int ,TrE_TrEIdFA int)
    insert into #RO(TrE_TrEIdRO)
 select TeR_ChildId from cdn.traelemrelacje where TeR_ParentId = @TrE_TrEId1 and TeR_ParentTyp = 320  and TeR_ChildTyp = 308
    insert into #RO(TrE_TrEIdRO)
 select TeR_ParentId from cdn.traelemrelacje where TeR_ChildId = @TrE_TrEId1 and TeR_ChildTyp = 320  and TeR_ParentTyp = 308
select top 1 @TrE_TrEId2 = TeR_ChildId from cdn.traelemrelacje where TeR_ParentId = @TrE_TrEId1 and TeR_ParentTyp = 320  and TeR_ChildTyp in (302,306)
and TeR_ChildId not in (SELECT TeR_ChildId FROM CDN.TraElemRelacje WHERE TeR_ParentId in (select TrE_TrEIdRO from #RO)) order by ter_terid desc
if @TrE_TrEId2 = 0
  select top 1 @TrE_TrEId2 = TeR_ParentId from cdn.traelemrelacje where TeR_ChildId = @TrE_TrEId1 and TeR_ChildTyp = 320  and TeR_ParentTyp in (302,306)
  and TeR_ParentId not in (SELECT TeR_ChildId FROM CDN.TraElemRelacje WHERE TeR_ParentId in (select TrE_TrEIdRO from #RO)) order by ter_terid desc
if @TrE_TrEId2 <> 0
begin
update #RO set TrE_TrEIdFA = @TrE_TrEId2
insert into CDN.TraElemRelacje (TeR_ParentTyp,TeR_ParentId,TeR_ChildTyp,TeR_ChildId,TeR_Flaga)
select 308,TrE_TrEIdRO,TrE_TypDokumentu,TrE_TrEIdFA,0 from #RO join cdn.traelem on TrE_TrEIdFA = TrE_TrEId--where  TrE_TrEID = @TrE_TrEId2
--select 308,@TrE_TrEIdRO,TrE_TypDokumentu,@TrE_TrEId2,0 from cdn.traelem where  TrE_TrEID = @TrE_TrEId2
exec [CDN].[UstawRezerwacje] @TrE_TrEId2,0,0
end
drop table #RO
/*
     select @TrE_LpPow2 = TrE_Lppow
     FROM Cdn.TraElem
     where TrE_TreId = @TrE_TrEId1
     select @TrE_TrEIdRO = tre_treid from cdn.traelem where tre_trnid = @PFzRO and tre_lppow = @TrE_LpPow2
     SELECT TOP 1 @TrE_TrEId2 = a.TrE_TrEId
     FROM CDN.TraElem a
     JOIN CDN.tranagrelacje on TrR_TrNID = a.TrE_TrNID AND TrR_FaTyp IN (308,309) AND TrR_TrNTyp NOT IN (317,309,308,320)
     JOIN CDN.traelem b on TrR_FaId = b.TrE_TrNID AND a.TrE_Lppow = @TrE_Lppow1
     WHERE b.TrE_TrEId = @TrE_TrEIdRO AND a.TrE_TrEId not in (SELECT TeR_ChildId FROM CDN.TraElemRelacje WHERE TeR_ParentId = @TrE_TrEIdRO)
     ORDER BY TrR_TrRId DESC
     INSERT INTO CDN.TraElemRelacje (TeR_ParentTyp,TeR_ParentId,TeR_ChildTyp,TeR_ChildId,TeR_Flaga)
     SELECT TOP 1 b.TrE_TypDokumentu,b.TrE_TrEId,a.TrE_TypDokumentu,a.TrE_TrEId,0
     FROM CDN.TraElem a
     JOIN CDN.tranagrelacje on TrR_TrNID = a.TrE_TrNID AND TrR_FaTyp IN (308,309) AND TrR_TrNTyp NOT IN (317,309,308,320)
     JOIN CDN.traelem b on TrR_FaId = b.TrE_TrNID AND a.TrE_Lppow = @TrE_Lppow1
     WHERE b.TrE_TrEId = @TrE_TrEIdRO AND a.TrE_TrEId not in (SELECT TeR_ChildId FROM CDN.TraElemRelacje WHERE TeR_ParentId = @TrE_TrEIdRO)
     ORDER BY TrR_TrRId DESC
     exec [CDN].[UstawRezerwacje] @TrE_TrEId2,0,0
*/
    end
  end
          /*IF (UPDATE (TrE_LpPow) and @TrN_Rodzaj1 = 320009)
          BEGIN
            UPDATE a SET a.TrE_LppowRel = d.TrE_Lppow
            FROM Cdn.TraElem a
            JOIN deleted d ON  d.TrE_TreId = @TrE_TrEId1
            where a.TrE_TreId = @TrE_TrEId1
          END*/
          IF (UPDATE (TrE_LpPow) and @TrN_Rodzaj1 in (320000,320009))
          BEGIN
            UPDATE a SET a.TrE_Lppow = d.TrE_Lppow
            FROM Cdn.TraElem a
            JOIN deleted d ON  d.TrE_TreId = @TrE_TrEId1
            where a.TrE_TreId = @TrE_TrEId1
   --poprawa zgłoszenia 150109
    UPDATE a SET a.TrE_LppowRel = a.TrE_Lppow ,a.TrE_Lppow = @TrE_Lppow1 FROM Cdn.TraElem a
    JOIN deleted d ON  d.TrE_TreId = @TrE_TrEId1
     join cdn.traelemrelacje on TeR_ChildId = a.tre_treid and TeR_ParentId = @TrE_TrEId1 and TeR_ChildTyp = 306
  join cdn.tranag WZ on a.tre_trnid = WZ.trn_trnid
  join cdn.tranagrelacje on trr_faid =  WZ.trn_trnid and TrR_TrNTyp = 302
  join cdn.traelem b on b.tre_trnid = TrR_TrNId and b.tre_treid = @TrE_TrEIdWZ
   --poprawa zgłoszenia 154645
    UPDATE a SET a.TrE_LppowRel = a.TrE_Lppow ,a.TrE_Lppow = @TrE_Lppow1 FROM Cdn.TraElem a
    where a.tre_zwrid in(
    select a.tre_treid FROM Cdn.TraElem a
     JOIN deleted d ON  d.TrE_TreId = @TrE_TrEId1
     join cdn.traelemrelacje on TeR_ChildId = a.tre_treid and TeR_ParentId = @TrE_TrEId1 and TeR_ChildTyp = 306
  join cdn.tranag WZ on a.tre_trnid = WZ.trn_trnid
  join cdn.tranagrelacje on trr_faid =  WZ.trn_trnid and TrR_TrNTyp = 302
  join cdn.traelem b on b.tre_trnid = TrR_TrNId and b.tre_treid = @TrE_TrEIdWZ)
            --UPDATE a SET a.TrE_LppowRel = a.TrE_Lppow ,a.TrE_Lppow = @TrE_Lppow1
            --FROM Cdn.TraElem a
            --JOIN deleted d ON  d.TrE_TreId = @TrE_TrEId1 and a.TrE_Lppow = d.TrE_Lppow and a.TrE_TwrId = d.TrE_TwrId
            --JOIN CDN.TraNagRelacje ON d.TrE_TrnId = TrR_FaId
            --WHERE TrR_TrNTyp = 306 AND a.TrE_TrnId = TrR_TrNId
          END
          IF (UPDATE (TrE_LpPow) and @TrE_TypDokumentu1 in (308,309))
           BEGIN
            SELECT TOP 1 @TrE_TrEId2 = a.TrE_TrEId
            FROM CDN.TraElem a
            JOIN CDN.tranagrelacje on TrR_TrNID = a.TrE_TrNID AND TrR_FaTyp IN (308,309) AND TrR_TrNTyp NOT IN (317,309,308,320)
            JOIN CDN.traelem b on TrR_FaId = b.TrE_TrNID AND a.TrE_Lppow = b.TrE_LpPow
            WHERE b.TrE_TrEId = @TrE_TrEId1 AND a.TrE_TrEId not in (SELECT TeR_ChildId FROM CDN.TraElemRelacje WHERE TeR_ParentId = @TrE_TrEId1)
            ORDER BY TrR_TrRId DESC
            INSERT INTO CDN.TraElemRelacje (TeR_ParentTyp,TeR_ParentId,TeR_ChildTyp,TeR_ChildId,TeR_Flaga)
            SELECT TOP 1 b.TrE_TypDokumentu,b.TrE_TrEId,a.TrE_TypDokumentu,a.TrE_TrEId,0
            FROM CDN.TraElem a
            JOIN CDN.tranagrelacje on TrR_TrNID = a.TrE_TrNID AND TrR_FaTyp IN (308,309) AND TrR_TrNTyp NOT IN (317,309,308)
            JOIN CDN.traelem b on TrR_FaId = b.TrE_TrNID AND a.TrE_Lppow = b.TrE_LpPow
            WHERE b.TrE_TrEId = @TrE_TrEId1 AND a.TrE_TrEId not in (SELECT TeR_ChildId FROM CDN.TraElemRelacje WHERE TeR_ParentId = @TrE_TrEId1)
            AND a.TrE_TrEId not in (SELECT TeR_ParentId FROM CDN.TraElemRelacje WHERE TeR_ChildId = @TrE_TrEId1) and b.TrE_LppowRel is not null
            ORDER BY TrR_TrRId DESC
            UPDATE CDN.TraElem SET TrE_Lppow = TrE_LppowRel,TrE_LppowRel = NULL  WHERE TrE_TrEId = @TrE_TrEId1 and TrE_LppowRel is not null
            exec [CDN].[UstawRezerwacje] @TrE_TrEId2,0,0
           END
       END
      CLOSE Dodawane
      DEALLOCATE Dodawane
      set nocount off
    END
 end
IF exists (SELECT TrE_TypDokumentu FROM inserted where TrE_TypDokumentu = 311 ) or exists (SELECT TrE_TypDokumentu FROM deleted where TrE_TypDokumentu = 311 )
BEGIN
 return
end
  -- uruchamiamy procedurę obsługi zasobów, jesli są podmieniane jakiekolwiek pola za wyjatkiem TrE_LpPow
   IF        (    UPDATE( TrE_LpPow )
              OR UPDATE( TrE_Lp )
              OR UPDATE( TrE_PodmiotTyp )
              OR UPDATE( TrE_PodId )
              OR UPDATE( TrE_KatId )
              OR UPDATE( TrE_TwrNazwa )
              OR UPDATE( TrE_TwrEAN )
              OR UPDATE( TrE_TwrNumerKat )
              OR UPDATE( TrE_TwrKod )
              OR UPDATE( TrE_TwrOpis )
     OR UPDATE( TrE_KosztKGO )
              OR UPDATE( TrE_TwrSWW )
              OR UPDATE( TrE_Prog )
              OR UPDATE( TrE_UpustTyp )
              OR UPDATE( TrE_Upust )
              OR UPDATE( TrE_UpustKnt )
              OR UPDATE( TrE_UpustKntTyp )
              OR UPDATE( TrE_Waluta )
              OR UPDATE( TrE_KursNumer )
              OR UPDATE( TrE_KursL )
              OR UPDATE( TrE_KursM )
              OR UPDATE( TrE_WartoscZakupuWylicz )
     OR UPDATE (TrE_WartoscTymczasowa)
     OR UPDATE (TrE_ZTwID)
              OR UPDATE (TrE_ZTwGlowny)
              OR UPDATE (TrE_ZestawWiazanie)
              OR UPDATE (TrE_zTwKod)
     OR UPDATE (TrE_TwrTyp)
     OR UPDATE (TrE_TwrKodDostawcy)
     OR UPDATE (TrE_DoZwrotu)
     OR UPDATE (TrE_SplitPay)
     OR UPDATE (TrE_OplataCukrowaNumerPartiiTowaru)
     OR UPDATE (TrE_KrajPochodzenia)
            )
       AND NOT UPDATE( TrE_TrEId )
       AND NOT UPDATE( TrE_TrNId )
       AND NOT UPDATE( TrE_ZwrId )
       AND NOT UPDATE( TrE_TrEIdProd )
--       AND NOT UPDATE( TrE_Lp )
       AND NOT UPDATE( TrE_TypDokumentu )
       AND NOT UPDATE( TrE_Aktywny )
       AND NOT UPDATE( TrE_DataDok )
       AND NOT UPDATE( TrE_DataOpe )
--       AND NOT UPDATE( TrE_PodmiotTyp )
--       AND NOT UPDATE( TrE_PodID )
--       AND NOT UPDATE( TrE_KatID )
       AND NOT UPDATE( TrE_TwrId )
--       AND NOT UPDATE( TrE_TwrNazwa )
--       AND NOT UPDATE( TrE_TwrEAN )
--       AND NOT UPDATE( TrE_TwrNumerKat )
--       AND NOT UPDATE( TrE_TwrKod )
--       AND NOT UPDATE( TrE_TwrOpis )
--       AND NOT UPDATE( TrE_TwrSWW )
       AND NOT UPDATE( TrE_Stawka )
       AND NOT UPDATE( TrE_Flaga )
       AND NOT UPDATE( TrE_Zrodlowa )
       AND NOT UPDATE( TrE_TwCNumer )
       AND NOT UPDATE( TrE_TypNB )
       AND NOT UPDATE( TrE_Cena0 )
       AND NOT UPDATE( TrE_Rabat )
       AND NOT UPDATE( TrE_CenaW )
--       AND NOT UPDATE( TrE_Waluta )
--       AND NOT UPDATE( TrE_KursNumer )
--       AND NOT UPDATE( TrE_KursL )
--       AND NOT UPDATE( TrE_KursM )
       AND NOT UPDATE( TrE_CenaT )
       AND NOT UPDATE( TrE_Ilosc )
       AND NOT UPDATE( TrE_Jm )
       AND NOT UPDATE( TrE_JmZ )
       AND NOT UPDATE( TrE_JmCalkowite )
       AND NOT UPDATE( TrE_JmPrzelicznikL )
       AND NOT UPDATE( TrE_JmPrzelicznikM )
       AND NOT UPDATE( TrE_IloscJM )
       AND NOT UPDATE( TrE_WartoscNetto )
       AND NOT UPDATE( TrE_WartoscBrutto )
       AND NOT UPDATE( TrE_Cena0WD )
       AND NOT UPDATE( TrE_CenaWWD )
       AND NOT UPDATE( TrE_WartoscNettoWal )
       AND NOT UPDATE( TrE_WartoscBruttoWal )
       AND NOT UPDATE( TrE_MagId )
--       AND NOT UPDATE( TrE_Prog )
--       AND NOT UPDATE( TrE_UpustTyp )
--       AND NOT UPDATE( TrE_Upust )
--       AND NOT UPDATE( TrE_UpustKnt )
--       AND NOT UPDATE( TrE_UpustKntTyp )
       AND NOT UPDATE( TrE_KosztUslugi)
       AND NOT UPDATE (TrE_WyborDostaw)
       BEGIN
     set nocount on
  --trzeba skasowac subelemnty dla mm jak były dostawy bo sa dwa na dwa magazyny a potem nie wiadomo jak znalesc oba bo mamy link do jednego
   DECLARE @TrE1 TABLE ( TrEId INT )
   INSERT INTO @TrE1 ( TrEId ) SELECT TrE_TrEId FROM deleted join cdn.tranag on tre_trnid = trn_trnid   where TrE_TypDokumentu =312 and TrE_WyborDostaw = 1 and trn_bufor = 1
   DELETE cdn.TraSElem FROM cdn.TraSElem JOIN @TrE1 ON TrEId = TrS_TrEId
     set nocount off
GOTO KOMUNIKAT
end
  DECLARE
    @MyIdentity         INT, -- niezwykle ważne dla ProdElem
    -- zmienne pomocnicze dla kursora
    @TrE_TrEId          INT,
    @TrE_TrNId         INT,
    @TrE_ZwrId          INT,
    @TrE_Lp             INT,
    @TrE_LpPow           INT,
    @TrE_TypDokumentu   SMALLINT,
    @TrE_Aktywny        SMALLINT,
    @TrE_DataDok        DATETIME,
    @TrE_DataOpe        DATETIME,
    @TrE_TwrId          INT,
    @TrE_TwrKod         NVarchar(50),
    @TrE_TwrNazwa       NVarchar(255),
    @TrE_Stawka         DECIMAL(5,2),
    @TrE_CenaW          DECIMAL(17,4),
    @TrE_CenaWWD        DECIMAL(17,4),
    @TrE_CenaT          DECIMAL(17,4),
    @TrE_Waluta         NVarchar(3),
    @TrE_KursNumer      INT,
    @TrE_KursL          DECIMAL(15,4),
    @TrE_KursM          DECIMAL(5,0),
    @TrE_Ilosc          DECIMAL(15,4),
    @TrE_WartoscNetto   DECIMAL(15,2),
    @TrE_WartoscBrutto  DECIMAL(15,2),
    @TrE_WartoscZakupu  DECIMAL(15,2),
    @TrE_JMPrzelicznikL DECIMAL(15,2),
    @TrE_JMPrzelicznikM DECIMAL( 7,0),
    @TrE_IloscJM        DECIMAL(15,4),
    @TrE_PodmiotTyp     INT,
    @TrE_PodId          INT,
    @TrE_KosztUslugi    DECIMAL(15,2),
    @TrE_TypNB          TINYINT,
    @Tre_WyborDostaw    TINYINT,
    @TrE_IFA24Mag       INT,
    @Tre_MagId          INT,
 @TrE_Kaucja   SMALLINT,
 @TrE_KosztUslugiZDok DECIMAL(15,2),
    -- zmienne z naglowka dla poprawnego zbudowania subelementu
    @TrN_TrNId      INT,
    @TrN_FaId       INT,
    @TrN_ZwrId      INT,
    @TrN_Rodzaj     INT,
    @TrN_Bufor      SMALLINT,
    @TrN_MagZrdId   INT,
    @TrN_MagDocId   INT,
    @TrN_DataDok    DATETIME,
    @TrN_DataWys    DATETIME,
    @TrN_DataOpe    DATETIME,
    @TrN_TrSTyp     SMALLINT,
    @TrN_TypNB      TINYINT,
    @TrN_PodmiotTyp     INT,
    @TrN_PodId          INT,
    @TrN_Centrala   TINYINT,
    @TrN_Waluta     NVarchar(3),
    @TrN_KursNumer      INT,
    @TrN_KursL     DECIMAL(15,4),
    @TrN_KursM     DECIMAL(5,0),
    @WalutaSys     NVarchar(3),
    @TrN_DekId     INT,
    @TrN_NumerPelny  NVarchar(31),
    -- zmienne dla dokumentu pierwotnego
    @TrN_TrNId_Old        INT,
    @TrN_TrNId_PAdoFA_Old INT,
    @TrN_FaId_Old         INT,
    @TrE_TrEId_Old        INT,
    -- zmienne dla kreowanego subelementu
    @TrS_TrSId      INT,
    @TrS_TrEId      INT,
    @TrS_TrSIdDost  INT,
    @TrS_ZwrId      INT,
    @TrS_TwrId      INT,
    @TrS_MagId      INT,
    @TrS_Rodzaj     INT,
    @TrS_Typ        INT,
    @TrS_Metoda     INT,
    @TrS_DataOpe    DATETIME,
    @TrS_Ilosc      DECIMAL(15,4),
    @TrS_Wartosc    DECIMAL(15,2),
    @TrS_Cena       DECIMAL(17,4),
    @TrS_Termin     DATETIME,
    -- zmienne pomocnicze dla metody
    @QUAN           INT,
    @Metoda         INT,
    @ZawszeBraki    INT,
 @ZezwalajMimoRez INT,
    @DataZamowienia INT,
    -- zmienne pomocnicze symulacji marży
    @Marza_Sym_Ostatnia   INT,
    @Marza_Sym_Srednia    INT,
    -- Pomocnicza dla kursora
    @TrS_TrSId_K    INT,
    @TrS_TrEId_K    INT,
    -- zmienna dla aktualizacji ceny zakupu i marz
    @TwC_TwCId          INT,
    @TwC_TwCNumer       INT,
    @TwC_Wartosc        DECIMAL(17,4),
    @TwC_Marza          DECIMAL(15,2), -- potrzebna, zeby zbadać, czy nie jest za duża
    @TwC_MarzaWStu      DECIMAL(15,2), -- potrzebna, zeby zbadać, czy nie jest za duża
    @TwC_Waluta         NVarchar(3),
    @TwC_Typ            SMALLINT,
    @Twr_Typ            SMALLINT,
    @Twr_KosztUslugiTyp SMALLINT,
    @Twr_KosztUslugi    DECIMAL(17,4),
    @Twr_Stawka         DECIMAL(5,2),
    @Twr_KursL          DECIMAL(15,4),
    @Twr_KursM          DECIMAL(5,0),
    @Twr_KosztUslugiNew     DECIMAL(17,4),
    @Twr_KosztUslugiWalNew  DECIMAL(17,4),
    @Waluta     NVarchar(3),
    @KursNumer  INT,
    @KursL     DECIMAL(15,4),
    @KursM     DECIMAL(5,0),
    @CenaW_New       DECIMAL(17,4),
    -- aktualizacja ceny zakupu przy zapisie MM-OL
    @Aktualizuj_CenaZ_MMOL TINYINT,
    -- dla liczenia wzoru na marże cen sprzedaży, gdy aktualizacja jest na "Nie"
    @CenaZakupuNew    DECIMAL(17,4),
    @CenaZakupuNewPLN DECIMAL(17,4),
    @CenaZakupuNewWal DECIMAL(17,4),
    -- dla dostaw
    @DostIloscRecordowReal int,
    @DostIloscRecordow int,
    @DostIloscRecordowDodanych int,
    @DostTrS_Ilosc decimal(15,4),
    @DostTrS_TrSId int,
    @ResztaWartosc DECIMAL(15,2),
 --dla atrybutów
 @Tre_UstawAtrSQL INT,
 @Tre_UstawAtrSQLDokTyp INT,
    -- pomocnicze dla komunikatu
    @Data_Dost          DATETIME,
    @Komunikat          NVarchar(250)
  SET NOCOUNT ON
  -- ustawienie komunikatu
  SET @Komunikat = ''
  --zaokraglenia
   DECLARE @ZaokraglajDo  SMALLINT
   IF EXISTS(SELECT Fir_Wartosc FROM Cdn.Firma WHERE Fir_Numer=3048 )
    SELECT @ZaokraglajDo=case when Fir_Wartosc = 1 then 4 else 2 end FROM Cdn.Firma WHERE Fir_Numer=3048
  ELSE
    SELECT @ZaokraglajDo=2
  -- symbol waluty systemowej
  SET @WalutaSys = ( SELECT SUBSTRING(Fir_Wartosc,1,3) FROM cdn.Firma WHERE Fir_Numer = 3 )
  -- elementy kasowane jesli wybordostawy = 2 to nie robimy nic
  DECLARE @TrE TABLE ( TrEId INT )
  DECLARE @TrETrSTyp TABLE ( TrEId INT,TrS_Typ Int )
  INSERT INTO @TrE ( TrEId ) SELECT TrE_TrEId FROM deleted
  IF EXISTS(SELECT TrS_WyborDostaw FROM cdn.TraSElem JOIN @TrE ON TrEId = TrS_TrEId WHERE ISNULL(TrS_WyborDostaw,0) = 2)
  RETURN
  IF EXISTS(SELECT d.TrE_Aktywny FROM deleted d JOIN inserted i ON  d.TrE_TrEId = i.TrE_TrEId WHERE d.TrE_Aktywny = 3 and i.TrE_Aktywny =1)
  RETURN
  IF EXISTS(SELECT d.TrE_Aktywny FROM deleted d JOIN inserted i ON  d.TrE_TrEId = i.TrE_TrEId WHERE d.TrE_Aktywny = 2 and i.TrE_Aktywny =1)
  RETURN
  INSERT INTO @TrETrSTyp ( TrEId, TrS_Typ) SELECT distinct TrEId,TrS_Typ  FROM cdn.TraSElem JOIN @TrE ON TrEId = TrS_TrEId
  DELETE cdn.TraSElem FROM cdn.TraSElem JOIN @TrE ON TrEId = TrS_TrEId -- WHERE TrS_TrEId IN ( SELECT TrE_TrEId FROM deleted ) -- = @TrE_TrEId
  IF NOT EXISTS ( SELECT * FROM inserted ) AND EXISTS ( SELECT * FROM deleted )
  BEGIN
      DECLARE
         @TrE_TrEId3 INT,
         @TrE_TypDok3 INT
       DECLARE Dodawane CURSOR LOCAL FAST_FORWARD FOR
         SELECT TrE_TrEId, TrE_TypDokumentu
         FROM deleted
         ORDER BY TrE_TrEId
       OPEN Dodawane
       WHILE 1=1
        BEGIN
          FETCH NEXT FROM Dodawane INTO @TrE_TrEId3, @TrE_TypDok3
          IF @@FETCH_STATUS <> 0 BREAK
          EXEC [CDN].[UstawRezerwacje]  @TrE_TrEId3, 1,@TrE_TypDok3
      DELETE CDN.TraElemRelacje WHERE TeR_ParentTyp=@TrE_TypDok3 and TeR_ParentId=@TrE_TrEId3
   DELETE CDN.TraElemRelacje WHERE TeR_ChildTyp=@TrE_TypDok3 and TeR_ChildId=@TrE_TrEId3
       END
      CLOSE Dodawane
      DEALLOCATE Dodawane
     DELETE CDN.TraSElem WHERE TRS_TrEIdWydania in(SELECT TrE_TrEId FROM deleted)
  END
  -- Metoda rozliczania magazynu
  IF EXISTS ( SELECT * FROM inserted )
    BEGIN
      SET @Metoda = ( SELECT TOP 1 ISNULL( Fir_Wartosc,1 ) FROM cdn.Firma WHERE Fir_Numer = 1352 )
      SET @QUAN   = ( SELECT TOP 1 ISNULL( Fir_Wartosc,0 ) FROM cdn.Firma WHERE Fir_Numer = 1485 )
    END
  -- elementy dodawane
  DECLARE Dodawane CURSOR LOCAL FAST_FORWARD FOR
    SELECT TrE_TrEId, TrE_TrNId, TrE_ZwrId, TrE_Lp, TrE_TypDokumentu, TrE_Aktywny, TrE_DataDok, TrE_DataOpe, TrE_TwrId, TrE_TwrKod, TrE_Stawka ,
           TrE_CenaW, TrE_CenaWWD, TrE_CenaT, TrE_Waluta, TrE_KursNumer, TrE_KursL, TrE_KursM, TrE_Ilosc, TrE_WartoscNetto, TrE_WartoscBrutto,
           TrE_JMPrzelicznikL, TrE_JMPrzelicznikM, TrE_PodmiotTyp, TrE_PodId, TrE_LpPow, TrE_IloscJM, TrE_TypNB, Tre_WyborDostaw, Tre_MagID, TrE_IFA24Mag, TrE_KosztUslugi , case when Tre_CenaZCzteremaMiejscami = 1 then 4 else 2 end ,Tre_UstawAtrSQL,Tre_UstawAtrSQLDokTyp, TrE_Kaucja
      FROM inserted
      ORDER BY TrE_TrNId, TrE_Lp
    OPEN Dodawane
      WHILE 1=1
      BEGIN
        FETCH NEXT FROM Dodawane INTO @TrE_TrEId, @TrE_TrNId,  @TrE_ZwrId, @TrE_Lp, @TrE_TypDokumentu, @TrE_Aktywny, @TrE_DataDok, @TrE_DataOpe, @TrE_TwrId, @TrE_TwrKod, @TrE_Stawka,
                                      @TrE_CenaW, @TrE_CenaWWD, @TrE_CenaT, @TrE_Waluta, @TrE_KursNumer, @TrE_KursL, @TrE_KursM, @TrE_Ilosc, @TrE_WartoscNetto, @TrE_WartoscBrutto,
                                      @TrE_JMPrzelicznikL, @TrE_JMPrzelicznikM, @TrE_PodmiotTyp, @TrE_PodId, @TrE_LpPow, @TrE_IloscJM, @TrE_TypNB, @Tre_WyborDostaw, @TrE_MagId, @TrE_IFA24Mag , @TrE_KosztUslugiZDok, @ZaokraglajDo  ,@Tre_UstawAtrSQL,@Tre_UstawAtrSQLDokTyp, @TrE_Kaucja
        IF @@FETCH_STATUS <> 0 BREAK
  IF @@TranCount !=@intTranCount
  BREAK
        -- Zmiana towaru musimy usunąć relacje na elementach
        IF UPDATE( TrE_TwrId )
          BEGIN
            IF NOT EXISTS (SELECT TrE_TwrId FROM deleted WHERE  @TrE_TrEId =  TrE_TrEId AND @TrE_TwrId = TrE_TwrId)
               BEGIN
     DECLARE
      @TrE_TrEIdWiNi1 INT,
      @TrE_TypWiNi1 INT
     DECLARE Kasowane CURSOR LOCAL FAST_FORWARD FOR
      SELECT TrE_TrEId, TrE_TypDokumentu
      FROM deleted
      ORDER BY TrE_TrEId
     OPEN Kasowane
     WHILE 1=1
     BEGIN
      FETCH NEXT FROM Kasowane INTO @TrE_TrEIdWiNi1, @TrE_TypWiNi1
      IF @@FETCH_STATUS <> 0 BREAK
      DELETE CDN.TraElemRelacje WHERE TeR_ParentTyp=@TrE_TypWiNi1 and TeR_ParentId=@TrE_TrEIdWiNi1
      DELETE CDN.TraElemRelacje WHERE TeR_ChildTyp=@TrE_TypWiNi1 and TeR_ChildId=@TrE_TrEIdWiNi1
     END
     CLOSE Kasowane
     DEALLOCATE Kasowane
               END
          END
        -- Sprawdzenie zgodności przeliczników i ilości
        IF    (( @TrE_JMPrzelicznikL =  @TrE_JMPrzelicznikM AND @TrE_Ilosc <> @TrE_IloscJM)
           OR ( @TrE_JMPrzelicznikL <> @TrE_JMPrzelicznikM AND @TrE_Ilosc =  @TrE_IloscJM  AND round(@TrE_IloscJM*@TrE_JMPrzelicznikL/@TrE_JMPrzelicznikM,4) != @TrE_Ilosc))
           AND (@TrE_Ilosc<>0 AND @TrE_IloscJM<>0)
          BEGIN
            SET @Komunikat = '##OPT34591##%%s1%%=' + REPLACE(@TrE_TwrKod,'%','%%')+ '##'--@Komunikat = 'Zapis niemożliwy !  Dla towaru  ' + @TrE_TwrKod + ' przeliczniki miar niezgodne z ilościami ! '
            IF @Komunikat <> '' GOTO KOMUNIKAT
          END
        -- Przepisujemy z PA na FA czy wybor dostaw
        IF @TrE_TypDokumentu = 302
         update FA set FA.TrE_WyborDostaw = PA.TrE_WyborDostaw from cdn.TraElem FA left join cdn.TraElem PA on FA.TrE_PATrEID = PA.TrE_TrEID
   where FA.TrE_TrEId = @TrE_TrEId AND FA.TrE_PATrEID > 0
        -- Niezwykle istotne ze wzglednu na prawidlowy FK dla ProdElem po wykonaniu triggera
        SET @MyIdentity = @@IDENTITY
        -- Odczytanie z naglowka informacji potrzebnych do zbudowania subelementu i decyzji o sposobie aktualizowania ceny zakupu
        SELECT TOP 1
          @TrN_TrNId      = TrN_TrNId,
          @TrN_FaId       = case when TrN_TypDokumentu= 313 or  TrN_TypDokumentu= 314 then CDN.TraNagRelacjeFaId (TrN_TrNID,0,2 ) else CDN.TraNagRelacjeFaId (TrN_TrNID,0,0 ) end ,
          --@TrN_FaId       = TrN_FaId,
          @TrN_ZwrId      = TrN_ZwrId,
          @TrN_Rodzaj     = TrN_Rodzaj,
          @TrN_Bufor      = TrN_Bufor,
          @TrN_MagZrdId   = TrN_MagZrdId,
          @TrN_MagDocId   = TrN_MagDocId,
          @TrN_DataDok    = TrN_DataDok,
          @TrN_DataWys    = TrN_DataWys,
          @TrN_DataOpe    = TrN_DataOpe,
          @TrN_TrSTyp     = ISNULL(TrN_TrSTyp,3),
          @TrN_TypNB      = TrN_TypNB,
          @TrN_PodmiotTyp = TrN_PodmiotTyp,
          @TrN_PodId      = TrN_PodId,
          @TrN_Centrala   = TrN_Centrala,
          @TrN_Waluta     = TrN_Waluta,
          @TrN_KursNumer  = TrN_KursNumer,
          @TrN_KursL      = TrN_KursL,
          @TrN_KursM      = TrN_KursM
        FROM cdn.TraNag
          JOIN cdn.TraElem ON TrN_TrNId = TrE_TrNId AND TrE_TrEId = @TrE_TrEId
        -- ustalenie symbolu waluty, jeśli jest to waluta systemowa
        IF ( @TrN_Waluta = '' OR @TrN_Waluta = @WalutaSys ) AND @TrN_KursL=1 AND @TrN_KursM = 1
          SET @TrN_Waluta = @WalutaSys
        -- Sprawdzenie zgodności podmiotu między nagłówkiem i elementem (ZB)
        If IsNull(@TrN_PodmiotTyp, 0) <> IsNull(@TrE_PodmiotTyp, 0) Or IsNull(@TrN_PodId, 0) <> IsNull(@TrE_PodId, 0)
          Update CDN.TraElem Set TrE_PodmiotTyp = @TrN_PodmiotTyp, TrE_PodId = @TrN_PodId Where TrE_TrEId = @TrE_TrEId
        -- Ustalenie metody rozliczania magazynu dla dodawanego elementu
        IF @QUAN = 1 AND @TrE_DataOpe > ( SELECT ISNULL(MAX(TrN_DataOpe),0) FROM cdn.TraNag WHERE TrN_Rodzaj = 310005 )
          SET @Metoda = 4
        -- ustawiamy lppow dla wz jesli zmienia sie lppow na proformie
       IF (Update (TrE_LpPow) and @TrN_Rodzaj in (320000,320009))
        BEGIN
         UPDATE a SET a.TrE_Lppow = @TrE_Lppow
         FROM Cdn.TraElem a
         join deleted d on  d.TrE_Treid = @TrE_TrEId and a.TrE_lppow = d.TrE_lppow and a.TrE_TwrId = d.TrE_TwrId
            JOIN CDN.TraNagRelacje ON d.TrE_TrnId = TrR_FaId
            --JOIN Cdn.TraNag c ON d.TrE_TrnId = c.TrN_RelTrnId
            WHERE TrR_FaTyp = 306 AND a.TrE_TrnId = TrR_TrNId
         --WHERE c.TrN_TypDokumentu = 306 and a.TrE_TrnId = c.TrN_TrNId
        END
    if @Tre_UstawAtrSQL = 0 and @Tre_UstawAtrSQLDokTyp = 1
    begin
    INSERT INTO [CDN].[TraElemAtr]
      ([TrA_TrEId]
      ,[TrA_Lp]
      ,[TrA_DeAId]
     ,[TrA_Kod]
     ,[TrA_Wartosc]
     ,[TrA_ESklep])
    select @TrE_TrEId, ROW_NUMBER() OVER( ORDER BY Twa_Lp ) AS LP,A.TwA_DeAID,A.DeA_Kod, A.TwA_Wartosctxt, 0 from
    (
     SELECT  TwA_LP,TwA_DeAID,DeA_Kod, TwA_Wartosctxt FROM CDN.TwrAtrybuty
       JOIN CDN.DefAtrybuty ON TwA_DeAID = DeA_DeAID
       WHERE TwA_CzyPrzenosic = 1 AND TwA_TwrID = @TrE_TwrId
         AND TwA_Zalezny = 0
     UNION
      SELECT TwA_LP,TwA_DeAID,DeA_Kod, TKA_Wartosctxt FROM CDN.TwrAtrybuty
       JOIN cdn.DefAtrybuty ON TwA_DeAID = DeA_DeAID
       JOIN cdn.TwrKntAtrybuty ON TKA_TwAID = TwA_TwAID
       WHERE TwA_CzyPrzenosic = 1 AND TwA_Zalezny = 1
        AND TwA_TwrID = @TrE_TwrId AND TKA_PodmiotTyp = @TrN_PodmiotTyp
        AND TKA_PodmiotID = @TrN_PodId
   )
   as A order by Twa_Lp
   update CDN.TraElem set  Tre_UstawAtrSQL = -1 where TrE_TrEID = @TrE_TrEId
    end
    if @Tre_UstawAtrSQL > 0  and @Tre_UstawAtrSQLDokTyp = 1
    begin
     INSERT INTO [CDN].[TraElemAtr]
       ([TrA_TrEId]
       ,[TrA_Lp]
       ,[TrA_DeAId]
       ,[TrA_Kod]
       ,[TrA_Wartosc]
       ,[TrA_ESklep])
     select @TrE_TrEId,TrA_Lp,TrA_DeAId,TrA_Kod,TrA_Wartosc,0 from CDN.TraElemAtr where TrA_TrEId = @Tre_UstawAtrSQL
     update CDN.TraElem set  Tre_UstawAtrSQL = -1 where TrE_TrEID = @TrE_TrEId
        end
  if @Tre_UstawAtrSQL > 0  and @Tre_UstawAtrSQLDokTyp > 1
    begin
     INSERT INTO [CDN].[TraElemAtr]
       ([TrA_TrEId]
       ,[TrA_Lp]
       ,[TrA_DeAId]
       ,[TrA_Kod]
       ,[TrA_Wartosc]
       ,[TrA_ESklep])
     select @TrE_TrEId,TrA_Lp,TrA_DeAId,TrA_Kod,TrA_Wartosc,0 from CDN.TraElemAtr where TrA_DokId = @Tre_UstawAtrSQL and TrA_DokTyp = @Tre_UstawAtrSQLDokTyp
     update CDN.TraElem set  Tre_UstawAtrSQL = -1 where TrE_TrEID = @TrE_TrEId
        end
    --oplata cukrowa
    update f set F.TrE_OplataCukrowaNumerPartiiTowaru =W.TrE_OplataCukrowaNumerPartiiTowaru
     from CDN.TraElem f
    left join cdn.tranagrelacje on f.TrE_TrNId =  TrR_faId AND TrR_FaTyp in(302, 305) AND TrR_TrNTyp= 306
    left join cdn.TraElem W  on W.TrE_TrNId = TrR_TrNId
    where F.TrE_TrEId = @TrE_TrEId AND W.TrE_TypDokumentu = 306 AND F.TrE_TypDokumentu in(302, 305) AND  W.TrE_Lppow = F.TrE_LpPow
    and F.TrE_OplataCukrowaNumerPartiiTowaru = '' and W.TrE_OplataCukrowaNumerPartiiTowaru != ''
        -- Kreowanie subelementów jest podejmowane tylko w uzasadnionych przypadkach
        -- Anulowane
        IF @TrE_Aktywny = 0
        BEGIN
          DELETE FROM CDN.TrasElemDost WHERE TsD_TrEId = @TrE_TrEID
          -- Kasujemy rezerwacje na subelementach dla RO/ZD i ich relacje
          exec [CDN].[UstawRezerwacje]  @TrE_TrEId, 1, @TrE_TypDokumentu
          DELETE CDN.TraSElem WHERE TRS_TrEIdWydania = @TrE_TrEId
          DELETE CDN.TraElemRelacje WHERE TeR_ParentTyp=@TrE_TypDokumentu and TeR_ParentId = @TrE_TrEId
          DELETE CDN.TraElemRelacje WHERE TeR_ChildTyp=@TrE_TypDokumentu and TeR_ChildId = @TrE_TrEId
    IF @TrN_Rodzaj IN (302006,302004)
           begin
      update WZ set WZ.TrE_LpPow =  FA.TrE_LpPow from cdn.traelem WZ
      left join cdn.tranagrelacje on WZ.TrE_TrNId =  TrR_TrNId and TrR_FaTyp = 305 and TrR_TrNTyp= 306
      left join cdn.TraElem PA on PA.TrE_TrNId = TrR_FaId
      left join cdn.TraElem FA on FA.TrE_PATrEID = PA.TrE_TrEID
      where FA.TrE_TrEId = @TrE_TrEId AND  WZ.TrE_Lppow = PA.TrE_LpPow and   FA.TrE_PATrEID > 0
      update PA set PA.TrE_LpPow =  FA.TrE_LpPow from cdn.TraElem PA left join cdn.TraElem FA on FA.TrE_PATrEID = PA.TrE_TrEID where FA.TrE_TrEId = @TrE_TrEId AND FA.TrE_PATrEID > 0
           end
    --PA z Pobraniem- >FA -> Korekta nie zwraca na magazyn
          IF @TrN_Rodzaj IN (302006) AND @TrN_Bufor = 0
           begin
      --update TraS set trs_treid = @TrE_TrEId from  cdn.TraSElem TraS join cdn.TraElem  on tre_treid = trs_treid where TrE_TrNId = @TrN_FaId and TrE_LpPow = @tre_lppow and TrE_TypDokumentu != 304 --usługa złozona RW nie przepinamy.
      update TraS set trs_treid = FA.TrE_TrEId from  cdn.TraSElem TraS
      left join cdn.TraElem PA on PA.TrE_TrEID = TraS.TrS_TrEId
      left join cdn.TraElem FA on FA.TrE_PATrEID = PA.TrE_TrEID
      where FA.TrE_TrEId = @TrE_TrEId  and PA.TrE_TypDokumentu != 304 --usługa złozona RW nie przepinamy.
      update TraS set tsd_treid = FA.TrE_TrEId from  cdn.TraSElemDost TraS
      left join cdn.TraElem PA on PA.TrE_TrEID = TraS.Tsd_TrEId
      left join cdn.TraElem FA on FA.TrE_PATrEID = PA.TrE_TrEID
      where FA.TrE_TrEId = @TrE_TrEId  and PA.TrE_TypDokumentu != 304 --usługa złozona RW nie przepinamy.
           end
          CONTINUE
        END
/*
        -- FZ z PZ, FZKI z PZKI akceptowane trwale lub w buforze
        IF @TrN_Rodzaj IN ( 301004, 301005 ) AND @TrN_Bufor IN ( 0, 1 )
        begin
        -- Sprawdzenie, czy należy aktualizować cenę zakupu na MM-OL
        -- Rodzaj marży: 0 = "od stu", 1 = "w stu"
        IF @TrN_Rodzaj = 301004
          AND @TrE_Ilosc > 0
          AND @TrN_Bufor IN ( 0 )
          BEGIN
        SELECT
          @Twr_Typ            = Twr_Typ,
          @Twr_KosztUslugiTyp = Twr_KosztUslugiTyp,
          @Twr_KosztUslugi    = Twr_KosztUslugi,
          @Twr_Stawka         = Twr_Stawka,
          @Twr_KursL          = Twr_KursL,
          @Twr_KursM          = Twr_KursM
        FROM cdn.Towary
        WHERE Twr_TwrId = @TrE_TwrId
        IF @TrN_Waluta = @WalutaSys
          BEGIN
            SET @Waluta    = @TrE_Waluta
            SET @KursNumer = @TrE_KursNumer
            SET @KursL     = @TrE_KursL
            SET @KursM     = @TrE_KursM
            SET @CenaW_New = @TrE_CenaW
          END
        -- parametry waluty z nagłówka
        ELSE
          BEGIN
            SET @Waluta    = @TrN_Waluta
            SET @KursNumer = @TrN_KursNumer
            SET @KursL     = @TrN_KursL
            SET @KursM     = @TrN_KursM
            SET @CenaW_New = @TrE_CenaWWD
          END
            -- parametry kursu waluty dla towaru lub usługi z typem kwotowym
            IF @Twr_Typ = 1 OR ( @Twr_Typ = 0 AND @Twr_KosztUslugiTyp = 1 )
              UPDATE cdn.Towary SET
                Twr_Waluta         = @Waluta,
                Twr_KursNumer      = @KursNumer,
                Twr_KursL          = @KursL,
                Twr_KursM          = @KursM
              WHERE Twr_TwrId = @TrE_TwrId
            -- koszt usługi ( usługa i typ kosztu kwotowy )
            IF @Twr_Typ = 0 AND @Twr_KosztUslugiTyp = 1
              BEGIN
                -- od netto
                IF @TrE_TypNB = 1
                  BEGIN
                    SET @Twr_KosztUslugiNew    = @TrE_CenaT
                    SET @Twr_KosztUslugiWalNew = @CenaW_New
                  END
                -- od brutto
                ELSE IF @TrE_TypNB = 2
                  BEGIN
                    SET @Twr_KosztUslugiNew    = @TrE_CenaT   - ROUND ( @TrE_CenaT   * @TrE_Stawka / (100 + @TrE_Stawka) , 2 )
                    SET @Twr_KosztUslugiWalNew =  @CenaW_New - ROUND (  @CenaW_New  * @TrE_Stawka / (100 + @TrE_Stawka) , 2 )
                  END
                UPDATE cdn.Towary SET
                  Twr_KosztUslugi    = @Twr_KosztUslugiNew,
                  Twr_KosztUslugiWal = @Twr_KosztUslugiWalNew
                WHERE Twr_TwrId = @TrE_TwrId
              END
            -- Kursor po cenach dla towaru lub usługi z kosztem kwotowym:
            -- aktualizacja ceny zakupu (TwC_TwCNumer = 1)
            -- aktualizacja marży dla cen sprzedaży z aktualizacją ustawiną na "Nie" ( TwC_TwCNumer <> 1 AND TwC_Aktualizacja = 0 )
            IF @Twr_Typ = 1 OR ( @Twr_Typ = 0 AND @Twr_KosztUslugiTyp = 1 )
              BEGIN
                DECLARE TwrCeny CURSOR LOCAL FAST_FORWARD FOR
                SELECT TwC_TwCNumer, TwC_TwCId, TwC_Waluta, TwC_Wartosc, TwC_Typ
                  FROM cdn.TwrCeny
                  WHERE TwC_TwrId = @TrE_TwrId AND TwC_TwCNumer = 1
                UNION ALL
                SELECT TwC_TwCNumer, TwC_TwCId, TwC_Waluta, TwC_Wartosc, TwC_Typ
                  FROM cdn.TwrCeny
                  WHERE TwC_TwrId = @TrE_TwrId AND TwC_TwCNumer <> 1 AND TwC_Aktualizacja = 0
                OPEN TwrCeny
                  WHILE 1=1
                    BEGIN
                      FETCH NEXT FROM TwrCeny INTO @TwC_TwCNumer, @TwC_TwCId, @TwC_Waluta, @TwC_Wartosc, @TwC_Typ
                      IF @@FETCH_STATUS <> 0 BREAK
                      -- aktualizacja ceny zakupu
                      IF @TwC_TwCNumer = 1
                        BEGIN
                          -- od netto
                          IF @TrE_TypNB = 1
                            IF @TwC_Typ = 1
                              SET @TwC_Wartosc = @CenaW_New  * ( @TrE_JMPrzelicznikM / @TrE_JMPrzelicznikL )
                            ELSE
                              SET @TwC_Wartosc = ( @CenaW_New + ROUND( @CenaW_New * @TrE_Stawka / 100, 2 ) ) * (  @TrE_JMPrzelicznikM / @TrE_JMPrzelicznikL )
                          -- od brutto
                          ELSE IF @TrE_TypNB = 2
                            IF @TwC_Typ = 1
                              SET @TwC_Wartosc = ( @CenaW_New  - ROUND( @CenaW_New * @TrE_Stawka / ( 100+@TrE_Stawka), 2 ) ) *  ( @TrE_JMPrzelicznikM / @TrE_JMPrzelicznikL )
                            ELSE
                              SET @TwC_Wartosc =  @CenaW_New   *  ( @TrE_JMPrzelicznikM / @TrE_JMPrzelicznikL )
                          UPDATE cdn.TwrCeny SET
                            TwC_Wartosc = @TwC_Wartosc,
                            TwC_Waluta  = @Waluta
                          WHERE TwC_TwCId = @TwC_TwCId
                          SET @CenaZakupuNew = @TwC_Wartosc
                          SET @CenaZakupuNewWal = @CenaZakupuNew
                          SET @CenaZakupuNewPLN = @CenaZakupuNew * @KursL/@KursM
                        END  -- @TwC_TWCNumer = 1
                      -- aktualizacja marż dla cen sprzedaży
                      -- tylko wtedy, gdy waluta zakupu i sprzedaży są równe lub gdy waluta sprzedazy jest systemowa
                      ELSE IF @TwC_TwCNumer <> 1 AND  ( @TwC_Waluta = @Waluta OR @TwC_Waluta = @WalutaSys )
                        BEGIN
                          -- cena sprzedaży brutto - obliczamy jej reprezentację netto
                          IF @TwC_Typ = 2
                            SET @TwC_Wartosc  =  @TwC_Wartosc - ROUND( @TwC_Wartosc * @Twr_Stawka / ( 100 + @Twr_Stawka), 2 )
                          -- marża "od stu" i "w stu"
                          IF @CenaZakupuNew <> 0
                            BEGIN
                             -- jeśli waluta zakupu i sprzedaży są równe, to bierzemy cenę zakupu w walucie dokumentu
                             -- w przeciwnym przypadku, gdy cena sprzedaży jest w walucie systemowej, to bierzemy cenę zakupu w walucie systemowej
                             IF @TwC_Waluta = @WalutaSys AND @Waluta <> @WalutaSys
                               SET @CenaZakupuNew = @CenaZakupuNewPLN
                             ELSE
                               SET @CenaZakupuNew = @CenaZakupuNewWal
                              SET @TwC_Marza = ( ( @TwC_Wartosc / @CenaZakupuNew ) - 1 ) * 100
                              IF ( @TwC_Marza = -100 )  OR ( @CenaZakupuNew = @TwC_Wartosc )
                                SET @TwC_MarzaWStu = 100
                              ELSE IF @TwC_Wartosc = 0
                                SET @TwC_MarzaWStu = -100
                              ELSE
                                SET @TwC_MarzaWStu = 100 * @TwC_Marza / ( 100 + @TwC_Marza )
                              IF @TwC_Marza     > 99999.99 SET @TwC_Marza     = 99999.99
                              IF @TwC_MarzaWStu > 99999.99 SET @TwC_MarzaWStu = 99999.99
                              IF @TwC_Marza     < - 99999.99 SET @TwC_Marza     = -99999.99
                              IF @TwC_MarzaWStu < - 99999.99 SET @TwC_MarzaWStu = -99999.99
                            END
                            IF @TwC_Marza IS NOT NULL AND @TwC_MarzaWStu IS NOT NULL
                            UPDATE cdn.TwrCeny SET
                              TwC_Marza = @TwC_Marza,
                              TwC_MarzaWStu = @TwC_MarzaWStu
                            WHERE TwC_TwCId = @TwC_TwCId
                        END
                    END -- kursor TwrCeny
                CLOSE TwrCeny
                DEALLOCATE TwrCeny
              END -- Towar lub usługa z kosztem kwotowym
          END -- aktualizacji ostatniej ceny zakupu
          CONTINUE
        end
*/
    --dla 149306 mimo ze FAWZ to trzeba ustawić rezerwację
    IF  UPDATE( TrE_Ilosc ) and @TrN_Rodzaj = 302004 and exists(
             SELECT Twr_Typ FROM cdn.Towary WHERE Twr_TwrId = @TrE_TwrId and Twr_Typ = 0)
               EXEC [CDN].[UstawRezerwacje] @TrE_TrEId,0,@TrE_TypDokumentu
        -- FA z WZ, PA z WZ, FAKI z WZKI, PAKI z WZ, FZKI z PZ, AI, AI z PW/RW, RO z PA, RO z FA, RO z WZ akceptowane trwale, PF z FA, PF z RO
        IF @TrN_Rodzaj IN ( 302004, 305004, 302005, 305005, 301005, 311000, 311001, 308008, 308009, 308010, 320008, 320009, 320000 ) AND @TrN_Bufor IN ( 0 )  and @TrE_TypDokumentu != 304
          CONTINUE
        -- ZD konwertowane do PZ/FZ
        IF @TrN_Rodzaj IN ( /*309000,*/ 309008, 309009 ) --AND @TrN_FaId IS NOT NULL
          CONTINUE
        -- FZKW, PZKW w buforze
        IF @TrN_Rodzaj IN  ( 301002, 307002, 310002, 301006, 307006,303002,307003, 307011 ) AND @TrN_Bufor IN ( 1 )
          CONTINUE
        -- RO, ZD z pzeznaczeniem do centrali XL
        IF @TrN_Rodzaj IN  ( 308000, 309000 ) AND @TrN_Centrala IN ( 1 )
          CONTINUE
        -- FA z PA z buforze
        IF @TrN_Rodzaj IN (302006) AND @TrN_Bufor = 1
          CONTINUE
        -- PWP - pierwszy przebieg (TrE_Aktywny = 1 - nie liczymy zasobów, najpierw RWS musi wyliczyć koszt)
        IF @TrE_TypDokumentu IN (317) AND @TrE_Aktywny = 1
          CONTINUE
        -- PWP - drugi przebieg (TrE_Aktywny = 2 - liczymy zsoby, PdE_Wartosc są już policzone)
        IF @TrE_TypDokumentu IN (317) AND @TrE_Aktywny = 2 AND ISNULL(@Tre_WyborDostaw,0)  = 0
          BEGIN
            UPDATE cdn.TraElem SET TrE_Aktywny = 1 WHERE TrE_TrEId = @TrE_TrEId
            SET @TrE_Aktywny = 1
          END
        IF @TrE_TypDokumentu IN (317) AND @TrE_Aktywny = 3 AND ISNULL(@Tre_WyborDostaw,0)  = 0
          BEGIN
            UPDATE cdn.TraElem SET TrE_Aktywny = 1 WHERE TrE_TrEId = @TrE_TrEId
            SET @TrE_Aktywny = 1
          END
        -- przeksztalcenia ZD do PZ, RO do FA/PA/WZ, PA do FA, PF do FS, PF do RO, ZD do FZ
        -- skasowanie subelementów zamowieniowych/rezerwacyjnych z dokumentu pierwotnego
 /*       IF  @TrN_Rodzaj IN ( 307010, 302008, 305008, 306008, 306010, 302006, 302009, 308011, 301011 )
          BEGIN
            SET @TrN_FaId_Old  = ( SELECT TOP 1 TrN_TrNId FROM cdn.TraNag  WHERE TrN_TrNId = @TrE_TrNId    )
            -- tablica nagłówków do przeglądnięcia i skasowania subelemntów
            DECLARE @TrN_TrNId_Prw TABLE (TrN_TrNId INT)
            INSERT INTO @TrN_TrNId_Prw SELECT TrN_TrNId FROM cdn.TraNag
            JOIN CDN.TraNagRelacje ON TrN_TrNId = TrR_TrNId
            WHERE TrR_FaId  = @TrN_FaId_Old
            DECLARE E CURSOR LOCAL FAST_FORWARD FOR
              SELECT TrE_TrEId
              FROM cdn.TraElem
              WHERE TrE_TrNId IN ( SELECT TrN_TrNId FROM @TrN_TrNId_Prw ) --  AND TrE_TwrId = @TrE_TwrId
                OPEN E
                  WHILE 1=1
                    BEGIN
                      FETCH NEXT FROM E INTO @TrE_TrEId_Old
                      IF @@FETCH_STATUS <> 0 BREAK
                      -- skasowanie subelementów z dokumentu pierwotnego
                      DELETE FROM cdn.TraSElem WHERE TrS_TrEId = @TrE_TrEId_Old
                    END
                CLOSE E
            DEALLOCATE E
          END*/
       IF  @TrN_Rodzaj IN (   306010, 302006, 302009, 308011 )
          BEGIN
              DELETE FROM cdn.TraSElem WHERE TrS_TrEId in (SELECT TrE_TrEId
              FROM cdn.TraElem
              WHERE TrE_TrNId IN ( SELECT TrN_TrNId FROM cdn.TraNag
              JOIN CDN.TraNagRelacje ON TrN_TrNId = TrR_TrNId
              WHERE TrR_FaId  = @TrE_TrNId and trn_typdokumentu = 320 and trn_trstyp = 3) )
/*
            SET @TrN_FaId_Old  = ( SELECT TOP 1 TrN_TrNId FROM cdn.TraNag  WHERE TrN_TrNId = @TrE_TrNId    )
            -- tablica nagłówków do przeglądnięcia i skasowania subelemntów
            DECLARE @TrN_TrNId_Prw TABLE (TrN_TrNId INT)
            INSERT INTO @TrN_TrNId_Prw SELECT TrN_TrNId FROM cdn.TraNag
            JOIN CDN.TraNagRelacje ON TrN_TrNId = TrR_TrNId
            WHERE TrR_FaId  = @TrN_FaId_Old
            DECLARE E CURSOR LOCAL FAST_FORWARD FOR
              SELECT TrE_TrEId
              FROM cdn.TraElem
              WHERE TrE_TrNId IN ( SELECT TrN_TrNId FROM @TrN_TrNId_Prw ) --  AND TrE_TwrId = @TrE_TwrId
                OPEN E
                  WHILE 1=1
                    BEGIN
                      FETCH NEXT FROM E INTO @TrE_TrEId_Old
                      IF @@FETCH_STATUS <> 0 BREAK
                      -- skasowanie subelementów z dokumentu pierwotnego
                      DELETE FROM cdn.TraSElem WHERE TrS_TrEId = @TrE_TrEId_Old
                    END
                CLOSE E
            DEALLOCATE E*/
          END
         /*IF  @TrN_Rodzaj IN ( 307010, 302008, 305008, 306008,  301011 )
          BEGIN
            SET @TrN_FaId_Old  = ( SELECT TOP 1 TrN_TrNId FROM cdn.TraNag  WHERE TrN_TrNId = @TrE_TrNId    )
            -- tablica nagłówków do przeglądnięcia i skasowania subelemntów
            DECLARE @TrN_TrNId_Prw1 TABLE (TrN_TrNId INT)
            INSERT INTO @TrN_TrNId_Prw1 SELECT TrN_TrNId FROM cdn.TraNag
            JOIN CDN.TraNagRelacje ON TrN_TrNId = TrR_TrNId
            WHERE TrR_FaId  = @TrN_FaId_Old
            DECLARE E CURSOR LOCAL FAST_FORWARD FOR
              SELECT TrE_TrEId
              FROM cdn.TraElem
              WHERE TrE_TrNId IN ( SELECT TrN_TrNId FROM @TrN_TrNId_Prw1 ) --  AND TrE_TwrId = @TrE_TwrId
                OPEN E
                  WHILE 1=1
                    BEGIN
                      FETCH NEXT FROM E INTO @TrE_TrEId_Old
                      IF @@FETCH_STATUS <> 0 BREAK
                      -- skasowanie subelementów z dokumentu pierwotnego
                      --DELETE FROM cdn.TraSElem WHERE TrS_TrEId = @TrE_TrEId_Old
                    END
                CLOSE E
            DEALLOCATE E
          END*/
        -- przed trwalym zapisem skasowanie subelemntów z dokumentu konwertowanego
        -- nie można przepinać zasobów, ponieważ na dokumencie pierwotnym mogą być usługi, które zaburzaja LP
        -- WZ z FA, WZ z PA, WZKI z FA, WZKI z PA, PZ z FZ, PZKI z FZKI, WZ z RO
        --
       IF  @TrN_Rodzaj IN ( /*306004, 306006,*/ 306005, 306007, /*307004,*/ 307005 /*, 306008*/ )
          EXEC CDN.KasujTraSElemZDokZrodlowych @TrN_TrNId, @TrN_Rodzaj, @TrN_FaId
        -- zainicjowanie typu
        SET @TrS_Typ        = -1
        -- dokumenty w buforze
        IF @TrN_Bufor = 1
          BEGIN
            -- FZ, PW, PZ z ZD, BO, PWP, ZD, PW z AI, FZ z ZD
            IF @TrN_Rodzaj IN  ( 301000, 303000, 307000, 307010, 310000, 317000, 309000, 303010, 312010, 301011, 301050, 313000, 313004 )
              SET @TrS_Typ = 4
            -- FA, FA z RO, PA, PA z RO
            IF @TrN_Rodzaj IN ( 302000, 302008, 305000, 305008, 318000, 302009, 320000 )
              SET @TrS_Typ = @TrN_TrSTyp
            IF @TrN_Rodzaj IN ( 302004,305004 ) and @TrE_TypDokumentu = 304
              SET @TrS_Typ = @TrN_TrSTyp
            -- FA z WZ dla elementów dodanych
            IF @TrN_Rodzaj IN ( 302004 ) AND @TrE_LpPow < 0
              SET @TrS_Typ = @TrN_TrSTyp
            -- RO, RO z PF
            IF @TrN_Rodzaj IN ( 308000, 308011 )
               SET @TrS_Typ = 3
            -- RW, WZ, WZ z FA, WZ z PA, MM, RW z AI
            IF @TrN_Rodzaj IN ( 304000, 304006, 304004,304008, 306000, 306004, 306006, 312000,312008, 304010, 306008, 306010, 312100, 314000, 314004, 314006 )
              SET @TrS_Typ = 2
            -- FAKI, FAKI z WZKI, PAKI, PAKI z WZKI, RWKI, WZKI  w buforze
            IF @TrN_Rodzaj IN  ( 302001, 302005, 305001, 305005, 304001, 306001, 314001, 318001 ) AND @TrN_Bufor IN ( 1 )
              SET @TrS_Typ = 4
            -- FAKI, FAKI z WZKI, PAKI, PAKI z WZKI, RWKI, WZKI  w buforze dla ilości dodatnich
            IF @TrN_Rodzaj IN  ( 302001, 302005, 305001, 305005, 318001 ) AND @TrN_Bufor IN ( 1 ) AND @TrE_Ilosc > 0
              BEGIN
                DECLARE @TrN_TrSTyp_Pierw INT
                -- dla nie RWSK z dokumentu pierwotnego
                IF @TrN_Rodzaj <> 318001
                  SELECT TOP 1
                    @TrN_TrSTyp_Pierw = ISNULL(MAX(TrN_TrSTyp),0)
                  FROM cdn.TraNag
                    JOIN cdn.TraElem ON TrE_TrNId = TrN_TrNId
                  WHERE TrE_TrEId = @TrE_ZwrId
                -- dla RWSK ze skojarzonego dokumentu PWPK
                ELSE
                  SELECT TOP 1
                    @TrN_TrSTyp_Pierw = ISNULL(MAX(PWP_N.TrN_TrSTyp),0)
                  FROM cdn.TraNag RWS_N
                    JOIN cdn.TraElem RWS_E ON RWS_E.TrE_TrNId = RWS_N.TrN_TrNId
                    JOIN cdn.TraNag PWP_N ON PWP_N.TrN_TrNId = RWS_N.TrN_FaId
                  WHERE RWS_E.TrE_TrEId = @TrE_TrEId
                -- jeśli na pierwotnym nie jest ustawione "pobranie", to z pierwotnego
                IF @TrN_TrSTyp_Pierw = 2
                  SET @TrS_Typ = @TrN_TrSTyp_Pierw
                ELSE
                  SET @TrS_Typ = 3
              END
            -- FAKI, FAKI z WZKI, PAKI, PAKI z WZKI w buforze dla ilości dodatnich
            IF @TrN_Rodzaj IN  ( 306001, 314001 ) AND @TrN_Bufor IN ( 1 ) AND @TrE_Ilosc > 0
              SET @TrS_Typ = 2
            -- FZKI, FZKI z PZKI, PWKI, PZKI, BOMKI w buforze
            IF (@TrN_Rodzaj IN  ( 301001, 301005, 303001, 307001, 310001, 313001, 317001 ) AND @TrN_Bufor IN ( 1 )) or (@TrN_Rodzaj = 301051  AND @TrN_Bufor = 1  and not exists (select * from cdn.TraNag where TrN_FaId = @TrN_TrNId and TrN_Rodzaj = 307005))
              SET @TrS_Typ = 3
            -- FZKI, FZKI z PZKI, PWKI, PZKI, BOMKI w buforze dla ilości dodatnich
            IF (@TrN_Rodzaj IN  ( 301001, 301005, 303001, 307001, 310001, 313001, 317001) AND @TrN_Bufor IN ( 1 ) AND @TrE_Ilosc > 0) or (@TrN_Rodzaj = 301051  AND @TrN_Bufor = 1  AND @TrE_Ilosc > 0 and not exists (select * from cdn.TraNag where TrN_FaId = @TrN_TrNId and TrN_Rodzaj = 307005))
              SET @TrS_Typ = 4
          END
        -- dokumenty zaakceptowane trwale
        ELSE IF @TrN_Bufor = 0
          BEGIN
            -- FZ, FZKI, FZKI z PZKI, ZD, FZ z ZD
            IF @TrN_Rodzaj IN ( 301000, 301001, 301005, 309000, 301011, 301050)  or (@TrN_Rodzaj = 301051   and not exists (select * from cdn.TraNag where TrN_FaId = @TrN_TrNId and TrN_Rodzaj = 307005))
              SET @TrS_Typ = 4
            -- PW, PWKI, PZ, PZ z FZ, PZKI, PZKI z FZKI, PZKW, PZKW z FZKW, PZ z ZD, BO, PWP, PW z AI, BOMKI, BOMKW
            IF @TrN_Rodzaj IN ( 303000, 303001, 303002, 307000, 307004, 307001, 307005, 307002, 307003, 307011, 307006, 307010, 310000, 317000, 303010, 310001, 310002, 312010, 313000, 313001, 313002, 313004, 317001 )
              SET @TrS_Typ = 1
            -- FAKI, PAKI - subelement o typie z dokumentu pierwotnego
            IF @TrN_Rodzaj IN ( 302001, 305001 )
              SET @TrS_Typ = ISNULL( ( SELECT MAX(TrS_Typ) FROM cdn.TraElem JOIN cdn.TraSElem ON TrS_TrEId = TrE_TrEId WHERE TrE_TrEId = @TrE_ZwrId ), 0 )
            -- FA, FA z WZ, PA, FA z RO, PA z RO, PF, PF z FA, PF z RO, FA z PF
            IF @TrN_Rodzaj IN ( 302000, 302006, 305000, 302008, 305008, 320000, 320008, 320009, 302009 )
              SET @TrS_Typ = @TrN_TrSTyp
   IF @TrN_Rodzaj IN ( 302004,305004 ) and @TrE_TypDokumentu = 304
              SET @TrS_Typ = @TrN_TrSTyp
            -- FA z WZ dla elementów dodanych
            IF @TrN_Rodzaj IN ( 302004 ) AND @TrE_LpPow < 0
              SET @TrS_Typ = @TrN_TrSTyp
            -- RO, FA z RO, PA z RO
            IF @TrN_Rodzaj IN ( 308000, 308011 )
               SET @TrS_Typ = 3
            -- RW, RWKI, WZ, WZKI, WZ z FA, WZ z PA, WZKI, WZKI z FAKI, WZKI z PAKI, MM, RWS, RW z AI
            IF @TrN_Rodzaj IN ( 304000, 304006, 304004,304008, 304001, 306000, 306004, 306006, 306001, 306005, 306007, 312000,312008, 318000, 304010, 306008, 306010, 312100, 314000, 314001, 314004, 314006, 318001 )
              SET @TrS_Typ = 2
          END
        -- Jesli nie ustawiono prawidlowego typu - nie kreujemy subelementow
        IF @TrS_Typ NOT IN ( 1, 2, 3, 4 )
          CONTINUE
        -- Update wartości i cen elementu dla PWP - ( musi być przed ustawieniem subelementu - jest już RWS )
        IF @TrE_TypDokumentu = 317
          BEGIN
           SET @TrE_WartoscZakupu = ( SELECT ISNULL(SUM(PdE_WartoscZakupu),0) FROM cdn.ProdElem WHERE PdE_TrEId = @TrE_TrEId )
            UPDATE cdn.TraElem SET
              TrE_WartoscNetto     = @TrE_WartoscZakupu,
              TrE_WartoscBrutto    = ROUND(@TrE_WartoscZakupu * ( ( 100 + TrE_Stawka ) / 100 ), 2 ),
              TrE_WartoscNettoWal  = @TrE_WartoscZakupu,
              TrE_WartoscBruttoWal = ROUND(@TrE_WartoscZakupu * ( ( 100 + TrE_Stawka ) / 100 ), 2 ),
              TrE_Rabat            = 0,
              TrE_CenaT            = round(CASE TrE_IloscJM WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_IloscJM END,@ZaokraglajDo),
              TrE_CenaW            = round(CASE TrE_IloscJM WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_IloscJM END,@ZaokraglajDo) ,
              TrE_Cena0            = round(CASE TrE_Ilosc   WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_Ilosc   END,@ZaokraglajDo) ,
              TrE_CenaWWD          = round(CASE TrE_IloscJM WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_IloscJM END,@ZaokraglajDo),
              TrE_Cena0WD          = round(CASE TrE_Ilosc   WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_Ilosc   END,@ZaokraglajDo),
              TrE_Waluta           = @WalutaSys,
              TrE_KursNumer        = 0,
              TrE_KursL            = 1,
              TrE_KursM            = 1
            WHERE TrE_TrEId = @TrE_TrEId
            -- Wczytanie poprawionych wartości
            SELECT
              @TrE_WartoscNetto     = @TrE_WartoscZakupu,
              @TrE_CenaT            = round(CASE @TrE_IloscJM WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / @TrE_IloscJM END,@ZaokraglajDo),
              @TrE_CenaW            = round(CASE @TrE_IloscJM WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / @TrE_IloscJM END,@ZaokraglajDo),
              @TrE_CenaWWD          = round(CASE @TrE_IloscJM WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / @TrE_IloscJM END,@ZaokraglajDo),
              @TrE_Waluta           = @WalutaSys,
              @TrE_KursNumer        = 0,
              @TrE_KursL            = 1,
              @TrE_KursM            = 1
          END
        -- wartosci pozostalych pol
        SET @TrS_TrSId       = ( SELECT ISNULL(MAX(TrS_TrSId),0) FROM cdn.TraSElem ) + 1
        SET @TrS_TrEId       = @TrE_TrEId
        SET @TrS_TrSIdDost   = NULL
        SET @TrS_ZwrId       = NULL
        SET @TrS_TwrId       = @TrE_TwrId
        SET @TrS_MagId       = CASE WHEN @TrN_Rodzaj <> 312010 THEN CASE WHEN @TrE_MagId is null THEN @TrN_MagZrdId ELSE @TrE_MagId END ELSE @TrN_MagDocId END
        SET @TrS_Rodzaj      = @TrN_Rodzaj
        SET @TrS_Metoda      = @Metoda
        SET @TrS_DataOpe     = @TrE_DataOpe
        SET @TrS_Ilosc       = @TrE_Ilosc
        SET @TrS_Wartosc     = 0
        SET @TrS_Cena        = @TrE_CenaT
        SET @TrS_Termin      = NULL
        -- dostawy
        IF @TrS_Typ = 1
          BEGIN
            SET @TrS_Wartosc = @TrE_WartoscNetto
            SET @TrS_Cena    = round(case when @TrE_Ilosc <> 0 THEN @TrE_WartoscNetto / @TrE_Ilosc ELSE @TrS_Wartosc END,@ZaokraglajDo)
          END
        -- Zwykłe dostawy PZ, PZ z FZ, PW, BO, PZ z ZD, PWP, PW z AI, MM-OL
        IF @TrS_Rodzaj IN ( 307000, 307004, 303000, 310000, 307010, 317000, 303010, 312010, 313000, 313004  )
          BEGIN
            -- TrS_TrSIdDost i TrS_ZwrId
            SET @TrS_TrSIdDost  = @TrS_TrSId
            SET @TrS_ZwrId      = NULL
          END
        -- Korekty ilościowe dostaw PZKI, PZKI z FZKI, PWKI, PZKW, BOMKI, BOMKW
        IF @TrS_Rodzaj IN ( 307001, 307005, 303001, 303002, 307002, 310001, 310002, 307003, 307011, 307006, 313001, 313002, 317001 )
          BEGIN
            SELECT
              @TrS_TrSIdDost  = TrS_TrSIdDost,
              @TrS_Cena       = TrS_Cena,
              @TrS_ZwrId      = TrS_TrSId
            FROM cdn.TraSElem
            WHERE TrS_TrSId = ( -- TrS_TrSId pierwotnej dostawy
                                SELECT TOP 1 A.TrS_TrSId
                                FROM cdn.TraSElem A
                                  JOIN cdn.TraElem B ON B.TrE_TrEId = A.TrS_TrEId
                                WHERE B.TrE_TrEId = @TrE_ZwrId
                               )
          END
        -- Dostawa i QUAN - zerowa cena i wartosc subelementu
        IF @TrS_Typ = 1 AND @TrS_Metoda = 4
          BEGIN
            SET @TrS_Wartosc = 0
            SET @TrS_Cena    = 0
          END
        -- daty dla rezerwacji i zamowien
        -- Rezerwacja - bufor
        IF @TrN_Rodzaj IN ( 308000, 308011 ) -- AND @TrN_Bufor = 1
          BEGIN
            SET @TrS_Termin  = @TrN_DataWys
          END
/*
        -- Rezerwacja - zapis trwaly (rezerwacja bezterminowa)
        IF @TrN_Rodzaj IN ( 308000 ) AND @TrN_Bufor = 0
          SET @TrS_DataOpe = NULL --@TrE_DataDok
*/
        -- Zamówienie - bufor i zapis trwaly
        IF @TrN_Rodzaj IN ( 309000 )
          BEGIN
            SELECT @DataZamowienia = ISNULL(MAX(Fir_Wartosc),2) FROM cdn.Firma WHERE Fir_Numer = 2075
            IF @DataZamowienia = 2
              SET @TrS_DataOpe = @TrN_DataWys
          END
        -- odwrotne ilosci dla korekt w buforze
        -- FAKI, FAKI z WZKI, PAKI, PAKI z WZKI, FZKI, FZKI z PZKI, PWKI, RWKI, WZKI, PZKI, BOMKI  w buforze
        IF (@TrN_Rodzaj IN  ( 302001, 302005, 305001, 305005, 301001, 301005, 303001, 304001, 306001, 307001, 310001, 313001, 314001, 318001, 317001) AND @TrN_Bufor IN ( 1 ) AND @TrS_Typ IN ( 3, 4 ) AND @TrS_Ilosc < 0 )
         or (@TrN_Rodzaj = 301051 AND @TrN_Bufor IN ( 1 ) AND @TrS_Typ IN ( 3, 4 ) AND @TrS_Ilosc < 0 and not exists (select * from cdn.TraNag where TrN_FaId = @TrN_TrNId and TrN_Rodzaj = 307005) )
          BEGIN
            SET @TrS_Ilosc = - @TrE_Ilosc
/*            IF @TrS_Typ IN ( 3, 4 ) AND @TrS_Ilosc < 0
              SELECT
                @TrS_Typ  = CASE @TrS_Typ WHEN 4 THEN 3 ELSE 4 END,
                @TrS_Ilosc = -@TrS_Ilosc
*/
          END
        -- insert subelemntu i procedura aktualizacji wartości zakupu (subelement dodawany tylko dla towaru)
        -- odczytanie typu karty (towar/usługa) oraz typu kosztu usługi i stawki VAT dla późniejszej aktualizacji ceny zakupu
        SELECT
          @Twr_Typ            = Twr_Typ,
          @Twr_KosztUslugiTyp = Twr_KosztUslugiTyp,
          @Twr_KosztUslugi    = Twr_KosztUslugi,
          @Twr_Stawka         = Twr_Stawka,
          @Twr_KursL          = Twr_KursL,
          @Twr_KursM          = Twr_KursM
        FROM cdn.Towary
        WHERE Twr_TwrId = @TrE_TwrId
        -- Kontrola ilosci przed dodaniem subelemntu
        IF @Twr_Typ = 1 AND (( @TrS_Typ = 1 AND @TrS_Ilosc < 0 ) OR ( @TrS_Typ = 2 AND @TrS_Ilosc > 0 ))  AND @TrE_IFA24Mag = 0 AND @Tre_WyborDostaw = 0
          BEGIN
            SELECT @ZawszeBraki = ISNULL(MAX(Fir_Wartosc),0) FROM cdn.Firma WHERE Fir_Numer = 1536
   if (SELECT ISNULL(MAX(Fir_Wartosc),0) FROM cdn.Firma WHERE Fir_Numer = 1970) = 1 or  ((SELECT ISNULL(MAX(Fir_Wartosc),0) FROM cdn.Firma WHERE Fir_Numer = 1776) = 1 and @TrE_LpPow > 0)
   select @ZezwalajMimoRez = 1
    else
   select @ZezwalajMimoRez = 0
   --SELECT @ZezwalajMimoRez = ISNULL(MAX(Fir_Wartosc),0) FROM cdn.Firma WHERE Fir_Numer = 1970
   IF ((@TrS_Rodzaj IN (305001,302001,306001,302000,302009, 305000, 306000,304000,302008, 305008, 306008,304008,306004) AND @TrS_Typ = 2)
    and exists (select * from deleted join inserted on deleted.TrE_TrEID = inserted.TrE_TrEID and inserted.TrE_TrEID = @TrE_TrEId and deleted.tre_ilosc >= inserted.tre_ilosc and deleted.TrE_DataOpe = inserted.TrE_DataOpe left join @TrETrSTyp on TrEId = @TrE_TrEId where @TrS_Typ = isnull(case when @ZezwalajMimoRez = 1 then @TrS_Typ else trs_typ end,@TrS_Typ)  ))
   or
   ((@TrS_Rodzaj IN ( 306004,306006) AND @TrS_Typ = 2 and @TrE_LpPow > 0)
   and exists (select TrN_TrSTyp from cdn.traelem join cdn.tranagrelacje on trr_faid= tre_trnid and trr_trnid = @TrE_TrNID  join cdn.tranag on tre_trnid = trn_trnid  where TrN_TrSTyp =2))
     SET @Komunikat = CDN.TwrIlosciErr ( 1, @TrS_Typ, @TrS_TwrId, @TrS_MagId, @TrS_DataOpe, @TrS_Ilosc, 3)
   ELSE
    IF ((@TrS_Rodzaj IN (302008, 305008, 306008,304008,312008) AND @TrS_Typ = 2)
       OR  (@TrS_Rodzaj =306010 AND @TrS_Typ = 2 AND exists(select trr_trrid from cdn.tranagrelacje join cdn.tranag on trr_faid = trn_trnid where  trr_trnid = @trn_trnid and Trr_fatyp = 308 and trn_bufor = 0 and TrN_ZwroconoCalaIlosc < 4))
       OR  (@TrS_Rodzaj =302009 AND @TrE_LpPow > 0 AND @TrS_Typ = 2 and exists(select trr_trrid from cdn.tranagrelacje join cdn.tranag on trr_faid = trn_trnid where  trr_trnid = @trn_trnid and Trr_fatyp = 308 and trn_bufor = 0 and TrN_ZwroconoCalaIlosc < 4))
       OR  (@TrS_Rodzaj =306004 AND @TrS_Typ = 2 AND exists(select trr_trrid from cdn.tranagrelacje join cdn.tranag on trr_faid = trn_trnid where  trr_trnid = @trn_trnid and Trr_fatyp = 308 and trn_bufor = 0 and TrN_ZwroconoCalaIlosc < 4)))
      and not exists (select * from deleted join inserted on deleted.TrE_TrEID = inserted.TrE_TrEID and inserted.TrE_TrEID = @TrE_TrEId and deleted.tre_ilosc < inserted.tre_ilosc)
                        and not exists (select * from @TrETrSTyp where TrEId = @TrE_TrEId and @TrS_Typ != isnull(case when @ZezwalajMimoRez = 1 then @TrS_Typ else trs_typ end,@TrS_Typ))
     IF @ZezwalajMimoRez = 1 and(@TrS_rodzaj in (306008,306010,306004,304008,312008) or (@TrS_rodzaj in (302009) AND @TrS_Typ = 2)  or (@TrS_rodzaj in (302008) AND @TrS_Typ = 2) or (@TrS_rodzaj in (305008) AND @TrS_Typ = 2))
      SET @Komunikat = CDN.TwrIlosciErr ( 1, @TrS_Typ, @TrS_TwrId, @TrS_MagId, @TrS_DataOpe, @TrS_Ilosc, 2 )
     ELSE
      SET @Komunikat = CDN.TwrIlosciErr ( 1, @TrS_Typ, @TrS_TwrId, @TrS_MagId, @TrS_DataOpe, @TrS_Ilosc, 1 )
    else
     SET @Komunikat = CDN.TwrIlosciErr ( 1, @TrS_Typ, @TrS_TwrId, @TrS_MagId, @TrS_DataOpe, @TrS_Ilosc, 0)
            IF @Komunikat <> '' GOTO KOMUNIKAT
          END
        -- Marze symulowane dla FA, PA, FA z PA, RWS (symulacja poprzez ustawienie wartosci na subelemencie rezerwacyjnym)
        IF @Twr_Typ = 1 AND @TrS_Typ IN ( 3, 4 )
          BEGIN
            SET @Marza_Sym_Ostatnia = ( SELECT TOP 1 ISNULL(Fir_Wartosc,0) FROM cdn.Firma WHERE Fir_Numer = 1481 )
            SET @Marza_Sym_Srednia  = ( SELECT TOP 1 ISNULL(Fir_Wartosc,0) FROM cdn.Firma WHERE Fir_Numer = 1482 )
            -- Marze symulowane tylko dla elementów z subelementami rezerwacyjnymi - poprawa wartosći na subelementach rezerwacyjnych
            IF @Marza_Sym_Ostatnia = 1 OR @Marza_Sym_Srednia = 1
              BEGIN
                 -- w każdym przypadku symulwoana wg ostatniej ceny zakupu
                 SET @TrS_Wartosc = @TrE_Ilosc * ( SELECT ROUND(ISNULL(TwC_Wartosc,0)*(@Twr_KursL/@Twr_KursM),@ZaokraglajDo) FROM cdn.TwrCeny WHERE TwC_TwrId = @TrS_TwrId AND TwC_TwCNumer = 1 )
                 -- jeśli marża ze średniej z zasobów i nie brakuje zasobów
                 IF @Marza_Sym_Srednia = 1
                   IF ( SELECT ISNULL(SUM(TwZ_Ilosc),0) FROM cdn.TwrZasoby WHERE TwZ_TwrId = @TrS_TwrId ) <> 0
                     SET @TrS_Wartosc = @TrE_Ilosc * ( SELECT ISNULL(SUM(TwZ_Wartosc)/SUM(TwZ_Ilosc),0) FROM cdn.TwrZasoby WHERE TwZ_TwrId = @TrS_TwrId )
                 SET @TrS_Cena = CASE @TrS_Ilosc WHEN 0 THEN 0 ELSE round(@TrS_Wartosc / @TrS_Ilosc,@ZaokraglajDo) END
              END
          END
        -- Liczenie kosztu usługi dla RWS (na pozostałych wewnętrznych koszt usługi jest zapisywany z obiektu)
        IF @Twr_Typ = 0 AND @TrE_TypDokumentu = 318  and @TrE_KosztUslugiZDok = 0
          BEGIN
            IF @Twr_KosztUslugiTyp = 1
              SET @TrE_KosztUslugi = ROUND( @TrE_Ilosc * @Twr_KosztUslugi, 2 )
            ELSE IF @Twr_KosztUslugiTyp = 2
              SET @TrE_KosztUslugi = ROUND( @TrE_WartoscNetto * @Twr_KosztUslugi / 100, 2 )
            UPDATE cdn.TraElem SET TrE_KosztUslugi = @TrE_KosztUslugi WHERE TrE_TrEId = @TrE_TrEId
          END
        -- AVCO - przed dodaniem subelementu dostawczego lub kosztowego sprawdzić date ostatniej modyfikacji zasobu
        IF @TrS_Metoda = 3 AND @TrS_Typ IN ( 1, 2 )
          BEGIN
            SET @Data_Dost = ( SELECT ISNULL(TwZ_Data,'1800-01-01') FROM cdn.TwrZasoby WHERE TwZ_TwrId = @TrS_TwrId AND TwZ_MagId = @TrS_MagId AND TwZ_TrSIdDost IS NULL )
            IF @TrS_DataOpe < @Data_Dost
              BEGIN
              -- jeśli kontrola daty ostatniej modyfiakcji zasobu zaznaczona
              IF ( SELECT TOP 1 ISNULL(MAX(SUBSTRING(Fir_Wartosc,1,1)),0) FROM cdn.Firma WHERE Fir_Numer = 1688 ) = 0
                BEGIN
      SET @Komunikat = '##OPT34592##%%s1%%=' + REPLACE(@TrE_TwrKod,'%','%%')
      +'%%s3%%='+CONVERT( NVarchar(10), @Data_Dost, 120 )
      +'%%s4%%='+CONVERT( NVarchar(10), @TrS_DataOpe, 120 )
      + '##'
      --SET @Komunikat = 'Zapis niemożliwy !  Dla towaru ' + @TrE_TwrKod + ' data ostatniej modyfikacji zasobu (' + CONVERT( NVarchar(10), @Data_Dost, 120 ) + ') jest późniejsza niż data transakcji (' + CONVERT( NVarchar(10), @TrS_DataOpe, 120 ) + ')'
                  IF @Komunikat <> '' GOTO KOMUNIKAT
                END
              END
          END
        -- ustawienia korekty wartosci dla PZ z dostawami
         SET @DostIloscRecordow = 0
         SET @DostIloscRecordowReal = 0
        IF (@TrS_Rodzaj IN ( 307002,307006,310002,303002,307003, 307011)) or (@TrS_Rodzaj IN ( 317001) and @TrE_Ilosc = 0  and @Tre_WyborDostaw = 0)
          BEGIN
            SELECT @DostIloscRecordowReal =count(A.TrS_TrSId)
             FROM cdn.TraSElem A
             JOIN cdn.TraElem B ON B.TrE_TrEId = A.TrS_TrEId
            WHERE B.TrE_TrEId = @TrE_ZwrId
          END
        IF @DostIloscRecordowReal > 1
          BEGIN
            SELECT  @DostIloscRecordow =count(A.TrS_TrSId)
              FROM cdn.TraSElem A
              JOIN cdn.TraElem B ON B.TrE_TrEId = A.TrS_TrEId
              JOIN (SELECT A.TrS_TrSId, abs(ISNULL(A.TrS_Ilosc,0))-abs(ISNULL(B.TrS_Ilosc,0)) as Roznica
                    FROM cdn.TraSElem A
                    LEFT OUTER JOIN cdn.TraSElem B ON A.TrS_TrSId = B.TrS_ZwrId
     WHERE A.TrS_Typ = 1 AND A.TrS_TrEId = @TrE_ZwrId) AS C ON C.TrS_TrSId = A.TrS_TrSId
              WHERE B.TrE_TrEId = @TrE_ZwrId AND C.Roznica > 0
             SELECT @DostTrS_Ilosc =
             (SELECT ISNULL(sum(TrS_Ilosc),0) FROM cdn.TraSElem WHERE Trs_Typ = 1 AND TrS_TrEId = @TrE_ZwrId)
              +
             (SELECT ISNULL(sum(TrS_Ilosc),0) FROM cdn.TraSElem WHERE Trs_Typ = 1 AND TrS_Zwrid
              in(SELECT TrS_TrSId FROM cdn.TraSElem WHERE Trs_Typ = 1 AND TrS_TrEId = @TrE_ZwrId ))
           SET @DostIloscRecordowDodanych = 1
           SET @ResztaWartosc = @TrE_WartoscNetto
           DECLARE DostawyKorektaWartosci CURSOR LOCAL FAST_FORWARD FOR
            SELECT A.TrS_TrSId
              FROM cdn.TraSElem A
              JOIN cdn.TraElem B ON B.TrE_TrEId = A.TrS_TrEId
              JOIN (SELECT A.TrS_TrSId, abs(ISNULL(A.TrS_Ilosc,0))-abs(ISNULL(B.TrS_Ilosc,0)) AS Roznica
                    FROM cdn.TraSElem A
                    LEFT OUTER JOIN (SELECT B.TrS_ZwrId, SUM(ISNULL(B.TrS_Ilosc,0))  as TrS_Ilosc
                                     FROM cdn.TraSElem A
                                     LEFT OUTER JOIN  cdn.TraSElem B ON A.TrS_TrSId = B.TrS_ZwrId WHERE A.TrS_Typ = 1 AND A.TrS_TrEId = @TrE_ZwrId AND B.TrS_ZwrId IS NOT NULL
                                     GROUP BY B.TrS_ZwrId) B ON A.TrS_TrSId = B.TrS_ZwrId
                    WHERE A.TrS_Typ = 1 AND A.TrS_TrEId = @TrE_ZwrId) AS C ON C.TrS_TrSId = A.TrS_TrSId
             WHERE B.TrE_TrEId = @TrE_ZwrId AND c.roznica > 0
           OPEN DostawyKorektaWartosci
           WHILE 1=1
           BEGIN
             FETCH NEXT FROM DostawyKorektaWartosci INTO @DostTrS_TrSId
             IF @@FETCH_STATUS <> 0 BREAK
               IF @DostIloscRecordowDodanych = @DostIloscRecordow
               SELECT
                @TrS_TrSIdDost  = TrS_TrSIdDost,
                @TrS_Cena       = TrS_Cena,
                @TrS_Wartosc    = @ResztaWartosc,
                @TrS_ZwrId      = TrS_TrSId
              FROM cdn.TraSElem
              WHERE TrS_TrSId = @DostTrS_TrSId
               ELSE
               SELECT
                @TrS_TrSIdDost  = MAX(TrS_TrSIdDost),
                @TrS_Cena       = MAX(TrS_Cena),
                @TrS_Wartosc    = ROUND( (@TrE_WartoscNetto/@DostTrS_Ilosc)*SUM(TrS_Ilosc),2),
                @TrS_ZwrId      = MIN(TrS_TrSId)
              FROM cdn.TraSElem
              WHERE TrS_TrSId = @DostTrS_TrSId OR TrS_ZwrID = @DostTrS_TrSId
              SET @DostIloscRecordowDodanych = @DostIloscRecordowDodanych + 1
              SET @ResztaWartosc = @ResztaWartosc - @TrS_Wartosc
     SET @TrS_TrSId       = ( SELECT ISNULL(MAX(TrS_TrSId),0) FROM cdn.TraSElem ) + 1
              --select @TrS_TrSId, @TrS_TrEId, @TrS_TrSIdDost, @TrS_ZwrId, @TrS_TwrId, @TrS_MagId, @TrS_Rodzaj, @TrS_Typ, @TrS_Metoda, @TrS_DataOpe, @TrS_Ilosc, @TrS_Wartosc as wartosc, @TrS_Cena, @TrS_Termin, @TrE_ZwrId, @TrN_TrNId, @TrN_MagDocId, @TrN_Bufor
              EXECUTE CDN.AktualizujTraSElem @TrS_TrSId, @TrS_TrEId, @TrS_TrSIdDost, @TrS_ZwrId, @TrS_TwrId, @TrS_MagId, @TrS_Rodzaj, @TrS_Typ, @TrS_Metoda, @TrS_DataOpe, @TrS_Ilosc, @TrS_Wartosc, @TrS_Cena, @TrS_Termin, @TrE_ZwrId, @TrN_TrNId, @TrN_MagDocId, @TrN_Bufor
          END
          CLOSE DostawyKorektaWartosci
          DEALLOCATE DostawyKorektaWartosci
          UPDATE cdn.TraElem SET TrE_KosztUslugi = 0 WHERE TrE_TrEId = @TrE_TrEId
        END
        -- dodanie subelemntu (towary lub usługi gdy dokumenty rozchodowe )
        IF @Twr_Typ = 1 AND ISNULL(@Tre_WyborDostaw,0)  = 0 AND @DostIloscRecordowReal  < 2 AND @TrE_IFA24Mag = 0
          BEGIN
            EXECUTE CDN.AktualizujTraSElem @TrS_TrSId, @TrS_TrEId, @TrS_TrSIdDost, @TrS_ZwrId, @TrS_TwrId, @TrS_MagId, @TrS_Rodzaj, @TrS_Typ, @TrS_Metoda, @TrS_DataOpe, @TrS_Ilosc, @TrS_Wartosc, @TrS_Cena, @TrS_Termin, @TrE_ZwrId, @TrN_TrNId, @TrN_MagDocId, @TrN_Bufor
            UPDATE cdn.TraElem SET TrE_KosztUslugi = 0 WHERE TrE_TrEId = @TrE_TrEId
          END
        -- dodanie subelemntu dla rezerwacji (usługi)
        IF @Twr_Typ = 0
          BEGIN
             IF  @TrS_Rodzaj IN ( 307010, 302008, 305008, 306008,  301011 , 306004, 307004, 302009, 302004, 306010,304000,304008,312008,312100)
               EXEC [CDN].[UstawRezerwacje] @TrS_TrEId,0,0
             IF  @TrE_TypDokumentu IN ( 308, 309)
               BEGIN
                 SET @TrS_Typ = @TrS_Typ + 10
                 EXECUTE CDN.AktualizujTraSElem @TrS_TrSId, @TrS_TrEId, @TrS_TrSIdDost, @TrS_ZwrId, @TrS_TwrId, @TrS_MagId, @TrS_Rodzaj,  @TrS_Typ , @TrS_Metoda, @TrS_DataOpe, @TrS_Ilosc, @TrS_Wartosc, @TrS_Cena, @TrS_Termin, @TrE_ZwrId, @TrN_TrNId, @TrN_MagDocId, @TrN_Bufor
               END
          END
        -- Update wartości i cen elementu dla dokumentów wewnętrznych
        IF @TrE_TypDokumentu IN ( 304, 312, 318 ) AND @TrN_Rodzaj NOT IN ( 312010 )
          BEGIN
     if (@TrN_Bufor = 1 and @TrN_Rodzaj = 304001)
    SET @TrE_WartoscZakupu = ( SELECT TrE_WartoscNetto FROM cdn.TraElem WHERE TrE_TrEId = @TrE_TrEId )
   else
    SET @TrE_WartoscZakupu = ( SELECT TrE_WartoscZakupu FROM cdn.TraElem WHERE TrE_TrEId = @TrE_TrEId )
            UPDATE cdn.TraElem SET
              TrE_WartoscNetto     = @TrE_WartoscZakupu,
              TrE_WartoscBrutto    = ROUND(@TrE_WartoscZakupu * ( ( 100 + TrE_Stawka ) / 100 ), 2 ),
              TrE_WartoscNettoWal  = @TrE_WartoscZakupu,
              TrE_WartoscBruttoWal = ROUND(@TrE_WartoscZakupu * ( ( 100 + TrE_Stawka ) / 100 ), 2 ),
              TrE_Rabat            = 0,
              TrE_CenaT            = round(CASE TrE_IloscJM WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_IloscJM END,@ZaokraglajDo),
              TrE_CenaW            = round(CASE TrE_IloscJM WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_IloscJM END ,@ZaokraglajDo),
              TrE_Cena0            = round(CASE TrE_Ilosc   WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_Ilosc   END,@ZaokraglajDo) ,
              TrE_CenaWWD          = round(CASE TrE_IloscJM WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_IloscJM END,@ZaokraglajDo),
              TrE_Cena0WD          = round(CASE TrE_Ilosc   WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_Ilosc   END,@ZaokraglajDo),
              TrE_Waluta           = @WalutaSys,
              TrE_KursNumer        = 0,
              TrE_KursL            = 1,
              TrE_KursM            = 1
            WHERE TrE_TrEId = @TrE_TrEId
          END
        -- Aktualizacja ceny zakupu towaru i kosztu usługi na karcie magazynowej dla każdego elementu PWP
        -- Jeśli waluta dokumentu (naglowka) jest systemowa, to zmiana ceny zakupu na podstawie waluty elemetnu
        -- parametry waluty z elementu
        IF @TrN_Waluta = @WalutaSys
          BEGIN
            SET @Waluta    = @TrE_Waluta
            SET @KursNumer = @TrE_KursNumer
            SET @KursL     = @TrE_KursL
            SET @KursM     = @TrE_KursM
            SET @CenaW_New = @TrE_CenaW
          END
        -- parametry waluty z nagłówka
        ELSE
          BEGIN
            SET @Waluta    = @TrN_Waluta
            SET @KursNumer = @TrN_KursNumer
            SET @KursL     = @TrN_KursL
            SET @KursM     = @TrN_KursM
            SET @CenaW_New = @TrE_CenaWWD
          END
/*
        -- Sprawdzenie, czy należy aktualizować cenę zakupu na MM-OL
        IF @TrN_Rodzaj = 312010
          SELECT TOP 1 @Aktualizuj_CenaZ_MMOL = CONVERT(TINYINT, ISNULL(Fir_Wartosc,0)) FROM cdn.Firma WHERE Fir_Numer = 1758
        -- Rodzaj marży: 0 = "od stu", 1 = "w stu"
        IF ( @TrE_TypDokumentu IN ( 310, 303, 307, 301, 317, 313 ) OR ( @TrN_Rodzaj = 312010 AND @Aktualizuj_CenaZ_MMOL = 1 ) )
          AND @TrE_Ilosc > 0
          AND @TrN_Bufor IN ( 0 )
          BEGIN
            -- parametry kursu waluty dla towaru lub usługi z typem kwotowym
            IF @Twr_Typ = 1 OR ( @Twr_Typ = 0 AND @Twr_KosztUslugiTyp = 1 )
              UPDATE cdn.Towary SET
                Twr_Waluta         = @Waluta,
                Twr_KursNumer      = @KursNumer,
                Twr_KursL          = @KursL,
                Twr_KursM          = @KursM
              WHERE Twr_TwrId = @TrE_TwrId
            -- koszt usługi ( usługa i typ kosztu kwotowy )
            IF @Twr_Typ = 0 AND @Twr_KosztUslugiTyp = 1
              BEGIN
                -- od netto
                IF @TrE_TypNB = 1
                  BEGIN
                    SET @Twr_KosztUslugiNew    = @TrE_CenaT
                    SET @Twr_KosztUslugiWalNew = @CenaW_New
                  END
                -- od brutto
                ELSE IF @TrE_TypNB = 2
                  BEGIN
                    SET @Twr_KosztUslugiNew    = @TrE_CenaT   - ROUND ( @TrE_CenaT   * @TrE_Stawka / (100 + @TrE_Stawka) , 2 )
                    SET @Twr_KosztUslugiWalNew = @CenaW_New - ROUND (  @CenaW_New  * @TrE_Stawka / (100 + @TrE_Stawka) , 2 )
                  END
                UPDATE cdn.Towary SET
                  Twr_KosztUslugi    = @Twr_KosztUslugiNew,
                  Twr_KosztUslugiWal = @Twr_KosztUslugiWalNew
                WHERE Twr_TwrId = @TrE_TwrId
              END
            -- Kursor po cenach dla towaru lub usługi z kosztem kwotowym:
            -- aktualizacja ceny zakupu (TwC_TwCNumer = 1)
            -- aktualizacja marży dla cen sprzedaży z aktualizacją ustawiną na "Nie" ( TwC_TwCNumer <> 1 AND TwC_Aktualizacja = 0 )
            IF @Twr_Typ = 1 OR ( @Twr_Typ = 0 AND @Twr_KosztUslugiTyp = 1 )
              BEGIN
                DECLARE TwrCeny CURSOR LOCAL FAST_FORWARD FOR
                SELECT TwC_TwCNumer, TwC_TwCId, TwC_Waluta, TwC_Wartosc, TwC_Typ
                  FROM cdn.TwrCeny
                  WHERE TwC_TwrId = @TrE_TwrId AND TwC_TwCNumer = 1
                UNION ALL
                SELECT TwC_TwCNumer, TwC_TwCId, TwC_Waluta, TwC_Wartosc, TwC_Typ
                  FROM cdn.TwrCeny
                  WHERE TwC_TwrId = @TrE_TwrId AND TwC_TwCNumer <> 1 AND TwC_Aktualizacja = 0
                OPEN TwrCeny
                  WHILE 1=1
                    BEGIN
                      FETCH NEXT FROM TwrCeny INTO @TwC_TwCNumer, @TwC_TwCId, @TwC_Waluta, @TwC_Wartosc, @TwC_Typ
                      IF @@FETCH_STATUS <> 0 BREAK
                      -- aktualizacja ceny zakupu
                      IF @TwC_TwCNumer = 1
                        BEGIN
                          -- od netto
                          IF @TrE_TypNB = 1
                            IF @TwC_Typ = 1
                              SET @TwC_Wartosc = @CenaW_New  * ( @TrE_JMPrzelicznikM / @TrE_JMPrzelicznikL )
                            ELSE
                              SET @TwC_Wartosc = ( @CenaW_New + ROUND( @CenaW_New * @TrE_Stawka / 100, 2 ) ) * (  @TrE_JMPrzelicznikM / @TrE_JMPrzelicznikL )
                          -- od brutto
                          ELSE IF @TrE_TypNB = 2
                            IF @TwC_Typ = 1
                              SET @TwC_Wartosc = ( @CenaW_New  - ROUND( @CenaW_New * @TrE_Stawka / ( 100+@TrE_Stawka), 2 ) ) *  ( @TrE_JMPrzelicznikM / @TrE_JMPrzelicznikL )
                            ELSE
                              SET @TwC_Wartosc =  @CenaW_New   *  ( @TrE_JMPrzelicznikM / @TrE_JMPrzelicznikL )
                          UPDATE cdn.TwrCeny SET
                            TwC_Wartosc = @TwC_Wartosc,
                            TwC_Waluta  = @Waluta
                          WHERE TwC_TwCId = @TwC_TwCId
                          SET @CenaZakupuNew = @TwC_Wartosc
                          SET @CenaZakupuNewWal = @CenaZakupuNew
                          SET @CenaZakupuNewPLN = @CenaZakupuNew * @KursL/@KursM
                        END  -- @TwC_TWCNumer = 1
                      -- aktualizacja marż dla cen sprzedaży
                      -- tylko wtedy, gdy waluta zakupu i sprzedaży są równe lub gdy waluta sprzedazy jest systemowa
                      ELSE IF @TwC_TwCNumer <> 1 AND  ( @TwC_Waluta = @Waluta OR @TwC_Waluta = @WalutaSys )
                        BEGIN
                          -- cena sprzedaży brutto - obliczamy jej reprezentację netto
                          IF @TwC_Typ = 2
                            SET @TwC_Wartosc  =  @TwC_Wartosc - ROUND( @TwC_Wartosc * @Twr_Stawka / ( 100 + @Twr_Stawka), 2 )
                          -- marża "od stu" i "w stu"
                          IF @CenaZakupuNew <> 0
                            BEGIN
                             -- jeśli waluta zakupu i sprzedaży są równe, to bierzemy cenę zakupu w walucie dokumentu
                             -- w przeciwnym przypadku, gdy cena sprzedaży jest w walucie systemowej, to bierzemy cenę zakupu w walucie systemowej
                             IF @TwC_Waluta = @WalutaSys AND @Waluta <> @WalutaSys
                               SET @CenaZakupuNew = @CenaZakupuNewPLN
                             ELSE
                               SET @CenaZakupuNew = @CenaZakupuNewWal
                              SET @TwC_Marza = ( ( @TwC_Wartosc / @CenaZakupuNew ) - 1 ) * 100
                              IF ( @TwC_Marza = -100 )  OR ( @CenaZakupuNew = @TwC_Wartosc )
                                SET @TwC_MarzaWStu = 100
                              ELSE IF @TwC_Wartosc = 0
                                SET @TwC_MarzaWStu = -100
                              ELSE
                                SET @TwC_MarzaWStu = 100 * @TwC_Marza / ( 100 + @TwC_Marza )
                              IF @TwC_Marza     > 99999.99 SET @TwC_Marza     = 99999.99
                              IF @TwC_MarzaWStu > 99999.99 SET @TwC_MarzaWStu = 99999.99
         IF @TwC_Marza     < - 99999.99 SET @TwC_Marza     = -99999.99
                              IF @TwC_MarzaWStu < - 99999.99 SET @TwC_MarzaWStu = -99999.99
                            END
                            IF @TwC_Marza IS NOT NULL AND @TwC_MarzaWStu IS NOT NULL
                            UPDATE cdn.TwrCeny SET
                              TwC_Marza = @TwC_Marza,
                              TwC_MarzaWStu = @TwC_MarzaWStu
                            WHERE TwC_TwCId = @TwC_TwCId
                        END
                    END -- kursor TwrCeny
                CLOSE TwrCeny
                DEALLOCATE TwrCeny
              END -- Towar lub usługa z kosztem kwotowym
          END -- aktualizacji ostatniej ceny zakupu
        IF @MyIdentity IS NOT NULL
          BEGIN
            SET IDENTITY_INSERT cdn.Idn ON
            INSERT INTO cdn.Idn (i) VALUES (@MyIdentity)
            SET IDENTITY_INSERT cdn.Idn OFF
   DELETE FROM cdn.Idn  WHERE i = @MyIdentity --WiNi
          END
*/
--automatyczne zasoby
if exists (SELECT TOP 1 ISNULL( Fir_Wartosc,1 ) FROM cdn.Firma WHERE Fir_Numer = 3154 and Fir_Wartosc = 1 )
and exists (select top 1 twa_twrid from CDN.Twratrybuty where twa_twrid =  @TrE_TwrId and TwA_CzyPrzenosicNaDostawy = 1)
and not exists(select * from cdn.tranag where trn_trnid = @TrE_TrNId and TrN_GIDFirma = 2)
and not exists(select * from cdn.tranag
left join cdn.tranagrelacje on trr_trnid = trn_trnid
where trr_faid = @TrE_TrNId and TrN_GIDFirma = 2 and TrR_FaTyp in(306,304) and trr_trnTyp in(302,305))
--and not exists (select top 1 tsd_treid from CDN.TraselemDost where tsd_treid =  @TrE_TrEId )
and @TrE_TypDokumentu != 314  and @TrE_Kaucja = 0
begin
INSERT INTO [CDN].[TraSElemDost]
           ([TsD_TrSID]
           ,[TsD_TrEId]
           ,[TsD_TrSIdDost]
           ,[TsD_ZwrId]
           ,[TsD_NumerPelny]
           ,[TsD_NumerObcy]
           ,[TsD_DataOpe]
           ,[TsD_Ilosc]
           ,[TsD_IloscDostepna]
           ,[TsD_Wartosc]
           ,[TsD_Cecha1_DeAId]
           ,[TsD_Cecha1_Format]
           ,[TsD_Cecha1_Kod]
     ,[TsD_Cecha1_Wartosc]
           ,[TsD_Cecha2_DeAId]
           ,[TsD_Cecha2_Format]
           ,[TsD_Cecha2_Kod]
     ,[TsD_Cecha2_Wartosc]
           ,[TsD_Cecha3_DeAId]
           ,[TsD_Cecha3_Format]
           ,[TsD_Cecha3_Kod]
     ,[TsD_Cecha3_Wartosc]
           ,[TsD_Cecha4_DeAId]
           ,[TsD_Cecha4_Format]
           ,[TsD_Cecha4_Kod]
     ,[TsD_Cecha4_Wartosc]
           ,[TsD_Cecha5_DeAId]
           ,[TsD_Cecha5_Format]
           ,[TsD_Cecha5_Kod]
     ,[TsD_Cecha5_Wartosc]
           ,[TsD_Cecha6_DeAId]
           ,[TsD_Cecha6_Format]
           ,[TsD_Cecha6_Kod]
     ,[TsD_Cecha6_Wartosc]
           ,[TsD_Cecha7_DeAId]
           ,[TsD_Cecha7_Format]
           ,[TsD_Cecha7_Kod]
     ,[TsD_Cecha7_Wartosc]
           ,[TsD_Cecha8_DeAId]
           ,[TsD_Cecha8_Format]
           ,[TsD_Cecha8_Kod]
     ,[TsD_Cecha8_Wartosc]
           ,[TsD_Cecha9_DeAId]
           ,[TsD_Cecha9_Format]
           ,[TsD_Cecha9_Kod]
     ,[TsD_Cecha9_Wartosc]
           ,[TsD_Cecha10_DeAId]
           ,[TsD_Cecha10_Format]
           ,[TsD_Cecha10_Kod]
           ,[TsD_Cecha10_Wartosc]
           ,[TsD_Dostawca]
           ,[TsD_PdEId])
select
case  when trasElemWZ.TrS_Rodzaj in (312000,312008) then (trasElemWZ.TrS_TrSID+1) else  trasElemWZ.TrS_TrSID end,
trasElemWZ.TrS_TrEId,
trasElemWZ.TrS_TrSIdDost,
Null,
PZ.TrN_NumerPelny,
PZ.TrN_NumerObcy,
trasElemPZ.TrS_DataOpe,
ROUND(trasElemWZ.TrS_Ilosc* ElemWZ.Tre_JMPrzelicznikM/ ElemWZ.Tre_JMPrzelicznikL,4),
trasElemWZ.TrS_Ilosc,
ROUND(trasElemWZ.TrS_Wartosc/trasElemWZ.TrS_Ilosc,4),
         isnull(TsC_Cecha1_DeAId,0),
         isnull(TsC_Cecha1_Format,0),
         isnull(TsC_Cecha1_Kod,''),
         isnull(TsC_Cecha1_Wartosc,''),
         isnull(TsC_Cecha2_DeAId,0),
         isnull(TsC_Cecha2_Format,0),
         isnull(TsC_Cecha2_Kod,''),
         isnull(TsC_Cecha2_Wartosc,''),
         isnull(TsC_Cecha3_DeAId,0),
         isnull(TsC_Cecha3_Format,0),
         isnull(TsC_Cecha3_Kod,''),
         isnull(TsC_Cecha3_Wartosc,''),
         isnull(TsC_Cecha4_DeAId,0),
         isnull(TsC_Cecha4_Format,0),
         isnull(TsC_Cecha4_Kod,''),
         isnull(TsC_Cecha4_Wartosc,''),
         isnull(TsC_Cecha5_DeAId,0),
         isnull(TsC_Cecha5_Format,0),
         isnull(TsC_Cecha5_Kod,''),
         isnull(TsC_Cecha5_Wartosc,''),
         isnull(TsC_Cecha6_DeAId,0),
         isnull(TsC_Cecha6_Format,0),
         isnull(TsC_Cecha6_Kod,''),
         isnull(TsC_Cecha6_Wartosc,''),
         isnull(TsC_Cecha7_DeAId,0),
         isnull(TsC_Cecha7_Format,0),
         isnull(TsC_Cecha7_Kod,''),
         isnull(TsC_Cecha7_Wartosc,''),
         isnull(TsC_Cecha8_DeAId,0),
         isnull(TsC_Cecha8_Format,0),
         isnull(TsC_Cecha8_Kod,''),
         isnull(TsC_Cecha8_Wartosc,''),
         isnull(TsC_Cecha9_DeAId,0),
         isnull(TsC_Cecha9_Format,0),
         isnull(TsC_Cecha9_Kod,''),
         isnull(TsC_Cecha9_Wartosc,''),
         isnull(TsC_Cecha10_DeAId,0),
         isnull(TsC_Cecha10_Format,0),
         isnull(TsC_Cecha10_Kod,''),
         isnull(TsC_Cecha10_Wartosc,''),
   ISNULL(PZ.TrN_PodNazwa1,''),0
from CDN.TraSElem trasElemWZ
left join CDN.TraElem ElemWZ on ElemWZ.TrE_TrEId = trasElemWZ.TrS_TrEId
left join CDN.TraNag WZ on ElemWZ.TrE_TrNId = WZ.TrN_TrNId
left join CDN.TraSElem trasElemPZ on trasElemWZ.TrS_TrSIdDost = trasElemPZ.TrS_TrSId
left join CDN.TraSElemCechy TraSElemCechy on trasElemPZ.TrS_TrSId = TsC_TrSId
left join CDN.TraElem ElemPZ on ElemPZ.TrE_TrEId = trasElemPZ.TrS_TrEId
left join CDN.TraNag PZ on ElemPZ.TrE_TrNId = PZ.TrN_TrNId
left join CDN.tranagrelacje on TrR_FaId = ElemWZ.TrE_TrNId  and TrR_TrNTyp in(302,305)
left join CDN.TraElem ElemFS on ElemFS.TrE_TrNId = TrR_TrNId and ElemFS.TrE_LpPow = ElemWZ.TrE_LpPow
left join CDN.traelem ElemFSKor on ElemFSKor.TrE_ZwrId = ElemFS.TrE_TrEID  and ElemFSKor.TrE_Ilosc > 0 and ElemFSKor.TrE_TwrTyp = 1
left join CDN.TraNag FSKor on ElemFSKor.TrE_TrNId = FSKor.TrN_TrNID and FSKor.TrN_Korekta = 1
left join CDN.tranagrelacje FSPA on FSPA.TrR_FaId = ElemFS.TrE_TrNId  and FSPA.TrR_TrNTyp in(302) and FSPA.TrR_FATyp in(305)
left join CDN.TraElem ElemFSPA on ElemFSPA.TrE_TrNId = FSPA.TrR_TrNId and ElemFSPA.TrE_LpPow = ElemWZ.TrE_LpPow
left join CDN.traelem ElemFSPAKor on ElemFSPAKor.TrE_ZwrId = ElemFSPA.TrE_TrEID  and ElemFSPAKor.TrE_Ilosc > 0 and ElemFSPAKor.TrE_TwrTyp = 1
left join CDN.TraNag FSPAKor on ElemFSPAKor.TrE_TrNId = FSPAKor.TrN_TrNID and FSPAKor.TrN_Korekta = 1
where
trasElemWZ.TrS_TrEId = @TrE_TrEId
and trasElemWZ.TrS_Typ = 2
and trasElemWZ.TrS_WyborDostaw = 0
and trasElemWZ.TrS_Ilosc > 0
and WZ.TrN_Korekta != 1
and ElemFSKor.TrE_ZwrId IS NULL
and ElemFSPAKor.TrE_ZwrId IS NULL
INSERT INTO [CDN].[TraSElemCechy] ([TsC_TrSID],[TsC_Cecha1_DeAId] ,[TsC_Cecha1_Format] ,[TsC_Cecha1_Kod] ,[TsC_Cecha1_Wartosc] ,[TsC_Cecha2_DeAId] ,[TsC_Cecha2_Format] ,[TsC_Cecha2_Kod] ,[TsC_Cecha2_Wartosc] ,[TsC_Cecha3_DeAId] ,[TsC_Cecha3_Format]
              ,[TsC_Cecha3_Kod] ,[TsC_Cecha3_Wartosc] ,[TsC_Cecha4_DeAId] ,[TsC_Cecha4_Format] ,[TsC_Cecha4_Kod] ,[TsC_Cecha4_Wartosc] ,[TsC_Cecha5_DeAId] ,[TsC_Cecha5_Format] ,[TsC_Cecha5_Kod] ,[TsC_Cecha5_Wartosc] ,[TsC_Cecha6_DeAId]
              ,[TsC_Cecha6_Format],[TsC_Cecha6_Kod] ,[TsC_Cecha6_Wartosc] ,[TsC_Cecha7_DeAId] ,[TsC_Cecha7_Format] ,[TsC_Cecha7_Kod] ,[TsC_Cecha7_Wartosc] ,[TsC_Cecha8_DeAId] ,[TsC_Cecha8_Format] ,[TsC_Cecha8_Kod] ,[TsC_Cecha8_Wartosc]
              ,[TsC_Cecha9_DeAId] ,[TsC_Cecha9_Format] ,[TsC_Cecha9_Kod] ,[TsC_Cecha9_Wartosc] ,[TsC_Cecha10_DeAId] ,[TsC_Cecha10_Format] ,[TsC_Cecha10_Kod] ,[TsC_Cecha10_Wartosc])
SELECT
TrS_TrSID,
isnull(TsD_Cecha1_DeAId,0),
isnull(TsD_Cecha1_Format,0),
isnull(TsD_Cecha1_Kod,''),
isnull(TsD_Cecha1_Wartosc,''),
isnull(TsD_Cecha2_DeAId,0),
isnull(TsD_Cecha2_Format,0),
isnull(TsD_Cecha2_Kod,''),
isnull(TsD_Cecha2_Wartosc,''),
isnull(TsD_Cecha3_DeAId,0),
isnull(TsD_Cecha3_Format,0),
isnull(TsD_Cecha3_Kod,''),
isnull(TsD_Cecha3_Wartosc,''),
isnull(TsD_Cecha4_DeAId,0),
isnull(TsD_Cecha4_Format,0),
isnull(TsD_Cecha4_Kod,''),
isnull(TsD_Cecha4_Wartosc,''),
isnull(TsD_Cecha5_DeAId,0),
isnull(TsD_Cecha5_Format,0),
isnull(TsD_Cecha5_Kod,''),
isnull(TsD_Cecha5_Wartosc,''),
isnull(TsD_Cecha6_DeAId,0),
isnull(TsD_Cecha6_Format,0),
isnull(TsD_Cecha6_Kod,''),
isnull(TsD_Cecha6_Wartosc,''),
isnull(TsD_Cecha7_DeAId,0),
isnull(TsD_Cecha7_Format,0),
isnull(TsD_Cecha7_Kod,''),
isnull(TsD_Cecha7_Wartosc,''),
isnull(TsD_Cecha8_DeAId,0),
isnull(TsD_Cecha8_Format,0),
isnull(TsD_Cecha8_Kod,'') ,
isnull(TsD_Cecha8_Wartosc,''),
isnull(TsD_Cecha9_DeAId,0),
isnull(TsD_Cecha9_Format,0),
isnull(TsD_Cecha9_Kod,''),
isnull(TsD_Cecha9_Wartosc,''),
isnull(TsD_Cecha10_DeAId,0),
isnull(TsD_Cecha10_Format,0),
isnull(TsD_Cecha10_Kod,''),
isnull(TsD_Cecha10_Wartosc,'')
from CDN.TraSElem
left join CDN.TraSElemDost  on Tsd_TrSId = TrS_TrSId
where trs_treid = @TrE_TrEId and trs_typ = 2
and TrS_WyborDostaw = 0 and trs_ilosc > 0
if exists(select * from cdn.traselemdost where  tsd_treid = @TrE_TrEId and isnull(TsD_PdEId,0) = 0)
and exists(select * from CDN.TraSElem trasElemWZ
where trasElemWZ.trs_treid = @TrE_TrEId and trasElemWZ.trs_typ = 2
and trasElemWZ.TrS_WyborDostaw = 0 and trasElemWZ.TrS_Ilosc > 0)
begin
 update CDN.TraSElem set TrS_WyborDostaw = 1 where TrS_TrEId = @TrE_TrEId and TrS_WyborDostaw != 1
 update CDN.TraElem set TrE_WyborDostaw = 1 where TrE_TrEID = @TrE_TrEId and TrE_WyborDostaw != 1
 if exists(select PAFA.tre_treid from cdn.traelem WZ
      left join cdn.tranagrelacje on WZ.TrE_TrNId =  TrR_TrNId AND TrR_FaTyp in(302, 305) AND TrR_TrNTyp= 306
      left join cdn.TraElem PAFA on PAFA.TrE_TrNId = TrR_FaId
         where WZ.TrE_TrEId = @TrE_TrEId AND WZ.TrE_TypDokumentu = 306 AND  WZ.TrE_Lppow = PAFA.TrE_LpPow and PAFA.TrE_WyborDostaw = 0 and WZ.TrE_WyborDostaw = 1 AND PAFA.TrE_TypDokumentu != 314)
      update CDN.TraElem set TrE_WyborDostaw = 1 where TrE_TrEId IN (
      select PAFA.tre_treid from cdn.traelem WZ
      left join cdn.tranagrelacje on WZ.TrE_TrNId =  TrR_TrNId AND TrR_FaTyp in(302, 305) AND TrR_TrNTyp= 306
      left join cdn.TraElem PAFA on PAFA.TrE_TrNId = TrR_FaId
         where WZ.TrE_TrEId = @TrE_TrEId AND WZ.TrE_TypDokumentu = 306 AND  WZ.TrE_Lppow = PAFA.TrE_LpPow  and PAFA.TrE_WyborDostaw = 0 and WZ.TrE_WyborDostaw = 1 AND PAFA.TrE_TypDokumentu != 314)
      and TrE_WyborDostaw != 1
end
end
      END
    CLOSE Dodawane
  DEALLOCATE Dodawane
  -- KosztUslugi = 0 dla towarów
  UPDATE CDN.TraElem SET TrE_KosztUslugi = 0 WHERE TrE_TrEId IN (select TrE_TrEId FROM inserted join cdn.towary on inserted.tre_twrid = twr_twrid and twr_typ = 1)
  -- sprawdzenie towaru z elementu po modyfikacjach dla dodawanych i kasowanych
  DECLARE EKI CURSOR LOCAL FAST_FORWARD FOR
    SELECT TrE_TrEId, TrE_TwrId, TrE_DataOpe, TrE_TwrKod, TrE_TwrNazwa
      FROM (
             SELECT TrE_TrEId, TrE_TwrId, TrE_DataOpe, TrE_TwrKod, TrE_TwrNazwa
             FROM deleted where ISNULL(Tre_WyborDostaw,0) = 0
             UNION ALL
             SELECT TrE_TrEId, TrE_TwrId, TrE_DataOpe, TrE_TwrKod, TrE_TwrNazwa
             FROM inserted where ISNULL(Tre_WyborDostaw,0) = 0
           ) AS TrE_ERR
      GROUP BY TrE_TrEId, TrE_TwrId, TrE_DataOpe, TrE_TwrKod, TrE_TwrNazwa
    OPEN EKI
      WHILE 1=1
      BEGIN
        FETCH NEXT FROM EKI INTO @TrE_TrEId, @TrE_TwrId, @TrE_DataOpe, @TrE_TwrKod,@TrE_TwrNazwa
        IF @@FETCH_STATUS <> 0 BREAK
  if (@TrE_Aktywny != 3)
        SET @Komunikat = CDN.TwrZasobyErr ( @TrE_TrEId, @TrE_TwrId, @TrE_TwrKod,@TrE_TwrNazwa, @TrE_DataOpe )
        IF @Komunikat <> '' GOTO KOMUNIKAT
      END
    CLOSE EKI
  DEALLOCATE EKI
  -- Wyswietlenie komunikatu i rollback całej transakcji
  KOMUNIKAT:
  IF @Komunikat <> ''
    BEGIN
      RAISERROR( @Komunikat, 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
  SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[TraElem] ENABLE TRIGGER [TraElem_InsertUpdateDelete_Trigger]
GO

# [TraElemRelacje_Delete_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[TraElemRelacje_Delete_Trigger]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TraElemRelacje_Delete_Trigger]
  ON [CDN].[TraElemRelacje]
  FOR DELETE
AS
SET NOCOUNT ON
-- Obliczenie statusu zleceń
-- Status zlecenia zależy od tego, czy poszczególne pozycje są powiązane z pozycjami dokumentów HaMag
 DECLARE @klasa INT
 SET @klasa = 901
 UPDATE cdn.SrsZlecenia
 SET SrZ_Stan = CDN.SrsZlecenieUstalStan(SrZ_SrZId)
 FROM cdn.SrsZlecenia
 JOIN cdn.SrsCzynnosci ON SrY_SrZId = SrZ_SrZId
 WHERE SrY_SrYId IN (SELECT deleted.TeR_ParentId FROM deleted WHERE deleted.TeR_ParentTyp=@klasa)
 SET @klasa = 902
 UPDATE cdn.SrsZlecenia
 SET SrZ_Stan = CDN.SrsZlecenieUstalStan(SrZ_SrZId)
 FROM cdn.SrsZlecenia
    JOIN cdn.SrsCzesci ON SrC_SrZId = SrZ_SrZId
 WHERE SrC_SrCId IN (SELECT deleted.TeR_ParentId FROM deleted WHERE deleted.TeR_ParentTyp=@klasa)
Set NoCount Off

GO
ALTER TABLE [CDN].[TraElemRelacje] ENABLE TRIGGER [TraElemRelacje_Delete_Trigger]
GO

# [TraElemRelacje_Insert_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[TraElemRelacje_Insert_Trigger]    Script Date: 5.01.2026 21:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TraElemRelacje_Insert_Trigger]
  ON [CDN].[TraElemRelacje]
  FOR INSERT
AS
SET NOCOUNT ON
-- Obliczenie statusu zleceń
-- Status zlecenia zależy od tego, czy poszczególne pozycje są powiązane z pozycjami dokumentów HaMag
 DECLARE @klasa INT
 SET @klasa = 901
 UPDATE cdn.SrsZlecenia
 SET SrZ_Stan = CDN.SrsZlecenieUstalStan(SrZ_SrZId)
 FROM cdn.SrsZlecenia
 JOIN cdn.SrsCzynnosci ON SrY_SrZId = SrZ_SrZId
 WHERE SrY_SrYId IN (SELECT Inserted.TeR_ParentId FROM Inserted WHERE Inserted.TeR_ParentTyp=@klasa)
 SET @klasa = 902
 UPDATE cdn.SrsZlecenia
 SET SrZ_Stan = CDN.SrsZlecenieUstalStan(SrZ_SrZId)
 FROM cdn.SrsZlecenia
    JOIN cdn.SrsCzesci ON SrC_SrZId = SrZ_SrZId
 WHERE SrC_SrCId IN (SELECT Inserted.TeR_ParentId FROM Inserted WHERE Inserted.TeR_ParentTyp=@klasa)
Set NoCount Off

GO
ALTER TABLE [CDN].[TraElemRelacje] ENABLE TRIGGER [TraElemRelacje_Insert_Trigger]
GO

# [TraNag_CTI_BlokowanieZP_Delete]

In [0]:
/****** Object:  Trigger [CDN].[TraNag_CTI_BlokowanieZP_Delete]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TraNag_CTI_BlokowanieZP_Delete]
ON [CDN].[TraNag]
FOR DELETE
AS BEGIN
	DECLARE @DokTyp int = (SELECT TOP 1 TrN_TypDokumentu FROM deleted);
	DECLARE @DokID int = (SELECT TOP 1 TrN_TrNId FROM deleted);
	DECLARE @ZwrID int = (SELECT TOP 1 TrN_ZwrID FROM deleted);
	DECLARE @ZpID int = (SELECT TOP 1 ISNULL(CZD_CZNId, -1) FROM dbo.CtiZlecenieDok WHERE (CZD_TrnId = @DokID OR CZD_TrnId = @ZwrID));

	-- Nie mamy do czynienia z PW, wychodzimy z funkcji
	IF (@DokTyp NOT IN (303, 312))
		RETURN;

	IF (select KNF_Wartosc from dbo.CtiKonfiguracja where KNF_Numer=1139)=1
	BEGIN
	IF @ZpID IS NOT NULL AND @ZpID > 0
		BEGIN
		IF @DokTyp = 303	
			EXEC dbo.CTIProdukcjaUpdateStatusyZP 24, @ZpID
					
		IF @DokTyp = 312	
			BEGIN
				DECLARE @DokTypProd int = ISNULL((select top 1 CZD_Typ from dbo.CtiZlecenieDok where CZD_Typ=3 and CZD_TrnId=@DokID),-1)
				IF @DokTypProd = 3
					EXEC dbo.CTIProdukcjaUpdateStatusyZP 23, @ZpID
				IF @DokTypProd = 6
					EXEC dbo.CTIProdukcjaUpdateStatusyZP 26, @ZpID
			END
		END
	END

	-- Dokument nie ma powiązania ze zleceniem, wychodzimy z funkcji
	IF NOT EXISTS (SELECT * FROM dbo.CtiZlecenieDok WHERE CZD_Typ IN (4, 6) AND 
		(CZD_TrnId = @DokID OR CZD_TrnId = @ZwrID))
		RETURN;

	DECLARE @IloscZlecona DECIMAL(15,4) = (SELECT TOP 1 CZN_Ilosc FROM dbo.CtiZlecenieNag WHERE CZN_ID = @ZpID);
	DECLARE @KontrolaWydania varchar(255) = ISNULL((SELECT TOP 1 Knf_Wartosc FROM dbo.CtiKonfiguracja WHERE Knf_Numer = 63), '0')
	DECLARE @IloscSprawdzana DECIMAL(15,4);

	IF (@KontrolaWydania = '1')
	BEGIN
		SET @IloscSprawdzana = (SELECT dbo.CTIProdukcjaZlecenieIloscSkontrolowana(@ZpID));
	END
	ELSE
	BEGIN
		SET @IloscSprawdzana = (SELECT dbo.CTIProdukcjaZlecenieIloscZrealizowana(@ZpID, 0, 0));
	END

	-- Blokowanie
	IF (@IloscSprawdzana >= @IloscZlecona AND ISNULL((SELECT TOP 1 Knf_Wartosc FROM dbo.CtiKonfiguracja WHERE Knf_Numer = 64), '') IN ('True', 'TRUE', '1'))
	BEGIN
		UPDATE dbo.CtiZlecenieNag SET CZN_Status = 3 WHERE CZN_ID = @ZpID;
	END

	-- Odblokowanie
	IF (@IloscSprawdzana < @IloscZlecona AND ISNULL((SELECT TOP 1 Knf_Wartosc FROM dbo.CtiKonfiguracja WHERE Knf_Numer = 1020), '') IN ('True', 'TRUE', '1'))
	BEGIN
		UPDATE dbo.CtiZlecenieNag SET CZN_Status = 2 WHERE CZN_ID = @ZpID;
	END
END
GO
ALTER TABLE [CDN].[TraNag] ENABLE TRIGGER [TraNag_CTI_BlokowanieZP_Delete]
GO

# [TraNag_CTI_BlokowanieZP_Update]

In [0]:
/****** Object:  Trigger [CDN].[TraNag_CTI_BlokowanieZP_Update]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TraNag_CTI_BlokowanieZP_Update]
ON [CDN].[TraNag]
FOR INSERT, UPDATE
AS BEGIN
	DECLARE @DokTyp int = (SELECT TOP 1 TrN_TypDokumentu FROM inserted);
	DECLARE @DokID int = (SELECT TOP 1 TrN_TrNId FROM inserted);
	DECLARE @ZwrID int = (SELECT TOP 1 TrN_ZwrID FROM inserted);

	-- Nie mamy do czynienia z PW, wychodzimy z funkcji
	IF (@DokTyp NOT IN (303, 312))
		RETURN;

	DECLARE @ZpID int = (SELECT TOP 1 CZD_CZNId FROM dbo.CtiZlecenieDok WHERE (CZD_TrnId = @DokID OR CZD_TrnId = @ZwrID));
	
	IF (select KNF_Wartosc from dbo.CtiKonfiguracja where KNF_Numer=1139)=1
	BEGIN
	IF @ZpID IS NOT NULL AND @ZpID > 0
		BEGIN
			IF (UPDATE (Trn_Bufor) OR UPDATE(Trn_Anulowany))
			BEGIN 
			IF @DokTyp = 312
				BEGIN
					DECLARE @DokTypProd int = ISNULL((select top 1 CZD_Typ from dbo.CtiZlecenieDok where CZD_Typ=3 and CZD_TrnId=@DokID),-1)
					IF @DokTypProd = 3
						EXEC dbo.CTIProdukcjaUpdateStatusyZP 23, @ZpID
					DECLARE @DokTypProd2 int = ISNULL((select top 1 CZD_Typ from dbo.CtiZlecenieDok where CZD_Typ=6 and CZD_TrnId=@DokID),-1)
					IF @DokTypProd2 = 6
						EXEC dbo.CTIProdukcjaUpdateStatusyZP 26, @ZpID
				END
			IF @DokTyp = 303	
				BEGIN
					DECLARE @DokTypProd3 int = ISNULL((select top 1 CZD_Typ from dbo.CtiZlecenieDok where CZD_Typ=4 and CZD_TrnId=@DokID),-1)
					IF @DokTypProd3 = 4						
						EXEC dbo.CTIProdukcjaUpdateStatusyZP 24, @ZpID			
				END
			END
		END		
	END

	-- Dokument nie ma powiązania ze zleceniem, wychodzimy z funkcji
	IF NOT EXISTS (SELECT * FROM dbo.CtiZlecenieDok WHERE CZD_Typ IN (4, 6) AND 
		(CZD_TrnId = @DokID OR CZD_TrnId = @ZwrID))
		RETURN;

	DECLARE @IloscZlecona DECIMAL(15,4) = (SELECT TOP 1 CZN_Ilosc FROM dbo.CtiZlecenieNag WHERE CZN_ID = @ZpID);
	DECLARE @KontrolaWydania varchar(255) = ISNULL((SELECT TOP 1 Knf_Wartosc FROM dbo.CtiKonfiguracja WHERE Knf_Numer = 63), '0')
	DECLARE @IloscSprawdzana DECIMAL(15,4);

	IF (@KontrolaWydania = '1')
	BEGIN
		SET @IloscSprawdzana = (SELECT dbo.CTIProdukcjaZlecenieIloscSkontrolowana(@ZpID));
	END
	ELSE
	BEGIN
		SET @IloscSprawdzana = (SELECT dbo.CTIProdukcjaZlecenieIloscZrealizowana(@ZpID, 0, 0));
	END

	-- Blokowanie
	IF (@IloscSprawdzana >= @IloscZlecona AND ISNULL((SELECT TOP 1 Knf_Wartosc FROM dbo.CtiKonfiguracja WHERE Knf_Numer = 64), '') IN ('True', 'TRUE', '1'))
	BEGIN
		UPDATE dbo.CtiZlecenieNag SET CZN_Status = 3 WHERE CZN_ID = @ZpID;
	END

	-- Odblokowanie
	IF (@IloscSprawdzana < @IloscZlecona AND ISNULL((SELECT TOP 1 Knf_Wartosc FROM dbo.CtiKonfiguracja WHERE Knf_Numer = 1020), '') IN ('True', 'TRUE', '1'))
	BEGIN
		UPDATE dbo.CtiZlecenieNag SET CZN_Status = 2 WHERE CZN_ID = @ZpID;
	END
END
GO
ALTER TABLE [CDN].[TraNag] ENABLE TRIGGER [TraNag_CTI_BlokowanieZP_Update]
GO

# [TraNag_Delete_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[TraNag_Delete_Trigger]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TraNag_Delete_Trigger]
  ON [CDN].[TraNag]
  FOR DELETE
AS
  SET NOCOUNT ON
  Set ArithAbort On
--Sprawdzanie, czy dokument może byc skasowany (jest w buforze)
    IF EXISTS (SELECT * FROM deleted WHERE deleted.TrN_Bufor <> 1 AND deleted.TrN_Rodzaj <> 310005 )
        BEGIN
          RAISERROR('##OPT29447##', 16, 1)--RAISERROR('Nie wolno kasować dokumentów nie będących w buforze. ', 16, 1)
          ROLLBACK TRAN
          SET NOCOUNT OFF
          RETURN
        END
    IF EXISTS (SELECT * FROM deleted WHERE deleted.TrN_Rodzaj=310005 AND deleted.TrN_VaNId Is Not Null)
        BEGIN
          RAISERROR('##OPT34572##', 16, 1)--RAISERROR('Nie wolno kasować BZM przeniesionego do spisu z natury. ', 16, 1)
          ROLLBACK TRAN
          SET NOCOUNT OFF
          RETURN
        END
-- Sprawdzenie, czy zapisy nie są zaksięgowane na konta
  IF EXISTS (SELECT * FROM deleted
             WHERE TrN_DekId IS NOT NULL)
    BEGIN
      RAISERROR('##OPT32370##', 16, 1)--RAISERROR('Nie można kasować zapisów zaksięgowanych (DekretyNag)', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
-- Sprawdzenie, czy zapisy nie są zaksięgowane do VatNag
  IF EXISTS (SELECT * FROM deleted
             WHERE TrN_VaNId IS NOT NULL AND TrN_Rodzaj<>310000 AND TrN_Bufor=1)
    BEGIN
      RAISERROR('##OPT32373##', 16, 1)--RAISERROR('Nie można kasować zapisów zaksięgowanych (VatNag)', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
-- Skasowanie RWS dla PWP
  IF EXISTS (SELECT * FROM deleted WHERE TrN_Bufor = 1 AND TrN_TypDokumentu = 317)
  BEGIN
  declare
  @OperatorID  int,
  @OpeModKod   varchar(20),
  @OpeModNazwisko nvarchar(50),
  @Log int
  exec CDN.OpeDaneOperatora @OperatorID out, @OpeModKod OUT, @OpeModNazwisko OUT, @Log OUT
  if @Log <>0
  BEGIN
   INSERT INTO CDN.RejestrOperacji(ROP_ObiektTyp, ROP_ObiektSubTyp, ROP_ObiektID, ROP_ObiektNazwa, ROP_Data, ROP_Operator, ROP_OperacjaTyp, ROP_Opis)
   select  TrN_TypDokumentu,0,TrN_TrNID,TrN_NumerPelny, GETDATE(),case when @OpeModNazwisko = '' then @OpeModKod else @OpeModNazwisko end ,3,'' from  CDN.TraNag
   WHERE CDN.TraNag.TrN_TypDokumentu=318 AND TrN_TrNId In
   (SELECT TrR_FAId FROM deleted
   JOIN CDN.TraNagRelacje  ON deleted.TrN_TrNId = TrR_TrNId
   WHERE deleted.TrN_Bufor = 1 AND deleted.TrN_TypDokumentu = 317)
  END
  DELETE FROM CDN.TraNag
  WHERE CDN.TraNag.TrN_TypDokumentu=318 AND TrN_TrNId In
  (SELECT TrR_FAId FROM deleted
  JOIN CDN.TraNagRelacje  ON deleted.TrN_TrNId = TrR_TrNId
  WHERE deleted.TrN_Bufor = 1 AND deleted.TrN_TypDokumentu = 317)
  END
  -- DELETE FROM CDN.TraNag JOIN CDN.TraNagRelacje  ON TrN_TrNId = TrR_TrNId WHERE CDN.TraNag.TrN_TypDokumentu=318 AND TrR_FaId In (SELECT TrN_TrNId FROM deleted WHERE deleted.TrN_Bufor = 1 AND deleted.TrN_TypDokumentu = 317)
-- Skasowanie relacji do dokumentów serwisowych  (WiNi)
  DELETE CDN.DokRelacje
  FROM CDN.DokRelacje JOIN deleted ON DoR_DokumentTyp=deleted.TrN_TypDokumentu AND DoR_DokumentId=deleted.TrN_TrNId
-- skasowanie kodów JPK_V7
Delete From CDN.DokKodyJPKV7 Where
 DKV7_ParentTyp = 1
 And DKV7_ParentID In (Select TrN_TrNId From deleted)
-- Skasowanie relacji do dokumentów HaMag  (RT)
/* (SO) wykomentowalem, relacje sa kasowane w procedurach Anulowania lub Rozpinania dokumentow
  DELETE CDN.TraNagRelacje
  FROM CDN.TraNagRelacje JOIN deleted ON (Trr_TrNTyp=deleted.TrN_TypDokumentu AND TrR_TrNId=deleted.TrN_TrNId)
  DELETE CDN.TraNagRelacje
  FROM CDN.TraNagRelacje JOIN deleted ON (Trr_FaTyp=deleted.TrN_TypDokumentu AND TrR_FaId=deleted.TrN_TrNId)
*/
-- Wykonanie akcji dla kasowania Bilansu Zamkniecia Magazynu oraz rozpinania rozliczen
      DECLARE @TrN_TrNId INT, @TrN_DataOpe DATETIME
      DECLARE @TrN_Rodzaj Int
      DECLARE Kasowane CURSOR LOCAL FAST_FORWARD FOR
        SELECT deleted.TrN_TrNId, deleted.TrN_DataOpe, deleted.TrN_Rodzaj
          FROM deleted
          ORDER BY deleted.TrN_DataOpe DESC
          OPEN Kasowane
          WHILE 1=1
            BEGIN
              FETCH NEXT FROM Kasowane INTO @TrN_TrNId, @TrN_DataOpe, @TrN_Rodzaj
              IF @@FETCH_STATUS <> 0 BREAK
              Execute CDN.KasujRozliczenia 1, @TrN_TrNId
              If @TrN_Rodzaj = 310005
                EXECUTE CDN.NaliczajKWS 2, @TrN_DataOpe, 0, @TrN_DataOpe
     IF  @TrN_Rodzaj IN ( 307010, 302008, 305008, 306008,  301011 , 306004, 307004,302009, 306010,304000,304008,312008,312100)
     and exists (select trr_trrid from cdn.TraNagRelacje where trr_trnid = @TrN_TrNId and trr_fatyp in (308,309))
       EXECUTE CDN.UstawStatusRezerwacji_New 0,@TrN_TrNId
            END
          CLOSE Kasowane
      DEALLOCATE Kasowane
 -- Usuwanie wymiarów analitycznych
 if exists(select * from CDN.WymiaryWartosci where WyW_DokumentTyp in (select id from CDN.ListaDokumentowWymiarowanych() where konfiguracja in ('Faktury', 'Handel')) and WyW_DokumentId in (select deleted.TrN_TrNId from deleted))
  delete from CDN.WymiaryWartosci where WyW_DokumentTyp in (select id from CDN.ListaDokumentowWymiarowanych() where konfiguracja in ('Faktury', 'Handel'))
  and WyW_DokumentId in (select deleted.TrN_TrNId from deleted)
--kurierzy
 update cdn.SenditZleceniePrzesylki set SZL_FaId= 0 where SZL_FaId in(select deleted.TrN_TrNId from deleted)
 --ksef
 update cdn.DokumentyKSeF set DKF_TrNId = null where DKF_TrNId in(select deleted.TrN_TrNId from deleted)
  Set NoCount Off

GO
ALTER TABLE [CDN].[TraNag] ENABLE TRIGGER [TraNag_Delete_Trigger]
GO
EXEC sp_settriggerorder @triggername=N'[CDN].[TraNag_Delete_Trigger]', @order=N'First', @stmttype=N'DELETE'
GO

# [TraNag_DeleteHandler]

In [0]:
/****** Object:  Trigger [CDN].[TraNag_DeleteHandler]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TraNag_DeleteHandler]
  ON [CDN].[TraNag]
  FOR DELETE
AS
SET NOCOUNT ON
    IF EXISTS
       ( SELECT * FROM CDN.CRMDokumenty, deleted
          WHERE
                deleted.TrN_TrNID = CDN.CRMDokumenty.CRD_DokumentId
       AND (CDN.CRMDokumenty.CRD_TypDokumentu=1 AND CDN.CRMDokumenty.CRD_RodzajDokumentu=1)
       )
    BEGIN
   RAISERROR('##OPT32058##%%1%%=CRMDokumenty##', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
    IF EXISTS(
   SELECT * FROM CDN.KwotyDodatkowe INNER JOIN deleted
   ON deleted.TrN_TrNID = CDN.KwotyDodatkowe.Kdd_DokumentID AND (CDN.KwotyDodatkowe.KDD_DokumentTyp=1)
  )
  DELETE CDN.KwotyDodatkowe
  FROM CDN.KwotyDodatkowe, deleted
  WHERE deleted.TrN_TrNID = CDN.KwotyDodatkowe.Kdd_DokumentID AND (CDN.KwotyDodatkowe.KDD_DokumentTyp=1)
    IF EXISTS(
   SELECT * FROM CDN.Zaliczki INNER JOIN deleted
   ON deleted.TrN_TrNID = CDN.Zaliczki.Zal_DokumentID AND (CDN.Zaliczki.Zal_DokumentTyp=1)
  )
  DELETE CDN.Zaliczki
  FROM CDN.Zaliczki, deleted
  WHERE deleted.TrN_TrNID = CDN.Zaliczki.Zal_DokumentID AND (CDN.Zaliczki.Zal_DokumentTyp=1)
    IF EXISTS(
   SELECT * FROM CDN.BnkZdarzenia INNER JOIN deleted
   ON deleted.TrN_TrNID = CDN.BnkZdarzenia.BZd_DokumentId AND (CDN.BnkZdarzenia.BZd_DokumentTyp In (1,101))
  )
  begin
  --log
  declare
  @OperatorID  int,
  @OpeModKod   varchar(20),
  @OpeModNazwisko nvarchar(50),
  @Log int
  exec CDN.OpeDaneOperatora @OperatorID out, @OpeModKod OUT, @OpeModNazwisko OUT, @Log OUT
  if @Log <>0
  BEGIN
   INSERT INTO CDN.RejestrOperacji(ROP_ObiektTyp, ROP_ObiektSubTyp, ROP_ObiektID, ROP_ObiektNazwa, ROP_Data, ROP_Operator, ROP_OperacjaTyp, ROP_Opis)
    select  1001,BZd_Kierunek,BZd_BZdID,BZd_NumerPelny, GETDATE(),case when @OpeModNazwisko = '' then @OpeModKod else @OpeModNazwisko end ,3,'' FROM CDN.BnkZdarzenia, deleted
   WHERE deleted.TrN_TrNID = CDN.BnkZdarzenia.BZd_DokumentId AND (CDN.BnkZdarzenia.BZd_DokumentTyp In (1,101))
  END
  DELETE CDN.BnkZdarzenia
  FROM CDN.BnkZdarzenia, deleted
  WHERE deleted.TrN_TrNID = CDN.BnkZdarzenia.BZd_DokumentId AND (CDN.BnkZdarzenia.BZd_DokumentTyp In (1,101))
  end
    IF EXISTS(SELECT D.TrN_PreDekID FROM Deleted D WHERE D.TrN_PreDekID IS NOT NULL)
  DELETE CDN.DekretyNag
  FROM CDN.DekretyNag, deleted
  WHERE deleted.TrN_PreDekId = CDN.DekretyNag.DeN_DeNID
SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[TraNag] ENABLE TRIGGER [TraNag_DeleteHandler]
GO

# [TraNag_InsertUpdate_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[TraNag_InsertUpdate_Trigger]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TraNag_InsertUpdate_Trigger]
  ON [CDN].[TraNag]
  FOR INSERT,UPDATE
AS
SET NOCOUNT ON
SET ARITHABORT ON
Declare
 @TrNId         Int,
 @GIDTyp        Int,
 @GIDFirma      Int,
 @GIDNumer      Int,
 @DekId         Int,
 @VaNId         Int,
 @TypDokumentu  Int,
 @PodmiotTyp    Int,
 @PodId         Int,
 @OdbiorcaTyp   Int,
 @OdbId         Int,
 @PodmiotZalTyp Int,
 @PodZalId      Int,
 @OdbiorcaDocTyp Int,
 @OdbDocId      Int,
 @Bufor         Int,
 @OFFPrawoDoAnulowania         Int,
 @Fiskalna      Int,
 @FiskalnaErr   Int,
 @ZwrId         Int,
 @DataOpe       DateTime,
 @Rodzaj        Int,
 @ImportRowId   NVarchar(36),
 @TS_Export     DateTime,
 @FaId          Int,
 @DataDok       DateTime,
 @DataWys       DateTime,
 @RazemNetto    Decimal(15,2),
 @NumerObcy     NVarchar(30),
 @PodNazwa1   NVarchar(50),
 @PodNazwa2   NVarchar(50),
 @PodNazwa3   NVarchar(250),
 @Kraj        NVarchar(40),
 @Ulica       NVarchar(40),
 @NrDomu      NVarchar(10),
 @NrLokalu    NVarchar(10),
 @Miasto       NVarchar(40),
 @KodPocztowy  NVarchar(10),
 @NIP        NVarchar(20),
 @EsklepID      INT,
 @eSklepStatusPlatnosci TinyInt,
 @eSklepStatusDostawy smallint,
 @eSklepDataDost datetime,
 @TS_Zal datetime,
 @TS_Mod datetime,
 @Zwroconocalailosc INT,
 @NrListuPrzewozowego nvarchar(150),
 @NrListuPrzewozowegoTypKuriera int
DECLARE
 @DOBZM          DATETIME, -- Data Ostatniego BZM
 @TrS_TrSId      INT,
 @TrS_TrEId      INT,
 @TrS_TrSIdDost  INT,
 @TrS_ZwrId      INT,
 @TrS_TwrId      INT,
 @TrS_MagId      INT,
 @TrS_Rodzaj     INT,
 @TrS_Typ        INT,
 @TrS_Metoda     INT,
 @TrS_DataOpe    DATETIME,
 @TrS_Ilosc      DECIMAL(15,4),
 @TrS_Wartosc    DECIMAL(15,2),
 @TrS_Cena       DECIMAL(17,4),
 @NumerPelny     NVarchar(30),
 @KomunikatErr   NVarchar(255),
 @OperatorID  int,
 @OpeModKod   varchar(20),
 @OpeModNazwisko nvarchar(50),
 @Log    int,
 @WhereParam VARCHAR(1024)
Declare dodane Cursor Local Fast_Forward For
Select
 TrN_TrNId,
 TrN_GIDTyp,
 TrN_GIDFirma,
 TrN_GIDNumer,
 TrN_DekId,
 TrN_VaNId,
 TrN_TypDokumentu,
 TrN_PodmiotTyp,
 TrN_PodId,
 TrN_OdbiorcaTyp,
 TrN_OdbId,
 TrN_OdbiorcaDocTyp,
 TrN_OdbDocId,
 TrN_PodmiotZalTyp,
 TrN_PodZalId,
 TrN_Bufor,
 TrN_OFFPrawoDoAnulowania,
 TrN_Fiskalna,
 TrN_FiskalnaErr,
 TrN_ZwrId,
 TrN_DataOpe,
 TrN_Rodzaj,
 TrN_ImportRowId,
 TrN_TS_Export,
 TrN_FaId,
 TrN_NumerPelny,
 TrN_DataDok,
 TrN_DataWys,
 TrN_RazemNetto,
 TrN_NumerObcy,
 TrN_PodNazwa1,
 TrN_PodNazwa2,
 TrN_PodNazwa3,
 TrN_PodKraj,
 TrN_PodUlica,
 TrN_PodNrDomu,
 TrN_PodNrLokalu,
 TrN_PodMiasto,
 TrN_PodKodPocztowy,
 TrN_PodNIPe,
 TrN_eSklepID,
 TrN_eSklepStatusPlatnosci,
 TrN_eSklepStatusDostawy,
 TrN_eSklepDataDost,
 TrN_TS_Zal,
 TrN_TS_Mod,
 TrN_Zwroconocalailosc,
 TrN_NrListuPrzewozowego,
 TrN_NrListuPrzewozowegoTypKuriera
 From inserted
Open Dodane
While 1=1
  Begin
    Fetch Next From Dodane InTo
      @TrNId,
      @GIDTyp,
      @GIDFirma,
      @GIDNumer,
      @DekId,
      @VaNId,
      @TypDokumentu,
      @PodmiotTyp,
      @PodId,
      @OdbiorcaTyp,
      @OdbId,
      @OdbiorcaDocTyp,
      @OdbDocId,
      @PodmiotZalTyp,
      @PodZalId,
      @Bufor,
      @OFFPrawoDoAnulowania,
      @Fiskalna,
      @FiskalnaErr,
      @ZwrId,
      @DataOpe,
      @Rodzaj,
      @ImportRowId,
      @TS_Export,
      @FaId,
      @NumerPelny,
      @DataDok,
      @DataWys,
      @RazemNetto,
      @NumerObcy,
      @PodNazwa1,
      @PodNazwa2,
      @PodNazwa3,
      @Kraj,
      @Ulica,
      @NrDomu,
      @NrLokalu,
      @Miasto ,
      @KodPocztowy ,
      @NIP,
   @EsklepID,
   @eSklepStatusPlatnosci,
   @eSklepStatusDostawy,
      @eSklepDataDost,
   @TS_Zal,
   @TS_Mod,
   @Zwroconocalailosc,
   @NrListuPrzewozowego,
   @NrListuPrzewozowegoTypKuriera
    If @@Fetch_Status <> 0 Break
 If (Update (TrN_OpeWydrID)
 AND UPDATE(TrN_OpeWydrKod)
 AND UPDATE(TrN_OpeWydrNazwisko)
 AND UPDATE(TrN_TS_Wydr)
 AND NOT UPDATE( TrN_TrNID)
 AND NOT UPDATE( TrN_TerminZwrotuKaucji)
 AND NOT UPDATE( TrN_OFFPrawoDoFAPA)
 AND NOT UPDATE( TrN_OFFPrawoDoAnulowania)
 AND NOT UPDATE( TrN_RelTrNId)
 AND NOT UPDATE( TrN_FVMarza)
 AND NOT UPDATE( TrN_DDfId)
 AND NOT UPDATE( TrN_TypDokumentu)
 AND NOT UPDATE( TrN_ZwrId)
 AND NOT UPDATE( TrN_FaId)
 AND NOT UPDATE( TrN_NumerNr)
 AND NOT UPDATE( TrN_NumerString)
 AND NOT UPDATE( TrN_Bufor)
 AND NOT UPDATE( TrN_Anulowany)
 AND NOT UPDATE( TrN_VaNId)
 AND NOT UPDATE( TrN_DataDok)
 AND NOT UPDATE( TrN_DataWys)
 AND NOT UPDATE( TrN_DataOpe)
 AND NOT UPDATE( TrN_NumerObcy)
 AND NOT UPDATE( TrN_NumerPelnyPrw)
 AND NOT UPDATE( TrN_TaxFreePotwierdzony)
 AND NOT UPDATE( TrN_Korekta)
 AND NOT UPDATE( TrN_Fiskalna)
 AND NOT UPDATE( TrN_FiskalnaErr)
 AND NOT UPDATE( TrN_RabatPromocyjny)
 AND NOT UPDATE( TrN_RabatKorekta)
 AND NOT UPDATE( TrN_Detal)
 AND NOT UPDATE( TrN_Rodzaj)
 AND NOT UPDATE( TrN_PodmiotTyp)
 AND NOT UPDATE( TrN_PodID)
 AND NOT UPDATE( TrN_PodNazwa1)
 AND NOT UPDATE( TrN_PodNazwa2)
 AND NOT UPDATE( TrN_PodNazwa3)
 AND NOT UPDATE( TrN_PodKraj)
 AND NOT UPDATE( TrN_PodWojewodztwo)
 AND NOT UPDATE( TrN_PodPowiat)
 AND NOT UPDATE( TrN_PodGmina)
 AND NOT UPDATE( TrN_PodUlica)
 AND NOT UPDATE( TrN_PodNrDomu)
 AND NOT UPDATE( TrN_PodNrLokalu)
 AND NOT UPDATE( TrN_PodMiasto)
 AND NOT UPDATE( TrN_PodKodPocztowy)
 AND NOT UPDATE( TrN_PodPoczta)
 AND NOT UPDATE( TrN_PodAdres2)
 AND NOT UPDATE( TrN_PodNipKraj)
 AND NOT UPDATE( TrN_PodNipE)
 AND NOT UPDATE( TrN_PodmiotGLN)
 AND NOT UPDATE( TrN_Finalny)
 AND NOT UPDATE( TrN_Export)
 AND NOT UPDATE( TrN_OdbiorcaTyp)
 AND NOT UPDATE( TrN_OdbID)
 AND NOT UPDATE( TrN_OdbNazwa1)
 AND NOT UPDATE( TrN_OdbNazwa2)
 AND NOT UPDATE( TrN_OdbNazwa3)
 AND NOT UPDATE( TrN_OdbKraj)
 AND NOT UPDATE( TrN_OdbWojewodztwo)
 AND NOT UPDATE( TrN_OdbPowiat)
 AND NOT UPDATE( TrN_OdbGmina)
 AND NOT UPDATE( TrN_OdbUlica)
 AND NOT UPDATE( TrN_OdbNrDomu)
 AND NOT UPDATE( TrN_OdbNrLokalu)
 AND NOT UPDATE( TrN_OdbMiasto)
 AND NOT UPDATE( TrN_OdbKodPocztowy)
 AND NOT UPDATE( TrN_OdbPoczta)
 AND NOT UPDATE( TrN_OdbAdres2)
 AND NOT UPDATE( TrN_OdbNipKraj)
 AND NOT UPDATE( TrN_OdbNipE)
 AND NOT UPDATE( TrN_OdbiorcaGLN)
 AND NOT UPDATE( TrN_OdbiorcaDocTyp)
 AND NOT UPDATE( TrN_OdbDocID)
 AND NOT UPDATE( TrN_KatID)
 AND NOT UPDATE( TrN_Kategoria)
 AND NOT UPDATE( TrN_FPlId)
 AND NOT UPDATE( TrN_Termin)
 AND NOT UPDATE( TrN_RazemNetto)
 AND NOT UPDATE( TrN_RazemVAT)
 AND NOT UPDATE( TrN_RazemBrutto)
 AND NOT UPDATE( TrN_RazemNettoWal)
 AND NOT UPDATE( TrN_RazemVATWal)
 AND NOT UPDATE( TrN_RazemBruttoWal)
 AND NOT UPDATE( TrN_Waluta)
 AND NOT UPDATE( TrN_KursNumer)
 AND NOT UPDATE( TrN_KursL)
 AND NOT UPDATE( TrN_KursM)
 AND NOT UPDATE( TrN_PlatElemWalSys)
 AND NOT UPDATE( TrN_PlatKaucje)
 AND NOT UPDATE( TrN_PodmiotZalTyp)
 AND NOT UPDATE( TrN_PodZalId)
 AND NOT UPDATE( TrN_BlokadaPlatnosci)
 AND NOT UPDATE( TrN_MagZrdId)
 AND NOT UPDATE( TrN_MagDocId)
 AND NOT UPDATE( TrN_TypNB)
 AND NOT UPDATE( TrN_Rabat)
 AND NOT UPDATE( TrN_Odebral)
 AND NOT UPDATE( TrN_Opis)
 AND NOT UPDATE( TrN_ZwroconoCalaIlosc)
 AND NOT UPDATE( TrN_NotaKorPrzed)
 AND NOT UPDATE( TrN_NotaKorPo)
 AND NOT UPDATE( TrN_TrSTyp)
 AND NOT UPDATE( TrN_DekId)
 AND NOT UPDATE( TrN_PreDekId)
 AND NOT UPDATE( TrN_TS_Export)
 AND NOT UPDATE( TrN_ImportAppId)
 AND NOT UPDATE( TrN_ImportRowId)
 AND NOT UPDATE( TrN_OpeZalID)
 AND NOT UPDATE( TrN_OpeZalKod)
 AND NOT UPDATE( TrN_OpeZalNazwisko)
 AND NOT UPDATE( TrN_StaZalId)
 AND NOT UPDATE( TrN_TS_Zal)
 AND NOT UPDATE( TrN_OpeModID)
 AND NOT UPDATE( TrN_OpeModKod)
 AND NOT UPDATE( TrN_OpeModNazwisko)
 AND NOT UPDATE( TrN_StaModId)
 AND NOT UPDATE( TrN_TS_Mod)
 AND NOT UPDATE( TrN_GIDTyp)
 AND NOT UPDATE( TrN_GIDFirma)
 AND NOT UPDATE( TrN_GIDNumer)
 AND NOT UPDATE( TrN_GIDLp)
 AND NOT UPDATE( TrN_Centrala)
 AND NOT UPDATE( TrN_KodTransakcji)
 AND NOT UPDATE( TrN_IsNId)
 AND NOT UPDATE( TrN_DataTransportu)
 AND NOT UPDATE( TrN_KodKraju)
 AND NOT UPDATE( TrN_VatDlaDokWal)
 AND NOT UPDATE( TrN_OFFExportMag)
 AND NOT UPDATE( TrN_DataKur)
 AND NOT UPDATE( TrN_OdbEmail)
 AND NOT UPDATE( TrN_OdbTelefon)
 AND NOT UPDATE( TrN_DabId)
 AND NOT UPDATE( TrN_DataEFaktura)
 AND NOT UPDATE( TrN_OpeWysylajacy)
 AND NOT UPDATE( TrN_EFakturaGUID)
 AND NOT UPDATE( TrN_DataPtwTaxFree))
         BEGIN
  Close Dodane
  Deallocate Dodane
  SET NOCOUNT OFF
  return
  END
If (UPDATE (TrN_OpeWydrID)
 AND UPDATE(TrN_OpeWydrKod)
 AND UPDATE(TrN_OpeWydrNazwisko)
 AND UPDATE(TrN_TS_Wydr)
 AND UPDATE (TrN_OpeEMailID)
 AND UPDATE(TrN_OpeEMailKod)
 AND UPDATE(TrN_OpeEMailNazwisko)
 AND UPDATE(TrN_TS_EMail)
 AND NOT UPDATE( TrN_TrNID)
 AND NOT UPDATE( TrN_TerminZwrotuKaucji)
 AND NOT UPDATE( TrN_OFFPrawoDoFAPA)
 AND NOT UPDATE( TrN_OFFPrawoDoAnulowania)
 AND NOT UPDATE( TrN_RelTrNId)
 AND NOT UPDATE( TrN_FVMarza)
 AND NOT UPDATE( TrN_DDfId)
 AND NOT UPDATE( TrN_TypDokumentu)
 AND NOT UPDATE( TrN_ZwrId)
 AND NOT UPDATE( TrN_FaId)
 AND NOT UPDATE( TrN_NumerNr)
 AND NOT UPDATE( TrN_NumerString)
 AND NOT UPDATE( TrN_Bufor)
 AND NOT UPDATE( TrN_Anulowany)
 AND NOT UPDATE( TrN_VaNId)
 AND NOT UPDATE( TrN_DataDok)
 AND NOT UPDATE( TrN_DataWys)
 AND NOT UPDATE( TrN_DataOpe)
 AND NOT UPDATE( TrN_NumerObcy)
 AND NOT UPDATE( TrN_NumerPelnyPrw)
 AND NOT UPDATE( TrN_TaxFreePotwierdzony)
 AND NOT UPDATE( TrN_Korekta)
 AND NOT UPDATE( TrN_Fiskalna)
 AND NOT UPDATE( TrN_FiskalnaErr)
 AND NOT UPDATE( TrN_RabatPromocyjny)
 AND NOT UPDATE( TrN_RabatKorekta)
 AND NOT UPDATE( TrN_Detal)
 AND NOT UPDATE( TrN_Rodzaj)
 AND NOT UPDATE( TrN_PodmiotTyp)
 AND NOT UPDATE( TrN_PodID)
 AND NOT UPDATE( TrN_PodNazwa1)
 AND NOT UPDATE( TrN_PodNazwa2)
 AND NOT UPDATE( TrN_PodNazwa3)
 AND NOT UPDATE( TrN_PodKraj)
 AND NOT UPDATE( TrN_PodWojewodztwo)
 AND NOT UPDATE( TrN_PodPowiat)
 AND NOT UPDATE( TrN_PodGmina)
 AND NOT UPDATE( TrN_PodUlica)
 AND NOT UPDATE( TrN_PodNrDomu)
 AND NOT UPDATE( TrN_PodNrLokalu)
 AND NOT UPDATE( TrN_PodMiasto)
 AND NOT UPDATE( TrN_PodKodPocztowy)
 AND NOT UPDATE( TrN_PodPoczta)
 AND NOT UPDATE( TrN_PodAdres2)
 AND NOT UPDATE( TrN_PodNipKraj)
 AND NOT UPDATE( TrN_PodNipE)
 AND NOT UPDATE( TrN_PodmiotGLN)
 AND NOT UPDATE( TrN_Finalny)
 AND NOT UPDATE( TrN_Export)
 AND NOT UPDATE( TrN_OdbiorcaTyp)
 AND NOT UPDATE( TrN_OdbID)
 AND NOT UPDATE( TrN_OdbNazwa1)
 AND NOT UPDATE( TrN_OdbNazwa2)
 AND NOT UPDATE( TrN_OdbNazwa3)
 AND NOT UPDATE( TrN_OdbKraj)
 AND NOT UPDATE( TrN_OdbWojewodztwo)
 AND NOT UPDATE( TrN_OdbPowiat)
 AND NOT UPDATE( TrN_OdbGmina)
 AND NOT UPDATE( TrN_OdbUlica)
 AND NOT UPDATE( TrN_OdbNrDomu)
 AND NOT UPDATE( TrN_OdbNrLokalu)
 AND NOT UPDATE( TrN_OdbMiasto)
 AND NOT UPDATE( TrN_OdbKodPocztowy)
 AND NOT UPDATE( TrN_OdbPoczta)
 AND NOT UPDATE( TrN_OdbAdres2)
 AND NOT UPDATE( TrN_OdbNipKraj)
 AND NOT UPDATE( TrN_OdbNipE)
 AND NOT UPDATE( TrN_OdbiorcaGLN)
 AND NOT UPDATE( TrN_OdbiorcaDocTyp)
 AND NOT UPDATE( TrN_OdbDocID)
 AND NOT UPDATE( TrN_KatID)
 AND NOT UPDATE( TrN_Kategoria)
 AND NOT UPDATE( TrN_FPlId)
 AND NOT UPDATE( TrN_Termin)
 AND NOT UPDATE( TrN_RazemNetto)
 AND NOT UPDATE( TrN_RazemVAT)
 AND NOT UPDATE( TrN_RazemBrutto)
 AND NOT UPDATE( TrN_RazemNettoWal)
 AND NOT UPDATE( TrN_RazemVATWal)
 AND NOT UPDATE( TrN_RazemBruttoWal)
 AND NOT UPDATE( TrN_Waluta)
 AND NOT UPDATE( TrN_KursNumer)
 AND NOT UPDATE( TrN_KursL)
 AND NOT UPDATE( TrN_KursM)
 AND NOT UPDATE( TrN_PlatElemWalSys)
 AND NOT UPDATE( TrN_PlatKaucje)
 AND NOT UPDATE( TrN_PodmiotZalTyp)
 AND NOT UPDATE( TrN_PodZalId)
 AND NOT UPDATE( TrN_BlokadaPlatnosci)
 AND NOT UPDATE( TrN_MagZrdId)
 AND NOT UPDATE( TrN_MagDocId)
 AND NOT UPDATE( TrN_TypNB)
 AND NOT UPDATE( TrN_Rabat)
 AND NOT UPDATE( TrN_Odebral)
 AND NOT UPDATE( TrN_Opis)
 AND NOT UPDATE( TrN_ZwroconoCalaIlosc)
 AND NOT UPDATE( TrN_NotaKorPrzed)
 AND NOT UPDATE( TrN_NotaKorPo)
 AND NOT UPDATE( TrN_TrSTyp)
 AND NOT UPDATE( TrN_DekId)
 AND NOT UPDATE( TrN_PreDekId)
 AND NOT UPDATE( TrN_TS_Export)
 AND NOT UPDATE( TrN_ImportAppId)
 AND NOT UPDATE( TrN_ImportRowId)
 AND NOT UPDATE( TrN_OpeZalID)
 AND NOT UPDATE( TrN_OpeZalKod)
 AND NOT UPDATE( TrN_OpeZalNazwisko)
 AND NOT UPDATE( TrN_StaZalId)
 AND NOT UPDATE( TrN_TS_Zal)
 AND NOT UPDATE( TrN_OpeModID)
 AND NOT UPDATE( TrN_OpeModKod)
 AND NOT UPDATE( TrN_OpeModNazwisko)
 AND NOT UPDATE( TrN_StaModId)
 AND NOT UPDATE( TrN_TS_Mod)
 AND NOT UPDATE( TrN_GIDTyp)
 AND NOT UPDATE( TrN_GIDFirma)
 AND NOT UPDATE( TrN_GIDNumer)
 AND NOT UPDATE( TrN_GIDLp)
 AND NOT UPDATE( TrN_Centrala)
 AND NOT UPDATE( TrN_KodTransakcji)
 AND NOT UPDATE( TrN_IsNId)
 AND NOT UPDATE( TrN_DataTransportu)
 AND NOT UPDATE( TrN_KodKraju)
 AND NOT UPDATE( TrN_VatDlaDokWal)
 AND NOT UPDATE( TrN_OFFExportMag)
 AND NOT UPDATE( TrN_DataKur)
 AND NOT UPDATE( TrN_OdbEmail)
 AND NOT UPDATE( TrN_OdbTelefon)
 AND NOT UPDATE( TrN_DabId)
 AND NOT UPDATE( TrN_DataEFaktura)
 AND NOT UPDATE( TrN_OpeWysylajacy)
 AND NOT UPDATE( TrN_EFakturaGUID)
 AND NOT UPDATE( TrN_DataPtwTaxFree))
         BEGIN
  Close Dodane
  Deallocate Dodane
  SET NOCOUNT OFF
  return
  END
     If (Update (trn_statusint)
        AND NOT UPDATE( TrN_TrNID)
 AND NOT UPDATE( TrN_TerminZwrotuKaucji)
 AND NOT UPDATE( TrN_OFFPrawoDoFAPA)
 AND NOT UPDATE( TrN_OFFPrawoDoAnulowania)
 AND NOT UPDATE( TrN_RelTrNId)
 AND NOT UPDATE( TrN_FVMarza)
 AND NOT UPDATE( TrN_DDfId)
 AND NOT UPDATE( TrN_TypDokumentu)
 AND NOT UPDATE( TrN_ZwrId)
 AND NOT UPDATE( TrN_FaId)
 AND NOT UPDATE( TrN_NumerNr)
 AND NOT UPDATE( TrN_NumerString)
 AND NOT UPDATE( TrN_Bufor)
 AND NOT UPDATE( TrN_Anulowany)
 AND NOT UPDATE( TrN_VaNId)
 AND NOT UPDATE( TrN_DataDok)
 AND NOT UPDATE( TrN_DataWys)
 AND NOT UPDATE( TrN_DataOpe)
 AND NOT UPDATE( TrN_NumerObcy)
 AND NOT UPDATE( TrN_NumerPelnyPrw)
 AND NOT UPDATE( TrN_TaxFreePotwierdzony)
 AND NOT UPDATE( TrN_Korekta)
 AND NOT UPDATE( TrN_Fiskalna)
 AND NOT UPDATE( TrN_FiskalnaErr)
 AND NOT UPDATE( TrN_RabatPromocyjny)
 AND NOT UPDATE( TrN_RabatKorekta)
 AND NOT UPDATE( TrN_Detal)
 AND NOT UPDATE( TrN_Rodzaj)
 AND NOT UPDATE( TrN_PodmiotTyp)
 AND NOT UPDATE( TrN_PodID)
 AND NOT UPDATE( TrN_PodNazwa1)
 AND NOT UPDATE( TrN_PodNazwa2)
 AND NOT UPDATE( TrN_PodNazwa3)
 AND NOT UPDATE( TrN_PodKraj)
 AND NOT UPDATE( TrN_PodWojewodztwo)
 AND NOT UPDATE( TrN_PodPowiat)
 AND NOT UPDATE( TrN_PodGmina)
 AND NOT UPDATE( TrN_PodUlica)
 AND NOT UPDATE( TrN_PodNrDomu)
 AND NOT UPDATE( TrN_PodNrLokalu)
 AND NOT UPDATE( TrN_PodMiasto)
 AND NOT UPDATE( TrN_PodKodPocztowy)
 AND NOT UPDATE( TrN_PodPoczta)
 AND NOT UPDATE( TrN_PodAdres2)
 AND NOT UPDATE( TrN_PodNipKraj)
 AND NOT UPDATE( TrN_PodNipE)
 AND NOT UPDATE( TrN_PodmiotGLN)
 AND NOT UPDATE( TrN_Finalny)
 AND NOT UPDATE( TrN_Export)
 AND NOT UPDATE( TrN_OdbiorcaTyp)
 AND NOT UPDATE( TrN_OdbID)
 AND NOT UPDATE( TrN_OdbNazwa1)
 AND NOT UPDATE( TrN_OdbNazwa2)
 AND NOT UPDATE( TrN_OdbNazwa3)
 AND NOT UPDATE( TrN_OdbKraj)
 AND NOT UPDATE( TrN_OdbWojewodztwo)
 AND NOT UPDATE( TrN_OdbPowiat)
 AND NOT UPDATE( TrN_OdbGmina)
 AND NOT UPDATE( TrN_OdbUlica)
 AND NOT UPDATE( TrN_OdbNrDomu)
 AND NOT UPDATE( TrN_OdbNrLokalu)
 AND NOT UPDATE( TrN_OdbMiasto)
 AND NOT UPDATE( TrN_OdbKodPocztowy)
 AND NOT UPDATE( TrN_OdbPoczta)
 AND NOT UPDATE( TrN_OdbAdres2)
 AND NOT UPDATE( TrN_OdbNipKraj)
 AND NOT UPDATE( TrN_OdbNipE)
 AND NOT UPDATE( TrN_OdbiorcaGLN)
 AND NOT UPDATE( TrN_OdbiorcaDocTyp)
 AND NOT UPDATE( TrN_OdbDocID)
 AND NOT UPDATE( TrN_KatID)
 AND NOT UPDATE( TrN_Kategoria)
 AND NOT UPDATE( TrN_FPlId)
 AND NOT UPDATE( TrN_Termin)
 AND NOT UPDATE( TrN_RazemNetto)
 AND NOT UPDATE( TrN_RazemVAT)
 AND NOT UPDATE( TrN_RazemBrutto)
 AND NOT UPDATE( TrN_RazemNettoWal)
 AND NOT UPDATE( TrN_RazemVATWal)
 AND NOT UPDATE( TrN_RazemBruttoWal)
 AND NOT UPDATE( TrN_Waluta)
 AND NOT UPDATE( TrN_KursNumer)
 AND NOT UPDATE( TrN_KursL)
 AND NOT UPDATE( TrN_KursM)
 AND NOT UPDATE( TrN_PlatElemWalSys)
 AND NOT UPDATE( TrN_PlatKaucje)
 AND NOT UPDATE( TrN_PodmiotZalTyp)
 AND NOT UPDATE( TrN_PodZalId)
 AND NOT UPDATE( TrN_BlokadaPlatnosci)
 AND NOT UPDATE( TrN_MagZrdId)
 AND NOT UPDATE( TrN_MagDocId)
 AND NOT UPDATE( TrN_TypNB)
 AND NOT UPDATE( TrN_Rabat)
 AND NOT UPDATE( TrN_Odebral)
 AND NOT UPDATE( TrN_Opis)
 AND NOT UPDATE( TrN_ZwroconoCalaIlosc)
 AND NOT UPDATE( TrN_NotaKorPrzed)
 AND NOT UPDATE( TrN_NotaKorPo)
 AND NOT UPDATE( TrN_TrSTyp)
 AND NOT UPDATE( TrN_DekId)
 AND NOT UPDATE( TrN_PreDekId)
 AND NOT UPDATE( TrN_TS_Export)
 AND NOT UPDATE( TrN_ImportAppId)
 AND NOT UPDATE( TrN_ImportRowId)
 AND NOT UPDATE( TrN_OpeZalID)
 AND NOT UPDATE( TrN_OpeZalKod)
 AND NOT UPDATE( TrN_OpeZalNazwisko)
 AND NOT UPDATE( TrN_StaZalId)
 AND NOT UPDATE( TrN_TS_Zal)
 AND NOT UPDATE( TrN_OpeModID)
 AND NOT UPDATE( TrN_OpeModKod)
 AND NOT UPDATE( TrN_OpeModNazwisko)
 AND NOT UPDATE( TrN_StaModId)
 AND NOT UPDATE( TrN_TS_Mod)
 AND NOT UPDATE( TrN_GIDTyp)
 AND NOT UPDATE( TrN_GIDFirma)
 AND NOT UPDATE( TrN_GIDNumer)
 AND NOT UPDATE( TrN_GIDLp)
 AND NOT UPDATE( TrN_Centrala)
 AND NOT UPDATE( TrN_KodTransakcji)
 AND NOT UPDATE( TrN_IsNId)
 AND NOT UPDATE( TrN_DataTransportu)
 AND NOT UPDATE( TrN_KodKraju)
 AND NOT UPDATE( TrN_VatDlaDokWal)
 AND NOT UPDATE( TrN_OFFExportMag)
 AND NOT UPDATE( TrN_DataKur)
 AND NOT UPDATE( TrN_OdbEmail)
 AND NOT UPDATE( TrN_OdbTelefon)
 AND NOT UPDATE( TrN_DabId)
 AND NOT UPDATE( TrN_DataEFaktura)
 AND NOT UPDATE( TrN_OpeWysylajacy)
 AND NOT UPDATE( TrN_EFakturaGUID)
 AND NOT UPDATE( TrN_DataPtwTaxFree))
         BEGIN
    Close Dodane
Deallocate Dodane
SET NOCOUNT OFF
return
  END
   IF EXISTS (SELECT * FROM CDN.TraNag WHERE TrN_TrNid = @TrNId AND TrN_DabID IS NOT NULL AND TrN_TypDokumentu = 301 and TrN_EfakturaGUID IS NOT NULL)
   AND ( EXISTS (SELECT * FROM deleted WHERE TrN_TrNId = @TrNId AND
    (
     @PodId <> TrN_PodId OR
     @DataOpe <> TrN_DataOpe OR
     @DataWys <> TrN_DataWys OR
     @RazemNetto <> TrN_RazemNetto OR
     @NumerObcy <> TrN_NumerObcy OR
     @PodNazwa1 <> TrN_PodNazwa1 OR
     @PodNazwa2 <> TrN_PodNazwa2 OR
     @PodNazwa3 <> TrN_PodNazwa3 OR
     @Kraj <> TrN_PodKraj OR
     @Ulica <> TrN_PodUlica OR
     @NrDomu <> TrN_PodNrDomu OR
     @NrLokalu <> TrN_PodNrLokalu OR
     @Miasto <> TrN_PodMiasto OR
     @KodPocztowy <> TrN_PodKodPocztowy OR
     @NIP <> TrN_PodNiPe
    )
    )
  )
     BEGIN
          RaisError ('##OPT34550##', 16,1)
          RollBack Tran
          Return
     END
-- blokada podwójnej fiskalizacji podczas zatwierdzania dokumentu
    If Update (TrN_Fiskalna) And @Fiskalna = 2
      If Exists(Select * From CDN.TraNag Where TrN_TrNId = @TrNId  AND TrN_Fiskalna = 1)
        Begin
   SET @Fiskalna = 1  -- nie można przechodzić z 1 na 2; tylko z 0 na 2 i z 2 na 1
        End
    -- Sprawdzanie unikalności GID
    If (Update (TrN_GIDTyp) Or Update (TrN_GIDFirma) Or Update (TrN_GIDNumer)) And
        @GIDTyp Is Not Null And @GIDFirma Is Not Null And @GIDNumer Is Not Null
      If Exists (
        Select * From CDN.TraNag Where
          TrN_GIDTyp   = @GIDTyp   And
          TrN_GIDFirma = @GIDFirma And
          TrN_GIDNumer = @GIDNumer And
          TrN_TrNId   <> @TrNId )
        Begin
          RaisError ('##OPT32230##', 16,1)
          RollBack Tran
          Return
        End
    --Sprawdzanie obecności wierszy w tabeli nadrzędnej DekretyNag
    If Update (TrN_DekId) And IsNull(@DekId, 0) <> 0
      If Not Exists ( SELECT * FROM CDN.DekretyNag WHERE DeN_DeNId = @DekId )
        BEGIN
          RAISERROR('##OPT32242##%%tabela%%=DekretyNag##', 16, 1) --RAISERROR('Brak wartości w tabeli nadrzędnej (DekretyNag) ', 16, 1)
          ROLLBACK TRAN
          RETURN
        END
    --Sprawdzanie obecności wiersza w tabeli VatNag
    If (Update (TrN_VaNId) Or Update (TrN_TypDokumentu) ) And
        IsNull(@VaNId, 0) <> 0 And @TypDokumentu <> 310
      If Not Exists ( SELECT * FROM CDN.VatNag WHERE VaN_VaNId = @VaNId )
        BEGIN
          RAISERROR('##OPT32242##%%tabela%%=VatNag##', 16, 1) --RAISERROR('Brak wartości w tabeli nadrzędnej (VatNag) ', 16, 1)
          ROLLBACK TRAN
          RETURN
        END
    --Sprawdzanie obecności wiersza w tabeli RemanentNag
    If (Update (TrN_VaNId) Or Update (TrN_TypDokumentu) ) And
        IsNull (@VaNId, 0) <> 0 And @TypDokumentu = 310
      If Not Exists ( SELECT * FROM CDN.RemanentNag Where ReN_ReNId = @VaNId )
        BEGIN
          RAISERROR('##OPT32242##%%tabela%%=RemanentNag##', 16, 1) --RAISERROR('Brak wartości w tabeli nadrzędnej (RemanentNag) ', 16, 1)
          ROLLBACK TRAN
          RETURN
        END
    -- Sprawdzanie powiązania z podmiotem
    If (Update (TrN_PodmiotTyp) Or Update (TrN_PodId))
      Begin
        If IsNull(@PodmiotTyp, 0) <> 0 And IsNull(@PodId, 0) <> 0
          Begin
            If @PodmiotTyp = 1
              Begin
              --  Sprawdzanie obecności wiersza w tabeli Kontrahenci
                If Not Exists (Select * From CDN.Kontrahenci Where Knt_KntId = @PodId)
                  Begin
                    RAISERROR('##OPT32025##%%1%%=Kontrahenci##', 16, 1)--RaisError ('Nie istnieje zapis w tabeli nadrzędnej (powiązanie z tabelą  Kontrahenci). ', 16, 1)
                    RollBack Tran
                    Return
                  End
              End
            If @PodmiotTyp = 2
              Begin
              --  Sprawdzanie obecności wiersza w tabeli BnkNazwy
                If Not Exists (Select * From CDN.BnkNazwy Where BNa_BNaId = @PodId)
                  Begin
                    RAISERROR('##OPT32025##%%1%%=BnkNazwy##', 16, 1)--RaisError ('Nie istnieje zapis w tabeli nadrzędnej (powiązanie z tabelą  BnkNazwy). ', 16, 1)
                    RollBack Tran
                    Return
                  End
              End
            If @PodmiotTyp = 3
              Begin
              --  Sprawdzanie obecności wiersza w tabeli PracKod
                If Not Exists (Select * From CDN.PracKod Where Pra_PraId = @PodId)
                  Begin
                    RAISERROR('##OPT32025##%%1%%=PracKod##', 16, 1) --RaisError ('Nie istnieje zapis w tabeli nadrzędnej (powiązanie z tabelą  PracKod). ', 16, 1)
                    RollBack Tran
                    Return
                  End
              End
            If @PodmiotTyp = 5
              Begin
              --  Sprawdzanie obecności wiersza w tabeli Urzedy
                If Not Exists (Select * From CDN.Urzedy Where Urz_UrzId = @PodId)
                  Begin
                    RAISERROR('##OPT32025##%%1%%=Urzedy##', 16, 1) --RaisError ('Nie istnieje zapis w tabeli nadrzędnej (powiązanie z tabelą  Urzedy). ', 16, 1)
                    RollBack Tran
                    Return
                  End
              End
          End
        Else
          Begin
            Update CDN.TraNag
             Set TrN_PodmiotTyp = 1, TrN_PodId = 1
             Where TrN_TrNId = @TrNId
            Update CDN.TraElem
             Set TrE_PodmiotTyp = 1, TrE_PodId = 1
             Where TrE_TrNId = @TrNId
          End
      End
    -- Sprawdzanie powiązania z odbiorcą
    If (Update (TrN_OdbiorcaTyp) Or Update (TrN_OdbId))
      Begin
        If IsNull(@OdbiorcaTyp, 0) <> 0 And IsNull(@OdbId, 0) <> 0
          Begin
            If @OdbiorcaTyp = 1
              Begin
              --  Sprawdzanie obecności wiersza w tabeli Kontrahenci
                If Not Exists (Select * From CDN.Kontrahenci Where Knt_KntId = @OdbId)
                  Begin
                    RAISERROR('##OPT32025##%%1%%=Kontrahenci##', 16, 1)--RaisError ('Nie istnieje zapis w tabeli nadrzędnej (powiązanie z tabelą  Kontrahenci). ', 16, 1)
                    RollBack Tran
                    Return
                  End
              End
            If @OdbiorcaTyp = 2
              Begin
              --  Sprawdzanie obecności wiersza w tabeli BnkNazwy
                If Not Exists (Select * From CDN.BnkNazwy Where BNa_BNaId = @OdbId)
                  Begin
                    RAISERROR('##OPT32025##%%1%%=BnkNazwy##', 16, 1)--RaisError ('Nie istnieje zapis w tabeli nadrzędnej (powiązanie z tabelą  BnkNazwy). ', 16, 1)
                    RollBack Tran
                    Return
                  End
              End
            If @OdbiorcaTyp = 3
              Begin
              --  Sprawdzanie obecności wiersza w tabeli PracKod
                If Not Exists (Select * From CDN.PracKod Where Pra_PraId = @OdbId)
                  Begin
                    RAISERROR('##OPT32025##%%1%%=PracKod##', 16, 1)--RaisError ('Nie istnieje zapis w tabeli nadrzędnej (powiązanie z tabelą  PracKod). ', 16, 1)
                    RollBack Tran
                    Return
                  End
              End
            If @OdbiorcaTyp = 5
              Begin
              --  Sprawdzanie obecności wiersza w tabeli Urzedy
                If Not Exists (Select * From CDN.Urzedy Where Urz_UrzId = @OdbId)
                  Begin
                    RAISERROR('##OPT32025##%%1%%=Urzedy##', 16, 1)--RaisError ('Nie istnieje zapis w tabeli nadrzędnej (powiązanie z tabelą  Urzedy). ', 16, 1)
                    RollBack Tran
                    Return
                  End
              End
          End
        Else
          Begin
            Update CDN.TraNag
             Set TrN_OdbiorcaTyp = 1, TrN_OdbId = 1
             Where TrN_TrNId = @TrNId
          End
      End
    -- Sprawdzanie powiązania z zaliczkobiorcą
    If (Update (TrN_PodmiotZalTyp) Or Update (TrN_PodZalId)) And
        IsNull(@PodmiotZalTyp, 0) <> 0 And IsNull(@PodZalId, 0) <> 0
      Begin
        If @PodmiotZalTyp = 1
          Begin
          --  Sprawdzanie obecności wiersza w tabeli Kontrahenci
            If Not Exists (Select * From CDN.Kontrahenci Where Knt_KntId = @PodZalId)
              Begin
                RAISERROR('##OPT32025##%%1%%=Kontrahenci##', 16, 1)--RaisError ('Nie istnieje zapis w tabeli nadrzędnej (powiązanie z tabelą  Kontrahenci). ', 16, 1)
                RollBack Tran
                Return
              End
          End
        If @PodmiotZalTyp = 2
          Begin
          --  Sprawdzanie obecności wiersza w tabeli BnkNazwy
            If Not Exists (Select * From CDN.BnkNazwy Where BNa_BNaId = @PodZalId)
              Begin
                RAISERROR('##OPT32025##%%1%%=BnkNazwy##', 16, 1)--RaisError ('Nie istnieje zapis w tabeli nadrzędnej (powiązanie z tabelą  BnkNazwy). ', 16, 1)
                RollBack Tran
                Return
              End
          End
        If @PodmiotZalTyp = 3
          Begin
          --  Sprawdzanie obecności wiersza w tabeli PracKod
            If Not Exists (Select * From CDN.PracKod Where Pra_PraId = @PodZalId)
              Begin
                RAISERROR('##OPT32025##%%1%%=PracKod##', 16, 1)--RaisError ('Nie istnieje zapis w tabeli nadrzędnej (powiązanie z tabelą  PracKod). ', 16, 1)
                RollBack Tran
                Return
              End
          End
        If @PodmiotZalTyp = 5
          Begin
          --  Sprawdzanie obecności wiersza w tabeli Urzedy
            If Not Exists (Select * From CDN.Urzedy Where Urz_UrzId = @PodZalId)
              Begin
                RAISERROR('##OPT32025##%%1%%=Urzedy##', 16, 1)--RaisError ('Nie istnieje zapis w tabeli nadrzędnej (powiązanie z tabelą  Urzedy). ', 16, 1)
                RollBack Tran
                Return
              End
          End
      End
    -- Sprawdzanie powiązania z zaliczkobiorcą
    If (Update (TrN_OdbiorcaDocTyp) Or Update (TrN_OdbDocId)) And
        IsNull(@OdbiorcaDocTyp, 0) <> 0 And IsNull(@OdbDocId, 0) <> 0
      Begin
        If @OdbiorcaDocTyp = 1
          Begin
          --  Sprawdzanie obecności wiersza w tabeli Kontrahenci
            If Not Exists (Select * From CDN.Kontrahenci Where Knt_KntId = @OdbDocId)
              Begin
                RAISERROR('##OPT32025##%%1%%=Kontrahenci##', 16, 1)--RaisError ('Nie istnieje zapis w tabeli nadrzędnej (powiązanie z tabelą  Kontrahenci). ', 16, 1)
                RollBack Tran
                Return
              End
          End
        If @OdbiorcaDocTyp = 2
          Begin
          --  Sprawdzanie obecności wiersza w tabeli BnkNazwy
            If Not Exists (Select * From CDN.BnkNazwy Where BNa_BNaId = @OdbDocId)
              Begin
                RAISERROR('##OPT32025##%%1%%=BnkNazwy##', 16, 1)--RaisError ('Nie istnieje zapis w tabeli nadrzędnej (powiązanie z tabelą  BnkNazwy). ', 16, 1)
                RollBack Tran
                Return
              End
          End
        If @OdbiorcaDocTyp = 3
          Begin
          --  Sprawdzanie obecności wiersza w tabeli PracKod
            If Not Exists (Select * From CDN.PracKod Where Pra_PraId = @OdbDocId)
              Begin
                RAISERROR('##OPT32025##%%1%%=PracKod##', 16, 1)--RaisError ('Nie istnieje zapis w tabeli nadrzędnej (powiązanie z tabelą  PracKod). ', 16, 1)
                RollBack Tran
                Return
              End
          End
        If @OdbiorcaDocTyp = 5
          Begin
          --  Sprawdzanie obecności wiersza w tabeli Urzedy
            If Not Exists (Select * From CDN.Urzedy Where Urz_UrzId = @OdbDocId)
              Begin
                RAISERROR('##OPT32025##%%1%%=Urzedy##', 16, 1)--RaisError ('Nie istnieje zapis w tabeli nadrzędnej (powiązanie z tabelą  Urzedy). ', 16, 1)
                RollBack Tran
                Return
              End
          End
      End
-- Kontrola dokumentu anulowanego offline
    If @OFFPrawoDoAnulowania = 1
     IF EXISTS (SELECT * FROM CDN.TraNag Where TrN_ZwrId = @ZwrId And TrN_Bufor <> -1 AND TrN_TrNId > @TrNId AND  TrN_Rodzaj NOT IN (306071, 306072, 306061 ))
        BEGIN
          RAISERROR('##OPT34562##', 16, 1)--RAISERROR('Nie można anulować dokumentu, do którego istnieją późniejsze aktywne korekty', 16, 1)
          ROLLBACK TRAN
          RETURN
        END
-- Kontrola dokumentu anulowanego
    If @Bufor = -1
      Begin
      -- Czy dokument nie jest zaksięgowany do rej. Vat
      If IsNull(@VaNId, 0) <> 0
        BEGIN
          RAISERROR('##OPT34563##', 16, 1)--RAISERROR('Nie można anulować dokumentu zaksięgowanego do rejestru Vat', 16, 1)
          ROLLBACK TRAN
          RETURN
        END
      --sprawdzenie, czy faktura nie jest zaksięgowana do DekretyNag
      If IsNull(@DekId, 0) <> 0
        BEGIN
          RAISERROR('##OPT34564##', 16, 1)--RAISERROR('Nie można anulować dokumentu zaksięgowanego do dziennika (DekretyNag)', 16, 1)
          ROLLBACK TRAN
          RETURN
        END
      --sprawdzenie, czy faktura nie jest zafiskalizowana
      IF @Fiskalna = 1 AND @FiskalnaErr = 0
        BEGIN
          RAISERROR('##OPT34041##', 16, 1)--RAISERROR('Nie można anulować dokumentu zafiskalizowanego', 16, 1)
          ROLLBACK TRAN
          RETURN
        END
      --sprawdzenie, czy nie ma faktury korygującej do wymienionej faktury
      If Exists (Select * From CDN.TraNag Where TrN_ZwrId = @TrNId And TrN_Bufor<>-1 And  CDN.FzDoFrr( @TrNId, TrN_Rodzaj) = 0 AND  TrN_Rodzaj NOT IN (306071, 306072, 306061 ))
        BEGIN
          RAISERROR('##OPT34565##', 16, 1)--RAISERROR('Nie można anulować dokumentu, do którego istnieją aktywne korekty', 16, 1)
          ROLLBACK TRAN
          SET NOCOUNT OFF
          RETURN
        END
      --sprawdzenie, czy nie ma faktury korygującej do wymienionej faktury korygującej (kolejnej w "łancuszku"
      IF EXISTS (SELECT * FROM CDN.TraNag Where TrN_ZwrId = @ZwrId And TrN_Bufor <> -1 AND TrN_TrNId > @TrNId AND  TrN_Rodzaj NOT IN (306071, 306072, 306061 ) and ISNULL(TrN_ZwrIdWZKK,0) =0) and  update(trn_bufor)
        BEGIN
          RAISERROR('##OPT34562##', 16, 1)--RAISERROR('Nie można anulować dokumentu, do którego istnieją późniejsze aktywne korekty', 16, 1)
          ROLLBACK TRAN
          RETURN
        END
     IF EXISTS (SELECT A.TrR_TrNId FROM CDN.tranagrelacje A
               JOIN CDN.TraNagRelacje B ON B.TrR_FAId = A.TrR_FAId
               WHERE A.TrR_TrNId =  @TrNId and
                  A.TrR_TrNTyp=306 AND B.TrR_TrNTyp = 306 AND A.TrR_FaTyp = 320 AND B.TrR_FaTyp = 320
                  AND B.TrR_TrNId > @TrNId
                  AND NOT EXISTS (SELECT C.Trr_TrRId FROM CDN.TraNagRelacje C where B.TrR_TrNId = C.TrR_TrNID AND  c.Trr_FaTyp = 302))
        BEGIN
          RAISERROR('##OPT34566##', 16, 1)--RAISERROR('Nie można anulować dokumentu WZ powstałego z faktury proforma, jeśli istnieją późniejsze WZ', 16, 1)
          ROLLBACK TRAN
          RETURN
        END
      --sprawdzenie, czy dokument nie należy do zamkniętego okresu
      -- dokumenty pierwotne moga byc anulowane w zamknietym okresie
      Set @DOBZM = Null
      SELECT @DOBZM = MAX(TrN_DataOpe) FROM CDN.TraNag WHERE TrN_Rodzaj = 310005
      If @DOBZM Is Not Null And @DataOpe <= @DOBZM And @Rodzaj Not In ( 301100, 302100, 305100, 311000)
        BEGIN
          RAISERROR('##OPT34567##', 16, 1)--RAISERROR('Dokument należy do zamkniętego okresu. ', 16, 1)
          ROLLBACK TRAN
          RETURN
        END
      --sprawdzenie, czy z dokumentu o charakterze dostawy nie sprzedano już tej dostawy
      If Exists (Select * From CDN.TraElem B
       Join CDN.TraSElem C On C.TrS_TrEId=B.TrE_TrEId
       Join CDN.TraSElem D On D.TrS_TrSIdDost=C.TrS_TrSId And D.TrS_TrSId<>C.TrS_TrSId
       Where TrE_TrNId = @TrNId)
         BEGIN
           RAISERROR('##OPT34568##', 16, 1)--RAISERROR('Dostawy pochodzące z tego dokumentu zostały wykorzystane.', 16, 1)
           ROLLBACK TRAN
           SET NOCOUNT OFF
           RETURN
         END
      -- symulacja kasowania przy anulowaniu - czy nie przechodzimy przez zero ( dla AVCO i QUAN )
      -- kursor po wszystkich kasowanych subelementach z anulowanego dokumentu magazynowego
      If @TypDokumentu IN ( 310, 307, 303, 304, 306, 312, 302, 305, 317, 318  )
        Begin
          DECLARE Subelementy CURSOR LOCAL FAST_FORWARD FOR
           SELECT TrS_TrSId, TrS_TrEId, TrS_TrSIdDost, TrS_ZwrId, TrS_TwrId, TrS_MagId, TrS_Rodzaj, TrS_Typ, TrS_Metoda, TrS_DataOpe, TrS_Ilosc, TrS_Wartosc, TrS_Cena
           FROM TraSElem
           JOIN TraElem  ON TrS_TrEId = TrE_TrEId
           WHERE TrE_TrNId = @TrNId -- AND TrS_Metoda IN ( 3, 4 )
          OPEN Subelementy
          WHILE 1=1
            BEGIN
              -- dla każdego anulowanego subelementu odtworzenie ilosci i sprawdzenie, czy nie przekroczono zera
              FETCH NEXT FROM Subelementy INTO @TrS_TrSId, @TrS_TrEId, @TrS_TrSIdDost, @TrS_ZwrId, @TrS_TwrId, @TrS_MagId, @TrS_Rodzaj, @TrS_Typ, @TrS_Metoda, @TrS_DataOpe, @TrS_Ilosc, @TrS_Wartosc, @TrS_Cena
              IF @@FETCH_STATUS <> 0 BREAK
--              EXECUTE CDN.sp_AktualizujTwrIlosci 2, @TrS_TwrId, @TrS_MagId, @TrS_Typ, @TrS_DataOpe, @TrS_Ilosc, 0
--              SET @KomunikatErr = CDN.fn_TwrIlosciErr ( @TrS_TwrId, @TrS_MagId, @TrS_DataOpe )
            SET @KomunikatErr = CDN.TwrIlosciErr ( 2, @TrS_Typ, @TrS_TwrId, @TrS_MagId, @TrS_DataOpe, @TrS_Ilosc, 0 )
--              EXECUTE CDN.sp_AktualizujTwrIlosci 1, @TrS_TwrId, @TrS_MagId, @TrS_Typ, @TrS_DataOpe, @TrS_Ilosc, 0
              IF @KomunikatErr <> ''
                BEGIN
                  RAISERROR( @KomunikatErr, 16, 1 )
                  ROLLBACK TRAN
                  RETURN
                END
            END
          CLOSE Subelementy
          DEALLOCATE Subelementy
        End
      --sprawdzenie, czy dokument nie jest dokumentem WZKK
      IF @Rodzaj IN (306071, 306072, 306061)
        BEGIN  -- jeśli posiada subelementy to nie może być anulowany
          IF EXISTS(SELECT TrS_TrSId FROM cdn.TraSElem  S
                           JOIN cdn.TraElem E on  S.TrS_TrEId = E.TrE_TrEId
                           JOIN cdn.TraNag N  on  N.TrN_TrNId = E.TrE_TrNId
                           WHERE N.TrN_TrNId = @TrNId)
            BEGIN
              RAISERROR('##OPT34569##', 16, 1)--RAISERROR('Dokument jest korektą kosztu WZKK. ', 16, 1)
              ROLLBACK TRAN
              RETURN
            END
        END
      --ustawienie "nieaktywności" elementów
      UPDATE CDN.TraElem SET TrE_Aktywny = 0 WHERE TrE_TrNId = @TrNId
   --ksef
   UPDATE CDN.DokumentyKSeF set DKF_TrNId = null WHERE DKF_TrNId = @TrNId
      -- Skasowanie rozliczen i płatności
      Execute CDN.KasujRozliczenia 1, @TrNId
      IF EXISTS (SELECT * FROM CDN.BnkZdarzenia JOIN CDN.BnkRozRelacje
                ON BZd_BZdId = BRR_ZDokId AND BRR_ZDokTyp = 1
                WHERE BZd_DokumentTyp In (1,101) AND BZd_DokumentId = @TrNId)
        BEGIN
          RAISERROR('##OPT34570##', 16, 1)--RAISERROR('Dokument posiada rozliczone płatności.', 16, 1)
          ROLLBACK TRAN
          RETURN
        END
      --kasowanie płatności do faktury
   SELECT @WhereParam = 'BZd_DokumentTyp In (1,101) AND BZd_DokumentId = ' + CONVERT(VARCHAR(15), @TrNId)
   if (@TypDokumentu != 345)
   EXEC cdn.RejestrOperacjiDodajEx @ObiektTyp = '1001',
         @ObiektSubTyp = 'BZd_Kierunek',
         @ObiektID = 'BZd_BZdID',
         @ObiektNazwa = 'BZd_NumerPelny',
         @OperacjaTyp = 3, -- OptimaOperationType_Modyfikacja
         @Opis = '''''',
         @From = 'cdn.BnkZdarzenia',
         @Where = @WhereParam
      DELETE CDN.BnkZdarzenia WHERE BZd_DokumentTyp In (1,101) AND BZd_DokumentId = @TrNId
   --kasowanie relacji do dokumentów serwisowych  (WiNi)
      DELETE CDN.DokRelacje FROM CDN.DokRelacje WHERE DoR_DokumentTyp=@TypDokumentu AND DoR_DokumentId=@TrNId AND Dor_ParentTyp = 900
   --kasowanie zapisów do WZ
   if @Typdokumentu  = 306
  Execute CDN.KasujRozliczeniaWZ @TrNId
   --log z zapisem anulowania
   If Update (TrN_Bufor) and exists(select * from deleted where TrN_TrNID = @TrNId and TrN_Bufor = 0)
   BEGIN
  Declare @DokumentPodTyp INT
  SET @DokumentPodTyp = 0
  IF @Rodzaj in (302200,302202)
   SET @DokumentPodTyp = 1
  exec [CDN].[RejestrOperacjiDodaj] @Typdokumentu,@DokumentPodTyp, @TrNId, @NumerPelny, 107, ''
   END
  exec CDN.OpeDaneOperatora @OperatorID out, @OpeModKod OUT, @OpeModNazwisko OUT,@Log OUT
  --zmiana operatora na anulowanych
        UPDATE CDN.TraNag  SET
           TrN_OpeModId = @OperatorID,
   TrN_OpeModKod = @OpeModKod,
   TrN_OpeModNazwisko = @OpeModNazwisko,
           TrN_TS_Mod   = GETDATE()
         FROM CDN.TraNag A
         Where TrN_TrNId = @TrNId and @OperatorID > 0
      END -- Koniec anulowania
    -- Ustawianie unikalnego identyfikatora
    If IsNull(@ImportRowId,'') = ''
      Update CDN.TraNag Set TrN_ImportRowId = NewId()
      Where TrN_TrNId = @TrNId
    -- Aktualizacja wskaznika wyeksportowania w BnkZdarzenia
    If Update (TrN_TS_Export)
      If Exists (
        Select * From CDN.BnkZdarzenia
        Where BZd_DokumentTyp In (1,101) And BZd_DokumentId = @TrNId And Not (@TS_Export = BZd_TS_Export)
        )
        Update CDN.BnkZdarzenia Set BZd_TS_Export = @TS_Export
          Where BZd_DokumentTyp In (1,101) And BZd_DokumentId = @TrNId And Not (@TS_Export = BZd_TS_Export)
    -- Aktualizacja zapisow skojarzonych przy ksiegowaniu dokumentu
    If Update (TrN_DekId) And @DekId Is Not Null
      If Exists (Select * From deleted)
        Begin
          -- Faktura przeniesiona do Vat
          If @VaNId Is Not Null
            If Exists (Select * From CDN.VatNag Where VaN_VaNId = @VaNId And VaN_DekId Is Null)
              Update CDN.VatNag Set VaN_DekId = @DekId Where VaN_VaNId = @VaNId
          -- Faktura przekształcona z paragonu
          If  @Rodzaj = 302006
            If Exists (Select TrN_TrNId From Cdn.TraNagRelacje
                       join Cdn.TraNag on TrN_TrNId = TrR_FAId
                       Where TrR_TrNId = @TrNId and TrR_FaTyp = 302 and TrN_DekId Is Null)
              Update CDN.TraNag Set TrN_DekId = @DekId Where TrN_TrNId in (Select TrN_TrNId From Cdn.TraNagRelacje
                       join Cdn.TraNag on TrN_TrNId = TrR_FAId
                       Where TrR_TrNId = @TrNId and TrR_FaTyp = 302 and TrN_DekId Is Null)
/*          If @FaId Is Not Null And @Rodzaj = 302006
            If Exists (Select * From CDN.TraNag Where TrN_TrNId = @FaId And TrN_DekId Is Null)
              Update CDN.TraNag Set TrN_DekId = @DekId Where TrN_TrNId = @FaId*/
        End
      -- wyliczenie kolejnego numeru TrN_Anulowany dla dokumentów anulowanych - dla pozostałych 0
      UPDATE cdn.TraNag SET TrN_Anulowany =
       CASE @Bufor
       WHEN -1 THEN
                ( SELECT ISNULL(MAX(TrN_Anulowany), -2147483648 ) + 1 FROM cdn.TraNag WHERE TrN_NumerPelny = @NumerPelny AND TrN_Bufor = -1 AND TrN_TrNId <> @TrNId)
       ELSE  0  END
      WHERE TrN_TrNID = @TrNId
-- ZG 9.0 w związku z modyfikowaniem pieczątki (modyfikujących) przy księgowaniu do rejestrów VAT lub na konta.
      -- nie zmieniamy parametrów modyfikacji, jeśli jest to księgowanie do dekretów lub na konta
      IF UPDATE(TrN_VANId) OR UPDATE(TrN_DekId)
        UPDATE CDN.TraNag  SET
           TrN_OpeModId = D.TrN_OpeModId,
     TrN_OpeModKod = D.TrN_OpeModKod,
     TrN_OpeModNazwisko = D.TrN_OpeModNazwisko,
           TrN_StaModId = D.TrN_StaModId,
           TrN_TS_Mod   = D.TrN_TS_Mod
        FROM CDN.TraNag A
        JOIN ( SELECT
                 TrN_TrNId    = TrN_TrNId,
                 TrN_OpeModId = TrN_OpeModId,
     TrN_OpeModKod = TrN_OpeModKod,
     TrN_OpeModNazwisko = TrN_OpeModNazwisko,
                 TrN_StaModId = TrN_StaModId,
                 TrN_TS_Mod   = TrN_TS_Mod
               FROM deleted
               WHERE TrN_TrNId = @TrNId
              ) AS D ON D.TrN_TrNId = A.TrN_TrNId
        WHERE A.TrN_TrNId = @TrNId
   --sprawdzenie, czy dokument nie jest przed datą cięcia
      Set @DOBZM = Null
      select @DOBZM = convert(datetime,Fir_Wartosc,120) from cdn.Firma where Fir_Numer=1938
   if not exists (SELECT * FROM deleted WHERE TrN_TrNId = @TrNId and TrN_Bufor = 0)
      If @DOBZM Is Not Null And @DataOpe <= @DOBZM And @Rodzaj Not In ( 301100, 302100, 305100)
        BEGIN
          --set @KomunikatErr = 'Data dokumentu nie może być wcześniejsza niż: '+ convert(varchar(10),@DOBZM +1,120) + '. Na bazie została wykonana funkcja usuwania dokumentów. Zapisz dokument z datą poźniejszą.'
    set @KomunikatErr = '##OPT34571##%%s1%%=' + convert(varchar(10),@DOBZM +1,120)+ '##'--'Data dokumentu nie może być wcześniejsza niż: '+ convert(varchar(10),@DOBZM +1,120) + '. Na bazie została wykonana funkcja usuwania dokumentów. Zapisz dokument z datą poźniejszą.'
          RAISERROR(@KomunikatErr, 16, 1)
          ROLLBACK TRAN
          RETURN
        END
 --sekcjaesklep
if isnull(@EsklepID,0) > 0
begin
 if @FAID is NULL and exists(select * from cdn.TraNagRelacje where trr_faid = @TrNId and trr_trntyp in (302,305,306,304))
 select @FAID = 1
 IF UPDATE(TrN_Bufor) OR UPDATE(TrN_FaID) or UPDATE(TrN_eSklepStatusPlatnosci)
 or UPDATE(TrN_eSklepStatusDostawy) or UPDATE(TrN_eSklepDataDost) or UPDATE(TrN_Zwroconocalailosc)
 if exists (select * from CDN.TraNagTSModEsklep where TrNTS_TrNId = @TrNId)
    begin
    update [CDN].[TraNagTSModEsklep]
    set [TrNTS_TS_ModESklep] = GETDATE(),
    TrNTS_DataPotwierdzenia = case when TrNTS_Status = 1 and @Bufor = 0 then @TS_Mod else TrNTS_DataPotwierdzenia end,
       TrNTS_DataRealizacji =  case when TrNTS_Status < 2 and (ISNULL(@Zwroconocalailosc,0) = 4 or (@FAID is NOT NULL AND ISNULL(@Zwroconocalailosc,0) > 2) ) then @TS_Mod else TrNTS_DataRealizacji end,
    TrNTS_Status = CASE WHEN @Bufor = 1                          THEN 1   -- oczekuje na potwierdzenie
                   WHEN @Bufor = 0 AND @FAID is NULL AND ISNULL(@Zwroconocalailosc,0) < 3     THEN 2  -- potwierdzone
                   WHEN @Bufor = 0 AND @FAID is NOT NULL AND ISNULL(@Zwroconocalailosc,0) < 3 THEN 2  -- potwierdzone
                   WHEN @Bufor = 0 AND @FAID is NOT NULL AND ISNULL(@Zwroconocalailosc,0) > 2 THEN 3  -- zrealizowane
                   WHEN @Bufor = 0 AND @FAID is NULL AND ISNULL(@Zwroconocalailosc,0) = 4     THEN 3  -- zrealizowane
                   WHEN @Bufor = -1                         THEN 4  -- anulowane
      END,
      TrNTS_StatusPlat = @eSklepStatusPlatnosci,
      TrNTS_StatusDost = @eSklepStatusDostawy,
      TrNTS_DataPrzyjecia = @eSklepDataDost
    where
    [TrNTS_TrNId] = @TrNId and (
    [TrNTS_StatusPlat] != @eSklepStatusPlatnosci or
    [TrNTS_StatusDost] != @eSklepStatusDostawy or
    [TrNTS_DataPrzyjecia] != @eSklepDataDost or
    [TrNTS_Status] !=  CASE WHEN @Bufor = 1                          THEN 1   -- oczekuje na potwierdzenie
                   WHEN @Bufor = 0 AND @FAID is NULL AND ISNULL(@Zwroconocalailosc,0) < 3     THEN 2  -- potwierdzone
                   WHEN @Bufor = 0 AND @FAID is NOT NULL AND ISNULL(@Zwroconocalailosc,0) < 3 THEN 2  -- potwierdzone
                   WHEN @Bufor = 0 AND @FAID is NOT NULL AND ISNULL(@Zwroconocalailosc,0) > 2 THEN 3  -- zrealizowane
                   WHEN @Bufor = 0 AND @FAID is NULL AND ISNULL(@Zwroconocalailosc,0) = 4     THEN 3  -- zrealizowane
                   WHEN @Bufor = -1                         THEN 4  -- anulowane
              END
     )
    end
  else
   INSERT INTO [CDN].[TraNagTSModEsklep]
           ([TrNTS_TrNId]
           ,[TrNTS_Status]
           ,[TrNTS_StatusPlat]
           ,[TrNTS_StatusDost]
           ,[TrNTS_DataPlanowanaDostawy]
           ,[TrNTS_TS_ModESklep]
           ,[TrNTS_DataPrzyjecia]
           ,[TrNTS_DataPotwierdzenia]
           ,[TrNTS_DataRealizacji]
           ,[TrNTS_TS_ModList])
     VALUES
           (@TrNId
           ,CASE WHEN @Bufor = 1                          THEN 1   -- oczekuje na potwierdzenie
                   WHEN @Bufor = 0 AND @FAID is NULL AND ISNULL(@Zwroconocalailosc,0) < 3     THEN 2  -- potwierdzone
                   WHEN @Bufor = 0 AND @FAID is NOT NULL AND ISNULL(@Zwroconocalailosc,0) < 3 THEN 2  -- potwierdzone
                   WHEN @Bufor = 0 AND @FAID is NOT NULL AND ISNULL(@Zwroconocalailosc,0) > 2 THEN 3  -- zrealizowane
                   WHEN @Bufor = 0 AND @FAID is NULL AND ISNULL(@Zwroconocalailosc,0) = 4     THEN 3  -- zrealizowane
                   WHEN @Bufor = -1                         THEN 4  -- anulowane
   end
           ,@eSklepStatusPlatnosci
           ,@eSklepStatusDostawy
           ,@eSklepDataDost
           ,GETDATE()
           ,@TS_Zal
           ,CASE WHEN @Bufor = 0   THEN @TS_Mod else null end
           ,CASE WHEN @Bufor = 0 AND ((@FAID is NOT NULL AND ISNULL(@Zwroconocalailosc,0) > 2) or  ISNULL(@Zwroconocalailosc,0) = 4) THEN @TS_Mod
                   else null end
           ,CONVERT(DATETIME,0,120))
 end
 End
 IF (UPDATE(TrN_NrListuPrzewozowego) or UPDATE(TrN_NrListuPrzewozowegoTypKuriera))
 and
 (
  (@NrListuPrzewozowego != '' and not exists(select * from deleted where TrN_TrNID = @TrNId))
  or
  (
   exists(select * from deleted where TrN_TrNID = @TrNId)
   and (
    @NrListuPrzewozowego != (select top 1 trn_NrListuPrzewozowego from deleted where TrN_TrNID = @TrNId)
    or
    @NrListuPrzewozowegoTypKuriera != (select top 1 trn_NrListuPrzewozowegoTypKuriera from deleted where TrN_TrNID = @TrNId)
   )
  )
 )
 begin
 --jeszcze sprawdzić czy puste
 if isnull(@EsklepID,0) > 0
 begin
   update [CDN].[TraNagTSModEsklep]
    set [TrNTS_TS_ModList] = GETDATE() where [TrNTS_TrNId] = @TrNId
 end
 else
 begin
 -- sprawdzić czy ma RO z idesklep skojazone i je ruszyć
  update [CDN].[TraNagTSModEsklep]
    set [TrNTS_TS_ModList] = GETDATE() where [TrNTS_TrNId]
    in
    (
    select TrN_TrNId
    FROM CDN.TraNag A
         LEFT OUTER JOIN CDN.TraNagRelacje ON A.TrN_TrNID = TrR_faId AND TrR_faTyp = 308 AND (TrR_trnTyp = 302 or TrR_trnTyp = 305 or TrR_trnTyp = 306  or TrR_trnTyp = 320)
   where trr_trnid = @trnid and isnull(A.TrN_EsklepID,0) > 0 and ISNULL(A.TrN_NrListuPrzewozowego,'') = ''
    )
  update [CDN].[TraNagTSModEsklep]
    set [TrNTS_TS_ModList] = GETDATE() where [TrNTS_TrNId]
    in
    (
    select trN_faid
    FROM CDN.TraNag A
         LEFT OUTER JOIN CDN.TraNagRelacje ON A.TrN_TrNID = TrR_faId AND TrR_faTyp = 308 AND (TrR_trnTyp = 302 or TrR_trnTyp = 305 or TrR_trnTyp = 306  or TrR_trnTyp = 320)
   where trr_trnid = @trnid and isnull(TrN_EsklepID,0) > 0
    )
  update [CDN].[TraNagTSModEsklep]
    set [TrNTS_TS_ModList] = GETDATE() where [TrNTS_TrNId]
    in
    (
  select A.TrN_TrNId
  FROM CDN.TraNag A
         JOIN CDN.TraNagRelacje RELWZ ON A.TrN_TrNID = RELWZ.TrR_TrNId AND RELWZ.TrR_TrNTyp = 308 AND RELWZ.TrR_FATyp in (306,302,305)
         JOIN CDN.TraNag B ON RELWZ.TrR_FaId = B.TrN_TrNID
         JOIN CDN.TraNagRelacje RELFS ON RELWZ.TrR_FAID = RELFS.TrR_TrNId AND RELFS.TrR_TrNTyp in (306,302,305) AND (RELFS.TrR_FATyp = 302 or RELFS.TrR_FATyp = 305 or RELFS.TrR_FATyp = 306)
         JOIN CDN.TraNag c ON RELFS.TrR_FaId = c.TrN_TrNID
         WHERE C.TrN_TrNID = @trnid AND isnull(A.TrN_EsklepID,0) > 0  and ISNULL(A.TrN_NrListuPrzewozowego,'') = '' and ISNULL(B.TrN_NrListuPrzewozowego,'') = ''
   )
 end
 end
Close Dodane
Deallocate Dodane
SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[TraNag] ENABLE TRIGGER [TraNag_InsertUpdate_Trigger]
GO

# [TraNag_Update_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[TraNag_Update_Trigger]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TraNag_Update_Trigger]
 ON [CDN].[TraNag]
 FOR UPDATE
AS
 SET NOCOUNT ON
  if exists(select I.TrN_PreDekID from Inserted I join Deleted D On (I.Trn_TrnId = D.TrN_TrNId)
    where I.TrN_Bufor = -1 and I.TrN_Bufor <> D.TrN_Bufor)
  BEGIN
  -- Usuwanie wymiarów analitycznych
    DECLARE @WADokumentTypZakup int = 0;
    DECLARE @WADokumentTypSprzedaz int = 0;
    select @WADokumentTypZakup=id from CDN.ListaDokumentowWymiarowanych() where nazwa='Faktury zakupu';
    select @WADokumentTypSprzedaz=id from CDN.ListaDokumentowWymiarowanych() where nazwa='Faktury sprzedaży';
    if exists(select * from CDN.WymiaryWartosci where WyW_DokumentTyp in (@WADokumentTypZakup, @WADokumentTypSprzedaz) and WyW_DokumentId in (select Inserted.TrN_TrNId from Inserted where Inserted.TrN_Bufor = -1))
                delete from CDN.WymiaryWartosci where WyW_DokumentTyp in (@WADokumentTypZakup, @WADokumentTypSprzedaz)
                and WyW_DokumentId in (select Inserted.TrN_TrNId from Inserted where Inserted.TrN_Bufor = -1)
    if exists(select I.TrN_PreDekID from Inserted I where I.TrN_PreDekID is not null)
      delete from CDN.DekretyNag  where DeN_DeNId in (
        select I.TrN_PreDekID from Inserted I join Deleted D On (I.Trn_TrnId = D.TrN_TrNId)
        where I.TrN_Bufor = -1 and I.TrN_Bufor <> D.TrN_Bufor )
  END
  ELSE
    if (Update (TrN_Fiskalna) AND UPDATE(TrN_FiskalnaErr))
    if not exists(
        select * from CDN.dokKodyJPKV7
        join cdn.KodyJPKV7 on KV7_KV7Id = DKV7_KV7Id
        join Inserted on trn_trnid = DKV7_ParentID and DKV7_ParentTyp = 1 and KV7_Kod = 'FP'
 )
 and
    not exists(
        select * from CDN.dokKodyJPKV7
        join cdn.KodyJPKV7 on KV7_KV7Id = DKV7_KV7Id
        join Inserted on trn_trnid = DKV7_ParentID and DKV7_ParentTyp = 1 and KV7_Rodzaj =3
  )
        INSERT INTO [CDN].[DokKodyJPKV7]
           ([DKV7_ParentTyp]
           ,[DKV7_ParentID]
           ,[DKV7_KV7ID]
     ,[DKV7_Status])
        select 1,TrN_trNID,KV7_KV7ID, 3 from Inserted
        join cdn.KodyJPKV7 on KV7_Kod = 'FP'
        where TrN_Fiskalna = 1 and isnull(TrN_FiskalnaErr,0) = 0 and TrN_TypDokumentu = 302
 SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[TraNag] ENABLE TRIGGER [TraNag_Update_Trigger]
GO

# [TraNagRelacje_Delete_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[TraNagRelacje_Delete_Trigger]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TraNagRelacje_Delete_Trigger]
  ON [CDN].[TraNagRelacje]
  FOR DELETE
AS
SET NOCOUNT ON
SET ARITHABORT ON
/* DECLARE
   @TrR_TrRId INT,
   @TrR_FaId INT,
   @TrR_TrNId INT,
   @TrR_TrNTyp INT,
   @TrR_FaTyp INT,
   @TrR_Flaga INT*/
  --IF EXISTS (SELECT TrR_FaTyp FROM inserted WHERE TrR_FaTyp IS NULL OR TrR_FaTyp = 0)
   BEGIN
/*    DECLARE Dodawane CURSOR LOCAL FAST_FORWARD FOR
     SELECT Trr_TrRId,Trr_FaId,Trr_FaTyp,Trr_TrNTyp, Trr_TrNId,TrR_Flaga  FROM deleted
      OPEN Dodawane
      WHILE 1=1
       BEGIN
        FETCH NEXT FROM Dodawane INTO @TrR_TrRId, @TrR_FaId, @TrR_FaTyp, @TrR_TrNTyp, @TrR_TrNId, @TrR_Flaga
        IF @@FETCH_STATUS <> 0 BREAK
  */
         update t set trn_statusint = CDN.TrnStatusInt(d.TrR_FaId ,d.TrR_FaTyp ,d.TrR_TrNId ,d.TrR_TrNTyp, 0)
from cdn.tranag t
join deleted d on t.trn_trnid = d.TrR_FaId
         update cdn.tranag set trn_statusint = CDN.TrnStatusInt(d.TrR_TrNId ,d.TrR_TrNTyp ,d.TrR_FAId ,d.TrR_FATyp, 0)
from cdn.tranag t
join deleted d on t.trn_trnid = d.TrR_TrNId
 /*      END
      CLOSE Dodawane
     DEALLOCATE Dodawane*/
   END
SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[TraNagRelacje] ENABLE TRIGGER [TraNagRelacje_Delete_Trigger]
GO

# [TraNagRelacje_InsertUpdate_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[TraNagRelacje_InsertUpdate_Trigger]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TraNagRelacje_InsertUpdate_Trigger]
  ON [CDN].[TraNagRelacje]
  FOR INSERT,UPDATE
AS
SET NOCOUNT ON
SET ARITHABORT ON
 DECLARE
   @TrR_TrRId INT,
   @TrR_FaId INT,
   @TrR_TrNId INT,
   @TrR_TrNTyp INT,
   @TrR_FaTyp INT,
   @TrR_FaIdLocal INT,
   @TrR_TrNIdLocal INT,
   @TrR_TrNTypLocal INT,
   @TrR_FaTypLocal INT,
   @TrR_Flaga INT
create table #WZ (TrR_FaIdlocal int,TrR_FaTyplocal int)
  --IF EXISTS (SELECT TrR_FaTyp FROM inserted WHERE TrR_FaTyp IS NULL OR TrR_FaTyp = 0)
   BEGIN
    DECLARE Dodawane CURSOR LOCAL FAST_FORWARD FOR
     SELECT Trr_TrRId,Trr_FaId,Trr_FaTyp,Trr_TrNTyp, Trr_TrNId,TrR_Flaga  FROM inserted
      OPEN Dodawane
      WHILE 1=1
       BEGIN
        FETCH NEXT FROM Dodawane INTO @TrR_TrRId, @TrR_FaId, @TrR_FaTyp, @TrR_TrNTyp, @TrR_TrNId, @TrR_Flaga
        IF @@FETCH_STATUS <> 0 BREAK
        -- szukamy typu dokukumentu skojarzonego i updatujemy
         IF ISNULL(@TrR_FaTyp,0)=0
         BEGIN
         SELECT @TrR_FaTyp = TrN_TypDokumentu FROM CDN.TraNag WHERE TrN_TrNId = @TrR_FaId
         UPDATE R SET R.TrR_FaTyp = @TrR_FaTyp FROM CDN.TraNagRelacje R WHERE R.TrR_TrRId =  @TrR_TrRId
         END
        -- flaga 3 to FA do PA po przekształceniu zmieniamy na 0
         UPDATE  CDN.TraNagRelacje  SET TrR_Flaga = 0 WHERE TrR_Flaga =  3
         update cdn.tranag set trn_statusint = CDN.TrnStatusInt(@TrR_FaId ,@TrR_FaTyp ,@TrR_TrNId ,@TrR_TrNTyp, 1) where trn_trnid = @TrR_FaId
         update cdn.tranag set trn_statusint = CDN.TrnStatusInt(@TrR_TrNId ,@TrR_TrNTyp ,@TrR_FAId ,@TrR_FATyp, 1) where trn_trnid = @TrR_TrNId
         IF EXISTS (SELECT * from inserted) AND NOT EXISTS (Select * from deleted)
         BEGIN
          IF EXISTS  (
            SELECT * FROM cdn.TraNagRelacje WHERE TrR_TrNId = @TrR_TrNId AND TrR_TrNTyp = @TrR_TrNTyp
                                            AND TrR_FaId = @TrR_FaId AND TrR_FaTyp = @TrR_FaTyp
                                            AND TrR_TrRId <> @TrR_TrRId
                     )
           BEGIN
            -- aby nie duplikowac zapisow w CDN.TraNagRelacje kasujemy jesli taki zapis już istnieje
            DELETE FROM CDN.TraNagRelacje WHERE TrR_TrRId = @TrR_TrRId
           END
        ELSE
           BEGIN
            -- jeśli rekord nieistnieje to należy zrobić relację w drugą strone
            INSERT INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
            VALUES (@TrR_FaId, @TrR_FaTyp, @TrR_TrNId, @TrR_TrNTyp, @TrR_Flaga)
           END
         END
        -- tworzymy relacje dla dokumentow w scenariuszu WZ -> WKA -> WZFA, PZ -> PKA -> PZFZ --                                                                                   --
      /*  IF (@TrR_FaTyp IN (306,307) OR @TrR_TrNTyp IN (306,307))
         BEGIN
          IF EXISTS (
             SELECT TrR_TrRId FROM CDN.TraNagRelacje WHERE TrR_TrNId = @TrR_FaId
                                                     AND TrR_FaId <> @TrR_TrNId
                                                     AND TrR_FaTyp IN (313,314)
                     )
            BEGIN
             -- najpierw relacja w jedną stronę
             INSERT INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
             SELECT @TrR_TrNId, @TrR_TrNTyp, TrR_FaId, TrR_FaTyp, 0 FROM CDN.TraNagRelacje
                          WHERE TrR_TrNId = @TrR_FaId AND TrR_FaId <> @TrR_TrNId AND TrR_FaTyp IN (313,314)
             -- teraz relacja w drugą stronę
             INSERT INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
             SELECT TrR_FaId, TrR_FaTyp, @Trr_TrNId, @Trr_TrNTyp, 0 FROM CDN.TraNagRelacje
                          WHERE TrR_TrNId = @TrR_FaId AND TrR_FaId <> @TrR_TrNId AND TrR_FaTyp IN (313,314)
            END
       SO, wykomentowalem bo tworzylo za duzo relacji i nie bardzo wiem do czego mialo słuzyc
          IF EXISTS (
             SELECT TrR_TrRId FROM CDN.TraNagRelacje WHERE TrR_TrNId = @TrR_TrNId
                                                     AND TrR_FaId <> @TrR_FaId
                                                     AND TrR_FaTyp IN (313,314)
                    )
            BEGIN
             -- najpierw relacja w jedną stronę
             INSERT INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
             SELECT @TrR_FaId, @TrR_FaTyp, TrR_FaId, TrR_FaTyp, 0 FROM CDN.TraNagRelacje
                         WHERE TrR_TrNId = @TrR_TrNId AND TrR_FaId <> @TrR_FaId AND TrR_FaTyp IN (313,314)
              -- teraz relacja w drugą stronę
             INSERT INTO cdn.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
             SELECT TrR_FaId, TrR_FaTyp, @Trr_FaId, @Trr_FaTyp, 0 FROM CDN.TraNagRelacje
                         WHERE TrR_TrNId = @TrR_TrNId AND TrR_FaId <> @TrR_FaId AND TrR_FaTyp IN (313,314)
            END
          END
        -- tworzymy relacje dla dokumentow w scenariuszu FA -> WZ/WKA , FZ -> PZ/PKA  --
        -- spinamy ze sobą te dokumenty, także spinamy kiedy dogenerowujemy WK        --
         IF  (@TrR_FaTyp IN (313,314) OR @TrR_TrNTyp IN (313,314))
         BEGIN
          IF EXISTS (
                 SELECT TrR_TrRId FROM CDN.TraNagRelacje WHERE TrR_TrNId = @TrR_TrNId
                           AND TrR_FaId <> @TrR_FaId AND TrR_FaTyp in (306,307)
                           AND TrR_Flaga <> 1 --SO
                    )
           BEGIN
            -- najpierw relacja w jedną stronę
            INSERT INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
     SELECT @TrR_FaId, @TrR_FaTyp, TrR_FaId, TrR_FaTyp, 0 FROM CDN.TraNagRelacje
                         WHERE TrR_TrNId = @TrR_TrNId AND TrR_FaId <> @TrR_FaId AND TrR_FaTyp IN (306,307)
             -- teraz relacja w drugą stronę
            INSERT INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
            SELECT TrR_FaId, TrR_FaTyp, @Trr_FaId, @Trr_FaTyp, 0 FROM CDN.TraNagRelacje
                         WHERE TrR_TrNId = @TrR_TrNId AND TrR_FaId <> @TrR_FaId AND TrR_FaTyp IN (306,307)
           END
          IF EXISTS (
                 SELECT TrR_TrRId FROM CDN.TraNagRelacje WHERE TrR_TrNId = @TrR_FaId
                           AND TrR_FaId <> @TrR_TrNId AND TrR_FaTyp in (306,307)
                           AND TrR_Flaga <> 1 --SO
                    )
           BEGIN
            -- najpierw relacja w jedną stronę
            INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
            SELECT @TrR_TrNId, @TrR_TrNTyp, TrR_FaId, TrR_FaTyp, 0 FROM CDN.TraNagRelacje
                         WHERE TrR_TrNId = @TrR_FaId AND TrR_FaId <> @TrR_TrNId AND TrR_FaTyp IN (306,307)
             -- teraz relacja w drugą stronę
            INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
            SELECT TrR_FaId, TrR_FaTyp, @TrR_TrNId, @Trr_TrNTyp, 0 FROM CDN.TraNagRelacje
                         WHERE TrR_TrNId = @TrR_FaId AND TrR_FaId <> @TrR_TrNId AND TrR_FaTyp IN (306,307)
           END
          END*/
        -- tworzymy relacje dla dokumentow w scenariuszu FPF -> WZ -> FPFFA           --
        -- spinamy ze sobą te dokumenty, także spinamy kiedy dogenerowujemy WK        --
        --SO IF (@TrR_FaTyp = 320 OR @TrR_TrNTyp = 320)
            IF ((@TrR_FaTyp = 320 AND @Trr_TrNTyp not in (309,306) AND (SELECT TOP 1 1 FROM CDN.TraNag WHERE TrN_TRNId = @TrR_TrNId AND TrN_Rodzaj<>302200) = 1)
            OR (@TrR_TrNTyp = 320 AND @Trr_FaTyp not in (309,306) AND (SELECT TOP 1 1 FROM CDN.TraNag WHERE TrN_TRNId = @TrR_FaId AND TrN_Rodzaj<>302200) = 1))
          BEGIN
           IF EXISTS (
                  SELECT TrR_TrRId FROM CDN.TraNagRelacje WHERE TrR_TrNId = @TrR_FaId
                            AND TrR_FaId <> @TrR_TrNId AND TrR_FaTyp IN (306,307)
                      )
            BEGIN
             -- najpierw relacja w jedną stronę
             INSERT INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
             SELECT @TrR_TrNId, @TrR_TrNTyp, A.TrR_FaId, A.TrR_FaTyp, 0 FROM CDN.TraNagRelacje A
                          WHERE A.TrR_TrNId = @TrR_FaId AND A.TrR_FaId <> @TrR_TrNId AND A.TrR_FaTyp IN (306,307)
             AND NOT EXISTS (SELECT B.Trr_TrRId FROM CDN.TraNagRelacje B WHERE B.Trr_TrNId = @Trr_FaId ANd B.Trr_FaId = A.Trr_FaId
                               AND B.TrR_FaTyp = A.Trr_FaTyp)
             -- teraz relacja w drugą stronę
            INSERT INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
             SELECT A.TrR_FaId, A.TrR_FaTyp, @TrR_TrNId, @TrR_TrNTyp, 0 FROM CDN.TraNagRelacje A
                          WHERE A.TrR_TrNId = @TrR_FaId AND A.TrR_FaId <> @TrR_TrNId AND A.TrR_FaTyp IN (306,307)
             AND NOT EXISTS (SELECT B.Trr_TrRId FROM CDN.TraNagRelacje B WHERE B.Trr_TrNId = @Trr_FaId ANd B.Trr_FaId = A.Trr_FaId
                               AND B.TrR_FaTyp = A.Trr_FaTyp)
            END
            IF EXISTS (
                  SELECT TrR_TrRId FROM CDN.TraNagRelacje WHERE TrR_TrNId = @TrR_TrNId
                            AND TrR_FaId <> @TrR_FaId AND TrR_FaTyp IN (306,307)
                      )
            BEGIN
             -- najpierw relacja w jedną stronę
/*
            INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
             SELECT @TrR_FaId, @TrR_FaTyp , A.TrR_FaId, A.TrR_FaTyp, 0 FROM cdn.TraNagRelacje A
                          WHERE A.TrR_TrNId = @TrR_TrNId AND A.TrR_FaId <> @TrR_FaId AND A.TrR_FaTyp IN (306,307)
               AND NOT EXISTS (SELECT B.Trr_TrRId FROM CDN.TraNagRelacje B WHERE B.Trr_TrNId = @Trr_FaId ANd B.Trr_FaId = A.Trr_FaId
                               AND B.TrR_FaTyp = A.Trr_FaTyp)
             -- teraz relacja w drugą stronę
            INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
             SELECT A.TrR_FaId, A.TrR_FaTyp, @TrR_FaId , @TrR_FaTyp , 0 FROM CDN.TraNagRelacje A
                          WHERE A.TrR_TrNId = @TrR_TrNId AND A.TrR_FaId <> @TrR_FaId AND A.TrR_FaTyp IN (306,307)
                    AND NOT EXISTS (SELECT B.Trr_TrRId FROM CDN.TraNagRelacje B WHERE B.Trr_TrNId = @Trr_FaId ANd B.TrR_TrNId = A.TrR_FaId
                               AND B.TrR_TrNTyp = A.TrR_FaTyp)
*/
            delete from #WZ
            insert into #WZ(TrR_FaIdlocal,TrR_FaTyplocal)
            SELECT A.TrR_FaId, A.TrR_FaTyp FROM cdn.TraNagRelacje A
             WHERE A.TrR_TrNId = @TrR_TrNId AND A.TrR_FaId <> @TrR_FaId AND A.TrR_FaTyp IN (306,307)
               AND NOT EXISTS (SELECT B.Trr_TrRId FROM CDN.TraNagRelacje B WHERE B.Trr_TrNId = @Trr_FaId ANd B.Trr_FaId = A.Trr_FaId
                               AND B.TrR_FaTyp = A.Trr_FaTyp)
               AND NOT EXISTS (SELECT C.Trr_TrRId FROM CDN.TraNagRelacje C where A.TrR_FaId = C.TrR_TrNID AND  c.Trr_FaTyp = 302)
             INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
             SELECT @TrR_FaId, @TrR_FaTyp , TrR_FaIdlocal, TrR_FaTyplocal, 0 from #WZ
             INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
             SELECT TrR_FaIdlocal, TrR_FaTyplocal, @TrR_FaId , @TrR_FaTyp , 0 from #WZ
             update cdn.tranag set trn_statusint = trn_statusint+2 where trn_trnid in (select TrR_FaIdlocal from #WZ where TrR_FaTyplocal = 306) and  trn_rodzaj = 306010
    update WZKOR set WZKOR.trn_statusint = WZKOR.trn_statusint+2 from cdn.tranag WZKOR join cdn.tranag WZ ON WZKOR.TRN_ZwrID = WZ.TRN_TrNID where  WZ.trn_trnid in (select TrR_FaIdlocal from #WZ where TrR_FaTyplocal = 306) and WZKOR.trn_trnid in (select TrR_FaIdlocal from #WZ where TrR_FaTyplocal = 306) and  WZKOR.trn_rodzaj = 306001 and  WZ.trn_rodzaj = 306010
            END
          END
    /* RT wiele Pa do FA
         IF ((@TrR_FaTyp = 302 AND @Trr_TrNTyp = 306 AND (SELECT TOP 1 1 FROM CDN.TraNagRelacje WHERE TrR_TrNId = @TrR_FaId AND TrR_FaId <> @TrR_TrNId AND TrR_FaTyp =305) = 1)
         OR (@TrR_TrNTyp = 302 AND @Trr_FaTyp = 306 AND (SELECT TOP 1 1 FROM CDN.TraNagRelacje WHERE TrR_TrNId = @TrR_TrNId AND TrR_FaId <> @TrR_FaId AND TrR_TrNTyp =305) = 1))
          BEGIN
         IF EXISTS (
                  SELECT TrR_TrRId FROM CDN.TraNagRelacje WHERE TrR_TrNId = @TrR_FaId
                            AND TrR_FaId <> @TrR_TrNId AND TrR_FaTyp =305
                      )
            BEGIN
             -- najpierw relacja w jedną stronę
             INSERT INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
             SELECT @TrR_TrNId, @TrR_TrNTyp, A.TrR_FaId, A.TrR_FaTyp, 0 FROM CDN.TraNagRelacje A
                          WHERE A.TrR_TrNId = @TrR_FaId AND A.TrR_FaId <> @TrR_TrNId AND A.TrR_FaTyp = 305
             AND NOT EXISTS (SELECT B.Trr_TrRId FROM CDN.TraNagRelacje B WHERE B.Trr_TrNId = @TrR_TrNId ANd B.Trr_FaId = A.Trr_FaId)
             -- teraz relacja w drugą stronę
             INSERT INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
             SELECT A.TrR_FaId, A.TrR_FaTyp, @TrR_TrNId, @TrR_TrNTyp, 0 FROM CDN.TraNagRelacje A
                          WHERE A.TrR_TrNId = @TrR_FaId AND A.TrR_FaId <> @TrR_TrNId AND A.TrR_FaTyp = 305
             AND NOT EXISTS (SELECT B.Trr_TrRId FROM CDN.TraNagRelacje B WHERE B.Trr_FAId = @TrR_TrNId ANd B.Trr_TrNId = A.Trr_FaId)
            END
            IF EXISTS (
                  SELECT TrR_TrRId FROM CDN.TraNagRelacje WHERE TrR_TrNId = @TrR_TrNId
                            AND TrR_FaId <> @TrR_FaId AND TrR_TrNTyp = 305
                      )
            BEGIN
             -- najpierw relacja w jedną stronę
            INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
             SELECT @TrR_FaId, @TrR_FaTyp , A.TrR_FaId, A.TrR_FaTyp, 0 FROM cdn.TraNagRelacje A
                          WHERE A.TrR_TrNId = @TrR_TrNId AND A.TrR_FaId <> @TrR_FaId AND A.TrR_FaTyp = 305
               AND NOT EXISTS (SELECT B.Trr_TrRId FROM CDN.TraNagRelacje B WHERE B.Trr_TrNId = @TrR_FaId ANd B.Trr_FaId = A.Trr_FaId)
             -- teraz relacja w drugą stronę
            INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
             SELECT A.TrR_FaId, A.TrR_FaTyp, @TrR_FaId , @TrR_FaTyp , 0 FROM CDN.TraNagRelacje A
                          WHERE A.TrR_TrNId = @TrR_TrNId AND A.TrR_FaId <> @TrR_FaId AND A.TrR_FaTyp = 305
                    AND NOT EXISTS (SELECT B.Trr_TrRId FROM CDN.TraNagRelacje B WHERE B.Trr_FAId = @TrR_FaId ANd B.Trr_TrNId = A.Trr_FaId)
            END
          END
*/
         --korekta do zaliczkowej podpinamy relacje do RO
            IF (@TrR_FaTyp = 320 AND @Trr_TrNTyp = 302 AND (SELECT TOP 1 1 FROM CDN.TraNag WHERE TrN_TRNId = @TrR_TrNId AND TrN_Rodzaj=302202) = 1)
            BEGIN
            IF EXISTS (
                  SELECT TrR_TrRId FROM CDN.TraNagRelacje WHERE TrR_TrNId = @TrR_FaId
                            AND TrR_FaTyp =308
                      )
               BEGIN
               delete from #WZ
               insert into #WZ(TrR_FaIdlocal,TrR_FaTyplocal)
               SELECT A.TrR_FaId, A.TrR_FaTyp FROM cdn.TraNagRelacje A
               WHERE A.TrR_TrNId = @TrR_FaId AND  A.TrR_FaTyp = 308
               AND NOT EXISTS (SELECT B.Trr_TrRId FROM CDN.TraNagRelacje B WHERE B.Trr_TrNId = @Trr_TrNId ANd B.Trr_FaId = A.Trr_FaId
                               AND B.TrR_FaTyp = A.Trr_FaTyp)
               INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
               SELECT @TrR_TrNId, @TrR_TrNTyp , TrR_FaIdlocal, TrR_FaTyplocal, 1 from #WZ
               INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
               SELECT TrR_FaIdlocal, TrR_FaTyplocal, @TrR_TrNId , @TrR_TrNTyp , 1 from #WZ
               END
             END
            --korekta do zaliczkowej podpinamy relacje do RO
            IF (@TrR_TrNTyp = 320 AND @Trr_FaTyp = 302 AND (SELECT TOP 1 1 FROM CDN.TraNag WHERE TrN_TRNId = @TrR_FaId AND TrN_Rodzaj=302202) = 1)
            BEGIN
             IF EXISTS (
                  SELECT TrR_TrRId FROM CDN.TraNagRelacje WHERE TrR_TrNId = @TrR_TrNId
                            AND TrR_FaTyp =308
                      )
              BEGIN
               delete from #WZ
               insert into #WZ(TrR_FaIdlocal,TrR_FaTyplocal)
               SELECT A.TrR_FaId, A.TrR_FaTyp FROM cdn.TraNagRelacje A
               WHERE A.TrR_TrNId = @TrR_TrNId AND  A.TrR_FaTyp = 308
               AND NOT EXISTS (SELECT B.Trr_TrRId FROM CDN.TraNagRelacje B WHERE B.Trr_TrNId = @Trr_FaId ANd B.Trr_FaId = A.Trr_FaId
                               AND B.TrR_FaTyp = A.Trr_FaTyp)
               INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
               SELECT @TrR_FaId, @TrR_FaTyp , TrR_FaIdlocal, TrR_FaTyplocal, 1 from #WZ
               INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
               SELECT TrR_FaIdlocal, TrR_FaTyplocal, @TrR_FaId , @TrR_FaTyp , 1 from #WZ
               END
             END
            -- PF->ZL i teraz RO trzeba podpiąć do RO ZL
            IF @TrR_TrNTyp = 320 AND @Trr_FaTyp = 308
            BEGIN
             IF EXISTS (
                  SELECT TrR_TrRId FROM CDN.TraNagRelacje
                    join cdn.tranag on trn_trnid = trr_faid WHERE TrR_TrNId = @TrR_TrNId
                            AND TrR_FaTyp =302 and TrN_Rodzaj=302200
                      )
              BEGIN
               delete from #WZ
               insert into #WZ(TrR_FaIdlocal,TrR_FaTyplocal)
               SELECT A.TrR_FaId, A.TrR_FaTyp FROM cdn.TraNagRelacje A
               join cdn.tranag on trn_trnid = A.trr_faid
               WHERE A.TrR_TrNId = @TrR_TrNId AND  A.TrR_FaTyp = 302 and TrN_Rodzaj=302200
               AND NOT EXISTS (SELECT B.Trr_TrRId FROM CDN.TraNagRelacje B WHERE B.Trr_TrNId = @Trr_FaId ANd B.Trr_FaId = A.Trr_FaId
                               AND B.TrR_FaTyp = A.Trr_FaTyp)
               INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
               SELECT @TrR_FaId, @TrR_FaTyp , TrR_FaIdlocal, TrR_FaTyplocal, 1 from #WZ
               INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
               SELECT TrR_FaIdlocal, TrR_FaTyplocal, @TrR_FaId , @TrR_FaTyp , 1 from #WZ
               END
             END
            IF @TrR_FaTyp = 320 AND @Trr_TrNTyp = 308
            BEGIN
            IF EXISTS (
                  SELECT TrR_TrRId FROM CDN.TraNagRelacje
                    join cdn.tranag on trn_trnid = trr_faid WHERE TrR_TrNId = @TrR_FaId
                            AND TrR_FaTyp =302 and TrN_Rodzaj=302200
                      )
               BEGIN
               delete from #WZ
               insert into #WZ(TrR_FaIdlocal,TrR_FaTyplocal)
               SELECT A.TrR_FaId, A.TrR_FaTyp FROM cdn.TraNagRelacje A
               join cdn.tranag on trn_trnid = A.trr_faid
               WHERE A.TrR_TrNId = @TrR_FaId AND  A.TrR_FaTyp = 302 and TrN_Rodzaj=302200
               AND NOT EXISTS (SELECT B.Trr_TrRId FROM CDN.TraNagRelacje B WHERE B.Trr_TrNId = @Trr_TrNId ANd B.Trr_FaId = A.Trr_FaId
                               AND B.TrR_FaTyp = A.Trr_FaTyp)
               INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
               SELECT @TrR_TrNId, @TrR_TrNTyp , TrR_FaIdlocal, TrR_FaTyplocal, 1 from #WZ
               INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
               SELECT TrR_FaIdlocal, TrR_FaTyplocal, @TrR_TrNId , @TrR_TrNTyp , 1 from #WZ
               END
             END
         IF @TrR_FaTyp = 302 AND @Trr_TrNTyp = 320 and (SELECT TOP 1 1 FROM CDN.TraNag WHERE TrN_TrNId = @TrR_FaId AND TrN_Rodzaj not in (302202, 302200)) = 1
            BEGIN
            IF EXISTS (
                  SELECT TrR_TrRId FROM CDN.TraNagRelacje
                    join cdn.tranag on trn_trnid = trr_faid WHERE TrR_TrNId = @TrR_trnId
                            AND TrR_FaTyp =308
                      )
               BEGIN
               delete from #WZ
               insert into #WZ(TrR_FaIdlocal,TrR_FaTyplocal)
               SELECT A.TrR_FaId, A.TrR_FaTyp FROM cdn.TraNagRelacje A
               join cdn.tranag on trn_trnid = A.trr_faid
               WHERE A.TrR_TrNId = @TrR_TrNId AND  A.TrR_FaTyp = 308
               AND NOT EXISTS (SELECT B.Trr_TrRId FROM CDN.TraNagRelacje B WHERE B.Trr_TrNId = @Trr_FAId ANd B.Trr_FaId = A.Trr_FaId
                               AND B.TrR_FaTyp = A.Trr_FaTyp)
               INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
               SELECT @TrR_FAId, @TrR_FATyp , TrR_FaIdlocal, TrR_FaTyplocal, 0 from #WZ
               INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
               SELECT TrR_FaIdlocal, TrR_FaTyplocal, @TrR_FAId , @TrR_FATyp , 0 from #WZ
               END
             END
          IF @TrR_FaTyp = 320 AND @Trr_TrNTyp = 302 and (SELECT TOP 1 1 FROM CDN.TraNag WHERE TrN_TrNId = @TrR_TrNId AND TrN_Rodzaj not in (302202, 302200)) = 1
            BEGIN
            IF EXISTS (
                  SELECT TrR_TrRId FROM CDN.TraNagRelacje
                    join cdn.tranag on trn_trnid = trr_faid WHERE TrR_TrNId = @TrR_FAId
                            AND TrR_FaTyp =308
                      )
               BEGIN
               delete from #WZ
               insert into #WZ(TrR_FaIdlocal,TrR_FaTyplocal)
               SELECT A.TrR_FaId, A.TrR_FaTyp FROM cdn.TraNagRelacje A
               join cdn.tranag on trn_trnid = A.trr_faid
               WHERE A.TrR_TrNId = @TrR_FAId AND  A.TrR_FaTyp = 308
               AND NOT EXISTS (SELECT B.Trr_TrRId FROM CDN.TraNagRelacje B WHERE B.Trr_TrNId = @Trr_TRNId ANd B.Trr_FaId = A.Trr_FaId
                               AND B.TrR_FaTyp = A.Trr_FaTyp)
               INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
               SELECT @TrR_TRNId, @TrR_TrNTyp , TrR_FaIdlocal, TrR_FaTyplocal, 0 from #WZ
               INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
               SELECT TrR_FaIdlocal, TrR_FaTyplocal, @TrR_TrNId , @TrR_TrNTyp , 0 from #WZ
               END
             END
    IF @TrR_FaTyp = 301 AND @Trr_TrNTyp = 350
            BEGIN
            IF EXISTS (
                  SELECT trn_trnid FROM CDN.TraNag
                    WHERE TrN_ZwrId = @TrR_TrNId
                        )
               BEGIN
               delete from #WZ
               insert into #WZ(TrR_FaIdlocal,TrR_FaTyplocal)
               SELECT TrN_TrNId, TrN_Typdokumentu FROM cdn.TraNag
               WHERE TrN_ZwrId = @TrR_TrNId and TrN_Bufor != -1
               AND NOT EXISTS (SELECT B.Trr_TrRId FROM CDN.TraNagRelacje B WHERE B.Trr_TrNId = @Trr_FAId ANd B.Trr_TrNId = TrN_TrNId
                               AND B.TrR_TrNTyp = TrN_Typdokumentu)
               INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
               SELECT @TrR_FAId, @TrR_FaTyp , TrR_FaIdlocal, TrR_FaTyplocal, 0 from #WZ
               INSERT  INTO CDN.TraNagRelacje(TrR_TrNId, TrR_TrNTyp, TrR_FaId, TrR_FaTyp, TrR_Flaga)
               SELECT TrR_FaIdlocal, TrR_FaTyplocal, @TrR_FaId , @TrR_FaTyp , 0 from #WZ
               END
             END
       END
      CLOSE Dodawane
     DEALLOCATE Dodawane
   END
SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[TraNagRelacje] ENABLE TRIGGER [TraNagRelacje_InsertUpdate_Trigger]
GO

# [TraSElem_InsertUpdateDelete_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[TraSElem_InsertUpdateDelete_Trigger]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TraSElem_InsertUpdateDelete_Trigger]
  ON [CDN].[TraSElem]
  FOR INSERT, UPDATE, DELETE
AS
  DECLARE
    -- zmienne pomocnicze dla kursora
    @TrS_TrSId      INT,
    @TrS_TrEId      INT,
    @TrS_TrSIdDost  INT,
    @TrS_ZwrId      INT,
    @TrS_TwrId      INT,
    @TrS_MagId      INT,
    @TrS_Rodzaj     INT,
    @TrS_Typ        INT,
    @TrS_Metoda     INT,
    @TrS_DataOpe    DATETIME,
    @TrS_Ilosc      DECIMAL(15,4),
    @TrS_Wartosc    DECIMAL(15,2),
    @TrS_Cena       DECIMAL(17,4)
  SET NOCOUNT ON
 IF  UPDATE( TrS_WyborDostaw )
 AND NOT UPDATE( TrS_TrEId)
 AND NOT UPDATE( TrS_TrSIdDost)
 AND NOT UPDATE( TrS_TrEIdWydania)
 AND NOT UPDATE( TrS_ZwrId)
 AND NOT UPDATE( TrS_TwrId)
 AND NOT UPDATE( TrS_MagId)
 AND NOT UPDATE( TrS_Rodzaj)
 AND NOT UPDATE( TrS_Typ)
 AND NOT UPDATE( TrS_Metoda)
 AND NOT UPDATE( TrS_DataOpe)
 AND NOT UPDATE( TrS_Ilosc)
 AND NOT UPDATE( TrS_Wartosc)
 AND NOT UPDATE( TrS_Cena)
 return
  -- subelementy kasowane
  DECLARE Kasowane CURSOR LOCAL FAST_FORWARD FOR
    SELECT                             TrS_TrSId,  TrS_TrEId,  TrS_TrSIdDost,  TrS_ZwrId,  TrS_TwrId,  TrS_MagId,  TrS_Rodzaj,  TrS_Typ,  TrS_Metoda,  TrS_DataOpe,  TrS_Ilosc,  TrS_Wartosc,  TrS_Cena
    FROM deleted
    ORDER BY TrS_Typ DESC, TrS_TrSId DESC
    OPEN Kasowane
      WHILE 1=1
      BEGIN
        FETCH NEXT FROM Kasowane INTO @TrS_TrSId, @TrS_TrEId, @TrS_TrSIdDost, @TrS_ZwrId, @TrS_TwrId, @TrS_MagId, @TrS_Rodzaj, @TrS_Typ, @TrS_Metoda, @TrS_DataOpe, @TrS_Ilosc, @TrS_Wartosc, @TrS_Cena
        IF @@FETCH_STATUS <> 0 BREAK
          EXECUTE CDN.AktualizujTwrZasoby 2, @TrS_TrSId, @TrS_TrEId, @TrS_TrSIdDost, @TrS_ZwrId, @TrS_TwrId, @TrS_MagId, @TrS_Rodzaj, @TrS_Typ, @TrS_Metoda, @TrS_DataOpe, @TrS_Ilosc, @TrS_Wartosc, @TrS_Cena
      END
    CLOSE Kasowane
  DEALLOCATE Kasowane
  -- subelementy dodawane
  DECLARE Dodawane CURSOR LOCAL FAST_FORWARD FOR
    SELECT                             TrS_TrSId,  TrS_TrEId,  TrS_TrSIdDost,  TrS_ZwrId,  TrS_TwrId,  TrS_MagId,  TrS_Rodzaj,  TrS_Typ,  TrS_Metoda,  TrS_DataOpe,  TrS_Ilosc,  TrS_Wartosc,  TrS_Cena
    FROM inserted
    ORDER BY TrS_Typ DESC, TrS_TrSId DESC
    OPEN Dodawane
      WHILE 1=1
      BEGIN
        FETCH NEXT FROM Dodawane INTO @TrS_TrSId, @TrS_TrEId, @TrS_TrSIdDost, @TrS_ZwrId, @TrS_TwrId, @TrS_MagId, @TrS_Rodzaj, @TrS_Typ, @TrS_Metoda, @TrS_DataOpe, @TrS_Ilosc, @TrS_Wartosc, @TrS_Cena
        IF @@FETCH_STATUS <> 0 BREAK
          EXECUTE CDN.AktualizujTwrZasoby 1, @TrS_TrSId, @TrS_TrEId, @TrS_TrSIdDost, @TrS_ZwrId, @TrS_TwrId, @TrS_MagId, @TrS_Rodzaj, @TrS_Typ, @TrS_Metoda, @TrS_DataOpe, @TrS_Ilosc, @TrS_Wartosc, @TrS_Cena
          --IF @TrS_Rodzaj in(308000,308011,309000)
          --   EXECUTE CDN.UstawStatusRezerwacji @TrS_TrEId
      END
    CLOSE Dodawane
  DEALLOCATE Dodawane
  SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[TraSElem] ENABLE TRIGGER [TraSElem_InsertUpdateDelete_Trigger]
GO

# [TrasElemDost_InsertUpdate_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[TrasElemDost_InsertUpdate_Trigger]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create TRIGGER [CDN].[TrasElemDost_InsertUpdate_Trigger]
  ON [CDN].[TraSElemDost]
  FOR INSERT, UPDATE, DELETE
AS
 /*IF  UPDATE( TsD_DataOpe )
       AND NOT UPDATE( TsD_TsDID )
       AND NOT UPDATE( TsD_TrSID  )
       AND NOT UPDATE( TsD_TrEId  )
       AND NOT UPDATE( TsD_TrSIdDost )
       AND NOT UPDATE( TsD_NumerPelny  )
       AND NOT UPDATE( TsD_NumerObcy  )
       AND NOT UPDATE( TsD_Dostawca )
       AND NOT UPDATE( TsD_Ilosc )
       AND NOT UPDATE( TsD_IloscDostepna )
       AND NOT UPDATE( TsD_Cecha1_DeAId  )
       AND NOT UPDATE( TsD_Cecha1_Format )
       AND NOT UPDATE( TsD_Cecha1_Kod )
       AND NOT UPDATE( TsD_Cecha1_Wartosc )
       AND NOT UPDATE( TsD_Cecha2_DeAId  )
       AND NOT UPDATE( TsD_Cecha2_Format )
       AND NOT UPDATE( TsD_Cecha2_Kod )
       AND NOT UPDATE( TsD_Cecha2_Wartosc )
       AND NOT UPDATE( TsD_Cecha3_DeAId  )
       AND NOT UPDATE( TsD_Cecha3_Format )
       AND NOT UPDATE( TsD_Cecha3_Kod )
       AND NOT UPDATE( TsD_Cecha3_Wartosc )
       AND NOT UPDATE( TsD_Cecha4_DeAId  )
       AND NOT UPDATE( TsD_Cecha4_Format )
       AND NOT UPDATE( TsD_Cecha4_Kod )
       AND NOT UPDATE( TsD_Cecha4_Wartosc )
       AND NOT UPDATE( TsD_Cecha5_DeAId  )
       AND NOT UPDATE( TsD_Cecha5_Format )
       AND NOT UPDATE( TsD_Cecha5_Kod )
       AND NOT UPDATE( TsD_Cecha5_Wartosc )
       AND NOT UPDATE( TsD_Cecha6_DeAId  )
       AND NOT UPDATE( TsD_Cecha6_Format )
       AND NOT UPDATE( TsD_Cecha6_Kod )
       AND NOT UPDATE( TsD_Cecha6_Wartosc )
       AND NOT UPDATE( TsD_Cecha7_DeAId  )
       AND NOT UPDATE( TsD_Cecha7_Format )
       AND NOT UPDATE( TsD_Cecha7_Kod )
       AND NOT UPDATE( TsD_Cecha7_Wartosc )
       AND NOT UPDATE( TsD_Cecha8_DeAId  )
       AND NOT UPDATE( TsD_Cecha8_Format )
       AND NOT UPDATE( TsD_Cecha8_Kod )
       AND NOT UPDATE( TsD_Cecha8_Wartosc )
       AND NOT UPDATE( TsD_Cecha9_DeAId  )
       AND NOT UPDATE( TsD_Cecha9_Format )
       AND NOT UPDATE( TsD_Cecha9_Kod )
       AND NOT UPDATE( TsD_Cecha9_Wartosc )
       AND NOT UPDATE( TsD_Cecha10_DeAId  )
       AND NOT UPDATE( TsD_Cecha10_Format )
       AND NOT UPDATE( TsD_Cecha10_Kod )
       AND NOT UPDATE( TsD_Cecha10_Wartosc )
     BEGIN
     RETURN
     END*/
    DECLARE
    @TsD_TsDID int,
    @TsD_TrSID int ,
    @TsD_TrEId int ,
    @TsD_TrSIdDost int,
    @TsD_NumerPelny  NVarchar(30),
    @TsD_NumerObcy NVarchar(30),
    @TsD_DataOpe datetime ,
    @TsD_Dostawca NVarchar(20) ,
    @TsD_Ilosc decimal (15, 4) ,
    @TsD_IloscDostepna decimal (15, 4) ,
    @TsD_Cecha1_DeAId int ,
    @TsD_Cecha1_Format smallint ,
    @TsD_Cecha1_Kod NVarchar(20) ,
    @TsD_Cecha1_Wartosc NVarchar(255) ,
    @TsD_Cecha2_DeAId int ,
    @TsD_Cecha2_Format smallint ,
    @TsD_Cecha2_Kod NVarchar(20) ,
    @TsD_Cecha2_Wartosc NVarchar(255) ,
    @TsD_Cecha3_DeAId int ,
    @TsD_Cecha3_Format smallint ,
    @TsD_Cecha3_Kod NVarchar(20) ,
    @TsD_Cecha3_Wartosc NVarchar(255) ,
    @TsD_Cecha4_DeAId int ,
    @TsD_Cecha4_Format smallint ,
    @TsD_Cecha4_Kod NVarchar(20) ,
    @TsD_Cecha4_Wartosc NVarchar(255) ,
    @TsD_Cecha5_DeAId int ,
    @TsD_Cecha5_Format smallint ,
    @TsD_Cecha5_Kod NVarchar(20) ,
    @TsD_Cecha5_Wartosc NVarchar(255) ,
    @TsD_Cecha6_DeAId int ,
    @TsD_Cecha6_Format smallint ,
    @TsD_Cecha6_Kod NVarchar(20) ,
    @TsD_Cecha6_Wartosc NVarchar(255) ,
    @TsD_Cecha7_DeAId int ,
    @TsD_Cecha7_Format smallint ,
    @TsD_Cecha7_Kod NVarchar(20) ,
    @TsD_Cecha7_Wartosc NVarchar(255) ,
    @TsD_Cecha8_DeAId int ,
    @TsD_Cecha8_Format smallint ,
    @TsD_Cecha8_Kod NVarchar(20) ,
    @TsD_Cecha8_Wartosc NVarchar(255) ,
    @TsD_Cecha9_DeAId int ,
    @TsD_Cecha9_Format smallint ,
    @TsD_Cecha9_Kod NVarchar(20) ,
    @TsD_Cecha9_Wartosc NVarchar(255) ,
    @TsD_Cecha10_DeAId int ,
    @TsD_Cecha10_Format smallint ,
    @TsD_Cecha10_Kod NVarchar(20) ,
    @TsD_Cecha10_Wartosc NVarchar(255) ,
    @TsD_ZwrId int ,
    @TsD_Wartosc decimal(15,4),
    @TsD_TrEIdPWP int ,
    @TsD_SrCDId int,
    @TsD_ROZDTsDID int,
   -- zmienne z naglowka dla poprawnego zbudowania subelementu
    @TrN_TrNId      INT,
    @TrN_FaId       INT,
    @TrN_ZwrId      INT,
    @TrN_Rodzaj     INT,
    @TrN_Bufor      SMALLINT,
    @TrN_MagZrdId   INT,
    @TrN_MagDocId   INT,
    @TrN_DataDok    DATETIME,
    @TrN_DataWys    DATETIME,
    @TrN_DataOpe    DATETIME,
    @TrN_TrSTyp     SMALLINT,
    @TrN_TypNB      TINYINT,
    @TrN_PodmiotTyp     INT,
    @TrN_PodId          INT,
    @TrN_Centrala   TINYINT,
    @TrN_Waluta     NVarchar(3),
    @TrN_KursNumer      INT,
    @TrN_KursL     DECIMAL(15,4),
    @TrN_KursM     DECIMAL(5,0),
    @WalutaSys     NVarchar(3),
    @TrN_DekId     INT,
    @TrN_NumerPelny  NVarchar(31),
    @TrN_Korekta          INT,
  -- zmienne z elementu dla poprawnego zbudowania subelementu
    @TrE_TrEId          INT,
    @TrE_ZwrId          INT,
    @TrE_LpPow          INT,
    @TrE_TwrId          INT,
    @TrE_DataOpe        DATETIME,
    @TrE_Ilosc          DECIMAL(15,4),
    @TrE_WartoscNetto   DECIMAL(15,2),
    @TrE_WartoscZakupu  DECIMAL(15,2),
    @TrE_CenaT          DECIMAL(17,4),
    @TrE_WyborDostaw    SMALLINT,
    @TrE_TwrKod         NVarchar(50),
    @TrE_TwrNazwa       NVarchar(255),
    @TrE_JMPrzelicznikL DECIMAL(15,2),
    @TrE_JMPrzelicznikM DECIMAL(7,0),
    @TrE_Aktywny        TINYINT,
    @TrE_TypDokumentu   INT,
    @Twr_Typ            SMALLINT,
    @Tre_MagId          INT,
   -- zmienne dla kreowanego subelementu
    @TrS_TrSId      INT,
    @TrS_TrEId      INT,
    @TrS_TrSIdDost  INT,
    @TrS_ZwrId      INT,
    @TrS_TwrId      INT,
    @TrS_MagId      INT,
    @TrS_Rodzaj     INT,
    @TrS_Typ        INT,
    @TrS_Metoda     INT,
    @TrS_DataOpe    DATETIME,
    @TrS_Ilosc      DECIMAL(15,4),
    @TrS_Wartosc    DECIMAL(15,2),
    @TrS_Cena       DECIMAL(17,4),
    @TrS_Termin     DATETIME,
    -- zmienne pomocnicze dla metody
    @QUAN           INT,
    @Metoda         INT,
    @ZawszeBraki    INT,
    @ZezwalajMimoRez INT,
    -- zmienne pomocnicze symulacji marży
    @Marza_Sym_Ostatnia   INT,
    @Marza_Sym_Srednia    INT,
    -- Pomocnicza dla kursora
    @TrS_TrSId_K    INT,
    @TrS_TrEId_K    INT,
    @max            INT,
    @Komunikat          NVarchar(250),
    @DostIloscRecordowReal int,
    @DostIloscRecordow int,
    @DostIloscRecordowDodanych int,
    @DostTrS_Ilosc decimal(15,4),
    @DostTrS_TrSId int,
    @ResztaWartosc DECIMAL(15,2),
    @DataZamowienia INT
    SET NOCOUNT ON
    SET @DostIloscRecordow = 0
    SET @DostIloscRecordowReal = 0
    SET @DostIloscRecordowDodanych = 1
    SET @ResztaWartosc = -1
    -- ustawienie komunikatu
    SET @Komunikat = ''
    -- Metoda rozliczania magazynu
    IF EXISTS ( SELECT * FROM inserted )
    BEGIN
        SET @Metoda = ( SELECT TOP 1 ISNULL( Fir_Wartosc,1 ) FROM CDN.Firma WHERE Fir_Numer = 1352 )
        SET @QUAN   = ( SELECT TOP 1 ISNULL( Fir_Wartosc,0 ) FROM CDN.Firma WHERE Fir_Numer = 1485 )
    END
    IF (EXISTS ( SELECT * FROM deleted ) AND NOT EXISTS ( SELECT * FROM inserted ) )
    OR (EXISTS ( SELECT * FROM deleted ) AND EXISTS ( SELECT * FROM inserted )   AND UPDATE( TsD_TrEId  ))
    BEGIN
        DECLARE usun CURSOR LOCAL FAST_FORWARD FOR
        SELECT TsD_TrEId,TsD_ROZDTsDID
        FROM deleted
        where isnull(TsD_ROZDTsDID,0) > 0
        ORDER BY TsD_TrEId, TsD_TrSId, TsD_TsDId
        OPEN usun
        WHILE 1=1
        BEGIN
          FETCH NEXT FROM usun INTO @TsD_TrEId, @TsD_ROZDTsDID
          IF @@FETCH_STATUS <> 0 BREAK
          BEGIN
             exec [CDN].[UstawRezerwacjeDost]    @TsD_ROZDTsDID , @TsD_TrEId
          END
        END
        CLOSE usun
        DEALLOCATE usun
    END
    DECLARE @ZaokraglajDo  SMALLINT
    IF EXISTS(SELECT Fir_Wartosc FROM Cdn.Firma WHERE Fir_Numer=3048 )
      SELECT @ZaokraglajDo=case when Fir_Wartosc = 1 then 4 else 2 end FROM Cdn.Firma WHERE Fir_Numer=3048
    ELSE
      SELECT @ZaokraglajDo=2
    IF @Metoda in( 1,2) and @QUAN = 0
    BEGIN
      -- elementy kasowane
      DECLARE @TrS TABLE ( TrSId INT, TrEId INT )
      INSERT INTO @TrS ( TrSId, TrEId ) SELECT TsD_TrSId, TsD_TrEId FROM deleted where TsD_PdEId = 0
      DELETE cdn.TraSElem FROM cdn.TraSElem JOIN @TrS ON TrSId = TrS_TrSId AND  TrS_TrEId = TrEId-- WHERE TrS_TrEId IN ( SELECT TrE_TrEId FROM deleted ) -- = @TrE_TrEId
      -- elementy dodawane
      DECLARE Dodawane CURSOR LOCAL FAST_FORWARD FOR
      SELECT  [TsD_TsDID],[TsD_TrSID] ,[TsD_TrEId] ,[TsD_TrSIdDost] ,[TsD_NumerPelny] ,[TsD_NumerObcy] ,[TsD_DataOpe] ,[TsD_Dostawca] ,[TsD_Ilosc] ,[TsD_IloscDostepna]
              ,[TsD_Cecha1_DeAId] ,[TsD_Cecha1_Format] ,[TsD_Cecha1_Kod] ,[TsD_Cecha1_Wartosc] ,[TsD_Cecha2_DeAId] ,[TsD_Cecha2_Format] ,[TsD_Cecha2_Kod]
              ,[TsD_Cecha2_Wartosc] ,[TsD_Cecha3_DeAId] ,[TsD_Cecha3_Format] ,[TsD_Cecha3_Kod] ,[TsD_Cecha3_Wartosc] ,[TsD_Cecha4_DeAId] ,[TsD_Cecha4_Format]
              ,[TsD_Cecha4_Kod] ,[TsD_Cecha4_Wartosc] ,[TsD_Cecha5_DeAId] ,[TsD_Cecha5_Format] ,[TsD_Cecha5_Kod] ,[TsD_Cecha5_Wartosc] ,[TsD_Cecha6_DeAId]
              ,[TsD_Cecha6_Format] ,[TsD_Cecha6_Kod] ,[TsD_Cecha6_Wartosc] ,[TsD_Cecha7_DeAId] ,[TsD_Cecha7_Format] ,[TsD_Cecha7_Kod] ,[TsD_Cecha7_Wartosc]
              ,[TsD_Cecha8_DeAId] ,[TsD_Cecha8_Format] ,[TsD_Cecha8_Kod] ,[TsD_Cecha8_Wartosc] ,[TsD_Cecha9_DeAId] ,[TsD_Cecha9_Format] ,[TsD_Cecha9_Kod]
              ,[TsD_Cecha9_Wartosc] ,[TsD_Cecha10_DeAId] ,[TsD_Cecha10_Format] ,[TsD_Cecha10_Kod] ,[TsD_Cecha10_Wartosc],tre_magid, TsD_ZwrId, TsD_Wartosc, TsD_SrCDId, TsD_ROZDTsDID
      FROM inserted
      join cdn.traelem on tre_treid = tsd_treid
      where TsD_PdEId = 0
      ORDER BY TsD_TrEId, TsD_TrSId, TsD_TsDId
      OPEN Dodawane
      WHILE 1=1
      BEGIN
        FETCH NEXT FROM Dodawane INTO @TsD_TsDID, @TsD_TrSID, @TsD_TrEId, @TsD_TrSIdDost, @TsD_NumerPelny, @TsD_NumerObcy, @TsD_DataOpe,
               @TsD_Dostawca, @TsD_Ilosc, @TsD_IloscDostepna, @TsD_Cecha1_DeAId, @TsD_Cecha1_Format, @TsD_Cecha1_Kod,
               @TsD_Cecha1_Wartosc, @TsD_Cecha2_DeAId, @TsD_Cecha2_Format, @TsD_Cecha2_Kod, @TsD_Cecha2_Wartosc, @TsD_Cecha3_DeAId ,
               @TsD_Cecha3_Format, @TsD_Cecha3_Kod, @TsD_Cecha3_Wartosc, @TsD_Cecha4_DeAId, @TsD_Cecha4_Format, @TsD_Cecha4_Kod,
               @TsD_Cecha4_Wartosc, @TsD_Cecha5_DeAId, @TsD_Cecha5_Format, @TsD_Cecha5_Kod, @TsD_Cecha5_Wartosc, @TsD_Cecha6_DeAId,
               @TsD_Cecha6_Format, @TsD_Cecha6_Kod, @TsD_Cecha6_Wartosc, @TsD_Cecha7_DeAId, @TsD_Cecha7_Format, @TsD_Cecha7_Kod,
               @TsD_Cecha7_Wartosc, @TsD_Cecha8_DeAId, @TsD_Cecha8_Format, @TsD_Cecha8_Kod, @TsD_Cecha8_Wartosc, @TsD_Cecha9_DeAId,
               @TsD_Cecha9_Format, @TsD_Cecha9_Kod, @TsD_Cecha9_Wartosc, @TsD_Cecha10_DeAId, @TsD_Cecha10_Format, @TsD_Cecha10_Kod ,
               @TsD_Cecha10_Wartosc,@tre_magid, @TsD_ZwrId, @TsD_Wartosc, @TsD_SrcDId, @TsD_ROZDTsDID
       IF @@FETCH_STATUS <> 0 BREAK
       IF @TsD_Ilosc = 0  and isnull(@TsD_ZwrId,0) = 0
         BEGIN
           SELECT TOP 1
              @TrN_Bufor      = TrN_Bufor
           FROM CDN.TraNag
           JOIN CDN.TraElem ON TrN_TrNId = TrE_TrNId AND TrE_TrEId = @TsD_TrEId
           IF @TrN_Bufor = 0
              DELETE FROM CDN.TraSElemDost WHERE TsD_TsDID = @TsD_TsDID
         END
       ELSE
         BEGIN
          SELECT TOP 1
           @TrN_TrNId      = TrN_TrNId,
           @TrN_FaId       = case when TrN_TypDokumentu= 313 or  TrN_TypDokumentu= 314 then CDN.TraNagRelacjeFaId (TrN_TrNID,0,2 ) else CDN.TraNagRelacjeFaId (TrN_TrNID,0,0 ) end ,
           @TrN_ZwrId      = TrN_ZwrId,
           @TrN_Rodzaj     = TrN_Rodzaj,
           @TrN_Bufor      = TrN_Bufor,
           @TrN_MagZrdId   = TrN_MagZrdId,
           @TrN_MagDocId   = TrN_MagDocId,
           @TrN_DataDok    = TrN_DataDok,
           @TrN_DataWys    = TrN_DataWys,
           @TrN_DataOpe    = TrN_DataOpe,
           @TrN_TrSTyp     = ISNULL(TrN_TrSTyp,3),
           @TrN_TypNB      = TrN_TypNB,
           @TrN_PodmiotTyp = TrN_PodmiotTyp,
           @TrN_PodId      = TrN_PodId,
           @TrN_Centrala   = TrN_Centrala,
           @TrN_Waluta     = TrN_Waluta,
           @TrN_KursNumer  = TrN_KursNumer,
           @TrN_KursL      = TrN_KursL,
           @TrN_KursM      = TrN_KursM,
           @TrN_Korekta    = TrN_Korekta,
           @TrE_ZwrId      = TrE_ZwrId,
           @TrE_LpPow      = TrE_LpPow,
           @TrE_TwrId      = TrE_TwrId,
           @TrE_DataOpe    = TrE_DataOpe,
           @TrE_Ilosc      = TrE_Ilosc,
           @TrE_WartoscNetto = TrE_WartoscNetto,
           @TrE_CenaT     = TrE_CenaT,
           @TrE_WyborDostaw = TrE_WyborDostaw,
           @TrE_JMPrzelicznikL = TrE_JMPrzelicznikL,
           @TrE_JMPrzelicznikM = TrE_JMPrzelicznikM,
           @TrE_Aktywny = TrE_Aktywny,
           @TrE_TypDokumentu = TrE_TypDokumentu,
           @ZaokraglajDo = case when TrE_CenaZCzteremaMiejscami = 1 then 4 else 2 end
          FROM CDN.TraNag
          JOIN CDN.TraElem ON TrN_TrNId = TrE_TrNId AND TrE_TrEId = @TsD_TrEId
          -- Kreowanie subelementów jest podejmowane tylko w uzasadnionych przypadkach
          -- Anulowane
          IF @TrE_Aktywny = 0
            CONTINUE
          -- FZ z PZ, FZKI z PZKI akceptowane trwale lub w buforze
          IF @TrN_Rodzaj IN ( 301004, 301005 ) AND @TrN_Bufor IN ( 0, 1 )
            CONTINUE
          -- FA z WZ, PA z WZ, FAKI z WZKI, PAKI z WZ, FZKI z PZ, AI, AI z PW/RW, RO z PA, RO z FA, RO z WZ akceptowane trwale, PF z FA, PF z RO
          IF @TrN_Rodzaj IN ( 302004, 305004, 302005, 305005, 301005, 311000, 311001, 308008, 308009, 308010, 320008, 320009 ) AND @TrN_Bufor IN ( 0 )
            CONTINUE
          -- ZD konwertowane do PZ/FZ
          IF @TrN_Rodzaj IN ( /*309000,*/ 309008, 309009 ) --AND @TrN_FaId IS NOT NULL
            CONTINUE
          -- FZKW, PZKW w buforze
          IF @TrN_Rodzaj IN  ( 301002, 307002, 310002, 301006, 307006 ,307003, 307011) AND @TrN_Bufor IN ( 1 )
            CONTINUE
          -- RO, ZD z pzeznaczeniem do centrali XL
          IF @TrN_Rodzaj IN  ( 308000, 309000 ) AND @TrN_Centrala IN ( 1 )
            CONTINUE
          -- FA z PA z buforze
          IF @TrN_Rodzaj IN (302006) AND @TrN_Bufor = 1
            CONTINUE
          -- PWP - pierwszy przebieg (TrE_Aktywny = 1 - nie liczymy zasobów, najpierw RWS musi wyliczyć koszt)
          IF @TrE_TypDokumentu IN (317) AND @TrE_Aktywny = 1
            CONTINUE
          IF @TrE_TypDokumentu IN (317) AND @TrE_Aktywny = 2
          BEGIN
            UPDATE cdn.TraElem SET TrE_Aktywny = 1 WHERE TrE_TrEId = @TrE_TrEId
            SET @TrE_Aktywny = 1
          END
          -- zainicjowanie typu
         SET @TrS_Typ        = -1
         -- dokumenty w buforze
         IF @TrN_Bufor = 1
           BEGIN
           -- FZ, PW, PZ z ZD, BO, PWP, ZD, PW z AI, FZ z ZD
            IF @TrN_Rodzaj IN  ( 301000, 303000, 307000, 307010, 310000, 317000, 309000, 303010, 312010, 301011, 301050, 313000, 313004 )
            SET @TrS_Typ = 4
        -- FA, FA z RO, PA, PA z RO
        IF @TrN_Rodzaj IN ( 302000, 302008, 305000, 305008, 318000, 302009, 320000 )
          SET @TrS_Typ = @TrN_TrSTyp
        -- FA z WZ dla elementów dodanych
        IF @TrN_Rodzaj IN ( 302004 ) AND @TrE_LpPow < 0
          SET @TrS_Typ = @TrN_TrSTyp
        -- RO, RO z PF
       IF @TrN_Rodzaj IN ( 308000, 308011 )
          SET @TrS_Typ = 3
        -- RW, WZ, WZ z FA, WZ z PA, MM, RW z AI
        IF @TrN_Rodzaj IN ( 304000, 306000, 306004, 306006, 312000,312008, 304010, 306008, 306010, 312100, 314000, 314004, 314006,304008,304006,304004 )
          SET @TrS_Typ = 2
        -- FAKI, FAKI z WZKI, PAKI, PAKI z WZKI, RWKI, WZKI  w buforze
        IF @TrN_Rodzaj IN  ( 302001, 302005, 305001, 305005, 304001, 306001, 314001, 318001 ) AND @TrN_Bufor IN ( 1 )
         SET @TrS_Typ = 4
        IF (@TrN_Rodzaj IN  ( 301001, 301005, 303001, 307001, 310001, 313001, 317001 ) AND @TrN_Bufor IN ( 1 )) or (@TrN_Rodzaj = 301051  AND @TrN_Bufor = 1  and not exists (select * from cdn.TraNag where TrN_FaId = @TrN_TrNId and TrN_Rodzaj = 307005))
          SET @TrS_Typ = 3
         END
       -- dokumenty zaakceptowane trwale
       ELSE IF @TrN_Bufor = 0
         BEGIN
        -- FZ, FZKI, FZKI z PZKI, ZD, FZ z ZD
       IF @TrN_Rodzaj IN ( 301000, 301001, 301005, 309000, 301011, 301050)  or (@TrN_Rodzaj = 301051   and not exists (select * from cdn.TraNag where TrN_FaId = @TrN_TrNId and TrN_Rodzaj = 307005))
          SET @TrS_Typ = 4
        -- PW, PWKI, PZ, PZ z FZ, PZKI, PZKI z FZKI, PZKW, PZKW z FZKW, PZ z ZD, BO, PWP, PW z AI, BOMKI, BOMKW
        IF @TrN_Rodzaj IN ( 303000, 303001, 303002, 307000, 307004, 307001, 307005, 307002, 307006, 307003, 307011, 307010, 310000, 317000, 303010, 310001, 310002, 312010, 313000, 313001, 313002, 313004, 317001 )
          SET @TrS_Typ = 1
        -- FAKI, PAKI - subelement o typie z dokumentu pierwotnego
        IF @TrN_Rodzaj IN ( 302001, 305001 )
          SET @TrS_Typ = ISNULL( ( SELECT MAX(TrS_Typ) FROM CDN.TraElem JOIN CDN.TraSElem ON TrS_TrEId = TrE_TrEId WHERE TrE_TrEId = @TrE_ZwrId ), 0 )
        -- FA, FA z WZ, PA, FA z RO, PA z RO, PF, PF z FA, PF z RO, FA z PF
        IF @TrN_Rodzaj IN ( 302000, 302006, 305000, 302008, 305008, 320000, 320008, 320009, 302009 )
          SET @TrS_Typ = @TrN_TrSTyp
       -- FA z WZ dla elementów dodanych
        IF @TrN_Rodzaj IN ( 302004 ) AND @TrE_LpPow < 0
          SET @TrS_Typ = @TrN_TrSTyp
        -- RO, FA z RO, PA z RO
        IF @TrN_Rodzaj IN ( 308000, 308011 )
          SET @TrS_Typ = 3
        -- RW, RWKI, WZ, WZKI, WZ z FA, WZ z PA, WZKI, WZKI z FAKI, WZKI z PAKI, MM, RWS, RW z AI
        IF @TrN_Rodzaj IN ( 304000, 304001,304008,304006,304004 , 306000, 306004, 306006, 306001, 306005, 306007, 312000,312008, 318000, 304010, 306008, 306010, 312100, 314000, 314001, 314004, 314006, 318001 )
          SET @TrS_Typ = 2
         END
       -- Jesli nie ustawiono prawidlowego typu - nie kreujemy subelementow
       IF @TrS_Typ NOT IN ( 1, 2, 3, 4 )
         CONTINUE
    if (ISNULL(@TsD_SrCDId,0) > 0 )
        if( @TrN_Rodzaj NOT IN (312000) )
           DELETE cdn.TraSElem FROM cdn.TraSElem
           join cdn.SrsCzesciDost on TrS_TrSID  = SrCD_TrsID
           where SrCD_SrCDId = @TsD_SrCDId
        else
        begin
        declare
        @TrS_TrSId1      INT,
        @TrS_TrSIdDost1  INT,
        @TrS_TwrId1     INT,
        @TrS_MagId1     INT,
        @TrS_Metoda1     INT,
        @TrS_SrCId       INT,
        @TrS_Ilosc1      DECIMAL(15,4),
        @TrS_DataOpe1    DATETIME,
        @TrS_Termin1    DATETIME
        select @TrS_TrSId1 =TrS_TrSId,@TrS_TrSIdDost1 = TrS_TrSIdDost,@TrS_TwrId1 = TrS_TwrId,@TrS_Metoda1 = TrS_Metoda,@TrS_DataOpe1 = TrS_DataOpe, @TrS_Ilosc1 = SrCD_IloscWykorzystana, @TrS_Termin1 = null, @TrS_MagId1 = TrS_MagId,@TrS_SrCId = TrS_SrCId  from cdn.TraSElem
        join cdn.SrsCzesciDost on TrS_TrSID  = SrCD_TrsID
        join cdn.SrsCzesci on SrCD_SrCID  = SrC_SrCID
        where SrCD_SrCDId = @TsD_SrCDId and SrC_MmZwrot = 1
        select @TrS_TrSId1 =TrS_TrSId,@TrS_TrSIdDost1 = TrS_TrSIdDost,@TrS_TwrId1 = TrS_TwrId,@TrS_Metoda1 = TrS_Metoda,@TrS_DataOpe1 = TrS_DataOpe, @TrS_Ilosc1 = TrS_Ilosc, @TrS_Termin1 = null, @TrS_MagId1 = @TrN_MagDocId,@TrS_SrCId = TrS_SrCId  from cdn.TraSElem
        join cdn.SrsCzesciDost on TrS_TrSID  = SrCD_TrsID
        join cdn.SrsCzesci on SrCD_SrCID  = SrC_SrCID
        where SrCD_SrCDId = @TsD_SrCDId and SrC_MmZwrot = 0
        delete from cdn.TraSElem where TrS_TrSID = @TrS_TrSId1
        end
        IF @TrE_TypDokumentu = 317
          BEGIN
           SET @TrE_WartoscZakupu = ( SELECT ISNULL(SUM(PdE_WartoscZakupu),0) FROM cdn.ProdElem WHERE PdE_TrEId = @TsD_TrEId )
            UPDATE cdn.TraElem SET
              TrE_WartoscNetto     = @TrE_WartoscZakupu,
              TrE_WartoscBrutto    = ROUND(@TrE_WartoscZakupu * ( ( 100 + TrE_Stawka ) / 100 ), 2 ),
              TrE_WartoscNettoWal  = @TrE_WartoscZakupu,
              TrE_WartoscBruttoWal = ROUND(@TrE_WartoscZakupu * ( ( 100 + TrE_Stawka ) / 100 ), 2 ),
              TrE_Rabat            = 0,
              TrE_CenaT            = round(CASE TrE_IloscJM WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_IloscJM END,@ZaokraglajDo),
              TrE_CenaW            = round(CASE TrE_IloscJM WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_IloscJM END,@ZaokraglajDo) ,
              TrE_Cena0            = round(CASE TrE_Ilosc   WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_Ilosc   END,@ZaokraglajDo) ,
              TrE_CenaWWD          = round(CASE TrE_IloscJM WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_IloscJM END,@ZaokraglajDo),
              TrE_Cena0WD          = round(CASE TrE_Ilosc   WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_Ilosc   END,@ZaokraglajDo),
              TrE_Waluta           = @WalutaSys,
              TrE_KursNumer        = 0,
              TrE_KursL            = 1,
              TrE_KursM            = 1
            WHERE TrE_TrEId = @TrE_TrEId
            -- Wczytanie poprawionych wartości
            SELECT
              @TrE_WartoscNetto     = @TrE_WartoscZakupu,
              @TrE_CenaT            = round(CASE @TsD_Ilosc WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / @TsD_Ilosc END,@ZaokraglajDo)
          END
          -- wartosci pozostalych pol
          SET @TrS_TrSId       = ( SELECT ISNULL(MAX(TrS_TrSId),0) FROM CDN.TraSElem ) + 1
          if (SELECT ISNULL(MAX(Tsd_TrSId),0) FROM CDN.TraSElemdost where tsd_treid = @TsD_TrEId) >= @TrS_TrSId
            SET @TrS_TrSId = (SELECT ISNULL(MAX(Tsd_TrSId),0) FROM CDN.TraSElemdost where tsd_treid = @TsD_TrEId)+ 1
          SET @TrS_TrEId       = @TsD_TrEId
          if  ISNULL(@TsD_TrSIdDost,0) = 0
                 SET @TrS_TrSIdDost   = NULL
          else
                 SET @TrS_TrSIdDost   = @TsD_TrSIdDost
          SET @TrS_ZwrId       = NULL
          SET @TrS_TwrId       = @TrE_TwrId
          SET @TrS_MagId       = CASE WHEN @TrN_Rodzaj <> 312010 THEN @TrE_MagId ELSE @TrN_MagDocId END
          SET @TrS_Rodzaj      = @TrN_Rodzaj
          SET @TrS_Metoda      = @Metoda
          SET @TrS_DataOpe     = @TrE_DataOpe
          SET @TrS_Ilosc       = round(@TsD_Ilosc*(@TrE_JMPrzelicznikL/@TrE_JMPrzelicznikM),4)
          SET @TrS_Wartosc     = 0
          SET @TrS_Cena        = @TrE_CenaT
          SET @TrS_Termin      = NULL
         -- dostawy
         IF @TrS_Typ = 1
           BEGIN
           declare @Trswartosc decimal (15,2), @trsilosc decimal (15,4)
           set @Trswartosc = 0
           set @trsilosc = 0
           select @Trswartosc = sum (Trs_wartosc), @trsilosc = sum (trs_ilosc) from cdn.traselem where trs_treid = @Tsd_TrEId and trs_typ = 1 and trs_trsid != @TSd_TrSId
           if @TrN_Korekta = 1 and ISNULL(@TsD_TrSIdDost,0) > 0
           begin
            select @Trswartosc =  sum (Trs_wartosc),@trsilosc =  sum (trs_ilosc)  from cdn.traselem where TrS_TrSIdDost = @TrS_TrSIdDost and trs_trsid != @TSd_TrSId
            if @trsilosc != 0
                SET @TrS_Wartosc =ROUND(case when @TrE_Ilosc <> 0 THEN ((isnull(@Trswartosc,0)/@trsilosc)*(@TsD_Ilosc)*(@TrE_JMPrzelicznikL/@TrE_JMPrzelicznikM))
            else @TrE_WartoscNetto end ,2)
           else
            SET @TrS_Wartosc = 0
           end
           else
           begin
            SET @TrS_Wartosc = ROUND(case when @TrE_Ilosc <> 0 THEN (((@TrE_WartoscNetto - isnull(@Trswartosc,0))/(@TrE_Ilosc-isnull(@trsilosc,0)))*(@TsD_Ilosc)*(@TrE_JMPrzelicznikL/@TrE_JMPrzelicznikM))
           else @TrE_WartoscNetto end ,2)
           end
           SET @TrS_Cena    = round(case when @TrE_Ilosc <> 0 THEN @TrE_WartoscNetto / @TrE_Ilosc ELSE @TrS_Wartosc END,@ZaokraglajDo)
           END
           IF @TrS_Typ = 4 and @TrS_Rodzaj IN (304001)
           BEGIN
              select @TrS_Wartosc = ROUND( ((TrE_WartoscNetto/TrE_Ilosc)*@TsD_Ilosc*(@TrE_JMPrzelicznikL/@TrE_JMPrzelicznikM)),2) from CDN.TraElem where TrE_TrEID = @TrE_ZwrId
              select @TrS_Cena    = round(case when @TrE_Ilosc <> 0 THEN TrE_WartoscNetto / TrE_Ilosc ELSE @TrS_Wartosc END,@ZaokraglajDo) from CDN.TraElem where TrE_TrEID = @TrE_ZwrId
           END
         -- Zwykłe dostawy PZ, PZ z FZ, PW, BO, PZ z ZD, PWP, PW z AI, MM-OL
         IF @TrS_Rodzaj IN ( 307000, 307004, 303000, 310000, 307010, 317000, 303010, 312010, 313000, 313004  )
           BEGIN
            -- TrS_TrSIdDost i TrS_ZwrId
            SET @TrS_TrSIdDost  = @TrS_TrSId
            SET @TrS_ZwrId      = NULL
           END
         -- Korekty ilościowe dostaw PZKI, PZKI z FZKI, PWKI, PZKW, BOMKI, BOMKW
         IF @TrS_Rodzaj IN ( 307001, 307005, 303001, 303002, 307002, 310001, 310002, 307006, 307003, 307011, 313001, 313002, 317001 ) and @TrS_TrSIdDost   = NULL
           BEGIN
            SELECT
              @TrS_TrSIdDost  = TrS_TrSIdDost,
              @TrS_Cena       = TrS_Cena,
              @TrS_ZwrId      = TrS_TrSId
            FROM CDN.TraSElem
            WHERE TrS_TrSId = ( -- TrS_TrSId pierwotnej dostawy
                           SELECT TOP 1 A.TrS_TrSId
                           FROM CDN.TraSElem A
                             JOIN CDN.TraElem B ON B.TrE_TrEId = A.TrS_TrEId
                           WHERE B.TrE_TrEId = @TrE_ZwrId
                           )
           END
         IF @TrS_Rodzaj IN ( 307001, 307005, 303001, 303002, 307002, 310001, 310002, 307006, 307003, 307011, 313001, 313002, 317001 ) and @TrS_TrSIdDost   is NOT NULL
           BEGIN
            SELECT
              @TrS_TrSIdDost  = @TsD_TrSIdDost,
              @TrS_ZwrId      = @TsD_TrSIdDost
           END
         IF @TrN_Rodzaj IN ( 308000, 308011 )
          BEGIN
            SET @TrS_Termin  = @TrN_DataWys
          END
         IF @TrN_Rodzaj IN ( 309000 )
          BEGIN
            SELECT @DataZamowienia = ISNULL(MAX(Fir_Wartosc),2) FROM cdn.Firma WHERE Fir_Numer = 2075
            IF @DataZamowienia = 2
              SET @TrS_DataOpe = @TrN_DataWys
          END
         -- odwrotne ilosci dla korekt w buforze
         -- FAKI, FAKI z WZKI, PAKI, PAKI z WZKI, FZKI, FZKI z PZKI, PWKI, RWKI, WZKI, PZKI, BOMKI  w buforze
         IF (@TrN_Rodzaj IN  ( 302001, 302005, 305001, 305005, 301001, 301005, 303001, 304001, 306001, 307001, 310001, 313001, 314001, 318001, 317001) AND @TrN_Bufor IN ( 1 ) AND @TrS_Typ IN ( 3, 4 ) AND @TrS_Ilosc < 0 )
         or (@TrN_Rodzaj = 301051 AND @TrN_Bufor IN ( 1 ) AND @TrS_Typ IN ( 3, 4 ) AND @TrS_Ilosc < 0 and not exists (select * from cdn.TraNag where TrN_FaId = @TrN_TrNId and TrN_Rodzaj = 307005) )
           BEGIN
            SET @TrS_Ilosc = - @TsD_Ilosc
           END
         -- insert subelemntu i procedura aktualizacji wartości zakupu (subelement dodawany tylko dla towaru)
         -- odczytanie typu karty (towar/usługa) oraz typu kosztu usługi i stawki VAT dla późniejszej aktualizacji ceny zakupu
         SELECT
           @Twr_Typ            = Twr_Typ
         FROM CDN.Towary
         WHERE Twr_TwrId = @TrE_TwrId
         -- Kontrola ilosci przed dodaniem subelemntu
         IF @Twr_Typ = 1 AND (( @TrS_Typ = 1 AND @TrS_Ilosc < 0 ) OR ( @TrS_Typ = 2 AND @TrS_Ilosc > 0 ))
          BEGIN
             SELECT @ZawszeBraki = ISNULL(MAX(Fir_Wartosc),0) FROM cdn.Firma WHERE Fir_Numer = 1536
           if (SELECT ISNULL(MAX(Fir_Wartosc),0) FROM cdn.Firma WHERE Fir_Numer = 1970) = 1 or  (SELECT ISNULL(MAX(Fir_Wartosc),0) FROM cdn.Firma WHERE Fir_Numer = 1776) = 1
           select @ZezwalajMimoRez = 1
        else
         select @ZezwalajMimoRez = 0
         --SELECT @ZezwalajMimoRez = ISNULL(MAX(Fir_Wartosc),0) FROM cdn.Firma WHERE Fir_Numer = 1970
         IF  @TrE_WyborDostaw  = 1
         IF ((@TrS_Rodzaj IN (302000,302009, 305000, 306000,304000,306004) AND @TrS_Typ = 2)
         and exists (select * from deleted join inserted on deleted.TsD_TSdID = inserted.TsD_TSdID and inserted.TsD_TSdID = @TsD_TSdID and deleted.TsD_ilosc >= inserted.TsD_ilosc and  deleted.TsD_TrSID != 0))
         or
         ((@TrS_Rodzaj IN ( 306004,306006) AND @TrS_Typ = 2  and @TrE_LpPow > 0)
         and exists (select TrN_TrSTyp from cdn.traelem join cdn.tranagrelacje on trr_faid= tre_trnid and trr_trnid = @trn_trnid  join cdn.tranag on tre_trnid = trn_trnid  where TrN_TrSTyp =2))
               SET @Komunikat = CDN.TwrIlosciErr ( 1, @TrS_Typ, @TrS_TwrId, @TrS_MagId, @TrS_DataOpe, @TrS_Ilosc, 3)
         else
            IF ((@TrS_Rodzaj IN (302008, 305008, 306008,304008,312008) AND @TrS_Typ = 2)
               OR  (@TrS_Rodzaj =306010 AND @TrS_Typ = 2 and exists(select trr_trrid from cdn.tranagrelacje where  trr_trnid = @trn_trnid and Trr_fatyp = 308 ))
            OR  (@TrS_Rodzaj =302009 AND @TrS_Typ = 2 and exists(select trr_trrid from cdn.tranagrelacje where  trr_trnid = @trn_trnid and Trr_fatyp = 308 ))
               OR  (@TrS_Rodzaj =306004 AND @TrS_Typ = 2 and exists(select trr_trrid from cdn.tranagrelacje where  trr_trnid = @trn_trnid and Trr_fatyp = 308 )))
            and not exists (select * from deleted join inserted on deleted.TsD_TSdID = inserted.TsD_TSdID and inserted.TsD_TSdID = @TsD_TSdID and deleted.TsD_ilosc < inserted.TsD_ilosc)
                IF @ZezwalajMimoRez = 1 and(@TrS_rodzaj in (306008,306010,306004,304008,312008) or (@TrS_rodzaj in (302008) AND @TrS_Typ = 2) or (@TrS_rodzaj in (302009) AND @TrS_Typ = 2)  or (@TrS_rodzaj in (305008) AND @TrS_Typ = 2))
             SET @Komunikat = CDN.TwrIlosciErr ( 1, @TrS_Typ, @TrS_TwrId, @TrS_MagId, @TrS_DataOpe, @TrS_Ilosc, 2 )
            ELSE
                 SET @Komunikat = CDN.TwrIlosciErr ( 1, @TrS_Typ, @TrS_TwrId, @TrS_MagId, @TrS_DataOpe, @TrS_Ilosc, 1 )
         ELSE
               SET @Komunikat = CDN.TwrIlosciErr ( 1, @TrS_Typ, @TrS_TwrId, @TrS_MagId, @TrS_DataOpe, @TrS_Ilosc, 0)
            IF @Komunikat <> '' GOTO KOMUNIKAT
          END
        IF @Twr_Typ = 1 AND @TrS_Typ IN ( 3, 4 ) AND @TrS_Wartosc = 0
          select @TrS_Wartosc = round(@TsD_Wartosc*@TsD_Ilosc,2), @TrS_Cena = @TrS_Wartosc
        IF @DostIloscRecordowReal = 0 and ( @Twr_Typ = 1 and @TrE_WyborDostaw  = 1 and @TrS_Rodzaj IN ( 317001) and @TrE_Ilosc = 0 and @Tre_WyborDostaw = 1)
          BEGIN
            SELECT @DostIloscRecordowReal =count(A.TrS_TrSId)
             FROM cdn.TraSElem A
             JOIN cdn.TraElem B ON B.TrE_TrEId = A.TrS_TrEId
            WHERE B.TrE_TrEId = @TrE_ZwrId
          END
        IF @DostIloscRecordowReal > 1
          BEGIN
         if @DostIloscRecordow = 0
         SELECT  @DostIloscRecordow =count(A.TrS_TrSId)
            FROM cdn.TraSElem A
            JOIN cdn.TraElem B ON B.TrE_TrEId = A.TrS_TrEId
            JOIN (SELECT A.TrS_TrSId, abs(ISNULL(A.TrS_Ilosc,0))-abs(ISNULL(B.TrS_Ilosc,0)) as Roznica
               FROM cdn.TraSElem A
               LEFT OUTER JOIN cdn.TraSElem B ON A.TrS_TrSId = B.TrS_ZwrId
               WHERE A.TrS_Typ = 1 AND A.TrS_TrEId = @TrE_ZwrId) AS C ON C.TrS_TrSId = A.TrS_TrSId
            WHERE B.TrE_TrEId = @TrE_ZwrId AND C.Roznica > 0
            SELECT @DostTrS_Ilosc =
            (SELECT ISNULL(sum(TrS_Ilosc),0) FROM cdn.TraSElem WHERE Trs_Typ = 1 AND TrS_TrEId = @TrE_ZwrId)
            +
            (SELECT ISNULL(sum(TrS_Ilosc),0) FROM cdn.TraSElem WHERE Trs_Typ = 1 AND TrS_Zwrid
            in(SELECT TrS_TrSId FROM cdn.TraSElem WHERE Trs_Typ = 1 AND TrS_TrEId = @TrE_ZwrId ))
         if (@ResztaWartosc = -1)
         SET @ResztaWartosc = @TrE_WartoscNetto
         DECLARE DostawyKorektaWartosci CURSOR LOCAL FAST_FORWARD FOR
         SELECT A.TrS_TrSId
         FROM cdn.TraSElem A
         JOIN cdn.TraElem B ON B.TrE_TrEId = A.TrS_TrEId
         JOIN (SELECT A.TrS_TrSId, abs(ISNULL(A.TrS_Ilosc,0))-abs(ISNULL(B.TrS_Ilosc,0)) AS Roznica
               FROM cdn.TraSElem A
               LEFT OUTER JOIN (SELECT B.TrS_ZwrId, SUM(ISNULL(B.TrS_Ilosc,0))  as TrS_Ilosc
                              FROM cdn.TraSElem A
                              LEFT OUTER JOIN  cdn.TraSElem B ON A.TrS_TrSId = B.TrS_ZwrId WHERE A.TrS_Typ = 1 AND A.TrS_TrEId = @TrE_ZwrId AND B.TrS_ZwrId IS NOT NULL
                              GROUP BY B.TrS_ZwrId) B ON A.TrS_TrSId = B.TrS_ZwrId
               WHERE A.TrS_Typ = 1 AND A.TrS_TrEId = @TrE_ZwrId) AS C ON C.TrS_TrSId = A.TrS_TrSId and a.TrS_TrSIdDost = @TrS_TrSIdDost
         WHERE B.TrE_TrEId = @TrE_ZwrId AND c.roznica > 0 and a.TrS_TrSIdDost = @trs_trsiddost
         OPEN DostawyKorektaWartosci
         WHILE 1=1
         BEGIN
            FETCH NEXT FROM DostawyKorektaWartosci INTO @DostTrS_TrSId
            IF @@FETCH_STATUS <> 0 BREAK
            IF @DostIloscRecordowDodanych = @DostIloscRecordow
            SELECT
            @TrS_Wartosc    = @ResztaWartosc,
            @TrS_Cena    = round(case when @DostTrS_Ilosc <> 0 THEN ROUND(@TrE_WartoscNetto/@DostTrS_Ilosc,2) ELSE @TrE_WartoscNetto END,@ZaokraglajDo)
            FROM cdn.TraSElem
            WHERE TrS_TrSId = @DostTrS_TrSId
            ELSE
            SELECT
            @TrS_Wartosc    = ROUND( (@TrE_WartoscNetto/@DostTrS_Ilosc)*SUM(TrS_Ilosc),2),
            @TrS_Cena    = round(case when @DostTrS_Ilosc <> 0 THEN ROUND(@TrE_WartoscNetto/@DostTrS_Ilosc,2) ELSE @TrE_WartoscNetto END,@ZaokraglajDo)
            FROM cdn.TraSElem
            WHERE TrS_TrSId = @DostTrS_TrSId OR TrS_ZwrID = @DostTrS_TrSId
            SET @DostIloscRecordowDodanych = @DostIloscRecordowDodanych + 1
            SET @ResztaWartosc = @ResztaWartosc - @TrS_Wartosc
         END
         CLOSE DostawyKorektaWartosci
         DEALLOCATE DostawyKorektaWartosci
      end
         -- dodanie subelemntu (towary lub usługi gdy dokumenty rozchodowe )
        IF @Twr_Typ = 1 and @TrE_WyborDostaw  = 1--tu czy wskaz dost
           BEGIN
           EXECUTE CDN.AktualizujTraSElem @TrS_TrSId, @TrS_TrEId, @TrS_TrSIdDost, @TrS_ZwrId, @TrS_TwrId, @TrS_MagId, @TrS_Rodzaj, @TrS_Typ, @TrS_Metoda, @TrS_DataOpe, @TrS_Ilosc, @TrS_Wartosc, @TrS_Cena, @TrS_Termin, @TrE_ZwrId, @TrN_TrNId, @TrN_MagDocId, @TrN_Bufor--, @Trs_TrSIdost = @max OUTPUT
           IF (@TrS_Typ = 1 AND @TrS_Ilosc > 0) or @TrS_Typ IN ( 3, 4 )
                SELECT @max =  @TrS_TrSId
           ELSE
                SELECT  @max= IDENT_CURRENT('cdn.traselem')
       if exists (select * from cdn.traselem where trs_trsid = @max)
         UPDATE CDN.TrasElemDost SET TsD_TrsId = @max where Tsd_TsdId = @Tsd_TsdId
            IF @TrS_Rodzaj not in (301001,302005,305005,301051)
            BEGIN
              IF NOT (@TrS_Rodzaj in (312000,312008,306001,304001,302001,305001,318001) AND @TrN_Bufor = 1)
                UPDATE CDN.TrasElemDost SET TsD_TrsIddost = case when ISNULL(TrS_TrsIdDost,0) = 0 then case when TrS_ZwrId is NULL then TsD_TrsId else TrS_ZwrId end else ISNULL(TrS_TrsIdDost,0) end FROM CDN.TrasElemDost
                  JOIN CDN.TrasElem on  TsD_TrsId = TrS_TrSId where Tsd_TsdId = @Tsd_TsdId
            END
         -- ustawiamy korekty jesli idodst sie zmienilo
       if exists (select @TsD_TrsIddost from deleted d where d.TsD_TrsIddost = @TsD_TrsIddost and @TsD_TrsIddost!= 0)
         UPDATE t set  t.TsD_ZwrId = tnew.TsD_TreId, t.TsD_TrsIddost = tnew.TsD_TrsIdDost FROM CDN.TrasElemDost t
           join deleted d on d.TsD_TrsIddost =t.TsD_TrsIddost and  d.TsD_TreId = t.TsD_ZwrId and d.TsD_TrsIddost = @TsD_TrsIddost
           join CDN.TrasElemDost tnew on d.TsD_TsDId =tnew.TsD_TsDId
       if exists (select * from cdn.traselem where trs_trsid = @max)
            INSERT INTO [CDN].[TraSElemCechy] ([TsC_TrSID],[TsC_Cecha1_DeAId] ,[TsC_Cecha1_Format] ,[TsC_Cecha1_Kod] ,[TsC_Cecha1_Wartosc] ,[TsC_Cecha2_DeAId] ,[TsC_Cecha2_Format] ,[TsC_Cecha2_Kod] ,[TsC_Cecha2_Wartosc] ,[TsC_Cecha3_DeAId] ,[TsC_Cecha3_Format]
              ,[TsC_Cecha3_Kod] ,[TsC_Cecha3_Wartosc] ,[TsC_Cecha4_DeAId] ,[TsC_Cecha4_Format] ,[TsC_Cecha4_Kod] ,[TsC_Cecha4_Wartosc] ,[TsC_Cecha5_DeAId] ,[TsC_Cecha5_Format] ,[TsC_Cecha5_Kod] ,[TsC_Cecha5_Wartosc] ,[TsC_Cecha6_DeAId]
              ,[TsC_Cecha6_Format],[TsC_Cecha6_Kod] ,[TsC_Cecha6_Wartosc] ,[TsC_Cecha7_DeAId] ,[TsC_Cecha7_Format] ,[TsC_Cecha7_Kod] ,[TsC_Cecha7_Wartosc] ,[TsC_Cecha8_DeAId] ,[TsC_Cecha8_Format] ,[TsC_Cecha8_Kod] ,[TsC_Cecha8_Wartosc]
              ,[TsC_Cecha9_DeAId] ,[TsC_Cecha9_Format] ,[TsC_Cecha9_Kod] ,[TsC_Cecha9_Wartosc] ,[TsC_Cecha10_DeAId] ,[TsC_Cecha10_Format] ,[TsC_Cecha10_Kod] ,[TsC_Cecha10_Wartosc])
            SELECT @max, @TsD_Cecha1_DeAId,  @TsD_Cecha1_Format, @TsD_Cecha1_Kod,  @TsD_Cecha1_Wartosc,  @TsD_Cecha2_DeAId,  @TsD_Cecha2_Format, @TsD_Cecha2_Kod,  @TsD_Cecha2_Wartosc,  @TsD_Cecha3_DeAId,  @TsD_Cecha3_Format, @TsD_Cecha3_Kod,  @TsD_Cecha3_Wartosc,
              @TsD_Cecha4_DeAId, @TsD_Cecha4_Format, @TsD_Cecha4_Kod,  @TsD_Cecha4_Wartosc,  @TsD_Cecha5_DeAId,  @TsD_Cecha5_Format, @TsD_Cecha5_Kod,  @TsD_Cecha5_Wartosc,  @TsD_Cecha6_DeAId,  @TsD_Cecha6_Format, @TsD_Cecha6_Kod,  @TsD_Cecha6_Wartosc,
              @TsD_Cecha7_DeAId, @TsD_Cecha7_Format, @TsD_Cecha7_Kod,  @TsD_Cecha7_Wartosc,  @TsD_Cecha8_DeAId,  @TsD_Cecha8_Format, @TsD_Cecha8_Kod,  @TsD_Cecha8_Wartosc,  @TsD_Cecha9_DeAId,  @TsD_Cecha9_Format, @TsD_Cecha9_Kod,  @TsD_Cecha9_Wartosc,
              @TsD_Cecha10_DeAId, @TsD_Cecha10_Format, @TsD_Cecha10_Kod,  @TsD_Cecha10_Wartosc
            UPDATE CDN.TrasElem SET TrS_WyborDostaw  = 1 WHERE TrS_TrEId = @TrS_TrEId and TrS_WyborDostaw != 1
       if (ISNULL(@TsD_SrCDId,0) > 0 and  @TrN_Rodzaj IN (312000) and ISNULL(@TrS_TwrId1,0)>0 )
       begin
          UPDATE CDN.SrsCzesciDost SET SrCD_DataOpe = SrCD_DataOpe where SrCD_SrCDId = @TsD_SrCDId
       end
    -- update cdn.TraSElem SET TrS_Typ = 2 , TrS_MagId = @TrN_MagDocId, TrS_Ilosc = TrS_Ilosc FROM cdn.TraSElem
    -- join cdn.SrsCzesciDost on TrS_TrSID  = SrCD_TrsID
    -- where SrCD_SrCDId = @TsD_SrCDId
            -- Update wartości i cen elementu dla dokumentów wewnętrznych
            IF @TrE_TypDokumentu IN ( 304, 312, 318 ) AND @TrN_Rodzaj NOT IN ( 312010 )
             BEGIN
               SET @TrE_WartoscZakupu = ( SELECT TrE_WartoscZakupu FROM cdn.TraElem WHERE TrE_TrEId = @TrS_TrEId )
            IF @TrE_TypDokumentu = 304 and @TrN_Bufor = 1
            SET @TrE_WartoscZakupu = ( SELECT sum(Tsd_Wartosc * Tsd_Ilosc) FROM cdn.TrasElemdost WHERE Tsd_TrEId = @TrS_TrEId )
               UPDATE CDN.TrasElem SET TrS_WyborDostaw  = 2 WHERE TrS_TrEId = @TrS_TrEId
               UPDATE cdn.TraElem SET
                 TrE_WartoscNetto     = @TrE_WartoscZakupu,
                 TrE_WartoscBrutto    = ROUND(@TrE_WartoscZakupu * ( ( 100 + TrE_Stawka ) / 100 ), 2 ),
                 TrE_WartoscNettoWal  = @TrE_WartoscZakupu,
                 TrE_WartoscBruttoWal = ROUND(@TrE_WartoscZakupu * ( ( 100 + TrE_Stawka ) / 100 ), 2 ),
                 TrE_Rabat            = 0,
                 TrE_CenaT            = Round(CASE TrE_IloscJM WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_IloscJM END,@ZaokraglajDo),
                 TrE_CenaW            = Round(CASE TrE_IloscJM WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_IloscJM END,@ZaokraglajDo) ,
                 TrE_Cena0            = Round(CASE TrE_Ilosc   WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_Ilosc   END,@ZaokraglajDo) ,
                 TrE_CenaWWD          = Round(CASE TrE_IloscJM WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_IloscJM END,@ZaokraglajDo),
                 TrE_Cena0WD          = Round(CASE TrE_Ilosc   WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_Ilosc   END,@ZaokraglajDo)
                 --TrE_Waluta           = @WalutaSys,
                 --TrE_KursNumer        = 0,
                 --TrE_KursL            = 1,
                 --TrE_KursM            = 1
               WHERE TrE_TrEId = @TrS_TrEId
               UPDATE CDN.TrasElem SET TrS_WyborDostaw  = 1 WHERE TrS_TrEId = @TrS_TrEId and TrS_WyborDostaw != 1
          END
        IF  @TrS_Rodzaj IN ( 307010, 302008, 305008, 306008,  301011 , 306004, 307004,302009, 306010,304000,304008,312008,312100) and isnull(@TsD_ROZDTsDID,0) > 0
          BEGIN
          exec [CDN].[UstawRezerwacjeDost]    @TsD_ROZDTsDID , @TsD_TrEId
          END
       END
      IF  UPDATE( TsD_TrEId )
       AND NOT UPDATE( TsD_TsDID )
       AND NOT UPDATE( TsD_TrSID  )
       AND NOT UPDATE( TsD_DataOpe  )
       AND NOT UPDATE( TsD_TrSIdDost )
       AND NOT UPDATE( TsD_NumerPelny  )
       AND NOT UPDATE( TsD_NumerObcy  )
       AND NOT UPDATE( TsD_Dostawca )
       AND NOT UPDATE( TsD_Ilosc )
       AND NOT UPDATE( TsD_IloscDostepna )
       AND NOT UPDATE( TsD_Cecha1_DeAId  )
       AND NOT UPDATE( TsD_Cecha1_Format )
       AND NOT UPDATE( TsD_Cecha1_Kod )
       AND NOT UPDATE( TsD_Cecha1_Wartosc )
       AND NOT UPDATE( TsD_Cecha2_DeAId  )
       AND NOT UPDATE( TsD_Cecha2_Format )
       AND NOT UPDATE( TsD_Cecha2_Kod )
       AND NOT UPDATE( TsD_Cecha2_Wartosc )
       AND NOT UPDATE( TsD_Cecha3_DeAId  )
       AND NOT UPDATE( TsD_Cecha3_Format )
       AND NOT UPDATE( TsD_Cecha3_Kod )
       AND NOT UPDATE( TsD_Cecha3_Wartosc )
       AND NOT UPDATE( TsD_Cecha4_DeAId  )
       AND NOT UPDATE( TsD_Cecha4_Format )
       AND NOT UPDATE( TsD_Cecha4_Kod )
       AND NOT UPDATE( TsD_Cecha4_Wartosc )
       AND NOT UPDATE( TsD_Cecha5_DeAId  )
       AND NOT UPDATE( TsD_Cecha5_Format )
       AND NOT UPDATE( TsD_Cecha5_Kod )
       AND NOT UPDATE( TsD_Cecha5_Wartosc )
       AND NOT UPDATE( TsD_Cecha6_DeAId  )
       AND NOT UPDATE( TsD_Cecha6_Format )
       AND NOT UPDATE( TsD_Cecha6_Kod )
       AND NOT UPDATE( TsD_Cecha6_Wartosc )
       AND NOT UPDATE( TsD_Cecha7_DeAId  )
       AND NOT UPDATE( TsD_Cecha7_Format )
       AND NOT UPDATE( TsD_Cecha7_Kod )
       AND NOT UPDATE( TsD_Cecha7_Wartosc )
       AND NOT UPDATE( TsD_Cecha8_DeAId  )
       AND NOT UPDATE( TsD_Cecha8_Format )
       AND NOT UPDATE( TsD_Cecha8_Kod )
       AND NOT UPDATE( TsD_Cecha8_Wartosc )
       AND NOT UPDATE( TsD_Cecha9_DeAId  )
       AND NOT UPDATE( TsD_Cecha9_Format )
       AND NOT UPDATE( TsD_Cecha9_Kod )
       AND NOT UPDATE( TsD_Cecha9_Wartosc )
       AND NOT UPDATE( TsD_Cecha10_DeAId  )
       AND NOT UPDATE( TsD_Cecha10_Format )
       AND NOT UPDATE( TsD_Cecha10_Kod )
       AND NOT UPDATE( TsD_Cecha10_Wartosc )
BEGIN
SET @Komunikat = ''
END
ELSE
BEGIN
     declare
   @atr int
   set @atr = 0
   select @atr = convert(int, fir_wartosc) from cdn.Firma where Fir_Numer=3164
   if (@atr > 0)
   begin
    if (@TsD_Cecha1_DeAId = @atr and len(@TsD_Cecha1_Wartosc) > 0)
    update CDN.TraElem set TrE_OplataCukrowaNumerPartiiTowaru =
    case when len(TrE_OplataCukrowaNumerPartiiTowaru) >0 then SUBSTRING(TrE_OplataCukrowaNumerPartiiTowaru + ', '+
    case when @TsD_Cecha1_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha1_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha1_Wartosc end, 0, 512)  else SUBSTRING(
    case when @TsD_Cecha1_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha1_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha1_Wartosc end, 0, 512) end
    where TrE_TrEId = @TrS_TrEId and TrE_TypDokumentu in (302,305,306) and @TrN_Bufor = 0 and @TsD_Ilosc != 0
    if (@TsD_Cecha2_DeAId = @atr and len(@TsD_Cecha2_Wartosc) > 0)
    update CDN.TraElem set TrE_OplataCukrowaNumerPartiiTowaru =
    case when len(TrE_OplataCukrowaNumerPartiiTowaru) >0 then SUBSTRING(TrE_OplataCukrowaNumerPartiiTowaru + ', '+
    case when @TsD_Cecha2_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha2_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha2_Wartosc end, 0, 512)  else SUBSTRING(
    case when @TsD_Cecha2_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha2_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha2_Wartosc end, 0, 512) end
    where TrE_TrEId = @TrS_TrEId and TrE_TypDokumentu in (302,305,306) and @TrN_Bufor = 0 and @TsD_Ilosc != 0
    if (@TsD_Cecha3_DeAId = @atr and len(@TsD_Cecha3_Wartosc) > 0)
    update CDN.TraElem set TrE_OplataCukrowaNumerPartiiTowaru =
    case when len(TrE_OplataCukrowaNumerPartiiTowaru) >0 then SUBSTRING(TrE_OplataCukrowaNumerPartiiTowaru + ', '+
    case when @TsD_Cecha3_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha3_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha3_Wartosc end, 0, 512)  else SUBSTRING(
    case when @TsD_Cecha3_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha3_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha3_Wartosc end, 0, 512) end
    where TrE_TrEId = @TrS_TrEId and TrE_TypDokumentu in (302,305,306) and @TrN_Bufor = 0 and @TsD_Ilosc != 0
    if (@TsD_Cecha4_DeAId = @atr and len(@TsD_Cecha4_Wartosc) > 0)
    update CDN.TraElem set TrE_OplataCukrowaNumerPartiiTowaru =
    case when len(TrE_OplataCukrowaNumerPartiiTowaru) >0 then SUBSTRING(TrE_OplataCukrowaNumerPartiiTowaru + ', '+
    case when @TsD_Cecha4_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha4_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha4_Wartosc end, 0, 512)  else SUBSTRING(
    case when @TsD_Cecha4_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha4_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha4_Wartosc end, 0, 512) end
    where TrE_TrEId = @TrS_TrEId and TrE_TypDokumentu in (302,305,306) and @TrN_Bufor = 0 and @TsD_Ilosc != 0
     if (@TsD_Cecha5_DeAId = @atr and len(@TsD_Cecha5_Wartosc) > 0)
    update CDN.TraElem set TrE_OplataCukrowaNumerPartiiTowaru =
    case when len(TrE_OplataCukrowaNumerPartiiTowaru) >0 then SUBSTRING(TrE_OplataCukrowaNumerPartiiTowaru + ', '+
    case when @TsD_Cecha5_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha5_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha5_Wartosc end, 0, 512)  else SUBSTRING(
    case when @TsD_Cecha5_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha5_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha5_Wartosc end, 0, 512) end
    where TrE_TrEId = @TrS_TrEId and TrE_TypDokumentu in (302,305,306) and @TrN_Bufor = 0 and @TsD_Ilosc != 0
     if (@TsD_Cecha6_DeAId = @atr and len(@TsD_Cecha6_Wartosc) > 0)
    update CDN.TraElem set TrE_OplataCukrowaNumerPartiiTowaru =
    case when len(TrE_OplataCukrowaNumerPartiiTowaru) >0 then SUBSTRING(TrE_OplataCukrowaNumerPartiiTowaru + ', '+
    case when @TsD_Cecha6_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha6_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha6_Wartosc end, 0, 512)  else SUBSTRING(
    case when @TsD_Cecha6_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha6_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha6_Wartosc end, 0, 512) end
    where TrE_TrEId = @TrS_TrEId and TrE_TypDokumentu in (302,305,306) and @TrN_Bufor = 0 and @TsD_Ilosc != 0
     if (@TsD_Cecha7_DeAId = @atr and len(@TsD_Cecha7_Wartosc) > 0)
    update CDN.TraElem set TrE_OplataCukrowaNumerPartiiTowaru =
    case when len(TrE_OplataCukrowaNumerPartiiTowaru) >0 then SUBSTRING(TrE_OplataCukrowaNumerPartiiTowaru + ', '+
    case when @TsD_Cecha7_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha7_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha7_Wartosc end, 0, 512)  else SUBSTRING(
    case when @TsD_Cecha7_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha7_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha7_Wartosc end, 0, 512) end
    where TrE_TrEId = @TrS_TrEId and TrE_TypDokumentu in (302,305,306) and @TrN_Bufor = 0 and @TsD_Ilosc != 0
     if (@TsD_Cecha8_DeAId = @atr  and len(@TsD_Cecha8_Wartosc) > 0)
    update CDN.TraElem set TrE_OplataCukrowaNumerPartiiTowaru =
    case when len(TrE_OplataCukrowaNumerPartiiTowaru) >0 then SUBSTRING(TrE_OplataCukrowaNumerPartiiTowaru + ', '+
    case when @TsD_Cecha8_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha8_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha8_Wartosc end, 0, 512)  else SUBSTRING(
    case when @TsD_Cecha8_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha8_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha8_Wartosc end, 0, 512) end
    where TrE_TrEId = @TrS_TrEId and TrE_TypDokumentu in (302,305,306) and @TrN_Bufor = 0 and @TsD_Ilosc != 0
     if (@TsD_Cecha9_DeAId = @atr and len(@TsD_Cecha9_Wartosc) > 0)
    update CDN.TraElem set TrE_OplataCukrowaNumerPartiiTowaru =
    case when len(TrE_OplataCukrowaNumerPartiiTowaru) >0 then SUBSTRING(TrE_OplataCukrowaNumerPartiiTowaru + ', '+
    case when @TsD_Cecha9_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha9_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha9_Wartosc end, 0, 512)  else SUBSTRING(
    case when @TsD_Cecha9_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha9_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha9_Wartosc end, 0, 512) end
    where TrE_TrEId = @TrS_TrEId and TrE_TypDokumentu in (302,305,306) and @TrN_Bufor = 0 and @TsD_Ilosc != 0
     if (@TsD_Cecha10_DeAId = @atr and len(@TsD_Cecha10_Wartosc) > 0)
    update CDN.TraElem set TrE_OplataCukrowaNumerPartiiTowaru =
    case when len(TrE_OplataCukrowaNumerPartiiTowaru) >0 then SUBSTRING(TrE_OplataCukrowaNumerPartiiTowaru + ', '+
    case when @TsD_Cecha10_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha10_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha10_Wartosc end, 0, 512)  else SUBSTRING(
    case when @TsD_Cecha10_Format = 4 then convert (nvarchar(30),dateadd( day, CONVERT(int,@TsD_Cecha10_Wartosc),CONVERT(DATETIME,'1800-12-28',120)),23)  else  @TsD_Cecha10_Wartosc end, 0, 512) end
    where TrE_TrEId = @TrS_TrEId and TrE_TypDokumentu in (302,305,306) and @TrN_Bufor = 0 and @TsD_Ilosc != 0
    update f set F.TrE_OplataCukrowaNumerPartiiTowaru =W.TrE_OplataCukrowaNumerPartiiTowaru
    from CDN.TraElem f
    left join cdn.tranagrelacje on f.TrE_TrNId =  TrR_faId AND TrR_FaTyp in(302, 305) AND TrR_TrNTyp= 306
    left join cdn.TraElem W  on W.TrE_TrNId = TrR_TrNId
    where w.TrE_TrEId = @TrS_TrEId AND W.TrE_TypDokumentu = 306 AND  W.TrE_Lppow = F.TrE_LpPow
    and not exists (select * from cdn.traselemdost where tsd_treid = f.tre_treid and tsd_trsid != 0 )
   end
END
   END
  END
   CLOSE Dodawane
    DEALLOCATE Dodawane
  END
  DECLARE EKI CURSOR LOCAL FAST_FORWARD FOR
    SELECT TrE_TrEId, TrE_TwrId, TrE_DataOpe, TrE_TwrKod,TrE_TwrNazwa
      FROM (
             SELECT TrE_TrEId , TrE_TwrId, TrE_DataOpe, TrE_TwrKod,TrE_TwrNazwa
             FROM deleted
             join CDN.TraElem on TrE_TrEId = TsD_TrEID
             where Tre_WyborDostaw = 1 and TsD_PdEId = 0 --tu czy wskaz dost
             UNION ALL
             SELECT TrE_TrEId , TrE_TwrId, TrE_DataOpe, TrE_TwrKod,TrE_TwrNazwa
             FROM inserted
             join CDN.TraElem on TrE_TrEId = TsD_TrEID
             where Tre_WyborDostaw = 1 and TsD_PdEId = 0 --tu czy wskaz dost
           ) AS TrE_ERR
      GROUP BY TrE_TrEId, TrE_TwrId, TrE_DataOpe, TrE_TwrKod,TrE_TwrNazwa
    OPEN EKI
      WHILE 1=1
      BEGIN
        FETCH NEXT FROM EKI INTO @TrE_TrEId, @TrE_TwrId, @TrE_DataOpe, @TrE_TwrKod, @TrE_TwrNazwa
        IF @@FETCH_STATUS <> 0 BREAK
        SET @Komunikat = CDN.TwrZasobyErr ( @TrE_TrEId, @TrE_TwrId, @TrE_TwrKod,@TrE_TwrNazwa, @TrE_DataOpe )
        IF @Komunikat <> '' GOTO KOMUNIKAT
      END
    CLOSE EKI
  DEALLOCATE EKI
--pwp/rws
 IF @Metoda in( 1,2) and @QUAN = 0
    BEGIN
      -- elementy kasowane
      DECLARE @TrSSkladniki TABLE ( TrSId INT, TrEId INT )
      INSERT INTO @TrSSkladniki ( TrSId, TrEId ) SELECT TsD_TrSId, PdE_TrEIdRWS FROM deleted join cdn.prodelem on TsD_PdEId = PdE_PdEId  where TsD_PdEId > 0
      DELETE cdn.TraSElem FROM cdn.TraSElem JOIN @TrSSkladniki ON TrSId = TrS_TrSId AND  TrS_TrEId = TrEId-- WHERE TrS_TrEId IN ( SELECT TrE_TrEId FROM deleted ) -- = @TrE_TrEId
      -- elementy dodawane
      DECLARE Dodawane CURSOR LOCAL FAST_FORWARD FOR
      SELECT  [TsD_TsDID],[TsD_TrSID] ,PdE_TrEIdRWS ,[TsD_TrSIdDost] ,[TsD_NumerPelny] ,[TsD_NumerObcy] ,[TsD_DataOpe] ,[TsD_Dostawca] ,[TsD_Ilosc] ,[TsD_IloscDostepna]
              ,[TsD_Cecha1_DeAId] ,[TsD_Cecha1_Format] ,[TsD_Cecha1_Kod] ,[TsD_Cecha1_Wartosc] ,[TsD_Cecha2_DeAId] ,[TsD_Cecha2_Format] ,[TsD_Cecha2_Kod]
              ,[TsD_Cecha2_Wartosc] ,[TsD_Cecha3_DeAId] ,[TsD_Cecha3_Format] ,[TsD_Cecha3_Kod] ,[TsD_Cecha3_Wartosc] ,[TsD_Cecha4_DeAId] ,[TsD_Cecha4_Format]
              ,[TsD_Cecha4_Kod] ,[TsD_Cecha4_Wartosc] ,[TsD_Cecha5_DeAId] ,[TsD_Cecha5_Format] ,[TsD_Cecha5_Kod] ,[TsD_Cecha5_Wartosc] ,[TsD_Cecha6_DeAId]
              ,[TsD_Cecha6_Format] ,[TsD_Cecha6_Kod] ,[TsD_Cecha6_Wartosc] ,[TsD_Cecha7_DeAId] ,[TsD_Cecha7_Format] ,[TsD_Cecha7_Kod] ,[TsD_Cecha7_Wartosc]
              ,[TsD_Cecha8_DeAId] ,[TsD_Cecha8_Format] ,[TsD_Cecha8_Kod] ,[TsD_Cecha8_Wartosc] ,[TsD_Cecha9_DeAId] ,[TsD_Cecha9_Format] ,[TsD_Cecha9_Kod]
              ,[TsD_Cecha9_Wartosc] ,[TsD_Cecha10_DeAId] ,[TsD_Cecha10_Format] ,[TsD_Cecha10_Kod] ,[TsD_Cecha10_Wartosc],PdE_magid, TsD_ZwrId, TsD_Wartosc, TsD_TrEID
      FROM inserted
      join cdn.prodelem on TsD_PdEId = PdE_PdEId
     where TsD_PdEId > 0
      ORDER BY PdE_TrEIdRWS, TsD_TrSId, TsD_TsDId
      OPEN Dodawane
      WHILE 1=1
      BEGIN
        FETCH NEXT FROM Dodawane INTO @TsD_TsDID, @TsD_TrSID, @TsD_TrEId, @TsD_TrSIdDost, @TsD_NumerPelny, @TsD_NumerObcy, @TsD_DataOpe,
               @TsD_Dostawca, @TsD_Ilosc, @TsD_IloscDostepna, @TsD_Cecha1_DeAId, @TsD_Cecha1_Format, @TsD_Cecha1_Kod,
               @TsD_Cecha1_Wartosc, @TsD_Cecha2_DeAId, @TsD_Cecha2_Format, @TsD_Cecha2_Kod, @TsD_Cecha2_Wartosc, @TsD_Cecha3_DeAId ,
               @TsD_Cecha3_Format, @TsD_Cecha3_Kod, @TsD_Cecha3_Wartosc, @TsD_Cecha4_DeAId, @TsD_Cecha4_Format, @TsD_Cecha4_Kod,
               @TsD_Cecha4_Wartosc, @TsD_Cecha5_DeAId, @TsD_Cecha5_Format, @TsD_Cecha5_Kod, @TsD_Cecha5_Wartosc, @TsD_Cecha6_DeAId,
               @TsD_Cecha6_Format, @TsD_Cecha6_Kod, @TsD_Cecha6_Wartosc, @TsD_Cecha7_DeAId, @TsD_Cecha7_Format, @TsD_Cecha7_Kod,
               @TsD_Cecha7_Wartosc, @TsD_Cecha8_DeAId, @TsD_Cecha8_Format, @TsD_Cecha8_Kod, @TsD_Cecha8_Wartosc, @TsD_Cecha9_DeAId,
               @TsD_Cecha9_Format, @TsD_Cecha9_Kod, @TsD_Cecha9_Wartosc, @TsD_Cecha10_DeAId, @TsD_Cecha10_Format, @TsD_Cecha10_Kod ,
               @TsD_Cecha10_Wartosc,@tre_magid, @tsd_zwrid, @TsD_Wartosc, @TsD_TrEIdPWP
       IF @@FETCH_STATUS <> 0 BREAK
       IF @TsD_Ilosc = 0 and isnull(@TsD_ZwrId,0) = 0
         BEGIN
           SELECT TOP 1
              @TrN_Bufor      = TrN_Bufor
           FROM CDN.TraNag
           JOIN CDN.TraElem ON TrN_TrNId = TrE_TrNId AND TrE_TrEId = @TsD_TrEId
           IF @TrN_Bufor = 0
              DELETE FROM CDN.TraSElemDost WHERE TsD_TsDID = @TsD_TsDID
         END
       ELSE
         BEGIN
          SELECT TOP 1
           @TrN_TrNId      = TrN_TrNId,
           @TrN_FaId       = CDN.TraNagRelacjeFaId (TrN_TrNID,0,0 ),
           @TrN_ZwrId      = TrN_ZwrId,
           @TrN_Rodzaj     = TrN_Rodzaj,
           @TrN_Bufor      = TrN_Bufor,
           @TrN_MagZrdId   = TrN_MagZrdId,
           @TrN_MagDocId   = TrN_MagDocId,
           @TrN_DataDok    = TrN_DataDok,
           @TrN_DataWys    = TrN_DataWys,
           @TrN_DataOpe    = TrN_DataOpe,
           @TrN_TrSTyp     = ISNULL(TrN_TrSTyp,3),
           @TrN_TypNB      = TrN_TypNB,
           @TrN_PodmiotTyp = TrN_PodmiotTyp,
           @TrN_PodId      = TrN_PodId,
           @TrN_Centrala   = TrN_Centrala,
           @TrN_Waluta     = TrN_Waluta,
           @TrN_KursNumer  = TrN_KursNumer,
           @TrN_KursL      = TrN_KursL,
           @TrN_KursM      = TrN_KursM,
         @TrN_Korekta    = TrN_Korekta,
           @TrE_ZwrId      = TrE_ZwrId,
           @TrE_LpPow      = TrE_LpPow,
           @TrE_TwrId      = TrE_TwrId,
           @TrE_DataOpe    = TrE_DataOpe,
           @TrE_Ilosc      = TrE_Ilosc,
           @TrE_WartoscNetto = TrE_WartoscNetto,
           @TrE_CenaT     = TrE_CenaT,
           @TrE_WyborDostaw = TrE_WyborDostaw,
           @TrE_JMPrzelicznikL = TrE_JMPrzelicznikL,
           @TrE_JMPrzelicznikM = TrE_JMPrzelicznikM,
           @TrE_Aktywny = TrE_Aktywny,
           @TrE_TypDokumentu = TrE_TypDokumentu,
           @ZaokraglajDo = case when TrE_CenaZCzteremaMiejscami = 1 then 4 else 2 end
          FROM CDN.TraNag
          JOIN CDN.TraElem ON TrN_TrNId = TrE_TrNId AND TrE_TrEId = @TsD_TrEId
        --date trzeba pobrac z PWP a nie z RWS bo rws zapisywany pozniej
           SELECT TOP 1 @TrE_DataOpe    = TrE_DataDok from cdn.traelem where tre_treid = @TsD_TrEIdPWP
          -- Kreowanie subelementów jest podejmowane tylko w uzasadnionych przypadkach
          -- Anulowane
          IF @TrE_Aktywny = 0
            CONTINUE
          -- FA z WZ, PA z WZ, FAKI z WZKI, PAKI z WZ, FZKI z PZ, AI, AI z PW/RW, RO z PA, RO z FA, RO z WZ akceptowane trwale, PF z FA, PF z RO
          -- zainicjowanie typu
         SET @TrS_Typ        = -1
         -- dokumenty w buforze
         IF @TrN_Bufor = 1
           BEGIN
        IF @TrN_Rodzaj IN (318000 )
          SET @TrS_Typ = @TrN_TrSTyp
        -- FAKI, FAKI z WZKI, PAKI, PAKI z WZKI, RWKI, WZKI  w buforze
        IF @TrN_Rodzaj IN  ( 318001 ) AND @TrN_Bufor IN ( 1 )
         SET @TrS_Typ = 4
        IF @TrN_Rodzaj IN  ( 318001 ) AND @TrN_Bufor IN ( 1 ) AND @TrE_Ilosc > 0
              BEGIN
                DECLARE @TrN_TrSTyp_Pierw INT
                -- dla nie RWSK z dokumentu pierwotnego
                  SELECT TOP 1
                    @TrN_TrSTyp_Pierw = ISNULL(MAX(PWP_N.TrN_TrSTyp),0)
                  FROM cdn.TraNag RWS_N
                    JOIN cdn.TraElem RWS_E ON RWS_E.TrE_TrNId = RWS_N.TrN_TrNId
                    JOIN cdn.TraNag PWP_N ON PWP_N.TrN_TrNId = RWS_N.TrN_FaId
                  WHERE RWS_E.TrE_TrEId = @TrE_TrEId
                -- jeśli na pierwotnym nie jest ustawione "pobranie", to z pierwotnego
                IF @TrN_TrSTyp_Pierw = 2
                  SET @TrS_Typ = @TrN_TrSTyp_Pierw
                ELSE
                  SET @TrS_Typ = 3
              END
         END
       -- dokumenty zaakceptowane trwale
       ELSE IF @TrN_Bufor = 0
         BEGIN
        -- RW, RWKI, WZ, WZKI, WZ z FA, WZ z PA, WZKI, WZKI z FAKI, WZKI z PAKI, MM, RWS, RW z AI
        IF @TrN_Rodzaj IN ( 318000 , 318001)
          SET @TrS_Typ = 2
         END
       -- Jesli nie ustawiono prawidlowego typu - nie kreujemy subelementow
       IF @TrS_Typ NOT IN ( 1, 2, 3, 4 )
         CONTINUE
          -- wartosci pozostalych pol
          SET @TrS_TrSId       = ( SELECT ISNULL(MAX(TrS_TrSId),0) FROM CDN.TraSElem ) + 1
          if (SELECT ISNULL(MAX(Tsd_TrSId),0) FROM CDN.TraSElemdost where tsd_treid = @TsD_TrEId) >= @TrS_TrSId
    SET @TrS_TrSId = (SELECT ISNULL(MAX(Tsd_TrSId),0) FROM CDN.TraSElemdost where tsd_treid = @TsD_TrEId)+ 1
          SET @TrS_TrEId       = @TsD_TrEId
         if  ISNULL(@TsD_TrSIdDost,0) = 0
                 SET @TrS_TrSIdDost   = NULL
          else
                 SET @TrS_TrSIdDost   = @TsD_TrSIdDost
         SET @TrS_ZwrId       = NULL
          SET @TrS_TwrId       = @TrE_TwrId
          SET @TrS_MagId       = CASE WHEN @TrN_Rodzaj <> 312010 THEN @TrE_MagId ELSE @TrN_MagDocId END
          SET @TrS_Rodzaj      = @TrN_Rodzaj
          SET @TrS_Metoda      = @Metoda
          SET @TrS_DataOpe     = @TrE_DataOpe
         SET @TrS_Ilosc       = round(@TsD_Ilosc*(@TrE_JMPrzelicznikL/@TrE_JMPrzelicznikM),4)
         SET @TrS_Wartosc     = 0
         SET @TrS_Cena        = @TrE_CenaT
         SET @TrS_Termin      = NULL
         -- dostawy
         IF @TrS_Typ = 1
           BEGIN
           declare @Trswartosc1 decimal (15,2), @trsilosc1 decimal (15,4)
           set @Trswartosc1 = 0
           set @trsilosc1 = 0
           select @Trswartosc1 = sum (Trs_wartosc), @trsilosc1 = sum (trs_ilosc) from cdn.traselem where trs_treid = @Tsd_TrEId and trs_typ = 1 and trs_trsid != @TSd_TrSId
         if @TrN_Korekta = 1 and ISNULL(@TsD_TrSIdDost,0) > 0
         begin
         select @Trswartosc =  sum (Trs_wartosc),@trsilosc =  sum (trs_ilosc)  from cdn.traselem where TrS_TrSIdDost = @TrS_TrSIdDost and trs_trsid != @TSd_TrSId
         if @trsilosc != 0
            SET @TrS_Wartosc =ROUND(case when @TrE_Ilosc <> 0 THEN ((isnull(@Trswartosc,0)/@trsilosc)*(@TsD_Ilosc)*(@TrE_JMPrzelicznikL/@TrE_JMPrzelicznikM))
            else @TrE_WartoscNetto end ,2)
            else
             SET @TrS_Wartosc = 0
         end
         else
         begin
         SET @TrS_Wartosc = ROUND(case when @TrE_Ilosc <> 0 THEN (((@TrE_WartoscNetto - isnull(@Trswartosc1,0))/(@TrE_Ilosc-isnull(@trsilosc1,0)))*(@TsD_Ilosc)*(@TrE_JMPrzelicznikL/@TrE_JMPrzelicznikM))
         else @TrE_WartoscNetto end ,2)
         end
         SET @TrS_Cena    = round(case when @TrE_Ilosc <> 0 THEN @TrE_WartoscNetto / @TrE_Ilosc ELSE @TrS_Wartosc END,@ZaokraglajDo)
           END
        IF @TrS_Typ = 4 and @TrS_Rodzaj IN (304001)
           BEGIN
      select @TrS_Wartosc = ROUND( ((TrE_WartoscNetto/TrE_Ilosc)*@TsD_Ilosc*(@TrE_JMPrzelicznikL/@TrE_JMPrzelicznikM)),2) from CDN.TraElem where TrE_TrEID = @TrE_ZwrId
     select @TrS_Cena    = round(case when @TrE_Ilosc <> 0 THEN TrE_WartoscNetto / TrE_Ilosc ELSE @TrS_Wartosc END,@ZaokraglajDo) from CDN.TraElem where TrE_TrEID = @TrE_ZwrId
           END
         -- odwrotne ilosci dla korekt w buforze
         -- FAKI, FAKI z WZKI, PAKI, PAKI z WZKI, FZKI, FZKI z PZKI, PWKI, RWKI, WZKI, PZKI, BOMKI  w buforze
   IF (@TrN_Rodzaj IN  (  318001) AND @TrN_Bufor IN ( 1 ) AND @TrS_Typ IN ( 3, 4 ) AND @TrS_Ilosc < 0 )
            BEGIN
            SET @TrS_Ilosc = - @TsD_Ilosc
           END
         -- insert subelemntu i procedura aktualizacji wartości zakupu (subelement dodawany tylko dla towaru)
         -- odczytanie typu karty (towar/usługa) oraz typu kosztu usługi i stawki VAT dla późniejszej aktualizacji ceny zakupu
         SELECT
           @Twr_Typ            = Twr_Typ
         FROM CDN.Towary
         WHERE Twr_TwrId = @TrE_TwrId
         -- Kontrola ilosci przed dodaniem subelemntu
         IF @Twr_Typ = 1 AND (( @TrS_Typ = 1 AND @TrS_Ilosc < 0 ) OR ( @TrS_Typ = 2 AND @TrS_Ilosc > 0 ))
          BEGIN
             SELECT @ZawszeBraki = ISNULL(MAX(Fir_Wartosc),0) FROM cdn.Firma WHERE Fir_Numer = 1536
         if (SELECT ISNULL(MAX(Fir_Wartosc),0) FROM cdn.Firma WHERE Fir_Numer = 1970) = 1 or  (SELECT ISNULL(MAX(Fir_Wartosc),0) FROM cdn.Firma WHERE Fir_Numer = 1776) = 1
            select @ZezwalajMimoRez = 1
         else
            select @ZezwalajMimoRez = 0
     --SELECT @ZezwalajMimoRez = ISNULL(MAX(Fir_Wartosc),0) FROM cdn.Firma WHERE Fir_Numer = 1970
       IF  @TrE_WyborDostaw  = 1
        SET @Komunikat = CDN.TwrIlosciErr ( 1, @TrS_Typ, @TrS_TwrId, @TrS_MagId, @TrS_DataOpe, @TrS_Ilosc, 0)
            IF @Komunikat <> '' GOTO KOMUNIKAT
          END
        IF @Twr_Typ = 1 AND @TrS_Typ IN ( 3, 4 ) AND @TrS_Wartosc = 0
            select @TrS_Wartosc = round(@TsD_Wartosc*@TsD_Ilosc,2), @TrS_Cena = @TrS_Wartosc
         -- dodanie subelemntu (towary lub usługi gdy dokumenty rozchodowe )
         IF @Twr_Typ = 1 and @TrE_WyborDostaw  = 1--tu czy wskaz dost
           BEGIN
           EXECUTE CDN.AktualizujTraSElem @TrS_TrSId, @TrS_TrEId, @TrS_TrSIdDost, @TrS_ZwrId, @TrS_TwrId, @TrS_MagId, @TrS_Rodzaj, @TrS_Typ, @TrS_Metoda, @TrS_DataOpe, @TrS_Ilosc, @TrS_Wartosc, @TrS_Cena, @TrS_Termin, @TrE_ZwrId, @TrN_TrNId, @TrN_MagDocId, @TrN_Bufor--, @Trs_TrSIdost = @max OUTPUT
           IF (@TrS_Typ = 1 AND @TrS_Ilosc > 0) or @TrS_Typ IN ( 3, 4 )
                SELECT @max =  @TrS_TrSId
           ELSE
                SELECT  @max= IDENT_CURRENT('cdn.traselem')
         if exists (select * from cdn.traselem where trs_trsid = @max)
         UPDATE CDN.TrasElemDost SET TsD_TrsId = @max where Tsd_TsdId = @Tsd_TsdId
            IF @TrS_Rodzaj not in (301001,302005,305005,301051)
            BEGIN
              IF NOT (@TrS_Rodzaj in (312000,312008,306001,304001,302001,305001,318001) AND @TrN_Bufor = 1)
                UPDATE CDN.TrasElemDost SET TsD_TrsIddost = case when ISNULL(TrS_TrsIdDost,0) = 0 then case when TrS_ZwrId is NULL then TsD_TrsId else TrS_ZwrId end else ISNULL(TrS_TrsIdDost,0) end FROM CDN.TrasElemDost
                  JOIN CDN.TrasElem on  TsD_TrsId = TrS_TrSId where Tsd_TsdId = @Tsd_TsdId
            END
         -- ustawiamy korekty jesli idodst sie zmienilo
   if exists (select @TsD_TrsIddost from deleted d where d.TsD_TrsIddost = @TsD_TrsIddost and @TsD_TrsIddost!= 0)
     UPDATE t set  t.TsD_ZwrId = tnew.TsD_TreId, t.TsD_TrsIddost = tnew.TsD_TrsIdDost FROM CDN.TrasElemDost t
           join deleted d on d.TsD_TrsIddost =t.TsD_TrsIddost and  d.TsD_TreId = t.TsD_ZwrId and d.TsD_TrsIddost = @TsD_TrsIddost
           join CDN.TrasElemDost tnew on d.TsD_TsDId =tnew.TsD_TsDId
   if exists (select * from cdn.traselem where trs_trsid = @max)
            INSERT INTO [CDN].[TraSElemCechy] ([TsC_TrSID],[TsC_Cecha1_DeAId] ,[TsC_Cecha1_Format] ,[TsC_Cecha1_Kod] ,[TsC_Cecha1_Wartosc] ,[TsC_Cecha2_DeAId] ,[TsC_Cecha2_Format] ,[TsC_Cecha2_Kod] ,[TsC_Cecha2_Wartosc] ,[TsC_Cecha3_DeAId] ,[TsC_Cecha3_Format]
              ,[TsC_Cecha3_Kod] ,[TsC_Cecha3_Wartosc] ,[TsC_Cecha4_DeAId] ,[TsC_Cecha4_Format] ,[TsC_Cecha4_Kod] ,[TsC_Cecha4_Wartosc] ,[TsC_Cecha5_DeAId] ,[TsC_Cecha5_Format] ,[TsC_Cecha5_Kod] ,[TsC_Cecha5_Wartosc] ,[TsC_Cecha6_DeAId]
              ,[TsC_Cecha6_Format],[TsC_Cecha6_Kod] ,[TsC_Cecha6_Wartosc] ,[TsC_Cecha7_DeAId] ,[TsC_Cecha7_Format] ,[TsC_Cecha7_Kod] ,[TsC_Cecha7_Wartosc] ,[TsC_Cecha8_DeAId] ,[TsC_Cecha8_Format] ,[TsC_Cecha8_Kod] ,[TsC_Cecha8_Wartosc]
              ,[TsC_Cecha9_DeAId] ,[TsC_Cecha9_Format] ,[TsC_Cecha9_Kod] ,[TsC_Cecha9_Wartosc] ,[TsC_Cecha10_DeAId] ,[TsC_Cecha10_Format] ,[TsC_Cecha10_Kod] ,[TsC_Cecha10_Wartosc])
            SELECT @max, @TsD_Cecha1_DeAId,  @TsD_Cecha1_Format, @TsD_Cecha1_Kod,  @TsD_Cecha1_Wartosc,  @TsD_Cecha2_DeAId,  @TsD_Cecha2_Format, @TsD_Cecha2_Kod,  @TsD_Cecha2_Wartosc,  @TsD_Cecha3_DeAId,  @TsD_Cecha3_Format, @TsD_Cecha3_Kod,  @TsD_Cecha3_Wartosc,
              @TsD_Cecha4_DeAId, @TsD_Cecha4_Format, @TsD_Cecha4_Kod,  @TsD_Cecha4_Wartosc,  @TsD_Cecha5_DeAId,  @TsD_Cecha5_Format, @TsD_Cecha5_Kod,  @TsD_Cecha5_Wartosc,  @TsD_Cecha6_DeAId,  @TsD_Cecha6_Format, @TsD_Cecha6_Kod,  @TsD_Cecha6_Wartosc,
              @TsD_Cecha7_DeAId, @TsD_Cecha7_Format, @TsD_Cecha7_Kod,  @TsD_Cecha7_Wartosc,  @TsD_Cecha8_DeAId,  @TsD_Cecha8_Format, @TsD_Cecha8_Kod,  @TsD_Cecha8_Wartosc,  @TsD_Cecha9_DeAId,  @TsD_Cecha9_Format, @TsD_Cecha9_Kod,  @TsD_Cecha9_Wartosc,
              @TsD_Cecha10_DeAId, @TsD_Cecha10_Format, @TsD_Cecha10_Kod,  @TsD_Cecha10_Wartosc
            UPDATE CDN.TrasElem SET TrS_WyborDostaw  = 1 WHERE TrS_TrEId = @TrS_TrEId and TrS_WyborDostaw != 1
            -- Update wartości i cen elementu dla dokumentów wewnętrznych
            IF @TrE_TypDokumentu IN ( 304, 312, 318 ) AND @TrN_Rodzaj NOT IN ( 312010 )
             BEGIN
               SET @TrE_WartoscZakupu = ( SELECT TrE_WartoscZakupu FROM cdn.TraElem WHERE TrE_TrEId = @TrS_TrEId )
            IF @TrE_TypDokumentu = 304 and @TrN_Bufor = 1
            SET @TrE_WartoscZakupu = ( SELECT sum(Tsd_Wartosc * Tsd_Ilosc) FROM cdn.TrasElemdost WHERE Tsd_TrEId = @TrS_TrEId )
               UPDATE CDN.TrasElem SET TrS_WyborDostaw  = 2 WHERE TrS_TrEId = @TrS_TrEId
               UPDATE cdn.TraElem SET
                 TrE_WartoscNetto     = @TrE_WartoscZakupu,
                 TrE_WartoscBrutto    = ROUND(@TrE_WartoscZakupu * ( ( 100 + TrE_Stawka ) / 100 ), 2 ),
                 TrE_WartoscNettoWal  = @TrE_WartoscZakupu,
                 TrE_WartoscBruttoWal = ROUND(@TrE_WartoscZakupu * ( ( 100 + TrE_Stawka ) / 100 ), 2 ),
                 TrE_Rabat            = 0,
                 TrE_CenaT            = Round(CASE TrE_IloscJM WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_IloscJM END,@ZaokraglajDo),
                 TrE_CenaW            = Round(CASE TrE_IloscJM WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_IloscJM END,@ZaokraglajDo) ,
                 TrE_Cena0            = Round(CASE TrE_Ilosc   WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_Ilosc   END,@ZaokraglajDo) ,
                 TrE_CenaWWD          = Round(CASE TrE_IloscJM WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_IloscJM END,@ZaokraglajDo),
                 TrE_Cena0WD          = Round(CASE TrE_Ilosc   WHEN 0 THEN 0 ELSE @TrE_WartoscZakupu / TrE_Ilosc   END,@ZaokraglajDo)
                 --TrE_Waluta           = @WalutaSys,
                 --TrE_KursNumer        = 0,
                 --TrE_KursL            = 1,
                 --TrE_KursM            = 1
               WHERE TrE_TrEId = @TrS_TrEId
               UPDATE CDN.TrasElem SET TrS_WyborDostaw  = 1 WHERE TrS_TrEId = @TrS_TrEId and TrS_WyborDostaw != 1
          END
    END
   END
  END
   CLOSE Dodawane
    DEALLOCATE Dodawane
  END
  DECLARE EKI CURSOR LOCAL FAST_FORWARD FOR
    SELECT TrE_TrEId, TrE_TwrId, TrE_DataOpe, TrE_TwrKod,TrE_TwrNazwa
      FROM (
             SELECT TrE_TrEId , TrE_TwrId, TrE_DataOpe, TrE_TwrKod,TrE_TwrNazwa
             FROM deleted
          join cdn.prodelem on TsD_PdEId = PdE_PdEId
             join CDN.TraElem on TrE_TrEId = PdE_TrEIdRWS
             where Tre_WyborDostaw = 1 and TsD_PdEId > 0--tu czy wskaz dost
             UNION ALL
             SELECT TrE_TrEId , TrE_TwrId, TrE_DataOpe, TrE_TwrKod,TrE_TwrNazwa
             FROM inserted
          join cdn.prodelem on TsD_PdEId = PdE_PdEId
             join CDN.TraElem on TrE_TrEId = PdE_TrEIdRWS
             where Tre_WyborDostaw = 1 and TsD_PdEId > 0 --tu czy wskaz dost
           ) AS TrE_ERR
      GROUP BY TrE_TrEId, TrE_TwrId, TrE_DataOpe, TrE_TwrKod,TrE_TwrNazwa
    OPEN EKI
      WHILE 1=1
      BEGIN
        FETCH NEXT FROM EKI INTO @TrE_TrEId, @TrE_TwrId, @TrE_DataOpe, @TrE_TwrKod, @TrE_TwrNazwa
        IF @@FETCH_STATUS <> 0 BREAK
        SET @Komunikat = CDN.TwrZasobyErr ( @TrE_TrEId, @TrE_TwrId, @TrE_TwrKod,@TrE_TwrNazwa, @TrE_DataOpe )
        IF @Komunikat <> '' GOTO KOMUNIKAT
      END
    CLOSE EKI
  DEALLOCATE EKI
--pwp/rws
  -- Wyswietlenie komunikatu i rollback całej transakcji
  KOMUNIKAT:
  IF @Komunikat <> ''
    BEGIN
      RAISERROR( @Komunikat, 16, 1 )
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
  SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[TraSElemDost] ENABLE TRIGGER [TrasElemDost_InsertUpdate_Trigger]
GO

# [TwrAtrybuty_Delete_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[TwrAtrybuty_Delete_Trigger]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create TRIGGER [CDN].[TwrAtrybuty_Delete_Trigger]
ON [CDN].[TwrAtrybuty]
FOR DELETE
AS
  SET NOCOUNT ON
   UPDATE cdn.towary SET Twr_TS_Mod = getdate()
            where twr_twrid in (select Twa_TwrId from deleted)
  SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[TwrAtrybuty] ENABLE TRIGGER [TwrAtrybuty_Delete_Trigger]
GO

# [TwrAtrybuty_InsertUpdate_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[TwrAtrybuty_InsertUpdate_Trigger]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create TRIGGER [CDN].[TwrAtrybuty_InsertUpdate_Trigger]
ON [CDN].[TwrAtrybuty]
FOR INSERT, UPDATE
AS
  SET NOCOUNT ON
   --If Exists (select TwA_DABId from inserted where TwA_DABId is not null)
   --   UPDATE dane SET dane.dab_ts_mod = getdate()
   --         FROM cdn.danebinarne dane
   --         JOIN inserted ON  TwA_DABId = DaB_DaBId
  if exists (select * from inserted left join cdn.DefAtrybuty on DeA_DeAId = twa_deaid where DeA_PozwalajNaEdycjeESklep = 1 and TwA_AtrybutGrupujacyFantom = 1)
  BEGIN
      RAISERROR('##OPT34549##', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
  -- jeśli zaznaczamy atrybut do esklep to tez na definicji musi byc.
  if exists (select DeA_DeAId from inserted join CDN.DefAtrybuty on DeA_DeAId = twa_deaid where  isnull(TwA_ESklep,0) = 1 and isnull(DeA_ESklep,0) = 0)
  update CDN.DefAtrybuty set DeA_ESklep = 1,DeA_TS_Mod = GETDATE() where DeA_DeAId in (
  select DeA_DeAId from inserted join CDN.DefAtrybuty on DeA_DeAId = twa_deaid where  isnull(TwA_ESklep,0) = 1 and isnull(DeA_ESklep,0) = 0)
SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[TwrAtrybuty] ENABLE TRIGGER [TwrAtrybuty_InsertUpdate_Trigger]
GO

# [TwrCeny_InsertUpdate_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[TwrCeny_InsertUpdate_Trigger]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TwrCeny_InsertUpdate_Trigger]
ON [CDN].[TwrCeny]
FOR INSERT, UPDATE
AS
  SET NOCOUNT ON
  If Not Exists (Select * From deleted)
    Update CDN.TwrCeny Set
    TwC_Wartosc = Twr_KosztUslugiWal, TwC_Waluta  = Twr_Waluta
    From CDN.TwrCeny
    Join inserted On inserted.TwC_TwCId = CDN.TwrCeny.TwC_TwCId
    Join CDN.Towary On inserted.TwC_TwrId = Twr_TwrId
    Where Twr_Typ = 0 And Twr_KosztUslugiTyp = 1
    And (inserted.TwC_Wartosc <> Twr_KosztUslugiWal Or inserted.TwC_Waluta <> Twr_Waluta)
    And inserted.TwC_TwCNumer = 1
-- Uuzpełnienie tabeli przecen
  Declare @TwrID Int, @TwCNumer Int, @Wartosc Decimal(17,4), @Waluta NVarchar(3), @Data DateTime, @WartoscP Decimal(17,4), @WalutaP NVarchar(3), @DataP DateTime
  Declare Dodane Cursor Local Fast_Forward For
   Select TwC_TwrID, TwC_TwCNumer, TwC_Wartosc, TwC_Waluta From inserted
  Open Dodane
  While 1=1
   Begin
    Fetch Next From Dodane InTo @TwrID, @TwCNumer, @Wartosc, @Waluta
    If @@Fetch_Status <> 0 Break
    If Exists (Select * From CDN.TwrPrzeceny Where TPC_TwrId=@TwrId And TPC_TwCNumer=@TwCNumer)
     Begin
      Set @Data = Convert (DateTime, Convert(Char(10), GetDate(), 120), 120)
      Select Top 1 @WartoscP = TPC_Wartosc, @WalutaP = TPC_Waluta, @DataP = TPC_Data
       From CDN.TwrPrzeceny
       Where TPC_TwrId = @TwrId And TPC_TwCNumer = @TwCNumer And TPC_Data <= @Data
       Order By TPC_TwrId, TPC_TwCNumer, TPC_Data DESC
      If @Wartosc = @WartoscP And @Waluta = @WalutaP Continue
      If @DataP = @Data
       Update CDN.TwrPrzeceny Set TPC_Wartosc = @Wartosc, TPC_Waluta = @Waluta
         Where TPC_TwrId = @TwrId And TPC_TwCNumer = @TwCNumer And TPC_Data = @Data
      Else
       Insert InTo CDN.TwrPrzeceny (TPC_TwrID, TPC_TwCNumer, TPC_Data, TPC_Wartosc, TPC_Waluta)
                            Values (@TwrId,    @TwCNumer,    @Data,    @Wartosc,    @Waluta   )
     End
    Else
     Insert InTo CDN.TwrPrzeceny (
      TPC_TwrID,
      TPC_TwCNumer,
      TPC_Data,
      TPC_Wartosc,
      TPC_Waluta
     )
     Values (
      @TwrId,
      @TwCNumer,
      Convert(DateTime, '1900-01-01', 120),
      @Wartosc,
      @Waluta
     )
   End
  Close Dodane
  Deallocate Dodane
  update cdn.towary set twr_ts_mod = getdate() where twr_twrid in ( select distinct twc_twrid From inserted)
    -- modyfikujemy zestawy zeby poszły do esklep jak sie ceny zmienia
  update CDN.ZestawyTwr set ZTw_TS_Mod = getdate() where ZTw_TwrId in ( select distinct twc_twrid From inserted)
  update Zestawy set ZTw_TS_Mod = getdate()from CDN.ZestawyTwr Zestawy join cdn.ZestawyTwrSkladniki on ZTw_ZTwId = zts_ztwid where ZTs_TwrId in ( select distinct twc_twrid From inserted)
  SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[TwrCeny] ENABLE TRIGGER [TwrCeny_InsertUpdate_Trigger]
GO

# [TwrDost_InsertUpdateHandler]

In [0]:
/****** Object:  Trigger [CDN].[TwrDost_InsertUpdateHandler]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TwrDost_InsertUpdateHandler]
  ON [CDN].[TwrDost]
  FOR INSERT,UPDATE
AS
SET NOCOUNT ON
        -- Sprawdzenie obecności wierszy w tabeli nadrzędnej
        IF EXISTS
           ( SELECT * FROM inserted LEFT OUTER JOIN CDN.Towary ON
                    inserted.TWD_TwrTyp = CDN.Towary.Twr_GIDTyp
                AND inserted.TWD_TwrNumer = CDN.Towary.Twr_GIDNumer
              WHERE CDN.Towary.Twr_GIDNumer IS NULL
                AND (
                          IsNull(inserted.TWD_TwrTyp,0) <> 0            -- Jeżeli pola mają wartości NULL lub 0 to nie sprawdzamy relacji
                      OR  IsNull(inserted.TWD_TwrNumer,0) <> 0            -- Jeżeli pola mają wartości NULL lub 0 to nie sprawdzamy relacji
                    )
           )
        BEGIN
   RAISERROR('##OPT32025##%%1%%=Towary##', 16, 1)
          ROLLBACK TRAN
          SET NOCOUNT ON
          RETURN
        END
        -- Sprawdzenie obecności wierszy w tabeli nadrzędnej
        IF EXISTS
           ( SELECT * FROM inserted LEFT OUTER JOIN CDN.Kontrahenci ON
                    inserted.TWD_KntTyp = CDN.Kontrahenci.Knt_GIDTyp
                AND inserted.TWD_KntFirma = CDN.Kontrahenci.Knt_GIDFirma
                AND inserted.TWD_KntNumer = CDN.Kontrahenci.Knt_GIDNumer
              WHERE CDN.Kontrahenci.Knt_GIDNumer IS NULL
                AND (
                          IsNull(inserted.TWD_KntTyp,0) <> 0            -- Jeżeli pola mają wartości NULL lub 0 to nie sprawdzamy relacji
                      OR  IsNull(inserted.TWD_KntFirma,0) <> 0            -- Jeżeli pola mają wartości NULL lub 0 to nie sprawdzamy relacji
                      OR  IsNull(inserted.TWD_KntNumer,0) <> 0            -- Jeżeli pola mają wartości NULL lub 0 to nie sprawdzamy relacji
                    )
           )
        BEGIN
   RAISERROR('##OPT32025##%%1%%=Kontrahenci##', 16, 1)
          ROLLBACK TRAN
          SET NOCOUNT ON
          RETURN
        END
SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[TwrDost] ENABLE TRIGGER [TwrDost_InsertUpdateHandler]
GO

# [TwrEAN_InsertUpdate_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[TwrEAN_InsertUpdate_Trigger]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TwrEAN_InsertUpdate_Trigger]
ON [CDN].[TwrEan]
FOR INSERT, UPDATE
AS
  SET NOCOUNT ON
  If Update (TwE_EAN)
    Begin
      If Exists (
        Select * From inserted A, CDN.Towary B Where
          A.TwE_EAN   = B.Twr_EAN And B.Twr_EAN <> '' And
           A.TwE_TwrId   <> B.Twr_TwrId)
       Or Exists (
         Select * From inserted A, CDN.TwrEAN B Where
          A.TwE_EAN   = B.TwE_EAN And A.TwE_EAN <> '' And
           A.TwE_TwrId   <> B.TwE_TwrId)
  Or Exists (
         Select * From inserted A, CDN.Towary B Where
           B.Twr_Kod   = A.TwE_EAN And
           B.Twr_TwrId   <> A.TwE_TwrId)
        Begin
          RaisError ('##OPT32345##', 16,1)
          RollBack Tran
          Return
        End
    End
  SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[TwrEan] ENABLE TRIGGER [TwrEAN_InsertUpdate_Trigger]
GO

# [RO_TwrGrupy_InsertUpdateDelete_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[RO_TwrGrupy_InsertUpdateDelete_Trigger]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[RO_TwrGrupy_InsertUpdateDelete_Trigger]
  ON [CDN].[TwrGrupy]
  FOR INSERT, UPDATE, DELETE
AS
  SET NOCOUNT ON
  DECLARE
  @TwG_TWGID INT,
  @TwG_Kod NVARCHAR(254),
  @TwG_CzasModyfikacji INT,
  @TypOperacji INT
  --select * from inserted
  DECLARE Dodane Cursor Local Fast_Forward For
  SELECT
  TwG_TWGID,
  TwG_Kod, TwG_CzasModyfikacji
  FROM inserted where TwG_GIDTyp = -16 and TwG_GrOTyp = -16
  Open Dodane
  While 1=1
  BEGIN
  Fetch Next From Dodane Into
   @TwG_TWGID,
   @TwG_Kod,@TwG_CzasModyfikacji
  If @@Fetch_Status <> 0 Break
 IF EXISTS(select * from deleted where deleted.TwG_TWGID = @TwG_TWGID)
   BEGIN
  SET @TypOperacji = 2
   END
   ELSE -- dodany
  SET @TypOperacji = 1
  if UPDATE(TwG_Kod) or UPDATE(TwG_Nazwa)
 EXEC CDN.RejestrOperacjiDodaj 1173, 0, @TwG_TWGID, @TwG_Kod, @TypOperacji, ''
  END
  DECLARE Usuniete Cursor Local Fast_Forward For
  SELECT
  TwG_TWGID,
  TwG_Kod
  FROM deleted where TwG_GIDTyp = -16 and TwG_GrOTyp = -16
  Open Usuniete
  While 1=1
  BEGIN
  Fetch Next From Usuniete Into
    @TwG_TWGID,
   @TwG_Kod
  If @@Fetch_Status <> 0 Break
   IF NOT EXISTS(select * from inserted where inserted.TwG_TWGID = @TwG_TWGID)
   BEGIN
  EXEC CDN.RejestrOperacjiDodaj 1173, 0, @TwG_TWGID, @TwG_Kod, 3, ''
   END
  END
  Close Dodane
  Close Usuniete
  Deallocate Dodane
  Deallocate Usuniete
  SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[TwrGrupy] ENABLE TRIGGER [RO_TwrGrupy_InsertUpdateDelete_Trigger]
GO

# [TwrGrupy_After_Insert_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[TwrGrupy_After_Insert_Trigger]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TwrGrupy_After_Insert_Trigger]
ON [CDN].[TwrGrupy]
AFTER INSERT
AS
 SET NOCOUNT ON
 declare @dokumentTypGrupyTowarowe int = 0;
 declare @dokumentTypTowary int = 0;
 declare @dokumentTyp int = 0;
 select @dokumentTypGrupyTowarowe = ID from CDN.ListaDokumentowWymiarowanych() where nazwa = 'Grupy towarowe';
 declare @ID int;
 declare @SrcID int;
 declare @Typ int;
 declare @ParentId int;
 declare @TwrId int;
 DECLARE Dodane CURSOR LOCAL FAST_FORWARD FOR
 SELECT TwG_TwGID, TwG_GrONumer, TwG_GIDTyp, TwG_GIDNumer FROM inserted
 OPEN Dodane
 WHILE 1=1
 begin
  FETCH NEXT FROM Dodane INTO @ID, @ParentId, @Typ, @TwrId
  IF @@FETCH_STATUS <> 0 BREAK
      if @Typ < 0
      begin
        set @dokumentTyp = @dokumentTypGrupyTowarowe;
        select @SrcID = TwG_TwGID from CDN.TwrGrupy where TwG_GIDTyp=-16 and TwG_GIDNumer = @ParentId;
        insert into CDN.WymiaryWartosci (WyW_WyyId, WyW_Guid, WyW_Wartosc, WyW_DokumentTyp, WyW_DokumentId, WyW_Procent, WyW_Kwota, WyW_SlownikId, WyW_LpPozycji)
        SELECT WyW_WyyId, WyW_Guid, WyW_Wartosc, WyW_DokumentTyp, @ID, WyW_Procent, WyW_Kwota, WyW_SlownikId, WyW_LpPozycji
        FROM CDN.WymiaryWartosci
        where WyW_DokumentTyp = @dokumentTyp and WyW_DokumentId = @SrcID
        order by WyW_Guid;
      end
 end
 Close Dodane
 Deallocate Dodane
 SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[TwrGrupy] ENABLE TRIGGER [TwrGrupy_After_Insert_Trigger]
GO

# [TwrGrupy_Delete_Trigger]

In [0]:
/****** Object:  Trigger [CDN].[TwrGrupy_Delete_Trigger]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TwrGrupy_Delete_Trigger]
  ON [CDN].[TwrGrupy]
  FOR DELETE
AS
SET NOCOUNT ON
-- obsługa sprawdzania czy nie kasujemy Grupy Głównej (TwG_TwGID = 0)
IF EXISTS (SELECT * FROM deleted WHERE deleted.TwG_TwGId = 0)
  BEGIN
    RAISERROR('##OPT34544##', 16, 1)
    ROLLBACK TRAN
    SET NOCOUNT OFF
    RETURN
  END
-- obsługa sprawdzania relacji restrict do tabeli CDN.TwrGrupy, kasowanie grupy z towarem
IF EXISTS (
  SELECT * FROM CDN.TwrGrupy A, deleted
  WHERE A.TwG_GrONumer = deleted.TwG_GIDNumer and deleted.TwG_GIDTyp = -16 and A.TwG_GIDTyp = 16
  )
  BEGIN
    RAISERROR('##OPT34545##', 16, 1)
    ROLLBACK TRAN
    SET NOCOUNT OFF
    RETURN
  END
-- obsługa sprawdzania relacji restrict do tabeli CDN.TwrGrupy, kasowanie grupy z grupą podrzędną
IF EXISTS (
  SELECT * FROM CDN.TwrGrupy A, deleted
  WHERE A.TwG_GrONumer = deleted.TwG_GIDNumer and deleted.TwG_GIDTyp = -16 and A.TwG_GIDTyp = -16
  )
  BEGIN
    RAISERROR('##OPT34546##', 16, 1)
    ROLLBACK TRAN
    SET NOCOUNT OFF
    RETURN
  END
-- kontrola grup w konfiguracji
    IF EXISTS (SELECT DSta_TwGGIDNumer FROM cdn.DetalStanowiska WHERE DSta_TwGGIDNumer in (SELECT deleted.TwG_GIDNumer FROM deleted where TwG_GIDTyp = -16))
    BEGIN
      RAISERROR('##OPT34547##', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
    IF EXISTS (SELECT ESS_TwGNumer FROM cdn.eSklepStanowiska WHERE ESS_TwGNumer in (SELECT deleted.TwG_GIDNumer FROM deleted where TwG_GIDTyp = -16))
    BEGIN
      RAISERROR('##OPT34548##', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
-- obsługa usuwania rabatów kasowanej grupy
  DELETE FROM CDN.Rabaty WHERE
        Rab_TwrID IN (SELECT TWG_GIDNumer FROM deleted WHERE TWG_GIDTyp = -16 ) AND Rab_Typ IN (3, 5, 7);
-- obsługa czasu modyfikacji
  UPDATE CDN.TwrGrupy SET TwG_CzasModyfikacji = DATEDIFF(s,CONVERT(datetime,'1990-01-01',120),GETDATE())
       FROM  CDN.TwrGrupy T JOIN deleted D ON T.TwG_GIDNumer = D.TwG_GrONumer AND T.TwG_GIDTyp = D.TwG_GrOTyp
  WHERE D.TwG_GIDTyp=-16
  UPDATE CDN.TwrGrupy SET TwG_CzasModyfikacji = DATEDIFF(s,CONVERT(datetime,'1990-01-01',120),GETDATE())
       FROM  CDN.TwrGrupy T JOIN deleted D ON T.TwG_GIDNumer = D.TwG_GIDNumer AND T.TwG_GIDTyp = D.TwG_GIDTyp
  WHERE D.TwG_GIDTyp=16
-- jak kasujemy grupe z towaru ktory jest wyslany do detalu
if exists(SELECT TWG_GIDNumer FROM deleted
join cdn.towary on twr_twrid = twg_gidnumer
WHERE TWG_GIDTyp = 16 and  Twr_GIdfirma = 2)
begin
Update CDN.DetalStanowiska SET DSta_TS_SynchroTwr = '1900-01-01 00:00:00.000'
end
 -- Usuwanie wymiarów analitycznych
  DECLARE @WADokumentTyp int = 0;
  select @WADokumentTyp=id from CDN.ListaDokumentowWymiarowanych() where nazwa='Grupy towarowe';
 if exists(select * from CDN.WymiaryWartosci where WyW_DokumentTyp = @WADokumentTyp and WyW_DokumentId in (select deleted.TwG_TwGId from deleted))
  delete from CDN.WymiaryWartosci where WyW_DokumentTyp = @WADokumentTyp
  and WyW_DokumentId in (select deleted.TwG_TwGId from deleted)
SET NOCOUNT OFF

GO
ALTER TABLE [CDN].[TwrGrupy] ENABLE TRIGGER [TwrGrupy_Delete_Trigger]
GO

# [TwrGrupyInsertUpdate_CzasModyfikacji]

In [0]:
/****** Object:  Trigger [CDN].[TwrGrupyInsertUpdate_CzasModyfikacji]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    TRIGGER [CDN].[TwrGrupyInsertUpdate_CzasModyfikacji]
  ON [CDN].[TwrGrupy]
  FOR INSERT, UPDATE
AS
BEGIN
SET NOCOUNT ON
  UPDATE CDN.TwrGrupy SET TwG_CzasModyfikacji = DATEDIFF(s,CONVERT(datetime,'1990-01-01',120),GETDATE())
       FROM  CDN.TwrGrupy T JOIN inserted I ON T.TwG_GIDNumer = I.TwG_GIDNumer AND T.TwG_GIDTyp = I.TwG_GIDTyp
   update cdn.danebinarne set dab_ts_mod = getdate()
       where dab_dabid in (select DBL_DabId from CDN.DaneBinarneLinki where not DBL_DabId is null and DBL_TwrID in (
       select i.TwG_GidNumer from inserted i
       left join deleted d on d.TwG_TwGID = i.TwG_TwGID
       where i.TwG_GidTyp = 16 and isnull(d.TwG_GrONumer,-5) <> i.TwG_GrONumer
       ))
SET NOCOUNT OFF
END

GO
ALTER TABLE [CDN].[TwrGrupy] ENABLE TRIGGER [TwrGrupyInsertUpdate_CzasModyfikacji]
GO

# [TwrLinkiDelete]

In [0]:
/****** Object:  Trigger [CDN].[TwrLinkiDelete]    Script Date: 5.01.2026 21:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TwrLinkiDelete] ON [CDN].[TwrGrupy]
FOR     DELETE
AS
SET NOCOUNT ON
DECLARE @GidTyp SMALLINT
DECLARE @GidFirma INT
DECLARE @GidNumer INT
DECLARE @GroTyp SMALLINT
DECLARE @GroFirma INT
DECLARE @GroNumer INT
DECLARE @prevcount INT
DECLARE @count INT
DECLARE TriggerCursor CURSOR FOR
SELECT TWG_GIDTyp,TWG_GIDFirma,TWG_GIDNumer,
        TWG_GROTyp,TWG_GROFirma,
        TWG_GRONumer FROM DELETED
OPEN TriggerCursor
FETCH NEXT FROM TriggerCursor INTO @GIDTyp,@GIDFirma,@GIDNumer,@GROTyp,@GROFirma,@GRONumer
WHILE @@FETCH_STATUS = 0
BEGIN
        SET     @prevcount=0
        SET     @count=-1
        --tu z DELETED oczywiscie
        CREATE TABLE #gronumery(GN INT,C INT)
        IF (@GIDTyp=-16)
        BEGIN
        INSERT INTO     #gronumery exec CDN.TwrRodzice @GroNumer
        --INSERT INTO CDN.TwrLinki SELECT TWL_GIDTyp,TWL_GIDFirma,TWL_GIDNumer,TWL_GIDLp,-16,@GROFirma,GN,0,0,0 FROM (SELECT CDN.TwrLinki.TWL_GIDTyp,CDN.TwrLinki.TWL_GIDFirma,CDN.TwrLinki.TWL_GIDNumer,CDN.TwrLinki.TWL_GIDLp,GN,Linki.TWL_GRONumer AS GRO FROM CDN.TwrLinki RIGHT OUTER JOIN #gronumery ON TWL_GRONumer=@GIDNumer LEFT OUTER JOIN CDN.TwrLinki AS Linki ON Linki.TWL_GIDNumer=CDN.TwrLinki.TWL_GIDNumer AND Linki.TWL_GRONumer=GN) SelectWewn WHERE GRO IS NULL
        UPDATE CDN.TwrLinki     --update dla wszystkich elementow nalezacych do grupy, ktora zostala usunieta
        SET     TWL_LiczbaPowtorzen=TWL_LiczbaPowtorzen-(SELECT (C)     FROM #gronumery WHERE TWL_GRONumer=GN),
        TWL_TStampDataMod = DATEDIFF(S,'19900101',GETDATE())
        WHERE
        TWL_GRONumer IN (SELECT GN FROM #gronumery)     AND
        TWL_GIDNumer IN (SELECT TWL_GIDNumer FROM CDN.TwrLinki WHERE TWL_GRONumer=@GIDNumer)
        DELETE FROM     CDN.TwrLinki WHERE TWL_LiczbaPowtorzen=0
        TRUNCATE TABLE #gronumery
        --DROP TABLE #gronumery
        END
--      IF (@GIDTyp=16)
--      BEGIN
        INSERT INTO     #gronumery exec CDN.TwrRodzice @GroNumer
        --INSERT INTO CDN.TwrLinki SELECT TWL_GIDTyp,TWL_GIDFirma,TWL_GIDNumer,TWL_GIDLp,-16,@GROFirma,GN,0,0,0 FROM (SELECT CDN.TwrLinki.TWL_GIDTyp,CDN.TwrLinki.TWL_GIDFirma,CDN.TwrLinki.TWL_GIDNumer,CDN.TwrLinki.TWL_GIDLp,GN,Linki.TWL_GRONumer AS GRO FROM CDN.TwrLinki RIGHT OUTER JOIN #gronumery ON TWL_GRONumer=@GIDNumer LEFT OUTER JOIN CDN.TwrLinki AS Linki ON Linki.TWL_GIDNumer=CDN.TwrLinki.TWL_GIDNumer AND Linki.TWL_GRONumer=GN) SelectWewn WHERE GRO IS NULL
        UPDATE CDN.TwrLinki     --update dla wszystkich elementow nalezacych do grupy, ktora zostala usunieta
        SET     TWL_LiczbaPowtorzen=TWL_LiczbaPowtorzen-(SELECT (C)     FROM #gronumery WHERE TWL_GRONumer=GN),
        TWL_TStampDataMod = DATEDIFF(S,'19900101',GETDATE())
        WHERE
        TWL_GRONumer IN (SELECT GN FROM #gronumery)     AND
        TWL_GIDNumer=@GIDNumer AND TWL_GIDTyp=@GIDTyp
        UPDATE CDN.TwrLinki     --ustawienie liscia
        SET     TWL_Lisc=0,TWL_TStampDataMod = DATEDIFF(S,'19900101',GETDATE())
        WHERE
        TwL_GiDTyp = @GidTyp AND
        TwL_GiDFirma = @GidFirma AND
        TwL_GiDNumer = @GidNumer AND
        TwL_GroTyp = @GroTyp AND
        TwL_GroFirma = @GroFirma AND
        TwL_GroNumer =@GROnumer
        DELETE FROM     CDN.TwrLinki WHERE TWL_LiczbaPowtorzen=0 AND TWL_GIDTyp = @GIDTyp
        DROP TABLE #gronumery
--      END
        FETCH NEXT FROM TriggerCursor INTO @GIDTyp,@GIDFirma,@GIDNumer,@GROTyp,@GROFirma,@GRONumer
END
CLOSE TriggerCursor
DEALLOCATE TriggerCursor

GO
ALTER TABLE [CDN].[TwrGrupy] ENABLE TRIGGER [TwrLinkiDelete]
GO

# [TwrLinkiInsert]

In [0]:
/****** Object:  Trigger [CDN].[TwrLinkiInsert]    Script Date: 5.01.2026 21:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TwrLinkiInsert] ON [CDN].[TwrGrupy]
FOR     INSERT
AS
SET NOCOUNT ON
DECLARE @GidTyp SMALLINT
DECLARE @GidFirma INT
DECLARE @GidNumer INT
DECLARE @GroTyp SMALLINT
DECLARE @GroFirma INT
DECLARE @GroNumer INT
DECLARE @prevcount INT
DECLARE @count INT
DECLARE TriggerCursor CURSOR FOR
SELECT TWG_GIDTyp,TWG_GIDFirma,TWG_GIDNumer,
        TWG_GROTyp,TWG_GROFirma,
        TWG_GRONumer FROM INSERTED
OPEN TriggerCursor
FETCH NEXT FROM TriggerCursor INTO @GIDTyp,@GIDFirma,@GIDNumer,@GROTyp,@GROFirma,@GRONumer
WHILE @@FETCH_STATUS = 0
BEGIN
        SET     @prevcount=0
        SET     @count=-1
        --tu z INSERTED oczywiscie
        CREATE TABLE #gronumery(GN INT,C INT)
        IF (@GIDTyp=-16)
        BEGIN
        INSERT INTO     #gronumery exec CDN.TwrRodzice @GroNumer
        IF ((SELECT     COUNT(*) FROM CDN.TwrLinki WHERE TWL_GRONumer=@GIDNumer)>0)
        BEGIN
        INSERT INTO     CDN.TwrLinki (TWL_GIDTyp,TWL_GIDFirma,TWL_GIDNumer,TWL_GIDLp,TWL_GrOTyp,TWL_GrOFirma,TWL_GrONumer,TWL_GrOLp,TWL_Lisc,TWL_LiczbaPowtorzen,TWL_TStampDataMod)
        SELECT  TWL_GIDTyp,TWL_GIDFirma,TWL_GIDNumer,TWL_GIDLp,-16,@GROFirma,GN,0,0,0,DATEDIFF(S,'19900101',GETDATE()) FROM (SELECT CDN.TwrLinki.TWL_GIDTyp,CDN.TwrLinki.TWL_GIDFirma,CDN.TwrLinki.TWL_GIDNumer,CDN.TwrLinki.TWL_GIDLp,GN,Linki.TWL_GRONumer    AS GRO FROM     CDN.TwrLinki RIGHT OUTER JOIN #gronumery ON     TWL_GRONumer=@GIDNumer LEFT     OUTER JOIN CDN.TwrLinki AS Linki ON     Linki.TWL_GIDNumer=CDN.TwrLinki.TWL_GIDNumer AND Linki.TWL_GIDTyp=CDN.TwrLinki.TWL_GIDTyp AND Linki.TWL_GRONumer=GN) SelectWewn WHERE GRO IS    NULL
        UPDATE CDN.TwrLinki     --update dla wszystkich elementow nalezacych do grupy, ktora zostala wstawiona
        SET     TWL_LiczbaPowtorzen=TWL_LiczbaPowtorzen+(SELECT (C)     FROM #gronumery WHERE TWL_GRONumer=GN),
        TWL_TStampDataMod = DATEDIFF(S,'19900101',GETDATE())
        WHERE
        TWL_GRONumer IN (SELECT GN FROM #gronumery)     AND
        TWL_GIDNumer IN (SELECT TWL_GIDNumer FROM CDN.TwrLinki WHERE TWL_GRONumer=@GIDNumer)
        END
        TRUNCATE TABLE #gronumery
        --DROP TABLE #gronumery
        END
--      IF (@GIDTyp=16)
--      BEGIN
        INSERT INTO     #gronumery exec CDN.TwrRodzice @GroNumer
        INSERT INTO     CDN.TwrLinki (TWL_GIDTyp,TWL_GIDFirma,TWL_GIDNumer,TWL_GIDLp,TWL_GrOTyp,TWL_GrOFirma,TWL_GrONumer,TWL_GrOLp,TWL_Lisc,TWL_LiczbaPowtorzen,TWL_TStampDataMod)
                SELECT @GIDTyp,@GIDFirma,@GIDNumer,0,-16,@GROFirma,GN,0,0,0,DATEDIFF( S , '19900101' , GETDATE()) FROM
                (SELECT @GIDNumer as GIDNr,GN,Linki.TWL_GRONumer as     GRO     FROM #gronumery
                LEFT OUTER JOIN CDN.TwrLinki AS Linki ON Linki.TWL_GIDNumer=@GIDNumer AND Linki.TWL_GIDTyp=@GIDTyp
                AND     Linki.TWL_GRONumer=GN) SelectWewn WHERE GRO     IS NULL  --insert brakujacych rekordow to TwrLinki
        UPDATE CDN.TwrLinki     -- dodanie odpowiedniej LP
        SET     TWL_LiczbaPowtorzen=TWL_LiczbaPowtorzen+(SELECT c FROM #gronumery WHERE GN=TWL_GRONumer),
        TWL_TStampDataMod = DATEDIFF(S,'19900101',GETDATE())
        WHERE
        TwL_GiDTyp = @GidTyp AND
        TwL_GiDFirma = @GidFirma AND
        TwL_GiDNumer = @GidNumer AND
        TwL_GroTyp = @GroTyp AND
        TwL_GroFirma = @GroFirma AND
        TwL_GroNumer IN (SELECT GN FROM #gronumery)
        UPDATE CDN.TwrLinki     --ustawienie liscia
        SET     TWL_Lisc=1,TWL_TStampDataMod = DATEDIFF(S,'19900101',GETDATE())
        WHERE
        TwL_GiDTyp = @GidTyp AND
        TwL_GiDFirma = @GidFirma AND
        TwL_GiDNumer = @GidNumer AND
        TwL_GroTyp = @GroTyp AND
        TwL_GroFirma = @GroFirma AND
        TwL_GroNumer =@GROnumer
        DROP TABLE #gronumery
--      END
        FETCH NEXT FROM TriggerCursor INTO @GIDTyp,@GIDFirma,@GIDNumer,@GROTyp,@GROFirma,@GRONumer
END
CLOSE TriggerCursor
DEALLOCATE TriggerCursor

GO
ALTER TABLE [CDN].[TwrGrupy] ENABLE TRIGGER [TwrLinkiInsert]
GO

# [TwrLinkiUpdate]

In [0]:
/****** Object:  Trigger [CDN].[TwrLinkiUpdate]    Script Date: 5.01.2026 21:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [CDN].[TwrLinkiUpdate] ON [CDN].[TwrGrupy]
FOR     UPDATE
AS
SET NOCOUNT ON
IF NOT (UPDATE(TwG_GIDTyp) OR UPDATE(TwG_GIDFirma) OR UPDATE(TwG_GIDNumer) OR UPDATE(TwG_GIDLp) OR
                UPDATE(TwG_GrOTyp) OR UPDATE(TwG_GrOFirma) OR UPDATE(TwG_GrONumer) OR UPDATE(TwG_GrOLp))
                RETURN
DECLARE @GidTyp SMALLINT
DECLARE @GidFirma INT
DECLARE @GidNumer INT
DECLARE @GroTyp SMALLINT
DECLARE @GroFirma INT
DECLARE @GroNumer INT
DECLARE @prevcount INT
DECLARE @count INT
DECLARE TriggerCursorDeleted CURSOR FOR
SELECT TWG_GIDTyp,TWG_GIDFirma,TWG_GIDNumer,
        TWG_GROTyp,TWG_GROFirma,
        TWG_GRONumer FROM DELETED
DECLARE TriggerCursorInserted CURSOR FOR
SELECT TWG_GIDTyp,TWG_GIDFirma,TWG_GIDNumer,
        TWG_GROTyp,TWG_GROFirma,
        TWG_GRONumer FROM INSERTED
OPEN TriggerCursorDeleted
OPEN TriggerCursorInserted
FETCH NEXT FROM TriggerCursorDeleted INTO @GIDTyp,@GIDFirma,@GIDNumer,@GROTyp,@GROFirma,@GRONumer
WHILE @@FETCH_STATUS = 0
BEGIN
        SET     @prevcount=0
        SET     @count=-1
        CREATE TABLE #gronumery(GN INT,C INT)
        IF (@GIDTyp=-16)
        BEGIN
        INSERT INTO     #gronumery exec CDN.TwrRodzice @GroNumer
        --INSERT INTO CDN.TwrLinki SELECT TWL_GIDTyp,TWL_GIDFirma,TWL_GIDNumer,TWL_GIDLp,-16,@GROFirma,GN,0,0,0 FROM (SELECT CDN.TwrLinki.TWL_GIDTyp,CDN.TwrLinki.TWL_GIDFirma,CDN.TwrLinki.TWL_GIDNumer,CDN.TwrLinki.TWL_GIDLp,GN,Linki.TWL_GRONumer AS GRO FROM CDN.TwrLinki RIGHT OUTER JOIN #gronumery ON TWL_GRONumer=@GIDNumer LEFT OUTER JOIN CDN.TwrLinki AS Linki ON Linki.TWL_GIDNumer=CDN.TwrLinki.TWL_GIDNumer AND Linki.TWL_GRONumer=GN) SelectWewn WHERE GRO IS NULL
        UPDATE CDN.TwrLinki     --update dla wszystkich elementow nalezacych do grupy, ktora zostala usunieta
        SET     TWL_LiczbaPowtorzen=TWL_LiczbaPowtorzen-(SELECT (C)     FROM #gronumery WHERE TWL_GRONumer=GN),
        TWL_TStampDataMod = DATEDIFF(S,'19900101',GETDATE())
        WHERE
        TWL_GRONumer IN (SELECT GN FROM #gronumery)     AND
        TWL_GIDNumer IN (SELECT TWL_GIDNumer FROM CDN.TwrLinki WHERE TWL_GRONumer=@GIDNumer)
        DELETE FROM     CDN.TwrLinki WHERE TWL_LiczbaPowtorzen=0
        TRUNCATE TABLE #gronumery
        END
--      IF (@GIDTyp=16)
--      BEGIN
        INSERT INTO     #gronumery exec CDN.TwrRodzice @GroNumer
        --INSERT INTO CDN.TwrLinki SELECT TWL_GIDTyp,TWL_GIDFirma,TWL_GIDNumer,TWL_GIDLp,-16,@GROFirma,GN,0,0,0 FROM (SELECT CDN.TwrLinki.TWL_GIDTyp,CDN.TwrLinki.TWL_GIDFirma,CDN.TwrLinki.TWL_GIDNumer,CDN.TwrLinki.TWL_GIDLp,GN,Linki.TWL_GRONumer AS GRO FROM CDN.TwrLinki RIGHT OUTER JOIN #gronumery ON TWL_GRONumer=@GIDNumer LEFT OUTER JOIN CDN.TwrLinki AS Linki ON Linki.TWL_GIDNumer=CDN.TwrLinki.TWL_GIDNumer AND Linki.TWL_GRONumer=GN) SelectWewn WHERE GRO IS NULL
        UPDATE CDN.TwrLinki     --update dla wszystkich elementow nalezacych do grupy, ktora zostala usunieta
        SET     TWL_LiczbaPowtorzen=TWL_LiczbaPowtorzen-(SELECT (C)     FROM #gronumery WHERE TWL_GRONumer=GN),
        TWL_TStampDataMod = DATEDIFF(S,'19900101',GETDATE())
        WHERE
        TWL_GRONumer IN (SELECT GN FROM #gronumery)     AND
        TWL_GIDNumer=@GIDNumer AND TWL_GIDTyp = @GIDTyp
        UPDATE CDN.TwrLinki     --ustawienie liscia
        SET     TWL_Lisc=0,TWL_TStampDataMod = DATEDIFF(S,'19900101',GETDATE())
        WHERE
        TwL_GiDTyp = @GidTyp AND
        TwL_GiDFirma = @GidFirma AND
        TwL_GiDNumer = @GidNumer AND
        TwL_GroTyp = @GroTyp AND
        TwL_GroFirma = @GroFirma AND
        TwL_GroNumer =@GROnumer
        DELETE FROM     CDN.TwrLinki WHERE TWL_LiczbaPowtorzen=0 AND TwL_GIDTyp = @GIDTyp
--      END
        --SELECT @GIDTyp=TWG_GIDTyp,@GIDFirma=TWG_GIDFirma,@GIDNumer=TWG_GIDNumer,
        --      @GROTyp=TWG_GROTyp,@GROFirma=TWG_GROFirma,
        --      @GRONumer=TWG_GRONumer FROM INSERTED WHERE
        FETCH NEXT FROM TriggerCursorInserted INTO @GIDTyp,@GIDFirma,@GIDNumer,@GROTyp,@GROFirma,@GRONumer
        SET     @prevcount=0
        SET     @count=-1
        --tu z INSERTED oczywiscie
        DELETE FROM     #gronumery
        IF (@GIDTyp=-16)
        BEGIN
        INSERT INTO     #gronumery exec CDN.TwrRodzice @GroNumer
        IF ((SELECT     COUNT(*) FROM CDN.TwrLinki WHERE TWL_GRONumer=@GIDNumer)>0)
        BEGIN
        INSERT INTO     CDN.TwrLinki (TWL_GIDTyp,TWL_GIDFirma,TWL_GIDNumer,TWL_GIDLp,TWL_GrOTyp,TWL_GrOFirma,TWL_GrONumer,TWL_GrOLp,TWL_Lisc,TWL_LiczbaPowtorzen,TWL_TStampDataMod)
        SELECT  TWL_GIDTyp,TWL_GIDFirma,TWL_GIDNumer,TWL_GIDLp,-16,@GROFirma,GN,0,0,0,DATEDIFF(S,'19900101',GETDATE()) FROM (SELECT CDN.TwrLinki.TWL_GIDTyp,CDN.TwrLinki.TWL_GIDFirma,CDN.TwrLinki.TWL_GIDNumer,CDN.TwrLinki.TWL_GIDLp,GN,Linki.TWL_GRONumer    AS GRO FROM     CDN.TwrLinki RIGHT OUTER JOIN #gronumery ON     TWL_GRONumer=@GIDNumer LEFT     OUTER JOIN CDN.TwrLinki AS Linki ON     Linki.TWL_GIDNumer=CDN.TwrLinki.TWL_GIDNumer AND Linki.TWL_GIDTyp=CDN.TwrLinki.TWL_GIDTyp AND Linki.TWL_GRONumer=GN)    SelectWewn WHERE GRO IS NULL
        UPDATE CDN.TwrLinki     --update dla wszystkich elementow nalezacych do grupy, ktora zostala wstawiona
        SET     TWL_LiczbaPowtorzen=TWL_LiczbaPowtorzen+(SELECT (C)     FROM #gronumery WHERE TWL_GRONumer=GN),
        TWL_TStampDataMod = DATEDIFF(S,'19900101',GETDATE())
        WHERE
        TWL_GRONumer IN (SELECT GN FROM #gronumery)     AND
        TWL_GIDNumer IN (SELECT TWL_GIDNumer FROM CDN.TwrLinki WHERE TWL_GRONumer=@GIDNumer)
        END
        TRUNCATE TABLE #gronumery
        --DROP TABLE #gronumery
        END
--      IF (@GIDTyp=16)
--      BEGIN
        INSERT INTO     #gronumery exec CDN.TwrRodzice @GroNumer
        INSERT INTO     CDN.TwrLinki (TWL_GIDTyp,TWL_GIDFirma,TWL_GIDNumer,TWL_GIDLp,TWL_GrOTyp,TWL_GrOFirma,TWL_GrONumer,TWL_GrOLp,TWL_Lisc,TWL_LiczbaPowtorzen,TWL_TStampDataMod)
                SELECT @GIDTyp,@GIDFirma,@GIDNumer,0,-16,@GROFirma,GN,0,0,0,DATEDIFF(S,'19900101',GETDATE()) FROM
                (SELECT @GIDNumer as GIDNr,GN,Linki.TWL_GRONumer as     GRO     FROM #gronumery
                LEFT OUTER JOIN CDN.TwrLinki AS Linki ON Linki.TWL_GIDNumer=@GIDNumer AND Linki.TWL_GIDTyp=@GIDTyp
                AND     Linki.TWL_GRONumer=GN) SelectWewn WHERE GRO     IS NULL  --insert brakujacych rekordow to TwrLinki
        UPDATE CDN.TwrLinki     -- dodanie odpowiedniej LP
        SET     TWL_LiczbaPowtorzen=TWL_LiczbaPowtorzen+(SELECT c FROM #gronumery WHERE GN=TWL_GRONumer),
        TWL_TStampDataMod = DATEDIFF(S,'19900101',GETDATE())
        WHERE
        TwL_GiDTyp = @GidTyp AND
        TwL_GiDFirma = @GidFirma AND
        TwL_GiDNumer = @GidNumer AND
        TwL_GroTyp = @GroTyp AND
        TwL_GroFirma = @GroFirma AND
        TwL_GroNumer IN (SELECT GN FROM #gronumery)
        UPDATE CDN.TwrLinki     --ustawienie liscia
        SET     TWL_Lisc=1,TWL_TStampDataMod = DATEDIFF(S,'19900101',GETDATE())
        WHERE
        TwL_GiDTyp = @GidTyp AND
        TwL_GiDFirma = @GidFirma AND
        TwL_GiDNumer = @GidNumer AND
        TwL_GroTyp = @GroTyp AND
        TwL_GroFirma = @GroFirma AND
        TwL_GroNumer =@GROnumer
        DROP TABLE #gronumery
--      END
        FETCH NEXT FROM TriggerCursorDeleted INTO @GIDTyp,@GIDFirma,@GIDNumer,@GROTyp,@GROFirma,@GRONumer
END
CLOSE TriggerCursorDeleted
CLOSE TriggerCursorInserted
DEALLOCATE TriggerCursorDeleted
DEALLOCATE TriggerCursorInserted

GO
ALTER TABLE [CDN].[TwrGrupy] ENABLE TRIGGER [TwrLinkiUpdate]
GO

# [CtiOperatorzy_Delete_Trigger]

In [0]:
/****** Object:  Trigger [dbo].[CtiOperatorzy_Delete_Trigger]    Script Date: 5.01.2026 21:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Trigger [dbo].[CtiOperatorzy_Delete_Trigger]
  On [dbo].[CtiOperatorzy]
  For Delete
As
-- Sprawdzenie, czy operator nie jest administratorem
  IF EXISTS (SELECT * FROM deleted where deleted.CO_Kod = 'ADMIN')
    BEGIN
      RAISERROR('Operator ADMIN nie moze byc wykasowany.', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
GO
ALTER TABLE [dbo].[CtiOperatorzy] ENABLE TRIGGER [CtiOperatorzy_Delete_Trigger]
GO

# [CtiOperatorzy_Update_Trigger]

In [0]:
/****** Object:  Trigger [dbo].[CtiOperatorzy_Update_Trigger]    Script Date: 5.01.2026 21:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Trigger [dbo].[CtiOperatorzy_Update_Trigger]
  On [dbo].[CtiOperatorzy]
   FOR UPDATE
As
 IF (UPDATE (CO_Kod))
 begin
-- Sprawdzenie, czy modyfikowany kod nie jest ADMIN
IF ((select top 1 deleted.CO_Kod from deleted) <>  (select top 1  inserted.CO_Kod from inserted))
BEGIN
  IF EXISTS (SELECT * FROM deleted where deleted.CO_Kod = 'ADMIN')
    BEGIN
      RAISERROR('Kod ADMIN nie moze byc modyfikowany.', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
    END
 end
END
GO
ALTER TABLE [dbo].[CtiOperatorzy] ENABLE TRIGGER [CtiOperatorzy_Update_Trigger]
GO

# [CtiTechnolElem_InsertUpdateDelete]

In [0]:
/****** Object:  Trigger [dbo].[CtiTechnolElem_InsertUpdateDelete]    Script Date: 5.01.2026 21:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[CtiTechnolElem_InsertUpdateDelete]
  ON [dbo].[CtiTechnolElem]
  FOR INSERT, UPDATE, DELETE
AS
Set NoCount On
--status technologii

  DECLARE @Typ INT = (SELECT TOP 1 CTE_Typ FROM inserted);
  IF (@Typ IS NULL)
	  SET @Typ = (SELECT TOP 1 CTE_Typ FROM deleted);

  IF (@Typ = 5 OR @Typ = 6) --kooperacji nie blokujemy
	  RETURN;

  IF (@Typ = 4 AND ISNULL((SELECT TOP 1 KNF_Wartosc FROM dbo.CtiKonfiguracja WHERE KNF_Numer = 1034), '') IN ('True', 'TRUE', '1')) --kosztów nie blokujemy konfiguracyjnie
	  RETURN;

  --IF EXISTS(select top 1 CTE_CTNId  from inserted where dbo.CTIProdukcjaStatusy(1, CTE_CTNId)in(2,3,4))
  --BEGIN
  --    RAISERROR('Status Technologii nie pozwala na modyfikację pozycji', 16, 1)
  --    ROLLBACK TRAN
  --    SET NOCOUNT OFF
  --    RETURN
  --END
Set NoCount Off

GO
ALTER TABLE [dbo].[CtiTechnolElem] ENABLE TRIGGER [CtiTechnolElem_InsertUpdateDelete]
GO

# [CtiTechnolNag_Update_Trigger]

In [0]:
/****** Object:  Trigger [dbo].[CtiTechnolNag_Update_Trigger]    Script Date: 5.01.2026 21:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Trigger [dbo].[CtiTechnolNag_Update_Trigger]
  On [dbo].[CtiTechnolNag]
   FOR UPDATE
As
 IF (UPDATE (CTN_Nazwa))
 begin
-- Sprawdzenie, czy modyfikowany kod technologii
IF ((select top 1 deleted.CTN_Nazwa from deleted) <>  (select top 1  inserted.CTN_Nazwa from inserted))
BEGIN
      RAISERROR('Kod technologii nie moze byc modyfikowany.', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
 end
END
GO
ALTER TABLE [dbo].[CtiTechnolNag] ENABLE TRIGGER [CtiTechnolNag_Update_Trigger]
GO

# [ZPStatusesCtiZlecenieDok_TriggerProdukcja]

In [0]:
/****** Object:  Trigger [dbo].[ZPStatusesCtiZlecenieDok_TriggerProdukcja]    Script Date: 5.01.2026 21:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[ZPStatusesCtiZlecenieDok_TriggerProdukcja]
ON [dbo].[CtiZlecenieDok] 
AFTER INSERT
AS BEGIN

	DECLARE @idDokumentu INT, @typDokumentu INT

	IF EXISTS(SELECT inserted.CZD_CZNId FROM inserted)
		BEGIN
			SELECT @idDokumentu = CZD_CZNId, @typDokumentu = CZD_Typ + 20 FROM inserted 
		END
	ELSE
		BEGIN
			SELECT @idDokumentu = CZD_CZNId, @typDokumentu = CZD_Typ + 20 FROM deleted 
		END

	IF @typDokumentu <> 25
	BEGIN
		EXEC dbo.CTIProdukcjaUpdateStatusyZP @typDokumentu, @idDokumentu
	END

END
GO
ALTER TABLE [dbo].[CtiZlecenieDok] ENABLE TRIGGER [ZPStatusesCtiZlecenieDok_TriggerProdukcja]
GO

# [CtiZlecenieNag_Delete_Trigger]

In [0]:
/****** Object:  Trigger [dbo].[CtiZlecenieNag_Delete_Trigger]    Script Date: 5.01.2026 21:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Trigger [dbo].[CtiZlecenieNag_Delete_Trigger]  On [dbo].[CtiZlecenieNag] FOR DELETE As
BEGIN
    IF EXISTS (SELECT 1 from deleted d WHERE (CZN_DokZwiazTyp = 308)) and (select KNF_Wartosc from dbo.CtiKonfiguracja where KNF_Numer=1142)=1
    BEGIN     
        SELECT CZN_DokZwiazTreID, CZN_TwrId
        INTO #RowsToUpdate
        FROM deleted
        WHERE CZN_DokZwiazTyp = 308;

        DECLARE @TreID INT, @TwrId INT;
        DECLARE cur CURSOR FOR
        SELECT CZN_DokZwiazTreID, CZN_TwrId FROM #RowsToUpdate;
        OPEN cur;
        FETCH NEXT FROM cur INTO @TreID, @TwrId;
        WHILE @@FETCH_STATUS = 0
        BEGIN
            EXEC dbo.CTIProdukcjaUpdateStatusyZPProdukcja @TreID, @TwrId;
            FETCH NEXT FROM cur INTO @TreID, @TwrId;
        END
        CLOSE cur;
        DEALLOCATE cur;
        DROP TABLE #RowsToUpdate;
    END
END
GO
ALTER TABLE [dbo].[CtiZlecenieNag] ENABLE TRIGGER [CtiZlecenieNag_Delete_Trigger]
GO

# [CtiZlecenieNag_Update_Trigger]

In [0]:
/****** Object:  Trigger [dbo].[CtiZlecenieNag_Update_Trigger]    Script Date: 5.01.2026 21:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Trigger [dbo].[CtiZlecenieNag_Update_Trigger]
  On [dbo].[CtiZlecenieNag]
   FOR UPDATE
As
IF (EXISTS (SELECT 1 from inserted WHERE (CZN_DokZwiazTyp = 308)) AND UPDATE (CZN_Ilosc)) and (select KNF_Wartosc from dbo.CtiKonfiguracja where KNF_Numer=1142)=1
    BEGIN 
        SELECT CZN_DokZwiazTreID, CZN_TwrId
        INTO #RowsToUpdate
        FROM inserted
        WHERE CZN_DokZwiazTyp = 308;

        DECLARE @TreID INT, @TwrId INT;
        DECLARE cur CURSOR FOR
        SELECT CZN_DokZwiazTreID, CZN_TwrId FROM #RowsToUpdate;
        OPEN cur;
        FETCH NEXT FROM cur INTO @TreID, @TwrId;
        WHILE @@FETCH_STATUS = 0
        BEGIN
            EXEC dbo.CTIProdukcjaUpdateStatusyZPProdukcja @TreID, @TwrId;
            FETCH NEXT FROM cur INTO @TreID, @TwrId;
        END
        CLOSE cur;
        DEALLOCATE cur;
        DROP TABLE #RowsToUpdate;
    END

 IF (UPDATE (CZN_Ilosc))
 BEGIN
    UPDATE dbo.CtiZlecenieZElem
    SET CZZE_Ilosc = (select top 1 CZN_Ilosc from inserted)
    WHERE CZZE_CZNID = (select top 1 CZN_ID from inserted)
    AND CZZE_Typ = 2
 END

 IF (UPDATE (CZN_NrPelny))
 begin
-- Sprawdzenie, czy modyfikowany kod zlecenia
IF ((select top 1 deleted.CZN_NrPelny from deleted) <>  (select top 1  inserted.CZN_NrPelny from inserted))
BEGIN
      RAISERROR('Kod zlecenia nie moze byc modyfikowany.', 16, 1)
      ROLLBACK TRAN
      SET NOCOUNT OFF
      RETURN
 end


END
GO
ALTER TABLE [dbo].[CtiZlecenieNag] ENABLE TRIGGER [CtiZlecenieNag_Update_Trigger]
GO

# [CTI_RealizacjaWieleOsob]

In [0]:
/****** Object:  Trigger [dbo].[CTI_RealizacjaWieleOsob]    Script Date: 5.01.2026 21:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CTI_RealizacjaWieleOsob]
ON [dbo].[CtiZlecenieZasob] FOR INSERT, UPDATE
AS BEGIN
	SET NOCOUNT ON;

	DECLARE @ZlecenieID int;
	DECLARE @ZasobID int;
	DECLARE @PracownikID int;
	DECLARE @DataDo DATETIME;
	DECLARE @MozeWieleOsob int = 0;
	DECLARE @Zablokowac int = 0;
	DECLARE @DokTyp int = 0;
	
	DECLARE insert_kursorZZS CURSOR FOR
	SELECT ZZs_CZNID, ZZs_CZID, ZZs_PrcID, ZZs_DataDo, ZZs_DokTyp FROM inserted;

	OPEN insert_kursorZZS;
	FETCH NEXT FROM insert_kursorZZS INTO @ZlecenieID, @ZasobID, @PracownikID, @DataDo, @DokTyp;

	WHILE @@FETCH_STATUS = 0  
	BEGIN  
		IF (@DataDo IS NOT NULL)
		BEGIN
			-- zasób został zakończony więc nie blokujemy
			FETCH NEXT FROM insert_kursorZZS INTO @ZlecenieID, @ZasobID, @PracownikID, @DataDo, @DokTyp;
		END

		SET @MozeWieleOsob = (
			SELECT TOP 1 CZS_WieleOsob
			FROM dbo.CtiZasobDok
			WHERE CZS_DokTyp = 2
			AND CZS_CTNID = @ZlecenieID
			AND CZS_CZID = @ZasobID
		);

		IF (@MozeWieleOsob IS NULL)
		BEGIN
			SET @MozeWieleOsob = (
				SELECT TOP 1 CZ_WieleOsob
				FROM dbo.CtiZasob
				WHERE CZ_ID = @ZasobID
			);
		END

		IF (@MozeWieleOsob = 0)
		BEGIN
			-- zasób ma blokadę wielu osób
			-- sprawdzamy czy ktoś jeszcze w tym czasie nie pracuje
			IF EXISTS (
				SELECT * FROM dbo.CtiZlecenieZasob
				WHERE ZZs_CZNID = @ZlecenieID
				AND ZZs_CZID = @ZasobID
				AND ZZs_PrcId <> @PracownikID
				AND ZZs_DataDo IS NULL
				AND ZZs_DokTyp = @DokTyp
			)
			BEGIN
				SET @Zablokowac = 1;
			END
		END

		IF (@Zablokowac <> 1)
		BEGIN
			-- nie blokujemy więc sprawdzamy kolejny zasób
			FETCH NEXT FROM insert_kursorZZS INTO @ZlecenieID, @ZasobID, @PracownikID, @DataDo, @DokTyp;
		END
	END

	CLOSE insert_kursorZZS;
	DEALLOCATE insert_kursorZZS; 

	IF (@Zablokowac = 1)
	BEGIN
		RAISERROR('Inny pracownik rozpoczął już pracę nad tym zasobem.', 16, 1);
		ROLLBACK TRAN
	END

	SET NOCOUNT OFF;
END
GO
ALTER TABLE [dbo].[CtiZlecenieZasob] ENABLE TRIGGER [CTI_RealizacjaWieleOsob]
GO

# [CtiProdukcjaCofniecieZakonczeniaZasobu]

In [0]:
/****** Object:  Trigger [dbo].[CtiProdukcjaCofniecieZakonczeniaZasobu]    Script Date: 5.01.2026 21:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER
[dbo].[CtiProdukcjaCofniecieZakonczeniaZasobu]
ON [dbo].[CtiZlecenieZasob]
AFTER DELETE
AS BEGIN

	DECLARE @ZasobID INT;
	DECLARE @ZlecenieID INT;
	DECLARE @DokTyp INT;

	DECLARE del_kursor CURSOR FOR
	SELECT ZZs_CZID, ZZs_CZNID, ZZs_DokTyp FROM deleted;

	OPEN del_kursor;
	FETCH NEXT FROM del_kursor INTO @ZasobID, @ZlecenieID, @DokTyp;

	WHILE @@FETCH_STATUS = 0
	BEGIN
		IF NOT EXISTS (
			SELECT * FROM dbo.CtiZlecenieZasob
			WHERE ZZs_CZNID = @ZlecenieID
			AND ZZs_CZID = @ZasobID
			AND ZZs_DokTyp = @DokTyp
		)
		BEGIN
			UPDATE dbo.CtiZasobDok
			SET CZS_Zakonczono = 0
			WHERE CZS_CTNID = @ZlecenieID
			AND CZS_CZID = @ZasobID
			AND CZS_DokTyp = @DokTyp;
		END

		FETCH NEXT FROM del_kursor INTO @ZasobID, @ZlecenieID, @DokTyp;
	END

	CLOSE del_kursor DEALLOCATE del_kursor
END
GO
ALTER TABLE [dbo].[CtiZlecenieZasob] ENABLE TRIGGER [CtiProdukcjaCofniecieZakonczeniaZasobu]
GO

# [CtiZlecenieZElem_Delete_Trigger]

In [0]:
/****** Object:  Trigger [dbo].[CtiZlecenieZElem_Delete_Trigger]    Script Date: 5.01.2026 21:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [dbo].[CtiZlecenieZElem_Delete_Trigger]
  On [dbo].[CtiZlecenieZElem]
  For Delete
As
Set NoCount On
--Modyfikacja ZPZ głównego - Kontrola zapętlenia
		update dbo.CtiZlecenieZNag  set CZZN_DokNad=NULL
		from dbo.CtiZlecenieZNag inner join deleted on deleted.CZZE_CZNID =czzn_id	where isnull(deleted.CZZE_Typ,2) = 22--ZPZ

Set NoCount Off
--select CZZN_DokNad,inserted.CZZE_ID from dbo.CtiZlecenieZNag inner join CtiZlecenieZElem as deleted on deleted.CZZE_CZNID =czzn_id	where isnull(deleted.CZZE_Typ,2) = 22
GO
ALTER TABLE [dbo].[CtiZlecenieZElem] ENABLE TRIGGER [CtiZlecenieZElem_Delete_Trigger]
GO

# [CtiZlecenieZNag_Update_Trigger]

In [0]:
/****** Object:  Trigger [dbo].[CtiZlecenieZNag_Update_Trigger]    Script Date: 5.01.2026 21:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [dbo].[CtiZlecenieZNag_Update_Trigger]
  On [dbo].[CtiZlecenieZNag]
   FOR UPDATE
As

IF (UPDATE (CZZN_Ilosc))
 BEGIN
    UPDATE dbo.CtiZlecenieZElem
    SET CZZE_Ilosc = (select top 1 CZZN_Ilosc from inserted)
    WHERE CZZE_CZNID = (select top 1 CZZN_ID from inserted)
    AND CZZE_Typ = 22
 END

 IF (UPDATE (CZZN_DokNad))--Modyfikacja ZPZ głównego - Kontrola zapętlenia
 begin
	declare @ZPZglownyNew int=0, @ZPZglownyOld int=0, @idZPZ int=0
	select top 1 @ZPZglownyNew =isnull(inserted.CZZN_DokNad,0), @idZPZ=CZZN_ID from inserted
	set @ZPZglownyOld = isnull((select top 1 deleted.CZZN_DokNad from deleted),0)

	IF (@ZPZglownyNew <> @ZPZglownyOld)
	BEGIN
		IF(@idZPZ=@ZPZglownyNew) 
		 BEGIN
			RAISERROR('Kontrola zapętlenia. Podpinane ZPZ jest głównym ZPZ', 16, 1)
			ROLLBACK TRAN
			SET NOCOUNT OFF
			RETURN
		END
		 ELSE IF ( @ZPZglownyOld = 0 and @ZPZglownyNew > 0)
		 BEGIN--Zmiana ZPZ głównego gdy podpinane do ZPZ
						update dbo.CtiZlecenieZNag  set CZZN_DokNad=@ZPZglownyNew
			from dbo.CtiZlecenieZNag inner join	dbo.CtiZlecenieZElem on CZZE_CZNID =czzn_id
			inner join inserted on inserted.CZZN_ID = CZZE_CZZNID
			where isnull(CZZE_Typ,2) = 22--ZPZ
		 END
		ELSE IF (@ZPZglownyOld > 0 and @ZPZglownyNew = 0)
		BEGIN--usuwamy powiązanie to obecny staję się głónym
			update dbo.CtiZlecenieZNag  set CZZN_DokNad=inserted.CZZN_ID
			from dbo.CtiZlecenieZNag inner join	dbo.CtiZlecenieZElem on CZZE_CZNID =czzn_id
			inner join inserted on inserted.CZZN_ID = CZZE_CZZNID
			where isnull(CZZE_Typ,2) = 22--ZPZ
		END
	END
END
GO
ALTER TABLE [dbo].[CtiZlecenieZNag] ENABLE TRIGGER [CtiZlecenieZNag_Update_Trigger]
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unikalne ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszyna', @level2type=N'COLUMN',@level2name=N'Mas_ID'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID ZP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszyna', @level2type=N'COLUMN',@level2name=N'Mas_DokID'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID elementu dokumentu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszyna', @level2type=N'COLUMN',@level2name=N'Mas_DokElemID'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Numer dokumentu ZP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszyna', @level2type=N'COLUMN',@level2name=N'Mas_DokNumer'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ilosc' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszyna', @level2type=N'COLUMN',@level2name=N'Mas_Ilosc'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kod surowca' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszyna', @level2type=N'COLUMN',@level2name=N'Mas_KodSurowca'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nazwa surowca' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszyna', @level2type=N'COLUMN',@level2name=N'Mas_NazwaSurowca'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nr zbiornika' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszyna', @level2type=N'COLUMN',@level2name=N'Mas_NRZbiornika'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Atrybut surowca' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszyna', @level2type=N'COLUMN',@level2name=N'Mas_AtrSurowca'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Status
0 - nie zaimportowano
1 - zaimportowano' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszyna', @level2type=N'COLUMN',@level2name=N'Mas_Status'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Data modyfikacji' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszyna', @level2type=N'COLUMN',@level2name=N'Mas_DataMod'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unikalne ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszynaRealizacja', @level2type=N'COLUMN',@level2name=N'Mar_ID'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID do tabeli CtiMaszyna' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszynaRealizacja', @level2type=N'COLUMN',@level2name=N'Mar_MasID'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ilosc' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszynaRealizacja', @level2type=N'COLUMN',@level2name=N'Mar_Ilosc'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Czas' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszynaRealizacja', @level2type=N'COLUMN',@level2name=N'Mar_CzasCalkowity'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Status
0 - nie zaimportowane
1 - zaimportowane' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszynaRealizacja', @level2type=N'COLUMN',@level2name=N'Mar_Status'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Data modyfikacji' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszynaRealizacja', @level2type=N'COLUMN',@level2name=N'Mar_DataMod'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID unikalne' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszynaZasoby', @level2type=N'COLUMN',@level2name=N'Maz_ID'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID ZP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszynaZasoby', @level2type=N'COLUMN',@level2name=N'Maz_CZNID'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Czas zadany' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CtiMaszynaZasoby', @level2type=N'COLUMN',@level2name=N'Maz_CzasZadany'
GO